deegree-datastores/deegree-mdstores/deegree-mdstore-ebrim-eo/src/main/resources/META-INF/schemas/datasource/metadata/ebrim/eo/ebrim-eo.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- This file is part of deegree, for copyright/license information, please visit http://www.deegree.org/license. -->
<schema xmlns:ds="http://www.deegree.org/datasource/metadata/ebrim/eo" xmlns="http://www.w3.org/2001/XMLSchema"
  targetNamespace="http://www.deegree.org/datasource/metadata/ebrim/eo" elementFormDefault="qualified"
  xmlns:jaxb="http://java.sun.com/xml/ns/jaxb" jaxb:version="2.1">
  <annotation>
    <appinfo>
      <jaxb:schemaBindings>
        <jaxb:package name="org.deegree.metadata.persistence.ebrim.eo.jaxb" />
      </jaxb:schemaBindings>
    </appinfo>
  </annotation>
  <element name="EbrimEOMDStore">
    <annotation>
      <appinfo>
        <jaxb:class name="EbrimEOMDStoreConfig" />
      </appinfo>
    </annotation>
    <complexType>
      <sequence>
        <element name="JDBCConnId" type="string" />
        <element name="QueryTimeout" type="integer" minOccurs="0" default="0"/>
        <element name="ExtensionPackage" type="string" minOccurs="1" maxOccurs="1" />
        <element name="AdhocQueriesDirectory" type="string" minOccurs="0" maxOccurs="1" />
      </sequence>
      <attribute name="configVersion" type="string" use="optional"/>
    </complexType>
  </element>
</schema>