deegree-services/src/main/resources/META-INF/schemas/webservices/0.6.0/metadata.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:dgws="http://www.deegree.org/webservices" xmlns:xs="http://www.w3.org/2001/XMLSchema"
  targetNamespace="http://www.deegree.org/webservices" elementFormDefault="qualified">

  <xs:complexType name="deegreeServicesMetadataType">
    <xs:annotation>
      <xs:documentation>
        The root node of the services metadata configuration, holds the default service
        provider/identification information, valid for all configured services.
        </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element ref="dgws:ServiceIdentification" minOccurs="0" />
      <xs:element ref="dgws:ServiceProvider" />
    </xs:sequence>
    <xs:attribute name="configVersion" fixed="0.6.0" use="required" />
  </xs:complexType>

  <xs:element name="ServiceIdentification" type="dgws:ServiceIdentificationType" />
  <xs:element name="ServiceProvider" type="dgws:ServiceProviderType" />

  <xs:complexType name="ServiceIdentificationType">
    <xs:sequence>
      <xs:element name="Title" type="xs:string" minOccurs="0" maxOccurs="unbounded" />
      <xs:element name="Abstract" type="xs:string" minOccurs="0" maxOccurs="unbounded" />
      <xs:element ref="dgws:Keywords" minOccurs="0" maxOccurs="unbounded" />
      <xs:element name="Fees" type="xs:string" minOccurs="0" />
      <xs:element name="AccessConstraints" type="xs:string" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ServiceProviderType">
    <xs:sequence>
      <xs:element name="ProviderName" type="xs:string" />
      <xs:element name="ProviderSite" type="xs:anyURI" />
      <xs:element name="ServiceContact" type="dgws:ServiceContactType" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ServiceContactType">
    <xs:sequence>
      <xs:element name="IndividualName" type="xs:string" />
      <xs:element name="PositionName" type="xs:string" />
      <xs:element name="Phone" type="xs:string" minOccurs="0" />
      <xs:element name="Facsimile" type="xs:string" minOccurs="0" />
      <xs:element name="ElectronicMailAddress" type="xs:string" minOccurs="0" maxOccurs="unbounded" />
      <xs:element name="Address" type="dgws:AddressType" />
      <xs:element name="OnlineResource" type="xs:anyURI" />
      <xs:element name="HoursOfService" type="xs:string" minOccurs="0" />
      <xs:element name="ContactInstructions" type="xs:string" minOccurs="0" />
      <xs:element name="Role" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AddressType">
    <xs:sequence>
      <xs:element name="DeliveryPoint" type="xs:string" minOccurs="0" maxOccurs="unbounded" />
      <xs:element name="City" type="xs:string" minOccurs="0" />
      <xs:element name="AdministrativeArea" type="xs:string" minOccurs="0" />
      <xs:element name="PostalCode" type="xs:string" minOccurs="0" />
      <xs:element name="Country" type="xs:string" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>
  <!-- ========================================================== -->
  <xs:element name="Keywords" type="dgws:KeywordsType" />
  <!-- ========================================================== -->
  <xs:complexType name="LanguageStringType">
    <xs:annotation>
      <xs:documentation>
        Text string with the language of the string identified
        as recommended in the XML 1.0 W3C
        Recommendation, section 2.12.
      </xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="lang" type="xs:string" use="optional" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="CodeType">
    <xs:annotation>
      <xs:documentation>
        Name or code with an (optional) authority. If the
        codeSpace attribute is present, its value shall
        reference a dictionary,
        thesaurus, or
        authority for the name or code, such as the organisation
        who assigned the
        value, or the dictionary from which it is taken.
      </xs:documentation>
      <xs:documentation>
        Type copied from basicTypes.xsd of GML 3 with
        documentation edited, for possible use outside the
        ServiceIdentification
        section of a service
        metadata document.
      </xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="codeSpace" type="xs:anyURI" use="optional" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="KeywordsType">
    <xs:annotation>
      <xs:documentation>
        Unordered list of one or more commonly used or
        formalised word(s) or phrase(s) used to describe
        the subject. When
        needed, the optional "type"
        can name the type of the associated list of
        keywords that shall all
        have the same type. Also when needed, the
        codeSpace attribute of that
        "type" can reference the type name authority
        and/or thesaurus. If the xml:lang attribute is not included in a Keyword
        element, then no
        language is specified
        for that element unless specified
        by another means. All Keyword elements in the same Keywords element that
        share
        the
        same xml:lang attribute value represent different keywords in
        that language.
      </xs:documentation>
      <xs:documentation>
        For OWS use, the optional thesaurusName element was
        omitted as being complex information that
        could be referenced by the
        codeSpace attribute
        of the Type element.
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="Keyword" type="dgws:LanguageStringType" maxOccurs="unbounded" />
      <xs:element name="Type" type="dgws:CodeType" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>

</xs:schema>
