deegree-core/src/main/resources/META-INF/schemas/datasource/metadata/iso19115/0.6.0/iso19115.xsd

<?xml version="1.0" encoding="UTF-8"?>
	<!--
		This file is part of deegree, for copyright/license information,
		please visit http://www.deegree.org/license.
	-->
<schema xmlns:ds="http://www.deegree.org/datasource/metadata/iso19115" xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.deegree.org/datasource/metadata/iso19115" elementFormDefault="qualified" xmlns:jaxb="http://java.sun.com/xml/ns/jaxb" jaxb:version="2.1">
	<annotation>
		<appinfo>
			<jaxb:schemaBindings>
				<jaxb:package name="org.deegree.metadata.persistence.iso19115.jaxb" />
			</jaxb:schemaBindings>
		</appinfo>
	</annotation>
	<element name="ISOMetadataStore">
		<annotation>
			<appinfo>
				<jaxb:class name="ISOMetadataStoreConfig" />
			</appinfo>
		</annotation>
		<complexType>
			<sequence>
				<element name="IdentifierInspector" minOccurs="0">
					<complexType>
						<sequence>
							<element name="Param" minOccurs="0" maxOccurs="unbounded">
								<complexType>
									<simpleContent>
										<extension base="string">
											<attribute name="key" type="string" use="required" />
										</extension>
									</simpleContent>
								</complexType>
							</element>
						</sequence>
						<attribute name="name" type="string" use="required" />
					</complexType>
				</element>
				<element name="InspireInspector" minOccurs="0">
					<complexType>
						<attribute name="generateAutomatic" type="boolean" use="required" />
					</complexType>
				</element>
				<element name="CoupledResourceInspector" minOccurs="0">
					<complexType>
						<attribute name="throwConsistencyError" type="boolean" use="required">
							<annotation>
								<documentation>true, if there should be thrown an exception and
									the metadata should not be inserted.</documentation>
							</annotation>
						</attribute>
					</complexType>
				</element>
				<element name="AnyText" minOccurs="0">
					<annotation>
						<documentation> If AnyText is specified there is a choice between
							storing all text found in the record, or just the core queryable
							properties or store a custom set of properties into the
							anyText-queryable property, otherwise the core queryable
							properties will be stored in in the backend.</documentation>
					</annotation>
					<complexType>
						<choice>
							<element name="All" minOccurs="0" />
							<element name="Core" minOccurs="0" />
							<element name="Custom" minOccurs="0">
								<complexType>
									<sequence>
										<element name="XPath" minOccurs="0" maxOccurs="unbounded">
											<complexType>
												<simpleContent>
													<extension base="string" />
												</simpleContent>
											</complexType>
										</element>
									</sequence>
								</complexType>
							</element>
						</choice>
					</complexType>
				</element>
			</sequence>
			<attribute name="connId" type="string" use="required" />
			<attribute name="configVersion" use="required" fixed="0.6.0" />
			<attribute name="validate" type="boolean" use="optional" default="true" />
		</complexType>
	</element>
</schema>