deegree-workspaces/deegree-workspace-alkis/src/main/resources/appschemas/NAS5.1.1/ISO-Katalog.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema targetNamespace="http://www.adv-online.de/namespaces/adv/gid/5.1.1" xmlns:adv="http://www.adv-online.de/namespaces/adv/gid/5.1.1" xmlns:gml="http://www.opengis.net/gml" xmlns:wfs="http://www.opengis.net/wfs" xmlns:ogc="http://www.opengis.net/ogc" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:include schemaLocation="ISO19100.xsd"/>
	<xs:import namespace="http://www.opengis.net/gml" schemaLocation="gml/3.0.0/base/gml3nas.xsd"/>
	<xs:simpleType name="MultiplicityType">
		<xs:union>
			<xs:simpleType>
				<xs:restriction base="xs:integer">
					<xs:minInclusive value="0"/>
				</xs:restriction>
			</xs:simpleType>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="*"/>
					<xs:enumeration value="n"/>
				</xs:restriction>
			</xs:simpleType>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:pattern value="\d+\.\.(\d+|\*|n)"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:union>
	</xs:simpleType>
	<!-- Paket Feature Cataloging -->
	<xs:element name="FC_ListedValue" type="adv:FC_ListedValueType" substitutionGroup="gml:Definition"/>
	<xs:complexType name="FC_ListedValueType">
		<xs:complexContent>
			<xs:extension base="gml:DefinitionType"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="FC_FeatureAssociation" type="adv:FC_FeatureAssociationType" substitutionGroup="adv:FC_FeatureType"/>
	<xs:complexType name="FC_FeatureAssociationType">
		<xs:complexContent>
			<xs:extension base="adv:FC_FeatureTypeType"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="FC_FeatureCatalogue" type="adv:FC_FeatureCatalogueType" substitutionGroup="gml:Dictionary"/>
	<xs:complexType name="FC_FeatureCatalogueType">
		<xs:complexContent>
			<xs:extension base="gml:DictionaryType">
				<xs:sequence>
					<xs:element name="scope" type="xs:string" maxOccurs="unbounded"/>
					<xs:element name="fieldOfApplication" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="versionNumber" type="xs:string"/>
					<xs:element name="versionDate" type="xs:date"/>
					<xs:element name="producer">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="CI_ResponsibleParty" type="adv:CI_ResponsiblePartyType"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<!--<xs:element name="functionalLanguage" type="xs:string" minOccurs="0"/>-->
					<!--<xs:element name="definitionSource" type="gml:ReferenceType" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:appinfo>
								<adv:referenziertesElement>adv:FC_DefinitionSource</adv:referenziertesElement>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>-->
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="FC_FeatureProperty" type="adv:FC_FeaturePropertyType" abstract="true" substitutionGroup="gml:Dictionary"/>
	<xs:complexType name="FC_FeaturePropertyType" abstract="true">
		<xs:complexContent>
			<xs:extension base="gml:DictionaryType">
				<xs:sequence>
					<!--<xs:element name="constrainedBy" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>-->
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="FC_FeatureAttribute" type="adv:FC_FeatureAttributeType" substitutionGroup="adv:FC_FeatureProperty"/>
	<xs:complexType name="FC_FeatureAttributeType">
		<xs:complexContent>
			<xs:extension base="adv:FC_FeaturePropertyType">
				<xs:sequence>
					<xs:element name="cardinality" type="adv:MultiplicityType" default="1"/>
					<xs:choice minOccurs="0">
						<xs:element name="valueTypeName">
							<xs:complexType>
								<xs:simpleContent>
									<xs:extension base="gml:CodeType">
										<xs:attribute name="collectionType" type="adv:CollectionType" default="noCollection"/>
									</xs:extension>
								</xs:simpleContent>
							</xs:complexType>
						</xs:element>
						<xs:element name="valueType">
							<xs:annotation>
								<xs:appinfo>
									<adv:referenziertesElement>adv:FC_FeatureType,adv:AC_FeatureType,adv:AC_DataType</adv:referenziertesElement>
								</xs:appinfo>
							</xs:annotation>
							<xs:complexType>
								<xs:complexContent>
									<xs:extension base="gml:ReferenceType">
										<xs:attribute name="collectionType" type="adv:CollectionType" default="noCollection"/>
									</xs:extension>
								</xs:complexContent>
							</xs:complexType>
						</xs:element>
					</xs:choice>
					<!--<xs:element name="valueMeasurementUnit" type="gml:UnitOfMeasureType" minOccurs="0"/>-->
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="CollectionType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="noCollection"/>
			<xs:enumeration value="set"/>
			<xs:enumeration value="sequence"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:element name="FC_AssociationRole" type="adv:FC_AssociationRoleType" substitutionGroup="adv:FC_FeatureProperty"/>
	<xs:complexType name="FC_AssociationRoleType">
		<xs:complexContent>
			<xs:extension base="adv:FC_FeaturePropertyType">
				<xs:sequence>
					<xs:element name="cardinality" type="adv:MultiplicityType" default="0..*"/>
					<xs:element name="type" type="adv:FC_RoleTypeType" default="ordinary"/>
					<xs:element name="isOrdered" type="xs:boolean" default="false"/>
					<xs:element name="relation" type="gml:ReferenceType">
						<xs:annotation>
							<xs:appinfo>
								<adv:referenziertesElement>adv:FC_FeatureAssociation</adv:referenziertesElement>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:choice>
						<xs:element name="valueTypeName" type="gml:CodeType"/>
						<xs:element name="valueType" type="gml:ReferenceType">
							<xs:annotation>
								<xs:appinfo>
									<adv:referenziertesElement>adv:FC_FeatureType,adv:AC_FeatureType,adv:AC_DataType</adv:referenziertesElement>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
					</xs:choice>
					<!-- Information zurzeit nicht im Katalog enthalten
					<xs:element name="isNavigable" type="xs:boolean" default="true"/>-->
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="FC_FeatureType" type="adv:FC_FeatureTypeType" substitutionGroup="gml:Dictionary"/>
	<xs:complexType name="FC_FeatureTypeType">
		<xs:complexContent>
			<xs:extension base="gml:DictionaryType">
				<xs:sequence>
					<xs:element name="isAbstract" type="xs:boolean" default="false"/>
					<xs:element name="constrainedBy" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
					<!--<xs:element name="inheritsFrom" type="gml:ReferenceType" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:appinfo>
								<adv:referenziertesElement>adv:FC_InheritanceRelation</adv:referenziertesElement>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>-->
					<!--<xs:element name="aliases" type="gml:CodeType" minOccurs="0" maxOccurs="unbounded"/>-->
					<!--<xs:element name="inheritsTo" type="gml:ReferenceType" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:appinfo>
								<adv:referenziertesElement>adv:FC_InheritanceRelation</adv:referenziertesElement>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>-->
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="FC_InheritanceRelation" type="adv:FC_InheritanceRelationType" substitutionGroup="gml:Definition"/>
	<xs:complexType name="FC_InheritanceRelationType">
		<xs:complexContent>
			<xs:extension base="gml:DefinitionType">
				<xs:sequence>
					<xs:choice>
						<xs:element name="supertypeName" type="gml:CodeType"/>
						<xs:element name="supertype" type="gml:ReferenceType">
							<xs:annotation>
								<xs:appinfo>
									<adv:referenziertesElement>adv:FC_FeatureType</adv:referenziertesElement>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
					</xs:choice>
					<!--<xs:element name="uniqueInstance" type="xs:boolean"/>
					<xs:element name="subtype" type="gml:ReferenceType">
						<xs:annotation>
							<xs:appinfo>
								<adv:referenziertesElement>adv:FC_FeatureType</adv:referenziertesElement>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>-->
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="FC_FeatureOperation" type="adv:FC_FeatureOperationType" substitutionGroup="adv:FC_FeatureProperty"/>
	<xs:complexType name="FC_FeatureOperationType">
		<xs:complexContent>
			<xs:extension base="adv:FC_FeaturePropertyType">
				<xs:sequence>
					<xs:element name="cardinality" type="adv:MultiplicityType" default="1"/>
					<!--<xs:element name="signature" type="xs:string"/>
					<xs:element name="formalDefinition" type="xs:string" minOccurs="0"/>
					<xs:element name="triggeredByValuesOf" type="gml:ReferenceType" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:appinfo>
								<adv:referenziertesElement>adv:FC_BoundFeatureAttribute</adv:referenziertesElement>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element name="observesValuesOf" type="gml:ReferenceType" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:appinfo>
								<adv:referenziertesElement>adv:FC_BoundFeatureAttribute</adv:referenziertesElement>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element name="affectsValuesOf" type="gml:ReferenceType" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:appinfo>
								<adv:referenziertesElement>adv:FC_BoundFeatureAttribute</adv:referenziertesElement>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>-->
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="FC_RoleTypeType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="ordinary"/>
			<xs:enumeration value="aggregation"/>
			<xs:enumeration value="composition"/>
		</xs:restriction>
	</xs:simpleType>
	<!--<xs:element name="FC_Binding" type="adv:FC_BindingType" substitutionGroup="gml:Definition"/>
	<xs:complexType name="FC_BindingType">
		<xs:complexContent>
			<xs:extension base="gml:DefinitionType">
				<xs:sequence>
					<xs:element name="description" type="xs:string" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>-->
	<!--<xs:element name="FC_DefinitionSource" type="adv:FC_DefinitionSourceType" substitutionGroup="gml:Definition"/>
	<xs:complexType name="FC_DefinitionSourceType">
		<xs:complexContent>
			<xs:extension base="gml:DefinitionType">
				<xs:sequence>
					<xs:element name="source">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="CI_Citation" type="adv:CI_CitationType"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="FC_DefinitionReference" type="adv:FC_DefinitionReferenceType" substitutionGroup="gml:Definition"/>
	<xs:complexType name="FC_DefinitionReferenceType">
		<xs:complexContent>
			<xs:extension base="gml:DefinitionType">
				<xs:sequence>
					<xs:element name="sourceIdentifier" type="xs:string" minOccurs="0"/>
					<xs:element name="definitionSource" type="gml:ReferenceType">
						<xs:annotation>
							<xs:appinfo>
								<adv:referenziertesElement>adv:FC_DefinitionSource</adv:referenziertesElement>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="FC_BoundFeatureAttribute" type="adv:FC_BoundFeatureAttributeType" substitutionGroup="gml:Definition"/>
	<xs:complexType name="FC_BoundFeatureAttributeType">
		<xs:complexContent>
			<xs:extension base="gml:DefinitionType">
				<xs:sequence>
					<xs:element name="featureType" type="gml:ReferenceType">
						<xs:annotation>
							<xs:appinfo>
								<adv:referenziertesElement>adv:FC_FeatureType</adv:referenziertesElement>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element name="attribute" type="gml:ReferenceType">
						<xs:annotation>
							<xs:appinfo>
								<adv:referenziertesElement>adv:FC_FeatureAttribute</adv:referenziertesElement>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>-->
</xs:schema>
