deegree-workspaces/deegree-workspace-xplan40/src/main/webapp/WEB-INF/workspace/schemas/xplan4.0/XPlanGML_Basisschema.xsd

<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<!--ADE-Erweiterung, Erstellungsdatum: 07/20/10-->
<schema 
  xmlns="http://www.w3.org/2001/XMLSchema" 
  xmlns:gml="http://www.opengis.net/gml/3.2" 
  xmlns:xplan="http://www.xplanung.de/xplangml/4/0" 
  elementFormDefault="qualified" targetNamespace="http://www.xplanung.de/xplangml/4/0" version="4.0"> 
  <annotation>
    <documentation>Dies Paket enthält die Klassen, die in allen Fach-Schemata verwendet werden.</documentation>
  </annotation>
  
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="./gml/3.2.1/gml.xsd" />
  
  <!--XML Schema document created by ShapeChange-->
  <element abstract="true" name="XP_Objekt" substitutionGroup="gml:AbstractFeature" type="xplan:XP_ObjektType">
    <annotation>
      <documentation>Basisklasse für alle XPlanGML-Fachobjekte. Die Attribute dieser Basisklasse werden über den Vererbungs-Mechanismus an alle Fachobjekte weitergegeben. </documentation>
    </annotation>
  </element>
  <complexType abstract="true" name="XP_ObjektType">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence>
          <element minOccurs="0" name="uuid" type="string" />
          <element minOccurs="0" name="text" type="string" />
          <element minOccurs="0" name="rechtsstand" type="xplan:XP_RechtsstandType">
            <annotation>
              <documentation>Gibt an ob der Planinhalt bereits besteht, geplant ist, oder zukünftig wegfallen soll.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="gesetzlicheGrundlage" type="gml:CodeType">
            <annotation>
              <documentation>Angagbe der Gesetzlichen Grundlage des Planinhalts bzw. der Nachrichtlichen Übernahme.</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="textSchluessel" type="string" />
          <element maxOccurs="unbounded" minOccurs="0" name="textSchluesselBegruendung" type="string" />
          <element minOccurs="0" name="gliederung1" type="string" />
          <element minOccurs="0" name="gliederung2" type="string" />
          <element minOccurs="0" name="ebene" type="integer" />
          <element maxOccurs="unbounded" minOccurs="0" name="rechtsverbindlich" type="xplan:XP_ExterneReferenzPropertyType">
            <annotation>
              <documentation>Referenz auf rechtsverbindliche Dokumente.</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="informell" type="xplan:XP_ExterneReferenzPropertyType">
            <annotation>
              <documentation>Referenz auf nicht-rechtsverbindliche Dokumente.</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="hatGenerAttribut" type="xplan:XP_GenerAttributPropertyType" />
          <element maxOccurs="unbounded" minOccurs="0" name="hoehenangabe" type="xplan:XP_HoehenangabePropertyType">
            <annotation>
              <documentation>Höhenangabe</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="gehoertNachrichtlichZuBereich" type="gml:ReferenceType">
            <annotation>
              <documentation>Jedes BPlanGML-Fachobjekt gehört zu genau einer BPlan-Ebene.</documentation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">xplan:XP_Bereich</targetElement>
                <reversePropertyName xmlns="http://www.opengis.net/gml/3.2">xplan:nachrichtlich</reversePropertyName>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="refTextInhalt" type="gml:ReferenceType">
            <annotation>
              <documentation>Referenz eines raumbezogenen Fachobjektes auf textuell formulierte Planinhalte.</documentation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">xplan:XP_TextAbschnitt</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="refBegruendungInhalt" type="gml:ReferenceType">
            <annotation>
              <documentation>Referenz eines raumbezogenen Fachobjektes auf Teile der Begründung.</documentation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">xplan:XP_BegruendungAbschnitt</targetElement>
              </appinfo>
            </annotation>
          </element>
          <!--== ADE ===================================================================-->
          <element ref="xplan:_GenericApplicationPropertyOfXP_Objekt" minOccurs="0" maxOccurs="unbounded" />
          <!--==========================================================================-->
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <!--== ADE ===================================================================-->
  <element name="_GenericApplicationPropertyOfXP_Objekt" type="anyType" abstract="true" />
  <!--==========================================================================-->
  <element name="XP_Plangeber" substitutionGroup="gml:AbstractObject" type="xplan:XP_PlangeberType">
    <annotation>
      <documentation>Spezifikation der Stelle, die für den Plan verantwortlich ist.

</documentation>
    </annotation>
  </element>
  <complexType name="XP_PlangeberType">
    <sequence>
      <element name="name" type="string" />
      <element minOccurs="0" name="kennziffer" type="string" />
      <!--== ADE ===================================================================-->
      <element ref="xplan:_GenericApplicationPropertyOfXP_Plangeber" minOccurs="0" maxOccurs="unbounded" />
      <!--==========================================================================-->
    </sequence>
  </complexType>
  <!--== ADE ===================================================================-->
  <element name="_GenericApplicationPropertyOfXP_Plangeber" type="anyType" abstract="true" />
  <!--==========================================================================-->
  <complexType name="XP_PlangeberPropertyType">
    <sequence>
      <element ref="xplan:XP_Plangeber" />
    </sequence>
  </complexType>
  <simpleType name="XP_AllgArtDerBaulNutzungType">
    <annotation>
      <documentation>Aufzählung der möglichen" Allgemeinen Arten der baulichen Nutztung".</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="1000" />
      <enumeration value="2000" />
      <enumeration value="3000" />
      <enumeration value="4000" />
      <enumeration value="9999" />
    </restriction>
  </simpleType>
  <simpleType name="XP_BundeslaenderType">
    <restriction base="string">
      <enumeration value="1000">
        <annotation>
          <documentation>Brandenburg</documentation>
        </annotation>
      </enumeration>
      <enumeration value="1100">
        <annotation>
          <documentation>Berlin</documentation>
        </annotation>
      </enumeration>
      <enumeration value="1200">
        <annotation>
          <documentation>Baden-Württemberg</documentation>
        </annotation>
      </enumeration>
      <enumeration value="1300">
        <annotation>
          <documentation>Bayern</documentation>
        </annotation>
      </enumeration>
      <enumeration value="1400" />
      <enumeration value="1500">
        <annotation>
          <documentation>Hessen</documentation>
        </annotation>
      </enumeration>
      <enumeration value="1600" />
      <enumeration value="1700">
        <annotation>
          <documentation>Mecklenburg-Vorpommern</documentation>
        </annotation>
      </enumeration>
      <enumeration value="1800">
        <annotation>
          <documentation>Niedersachsen</documentation>
        </annotation>
      </enumeration>
      <enumeration value="1900">
        <annotation>
          <documentation>Nordrhein-Westfalen</documentation>
        </annotation>
      </enumeration>
      <enumeration value="2000">
        <annotation>
          <documentation>Rheinland-Pfalz</documentation>
        </annotation>
      </enumeration>
      <enumeration value="2100">
        <annotation>
          <documentation>Schleswig-Holstein</documentation>
        </annotation>
      </enumeration>
      <enumeration value="2200">
        <annotation>
          <documentation>Saarland</documentation>
        </annotation>
      </enumeration>
      <enumeration value="2300">
        <annotation>
          <documentation>Sachsen</documentation>
        </annotation>
      </enumeration>
      <enumeration value="2400">
        <annotation>
          <documentation>Sachsen-Anhalt</documentation>
        </annotation>
      </enumeration>
      <enumeration value="2500">
        <annotation>
          <documentation>Thüringen</documentation>
        </annotation>
      </enumeration>
      <enumeration value="3000">
        <annotation>
          <documentation>Der Bund.</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="XP_NutzungsformType">
    <annotation>
      <documentation>Aufzählung möglicher Nutzungsformen einer Fläche</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="1000">
        <annotation>
          <documentation>Private Nutzung</documentation>
        </annotation>
      </enumeration>
      <enumeration value="2000">
        <annotation>
          <documentation>Öffentliche Nutzung</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="XP_ZweckbestimmungWasserwirtschaftType">
    <annotation>
      <documentation>Aufzählung wasserwirtschaftlicher Zweckbestimmungen.</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="1000">
        <annotation>
          <documentation>Hochwasser-Rückhaltebecken</documentation>
        </annotation>
      </enumeration>
      <enumeration value="1100">
        <annotation>
          <documentation>Überschwemmungs-gefährdetes Gebiet</documentation>
        </annotation>
      </enumeration>
      <enumeration value="1200" />
      <enumeration value="1300" />
      <enumeration value="9999">
        <annotation>
          <documentation>Sonstige Zweckbestimmung</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <element name="XP_URLAttribut" substitutionGroup="xplan:XP_GenerAttribut" type="xplan:XP_URLAttributType">
    <annotation>
      <documentation>Generische Attribute vom Datentyp "URL"</documentation>
    </annotation>
  </element>
  <complexType name="XP_URLAttributType">
    <complexContent>
      <extension base="xplan:XP_GenerAttributType">
        <sequence>
          <element name="wert" type="anyURI" />
          <!--== ADE ===================================================================-->
          <element ref="xplan:_GenericApplicationPropertyOfXP_URLAttribut" minOccurs="0" maxOccurs="unbounded" />
          <!--==========================================================================-->
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <!--== ADE ===================================================================-->
  <element name="_GenericApplicationPropertyOfXP_URLAttribut" type="anyType" abstract="true" />
  <!--==========================================================================-->
  <complexType name="XP_URLAttributPropertyType">
    <sequence>
      <element ref="xplan:XP_URLAttribut" />
    </sequence>
  </complexType>
  <element name="XP_Praesentationsobjekt" substitutionGroup="xplan:XP_AbstraktesPraesentationsobjekt" type="xplan:XP_PraesentationsobjektType">
    <annotation>
      <documentation>Entspricht der ALKIS-Objektklasse AP_Darstellung mit dem Unterschied, dass auf das Attribut "positionierungssregel" verzichtet wurde. Im Gegensatz zu den anderen Präsentationsobjekten greift das Visualisierungs-Stylesheet bei der Klasse "BPlanPraesentationsobjekt" direkt auf die Geometrie des zugeordneten Fachobjektes zu. 



Die Relation "dientZurDarstellungVon" muss für Objekte von Typ BPlanPraesentationsobjekt" definiert sein. Die Standard-Visualisierung  des zugehörigen Fachobjektes wird unterdrückt.</documentation>
    </annotation>
  </element>
  <complexType name="XP_PraesentationsobjektType">
    <complexContent>
      <extension base="xplan:XP_AbstraktesPraesentationsobjektType">
        <sequence>
          <!--== ADE ===================================================================-->
          <element ref="xplan:_GenericApplicationPropertyOfXP_Praesentationsobjekt" minOccurs="0" maxOccurs="unbounded" />
          <!--==========================================================================-->
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <!--== ADE ===================================================================-->
  <element name="_GenericApplicationPropertyOfXP_Praesentationsobjekt" type="anyType" abstract="true" />
  <!--==========================================================================-->
  <simpleType name="XP_VerlaengerungVeraenderungssperreType">
    <restriction base="string">
      <enumeration value="1000" />
      <enumeration value="2000" />
      <enumeration value="3000" />
    </restriction>
  </simpleType>
  <simpleType name="XP_ZweckbestimmungVerEntsorgungType">
    <restriction base="string">
      <enumeration value="1000">
        <annotation>
          <documentation>Versorgung mit Elektrizität</documentation>
        </annotation>
      </enumeration>
      <enumeration value="1200">
        <annotation>
          <documentation>Gas-Versorgung</documentation>
        </annotation>
      </enumeration>
      <enumeration value="1300" />
      <enumeration value="1400">
        <annotation>
          <documentation>Versorgung mit Fernwärme</documentation>
        </annotation>
      </enumeration>
      <enumeration value="1600">
        <annotation>
          <documentation>Wasser-Versorgung</documentation>
        </annotation>
      </enumeration>
      <enumeration value="1800">
        <annotation>
          <documentation>Abwasser-Entsorgung</documentation>
        </annotation>
      </enumeration>
      <enumeration value="2000">
        <annotation>
          <documentation>Regenwasser Entsorgung</documentation>
        </annotation>
      </enumeration>
      <enumeration value="2200">
        <annotation>
          <documentation>Abfall-Beseitigung</documentation>
        </annotation>
      </enumeration>
      <enumeration value="2400">
        <annotation>
          <documentation>Ablagerungen, Deponien</documentation>
        </annotation>
      </enumeration>
      <enumeration value="2600">
        <annotation>
          <documentation>Einrichtungen und Anlagen zur Telekommunikation</documentation>
        </annotation>
      </enumeration>
      <enumeration value="9999">
        <annotation>
          <documentation>Sonstige Zweckbestimmung</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <element name="XP_ExterneReferenz" substitutionGroup="gml:AbstractObject" type="xplan:XP_ExterneReferenzType">
    <annotation>
      <documentation>Verweis auf eine extern gespeichertes Dokument oder einen Datenbank-Eintrag. Einer der beiden Attribute "referenzName" bzw. "referenzURI" muss belegt sein.</documentation>
    </annotation>
  </element>
  <complexType name="XP_ExterneReferenzType">
    <sequence>
      <element minOccurs="0" name="georefURL" type="anyURI" />
      <element minOccurs="0" name="georefMimeType" type="gml:CodeType">
        <annotation>
          <documentation>Mime-Type der Georeferenzierungs-Datei. Das Arrtibut ist nur relevant bei Verweisen auf georeferenzierte Rasterbilder.</documentation>
        </annotation>
      </element>
      <element minOccurs="0" name="art" type="gml:CodeType">
        <annotation>
          <documentation>Typisierung der referierten Dokumente</documentation>
        </annotation>
      </element>
      <element minOccurs="0" name="informationssystemURL" type="anyURI" />
      <element minOccurs="0" name="referenzName" type="string" />
      <element minOccurs="0" name="referenzURL" type="anyURI" />
      <element minOccurs="0" name="referenzMimeType" type="gml:CodeType">
        <annotation>
          <documentation>Mime-Type des referierten Dokumentes</documentation>
        </annotation>
      </element>
      <element minOccurs="0" name="beschreibung" type="string" />
      <!--== ADE ===================================================================-->
      <element ref="xplan:_GenericApplicationPropertyOfXP_ExterneReferenz" minOccurs="0" maxOccurs="unbounded" />
      <!--==========================================================================-->
    </sequence>
  </complexType>
  <!--== ADE ===================================================================-->
  <element name="_GenericApplicationPropertyOfXP_ExterneReferenz" type="anyType" abstract="true" />
  <!--==========================================================================-->
  <complexType name="XP_ExterneReferenzPropertyType">
    <sequence>
      <element ref="xplan:XP_ExterneReferenz" />
    </sequence>
  </complexType>
  <simpleType name="XP_ZweckbestimmungKennzeichnungType">
    <annotation>
      <documentation>Aufzählung der Kennzeichnungen nach §5, Abs. 3 BauGB</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="1000">
        <annotation>
          <documentation>Flächen, bei deren Bebauung besondere bauliche Sicherungsmaßnahmen gegen Naturgewalten erforderlich sind (§5, Abs. 3, Nr. 1 BauGB).</documentation>
        </annotation>
      </enumeration>
      <enumeration value="2000">
        <annotation>
          <documentation>Flächen, unter denen der Bergbau umgeht oder die für den Abbau von Mineralien bestimmt sind (§5, Abs. 3, Nr. 2 BauGB).</documentation>
        </annotation>
      </enumeration>
      <enumeration value="3000">
        <annotation>
          <documentation>Flächen, bei deren Bebauung besondere bauliche Sicherungsmaßnahmen gegen äußere Einwirkungen erforderlich sind (§5, Abs. 3, Nr. 1 BauGB).</documentation>
        </annotation>
      </enumeration>
      <enumeration value="4000">
        <annotation>
          <documentation>Für bauliche Nutzung vorgesehene Flächen, deren Böden erheblich mit umweltgefährdenden Stoffen belastet sind (§5, Abs. 3, Nr. 3 BauGB).</documentation>
        </annotation>
      </enumeration>
      <enumeration value="5000">
        <annotation>
          <documentation>ür bauliche Nutzung vorgesehene Flächen, die erheblichen Lärmbelastung ausgesetzt sind.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="6000" />
      <enumeration value="7000" />
      <enumeration value="9999">
        <annotation>
          <documentation>Kennzeichnung nach anderen gesetzlichen Vorschriften.</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="XP_RechtsstandType">
    <restriction base="string">
      <enumeration value="1000" />
      <enumeration value="2000" />
      <enumeration value="3000" />
    </restriction>
  </simpleType>
  <element abstract="true" name="XP_RasterplanAenderung" substitutionGroup="gml:AbstractFeature" type="xplan:XP_RasterplanAenderungType">
    <annotation>
      <documentation>Georeferenziertes Rasterbild der Änderung eines Basisplans.



Im Standard sind nur geoerferenzierte Rasterpläne zugelassen. Die Georeferenzierung kann entweder implizit durch einen Web FeatureService, oder explizit durch das Attribut georef erfolgen.</documentation>
    </annotation>
  </element>
  <complexType abstract="true" name="XP_RasterplanAenderungType">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence>
          <element minOccurs="0" name="nameAenderung" type="string" />
          <element minOccurs="0" name="beschreibung" type="string" />
          <element minOccurs="0" name="refBeschreibung" type="xplan:XP_ExterneReferenzPropertyType">
            <annotation>
              <documentation>Referenz auf das Beschreibungs-Dokument</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="refBegruendung" type="xplan:XP_ExterneReferenzPropertyType">
            <annotation>
              <documentation>Referenz auf das Begründungs-Dokument</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" name="refScan" type="xplan:XP_ExterneReferenzPropertyType">
            <annotation>
              <documentation>Referenz auf eine rasterversion der Plan-Änderung.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="refText" type="xplan:XP_ExterneReferenzPropertyType">
            <annotation>
              <documentation>Referenz auf die textlichen Inhalte der Planänderung.</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="refLegende" type="xplan:XP_ExterneReferenzPropertyType">
            <annotation>
              <documentation>Referenz auf die Legende der Plan-Änderung.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="geltungsbereichAenderung" type="gml:GeometryPropertyType" />
          <!--== ADE ===================================================================-->
          <element ref="xplan:_GenericApplicationPropertyOfXP_RasterplanAenderung" minOccurs="0" maxOccurs="unbounded" />
          <!--==========================================================================-->
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <!--== ADE ===================================================================-->
  <element name="_GenericApplicationPropertyOfXP_RasterplanAenderung" type="anyType" abstract="true" />
  <!--==========================================================================-->
  <simpleType name="XP_SondernutzungenType">
    <annotation>
      <documentation>Aufzählung möglicher Sondernutzungen einer Sonderbaufläche nach §§ 10 und 11 BauNVO.</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="1000" />
      <enumeration value="1100" />
      <enumeration value="1200" />
      <enumeration value="1300" />
      <enumeration value="1400" />
      <enumeration value="1500" />
      <enumeration value="1600" />
      <enumeration value="16000" />
      <enumeration value="16001" />
      <enumeration value="16002" />
      <enumeration value="1700" />
      <enumeration value="1800" />
      <enumeration value="1900" />
      <enumeration value="2000" />
      <enumeration value="2100" />
      <enumeration value="2200" />
      <enumeration value="2300" />
      <enumeration value="2400" />
      <enumeration value="2500" />
      <enumeration value="2600" />
      <enumeration value="2700" />
      <enumeration value="2800" />
      <enumeration value="2900" />
      <enumeration value="9999" />
    </restriction>
  </simpleType>
  <element name="XP_VerbundenerPlan" substitutionGroup="gml:AbstractObject" type="xplan:XP_VerbundenerPlanType">
    <annotation>
      <documentation>Spezifikation eines anderen Plans, der mit dem Ausgangsplan verbunden ist und diesen ändert bzw. von ihm geändert wird.</documentation>
    </annotation>
  </element>
  <complexType name="XP_VerbundenerPlanType">
    <sequence>
      <element name="planName" type="string" />
      <element name="rechtscharakter" type="xplan:XP_RechtscharakterPlanaenderungType">
        <annotation>
          <documentation>Rechtscharakter der Planänderung.</documentation>
        </annotation>
      </element>
      <!--== ADE ===================================================================-->
      <element ref="xplan:_GenericApplicationPropertyOfXP_VerbundenerPlan" minOccurs="0" maxOccurs="unbounded" />
      <!--==========================================================================-->
    </sequence>
  </complexType>
  <!--== ADE ===================================================================-->
  <element name="_GenericApplicationPropertyOfXP_VerbundenerPlan" type="anyType" abstract="true" />
  <!--==========================================================================-->
  <complexType name="XP_VerbundenerPlanPropertyType">
    <sequence>
      <element ref="xplan:XP_VerbundenerPlan" />
    </sequence>
  </complexType>
  <element abstract="true" name="XP_GenerAttribut" substitutionGroup="gml:AbstractObject" type="xplan:XP_GenerAttributType">
    <annotation>
      <documentation>Basisklasse für Generische Attribute</documentation>
    </annotation>
  </element>
  <complexType abstract="true" name="XP_GenerAttributType">
    <sequence>
      <element name="name" type="string" />
      <!--== ADE ===================================================================-->
      <element ref="xplan:_GenericApplicationPropertyOfXP_GenerAttribut" minOccurs="0" maxOccurs="unbounded" />
      <!--==========================================================================-->
    </sequence>
  </complexType>
  <!--== ADE ===================================================================-->
  <element name="_GenericApplicationPropertyOfXP_GenerAttribut" type="anyType" abstract="true" />
  <!--==========================================================================-->
  <complexType name="XP_GenerAttributPropertyType">
    <sequence>
      <element ref="xplan:XP_GenerAttribut" />
    </sequence>
  </complexType>
  <simpleType name="XP_BedeutungenBereichType">
    <restriction base="string">
      <enumeration value="1000" />
      <enumeration value="1500" />
      <enumeration value="1600" />
      <enumeration value="1700" />
      <enumeration value="1800" />
      <enumeration value="2000" />
      <enumeration value="2500" />
      <enumeration value="3000" />
      <enumeration value="3500" />
      <enumeration value="4000" />
      <enumeration value="9999" />
    </restriction>
  </simpleType>
  <simpleType name="XP_SPEMassnahmenTypenType">
    <annotation>
      <documentation>Aufzählung der Typen von Ausgleichs- und Ersatzmaßnahmen.</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="1000" />
      <enumeration value="1100" />
      <enumeration value="1200" />
      <enumeration value="1300" />
      <enumeration value="1400" />
      <enumeration value="1500" />
      <enumeration value="1600" />
      <enumeration value="1700" />
      <enumeration value="1800" />
      <enumeration value="1900" />
      <enumeration value="2000" />
      <enumeration value="2100" />
      <enumeration value="2200" />
      <enumeration value="2300" />
      <enumeration value="9999" />
    </restriction>
  </simpleType>
  <simpleType name="XP_VertikaleAusrichtungType">
    <annotation>
      <documentation>Enumeration der definierten vertikalen Fontausrichtungen</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="Basis">
        <annotation>
          <documentation>Textgeometrie bezieht sich auf die Basis- bzw. Grundlinie der Buchstaben.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="Mitte">
        <annotation>
          <documentation>Textgeometrie bezieht sich auf die Mittellinie der Buchstaben.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="Oben">
        <annotation>
          <documentation>Textgeometrie bezieht sich auf die Oberlinie der Großbuchstaben.</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <element name="XP_StringAttribut" substitutionGroup="xplan:XP_GenerAttribut" type="xplan:XP_StringAttributType">
    <annotation>
      <documentation>Generische Attribute vom Typ "CharacterString"</documentation>
    </annotation>
  </element>
  <complexType name="XP_StringAttributType">
    <complexContent>
      <extension base="xplan:XP_GenerAttributType">
        <sequence>
          <element name="wert" type="string" />
          <!--== ADE ===================================================================-->
          <element ref="xplan:_GenericApplicationPropertyOfXP_StringAttribut" minOccurs="0" maxOccurs="unbounded" />
          <!--==========================================================================-->
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <!--== ADE ===================================================================-->
  <element name="_GenericApplicationPropertyOfXP_StringAttribut" type="anyType" abstract="true" />
  <!--==========================================================================-->
  <complexType name="XP_StringAttributPropertyType">
    <sequence>
      <element ref="xplan:XP_StringAttribut" />
    </sequence>
  </complexType>
  <element name="XP_Gemeinde" substitutionGroup="gml:AbstractObject" type="xplan:XP_GemeindeType">
    <annotation>
      <documentation>Spezifikation einer Gemeinde</documentation>
    </annotation>
  </element>
  <complexType name="XP_GemeindeType">
    <sequence>
      <element minOccurs="0" name="ags" type="string" />
      <element minOccurs="0" name="rs" type="string" />
      <element minOccurs="0" name="gemeindeName" type="string" />
      <element minOccurs="0" name="ortsteilName" type="string" />
      <!--== ADE ===================================================================-->
      <element ref="xplan:_GenericApplicationPropertyOfXP_Gemeinde" minOccurs="0" maxOccurs="unbounded" />
      <!--==========================================================================-->
    </sequence>
  </complexType>
  <!--== ADE ===================================================================-->
  <element name="_GenericApplicationPropertyOfXP_Gemeinde" type="anyType" abstract="true" />
  <!--==========================================================================-->
  <complexType name="XP_GemeindePropertyType">
    <sequence>
      <element ref="xplan:XP_Gemeinde" />
    </sequence>
  </complexType>
  <element abstract="true" name="XP_Plan" substitutionGroup="gml:AbstractFeature" type="xplan:XP_PlanType">
    <annotation>
      <documentation>Diese Klasse modelliert einen vollständigen Plan, der aus ein oder mehreren Bereichen zusammengesetzt sein kann.</documentation>
    </annotation>
  </element>
  <complexType abstract="true" name="XP_PlanType">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence>
          <element minOccurs="0" name="name" type="string" />
          <element minOccurs="0" name="nummer" type="string" />
          <element minOccurs="0" name="internalId" type="string" />
          <element minOccurs="0" name="beschreibung" type="string" />
          <element minOccurs="0" name="kommentar" type="string" />
          <element minOccurs="0" name="technHerstellDatum" type="date" />
          <element minOccurs="0" name="untergangsDatum" type="date" />
          <element maxOccurs="unbounded" minOccurs="0" name="aendert" type="xplan:XP_VerbundenerPlanPropertyType">
            <annotation>
              <documentation>Bezeichnung eines anderen Planes der Gemeinde, der durch den vorliegenden Plan geändert wird.</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="wurdeGeaendertVon" type="xplan:XP_VerbundenerPlanPropertyType">
            <annotation>
              <documentation>Bezeichnung eines anderen Plans der Gemeinde, durch den der vorliegende Plan geändert wurde.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="erstellungsMassstab" type="integer" />
          <element minOccurs="0" name="xPlanGMLVersion" type="string" />
          <element minOccurs="0" name="bezugshoehe" type="gml:LengthType" />
          <element minOccurs="0" name="raeumlicherGeltungsbereich" type="gml:GeometryPropertyType" />
          <element maxOccurs="unbounded" minOccurs="0" name="verfahrensMerkmale" type="xplan:XP_VerfahrensMerkmalPropertyType">
            <annotation>
              <documentation>Vermerke der am Planungssverfahrens beteiligten Akteure.</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="rechtsverbindlich" type="xplan:XP_ExterneReferenzPropertyType">
            <annotation>
              <documentation>Referenz ein rechtsverbindliche Dokumente</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="informell" type="xplan:XP_ExterneReferenzPropertyType">
            <annotation>
              <documentation>Referenz auf nicht-rechtsverbindliche Dokumente</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="hatGenerAttribut" type="xplan:XP_GenerAttributPropertyType" />
          <element maxOccurs="unbounded" minOccurs="0" name="refBeschreibung" type="xplan:XP_ExterneReferenzPropertyType">
            <annotation>
              <documentation>Referenz auf die Beschreibung des Plans.</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="refBegruendung" type="xplan:XP_ExterneReferenzPropertyType">
            <annotation>
              <documentation>Referenz auf die Bebründung des Plans.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="refExternalCodeList" type="xplan:XP_ExterneReferenzPropertyType">
            <annotation>
              <documentation>Referenz auf ein GML-Dictionary mit Codelists.</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="refLegende" type="xplan:XP_ExterneReferenzPropertyType">
            <annotation>
              <documentation>Referenz auf die Legende des Plans.</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="refRechtsplan" type="xplan:XP_ExterneReferenzPropertyType">
            <annotation>
              <documentation>Referenz auf eine elektronische Version des rechtsverbindlichen Plans.</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="refPlangrundlage" type="xplan:XP_ExterneReferenzPropertyType">
            <annotation>
              <documentation>Referenz auf eine elektronische Version der Plangrundlage, z.B. ein Katasterplan.</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="texte" type="gml:ReferenceType">
            <annotation>
              <documentation>Verweis auf einen textuell formulierten Planinhalt</documentation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">xplan:XP_TextAbschnitt</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="begruendungsTexte" type="gml:ReferenceType">
            <annotation>
              <documentation>Verweis auf eine Abschnitt der Begründung.</documentation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">xplan:XP_BegruendungAbschnitt</targetElement>
              </appinfo>
            </annotation>
          </element>
          <!--== ADE ===================================================================-->
          <element ref="xplan:_GenericApplicationPropertyOfXP_Plan" minOccurs="0" maxOccurs="unbounded" />
          <!--==========================================================================-->
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <!--== ADE ===================================================================-->
  <element name="_GenericApplicationPropertyOfXP_Plan" type="anyType" abstract="true" />
  <!--==========================================================================-->
  <element abstract="true" name="XP_Bereich" substitutionGroup="gml:AbstractFeature" type="xplan:XP_BereichType">
    <annotation>
      <documentation>Diese Klasse fasst Inhalte des Plans nach bestimmten Kriterien zusammen. </documentation>
    </annotation>
  </element>
  <complexType abstract="true" name="XP_BereichType">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence>
          <element name="nummer" type="integer" />
          <element minOccurs="0" name="name" type="string" />
          <element minOccurs="0" name="bedeutung" type="xplan:XP_BedeutungenBereichType">
            <annotation>
              <documentation>Spezifikation der semantischen Bedeutung eines Bereiches.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="detaillierteBedeutung" type="string" />
          <element minOccurs="0" name="erstellungsMasstab" type="integer" />
          <element minOccurs="0" name="geltungsbereich" type="gml:GeometryPropertyType" />
          <element maxOccurs="unbounded" minOccurs="0" name="nachrichtlich" type="gml:ReferenceType">
            <annotation>
              <documentation>Eine BPlan-Ebene referiert BPlanGML-Fachobjekte, durch die einzelne Festsetzungen des Plans modelliert werden.</documentation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">xplan:XP_Objekt</targetElement>
                <reversePropertyName xmlns="http://www.opengis.net/gml/3.2">xplan:gehoertNachrichtlichZuBereich</reversePropertyName>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="praesentationsobjekt" type="gml:ReferenceType">
            <annotation>
              <documentation>Eine BPlan-Ebene referiert BPlan-Präsentations-Objekte.</documentation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">xplan:XP_AbstraktesPraesentationsobjekt</targetElement>
                <reversePropertyName xmlns="http://www.opengis.net/gml/3.2">xplan:gehoertZuBereich</reversePropertyName>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="rasterBasis" type="gml:ReferenceType">
            <annotation>
              <documentation>Ein BPlan kann optional eine georeferenzierte Rasterkarte referieren.</documentation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">xplan:XP_RasterplanBasis</targetElement>
              </appinfo>
            </annotation>
          </element>
          <!--== ADE ===================================================================-->
          <element ref="xplan:_GenericApplicationPropertyOfXP_Bereich" minOccurs="0" maxOccurs="unbounded" />
          <!--==========================================================================-->
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <!--== ADE ===================================================================-->
  <element name="_GenericApplicationPropertyOfXP_Bereich" type="anyType" abstract="true" />
  <!--==========================================================================-->
  <element name="XP_BegruendungAbschnitt" substitutionGroup="gml:AbstractFeature" type="xplan:XP_BegruendungAbschnittType">
    <annotation>
      <documentation>Ein Abschnitt der Begründung des Plans.</documentation>
    </annotation>
  </element>
  <complexType name="XP_BegruendungAbschnittType">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence>
          <element minOccurs="0" name="schluessel" type="string" />
          <element minOccurs="0" name="text" type="string" />
          <element minOccurs="0" name="refText" type="xplan:XP_ExterneReferenzPropertyType">
            <annotation>
              <documentation>Referenz auf ein externes Dokument das den Begründungs-Abschnitt enthält.</documentation>
            </annotation>
          </element>
          <!--== ADE ===================================================================-->
          <element ref="xplan:_GenericApplicationPropertyOfXP_BegruendungAbschnitt" minOccurs="0" maxOccurs="unbounded" />
          <!--==========================================================================-->
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <!--== ADE ===================================================================-->
  <element name="_GenericApplicationPropertyOfXP_BegruendungAbschnitt" type="anyType" abstract="true" />
  <!--==========================================================================-->
  <simpleType name="XP_ZweckbestimmungGemeinbedarfType">
    <restriction base="string">
      <enumeration value="1000">
        <annotation>
          <documentation>Einrichtungen und Anlagen für öffentliche Verwaltung</documentation>
        </annotation>
      </enumeration>
      <enumeration value="1200">
        <annotation>
          <documentation>Einrichtungen und Anlagen für Schulen und sonstige Bildungs- und Forschungseinrichtungen.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="1400">
        <annotation>
          <documentation>Kirchliche Einrichtungen</documentation>
        </annotation>
      </enumeration>
      <enumeration value="1600">
        <annotation>
          <documentation>Einrichtungen und Anlagen für soziale Zwecke.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="1800">
        <annotation>
          <documentation>Einrichtungen und Anlagen für gesundheitliche Zwecke.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="2000">
        <annotation>
          <documentation>Einrichtungen und Anlagen für kulturelle Zwecke.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="2200">
        <annotation>
          <documentation>Einrichtungen und Anlagen für sportliche Zwecke.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="2400">
        <annotation>
          <documentation>Einrichtungen und Anlagen für Sicherheit und Ordnung.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="2600">
        <annotation>
          <documentation>Einrichtungen und Anlagen der Infrastruktur.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="9999">
        <annotation>
          <documentation>Sonstiges</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="XP_SPEZieleType">
    <annotation>
      <documentation>Aufzählung der Ziele für Schutz-, Pflege- und Entwicklungsmaßnahmen.</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="1000" />
      <enumeration value="2000" />
      <enumeration value="9999" />
    </restriction>
  </simpleType>
  <simpleType name="XP_BesondereZweckbestimmungGruenType">
    <restriction base="string">
      <enumeration value="10000" />
      <enumeration value="10001" />
      <enumeration value="10002" />
      <enumeration value="10003" />
      <enumeration value="12000" />
      <enumeration value="14000" />
      <enumeration value="14001" />
      <enumeration value="14002" />
      <enumeration value="14003" />
      <enumeration value="14004" />
      <enumeration value="14005" />
      <enumeration value="14006" />
      <enumeration value="14007" />
      <enumeration value="16000" />
      <enumeration value="16001" />
      <enumeration value="18000" />
      <enumeration value="22000" />
      <enumeration value="22001" />
      <enumeration value="24000" />
      <enumeration value="24001" />
      <enumeration value="24002" />
      <enumeration value="24003" />
      <enumeration value="24004" />
      <enumeration value="24005" />
      <enumeration value="24006" />
      <enumeration value="99990" />
    </restriction>
  </simpleType>
  <element name="XP_FPO" substitutionGroup="xplan:XP_AbstraktesPraesentationsobjekt" type="xplan:XP_FPOType">
    <annotation>
      <documentation>Flächenförmiges Präsentationsobjekt. Entspricht der ALKIS Objektklasse AP_FPO mit der Einschrängung, dass der Raumbezug nur durch eine Einzelfläche hergestellt wird.</documentation>
    </annotation>
  </element>
  <complexType name="XP_FPOType">
    <complexContent>
      <extension base="xplan:XP_AbstraktesPraesentationsobjektType">
        <sequence>
          <element name="position" type="gml:GeometryPropertyType" />
          <!--== ADE ===================================================================-->
          <element ref="xplan:_GenericApplicationPropertyOfXP_FPO" minOccurs="0" maxOccurs="unbounded" />
          <!--==========================================================================-->
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <!--== ADE ===================================================================-->
  <element name="_GenericApplicationPropertyOfXP_FPO" type="anyType" abstract="true" />
  <!--==========================================================================-->
  <simpleType name="XP_ZweckbestimmungSpielSportanlageType">
    <restriction base="string">
      <enumeration value="1000">
        <annotation>
          <documentation>Sportanlage</documentation>
        </annotation>
      </enumeration>
      <enumeration value="2000">
        <annotation>
          <documentation>Spielanlage</documentation>
        </annotation>
      </enumeration>
      <enumeration value="3000">
        <annotation>
          <documentation>Spiel- und/oder Sportanlage.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="9999">
        <annotation>
          <documentation>Sonstiges</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <element name="XP_Hoehenangabe" substitutionGroup="gml:AbstractObject" type="xplan:XP_HoehenangabeType">
    <annotation>
      <documentation>Spezifikation einer Höhenangabe</documentation>
    </annotation>
  </element>
  <complexType name="XP_HoehenangabeType">
    <sequence>
      <element name="hoehenbezug" type="xplan:XP_ArtHoehenbezugType">
        <annotation>
          <documentation>Art des Höhenbezuges.</documentation>
        </annotation>
      </element>
      <element minOccurs="0" name="bezugspunkt" type="xplan:XP_ArtHoehenbezugspunktType">
        <annotation>
          <documentation>Bestimmung des Bezugspunktes für die Höhenangaben.</documentation>
        </annotation>
      </element>
      <element minOccurs="0" name="hMin" type="gml:LengthType" />
      <element minOccurs="0" name="hMax" type="gml:LengthType" />
      <element minOccurs="0" name="hZwingend" type="gml:LengthType" />
      <element minOccurs="0" name="h" type="gml:LengthType" />
      <!--== ADE ===================================================================-->
      <element ref="xplan:_GenericApplicationPropertyOfXP_Hoehenangabe" minOccurs="0" maxOccurs="unbounded" />
      <!--==========================================================================-->
    </sequence>
  </complexType>
  <!--== ADE ===================================================================-->
  <element name="_GenericApplicationPropertyOfXP_Hoehenangabe" type="anyType" abstract="true" />
  <!--==========================================================================-->
  <complexType name="XP_HoehenangabePropertyType">
    <sequence>
      <element ref="xplan:XP_Hoehenangabe" />
    </sequence>
  </complexType>
  <element name="XP_DoubleAttribut" substitutionGroup="xplan:XP_GenerAttribut" type="xplan:XP_DoubleAttributType" />
  <complexType name="XP_DoubleAttributType">
    <complexContent>
      <extension base="xplan:XP_GenerAttributType">
        <sequence>
          <element name="wert" type="double" />
          <!--== ADE ===================================================================-->
          <element ref="xplan:_GenericApplicationPropertyOfXP_DoubleAttribut" minOccurs="0" maxOccurs="unbounded" />
          <!--==========================================================================-->
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <!--== ADE ===================================================================-->
  <element name="_GenericApplicationPropertyOfXP_DoubleAttribut" type="anyType" abstract="true" />
  <!--==========================================================================-->
  <complexType name="XP_DoubleAttributPropertyType">
    <sequence>
      <element ref="xplan:XP_DoubleAttribut" />
    </sequence>
  </complexType>
  <element abstract="true" name="XP_AbstraktesPraesentationsobjekt" substitutionGroup="gml:AbstractFeature" type="xplan:XP_AbstraktesPraesentationsobjektType">
    <annotation>
      <documentation>Abstrakte Basisklasse für alle Präsentationsobjekte. Die Attribute entsprechen dem ALKIS-Objekt AP_GPO, wobei das Attribut "signaturnummer" in "stylesheetId" umbenannt wurde. Im Gegensatz zu ALKIS-Objektklasse ist "stylesheetId" ein Pflichtattribut. 



Die Standard-Darstellung des durch die Relation "dientZurDarstellungVon" referierten Fachobjektes wird durch ein Präsentationsobjekt im Regelfall nicht ersetzt, sondern nur ergänzt. Einzige Ausnahme ist die Klasse "BPlanPraesentationsobjekt", bei der die Standard-Darstellung des zug. Fachobjektes unterdrückt wird. </documentation>
    </annotation>
  </element>
  <complexType abstract="true" name="XP_AbstraktesPraesentationsobjektType">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence>
          <element minOccurs="0" name="stylesheetId" type="gml:CodeType">
            <annotation>
              <documentation>Das Attribut "stylesheetId" zeigt auf ein extern definierte Stylesheet, das Parameter zur Visualisierung von Flächen, Linien, Punkten und Texten enthält. Jedem Stylesheet ist weiterhin eine Darstellungspriorität zugeordnet.  Ausserdem kann ein Stylesheet logische Elemente enthalten,  die die Visualisierung abhängig machen vom Wert des durch "art" definierten Attributes des Fachobjektes, das durch die Relation "dientZurDarstellungVon" referiert wird.

</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="darstellungsprioritaet" type="integer" />
          <element maxOccurs="unbounded" minOccurs="0" name="art" type="string" />
          <element minOccurs="0" name="gehoertZuBereich" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">xplan:XP_Bereich</targetElement>
                <reversePropertyName xmlns="http://www.opengis.net/gml/3.2">xplan:praesentationsobjekt</reversePropertyName>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="dientZurDarstellungVon" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">xplan:XP_Objekt</targetElement>
              </appinfo>
            </annotation>
          </element>
          <!--== ADE ===================================================================-->
          <element ref="xplan:_GenericApplicationPropertyOfXP_AbstraktesPraesentationsobjekt" minOccurs="0" maxOccurs="unbounded" />
          <!--==========================================================================-->
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <!--== ADE ===================================================================-->
  <element name="_GenericApplicationPropertyOfXP_AbstraktesPraesentationsobjekt" type="anyType" abstract="true" />
  <!--==========================================================================-->
  <simpleType name="XP_ArtHoehenbezugspunktType">
    <restriction base="string">
      <enumeration value="1000">
        <annotation>
          <documentation>Traufhöhe als Höhenbezugspunkt</documentation>
        </annotation>
      </enumeration>
      <enumeration value="2000">
        <annotation>
          <documentation>Firsthöhe als Höhenbezugspunkt.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="3000">
        <annotation>
          <documentation>Oberkante als Höhenbezugspunkt.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="3500">
        <annotation>
          <documentation>Lichte Höhe</documentation>
        </annotation>
      </enumeration>
      <enumeration value="4000">
        <annotation>
          <documentation>Sockelhöhe</documentation>
        </annotation>
      </enumeration>
      <enumeration value="4500">
        <annotation>
          <documentation>Erdgeschoss Fußbodenhöhe</documentation>
        </annotation>
      </enumeration>
      <enumeration value="5000">
        <annotation>
          <documentation>Höhe Baulicher Anlagen</documentation>
        </annotation>
      </enumeration>
      <enumeration value="5500">
        <annotation>
          <documentation>Unterkante</documentation>
        </annotation>
      </enumeration>
      <enumeration value="6000">
        <annotation>
          <documentation>Gebäudehöhe</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <element name="XP_PTO" substitutionGroup="xplan:XP_TPO" type="xplan:XP_PTOType">
    <annotation>
      <documentation>Textförmiges Präsentationsobjekt mit punktförmiger Textgeometrie. Entspricht der ALKIS-Objektklasse AP_PTO.</documentation>
    </annotation>
  </element>
  <complexType name="XP_PTOType">
    <complexContent>
      <extension base="xplan:XP_TPOType">
        <sequence>
          <element name="position" type="gml:GeometryPropertyType" />
          <element minOccurs="0" name="drehwinkel" type="gml:AngleType" />
          <!--== ADE ===================================================================-->
          <element ref="xplan:_GenericApplicationPropertyOfXP_PTO" minOccurs="0" maxOccurs="unbounded" />
          <!--==========================================================================-->
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <!--== ADE ===================================================================-->
  <element name="_GenericApplicationPropertyOfXP_PTO" type="anyType" abstract="true" />
  <!--==========================================================================-->
  <simpleType name="XP_ArtHoehenbezugType">
    <restriction base="string">
      <enumeration value="1000">
        <annotation>
          <documentation>Absolute Höhenangabe</documentation>
        </annotation>
      </enumeration>
      <enumeration value="2000">
        <annotation>
          <documentation>Höhenangabe relativ zur Geländeoberkante an der Position des Planinhalts.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="2500">
        <annotation>
          <documentation>Höhenangabe relativ zur Gehweg-Oberkante an der Position des Planinhalts.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="3000">
        <annotation>
          <documentation>Höhenangabe relativ zu der auf Planebene festgelegten absoluten Bezugshöhe (Attribut bezugshoehe von XP_Plan.</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="XP_RechtscharakterPlanaenderungType">
    <annotation>
      <documentation>Rechtscharakter einer Planänderung</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="1000" />
      <enumeration value="2000" />
    </restriction>
  </simpleType>
  <element name="XP_TextAbschnitt" substitutionGroup="gml:AbstractFeature" type="xplan:XP_TextAbschnittType">
    <annotation>
      <documentation>Ein Abschnitt der textlichen Festsetzungen des Plans.</documentation>
    </annotation>
  </element>
  <complexType name="XP_TextAbschnittType">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence>
          <element minOccurs="0" name="schluessel" type="string" />
          <element minOccurs="0" name="gesetzlicheGrundlage" type="string" />
          <element minOccurs="0" name="text" type="string" />
          <element minOccurs="0" name="refText" type="xplan:XP_ExterneReferenzPropertyType">
            <annotation>
              <documentation>Referenz auf ein externes Dokument das den zug Textabschnitt enthält.</documentation>
            </annotation>
          </element>
          <!--== ADE ===================================================================-->
          <element ref="xplan:_GenericApplicationPropertyOfXP_TextAbschnitt" minOccurs="0" maxOccurs="unbounded" />
          <!--==========================================================================-->
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <!--== ADE ===================================================================-->
  <element name="_GenericApplicationPropertyOfXP_TextAbschnitt" type="anyType" abstract="true" />
  <!--==========================================================================-->
  <simpleType name="XP_ZweckbestimmungLandwirtschaftType">
    <restriction base="string">
      <enumeration value="1000">
        <annotation>
          <documentation>Allgemeine Landwirtschaft</documentation>
        </annotation>
      </enumeration>
      <enumeration value="1100">
        <annotation>
          <documentation>Ackerbau</documentation>
        </annotation>
      </enumeration>
      <enumeration value="1200">
        <annotation>
          <documentation>Wiesen- und Weidewirtschaft</documentation>
        </annotation>
      </enumeration>
      <enumeration value="1300">
        <annotation>
          <documentation>Gartenbauliche Erzeugung</documentation>
        </annotation>
      </enumeration>
      <enumeration value="1400">
        <annotation>
          <documentation>Obstbau</documentation>
        </annotation>
      </enumeration>
      <enumeration value="1500">
        <annotation>
          <documentation>Weinbau</documentation>
        </annotation>
      </enumeration>
      <enumeration value="1600">
        <annotation>
          <documentation>Imkerei</documentation>
        </annotation>
      </enumeration>
      <enumeration value="1700">
        <annotation>
          <documentation>Binnenfischerei</documentation>
        </annotation>
      </enumeration>
      <enumeration value="9999">
        <annotation>
          <documentation>Sonstiges</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="XP_BesondereArtDerBaulNutzungType">
    <annotation>
      <documentation>Aufzählung der verschiedenen Typen der "Art der Baulichen Nutzung" laut BauGB.</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="1000">
        <annotation>
          <documentation>Kleinsiedlungsgebiet</documentation>
        </annotation>
      </enumeration>
      <enumeration value="1100">
        <annotation>
          <documentation>Reines Wohngebiet</documentation>
        </annotation>
      </enumeration>
      <enumeration value="1200">
        <annotation>
          <documentation>Allgemeines Wohngebiet</documentation>
        </annotation>
      </enumeration>
      <enumeration value="1300">
        <annotation>
          <documentation>Besonderes Wohngebiet</documentation>
        </annotation>
      </enumeration>
      <enumeration value="1400">
        <annotation>
          <documentation>Dorfgebiet</documentation>
        </annotation>
      </enumeration>
      <enumeration value="1500" />
      <enumeration value="1600">
        <annotation>
          <documentation>Kerngebiet</documentation>
        </annotation>
      </enumeration>
      <enumeration value="1700" />
      <enumeration value="1800">
        <annotation>
          <documentation>Industriegebiet</documentation>
        </annotation>
      </enumeration>
      <enumeration value="2000">
        <annotation>
          <documentation>Sondergebiet, das der Erholung dient (§ 10 BauNVO); z.B. Wochenendhausgebiet</documentation>
        </annotation>
      </enumeration>
      <enumeration value="2100">
        <annotation>
          <documentation>Sonstiges Sondergebiet (§ 11 BauNVO); z.B. Klinikgebiet</documentation>
        </annotation>
      </enumeration>
      <enumeration value="3000" />
      <enumeration value="4000" />
      <enumeration value="9999">
        <annotation>
          <documentation>Sonstiges Gebiet</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <element name="XP_RasterplanBasis" substitutionGroup="gml:AbstractFeature" type="xplan:XP_RasterplanBasisType">
    <annotation>
      <documentation>Georeferenzierte Rasterdarstellung eines Plans. Das Rasterbild zeigt den Basisplan, dessen Geltungsbereich als Vektorobjekt vom Typ "RaeumlicherGeltungsbereich" repräsentiert ist. Diesem Basisplan können Änderungen überlagert sein, denen jeweils eigene Rasterbilder und Geltungsbereiche zugeordnet sind.



Im Standard sind nur geoerferenzierte Rasterpläne zugelassen. Diese kann entweder implizit durch einen Web FeatureService, oder explizit durch das Attribut georef erfolgen</documentation>
    </annotation>
  </element>
  <complexType name="XP_RasterplanBasisType">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence>
          <element maxOccurs="unbounded" name="refScan" type="xplan:XP_ExterneReferenzPropertyType">
            <annotation>
              <documentation>Referenz auf eine georeferenzierte Rasterversion des Basisplans </documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="refText" type="xplan:XP_ExterneReferenzPropertyType">
            <annotation>
              <documentation>Referenz auf die textlichen Festsetzungen des Plans.</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="refLegende" type="xplan:XP_ExterneReferenzPropertyType">
            <annotation>
              <documentation>Referenz auf die Legende des Plans.</documentation>
            </annotation>
          </element>
          <!--== ADE ===================================================================-->
          <element ref="xplan:_GenericApplicationPropertyOfXP_RasterplanBasis" minOccurs="0" maxOccurs="unbounded" />
          <!--==========================================================================-->
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <!--== ADE ===================================================================-->
  <element name="_GenericApplicationPropertyOfXP_RasterplanBasis" type="anyType" abstract="true" />
  <!--==========================================================================-->
  <simpleType name="XP_VersionBauNVOType">
    <restriction base="string">
      <enumeration value="1000" />
      <enumeration value="2000" />
      <enumeration value="3000" />
      <enumeration value="4000" />
      <enumeration value="9999" />
    </restriction>
  </simpleType>
  <simpleType name="XP_AbweichungBauNVOTypenType">
    <annotation>
      <documentation>Aufzählung verschiedener Möglichkeiten, von den nach BauNVO standardmäßig festgelegten baulichen Nutzungen abzuweichen.</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="1000">
        <annotation>
          <documentation>Einschränkung einer generell erlaubten Nutzung.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="2000">
        <annotation>
          <documentation>Ausschluss einer generell erlaubten Nutzung.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="3000">
        <annotation>
          <documentation>Freigabe einer eingeschränkten Nutzung.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="9999">
        <annotation>
          <documentation>Sonstige Abweichung.</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <element abstract="true" name="XP_TPO" substitutionGroup="xplan:XP_AbstraktesPraesentationsobjekt" type="xplan:XP_TPOType">
    <annotation>
      <documentation>Textförmiges Präsentationsobjekt. Entspricht der ALKIS Objektklasse AP_TPO



</documentation>
    </annotation>
  </element>
  <complexType abstract="true" name="XP_TPOType">
    <complexContent>
      <extension base="xplan:XP_AbstraktesPraesentationsobjektType">
        <sequence>
          <element minOccurs="0" name="schriftinhalt" type="string" />
          <element minOccurs="0" name="fontSperrung" type="double" />
          <element minOccurs="0" name="skalierung" type="double" />
          <element minOccurs="0" name="horizontaleAusrichtung" type="xplan:XP_HorizontaleAusrichtungType">
            <annotation>
              <documentation>Gibt die Ausrichtung des Textes bezüglich der Textgeometrie an.

linksbündig : Der Text beginnt an der Punktgeometrie bzw. am Anfangspunkt der Liniengeometrie.

rechtsbündig: Der Text endet an der Punktgeometrie bzw. am Endpunkt der Liniengeometrie

zentrisch: Der Text erstreckt sich von der Punktgeometrie gleich weit nach links und rechts bzw. steht auf der Mitte der Standlinie.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="vertikaleAusrichtung" type="xplan:XP_VertikaleAusrichtungType">
            <annotation>
              <documentation>Die vertikale Ausrichtung eines Textes gibt an, ob die Bezugsgeometrie die Basis (Grundlinie) des Textes, die Mitte oder obere Buchstabenbegrenzung betrifft.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="hat" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">xplan:XP_LPO</targetElement>
              </appinfo>
            </annotation>
          </element>
          <!--== ADE ===================================================================-->
          <element ref="xplan:_GenericApplicationPropertyOfXP_TPO" minOccurs="0" maxOccurs="unbounded" />
          <!--==========================================================================-->
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <!--== ADE ===================================================================-->
  <element name="_GenericApplicationPropertyOfXP_TPO" type="anyType" abstract="true" />
  <!--==========================================================================-->
  <simpleType name="XP_ZweckbestimmungGruenType">
    <restriction base="string">
      <enumeration value="1000">
        <annotation>
          <documentation>Parkanlage; auch: Erholungsgrün, Grünanlage, Naherholung.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="1200">
        <annotation>
          <documentation>Dauerkleingarten; auch: Gartenfläche, Hofgärten, Gartenland</documentation>
        </annotation>
      </enumeration>
      <enumeration value="1400">
        <annotation>
          <documentation>Sportplatz</documentation>
        </annotation>
      </enumeration>
      <enumeration value="1600">
        <annotation>
          <documentation>Spielplatz</documentation>
        </annotation>
      </enumeration>
      <enumeration value="1800">
        <annotation>
          <documentation>Zeltplatz</documentation>
        </annotation>
      </enumeration>
      <enumeration value="2000">
        <annotation>
          <documentation>Badeplatz, auch Schwimmbad, Liegewiese</documentation>
        </annotation>
      </enumeration>
      <enumeration value="2200">
        <annotation>
          <documentation>Anlage für Freizeit und Erholung.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="2400">
        <annotation>
          <documentation>Spezielle Grünfläche</documentation>
        </annotation>
      </enumeration>
      <enumeration value="2600">
        <annotation>
          <documentation>Friedhof</documentation>
        </annotation>
      </enumeration>
      <enumeration value="9999">
        <annotation>
          <documentation>Sonstiges</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <element name="XP_SPEMassnahmenDaten" substitutionGroup="gml:AbstractObject" type="xplan:XP_SPEMassnahmenDatenType">
    <annotation>
      <documentation>Fasst die Attribute zur Spezifikation einer Schutz-, Pflege- oder Entwicklungsmassnahme zusammen.</documentation>
    </annotation>
  </element>
  <complexType name="XP_SPEMassnahmenDatenType">
    <sequence>
      <element minOccurs="0" name="klassifizMassnahme" type="xplan:XP_SPEMassnahmenTypenType">
        <annotation>
          <documentation>Klassifikation der Maßnahme</documentation>
        </annotation>
      </element>
      <element minOccurs="0" name="massnahmeText" type="string" />
      <element minOccurs="0" name="massnahmeKuerzel" type="string" />
      <!--== ADE ===================================================================-->
      <element ref="xplan:_GenericApplicationPropertyOfXP_SPEMassnahmenDaten" minOccurs="0" maxOccurs="unbounded" />
      <!--==========================================================================-->
    </sequence>
  </complexType>
  <!--== ADE ===================================================================-->
  <element name="_GenericApplicationPropertyOfXP_SPEMassnahmenDaten" type="anyType" abstract="true" />
  <!--==========================================================================-->
  <complexType name="XP_SPEMassnahmenDatenPropertyType">
    <sequence>
      <element ref="xplan:XP_SPEMassnahmenDaten" />
    </sequence>
  </complexType>
  <element name="XP_LPO" substitutionGroup="xplan:XP_AbstraktesPraesentationsobjekt" type="xplan:XP_LPOType">
    <annotation>
      <documentation>Linienförmiges Präsentationsobjekt Entspricht der ALKIS Objektklasse AP_LPO mit der Einschrängung, dass der Raumbezug nur durch eine einzelne Kurve hergestellt wird.</documentation>
    </annotation>
  </element>
  <complexType name="XP_LPOType">
    <complexContent>
      <extension base="xplan:XP_AbstraktesPraesentationsobjektType">
        <sequence>
          <element name="position" type="gml:GeometryPropertyType" />
          <!--== ADE ===================================================================-->
          <element ref="xplan:_GenericApplicationPropertyOfXP_LPO" minOccurs="0" maxOccurs="unbounded" />
          <!--==========================================================================-->
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <!--== ADE ===================================================================-->
  <element name="_GenericApplicationPropertyOfXP_LPO" type="anyType" abstract="true" />
  <!--==========================================================================-->
  <element name="XP_IntegerAttribut" substitutionGroup="xplan:XP_GenerAttribut" type="xplan:XP_IntegerAttributType">
    <annotation>
      <documentation>Generische Attribute vom Datentyp "</documentation>
    </annotation>
  </element>
  <complexType name="XP_IntegerAttributType">
    <complexContent>
      <extension base="xplan:XP_GenerAttributType">
        <sequence>
          <element name="wert" type="integer" />
          <!--== ADE ===================================================================-->
          <element ref="xplan:_GenericApplicationPropertyOfXP_IntegerAttribut" minOccurs="0" maxOccurs="unbounded" />
          <!--==========================================================================-->
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <!--== ADE ===================================================================-->
  <element name="_GenericApplicationPropertyOfXP_IntegerAttribut" type="anyType" abstract="true" />
  <!--==========================================================================-->
  <complexType name="XP_IntegerAttributPropertyType">
    <sequence>
      <element ref="xplan:XP_IntegerAttribut" />
    </sequence>
  </complexType>
  <element name="XP_VerfahrensMerkmal" substitutionGroup="gml:AbstractObject" type="xplan:XP_VerfahrensMerkmalType">
    <annotation>
      <documentation>Vermerk eines am Planungssverfahrens beteiligten Akteurs.</documentation>
    </annotation>
  </element>
  <complexType name="XP_VerfahrensMerkmalType">
    <sequence>
      <element name="vermerk" type="string" />
      <element name="datum" type="date" />
      <element name="signatur" type="string" />
      <element name="signiert" type="boolean" />
      <!--== ADE ===================================================================-->
      <element ref="xplan:_GenericApplicationPropertyOfXP_VerfahrensMerkmal" minOccurs="0" maxOccurs="unbounded" />
      <!--==========================================================================-->
    </sequence>
  </complexType>
  <!--== ADE ===================================================================-->
  <element name="_GenericApplicationPropertyOfXP_VerfahrensMerkmal" type="anyType" abstract="true" />
  <!--==========================================================================-->
  <complexType name="XP_VerfahrensMerkmalPropertyType">
    <sequence>
      <element ref="xplan:XP_VerfahrensMerkmal" />
    </sequence>
  </complexType>
  <element name="XP_DatumAttribut" substitutionGroup="xplan:XP_GenerAttribut" type="xplan:XP_DatumAttributType">
    <annotation>
      <documentation>Generische Attribute vom Datentyp "Datum"</documentation>
    </annotation>
  </element>
  <complexType name="XP_DatumAttributType">
    <complexContent>
      <extension base="xplan:XP_GenerAttributType">
        <sequence>
          <element name="wert" type="date" />
          <!--== ADE ===================================================================-->
          <element ref="xplan:_GenericApplicationPropertyOfXP_DatumAttribut" minOccurs="0" maxOccurs="unbounded" />
          <!--==========================================================================-->
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <!--== ADE ===================================================================-->
  <element name="_GenericApplicationPropertyOfXP_DatumAttribut" type="anyType" abstract="true" />
  <!--==========================================================================-->
  <complexType name="XP_DatumAttributPropertyType">
    <sequence>
      <element ref="xplan:XP_DatumAttribut" />
    </sequence>
  </complexType>
  <simpleType name="XP_HorizontaleAusrichtungType">
    <annotation>
      <documentation>Enumeration der definierten horizontalen Fontausrichtungen</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="linksbündig">
        <annotation>
          <documentation>Text linksbündig am Textpunkt bzw. am ersten Punkt der Linie.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="rechtsbündig">
        <annotation>
          <documentation>Text rechtsbündig am Textpunkt bzw. am letzten Punkt der Linie.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="zentrisch">
        <annotation>
          <documentation>Text zentriert am Textpunkt bzw. in der Mitte der Textstandlinie.</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="XP_BesondereZweckbestGemeinbedarfType">
    <restriction base="string">
      <enumeration value="10000">
        <annotation>
          <documentation>Kommunale Einrichtung wie z. B. Rathaus, Gesundheitsamt, Gesundheitsfürsorgestelle, Gartenbauamt, Gartenarbeitsstützpunkt, Fuhrpark.

</documentation>
        </annotation>
      </enumeration>
      <enumeration value="10001">
        <annotation>
          <documentation>Betrieb mit öffentlicher Zweckbestimmung wie z.B. ein Stadtreinigungsbetrieb, Autobusbetriebshof, Omnibusbahnhof.

</documentation>
        </annotation>
      </enumeration>
      <enumeration value="10002">
        <annotation>
          <documentation>Eine Anlage des Bundes oder eines Bundeslandes wie z. B.  Arbeitsamt, Autobahnmeisterei, Brückenmeisterei, Patentamt, Wasserbauhof, Finanzamt.

</documentation>
        </annotation>
      </enumeration>
      <enumeration value="10003">
        <annotation>
          <documentation>Sonstige Einrichtung oder Anlage der öffentlichen Verwaltung wie z. B. die Industrie und Handelskammer oder Handwerkskammer.

</documentation>
        </annotation>
      </enumeration>
      <enumeration value="12000">
        <annotation>
          <documentation>Schulische Einrichtung. Darunter fallen u. a. Allgemeinbildende Schule, Oberstufenzentrum, Sonderschule, Fachschule, Volkshochschule,

Konservatorium.

</documentation>
        </annotation>
      </enumeration>
      <enumeration value="12001">
        <annotation>
          <documentation>Hochschule, Fachhochschule, Berufsakademie, o. Ä.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="12002">
        <annotation>
          <documentation>Berufsbildende Schule</documentation>
        </annotation>
      </enumeration>
      <enumeration value="12003">
        <annotation>
          <documentation>Forschungseinrichtung, Forschungsinstitut.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="12004">
        <annotation>
          <documentation>Sonstige Anlage oder Einrichtung aus Bildung und Forschung.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="14000">
        <annotation>
          <documentation>Religiösen Zwecken dienendes Gebäude wie z. B. Kirche, 

 Kapelle, Moschee, Synagoge, Gebetssaal.

</documentation>
        </annotation>
      </enumeration>
      <enumeration value="14001">
        <annotation>
          <documentation>Kirchliches Verwaltungsgebäude, z. B. Pfarramt, Bischöfliches Ordinariat, Konsistorium.

</documentation>
        </annotation>
      </enumeration>
      <enumeration value="14002">
        <annotation>
          <documentation>Religiöse Gemeinde- oder Versammlungseinrichtung, z. B. Gemeindehaus, Gemeindezentrum.

</documentation>
        </annotation>
      </enumeration>
      <enumeration value="14003">
        <annotation>
          <documentation>Sonstige religiösen Zwecken dienene Anlage oder Einrichtung.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="16000">
        <annotation>
          <documentation>Soziale Einrichtung für Kinder, wie z. B. Kinderheim, Kindertagesstätte, Kindergarten.

</documentation>
        </annotation>
      </enumeration>
      <enumeration value="16001">
        <annotation>
          <documentation>Soziale Einrichtung für Jugendliche, wie z. B. Jugendfreizeitheim/-stätte, Jugendgästehaus, Jugendherberge, Jugendheim.

</documentation>
        </annotation>
      </enumeration>
      <enumeration value="16002">
        <annotation>
          <documentation>Soziale Einrichtung für Familien und Erwachsene, wie z. B. Bildungszentrum, Volkshochschuole, Kleinkinderfürsorgestelle, Säuglingsfürsorgestelle, Nachbarschaftsheim.

</documentation>
        </annotation>
      </enumeration>
      <enumeration value="16003">
        <annotation>
          <documentation>Soziale Einrichtung für Senioren, wie z. B. Alten-/Seniorentagesstätte, Alten-/Seniorenheim, Alten-/Seniorenwohnheim, Altersheim.

</documentation>
        </annotation>
      </enumeration>
      <enumeration value="16004">
        <annotation>
          <documentation>Sonstige soziale Einrichtung, z. B. Pflegeheim, Schwesternwohnheim, Studentendorf, Studentenwohnheim. Tierheim, Übergangsheim.

</documentation>
        </annotation>
      </enumeration>
      <enumeration value="18000">
        <annotation>
          <documentation>Krankenhaus oder vergleichbare Einrichtung (z. B. Klinik, Hospital, Krankenheim, Heil- und Pflegeanstalt),

</documentation>
        </annotation>
      </enumeration>
      <enumeration value="18001">
        <annotation>
          <documentation>Sonstige Gesundsheits-Einrichtung, z. B. Sanatorium, Kurklinik, Desinfektionsanstalt.

</documentation>
        </annotation>
      </enumeration>
      <enumeration value="20000">
        <annotation>
          <documentation>Kulturelle Einrichtung aus dem Bereich Musik oder Theater (z. B. Theater, Konzerthaus, Musikhalle, Oper).</documentation>
        </annotation>
      </enumeration>
      <enumeration value="20001">
        <annotation>
          <documentation>Kulturelle Einrichtung mit Bildungsfunktion ( z. B. Museum, Bibliothek, Bücherei, Stadtbücherei, Volksbücherei).

</documentation>
        </annotation>
      </enumeration>
      <enumeration value="20002">
        <annotation>
          <documentation>Sonstige kulturelle Einrichtung, wie z. B. Archiv, Landesbildstelle, Rundfunk und Fernsehen, Kongress- und Veranstaltungshalle, Mehrzweckhalle..

</documentation>
        </annotation>
      </enumeration>
      <enumeration value="22000">
        <annotation>
          <documentation>Schwimmbad, Freibad, Hallenbad, Schwimmhalle o. Ä..

</documentation>
        </annotation>
      </enumeration>
      <enumeration value="22001">
        <annotation>
          <documentation>Sportplatz, Sporthalle, Tennishalle o. Ä.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="22002">
        <annotation>
          <documentation>Sonstige Sporteinrichtung.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="24000">
        <annotation>
          <documentation>Einrichtung oder Anlage der Feuerwehr.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="24001">
        <annotation>
          <documentation>Schutzbauwerk</documentation>
        </annotation>
      </enumeration>
      <enumeration value="24002">
        <annotation>
          <documentation>Einrichtung der Justiz, wie z. B. Justizvollzug, Gericht, Haftanstalt.

</documentation>
        </annotation>
      </enumeration>
      <enumeration value="24003">
        <annotation>
          <documentation>Sonstige Anlage oder Einrichtung für Sicherheit und Ordnung, z. B. Polizei, Zoll, Feuerwehr, Zivilschutz, Bundeswehr, Landesverteidigung.

</documentation>
        </annotation>
      </enumeration>
      <enumeration value="26000">
        <annotation>
          <documentation>Einrichtung der Post.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="26001">
        <annotation>
          <documentation>Sonstige Anlage oder Einrichtung der Infrastruktur.</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <element name="XP_LTO" substitutionGroup="xplan:XP_TPO" type="xplan:XP_LTOType">
    <annotation>
      <documentation>Textförmiges Präsentationsobjekt mit linienförmiger Textgeometrie. Entspricht der ALKIS-Objektklasse AP_LTO.</documentation>
    </annotation>
  </element>
  <complexType name="XP_LTOType">
    <complexContent>
      <extension base="xplan:XP_TPOType">
        <sequence>
          <element name="position" type="gml:GeometryPropertyType" />
          <!--== ADE ===================================================================-->
          <element ref="xplan:_GenericApplicationPropertyOfXP_LTO" minOccurs="0" maxOccurs="unbounded" />
          <!--==========================================================================-->
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <!--== ADE ===================================================================-->
  <element name="_GenericApplicationPropertyOfXP_LTO" type="anyType" abstract="true" />
  <!--==========================================================================-->
  <simpleType name="XP_ZweckbestimmungGewaesserType">
    <annotation>
      <documentation>Aufzählung der Zweckbestimmungen von Gewässern.</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="1000" />
      <enumeration value="1100" />
      <enumeration value="1200" />
      <enumeration value="9999">
        <annotation>
          <documentation>Sonstiges</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <element name="XP_PPO" substitutionGroup="xplan:XP_AbstraktesPraesentationsobjekt" type="xplan:XP_PPOType">
    <annotation>
      <documentation>Punktförmiges Präsentationsobjekt. Entspricht der ALKIS-Objektklasse AP_PPO unter der Einaschränkung, das der Raumbezug nur durch einen einzelnen Punkt hergestellt wird.</documentation>
    </annotation>
  </element>
  <complexType name="XP_PPOType">
    <complexContent>
      <extension base="xplan:XP_AbstraktesPraesentationsobjektType">
        <sequence>
          <element name="position" type="gml:GeometryPropertyType" />
          <element minOccurs="0" name="drehwinkel" type="gml:AngleType" />
          <element minOccurs="0" name="skalierung" type="double" />
          <!--== ADE ===================================================================-->
          <element ref="xplan:_GenericApplicationPropertyOfXP_PPO" minOccurs="0" maxOccurs="unbounded" />
          <!--==========================================================================-->
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <!--== ADE ===================================================================-->
  <element name="_GenericApplicationPropertyOfXP_PPO" type="anyType" abstract="true" />
  <!--==========================================================================-->
  <simpleType name="XP_BesondereZweckbestimmungVerEntsorgungType">
    <restriction base="string">
      <enumeration value="10000" />
      <enumeration value="10001" />
      <enumeration value="10002" />
      <enumeration value="10003" />
      <enumeration value="10004" />
      <enumeration value="10005" />
      <enumeration value="10006" />
      <enumeration value="10007" />
      <enumeration value="10008" />
      <enumeration value="10009" />
      <enumeration value="10010" />
      <enumeration value="12000" />
      <enumeration value="12001" />
      <enumeration value="12002" />
      <enumeration value="12003" />
      <enumeration value="12004" />
      <enumeration value="12005" />
      <enumeration value="13000" />
      <enumeration value="13001" />
      <enumeration value="13002" />
      <enumeration value="13003" />
      <enumeration value="14000" />
      <enumeration value="14001" />
      <enumeration value="14002" />
      <enumeration value="16000" />
      <enumeration value="16001" />
      <enumeration value="16002" />
      <enumeration value="16003" />
      <enumeration value="16004" />
      <enumeration value="16005" />
      <enumeration value="18000" />
      <enumeration value="18001" />
      <enumeration value="18002" />
      <enumeration value="18003" />
      <enumeration value="18004" />
      <enumeration value="18005" />
      <enumeration value="20000" />
      <enumeration value="20001" />
      <enumeration value="22000" />
      <enumeration value="22001" />
      <enumeration value="22002" />
      <enumeration value="22003" />
      <enumeration value="24000" />
      <enumeration value="24001" />
      <enumeration value="24002" />
      <enumeration value="24003" />
      <enumeration value="24004" />
      <enumeration value="24005" />
      <enumeration value="26000" />
      <enumeration value="26001" />
      <enumeration value="26002" />
      <enumeration value="99990" />
    </restriction>
  </simpleType>
  <simpleType name="XP_ZweckbestimmungWaldType">
    <restriction base="string">
      <enumeration value="1000" />
      <enumeration value="1200" />
      <enumeration value="1400">
        <annotation>
          <documentation>Erholungswald</documentation>
        </annotation>
      </enumeration>
      <enumeration value="1600">
        <annotation>
          <documentation>Schutzwald</documentation>
        </annotation>
      </enumeration>
      <enumeration value="1800" />
      <enumeration value="9999">
        <annotation>
          <documentation>Sonstiges</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
</schema>