deegree-workspaces/deegree-workspace-xplan40/src/main/webapp/WEB-INF/workspace/schemas/xplan4.0/XPlanGML_Regionalplanung_NRW.xsd

<?xml version="1.0" encoding="ISO-8859-1"?>
<schema 
  xmlns="http://www.w3.org/2001/XMLSchema" 
  xmlns:gml="http://www.opengis.net/gml/3.2" 
  xmlns:xplan="http://www.xplanung.de/xplangml/4/0" 
  elementFormDefault="qualified" targetNamespace="http://www.xplanung.de/xplangml/4/0" version="4.0">
  <annotation>
    <documentation>Dies Paket enthält alle Klassen des spezifischen Modells für die Regionalplanung in NRW.</documentation>
  </annotation>
  
  <include schemaLocation="XPlanGML_Regionalplanung_Kernmodell.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="./gml/3.2.1/gml.xsd"/>
  
  <!--XML Schema document created by ShapeChange-->
  <element name="RP_NRW_AufschuettungAblagerung" substitutionGroup="xplan:RP_SonstigerFreiraumstruktur" type="xplan:RP_NRW_AufschuettungAblagerungType">
    <annotation>
      <documentation>Aufschüttungen/Ablagerungen (2ea)</documentation>
    </annotation>
  </element>
  <complexType name="RP_NRW_AufschuettungAblagerungType">
    <complexContent>
      <extension base="xplan:RP_SonstigerFreiraumstrukturType">
        <sequence>
          <element minOccurs="0" name="zweckbestimmung" type="xplan:RP_NRW_AufschuettungAblagerungTypenType"/>
          <element minOccurs="0" name="detailZweckbestimmung" type="gml:CodeType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <element name="RP_NRW_OberflaechennaheBodenschaetze" substitutionGroup="xplan:RP_Rohstoffsicherung" type="xplan:RP_NRW_OberflaechennaheBodenschaetzeType">
    <annotation>
      <documentation>oberflächennahe Bodenschätze (2eb)</documentation>
    </annotation>
  </element>
  <complexType name="RP_NRW_OberflaechennaheBodenschaetzeType">
    <complexContent>
      <extension base="xplan:RP_RohstoffsicherungType">
        <sequence>
          <element minOccurs="0" name="folgenutzung" type="xplan:RP_NRW_TagebauFolgenutzungType"/>
          <element minOccurs="0" name="folgenutzungText" type="string"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <element name="RP_NRW_SonstVerkehr" substitutionGroup="xplan:RP_Verkehr" type="xplan:RP_NRW_SonstVerkehrType">
    <annotation>
      <documentation>Sonstiger Verkehr</documentation>
    </annotation>
  </element>
  <complexType name="RP_NRW_SonstVerkehrType">
    <complexContent>
      <extension base="xplan:RP_VerkehrType">
        <sequence>
          <element name="sonstVerkehrrTyp" type="gml:CodeType"/>
          <element minOccurs="0" name="bezeichnung" type="string"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <simpleType name="RP_NRW_LuftverkehrTypenType">
    <restriction base="string">
      <enumeration value="1000"/>
      <enumeration value="1500"/>
      <enumeration value="2000"/>
      <enumeration value="2500"/>
      <enumeration value="3000"/>
      <enumeration value="3500"/>
      <enumeration value="4000"/>
      <enumeration value="4500"/>
      <enumeration value="9999"/>
    </restriction>
  </simpleType>
  <element name="RP_NRW_Strassenverkehr" substitutionGroup="xplan:RP_Verkehr" type="xplan:RP_NRW_StrassenverkehrType">
    <annotation>
      <documentation>Strassenverkehr</documentation>
    </annotation>
  </element>
  <complexType name="RP_NRW_StrassenverkehrType">
    <complexContent>
      <extension base="xplan:RP_VerkehrType">
        <sequence>
          <element minOccurs="0" name="strassenverkehrTyp" type="xplan:RP_NRW_StrassenverkehrTypenType"/>
          <element minOccurs="0" name="sonstTyp" type="gml:CodeType"/>
          <element minOccurs="0" name="status" type="xplan:RP_NRW_StrassenverkehrStatusType"/>
          <element minOccurs="0" name="bezeichnung" type="string"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <element name="RP_NRW_Schienenverkehr" substitutionGroup="xplan:RP_Verkehr" type="xplan:RP_NRW_SchienenverkehrType">
    <annotation>
      <documentation>Schienenverkehr</documentation>
    </annotation>
  </element>
  <complexType name="RP_NRW_SchienenverkehrType">
    <complexContent>
      <extension base="xplan:RP_VerkehrType">
        <sequence>
          <element minOccurs="0" name="schienenverkehrTyp" type="xplan:RP_NRW_SchienenverkehrTypenType"/>
          <element minOccurs="0" name="sonstTyp" type="gml:CodeType"/>
          <element minOccurs="0" name="status" type="xplan:RP_NRW_SchienenverkehrStatusType"/>
          <element minOccurs="0" name="bezeichnung" type="string"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <element name="RP_NRW_Naturschutz" substitutionGroup="xplan:RP_NaturLandschaft" type="xplan:RP_NRW_NaturschutzType">
    <annotation>
      <documentation>Schutz der Natur (2da)</documentation>
    </annotation>
  </element>
  <complexType name="RP_NRW_NaturschutzType">
    <complexContent>
      <extension base="xplan:RP_NaturLandschaftType">
        <sequence>
          <element minOccurs="0" name="typ" type="xplan:RP_NRW_NaturschutzTypenType"/>
          <element minOccurs="0" name="massnahmen" type="string"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <element name="RP_NRW_Laermschutzzone" substitutionGroup="xplan:RP_Laermschutzbereich" type="xplan:RP_NRW_LaermschutzzoneType"/>
  <complexType name="RP_NRW_LaermschutzzoneType">
    <complexContent>
      <extension base="xplan:RP_LaermschutzbereichType">
        <sequence>
          <element name="zone" type="xplan:RP_NRW_LaermschutzzoneTypenType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <simpleType name="RP_NRW_WasserschutzTypenType">
    <restriction base="string">
      <enumeration value="1000"/>
      <enumeration value="2000"/>
      <enumeration value="3000"/>
      <enumeration value="9999"/>
    </restriction>
  </simpleType>
  <simpleType name="RP_NRW_WasserverkehrTypenType">
    <restriction base="string">
      <enumeration value="1000"/>
      <enumeration value="2000"/>
      <enumeration value="9999"/>
    </restriction>
  </simpleType>
  <simpleType name="RP_NRW_LandschaftsschutzTypenType">
    <restriction base="string">
      <enumeration value="1000"/>
      <enumeration value="2000"/>
      <enumeration value="3000"/>
      <enumeration value="9999"/>
    </restriction>
  </simpleType>
  <element name="RP_NRW_SonstigeInfrastruktur" substitutionGroup="xplan:RP_SonstigeInfrastruktur" type="xplan:RP_NRW_SonstigeInfrastrukturType">
    <annotation>
      <documentation>Sonstige Infrastruktur</documentation>
    </annotation>
  </element>
  <complexType name="RP_NRW_SonstigeInfrastrukturType">
    <complexContent>
      <extension base="xplan:RP_SonstigeInfrastrukturType">
        <sequence>
          <element minOccurs="0" name="typ" type="gml:CodeType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <simpleType name="RP_NRW_TagebauFolgenutzungType">
    <restriction base="string">
      <enumeration value="1000"/>
      <enumeration value="2000"/>
      <enumeration value="3000"/>
      <enumeration value="9999"/>
    </restriction>
  </simpleType>
  <element name="RP_NRW_GIB" substitutionGroup="xplan:RP_GemeindeFunktionSiedlungsentwicklung" type="xplan:RP_NRW_GIBType">
    <annotation>
      <documentation>Bereich für gewerbliche und industrielle Nutzungen (GIB) (1d)</documentation>
    </annotation>
  </element>
  <complexType name="RP_NRW_GIBType">
    <complexContent>
      <extension base="xplan:RP_GemeindeFunktionSiedlungsentwicklungType">
        <sequence>
          <element maxOccurs="unbounded" minOccurs="0" name="zweckbindung" type="xplan:RP_NRW_GIB_ZweckbindungenType"/>
          <element minOccurs="0" name="sonstZweckbindung" type="gml:CodeType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <simpleType name="RP_NRW_ForstwirtschaftTypenType">
    <restriction base="string">
      <enumeration value="1000"/>
      <enumeration value="2000"/>
      <enumeration value="3000"/>
      <enumeration value="9999"/>
    </restriction>
  </simpleType>
  <simpleType name="RP_NRW_StrassenverkehrStatusType">
    <restriction base="string">
      <enumeration value="1000"/>
      <enumeration value="2000"/>
      <enumeration value="9999"/>
    </restriction>
  </simpleType>
  <simpleType name="RP_NRW_StrassenverkehrTypenType">
    <restriction base="string">
      <enumeration value="1000"/>
      <enumeration value="2000"/>
      <enumeration value="2500"/>
      <enumeration value="9999"/>
    </restriction>
  </simpleType>
  <element name="RP_NRW_Luftverkehr" substitutionGroup="xplan:RP_Verkehr" type="xplan:RP_NRW_LuftverkehrType">
    <annotation>
      <documentation>Luftverkehr</documentation>
    </annotation>
  </element>
  <complexType name="RP_NRW_LuftverkehrType">
    <complexContent>
      <extension base="xplan:RP_VerkehrType">
        <sequence>
          <element minOccurs="0" name="luftverkehrTyp" type="xplan:RP_NRW_LuftverkehrTypenType"/>
          <element minOccurs="0" name="sonstTyp" type="gml:CodeType"/>
          <element minOccurs="0" name="bezeichnung" type="string"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <simpleType name="RP_NRW_SchienenverkehrTypenType">
    <restriction base="string">
      <enumeration value="1000"/>
      <enumeration value="2000"/>
      <enumeration value="3000"/>
      <enumeration value="4000"/>
      <enumeration value="5000"/>
      <enumeration value="6000"/>
      <enumeration value="9999"/>
    </restriction>
  </simpleType>
  <simpleType name="RP_NRW_AgrarbereichTypenType">
    <restriction base="string">
      <enumeration value="1000"/>
      <enumeration value="2000"/>
      <enumeration value="3000"/>
      <enumeration value="4000"/>
      <enumeration value="9999"/>
    </restriction>
  </simpleType>
  <element name="RP_NRW_Ueberschwemmungsbereich" substitutionGroup="xplan:RP_VorbHochwasserschutz" type="xplan:RP_NRW_UeberschwemmungsbereichType">
    <annotation>
      <documentation>Überschwemmungsbereiche (2de)</documentation>
    </annotation>
  </element>
  <complexType name="RP_NRW_UeberschwemmungsbereichType">
    <complexContent>
      <extension base="xplan:RP_VorbHochwasserschutzType">
        <sequence>
          <element minOccurs="0" name="typ" type="xplan:RP_NRW_UeberschwemmungsbereichTypenType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <simpleType name="RP_NRW_NaturschutzTypenType">
    <restriction base="string">
      <enumeration value="1000"/>
      <enumeration value="1100"/>
      <enumeration value="1200"/>
      <enumeration value="1400"/>
      <enumeration value="1500"/>
      <enumeration value="1700"/>
      <enumeration value="3000"/>
      <enumeration value="9999"/>
    </restriction>
  </simpleType>
  <element name="RP_NRW_Forstwirtschaft" substitutionGroup="xplan:RP_Forstwirtschaft" type="xplan:RP_NRW_ForstwirtschaftType">
    <annotation>
      <documentation>Waldbereiche (2b)</documentation>
    </annotation>
  </element>
  <complexType name="RP_NRW_ForstwirtschaftType">
    <complexContent>
      <extension base="xplan:RP_ForstwirtschaftType">
        <sequence>
          <element minOccurs="0" name="typ" type="xplan:RP_NRW_ForstwirtschaftTypenType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <element name="RP_NRW_Zeitlinie" substitutionGroup="xplan:RP_Rohstoffsicherung" type="xplan:RP_NRW_ZeitlinieType">
    <annotation>
      <documentation>Zeitlinie Braunkohle-Tagebau</documentation>
    </annotation>
  </element>
  <complexType name="RP_NRW_ZeitlinieType">
    <complexContent>
      <extension base="xplan:RP_RohstoffsicherungType">
        <sequence>
          <element minOccurs="0" name="zeitlinieText" type="string"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <simpleType name="RP_NRW_SchienenverkehrStatusType">
    <restriction base="string">
      <enumeration value="1000"/>
      <enumeration value="2000"/>
      <enumeration value="9999"/>
    </restriction>
  </simpleType>
  <element name="RP_NRW_SonstigeZweckbindung" substitutionGroup="xplan:RP_SonstigerFreiraumstruktur" type="xplan:RP_NRW_SonstigeZweckbindungType">
    <annotation>
      <documentation>sonstige Zweckbindung (2ec)</documentation>
    </annotation>
  </element>
  <complexType name="RP_NRW_SonstigeZweckbindungType">
    <complexContent>
      <extension base="xplan:RP_SonstigerFreiraumstrukturType">
        <sequence>
          <element minOccurs="0" name="zweckbindung" type="gml:CodeType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <element name="RP_NRW_GrundwasserGewaesserschutz" substitutionGroup="xplan:RP_Wasserschutz" type="xplan:RP_NRW_GrundwasserGewaesserschutzType">
    <annotation>
      <documentation>Grundwasser- und Gewässerschutz (2dd)</documentation>
    </annotation>
  </element>
  <complexType name="RP_NRW_GrundwasserGewaesserschutzType">
    <complexContent>
      <extension base="xplan:RP_WasserschutzType">
        <sequence>
          <element minOccurs="0" name="typ" type="xplan:RP_NRW_WasserschutzTypenType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <simpleType name="RP_NRW_AufschuettungAblagerungTypenType">
    <restriction base="string">
      <enumeration value="1000"/>
      <enumeration value="2000"/>
      <enumeration value="9999"/>
    </restriction>
  </simpleType>
  <simpleType name="RP_NRW_ASB_ZweckbindungenType">
    <restriction base="string">
      <enumeration value="1000"/>
      <enumeration value="1500"/>
      <enumeration value="2000"/>
      <enumeration value="2500"/>
      <enumeration value="3000"/>
      <enumeration value="3500"/>
      <enumeration value="4000"/>
      <enumeration value="9999"/>
    </restriction>
  </simpleType>
  <element name="RP_NRW_ASB" substitutionGroup="xplan:RP_GemeindeFunktionSiedlungsentwicklung" type="xplan:RP_NRW_ASBType">
    <annotation>
      <documentation>Allgemeine Siedlungsbereiche (ASB)</documentation>
    </annotation>
  </element>
  <complexType name="RP_NRW_ASBType">
    <complexContent>
      <extension base="xplan:RP_GemeindeFunktionSiedlungsentwicklungType">
        <sequence>
          <element maxOccurs="unbounded" minOccurs="0" name="zweckbindung" type="xplan:RP_NRW_ASB_ZweckbindungenType"/>
          <element minOccurs="0" name="sonstZweckbindung" type="gml:CodeType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <element name="RP_NRW_Landschaftsschutz" substitutionGroup="xplan:RP_NaturLandschaft" type="xplan:RP_NRW_LandschaftsschutzType">
    <annotation>
      <documentation>Schutz der Landschaft/landschaftsorientierte Erholung (2db)</documentation>
    </annotation>
  </element>
  <complexType name="RP_NRW_LandschaftsschutzType">
    <complexContent>
      <extension base="xplan:RP_NaturLandschaftType">
        <sequence>
          <element minOccurs="0" name="typ" type="xplan:RP_NRW_LandschaftsschutzTypenType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <element name="RP_NRW_SonstigerSiedlungsbereich" substitutionGroup="xplan:RP_GemeindeFunktionSiedlungsentwicklung" type="xplan:RP_NRW_SonstigerSiedlungsbereichType">
    <annotation>
      <documentation>Sonstiger Siedlungsbereich</documentation>
    </annotation>
  </element>
  <complexType name="RP_NRW_SonstigerSiedlungsbereichType">
    <complexContent>
      <extension base="xplan:RP_GemeindeFunktionSiedlungsentwicklungType">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <element name="RP_NRW_OberflaechenGewaesser" substitutionGroup="xplan:RP_NaturLandschaft" type="xplan:RP_NRW_OberflaechenGewaesserType">
    <annotation>
      <documentation>Oberflächengewässer (2c)</documentation>
    </annotation>
  </element>
  <complexType name="RP_NRW_OberflaechenGewaesserType">
    <complexContent>
      <extension base="xplan:RP_NaturLandschaftType">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <simpleType name="RP_NRW_LaermschutzzoneTypenType">
    <restriction base="string">
      <enumeration value="1000"/>
      <enumeration value="2000"/>
      <enumeration value="3000"/>
    </restriction>
  </simpleType>
  <simpleType name="RP_NRW_GIB_ZweckbindungenType">
    <restriction base="string">
      <enumeration value="1000"/>
      <enumeration value="2000"/>
      <enumeration value="3000"/>
      <enumeration value="4000"/>
      <enumeration value="9999"/>
    </restriction>
  </simpleType>
  <simpleType name="RP_NRW_UeberschwemmungsbereichTypenType">
    <restriction base="string">
      <enumeration value="1000"/>
      <enumeration value="2000"/>
      <enumeration value="3000"/>
      <enumeration value="9999"/>
    </restriction>
  </simpleType>
  <element name="RP_NRW_Wasserverkehr" substitutionGroup="xplan:RP_Verkehr" type="xplan:RP_NRW_WasserverkehrType">
    <annotation>
      <documentation>Wasserverkehr</documentation>
    </annotation>
  </element>
  <complexType name="RP_NRW_WasserverkehrType">
    <complexContent>
      <extension base="xplan:RP_VerkehrType">
        <sequence>
          <element minOccurs="0" name="wasserverkehrTyp" type="xplan:RP_NRW_WasserverkehrTypenType"/>
          <element minOccurs="0" name="sonstTyp" type="gml:CodeType"/>
          <element minOccurs="0" name="bezeichnung" type="string"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <element name="RP_NRW_FreiraumAgrarbereich" substitutionGroup="xplan:RP_Landwirtschaft" type="xplan:RP_NRW_FreiraumAgrarbereichType">
    <annotation>
      <documentation>Allgemeine Freiraum- und Argarbereiche (2a)</documentation>
    </annotation>
  </element>
  <complexType name="RP_NRW_FreiraumAgrarbereichType">
    <complexContent>
      <extension base="xplan:RP_LandwirtschaftType">
        <sequence>
          <element minOccurs="0" name="typ" type="xplan:RP_NRW_AgrarbereichTypenType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
</schema>
