deegree-workspaces/deegree-workspace-xplan40/src/main/webapp/WEB-INF/workspace/schemas/xplan4.0/XPlanGML_Landschaftsplanung_Kernmodell.xsd

<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<!--ADE-Erweiterung, Erstellungsdatum: 07/20/10-->
<schema 
  xmlns="http://www.w3.org/2001/XMLSchema" 
  xmlns:gml="http://www.opengis.net/gml/3.2" 
  xmlns:xplan="http://www.xplanung.de/xplangml/4/0" 
  elementFormDefault="qualified" targetNamespace="http://www.xplanung.de/xplangml/4/0" version="4.0">
  <annotation>
    <documentation>Dies Paket enthält alle Klassen des Kernmodells Landschaftsplanung.</documentation>
  </annotation>
  
  <include schemaLocation="XPlanGML_Basisschema.xsd" />
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="./gml/3.2.1/gml.xsd" />
  
  <!--XML Schema document created by ShapeChange-->
  <simpleType name="LP_RegelungenType">
    <restriction base="string">
      <enumeration value="1000" />
      <enumeration value="9999" />
    </restriction>
  </simpleType>
  <element name="LP_Forstrecht" substitutionGroup="xplan:LP_Geometrieobjekt" type="xplan:LP_ForstrechtType">
    <annotation>
      <documentation>Gebiete und Gebietsteile mit rechtlichen Bindungen nach anderen Fachgesetzen (soweit sie für den Schutz, die Pflege und die Entwicklung von Natur und Landschaft bedeutsam sind). Hier: Schutzgebiete und sonstige Flächen nach dem Bundeswaldgesetz.</documentation>
    </annotation>
  </element>
  <complexType name="LP_ForstrechtType">
    <complexContent>
      <extension base="xplan:LP_GeometrieobjektType">
        <sequence>
          <element minOccurs="0" name="typ" type="xplan:LP_ForstrechtTypenType" />
          <element minOccurs="0" name="detailTyp" type="gml:CodeType" />
          <!--== ADE ===================================================================-->
          <element ref="xplan:_GenericApplicationPropertyOfLP_Forstrecht" minOccurs="0" maxOccurs="unbounded" />
          <!--==========================================================================-->
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <!--== ADE ===================================================================-->
  <element name="_GenericApplicationPropertyOfLP_Forstrecht" type="anyType" abstract="true" />
  <!--==========================================================================-->
  <element name="LP_PlanerischeVertiefung" substitutionGroup="xplan:LP_Geometrieobjekt" type="xplan:LP_PlanerischeVertiefungType">
    <annotation>
      <documentation>Bereiche die einer planerischen Vertiefung bedürfen.</documentation>
    </annotation>
  </element>
  <complexType name="LP_PlanerischeVertiefungType">
    <complexContent>
      <extension base="xplan:LP_GeometrieobjektType">
        <sequence>
          <element minOccurs="0" name="vertiefung" type="string" />
          <!--== ADE ===================================================================-->
          <element ref="xplan:_GenericApplicationPropertyOfLP_PlanerischeVertiefung" minOccurs="0" maxOccurs="unbounded" />
          <!--==========================================================================-->
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <!--== ADE ===================================================================-->
  <element name="_GenericApplicationPropertyOfLP_PlanerischeVertiefung" type="anyType" abstract="true" />
  <!--==========================================================================-->
  <element name="LP_Bodenschutzrecht" substitutionGroup="xplan:LP_Geometrieobjekt" type="xplan:LP_BodenschutzrechtType">
    <annotation>
      <documentation>Gebiete und Gebietsteile mit rechtlichen Bindungen nach anderen Fachgesetzen (soweit sie für den Schutz, die Pflege und die Entwicklung von Natur und Landschaft bedeutsam sind). Hier: Flächen mit schädlichen Bodenveränderungen nach dem Bodenschutzgesetz.</documentation>
    </annotation>
  </element>
  <complexType name="LP_BodenschutzrechtType">
    <complexContent>
      <extension base="xplan:LP_GeometrieobjektType">
        <sequence>
          <element minOccurs="0" name="typ" type="xplan:LP_BodenschutzrechtTypenType" />
          <element minOccurs="0" name="detailTyp" type="gml:CodeType" />
          <!--== ADE ===================================================================-->
          <element ref="xplan:_GenericApplicationPropertyOfLP_Bodenschutzrecht" minOccurs="0" maxOccurs="unbounded" />
          <!--==========================================================================-->
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <!--== ADE ===================================================================-->
  <element name="_GenericApplicationPropertyOfLP_Bodenschutzrecht" type="anyType" abstract="true" />
  <!--==========================================================================-->
  <element name="LP_SchutzPflegeEntwicklung" substitutionGroup="xplan:LP_Geometrieobjekt" type="xplan:LP_SchutzPflegeEntwicklungType">
    <annotation>
      <documentation>Sonstige Flächen und Maßnahmen zum Schutz, zur Pflege und zur Entwicklung von Natur und Landschaft, soweit sie nicht durch die Klasse LP_Massnahme modelliert werden.</documentation>
    </annotation>
  </element>
  <complexType name="LP_SchutzPflegeEntwicklungType">
    <complexContent>
      <extension base="xplan:LP_GeometrieobjektType">
        <sequence>
          <element minOccurs="0" name="ziel" type="xplan:XP_SPEZieleType" />
          <element minOccurs="0" name="massnahme" type="xplan:XP_SPEMassnahmenTypenType" />
          <element minOccurs="0" name="massnahmeText" type="string" />
          <element minOccurs="0" name="massnahmeKuerzel" type="string" />
          <element minOccurs="0" name="istAusgleich" type="boolean" />
          <!--== ADE ===================================================================-->
          <element ref="xplan:_GenericApplicationPropertyOfLP_SchutzPflegeEntwicklung" minOccurs="0" maxOccurs="unbounded" />
          <!--==========================================================================-->
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <!--== ADE ===================================================================-->
  <element name="_GenericApplicationPropertyOfLP_SchutzPflegeEntwicklung" type="anyType" abstract="true" />
  <!--==========================================================================-->
  <simpleType name="LP_ForstrechtTypenType">
    <restriction base="string">
      <enumeration value="1000" />
      <enumeration value="2000" />
      <enumeration value="2100" />
      <enumeration value="2200" />
      <enumeration value="2300" />
      <enumeration value="2400" />
      <enumeration value="2500" />
      <enumeration value="3000" />
      <enumeration value="3100" />
      <enumeration value="3200" />
      <enumeration value="9999" />
    </restriction>
  </simpleType>
  <element name="LP_Ausgleich" substitutionGroup="xplan:LP_Geometrieobjekt" type="xplan:LP_AusgleichType">
    <annotation>
      <documentation>Flächen und Maßnahmen zum Ausgleich von Eingriffen im Sinne des §8 und 8A BNatSchG (in Verbindung mit §1a BauGB, Ausgleichs- und Ersatzmaßnahmen)</documentation>
    </annotation>
  </element>
  <complexType name="LP_AusgleichType">
    <complexContent>
      <extension base="xplan:LP_GeometrieobjektType">
        <sequence>
          <element minOccurs="0" name="ziel" type="xplan:XP_SPEZieleType" />
          <element minOccurs="0" name="massnahme" type="string" />
          <element minOccurs="0" name="massnahmeKuerzel" type="string" />
          <!--== ADE ===================================================================-->
          <element ref="xplan:_GenericApplicationPropertyOfLP_Ausgleich" minOccurs="0" maxOccurs="unbounded" />
          <!--==========================================================================-->
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <!--== ADE ===================================================================-->
  <element name="_GenericApplicationPropertyOfLP_Ausgleich" type="anyType" abstract="true" />
  <!--==========================================================================-->
  <element name="LP_WasserrechtSonstige" substitutionGroup="xplan:LP_Geometrieobjekt" type="xplan:LP_WasserrechtSonstigeType" />
  <complexType name="LP_WasserrechtSonstigeType">
    <complexContent>
      <extension base="xplan:LP_GeometrieobjektType">
        <sequence>
          <element minOccurs="0" name="typ" type="gml:CodeType" />
          <!--== ADE ===================================================================-->
          <element ref="xplan:_GenericApplicationPropertyOfLP_WasserrechtSonstige" minOccurs="0" maxOccurs="unbounded" />
          <!--==========================================================================-->
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <!--== ADE ===================================================================-->
  <element name="_GenericApplicationPropertyOfLP_WasserrechtSonstige" type="anyType" abstract="true" />
  <!--==========================================================================-->
  <simpleType name="LP_BodenschutzrechtTypenType">
    <restriction base="string">
      <enumeration value="1000" />
      <enumeration value="9999" />
    </restriction>
  </simpleType>
  <element name="LP_WasserrechtSchutzgebiet" substitutionGroup="xplan:LP_Geometrieobjekt" type="xplan:LP_WasserrechtSchutzgebietType" />
  <complexType name="LP_WasserrechtSchutzgebietType">
    <complexContent>
      <extension base="xplan:LP_GeometrieobjektType">
        <sequence>
          <element minOccurs="0" name="typ" type="xplan:LP_WasserrechtSchutzgebietTypenType" />
          <element minOccurs="0" name="detailTyp" type="gml:CodeType" />
          <element minOccurs="0" name="eigenname" type="string" />
          <!--== ADE ===================================================================-->
          <element ref="xplan:_GenericApplicationPropertyOfLP_WasserrechtSchutzgebiet" minOccurs="0" maxOccurs="unbounded" />
          <!--==========================================================================-->
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <!--== ADE ===================================================================-->
  <element name="_GenericApplicationPropertyOfLP_WasserrechtSchutzgebiet" type="anyType" abstract="true" />
  <!--==========================================================================-->
  <element abstract="true" name="LP_Flaechenobjekt" substitutionGroup="xplan:LP_Objekt" type="xplan:LP_FlaechenobjektType" />
  <complexType abstract="true" name="LP_FlaechenobjektType">
    <complexContent>
      <extension base="xplan:LP_ObjektType">
        <sequence>
          <element name="position" type="gml:GeometryPropertyType" />
          <!--== ADE ===================================================================-->
          <element ref="xplan:_GenericApplicationPropertyOfLP_Flaechenobjekt" minOccurs="0" maxOccurs="unbounded" />
          <!--==========================================================================-->
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <!--== ADE ===================================================================-->
  <element name="_GenericApplicationPropertyOfLP_Flaechenobjekt" type="anyType" abstract="true" />
  <!--==========================================================================-->
  <element name="LP_SchutzobjektInternatRecht" substitutionGroup="xplan:LP_Geometrieobjekt" type="xplan:LP_SchutzobjektInternatRechtType">
    <annotation>
      <documentation>Sonstige Schutzgebiete und Schutzobjekte nach internationalem Recht.</documentation>
    </annotation>
  </element>
  <complexType name="LP_SchutzobjektInternatRechtType">
    <complexContent>
      <extension base="xplan:LP_GeometrieobjektType">
        <sequence>
          <element minOccurs="0" name="typ" type="xplan:LP_InternatSchutzobjektTypenType" />
          <element minOccurs="0" name="sonstTyp" type="gml:CodeType" />
          <!--== ADE ===================================================================-->
          <element ref="xplan:_GenericApplicationPropertyOfLP_SchutzobjektInternatRecht" minOccurs="0" maxOccurs="unbounded" />
          <!--==========================================================================-->
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <!--== ADE ===================================================================-->
  <element name="_GenericApplicationPropertyOfLP_SchutzobjektInternatRecht" type="anyType" abstract="true" />
  <!--==========================================================================-->
  <element abstract="true" name="LP_Objekt" substitutionGroup="xplan:XP_Objekt" type="xplan:LP_ObjektType" />
  <complexType abstract="true" name="LP_ObjektType">
    <complexContent>
      <extension base="xplan:XP_ObjektType">
        <sequence>
          <element minOccurs="0" name="status" type="xplan:LP_StatusType" />
          <element minOccurs="0" name="konkretisierung" type="string" />
          <element maxOccurs="unbounded" minOccurs="0" name="gehoertZuLP_Bereich" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">xplan:LP_Bereich</targetElement>
                <reversePropertyName xmlns="http://www.opengis.net/gml/3.2">xplan:inhaltLPlan</reversePropertyName>
              </appinfo>
            </annotation>
          </element>
          <!--== ADE ===================================================================-->
          <element ref="xplan:_GenericApplicationPropertyOfLP_Objekt" minOccurs="0" maxOccurs="unbounded" />
          <!--==========================================================================-->
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <!--== ADE ===================================================================-->
  <element name="_GenericApplicationPropertyOfLP_Objekt" type="anyType" abstract="true" />
  <!--==========================================================================-->
  <element abstract="true" name="LP_Linienobjekt" substitutionGroup="xplan:LP_Objekt" type="xplan:LP_LinienobjektType" />
  <complexType abstract="true" name="LP_LinienobjektType">
    <complexContent>
      <extension base="xplan:LP_ObjektType">
        <sequence>
          <element name="position" type="gml:GeometryPropertyType" />
          <!--== ADE ===================================================================-->
          <element ref="xplan:_GenericApplicationPropertyOfLP_Linienobjekt" minOccurs="0" maxOccurs="unbounded" />
          <!--==========================================================================-->
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <!--== ADE ===================================================================-->
  <element name="_GenericApplicationPropertyOfLP_Linienobjekt" type="anyType" abstract="true" />
  <!--==========================================================================-->
  <element name="LP_SchutzobjektBundesrecht" substitutionGroup="xplan:LP_Geometrieobjekt" type="xplan:LP_SchutzobjektBundesrechtType">
    <annotation>
      <documentation>Schutzgebiete und Schutzobjekte nach Naturschutzrecht im Sinne des 4. Abschnittes des BNatSchG.</documentation>
    </annotation>
  </element>
  <complexType name="LP_SchutzobjektBundesrechtType">
    <complexContent>
      <extension base="xplan:LP_GeometrieobjektType">
        <sequence>
          <element minOccurs="0" name="typ" type="xplan:LP_ZweckbestimmungSchutzgebietType" />
          <element minOccurs="0" name="eigenname" type="string" />
          <!--== ADE ===================================================================-->
          <element ref="xplan:_GenericApplicationPropertyOfLP_SchutzobjektBundesrecht" minOccurs="0" maxOccurs="unbounded" />
          <!--==========================================================================-->
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <!--== ADE ===================================================================-->
  <element name="_GenericApplicationPropertyOfLP_SchutzobjektBundesrecht" type="anyType" abstract="true" />
  <!--==========================================================================-->
  <element name="LP_Biotopverbundflaeche" substitutionGroup="xplan:LP_Geometrieobjekt" type="xplan:LP_BiotopverbundflaecheType" />
  <complexType name="LP_BiotopverbundflaecheType">
    <complexContent>
      <extension base="xplan:LP_GeometrieobjektType">
        <sequence>
          <!--== ADE ===================================================================-->
          <element ref="xplan:_GenericApplicationPropertyOfLP_Biotopverbundflaeche" minOccurs="0" maxOccurs="unbounded" />
          <!--==========================================================================-->
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <!--== ADE ===================================================================-->
  <element name="_GenericApplicationPropertyOfLP_Biotopverbundflaeche" type="anyType" abstract="true" />
  <!--==========================================================================-->
  <element abstract="true" name="LP_Geometrieobjekt" substitutionGroup="xplan:LP_Objekt" type="xplan:LP_GeometrieobjektType" />
  <complexType abstract="true" name="LP_GeometrieobjektType">
    <complexContent>
      <extension base="xplan:LP_ObjektType">
        <sequence>
          <element name="position" type="gml:GeometryPropertyType" />
          <!--== ADE ===================================================================-->
          <element ref="xplan:_GenericApplicationPropertyOfLP_Geometrieobjekt" minOccurs="0" maxOccurs="unbounded" />
          <!--==========================================================================-->
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <!--== ADE ===================================================================-->
  <element name="_GenericApplicationPropertyOfLP_Geometrieobjekt" type="anyType" abstract="true" />
  <!--==========================================================================-->
  <element name="LP_Bereich" substitutionGroup="xplan:XP_Bereich" type="xplan:LP_BereichType" />
  <complexType name="LP_BereichType">
    <complexContent>
      <extension base="xplan:XP_BereichType">
        <sequence>
          <element name="gehoertZuPlan" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">xplan:LP_Plan</targetElement>
                <reversePropertyName xmlns="http://www.opengis.net/gml/3.2">xplan:bereich</reversePropertyName>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="inhaltLPlan" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">xplan:LP_Objekt</targetElement>
                <reversePropertyName xmlns="http://www.opengis.net/gml/3.2">xplan:gehoertZuLP_Bereich</reversePropertyName>
              </appinfo>
            </annotation>
          </element>
          <!--== ADE ===================================================================-->
          <element ref="xplan:_GenericApplicationPropertyOfLP_Bereich" minOccurs="0" maxOccurs="unbounded" />
          <!--==========================================================================-->
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <!--== ADE ===================================================================-->
  <element name="_GenericApplicationPropertyOfLP_Bereich" type="anyType" abstract="true" />
  <!--==========================================================================-->
  <element name="LP_Denkmalschutzrecht" substitutionGroup="xplan:LP_Geometrieobjekt" type="xplan:LP_DenkmalschutzrechtType">
    <annotation>
      <documentation>Gebiete und Gebietsteile mit rechtlichen Bindungen nach anderen Fachgesetzen (soweit sie für den Schutz, die Pflege und die Entwicklung von Natur und Landschaft bedeutsam sind). Hier: Flächen die dem Denkmalschutz unterliegen.</documentation>
    </annotation>
  </element>
  <complexType name="LP_DenkmalschutzrechtType">
    <complexContent>
      <extension base="xplan:LP_GeometrieobjektType">
        <sequence>
          <element minOccurs="0" name="detailTyp" type="gml:CodeType" />
          <!--== ADE ===================================================================-->
          <element ref="xplan:_GenericApplicationPropertyOfLP_Denkmalschutzrecht" minOccurs="0" maxOccurs="unbounded" />
          <!--==========================================================================-->
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <!--== ADE ===================================================================-->
  <element name="_GenericApplicationPropertyOfLP_Denkmalschutzrecht" type="anyType" abstract="true" />
  <!--==========================================================================-->
  <element name="LP_Zwischennutzung" substitutionGroup="xplan:LP_Geometrieobjekt" type="xplan:LP_ZwischennutzungType">
    <annotation>
      <documentation>Flächen und Maßnahmen mit zeitlich befristeten Bindungen zum Schutz, zur Pflege und zur Entwicklung von Natur und Landschaft ("Zwischennutzungsvorgaben")</documentation>
    </annotation>
  </element>
  <complexType name="LP_ZwischennutzungType">
    <complexContent>
      <extension base="xplan:LP_GeometrieobjektType">
        <sequence>
          <element minOccurs="0" name="ziel" type="xplan:XP_SPEZieleType" />
          <element minOccurs="0" name="bindung" type="string" />
          <element minOccurs="0" name="bindungKuerzel" type="string" />
          <!--== ADE ===================================================================-->
          <element ref="xplan:_GenericApplicationPropertyOfLP_Zwischennutzung" minOccurs="0" maxOccurs="unbounded" />
          <!--==========================================================================-->
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <!--== ADE ===================================================================-->
  <element name="_GenericApplicationPropertyOfLP_Zwischennutzung" type="anyType" abstract="true" />
  <!--==========================================================================-->
  <element name="LP_ErholungFreizeit" substitutionGroup="xplan:LP_Geometrieobjekt" type="xplan:LP_ErholungFreizeitType">
    <annotation>
      <documentation>Sonstige Gebiete, Objekte, Zweckbestimmungen oder Maßnahmen mit besonderen Funktionen für die landschaftsgebundene Erholung und Freizeit.</documentation>
    </annotation>
  </element>
  <complexType name="LP_ErholungFreizeitType">
    <complexContent>
      <extension base="xplan:LP_GeometrieobjektType">
        <sequence>
          <element minOccurs="0" name="funktion" type="xplan:LP_ErholungFreizeitFunktionenType" />
          <element minOccurs="0" name="weitereFunktion1" type="xplan:LP_ErholungFreizeitFunktionenType" />
          <element minOccurs="0" name="weitereFunktion2" type="xplan:LP_ErholungFreizeitFunktionenType" />
          <element minOccurs="0" name="detaillierteFunktion" type="gml:CodeType" />
          <element minOccurs="0" name="weitereDetailFunktion1" type="gml:CodeType" />
          <element minOccurs="0" name="weitereDetailFunktion2" type="gml:CodeType" />
          <!--== ADE ===================================================================-->
          <element ref="xplan:_GenericApplicationPropertyOfLP_ErholungFreizeit" minOccurs="0" maxOccurs="unbounded" />
          <!--==========================================================================-->
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <!--== ADE ===================================================================-->
  <element name="_GenericApplicationPropertyOfLP_ErholungFreizeit" type="anyType" abstract="true" />
  <!--==========================================================================-->
  <simpleType name="LP_WasserrechtWirtschaftAbflussHochwSchutzTypenType">
    <restriction base="string">
      <enumeration value="1000" />
      <enumeration value="2000" />
      <enumeration value="9999" />
    </restriction>
  </simpleType>
  <element name="LP_Plan" substitutionGroup="xplan:XP_Plan" type="xplan:LP_PlanType" />
  <complexType name="LP_PlanType">
    <complexContent>
      <extension base="xplan:XP_PlanType">
        <sequence>
          <element name="bundesland" type="xplan:XP_BundeslaenderType" />
          <element name="rechtlicheAussenwirkung" type="boolean" />
          <element name="planungstraegerGKZ" type="string" />
          <element minOccurs="0" name="planungstraeger" type="string" />
          <element minOccurs="0" name="rechtsstand" type="xplan:LP_RechtsstandType" />
          <element minOccurs="0" name="aufstellungsbeschlussDatum" type="date" />
          <element minOccurs="0" name="auslegungsDatum" type="date" />
          <element minOccurs="0" name="tOeBbeteiligungsDatum" type="date" />
          <element minOccurs="0" name="oeffentlichkeitsbeteiligungDatum" type="date" />
          <element minOccurs="0" name="aenderungenBisDatum" type="date" />
          <element minOccurs="0" name="entwurfsbeschlussDatum" type="date" />
          <element minOccurs="0" name="planbeschlussDatum" type="date" />
          <element minOccurs="0" name="inkrafttretenDatum" type="date" />
          <element minOccurs="0" name="sonstVerfahrensDatum" type="date" />
          <element maxOccurs="unbounded" minOccurs="0" name="bereich" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">xplan:LP_Bereich</targetElement>
                <reversePropertyName xmlns="http://www.opengis.net/gml/3.2">xplan:gehoertZuPlan</reversePropertyName>
              </appinfo>
            </annotation>
          </element>
          <!--== ADE ===================================================================-->
          <element ref="xplan:_GenericApplicationPropertyOfLP_Plan" minOccurs="0" maxOccurs="unbounded" />
          <!--==========================================================================-->
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <!--== ADE ===================================================================-->
  <element name="_GenericApplicationPropertyOfLP_Plan" type="anyType" abstract="true" />
  <!--==========================================================================-->
  <simpleType name="LP_WasserrechtSchutzgebietTypenType">
    <restriction base="string">
      <enumeration value="1000" />
      <enumeration value="2000" />
      <enumeration value="3000" />
      <enumeration value="9999" />
    </restriction>
  </simpleType>
  <element abstract="true" name="LP_Punktobjekt" substitutionGroup="xplan:LP_Objekt" type="xplan:LP_PunktobjektType" />
  <complexType abstract="true" name="LP_PunktobjektType">
    <complexContent>
      <extension base="xplan:LP_ObjektType">
        <sequence>
          <element name="position" type="gml:GeometryPropertyType" />
          <!--== ADE ===================================================================-->
          <element ref="xplan:_GenericApplicationPropertyOfLP_Punktobjekt" minOccurs="0" maxOccurs="unbounded" />
          <!--==========================================================================-->
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <!--== ADE ===================================================================-->
  <element name="_GenericApplicationPropertyOfLP_Punktobjekt" type="anyType" abstract="true" />
  <!--==========================================================================-->
  <element name="LP_AllgGruenflaeche" substitutionGroup="xplan:LP_Flaechenobjekt" type="xplan:LP_AllgGruenflaecheType">
    <annotation>
      <documentation>Allgemeine Grünflächen</documentation>
    </annotation>
  </element>
  <complexType name="LP_AllgGruenflaecheType">
    <complexContent>
      <extension base="xplan:LP_FlaechenobjektType">
        <sequence>
          <!--== ADE ===================================================================-->
          <element ref="xplan:_GenericApplicationPropertyOfLP_AllgGruenflaeche" minOccurs="0" maxOccurs="unbounded" />
          <!--==========================================================================-->
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <!--== ADE ===================================================================-->
  <element name="_GenericApplicationPropertyOfLP_AllgGruenflaeche" type="anyType" abstract="true" />
  <!--==========================================================================-->
  <element name="LP_NutzungserfordernisRegelung" substitutionGroup="xplan:LP_Geometrieobjekt" type="xplan:LP_NutzungserfordernisRegelungType">
    <annotation>
      <documentation>Flächen mit Nutzungserfordernissen und Nutzungsregelungen zum Schutz, zur Pflege und zur Entwicklung von Natur und Landschaft.</documentation>
    </annotation>
  </element>
  <complexType name="LP_NutzungserfordernisRegelungType">
    <complexContent>
      <extension base="xplan:LP_GeometrieobjektType">
        <sequence>
          <element minOccurs="0" name="ziel" type="xplan:XP_SPEZieleType" />
          <element minOccurs="0" name="regelung" type="xplan:LP_RegelungenType" />
          <element minOccurs="0" name="erfordernisRegelung" type="string" />
          <element minOccurs="0" name="erfordernisRegelungKuerzel" type="string" />
          <!--== ADE ===================================================================-->
          <element ref="xplan:_GenericApplicationPropertyOfLP_NutzungserfordernisRegelung" minOccurs="0" maxOccurs="unbounded" />
          <!--==========================================================================-->
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <!--== ADE ===================================================================-->
  <element name="_GenericApplicationPropertyOfLP_NutzungserfordernisRegelung" type="anyType" abstract="true" />
  <!--==========================================================================-->
  <element abstract="true" name="LP_SchutzobjektLandesrecht" substitutionGroup="xplan:LP_Geometrieobjekt" type="xplan:LP_SchutzobjektLandesrechtType">
    <annotation>
      <documentation>Sonstige Schutzgebiete und Schutzobjekte nach Landesrecht</documentation>
    </annotation>
  </element>
  <complexType abstract="true" name="LP_SchutzobjektLandesrechtType">
    <complexContent>
      <extension base="xplan:LP_GeometrieobjektType">
        <sequence>
          <element minOccurs="0" name="detailTyp" type="gml:CodeType" />
          <!--== ADE ===================================================================-->
          <element ref="xplan:_GenericApplicationPropertyOfLP_SchutzobjektLandesrecht" minOccurs="0" maxOccurs="unbounded" />
          <!--==========================================================================-->
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <!--== ADE ===================================================================-->
  <element name="_GenericApplicationPropertyOfLP_SchutzobjektLandesrecht" type="anyType" abstract="true" />
  <!--==========================================================================-->
  <element name="LP_NutzungsAusschluss" substitutionGroup="xplan:LP_Geometrieobjekt" type="xplan:LP_NutzungsAusschlussType">
    <annotation>
      <documentation>Flächen und Objekte die bestimmte geplante oder absehbare Nutzungsänderungen nicht erfahren sollen.</documentation>
    </annotation>
  </element>
  <complexType name="LP_NutzungsAusschlussType">
    <complexContent>
      <extension base="xplan:LP_GeometrieobjektType">
        <sequence>
          <element minOccurs="0" name="auszuschliessendeNutzungen" type="string" />
          <element minOccurs="0" name="auszuschliessendeNutzungenKuerzel" type="string" />
          <element minOccurs="0" name="begruendung" type="string" />
          <element minOccurs="0" name="begruendungKuerzel" type="string" />
          <!--== ADE ===================================================================-->
          <element ref="xplan:_GenericApplicationPropertyOfLP_NutzungsAusschluss" minOccurs="0" maxOccurs="unbounded" />
          <!--==========================================================================-->
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <!--== ADE ===================================================================-->
  <element name="_GenericApplicationPropertyOfLP_NutzungsAusschluss" type="anyType" abstract="true" />
  <!--==========================================================================-->
  <element name="LP_GenerischesObjekt" substitutionGroup="xplan:LP_Geometrieobjekt" type="xplan:LP_GenerischesObjektType">
    <annotation>
      <documentation>Generisches Objekt des Landschaftsplans</documentation>
    </annotation>
  </element>
  <complexType name="LP_GenerischesObjektType">
    <complexContent>
      <extension base="xplan:LP_GeometrieobjektType">
        <sequence>
          <element minOccurs="0" name="zweckbestimmung" type="string" />
          <!--== ADE ===================================================================-->
          <element ref="xplan:_GenericApplicationPropertyOfLP_GenerischesObjekt" minOccurs="0" maxOccurs="unbounded" />
          <!--==========================================================================-->
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <!--== ADE ===================================================================-->
  <element name="_GenericApplicationPropertyOfLP_GenerischesObjekt" type="anyType" abstract="true" />
  <!--==========================================================================-->
  <simpleType name="LP_ErholungFreizeitFunktionenType">
    <restriction base="string">
      <enumeration value="1000" />
      <enumeration value="1030" />
      <enumeration value="1050" />
      <enumeration value="1100" />
      <enumeration value="1200" />
      <enumeration value="1300" />
      <enumeration value="1400" />
      <enumeration value="1500" />
      <enumeration value="1600" />
      <enumeration value="1700" />
      <enumeration value="1800" />
      <enumeration value="1900" />
      <enumeration value="2000" />
      <enumeration value="2100" />
      <enumeration value="2200" />
      <enumeration value="2300" />
      <enumeration value="2400" />
      <enumeration value="2500" />
      <enumeration value="2600" />
      <enumeration value="2700" />
      <enumeration value="2800" />
      <enumeration value="2900" />
      <enumeration value="3000" />
      <enumeration value="3100" />
      <enumeration value="3200" />
      <enumeration value="3300" />
      <enumeration value="3400" />
      <enumeration value="3500" />
      <enumeration value="3600" />
      <enumeration value="3700" />
      <enumeration value="3800" />
      <enumeration value="3900" />
      <enumeration value="4000" />
      <enumeration value="4100" />
      <enumeration value="5000" />
      <enumeration value="9999" />
    </restriction>
  </simpleType>
  <simpleType name="LP_SonstRechtTypenType">
    <restriction base="string">
      <enumeration value="1000" />
      <enumeration value="2000" />
      <enumeration value="9999" />
    </restriction>
  </simpleType>
  <simpleType name="LP_InternatSchutzobjektTypenType">
    <restriction base="string">
      <enumeration value="1000" />
      <enumeration value="2000" />
      <enumeration value="9999" />
    </restriction>
  </simpleType>
  <simpleType name="LP_StatusType">
    <restriction base="string">
      <enumeration value="1000" />
      <enumeration value="2000" />
      <enumeration value="3000" />
      <enumeration value="9999" />
    </restriction>
  </simpleType>
  <simpleType name="LP_ZweckbestimmungSchutzgebietType">
    <restriction base="string">
      <enumeration value="1000" />
      <enumeration value="1100" />
      <enumeration value="1200" />
      <enumeration value="1300" />
      <enumeration value="1400" />
      <enumeration value="1500" />
      <enumeration value="1600" />
      <enumeration value="1700" />
      <enumeration value="1800" />
      <enumeration value="1900" />
    </restriction>
  </simpleType>
  <element name="LP_SonstigesRecht" substitutionGroup="xplan:LP_Geometrieobjekt" type="xplan:LP_SonstigesRechtType">
    <annotation>
      <documentation>Gebiete und Gebietsteile mit rechtlichen Bindungen nach anderen Fachgesetzen (soweit sie für den Schutz, die Pflege und die Entwicklung von Natur und Landschaft bedeutsam sind). Hier: Sonstige Flächen und Gebiete (z.B. nach J</documentation>
    </annotation>
  </element>
  <complexType name="LP_SonstigesRechtType">
    <complexContent>
      <extension base="xplan:LP_GeometrieobjektType">
        <sequence>
          <element minOccurs="0" name="typ" type="xplan:LP_SonstRechtTypenType" />
          <element minOccurs="0" name="detailTyp" type="gml:CodeType" />
          <!--== ADE ===================================================================-->
          <element ref="xplan:_GenericApplicationPropertyOfLP_SonstigesRecht" minOccurs="0" maxOccurs="unbounded" />
          <!--==========================================================================-->
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <!--== ADE ===================================================================-->
  <element name="_GenericApplicationPropertyOfLP_SonstigesRecht" type="anyType" abstract="true" />
  <!--==========================================================================-->
  <element name="LP_Abgrenzung" substitutionGroup="xplan:LP_Linienobjekt" type="xplan:LP_AbgrenzungType">
    <annotation>
      <documentation>Abgrenzungen unterschiedlicher Ziel- und Zweckbestimmungen und Nutzungsarten, Abgrenzungen unterschiedlicher Biotoptypen.</documentation>
    </annotation>
  </element>
  <complexType name="LP_AbgrenzungType">
    <complexContent>
      <extension base="xplan:LP_LinienobjektType">
        <sequence>
          <!--== ADE ===================================================================-->
          <element ref="xplan:_GenericApplicationPropertyOfLP_Abgrenzung" minOccurs="0" maxOccurs="unbounded" />
          <!--==========================================================================-->
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <!--== ADE ===================================================================-->
  <element name="_GenericApplicationPropertyOfLP_Abgrenzung" type="anyType" abstract="true" />
  <!--==========================================================================-->
  <element name="LP_WasserrechtGemeingebrEinschraenkungNaturschutz" substitutionGroup="xplan:LP_Geometrieobjekt" type="xplan:LP_WasserrechtGemeingebrEinschraenkungNaturschutzType">
    <annotation>
      <documentation>Gebiete und Gebietsteile mit rechtlichen Bindungen nach anderen Fachgesetzen (soweit sie für den Schutz, die Pflege und die Entwicklung von Natur und Landschaft bedeutsam sind). Hier: Flächen mit Einschränkungen des wasserrechtlichen Gemeingebrauchs aus Gründen des Naturschutzes.</documentation>
    </annotation>
  </element>
  <complexType name="LP_WasserrechtGemeingebrEinschraenkungNaturschutzType">
    <complexContent>
      <extension base="xplan:LP_GeometrieobjektType">
        <sequence>
          <element minOccurs="0" name="detailTyp" type="gml:CodeType" />
          <!--== ADE ===================================================================-->
          <element ref="xplan:_GenericApplicationPropertyOfLP_WasserrechtGemeingebrEinschraenkungNaturschutz" minOccurs="0" maxOccurs="unbounded" />
          <!--==========================================================================-->
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <!--== ADE ===================================================================-->
  <element name="_GenericApplicationPropertyOfLP_WasserrechtGemeingebrEinschraenkungNaturschutz" type="anyType" abstract="true" />
  <!--==========================================================================-->
  <element name="LP_WasserrechtWirtschaftAbflussHochwSchutz" substitutionGroup="xplan:LP_Geometrieobjekt" type="xplan:LP_WasserrechtWirtschaftAbflussHochwSchutzType">
    <annotation>
      <documentation>Gebiete und Gebietsteile mit rechtlichen Bindungen nach anderen Fachgesetzen (soweit sie für den Schutz, die Pflege und die Entwicklung von Natur und Landschaft bedeutsam sind). Hier: Flächen für die Wasserwirtschaft, en Hochwasserschutz und die Regelung des Wasserabflusses nach dem Wasserhaushaltsgesetz.</documentation>
    </annotation>
  </element>
  <complexType name="LP_WasserrechtWirtschaftAbflussHochwSchutzType">
    <complexContent>
      <extension base="xplan:LP_GeometrieobjektType">
        <sequence>
          <element minOccurs="0" name="typ" type="xplan:LP_WasserrechtWirtschaftAbflussHochwSchutzTypenType" />
          <element minOccurs="0" name="detailTyp" type="gml:CodeType" />
          <!--== ADE ===================================================================-->
          <element ref="xplan:_GenericApplicationPropertyOfLP_WasserrechtWirtschaftAbflussHochwSchutz" minOccurs="0" maxOccurs="unbounded" />
          <!--==========================================================================-->
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <!--== ADE ===================================================================-->
  <element name="_GenericApplicationPropertyOfLP_WasserrechtWirtschaftAbflussHochwSchutz" type="anyType" abstract="true" />
  <!--==========================================================================-->
  <simpleType name="LP_RechtsstandType">
    <restriction base="string">
      <enumeration value="1000" />
      <enumeration value="2000" />
      <enumeration value="3000" />
      <enumeration value="4000" />
      <enumeration value="5000" />
    </restriction>
  </simpleType>
</schema>