deegree-workspaces/deegree-workspace-xplan40/src/main/webapp/WEB-INF/workspace/schemas/xplan4.0/XPlanGML_Landschaftsplanung_NRW.xsd

<?xml version="1.0" encoding="ISO-8859-1"?>
<schema 
  xmlns="http://www.w3.org/2001/XMLSchema" 
  xmlns:gml="http://www.opengis.net/gml/3.2" 
  xmlns:xplan="http://www.xplanung.de/xplangml/4/0" 
  elementFormDefault="qualified" targetNamespace="http://www.xplanung.de/xplangml/4/0" version="4.0">
  <annotation>
    <documentation>Dies Paket enthält alle Klassen des Anwendungsschemas Landschaftsplanung NRW.</documentation>
  </annotation>
  
  <include schemaLocation="XPlanGML_Landschaftsplanung_Kernmodell.xsd"/>
  
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="./gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange-->
  <simpleType name="LP_NRW_LandschaftsstrukturElementeType">
    <restriction base="string">
      <enumeration value="1000"/>
      <enumeration value="1500"/>
      <enumeration value="2000"/>
      <enumeration value="2500"/>
      <enumeration value="3000"/>
      <enumeration value="3500"/>
      <enumeration value="4000"/>
      <enumeration value="4500"/>
      <enumeration value="5000"/>
      <enumeration value="5500"/>
      <enumeration value="9999"/>
    </restriction>
  </simpleType>
  <element name="LP_NRW_SchutzobjektLandesrecht" substitutionGroup="xplan:LP_SchutzobjektLandesrecht" type="xplan:LP_NRW_SchutzobjektLandesrechtType"/>
  <complexType name="LP_NRW_SchutzobjektLandesrechtType">
    <complexContent>
      <extension base="xplan:LP_SchutzobjektLandesrechtType">
        <sequence>
          <element minOccurs="0" name="speziellerTyp" type="xplan:LP_NRW_LandesrechtSchutzobjektTypenType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <element name="LP_NRW_ForstlicheFestsetzung" substitutionGroup="xplan:LP_NutzungserfordernisRegelung" type="xplan:LP_NRW_ForstlicheFestsetzungType">
    <annotation>
      <documentation>Forstliche Festsetzungen in Naturschutzgebieten und geschützten Landschaftsbestandteilen i.S.v. § 25 LG.</documentation>
    </annotation>
  </element>
  <complexType name="LP_NRW_ForstlicheFestsetzungType">
    <complexContent>
      <extension base="xplan:LP_NutzungserfordernisRegelungType">
        <sequence>
          <element minOccurs="0" name="zweckbestimmung" type="xplan:LP_NRW_ZweckbestimmungForstlicheFestsetzungType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="verwendeteBaumart" type="string"/>
          <element maxOccurs="unbounded" minOccurs="0" name="ausgeschlosseneBaumart" type="string"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <element name="LP_NRW_Brachflaeche" substitutionGroup="xplan:LP_NutzungserfordernisRegelung" type="xplan:LP_NRW_BrachflaecheType">
    <annotation>
      <documentation>Brachfläche i.S.v. § 24 LG.</documentation>
    </annotation>
  </element>
  <complexType name="LP_NRW_BrachflaecheType">
    <complexContent>
      <extension base="xplan:LP_NutzungserfordernisRegelungType">
        <sequence>
          <element minOccurs="0" name="zweckbestimmung" type="xplan:LP_NRW_ZweckbestimmungBrachflaecheType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <element name="LP_NRW_TemporaererLandschaftsschutz" substitutionGroup="xplan:LP_Zwischennutzung" type="xplan:LP_NRW_TemporaererLandschaftsschutzType">
    <annotation>
      <documentation>Temporärer Landschaftsschutz (bis zur baulichen Inanspruchnahme) gem. § 29 Abs. 3 LG.</documentation>
    </annotation>
  </element>
  <complexType name="LP_NRW_TemporaererLandschaftsschutzType">
    <complexContent>
      <extension base="xplan:LP_ZwischennutzungType">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <element name="LP_NRW_Biotopschutz" substitutionGroup="xplan:LP_SchutzPflegeEntwicklung" type="xplan:LP_NRW_BiotopschutzType">
    <annotation>
      <documentation>Anlage, Widerherstellung oder Pflege naturnaher Lebensräume (Biotope) i.S.V. § 26 Abs. 2 Nr. 1 LG (6.1 Anlage 1 DVO-LG).</documentation>
    </annotation>
  </element>
  <complexType name="LP_NRW_BiotopschutzType">
    <complexContent>
      <extension base="xplan:LP_SchutzPflegeEntwicklungType">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <element name="LP_NRW_StrukturenElementeBesiedelterBereich" substitutionGroup="xplan:LP_SchutzPflegeEntwicklung" type="xplan:LP_NRW_StrukturenElementeBesiedelterBereichType">
    <annotation>
      <documentation>Pflege- und Entwicklungsmaßnahmen für im besiedelten Bereich vorhandene landschaftliche Strukturen und Elemente i.S.v. § 26 Abs. 2 Nr. 7.</documentation>
    </annotation>
  </element>
  <complexType name="LP_NRW_StrukturenElementeBesiedelterBereichType">
    <complexContent>
      <extension base="xplan:LP_SchutzPflegeEntwicklungType">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <element name="LP_NRW_VerpflichtungWRRL" substitutionGroup="xplan:LP_SchutzPflegeEntwicklung" type="xplan:LP_NRW_VerpflichtungWRRLType">
    <annotation>
      <documentation>Maßnahmen die Verpflichtungen der WRRL erfüllen i.S.v. § 26 Abs. 2 Nr. 3 LG.</documentation>
    </annotation>
  </element>
  <complexType name="LP_NRW_VerpflichtungWRRLType">
    <complexContent>
      <extension base="xplan:LP_SchutzPflegeEntwicklungType">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <simpleType name="LP_NRW_ZweckbestimmungForstlicheFestsetzungType">
    <restriction base="string">
      <enumeration value="1000"/>
      <enumeration value="2000"/>
      <enumeration value="3000"/>
      <enumeration value="9999"/>
    </restriction>
  </simpleType>
  <simpleType name="LP_NRW_LandesrechtSchutzobjektTypenType">
    <restriction base="string">
      <enumeration value="1000"/>
      <enumeration value="1500"/>
      <enumeration value="2000"/>
      <enumeration value="2500"/>
      <enumeration value="9999"/>
    </restriction>
  </simpleType>
  <element name="LP_NRW_ElementeKulturlandschaft" substitutionGroup="xplan:LP_SchutzPflegeEntwicklung" type="xplan:LP_NRW_ElementeKulturlandschaftType">
    <annotation>
      <documentation>Pflege und Entwicklung von charakteristischen Elementen der Kulturlandschaft i.S.v. § 26 Abs. 2 Nr. 6 LG.</documentation>
    </annotation>
  </element>
  <complexType name="LP_NRW_ElementeKulturlandschaftType">
    <complexContent>
      <extension base="xplan:LP_SchutzPflegeEntwicklungType">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <element name="LP_NRW_PflegeAnpflanzung" substitutionGroup="xplan:LP_SchutzPflegeEntwicklung" type="xplan:LP_NRW_PflegeAnpflanzungType">
    <annotation>
      <documentation>Anlage, Pflege oder Anpflanzung ökologisch bedeutsamer/charakteristischer landschaftlicher Strukturen und Elemente i.S.V. § 26 Abs. 2 Nr. 2 LG.</documentation>
    </annotation>
  </element>
  <complexType name="LP_NRW_PflegeAnpflanzungType">
    <complexContent>
      <extension base="xplan:LP_SchutzPflegeEntwicklungType">
        <sequence>
          <element minOccurs="0" name="element" type="xplan:LP_NRW_LandschaftsstrukturElementeType"/>
          <element minOccurs="0" name="weiteresElement1" type="xplan:LP_NRW_LandschaftsstrukturElementeType"/>
          <element minOccurs="0" name="weiteresElement2" type="xplan:LP_NRW_LandschaftsstrukturElementeType"/>
          <element minOccurs="0" name="detailElement" type="gml:CodeType"/>
          <element minOccurs="0" name="detailWeiteresElement1" type="gml:CodeType"/>
          <element minOccurs="0" name="detailWeiteresElement2" type="gml:CodeType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <element name="LP_NRW_HerrichtungGrundstueck" substitutionGroup="xplan:LP_SchutzPflegeEntwicklung" type="xplan:LP_NRW_HerrichtungGrundstueckType">
    <annotation>
      <documentation>Herrichtung von geschädigten oder nicht mehr genutzten Grundstücken i.S.v. § 26 Abs. 2 Nr. 4 LG</documentation>
    </annotation>
  </element>
  <complexType name="LP_NRW_HerrichtungGrundstueckType">
    <complexContent>
      <extension base="xplan:LP_SchutzPflegeEntwicklungType">
        <sequence>
          <element minOccurs="0" name="massnahmeGrundstueck" type="xplan:LP_NRW_GrundstuecksMassnahmenType"/>
          <element minOccurs="0" name="weitereMassnahmeGrundstueck" type="xplan:LP_NRW_GrundstuecksMassnahmenType"/>
          <element minOccurs="0" name="detailMassnahme" type="gml:CodeType"/>
          <element minOccurs="0" name="detailWeitereMassnahme" type="gml:CodeType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <simpleType name="LP_NRW_ZweckbestimmungBrachflaecheType">
    <restriction base="string">
      <enumeration value="1000"/>
      <enumeration value="2000"/>
      <enumeration value="9999"/>
    </restriction>
  </simpleType>
  <simpleType name="LP_NRW_GrundstuecksMassnahmenType">
    <restriction base="string">
      <enumeration value="1000"/>
      <enumeration value="2000"/>
      <enumeration value="9999"/>
    </restriction>
  </simpleType>
  <element name="LP_NRW_SonstigeMassnahme" substitutionGroup="xplan:LP_SchutzPflegeEntwicklung" type="xplan:LP_NRW_SonstigeMassnahmeType"/>
  <complexType name="LP_NRW_SonstigeMassnahmeType">
    <complexContent>
      <extension base="xplan:LP_SchutzPflegeEntwicklungType">
        <sequence>
          <element minOccurs="0" name="detailMassnahme" type="gml:CodeType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <element name="LP_NRW_PflegeLandschaftsbild" substitutionGroup="xplan:LP_SchutzPflegeEntwicklung" type="xplan:LP_NRW_PflegeLandschaftsbildType">
    <annotation>
      <documentation>Pflegemaßnahmen zur Erhaltung oder Wiederherstellung des Landschaftsbildes i.S.v. § 26 Abs. 2 Nr. 5 LG (6.4 Anlage 1 DVO-LG).</documentation>
    </annotation>
  </element>
  <complexType name="LP_NRW_PflegeLandschaftsbildType">
    <complexContent>
      <extension base="xplan:LP_SchutzPflegeEntwicklungType">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
</schema>
