deegree-workspaces/deegree-workspace-xplan40/src/main/webapp/WEB-INF/workspace/schemas/xplan4.0/XPlanGML_Regionalplanung_Kernmodell.xsd

<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<!--ADE-Erweiterung, Erstellungsdatum: 07/20/10-->
<schema 
  xmlns="http://www.w3.org/2001/XMLSchema" 
  xmlns:gml="http://www.opengis.net/gml/3.2" 
  xmlns:xplan="http://www.xplanung.de/xplangml/4/0" 
  elementFormDefault="qualified" targetNamespace="http://www.xplanung.de/xplangml/4/0" version="4.0">
  <annotation>
    <documentation>Dies Paket enthält alle Klassen des Kernmodells Regionalplanung</documentation>
  </annotation>
  
  <include schemaLocation="XPlanGML_Basisschema.xsd" />
  <include schemaLocation="XPlanGML_SonstigePlanwerke.xsd" />
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="./gml/3.2.1/gml.xsd" />
  <!--XML Schema document created by ShapeChange-->
  <element name="RP_Windenergienutzung" substitutionGroup="xplan:RP_Geometrieobjekt" type="xplan:RP_WindenergienutzungType">
    <annotation>
      <documentation>Windenergienutzung</documentation>
    </annotation>
  </element>
  <complexType name="RP_WindenergienutzungType">
    <complexContent>
      <extension base="xplan:RP_GeometrieobjektType">
        <sequence>
          <element maxOccurs="unbounded" minOccurs="0" name="gebietsTyp" type="xplan:RP_GebietsTypType" />
          <element minOccurs="0" name="istAusgleichsgebiet" type="boolean" />
          <!--== ADE ===================================================================-->
          <element ref="xplan:_GenericApplicationPropertyOfRP_Windenergienutzung" minOccurs="0" maxOccurs="unbounded" />
          <!--==========================================================================-->
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <!--== ADE ===================================================================-->
  <element name="_GenericApplicationPropertyOfRP_Windenergienutzung" type="anyType" abstract="true" />
  <!--==========================================================================-->
  <element abstract="true" name="RP_Punktobjekt" substitutionGroup="xplan:RP_Objekt" type="xplan:RP_PunktobjektType" />
  <complexType abstract="true" name="RP_PunktobjektType">
    <complexContent>
      <extension base="xplan:RP_ObjektType">
        <sequence>
          <element name="position" type="gml:GeometryPropertyType" />
          <!--== ADE ===================================================================-->
          <element ref="xplan:_GenericApplicationPropertyOfRP_Punktobjekt" minOccurs="0" maxOccurs="unbounded" />
          <!--==========================================================================-->
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <!--== ADE ===================================================================-->
  <element name="_GenericApplicationPropertyOfRP_Punktobjekt" type="anyType" abstract="true" />
  <!--==========================================================================-->
  <simpleType name="RP_GemeindefunktionenType">
    <restriction base="string">
      <enumeration value="1000" />
      <enumeration value="2000" />
      <enumeration value="3000" />
      <enumeration value="4000" />
      <enumeration value="5000" />
      <enumeration value="6000" />
      <enumeration value="9999" />
    </restriction>
  </simpleType>
  <element name="RP_SonstigeInfrastruktur" substitutionGroup="xplan:RP_Geometrieobjekt" type="xplan:RP_SonstigeInfrastrukturType">
    <annotation>
      <documentation>Sonstige Infrastruktur</documentation>
    </annotation>
  </element>
  <complexType name="RP_SonstigeInfrastrukturType">
    <complexContent>
      <extension base="xplan:RP_GeometrieobjektType">
        <sequence>
          <element maxOccurs="unbounded" minOccurs="0" name="gebietsTyp" type="xplan:RP_GebietsTypType" />
          <!--== ADE ===================================================================-->
          <element ref="xplan:_GenericApplicationPropertyOfRP_SonstigeInfrastruktur" minOccurs="0" maxOccurs="unbounded" />
          <!--==========================================================================-->
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <!--== ADE ===================================================================-->
  <element name="_GenericApplicationPropertyOfRP_SonstigeInfrastruktur" type="anyType" abstract="true" />
  <!--==========================================================================-->
  <element name="RP_KulturellesSachgut" substitutionGroup="xplan:RP_Geometrieobjekt" type="xplan:RP_KulturellesSachgutType">
    <annotation>
      <documentation>Kulturelles Sachgut</documentation>
    </annotation>
  </element>
  <complexType name="RP_KulturellesSachgutType">
    <complexContent>
      <extension base="xplan:RP_GeometrieobjektType">
        <sequence>
          <element maxOccurs="unbounded" minOccurs="0" name="gebietsTyp" type="xplan:RP_GebietsTypType" />
          <element minOccurs="0" name="istAusgleichsgebiet" type="boolean" />
          <!--== ADE ===================================================================-->
          <element ref="xplan:_GenericApplicationPropertyOfRP_KulturellesSachgut" minOccurs="0" maxOccurs="unbounded" />
          <!--==========================================================================-->
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <!--== ADE ===================================================================-->
  <element name="_GenericApplicationPropertyOfRP_KulturellesSachgut" type="anyType" abstract="true" />
  <!--==========================================================================-->
  <simpleType name="RP_SozialeInfrastrukturTypenType">
    <restriction base="string">
      <enumeration value="1000" />
      <enumeration value="2000" />
      <enumeration value="3000" />
      <enumeration value="4000" />
      <enumeration value="9999" />
    </restriction>
  </simpleType>
  <element name="RP_NaturschutzrechtlichesSchutzgebiet" substitutionGroup="xplan:RP_Geometrieobjekt" type="xplan:RP_NaturschutzrechtlichesSchutzgebietType" />
  <complexType name="RP_NaturschutzrechtlichesSchutzgebietType">
    <complexContent>
      <extension base="xplan:RP_GeometrieobjektType">
        <sequence>
          <element minOccurs="0" name="zweckbestimmung" type="xplan:SO_KlassifizSchutzgebietNaturschutzrechtType" />
          <element minOccurs="0" name="istAusgleichsgebiet" type="boolean" />
          <!--== ADE ===================================================================-->
          <element ref="xplan:_GenericApplicationPropertyOfRP_NaturschutzrechtlichesSchutzgebiet" minOccurs="0" maxOccurs="unbounded" />
          <!--==========================================================================-->
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <!--== ADE ===================================================================-->
  <element name="_GenericApplicationPropertyOfRP_NaturschutzrechtlichesSchutzgebiet" type="anyType" abstract="true" />
  <!--==========================================================================-->
  <element name="RP_NaturLandschaft" substitutionGroup="xplan:RP_Geometrieobjekt" type="xplan:RP_NaturLandschaftType">
    <annotation>
      <documentation>Natur und Landschaft</documentation>
    </annotation>
  </element>
  <complexType name="RP_NaturLandschaftType">
    <complexContent>
      <extension base="xplan:RP_GeometrieobjektType">
        <sequence>
          <element maxOccurs="unbounded" minOccurs="0" name="gebietsTyp" type="xplan:RP_GebietsTypType" />
          <element minOccurs="0" name="istAusgleichsgebiet" type="boolean" />
          <!--== ADE ===================================================================-->
          <element ref="xplan:_GenericApplicationPropertyOfRP_NaturLandschaft" minOccurs="0" maxOccurs="unbounded" />
          <!--==========================================================================-->
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <!--== ADE ===================================================================-->
  <element name="_GenericApplicationPropertyOfRP_NaturLandschaft" type="anyType" abstract="true" />
  <!--==========================================================================-->
  <element name="RP_VorbHochwasserschutz" substitutionGroup="xplan:RP_Geometrieobjekt" type="xplan:RP_VorbHochwasserschutzType">
    <annotation>
      <documentation>vorbeugender Hochwasserschutz</documentation>
    </annotation>
  </element>
  <complexType name="RP_VorbHochwasserschutzType">
    <complexContent>
      <extension base="xplan:RP_GeometrieobjektType">
        <sequence>
          <element maxOccurs="unbounded" minOccurs="0" name="gebietsTyp" type="xplan:RP_GebietsTypType" />
          <element minOccurs="0" name="istAusgleichsgebiet" type="boolean" />
          <!--== ADE ===================================================================-->
          <element ref="xplan:_GenericApplicationPropertyOfRP_VorbHochwasserschutz" minOccurs="0" maxOccurs="unbounded" />
          <!--==========================================================================-->
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <!--== ADE ===================================================================-->
  <element name="_GenericApplicationPropertyOfRP_VorbHochwasserschutz" type="anyType" abstract="true" />
  <!--==========================================================================-->
  <simpleType name="RP_EnergieversorgungTypenType">
    <restriction base="string">
      <enumeration value="1000" />
      <enumeration value="2000" />
      <enumeration value="3000" />
      <enumeration value="4000" />
      <enumeration value="5000" />
      <enumeration value="9999" />
    </restriction>
  </simpleType>
  <element name="RP_Wasserwirtschaft" substitutionGroup="xplan:RP_Geometrieobjekt" type="xplan:RP_WasserwirtschaftType">
    <annotation>
      <documentation>Wasserwirtschaft</documentation>
    </annotation>
  </element>
  <complexType name="RP_WasserwirtschaftType">
    <complexContent>
      <extension base="xplan:RP_GeometrieobjektType">
        <sequence>
          <element maxOccurs="unbounded" minOccurs="0" name="gebietsTyp" type="xplan:RP_GebietsTypType" />
          <element minOccurs="0" name="typ" type="xplan:RP_WasserwirtschaftTypenType" />
          <!--== ADE ===================================================================-->
          <element ref="xplan:_GenericApplicationPropertyOfRP_Wasserwirtschaft" minOccurs="0" maxOccurs="unbounded" />
          <!--==========================================================================-->
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <!--== ADE ===================================================================-->
  <element name="_GenericApplicationPropertyOfRP_Wasserwirtschaft" type="anyType" abstract="true" />
  <!--==========================================================================-->
  <element name="RP_Laermschutzbereich" substitutionGroup="xplan:RP_Geometrieobjekt" type="xplan:RP_LaermschutzbereichType">
    <annotation>
      <documentation>Infrastruktur zum Lärmschutz</documentation>
    </annotation>
  </element>
  <complexType name="RP_LaermschutzbereichType">
    <complexContent>
      <extension base="xplan:RP_GeometrieobjektType">
        <sequence>
          <element maxOccurs="unbounded" minOccurs="0" name="gebietsTyp" type="xplan:RP_GebietsTypType" />
          <!--== ADE ===================================================================-->
          <element ref="xplan:_GenericApplicationPropertyOfRP_Laermschutzbereich" minOccurs="0" maxOccurs="unbounded" />
          <!--==========================================================================-->
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <!--== ADE ===================================================================-->
  <element name="_GenericApplicationPropertyOfRP_Laermschutzbereich" type="anyType" abstract="true" />
  <!--==========================================================================-->
  <simpleType name="RP_WasserschutzZoneType">
    <restriction base="string">
      <enumeration value="1000" />
      <enumeration value="2000" />
      <enumeration value="3000" />
    </restriction>
  </simpleType>
  <element name="RP_Wasserschutz" substitutionGroup="xplan:RP_Geometrieobjekt" type="xplan:RP_WasserschutzType">
    <annotation>
      <documentation>Grund- und Oberflächenwasserschutz</documentation>
    </annotation>
  </element>
  <complexType name="RP_WasserschutzType">
    <complexContent>
      <extension base="xplan:RP_GeometrieobjektType">
        <sequence>
          <element maxOccurs="unbounded" minOccurs="0" name="gebietsTyp" type="xplan:RP_GebietsTypType" />
          <element minOccurs="0" name="zone" type="xplan:RP_WasserschutzZoneType" />
          <element minOccurs="0" name="istAusgleichsgebiet" type="boolean" />
          <!--== ADE ===================================================================-->
          <element ref="xplan:_GenericApplicationPropertyOfRP_Wasserschutz" minOccurs="0" maxOccurs="unbounded" />
          <!--==========================================================================-->
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <!--== ADE ===================================================================-->
  <element name="_GenericApplicationPropertyOfRP_Wasserschutz" type="anyType" abstract="true" />
  <!--==========================================================================-->
  <element abstract="true" name="RP_Geometrieobjekt" substitutionGroup="xplan:RP_Objekt" type="xplan:RP_GeometrieobjektType">
    <annotation>
      <documentation>Obertklasse für alle raumbezogenen Objekte eines Regionalplans mit variabler Geometrie.</documentation>
    </annotation>
  </element>
  <complexType abstract="true" name="RP_GeometrieobjektType">
    <complexContent>
      <extension base="xplan:RP_ObjektType">
        <sequence>
          <element name="position" type="gml:GeometryPropertyType" />
          <!--== ADE ===================================================================-->
          <element ref="xplan:_GenericApplicationPropertyOfRP_Geometrieobjekt" minOccurs="0" maxOccurs="unbounded" />
          <!--==========================================================================-->
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <!--== ADE ===================================================================-->
  <element name="_GenericApplicationPropertyOfRP_Geometrieobjekt" type="anyType" abstract="true" />
  <!--==========================================================================-->
  <simpleType name="RP_RechtsstandType">
    <restriction base="string">
      <enumeration value="1000" />
      <enumeration value="2000" />
      <enumeration value="3000" />
      <enumeration value="4000" />
      <enumeration value="5000" />
    </restriction>
  </simpleType>
  <element name="RP_SonstigeSiedlungsstruktur" substitutionGroup="xplan:RP_Geometrieobjekt" type="xplan:RP_SonstigeSiedlungsstrukturType">
    <annotation>
      <documentation>Sonstige Siedlungsstruktur</documentation>
    </annotation>
  </element>
  <complexType name="RP_SonstigeSiedlungsstrukturType">
    <complexContent>
      <extension base="xplan:RP_GeometrieobjektType">
        <sequence>
          <element maxOccurs="unbounded" minOccurs="0" name="gebietsTyp" type="xplan:RP_GebietsTypType" />
          <!--== ADE ===================================================================-->
          <element ref="xplan:_GenericApplicationPropertyOfRP_SonstigeSiedlungsstruktur" minOccurs="0" maxOccurs="unbounded" />
          <!--==========================================================================-->
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <!--== ADE ===================================================================-->
  <element name="_GenericApplicationPropertyOfRP_SonstigeSiedlungsstruktur" type="anyType" abstract="true" />
  <!--==========================================================================-->
  <simpleType name="RP_RohstoffType">
    <restriction base="string">
      <enumeration value="1000" />
      <enumeration value="1100" />
      <enumeration value="1200" />
      <enumeration value="1300" />
      <enumeration value="1400" />
      <enumeration value="1500" />
      <enumeration value="1600" />
      <enumeration value="1700" />
      <enumeration value="1800" />
      <enumeration value="1900" />
      <enumeration value="2000" />
      <enumeration value="2100" />
      <enumeration value="2200" />
      <enumeration value="2300" />
      <enumeration value="2400" />
      <enumeration value="2500" />
      <enumeration value="2600" />
      <enumeration value="2800" />
      <enumeration value="2900" />
      <enumeration value="3000" />
      <enumeration value="3100" />
      <enumeration value="3200" />
      <enumeration value="3300" />
      <enumeration value="3400" />
      <enumeration value="3500" />
      <enumeration value="3600" />
      <enumeration value="3700" />
      <enumeration value="3800" />
      <enumeration value="3900" />
      <enumeration value="4100" />
      <enumeration value="4200" />
      <enumeration value="4300" />
      <enumeration value="4400" />
      <enumeration value="4500" />
      <enumeration value="4600" />
      <enumeration value="4700" />
      <enumeration value="4800" />
      <enumeration value="4900" />
      <enumeration value="5000" />
      <enumeration value="5100" />
      <enumeration value="5200" />
      <enumeration value="5300" />
      <enumeration value="5400" />
      <enumeration value="5500" />
      <enumeration value="5600" />
      <enumeration value="5700" />
      <enumeration value="5800" />
      <enumeration value="5900" />
      <enumeration value="6000" />
      <enumeration value="9999" />
    </restriction>
  </simpleType>
  <element abstract="true" name="RP_Objekt" substitutionGroup="xplan:XP_Objekt" type="xplan:RP_ObjektType">
    <annotation>
      <documentation>Basisklasse für alle Festlegungen eines Regionalplans</documentation>
    </annotation>
  </element>
  <complexType abstract="true" name="RP_ObjektType">
    <complexContent>
      <extension base="xplan:XP_ObjektType">
        <sequence>
          <element minOccurs="0" name="rechtscharakter" type="xplan:RP_RechtscharakterType" />
          <element minOccurs="0" name="konkretisierung" type="string" />
          <element maxOccurs="unbounded" minOccurs="0" name="gehoertZuRP_Bereich" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">xplan:RP_Bereich</targetElement>
                <reversePropertyName xmlns="http://www.opengis.net/gml/3.2">xplan:inhaltRPlan</reversePropertyName>
              </appinfo>
            </annotation>
          </element>
          <!--== ADE ===================================================================-->
          <element ref="xplan:_GenericApplicationPropertyOfRP_Objekt" minOccurs="0" maxOccurs="unbounded" />
          <!--==========================================================================-->
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <!--== ADE ===================================================================-->
  <element name="_GenericApplicationPropertyOfRP_Objekt" type="anyType" abstract="true" />
  <!--==========================================================================-->
  <element name="RP_FreizeitErholung" substitutionGroup="xplan:RP_Geometrieobjekt" type="xplan:RP_FreizeitErholungType">
    <annotation>
      <documentation>Freizeit und Erholung</documentation>
    </annotation>
  </element>
  <complexType name="RP_FreizeitErholungType">
    <complexContent>
      <extension base="xplan:RP_GeometrieobjektType">
        <sequence>
          <element maxOccurs="unbounded" minOccurs="0" name="gebietsTyp" type="xplan:RP_GebietsTypType" />
          <element minOccurs="0" name="istAusgleichsgebiet" type="boolean" />
          <!--== ADE ===================================================================-->
          <element ref="xplan:_GenericApplicationPropertyOfRP_FreizeitErholung" minOccurs="0" maxOccurs="unbounded" />
          <!--==========================================================================-->
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <!--== ADE ===================================================================-->
  <element name="_GenericApplicationPropertyOfRP_FreizeitErholung" type="anyType" abstract="true" />
  <!--==========================================================================-->
  <simpleType name="RP_RechtscharakterType">
    <restriction base="string">
      <enumeration value="1000" />
      <enumeration value="2000" />
      <enumeration value="3000" />
      <enumeration value="4000" />
      <enumeration value="5000" />
    </restriction>
  </simpleType>
  <element name="RP_Bodenschutz" substitutionGroup="xplan:RP_Geometrieobjekt" type="xplan:RP_BodenschutzType">
    <annotation>
      <documentation>Bodenschutz</documentation>
    </annotation>
  </element>
  <complexType name="RP_BodenschutzType">
    <complexContent>
      <extension base="xplan:RP_GeometrieobjektType">
        <sequence>
          <element maxOccurs="unbounded" minOccurs="0" name="gebietsTyp" type="xplan:RP_GebietsTypType" />
          <element minOccurs="0" name="istAusgleichsgebiet" type="boolean" />
          <!--== ADE ===================================================================-->
          <element ref="xplan:_GenericApplicationPropertyOfRP_Bodenschutz" minOccurs="0" maxOccurs="unbounded" />
          <!--==========================================================================-->
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <!--== ADE ===================================================================-->
  <element name="_GenericApplicationPropertyOfRP_Bodenschutz" type="anyType" abstract="true" />
  <!--==========================================================================-->
  <element name="RP_Gewaesser" substitutionGroup="xplan:RP_Geometrieobjekt" type="xplan:RP_GewaesserType">
    <annotation>
      <documentation>Gewässer</documentation>
    </annotation>
  </element>
  <complexType name="RP_GewaesserType">
    <complexContent>
      <extension base="xplan:RP_GeometrieobjektType">
        <sequence>
          <element minOccurs="0" name="istAusgleichsgebiet" type="boolean" />
          <!--== ADE ===================================================================-->
          <element ref="xplan:_GenericApplicationPropertyOfRP_Gewaesser" minOccurs="0" maxOccurs="unbounded" />
          <!--==========================================================================-->
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <!--== ADE ===================================================================-->
  <element name="_GenericApplicationPropertyOfRP_Gewaesser" type="anyType" abstract="true" />
  <!--==========================================================================-->
  <element name="RP_Raumkategorie" substitutionGroup="xplan:RP_Geometrieobjekt" type="xplan:RP_RaumkategorieType">
    <annotation>
      <documentation>Raumkategorien</documentation>
    </annotation>
  </element>
  <complexType name="RP_RaumkategorieType">
    <complexContent>
      <extension base="xplan:RP_GeometrieobjektType">
        <sequence>
          <!--== ADE ===================================================================-->
          <element ref="xplan:_GenericApplicationPropertyOfRP_Raumkategorie" minOccurs="0" maxOccurs="unbounded" />
          <!--==========================================================================-->
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <!--== ADE ===================================================================-->
  <element name="_GenericApplicationPropertyOfRP_Raumkategorie" type="anyType" abstract="true" />
  <!--==========================================================================-->
  <element name="RP_ZentralerOrt" substitutionGroup="xplan:RP_Geometrieobjekt" type="xplan:RP_ZentralerOrtType">
    <annotation>
      <documentation>Zentrale Orte</documentation>
    </annotation>
  </element>
  <complexType name="RP_ZentralerOrtType">
    <complexContent>
      <extension base="xplan:RP_GeometrieobjektType">
        <sequence>
          <element minOccurs="0" name="funktion" type="xplan:RP_ZentralerOrtFunktionenType" />
          <!--== ADE ===================================================================-->
          <element ref="xplan:_GenericApplicationPropertyOfRP_ZentralerOrt" minOccurs="0" maxOccurs="unbounded" />
          <!--==========================================================================-->
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <!--== ADE ===================================================================-->
  <element name="_GenericApplicationPropertyOfRP_ZentralerOrt" type="anyType" abstract="true" />
  <!--==========================================================================-->
  <element abstract="true" name="RP_Flaechenobjekt" substitutionGroup="xplan:RP_Objekt" type="xplan:RP_FlaechenobjektType" />
  <complexType abstract="true" name="RP_FlaechenobjektType">
    <complexContent>
      <extension base="xplan:RP_ObjektType">
        <sequence>
          <element name="position" type="gml:GeometryPropertyType" />
          <!--== ADE ===================================================================-->
          <element ref="xplan:_GenericApplicationPropertyOfRP_Flaechenobjekt" minOccurs="0" maxOccurs="unbounded" />
          <!--==========================================================================-->
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <!--== ADE ===================================================================-->
  <element name="_GenericApplicationPropertyOfRP_Flaechenobjekt" type="anyType" abstract="true" />
  <!--==========================================================================-->
  <element name="RP_GruenzugGruenzaesur" substitutionGroup="xplan:RP_Geometrieobjekt" type="xplan:RP_GruenzugGruenzaesurType">
    <annotation>
      <documentation>Regionaler Grünzug/Grünzäsur</documentation>
    </annotation>
  </element>
  <complexType name="RP_GruenzugGruenzaesurType">
    <complexContent>
      <extension base="xplan:RP_GeometrieobjektType">
        <sequence>
          <element maxOccurs="unbounded" minOccurs="0" name="gebietsTyp" type="xplan:RP_GebietsTypType" />
          <element minOccurs="0" name="istAusgleichsgebiet" type="boolean" />
          <!--== ADE ===================================================================-->
          <element ref="xplan:_GenericApplicationPropertyOfRP_GruenzugGruenzaesur" minOccurs="0" maxOccurs="unbounded" />
          <!--==========================================================================-->
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <!--== ADE ===================================================================-->
  <element name="_GenericApplicationPropertyOfRP_GruenzugGruenzaesur" type="anyType" abstract="true" />
  <!--==========================================================================-->
  <element name="RP_GemeindeFunktionSiedlungsentwicklung" substitutionGroup="xplan:RP_Geometrieobjekt" type="xplan:RP_GemeindeFunktionSiedlungsentwicklungType">
    <annotation>
      <documentation>Gemeindefunktion</documentation>
    </annotation>
  </element>
  <complexType name="RP_GemeindeFunktionSiedlungsentwicklungType">
    <complexContent>
      <extension base="xplan:RP_GeometrieobjektType">
        <sequence>
          <element maxOccurs="unbounded" minOccurs="0" name="gebietsTyp" type="xplan:RP_GebietsTypType" />
          <element maxOccurs="unbounded" minOccurs="0" name="funktion" type="xplan:RP_GemeindefunktionenType" />
          <!--== ADE ===================================================================-->
          <element ref="xplan:_GenericApplicationPropertyOfRP_GemeindeFunktionSiedlungsentwicklung" minOccurs="0" maxOccurs="unbounded" />
          <!--==========================================================================-->
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <!--== ADE ===================================================================-->
  <element name="_GenericApplicationPropertyOfRP_GemeindeFunktionSiedlungsentwicklung" type="anyType" abstract="true" />
  <!--==========================================================================-->
  <element name="RP_SozialeInfrastruktur" substitutionGroup="xplan:RP_Geometrieobjekt" type="xplan:RP_SozialeInfrastrukturType">
    <annotation>
      <documentation>Soziale Infrastruktur</documentation>
    </annotation>
  </element>
  <complexType name="RP_SozialeInfrastrukturType">
    <complexContent>
      <extension base="xplan:RP_GeometrieobjektType">
        <sequence>
          <element maxOccurs="unbounded" minOccurs="0" name="gebietsTyp" type="xplan:RP_GebietsTypType" />
          <element minOccurs="0" name="typ" type="xplan:RP_SozialeInfrastrukturTypenType" />
          <!--== ADE ===================================================================-->
          <element ref="xplan:_GenericApplicationPropertyOfRP_SozialeInfrastruktur" minOccurs="0" maxOccurs="unbounded" />
          <!--==========================================================================-->
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <!--== ADE ===================================================================-->
  <element name="_GenericApplicationPropertyOfRP_SozialeInfrastruktur" type="anyType" abstract="true" />
  <!--==========================================================================-->
  <simpleType name="RP_ZentralerOrtFunktionenType">
    <restriction base="string">
      <enumeration value="1000" />
      <enumeration value="2000" />
      <enumeration value="3000" />
      <enumeration value="4000" />
      <enumeration value="9999" />
    </restriction>
  </simpleType>
  <element name="RP_Achse" substitutionGroup="xplan:RP_Linienobjekt" type="xplan:RP_AchseType">
    <annotation>
      <documentation>Achse</documentation>
    </annotation>
  </element>
  <complexType name="RP_AchseType">
    <complexContent>
      <extension base="xplan:RP_LinienobjektType">
        <sequence>
          <element minOccurs="0" name="achsenTyp" type="xplan:RP_AchsenTypenType" />
          <!--== ADE ===================================================================-->
          <element ref="xplan:_GenericApplicationPropertyOfRP_Achse" minOccurs="0" maxOccurs="unbounded" />
          <!--==========================================================================-->
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <!--== ADE ===================================================================-->
  <element name="_GenericApplicationPropertyOfRP_Achse" type="anyType" abstract="true" />
  <!--==========================================================================-->
  <element name="RP_Bereich" substitutionGroup="xplan:XP_Bereich" type="xplan:RP_BereichType">
    <annotation>
      <documentation>Diese Klasse modelliert einen Bereich eines Regionalplans, </documentation>
    </annotation>
  </element>
  <complexType name="RP_BereichType">
    <complexContent>
      <extension base="xplan:XP_BereichType">
        <sequence>
          <element minOccurs="0" name="versionBROG" type="date" />
          <element minOccurs="0" name="versionBROGText" type="string" />
          <element minOccurs="0" name="versionLPLG" type="date" />
          <element minOccurs="0" name="versionLPLGText" type="string" />
          <element maxOccurs="unbounded" minOccurs="0" name="inhaltRPlan" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">xplan:RP_Objekt</targetElement>
                <reversePropertyName xmlns="http://www.opengis.net/gml/3.2">xplan:gehoertZuRP_Bereich</reversePropertyName>
              </appinfo>
            </annotation>
          </element>
          <!--== ADE ===================================================================-->
          <element ref="xplan:_GenericApplicationPropertyOfRP_Bereich" minOccurs="0" maxOccurs="unbounded" />
          <!--==========================================================================-->
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <!--== ADE ===================================================================-->
  <element name="_GenericApplicationPropertyOfRP_Bereich" type="anyType" abstract="true" />
  <!--==========================================================================-->
  <simpleType name="RP_AchsenTypenType">
    <restriction base="string">
      <enumeration value="1000" />
      <enumeration value="2000" />
      <enumeration value="9999" />
    </restriction>
  </simpleType>
  <simpleType name="RP_GebietsTypType">
    <restriction base="string">
      <enumeration value="1000" />
      <enumeration value="2000" />
      <enumeration value="3000" />
      <enumeration value="4000" />
      <enumeration value="5000" />
    </restriction>
  </simpleType>
  <element name="RP_Kommunikation" substitutionGroup="xplan:RP_Geometrieobjekt" type="xplan:RP_KommunikationType">
    <annotation>
      <documentation>Infrastruktur zur Telekommunikation</documentation>
    </annotation>
  </element>
  <complexType name="RP_KommunikationType">
    <complexContent>
      <extension base="xplan:RP_GeometrieobjektType">
        <sequence>
          <element maxOccurs="unbounded" minOccurs="0" name="gebietsTyp" type="xplan:RP_GebietsTypType" />
          <!--== ADE ===================================================================-->
          <element ref="xplan:_GenericApplicationPropertyOfRP_Kommunikation" minOccurs="0" maxOccurs="unbounded" />
          <!--==========================================================================-->
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <!--== ADE ===================================================================-->
  <element name="_GenericApplicationPropertyOfRP_Kommunikation" type="anyType" abstract="true" />
  <!--==========================================================================-->
  <element name="RP_Plan" substitutionGroup="xplan:XP_Plan" type="xplan:RP_PlanType">
    <annotation>
      <documentation>Diese Klasse modelliert einen Regionalplan.</documentation>
    </annotation>
  </element>
  <complexType name="RP_PlanType">
    <complexContent>
      <extension base="xplan:XP_PlanType">
        <sequence>
          <element maxOccurs="unbounded" name="bundesland" type="xplan:XP_BundeslaenderType" />
          <element minOccurs="0" name="planArt" type="xplan:RP_ArtType" />
          <element minOccurs="0" name="sonstPlanArt" type="gml:CodeType">
            <annotation>
              <documentation>Spezifikation einer Planart bei planArt == 9999.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="planungsregion" type="integer" />
          <element minOccurs="0" name="teilabschnitt" type="integer" />
          <element minOccurs="0" name="rechtsstand" type="xplan:RP_RechtsstandType" />
          <element minOccurs="0" name="status" type="gml:CodeType" />
          <element minOccurs="0" name="aufstellungsbeschlussDatum" type="date" />
          <element minOccurs="0" name="auslegungStartDatum" type="date" />
          <element minOccurs="0" name="auslegungsEndDatum" type="date" />
          <element minOccurs="0" name="traegerbeteiligungsStartDatum" type="date" />
          <element minOccurs="0" name="traegerbeteiligungsEndDatum" type="date" />
          <element minOccurs="0" name="aenderungenBisDatum" type="date" />
          <element minOccurs="0" name="entwurfsbeschlussDatum" type="date" />
          <element minOccurs="0" name="planbeschlussDatum" type="date" />
          <element minOccurs="0" name="datumDesInkrafttretens" type="date" />
          <element maxOccurs="unbounded" minOccurs="0" name="bereich" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">xplan:RP_Bereich</targetElement>
              </appinfo>
            </annotation>
          </element>
          <!--== ADE ===================================================================-->
          <element ref="xplan:_GenericApplicationPropertyOfRP_Plan" minOccurs="0" maxOccurs="unbounded" />
          <!--==========================================================================-->
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <!--== ADE ===================================================================-->
  <element name="_GenericApplicationPropertyOfRP_Plan" type="anyType" abstract="true" />
  <!--==========================================================================-->
  <element name="RP_Entsorgung" substitutionGroup="xplan:RP_Geometrieobjekt" type="xplan:RP_EntsorgungType">
    <annotation>
      <documentation>Entsorgungs-Infrastruktur</documentation>
    </annotation>
  </element>
  <complexType name="RP_EntsorgungType">
    <complexContent>
      <extension base="xplan:RP_GeometrieobjektType">
        <sequence>
          <element maxOccurs="unbounded" minOccurs="0" name="gebietsTyp" type="xplan:RP_GebietsTypType" />
          <element minOccurs="0" name="typ" type="xplan:RP_EntsorgungTypenType" />
          <!--== ADE ===================================================================-->
          <element ref="xplan:_GenericApplicationPropertyOfRP_Entsorgung" minOccurs="0" maxOccurs="unbounded" />
          <!--==========================================================================-->
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <!--== ADE ===================================================================-->
  <element name="_GenericApplicationPropertyOfRP_Entsorgung" type="anyType" abstract="true" />
  <!--==========================================================================-->
  <element name="RP_Grenze" substitutionGroup="xplan:RP_Geometrieobjekt" type="xplan:RP_GrenzeType">
    <annotation>
      <documentation>Grenzen</documentation>
    </annotation>
  </element>
  <complexType name="RP_GrenzeType">
    <complexContent>
      <extension base="xplan:RP_GeometrieobjektType">
        <sequence>
          <element minOccurs="0" name="typ" type="xplan:SO_GrenzeTypenType" />
          <element minOccurs="0" name="sonstTyp" type="gml:CodeType" />
          <!--== ADE ===================================================================-->
          <element ref="xplan:_GenericApplicationPropertyOfRP_Grenze" minOccurs="0" maxOccurs="unbounded" />
          <!--==========================================================================-->
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <!--== ADE ===================================================================-->
  <element name="_GenericApplicationPropertyOfRP_Grenze" type="anyType" abstract="true" />
  <!--==========================================================================-->
  <element name="RP_Verkehr" substitutionGroup="xplan:RP_Geometrieobjekt" type="xplan:RP_VerkehrType">
    <annotation>
      <documentation>Verkehrs-Infrastruktur</documentation>
    </annotation>
  </element>
  <complexType name="RP_VerkehrType">
    <complexContent>
      <extension base="xplan:RP_GeometrieobjektType">
        <sequence>
          <element maxOccurs="unbounded" minOccurs="0" name="gebietsTyp" type="xplan:RP_GebietsTypType" />
          <element minOccurs="0" name="typ" type="xplan:RP_VerkehrTypenType" />
          <!--== ADE ===================================================================-->
          <element ref="xplan:_GenericApplicationPropertyOfRP_Verkehr" minOccurs="0" maxOccurs="unbounded" />
          <!--==========================================================================-->
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <!--== ADE ===================================================================-->
  <element name="_GenericApplicationPropertyOfRP_Verkehr" type="anyType" abstract="true" />
  <!--==========================================================================-->
  <element name="RP_Energieversorgung" substitutionGroup="xplan:RP_Geometrieobjekt" type="xplan:RP_EnergieversorgungType">
    <annotation>
      <documentation>Infrastruktur zur Energieversorgung</documentation>
    </annotation>
  </element>
  <complexType name="RP_EnergieversorgungType">
    <complexContent>
      <extension base="xplan:RP_GeometrieobjektType">
        <sequence>
          <element maxOccurs="unbounded" minOccurs="0" name="gebietsTyp" type="xplan:RP_GebietsTypType" />
          <element minOccurs="0" name="typ" type="xplan:RP_EnergieversorgungTypenType" />
          <!--== ADE ===================================================================-->
          <element ref="xplan:_GenericApplicationPropertyOfRP_Energieversorgung" minOccurs="0" maxOccurs="unbounded" />
          <!--==========================================================================-->
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <!--== ADE ===================================================================-->
  <element name="_GenericApplicationPropertyOfRP_Energieversorgung" type="anyType" abstract="true" />
  <!--==========================================================================-->
  <element name="RP_Rohstoffsicherung" substitutionGroup="xplan:RP_Geometrieobjekt" type="xplan:RP_RohstoffsicherungType">
    <annotation>
      <documentation>Rohstoffsicherung</documentation>
    </annotation>
  </element>
  <complexType name="RP_RohstoffsicherungType">
    <complexContent>
      <extension base="xplan:RP_GeometrieobjektType">
        <sequence>
          <element maxOccurs="unbounded" minOccurs="0" name="gebietsTyp" type="xplan:RP_GebietsTypType" />
          <element minOccurs="0" name="abbaugut" type="xplan:RP_RohstoffType" />
          <element minOccurs="0" name="istAusgleichsgebiet" type="boolean" />
          <!--== ADE ===================================================================-->
          <element ref="xplan:_GenericApplicationPropertyOfRP_Rohstoffsicherung" minOccurs="0" maxOccurs="unbounded" />
          <!--==========================================================================-->
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <!--== ADE ===================================================================-->
  <element name="_GenericApplicationPropertyOfRP_Rohstoffsicherung" type="anyType" abstract="true" />
  <!--==========================================================================-->
  <simpleType name="RP_EntsorgungTypenType">
    <restriction base="string">
      <enumeration value="1000" />
      <enumeration value="2000" />
      <enumeration value="9999" />
    </restriction>
  </simpleType>
  <element name="RP_Landwirtschaft" substitutionGroup="xplan:RP_Geometrieobjekt" type="xplan:RP_LandwirtschaftType">
    <annotation>
      <documentation>Landwirtschaft</documentation>
    </annotation>
  </element>
  <complexType name="RP_LandwirtschaftType">
    <complexContent>
      <extension base="xplan:RP_GeometrieobjektType">
        <sequence>
          <element maxOccurs="unbounded" minOccurs="0" name="gebietsTyp" type="xplan:RP_GebietsTypType" />
          <element minOccurs="0" name="istAusgleichsgebiet" type="boolean" />
          <!--== ADE ===================================================================-->
          <element ref="xplan:_GenericApplicationPropertyOfRP_Landwirtschaft" minOccurs="0" maxOccurs="unbounded" />
          <!--==========================================================================-->
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <!--== ADE ===================================================================-->
  <element name="_GenericApplicationPropertyOfRP_Landwirtschaft" type="anyType" abstract="true" />
  <!--==========================================================================-->
  <element abstract="true" name="RP_Linienobjekt" substitutionGroup="xplan:RP_Objekt" type="xplan:RP_LinienobjektType" />
  <complexType abstract="true" name="RP_LinienobjektType">
    <complexContent>
      <extension base="xplan:RP_ObjektType">
        <sequence>
          <element name="position" type="gml:GeometryPropertyType" />
          <!--== ADE ===================================================================-->
          <element ref="xplan:_GenericApplicationPropertyOfRP_Linienobjekt" minOccurs="0" maxOccurs="unbounded" />
          <!--==========================================================================-->
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <!--== ADE ===================================================================-->
  <element name="_GenericApplicationPropertyOfRP_Linienobjekt" type="anyType" abstract="true" />
  <!--==========================================================================-->
  <element name="RP_SonstigerFreiraumstruktur" substitutionGroup="xplan:RP_Geometrieobjekt" type="xplan:RP_SonstigerFreiraumstrukturType">
    <annotation>
      <documentation>Sonstiger Freiraumschutz</documentation>
    </annotation>
  </element>
  <complexType name="RP_SonstigerFreiraumstrukturType">
    <complexContent>
      <extension base="xplan:RP_GeometrieobjektType">
        <sequence>
          <element maxOccurs="unbounded" minOccurs="0" name="gebietsTyp" type="xplan:RP_GebietsTypType" />
          <element minOccurs="0" name="istAusgleichsgebiet" type="boolean" />
          <!--== ADE ===================================================================-->
          <element ref="xplan:_GenericApplicationPropertyOfRP_SonstigerFreiraumstruktur" minOccurs="0" maxOccurs="unbounded" />
          <!--==========================================================================-->
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <!--== ADE ===================================================================-->
  <element name="_GenericApplicationPropertyOfRP_SonstigerFreiraumstruktur" type="anyType" abstract="true" />
  <!--==========================================================================-->
  <element name="RP_Forstwirtschaft" substitutionGroup="xplan:RP_Geometrieobjekt" type="xplan:RP_ForstwirtschaftType">
    <annotation>
      <documentation>Forstwirtschaft</documentation>
    </annotation>
  </element>
  <complexType name="RP_ForstwirtschaftType">
    <complexContent>
      <extension base="xplan:RP_GeometrieobjektType">
        <sequence>
          <element maxOccurs="unbounded" minOccurs="0" name="gebietsTyp" type="xplan:RP_GebietsTypType" />
          <element minOccurs="0" name="istAusgleichsgebiet" type="boolean" />
          <!--== ADE ===================================================================-->
          <element ref="xplan:_GenericApplicationPropertyOfRP_Forstwirtschaft" minOccurs="0" maxOccurs="unbounded" />
          <!--==========================================================================-->
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <!--== ADE ===================================================================-->
  <element name="_GenericApplicationPropertyOfRP_Forstwirtschaft" type="anyType" abstract="true" />
  <!--==========================================================================-->
  <simpleType name="RP_WasserwirtschaftTypenType">
    <restriction base="string">
      <enumeration value="1000" />
      <enumeration value="2000" />
      <enumeration value="3000" />
      <enumeration value="3500" />
      <enumeration value="4000" />
      <enumeration value="9999" />
    </restriction>
  </simpleType>
  <element name="RP_Klimaschutz" substitutionGroup="xplan:RP_Geometrieobjekt" type="xplan:RP_KlimaschutzType">
    <annotation>
      <documentation>(Siedlungs-) Klimaschutz</documentation>
    </annotation>
  </element>
  <complexType name="RP_KlimaschutzType">
    <complexContent>
      <extension base="xplan:RP_GeometrieobjektType">
        <sequence>
          <element maxOccurs="unbounded" minOccurs="0" name="gebietsTyp" type="xplan:RP_GebietsTypType" />
          <element minOccurs="0" name="istAusgleichsgebiet" type="boolean" />
          <!--== ADE ===================================================================-->
          <element ref="xplan:_GenericApplicationPropertyOfRP_Klimaschutz" minOccurs="0" maxOccurs="unbounded" />
          <!--==========================================================================-->
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <!--== ADE ===================================================================-->
  <element name="_GenericApplicationPropertyOfRP_Klimaschutz" type="anyType" abstract="true" />
  <!--==========================================================================-->
  <element name="RP_Sperrgebiet" substitutionGroup="xplan:RP_Geometrieobjekt" type="xplan:RP_SperrgebietType">
    <annotation>
      <documentation>Sperrgebiet</documentation>
    </annotation>
  </element>
  <complexType name="RP_SperrgebietType">
    <complexContent>
      <extension base="xplan:RP_GeometrieobjektType">
        <sequence>
          <!--== ADE ===================================================================-->
          <element ref="xplan:_GenericApplicationPropertyOfRP_Sperrgebiet" minOccurs="0" maxOccurs="unbounded" />
          <!--==========================================================================-->
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <!--== ADE ===================================================================-->
  <element name="_GenericApplicationPropertyOfRP_Sperrgebiet" type="anyType" abstract="true" />
  <!--==========================================================================-->
  <simpleType name="RP_ArtType">
    <restriction base="string">
      <enumeration value="1000" />
      <enumeration value="2000" />
      <enumeration value="3000" />
      <enumeration value="4000">
        <annotation>
          <documentation>Landesweiter Raumordnungsplan</documentation>
        </annotation>
      </enumeration>
      <enumeration value="5000">
        <annotation>
          <documentation>Plan des Bundes für den Gesamtraum und die ausschließliche Wirtschaftszone (AWZ).</documentation>
        </annotation>
      </enumeration>
      <enumeration value="5100">
        <annotation>
          <documentation>Raumordnungsplan für das Bundesgebiet mit übergreifenden Standortkonzepten für Seehäfen, Binnenhäfen sowie Flughäfen gem. §17 Abs. 2 ROG</documentation>
        </annotation>
      </enumeration>
      <enumeration value="9999" />
    </restriction>
  </simpleType>
  <element name="RP_GenerischesObjekt" substitutionGroup="xplan:RP_Geometrieobjekt" type="xplan:RP_GenerischesObjektType">
    <annotation>
      <documentation>Generisches Objekt Regionalplan</documentation>
    </annotation>
  </element>
  <complexType name="RP_GenerischesObjektType">
    <complexContent>
      <extension base="xplan:RP_GeometrieobjektType">
        <sequence>
          <element minOccurs="0" name="zweckbestimmung" type="gml:CodeType" />
          <!--== ADE ===================================================================-->
          <element ref="xplan:_GenericApplicationPropertyOfRP_GenerischesObjekt" minOccurs="0" maxOccurs="unbounded" />
          <!--==========================================================================-->
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <!--== ADE ===================================================================-->
  <element name="_GenericApplicationPropertyOfRP_GenerischesObjekt" type="anyType" abstract="true" />
  <!--==========================================================================-->
  <simpleType name="RP_VerkehrTypenType">
    <restriction base="string">
      <enumeration value="1000" />
      <enumeration value="2000" />
      <enumeration value="3000" />
      <enumeration value="4000" />
      <enumeration value="9999" />
    </restriction>
  </simpleType>
</schema>