deegree-datastores/deegree-tilestores/deegree-tilestore-filesystem/src/main/resources/META-INF/schemas/datasource/tile/filesystem/3.2.0/filesystem.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://www.w3.org/2001/XMLSchema"
  targetNamespace="http://www.deegree.org/datasource/tile/filesystem" xmlns:t="http://www.deegree.org/datasource/tile/filesystem"
  elementFormDefault="qualified" xmlns:jaxb="http://java.sun.com/xml/ns/jaxb" jaxb:version="2.1">

  <annotation>
    <appinfo>
      <jaxb:schemaBindings>
        <jaxb:package name="org.deegree.tile.persistence.filesystem.jaxb" />
      </jaxb:schemaBindings>
    </appinfo>
  </annotation>

  <element name="FileSystemTileStore">
    <annotation>
      <documentation>TileStore that is backed by a directory hierarchy of image tiles.
      </documentation>
      <appinfo>
        <jaxb:class name="FileSystemTileStoreJAXB" />
      </appinfo>
    </annotation>
    <complexType>
      <sequence>
        <element name="TilePyramid">
          <complexType>
            <sequence>
              <element name="TileWidth" type="positiveInteger">
                <annotation>
                  <documentation>Width of a single tile in pixels</documentation>
                </annotation>
              </element>
              <element name="TileHeight" type="positiveInteger">
                <annotation>
                  <documentation>Height of a single tile in pixels</documentation>
                </annotation>
              </element>
              <element name="MinScaleDenominator" type="double">
                <annotation>
                  <documentation>First scale level (base of the pyramid), scales of other levels are generated by
                    subsequent division by two
                  </documentation>
                </annotation>
              </element>
              <element name="NumLevels" type="positiveInteger">
                <annotation>
                  <documentation>Number of scale levels</documentation>
                </annotation>
              </element>
            </sequence>
          </complexType>
        </element>
        <element name="TileCacheDiskLayout">
          <annotation>
            <documentation>Points to a hierarchy of tile file directories as used by TileCache
              (http://www.tilecache.org)</documentation>
          </annotation>
          <complexType>
            <sequence>
              <element name="Directory" type="string" />
            </sequence>
          </complexType>
        </element>
      </sequence>
      <attribute name="configVersion" use="required" fixed="3.2.0" />
    </complexType>
  </element>

</schema>