deegree-workspaces/deegree-workspace-geosciml/src/main/resources/appschemas/geosciml/3.0/geosciml-core/3.0/geologicRelation.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" 
    xmlns:gml="http://www.opengis.net/gml/3.2" 
    xmlns:gsml="http://xmlns.geosciml.org/GeoSciML-Core/3.0" 
    xmlns:gsmlst="http://xmlns.geosciml.org/GeologicStructure/3.0" 
    targetNamespace="http://xmlns.geosciml.org/GeoSciML-Core/3.0" elementFormDefault="qualified" attributeFormDefault="unqualified" version="3.0.0">
    <!-- Schema auto-generated by FullMoon, applying rule suite xmi11ea -->
    <annotation>
        <documentation>The GeoSciML GeologicRelation package contains the root relation class. 

Geologic Relations are typed, directed associations between geologic objects. Represents any of a wide variety of relationships that can exist between two or more Features or other entities. For example, the GeologicRelation "intrudes" is a relationship between an intrusive igneous rock and some host rock. Includes spatial, temporal, sequence, correlation, and parent/child relations.</documentation>
    </annotation>
    <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
    <include schemaLocation="http://schemas.geosciml.org/geosciml-core/3.0/geosciml-core.xsd"/>
    <element name="GeologicFeatureRelation" substitutionGroup="gsml:GeologicRelation" type="gsml:GeologicFeatureRelationType">
        <annotation>
            <documentation>The GeologicFeatureRelation class is a concrete subtype of the abstract GeologicRelation class that is used to define relationships between geologic features, ie. structure-structure, unit-unit, and structure-unit relationships.

Relationships are always binary and directional.  There is always a single source and a single target. The relationship is always defined from the perspective of the Source and is generally an active verb.

Example:  a Source may point to an intrusive igneous rock body.  In this case, the Target would point to the appropriate host rock body and the relationship attribute would be 'intrudes'.  Other appropriate relationship attributes might include: overlies, offsets, crosscuts, folds, etc.

Two or more GeologicFeatures are associated in a GeologicFeatureRelation; each has a role in the relationship. Examples of geological roles include "overlies", "is overlain by", "is younger", "is older", "intrudes", "is intruded by", and so forth. In a relationship where an igneous unit intrudes a sedimentary unit, the geological relationship is "intrudes", the intruded sedimentary unit has the role "host", and the igneous unit has the role "intrusion".</documentation>
        </annotation>
    </element>
    <complexType name="GeologicFeatureRelationType">
        <complexContent>
            <extension base="gsml:GeologicRelationType">
                <sequence>
                    <element name="relatedFeature" type="gsml:GeologicFeaturePropertyType"/>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="GeologicFeatureRelationPropertyType">
        <sequence minOccurs="0">
            <element ref="gsml:GeologicFeatureRelation"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
        <attributeGroup ref="gml:OwnershipAttributeGroup"/>
    </complexType>
    <element abstract="true" name="GeologicRelation" substitutionGroup="gml:AbstractGML" type="gsml:GeologicRelationType">
        <annotation>
            <documentation>The GeologicRelation class is an abstract class that defines the general structure used to define relationships between any feature or object within GeoSciML.  Relationships are always binary and directional.  There is always a single source and a single target.  The relationship is always defined from the perspective of the Source and is generally an active verb.

Example:  a Source may point to an intrusive igneous rock body.  In this case, the Target would point to the appropriate host rock body and the relationship attribute would be 'intrudes'.  Other appropriate relationship attributes might include: overlies, offsets, crosscuts, folds, etc.

Many other types of relationships can also be accommodated via GeologicRelation, for example, topological relations between spatial objects could be described where they are scientifically significant.</documentation>
        </annotation>
    </element>
    <complexType abstract="true" name="GeologicRelationType">
        <complexContent>
            <extension base="gml:AbstractGMLType">
                <sequence>
                    <element name="relationship" type="gml:ReferenceType">
                        <annotation>
                            <documentation>A term from a controlled vocabulary to describe the geologic relationship</documentation>
                        </annotation>
                    </element>
                    <element name="sourceRole" type="gml:ReferenceType" nillable="true">
                        <annotation>
                            <documentation>The role played by the source geologic feature or object</documentation>
                        </annotation>
                    </element>
                    <element name="targetRole" type="gml:ReferenceType" nillable="true">
                        <annotation>
                            <documentation>The role played by the target geologic feature or object</documentation>
                        </annotation>
                    </element>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="GeologicRelationPropertyType">
        <sequence minOccurs="0">
            <element ref="gsml:GeologicRelation"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
        <attributeGroup ref="gml:OwnershipAttributeGroup"/>
    </complexType>
</schema>