deegree-services/src/main/resources/META-INF/schemas/wps/0.5.0/wps_published_information.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:wps="http://www.deegree.org/services/wps"
  targetNamespace="http://www.deegree.org/services/wps" elementFormDefault="qualified"
  attributeFormDefault="unqualified">
  <element name="PublishedInformation">
    <complexType>
      <sequence>
        <element name="OfferedVersions">
          <complexType>
            <sequence>
              <element name="Version" type="string" maxOccurs="unbounded" />
            </sequence>
          </complexType>
        </element>
      </sequence>
    </complexType>
  </element>
</schema>
