deegree-datastores/deegree-tilestores/deegree-tilestore-gpkg/src/main/resources/META-INF/schemas/datasource/tile/gpkg/geopackage.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.deegree.org/datasource/tile/gpkg"
        elementFormDefault="qualified" xmlns:jaxb="http://java.sun.com/xml/ns/jaxb" jaxb:version="2.1">

  <annotation>
    <appinfo>
      <jaxb:schemaBindings>
        <jaxb:package name="org.deegree.tile.persistence.gpkg.jaxb"/>
      </jaxb:schemaBindings>
    </appinfo>
  </annotation>

  <element name="GpkgTileStore">
    <annotation>
      <appinfo>
        <jaxb:class name="GpkgTileStoreJAXB"/>
      </appinfo>
    </annotation>
    <complexType>
      <sequence maxOccurs="1">
        <element name="TileDataSet">
          <complexType>
            <sequence>
              <element name="Identifier" type="string" minOccurs="1"/>
              <element name="File" type="string" minOccurs="1"/>
              <element name="TileMapping">
                <complexType>
                  <attribute name="table" type="string" use="required"/>
                </complexType>
              </element>
              <element name="ImageFormat" type="string" minOccurs="0"/>
            </sequence>
          </complexType>
        </element>
      </sequence>
      <attribute name="configVersion" type="string" use="optional"/>
    </complexType>
  </element>

</schema>
