deegree-demos/deegree-wfs-inspire/src/main/webapp/WEB-INF/workspace/datasources/feature/schemas/inspire/annex1/BaseTypes.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:base="urn:x-inspire:specification:gmlas:BaseTypes:3.2" xmlns:gmd="http://www.isotc211.org/2005/gmd" xmlns:gml="http://www.opengis.net/gml/3.2" elementFormDefault="qualified" targetNamespace="urn:x-inspire:specification:gmlas:BaseTypes:3.2" version="3.2">
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <import namespace="http://www.isotc211.org/2005/gmd" schemaLocation="http://schemas.opengis.net/iso/19139/20070417/gmd/gmd.xsd"/>
  <!--XML Schema document created by ShapeChange-->
  <simpleType name="VerticalPositionValueType">
    <annotation>
      <documentation>-- Definition --&#13;
The relative vertical position of a spatial object.&#13;
&#13;
</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="onGroundSurface">
        <annotation>
          <documentation>-- Definition --&#13;
The spatial object is on ground level.&#13;
</documentation>
        </annotation>
      </enumeration>
      <enumeration value="suspendedOrElevated">
        <annotation>
          <documentation>-- Definition --&#13;
The spatial object is suspended or elevated.&#13;
</documentation>
        </annotation>
      </enumeration>
      <enumeration value="underground">
        <annotation>
          <documentation>-- Definition --&#13;
The spatial object is underground.&#13;
</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <element name="SpatialDataSet" substitutionGroup="gml:AbstractFeature" type="base:SpatialDataSetType">
    <annotation>
      <documentation>-- Definition --&#13;
Identifiable collection of spatial data.&#13;
&#13;
-- Description --&#13;
NOTE The type SpatialDataSet is offered as a pre-defined type for spatial data sets. INSPIRE application schemas may specify their own spatial data set types. It specifies three properties: an external object identifier, a container for metadata (may be void), and an association to zero or more spatial objects.&#13;
</documentation>
    </annotation>
  </element>
  <complexType name="SpatialDataSetType">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence>
          <element name="identifier" type="base:IdentifierPropertyType">
            <annotation>
              <documentation>-- Definition --&#13;
Identifier of the spatial data set.&#13;
</documentation>
            </annotation>
          </element>
          <element name="metadata" nillable="true">
            <annotation>
              <documentation>-- Definition --&#13;
Metadata of the spatial data set.&#13;
</documentation>
            </annotation>
            <complexType>
              <complexContent>
                <extension base="gml:AbstractMetadataPropertyType">
                  <sequence minOccurs="0">
                    <element ref="gmd:MD_Metadata"/>
                  </sequence>
                  <attributeGroup ref="gml:AssociationAttributeGroup"/>
                </extension>
              </complexContent>
            </complexType>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="member" type="gml:FeaturePropertyType">
            <annotation>
              <documentation>The spatial objects that are members of the spatial data set</documentation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">null:AbstractFeature</targetElement>
              </appinfo>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="SpatialDataSetPropertyType">
    <sequence minOccurs="0">
      <element ref="base:SpatialDataSet"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="Identifier" substitutionGroup="gml:AbstractObject" type="base:IdentifierType">
    <annotation>
      <documentation>-- Definition --&#13;
External unique object identifier published by the responsible body, which may be used by external applications to reference the spatial object.&#13;
&#13;
-- Description --&#13;
NOTE1 External object identifiers are distinct from thematic object identifiers.&#13;
&#13;
NOTE 2 The voidable version identifier attribute is not part of the unique identifier of a spatial object and may be used to distinguish two versions of the same spatial object.&#13;
&#13;
NOTE 3 The unique identifier will not change during the life-time of a spatial object. &#13;
</documentation>
    </annotation>
  </element>
  <complexType name="IdentifierType">
    <sequence>
      <element name="localId" type="string">
        <annotation>
          <documentation>-- Definition --&#13;
A local identifier, assigned by the data provider. The local identifier is unique within the namespace, that is no other spatial object carries the same unique identifier.&#13;
&#13;
-- Description --&#13;
NOTE It is the responsibility of the data provider to guarantee uniqueness of the local identifier within the namespace.&#13;
</documentation>
        </annotation>
      </element>
      <element name="namespace" type="string">
        <annotation>
          <documentation>-- Definition --&#13;
Namespace uniquely identifying the data source of the spatial object.&#13;
&#13;
-- Description --&#13;
NOTE The namespace value will be owned by the data provider of the spatial object and will be registered in the INSPIRE External Object Identifier Namespaces Register.&#13;
</documentation>
        </annotation>
      </element>
      <element minOccurs="0" name="versionId" nillable="true">
        <annotation>
          <documentation>-- Definition --&#13;
The identifier of the particular version of the spatial object, with a maximum length of 25 characters. If the specification of a spatial object type with an external object identifier includes life-cycle information, the version identifier is used to distinguish between the different versions of a spatial object. Within the set of all versions of a spatial object, the version identifier is unique. &#13;
&#13;
-- Description --&#13;
NOTE The maximum length has been selected to allow for time stamps based on ISO 8601, for example, "2007-02-12T12:12:12+05:30" as the version identifier.&#13;
&#13;
NOTE 2 The property is void, if the spatial data set does not distinguish between different versions of the spatial object. It is missing, if the spatial object type does not support any life-cycle information.&#13;
</documentation>
        </annotation>
        <complexType>
          <simpleContent>
            <extension base="string">
              <attribute name="nilReason" type="gml:NilReasonType"/>
            </extension>
          </simpleContent>
        </complexType>
      </element>
    </sequence>
  </complexType>
  <complexType name="IdentifierPropertyType">
    <sequence>
      <element ref="base:Identifier"/>
    </sequence>
  </complexType>
</schema>
