deegree-demos/deegree-wfs-inspire/src/main/webapp/WEB-INF/workspace/datasources/feature/schemas/inspire/annex1/BiogeographicalRegions.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:base="urn:x-inspire:specification:gmlas:BaseTypes:3.2" xmlns:bgr="urn:x-inspire:specification:gmlas:BiogeographicalRegions:0.0" xmlns:gml="http://www.opengis.net/gml/3.2" elementFormDefault="qualified" targetNamespace="urn:x-inspire:specification:gmlas:BiogeographicalRegions:0.0" version="0.0">
  <import namespace="urn:x-inspire:specification:gmlas:BaseTypes:3.2" schemaLocation="BaseTypes.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange-->
  <element name="Bio-GeographicalRegion" substitutionGroup="gml:AbstractFeature" type="bgr:Bio-GeographicalRegionType">
    <annotation>
      <documentation>-- Definition --&#13;
An area of relatively homogeneous ecological conditions with common characteristics. </documentation>
    </annotation>
  </element>
  <complexType name="Bio-GeographicalRegionType">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence>
          <element name="inspireID" type="base:IdentifierPropertyType">
            <annotation>
              <documentation>-- Definition --&#13;
A unique identifier for the region.</documentation>
            </annotation>
          </element>
          <element name="geometry" type="gml:MultiSurfacePropertyType">
            <annotation>
              <documentation>-- Definition --&#13;
The geometry showing the spatial extents of the region.</documentation>
            </annotation>
          </element>
          <element name="regionClassification" type="gml:CodeType">
            <annotation>
              <documentation>-- Definition --&#13;
The clasification of the region.</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="Bio-GeographicalRegionPropertyType">
    <sequence minOccurs="0">
      <element ref="bgr:Bio-GeographicalRegion"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
</schema>
