deegree-demos/deegree-wfs-inspire/src/main/webapp/WEB-INF/workspace/datasources/feature/schemas/inspire/annex1/Gazetteer.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gaz="urn:x-inspire:specification:gmlas:Gazetteer:3.2" xmlns:gmd="http://www.isotc211.org/2005/gmd" xmlns:gml="http://www.opengis.net/gml/3.2" elementFormDefault="qualified" targetNamespace="urn:x-inspire:specification:gmlas:Gazetteer:3.2" version="3.2">
  <annotation>
    <documentation>Application schema for gazetteers.</documentation>
  </annotation>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <import namespace="http://www.isotc211.org/2005/gmd" schemaLocation="http://schemas.opengis.net/iso/19139/20070417/gmd/gmd.xsd"/>
  <!--XML Schema document created by ShapeChange-->
  <element name="Gazetteer" substitutionGroup="gml:AbstractFeature" type="gaz:GazetteerType">
    <annotation>
      <documentation>A gazetteer is a directory of instances of location types in a spatial reference system.</documentation>
    </annotation>
  </element>
  <complexType name="GazetteerType">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence>
          <element name="name" type="gmd:PT_FreeText_PropertyType">
            <annotation>
              <documentation>name of the gazetteer</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="scope" type="gmd:PT_FreeText_PropertyType">
            <annotation>
              <documentation>description of the location types contained in the gazettee</documentation>
            </annotation>
          </element>
          <element name="custodian">
            <annotation>
              <documentation>name of the organization responsible for maintenance of the gazetteer</documentation>
            </annotation>
            <complexType>
              <complexContent>
                <extension base="gml:AbstractMetadataPropertyType">
                  <sequence>
                    <element ref="gmd:CI_ResponsibleParty"/>
                  </sequence>
                </extension>
              </complexContent>
            </complexType>
          </element>
          <element name="territoryOfUse">
            <annotation>
              <documentation>use geographic domain covered by the gazetteer</documentation>
            </annotation>
            <complexType>
              <complexContent>
                <extension base="gml:AbstractMetadataPropertyType">
                  <sequence minOccurs="0">
                    <element ref="gmd:AbstractEX_GeographicExtent"/>
                  </sequence>
                  <attributeGroup ref="gml:AssociationAttributeGroup"/>
                </extension>
              </complexContent>
            </complexType>
          </element>
          <element minOccurs="0" name="coordinateSystem" type="gml:CRSPropertyType">
            <annotation>
              <documentation>name of coordinate reference system used in the gazetteer for describing position</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="locationType" type="gml:ReferenceType">
            <annotation>
              <documentation>location type for which instances are recorded in the gazetteer</documentation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">gaz:LocationType</targetElement>
              </appinfo>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="GazetteerPropertyType">
    <sequence minOccurs="0">
      <element ref="gaz:Gazetteer"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="LocationType" substitutionGroup="gml:AbstractFeature" type="gaz:LocationTypeType">
    <annotation>
      <documentation>Classification scheme for location instances.</documentation>
    </annotation>
  </element>
  <complexType name="LocationTypeType">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence>
          <element name="name" type="gmd:PT_FreeText_PropertyType">
            <annotation>
              <documentation>name of the location type</documentation>
            </annotation>
          </element>
          <element name="definition" type="gmd:PT_FreeText_PropertyType">
            <annotation>
              <documentation>the way in which location instances are defined</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" name="identificationType" type="gml:CodeType">
            <annotation>
              <documentation>method of uniquely identifying location instances</documentation>
            </annotation>
          </element>
          <element name="territoryOfUse">
            <annotation>
              <documentation>geographic area within which the location type occurs</documentation>
            </annotation>
            <complexType>
              <complexContent>
                <extension base="gml:AbstractMetadataPropertyType">
                  <sequence minOccurs="0">
                    <element ref="gmd:AbstractEX_GeographicExtent"/>
                  </sequence>
                  <attributeGroup ref="gml:AssociationAttributeGroup"/>
                </extension>
              </complexContent>
            </complexType>
          </element>
          <element name="owner">
            <annotation>
              <documentation>name of organization or class of organization able to create and destroy location instances</documentation>
            </annotation>
            <complexType>
              <complexContent>
                <extension base="gml:AbstractMetadataPropertyType">
                  <sequence>
                    <element ref="gmd:CI_ResponsibleParty"/>
                  </sequence>
                </extension>
              </complexContent>
            </complexType>
          </element>
          <element minOccurs="0" name="spatialObjectType" type="gml:ReferenceType">
            <annotation>
              <documentation>spatial object type used as the defining characteristic of the location type, if applicable</documentation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">null:FC_FeatureType</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="parent" type="gml:ReferenceType">
            <annotation>
              <documentation>name of parent location type (a location type of which this location type is a sub-division)</documentation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">gaz:LocationType</targetElement>
              </appinfo>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="LocationTypePropertyType">
    <sequence minOccurs="0">
      <element ref="gaz:LocationType"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="LocationInstance" substitutionGroup="gml:AbstractFeature" type="gaz:LocationInstanceType">
    <annotation>
      <documentation>Identifiable place in the real world</documentation>
    </annotation>
  </element>
  <complexType name="LocationInstanceType">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence>
          <element name="geographicIdentifier" type="string">
            <annotation>
              <documentation>unique identifier for the location instance</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="alternativeGeographicIdentifier" type="string">
            <annotation>
              <documentation>other identifier for the location instance</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="dateOfCreation" type="date">
            <annotation>
              <documentation>date of creation of this version of the location instance</documentation>
            </annotation>
          </element>
          <element name="geographicExtent" type="gml:GeometryPropertyType">
            <annotation>
              <documentation>description of the location instance</documentation>
            </annotation>
          </element>
          <element name="admin">
            <annotation>
              <documentation>organization responsible for defining the characteristics of the location instance</documentation>
            </annotation>
            <complexType>
              <complexContent>
                <extension base="gml:AbstractMetadataPropertyType">
                  <sequence>
                    <element ref="gmd:CI_ResponsibleParty"/>
                  </sequence>
                </extension>
              </complexContent>
            </complexType>
          </element>
          <element minOccurs="0" name="spatialObject" nillable="true" type="gml:FeaturePropertyType">
            <annotation>
              <documentation>reference to a spatial object that is associated with the location and often the source for the location instance</documentation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">null:AbstractFeature</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" name="gazetteer" type="gml:ReferenceType">
            <annotation>
              <documentation>gazatteer which includes this location instance</documentation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">gaz:Gazetteer</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="parent" type="gml:ReferenceType">
            <annotation>
              <documentation>location instance of a different location type, for which this location instance is a sub-division</documentation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">gaz:LocationInstance</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element name="locationType" type="gml:ReferenceType">
            <annotation>
              <documentation>location type of this instance</documentation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">gaz:LocationType</targetElement>
              </appinfo>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="LocationInstancePropertyType">
    <sequence minOccurs="0">
      <element ref="gaz:LocationInstance"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
</schema>
