deegree-demos/deegree-wfs-inspire/src/main/webapp/WEB-INF/workspace/datasources/feature/schemas/inspire/annex1/NaturalRiskZones.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:base="urn:x-inspire:specification:gmlas:BaseTypes:3.2" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:gn="urn:x-inspire:specification:gmlas:GeographicalNames:3.0" xmlns:hy="urn:x-inspire:specification:gmlas:HydroBase:3.0" xmlns:hy-p="urn:x-inspire:specification:gmlas:HydroPhysicalWaters:3.0" xmlns:nrz="urn:x-inspire:specification:gmlas:NaturalRiskZones:0.0" elementFormDefault="qualified" targetNamespace="urn:x-inspire:specification:gmlas:NaturalRiskZones:0.0" version="0.0">
  <import namespace="urn:x-inspire:specification:gmlas:HydroBase:3.0" schemaLocation="HydroBase.xsd"/>
  <import namespace="urn:x-inspire:specification:gmlas:HydroPhysicalWaters:3.0" schemaLocation="HydroPhysicalWaters.xsd"/>
  <import namespace="urn:x-inspire:specification:gmlas:BaseTypes:3.2" schemaLocation="BaseTypes.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <import namespace="urn:x-inspire:specification:gmlas:GeographicalNames:3.0" schemaLocation="GeographicalNames.xsd"/>
  <!--XML Schema document created by ShapeChange-->
  <element name="Embankment" substitutionGroup="hy-p:ManMadeObject" type="nrz:EmbankmentType">
    <annotation>
      <documentation>-- Definition --&#13;
A man-made raised long mound of earth or other material.&#13;
&#13;
-- Description --&#13;
SOURCE [DFDD].&#13;
&#13;
NOTE 1 Includes retaining walls, harbours, dikes.&#13;
&#13;
NOTE 2 Regarded as a candidate spatial object in Annex III theme 'Natural risk zones' due to its role in limiting flooding.&#13;
</documentation>
    </annotation>
  </element>
  <complexType name="EmbankmentType">
    <complexContent>
      <extension base="hy-p:ManMadeObjectType">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="EmbankmentPropertyType">
    <sequence minOccurs="0">
      <element ref="nrz:Embankment"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="InundatedLand" substitutionGroup="gml:AbstractFeature" type="nrz:InundatedLandType">
    <annotation>
      <documentation>-- Definition --&#13;
A tract periodically covered by flood water, excluding tidal waters.&#13;
&#13;
-- Description --&#13;
SOURCE [DFDD].&#13;
&#13;
NOTE 1 It may be caused by either uncontrolled inundation (for example: flooding due to a river overflowing its banks or low-lying regions accumulating standing water following severe rainfall) or controlled inundation (for example: flooded by the regulation of the level of a reservoir). [DFDD].&#13;
&#13;
NOTE 2 Inundation for irrigation purposes is excluded.&#13;
&#13;
NOTE 3 Regarded as a candidate spatial object in Annex III theme 'Natural risk zones' due to the relationship (by definition) with flooding.</documentation>
    </annotation>
  </element>
  <complexType name="InundatedLandType">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence>
          <element maxOccurs="unbounded" minOccurs="0" name="geographicalName" nillable="true">
            <annotation>
              <documentation>-- Definition --&#13;
A geographical name that is used to identify a hydrographic object in the real world. It provides a 'key' for implicitly associating different representations of the object.&#13;
&#13;
-- Description --&#13;
EXAMPLE A standing water in a mapping view may share the same geographical name as a WFD lake in a reporting view, implying they are both representations of the same real world object.</documentation>
            </annotation>
            <complexType>
              <sequence>
                <element ref="gn:GeographicalName"/>
              </sequence>
              <attribute name="nilReason" type="gml:NilReasonType"/>
            </complexType>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="hydroId" nillable="true">
            <annotation>
              <documentation>-- Definition --&#13;
An identifier that is used to identify a hydrographic object in the real world. It provides a 'key' for implicitly associating different representations of the object.&#13;
&#13;
-- Description --&#13;
NOTE 1 The identifier may be a national hydrological identification code.&#13;
&#13;
NOTE 2 More than one identifier may be required, for instance a watercourse may be assigned different identifying codes under national and European schemes.&#13;
&#13;
EXAMPLE A lock in a mapping view may share the same identifier as a hydro node in a network view, implying they are both representations of the same real world object.</documentation>
            </annotation>
            <complexType>
              <sequence>
                <element ref="hy:HydroIdentifier"/>
              </sequence>
              <attribute name="nilReason" type="gml:NilReasonType"/>
            </complexType>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="relatedHydroObject" type="gml:ReferenceType">
            <annotation>
              <documentation>-- Definition --&#13;
A related hydrographic object representing the same real-world entity.</documentation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">hy:HydroObject</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element name="beginLifespanVersion" nillable="true">
            <annotation>
              <documentation>-- Definition --&#13;
Date and time at which this version of the spatial object was inserted or changed in the spatial data set.</documentation>
            </annotation>
            <complexType>
              <simpleContent>
                <extension base="dateTime">
                  <attribute name="nilReason" type="gml:NilReasonType"/>
                </extension>
              </simpleContent>
            </complexType>
          </element>
          <element minOccurs="0" name="endLifespanVersion" nillable="true">
            <annotation>
              <documentation>-- Definition --&#13;
Date and time at which this version of the spatial object was superseded or retired in the spatial data set.&#13;
</documentation>
            </annotation>
            <complexType>
              <simpleContent>
                <extension base="dateTime">
                  <attribute name="nilReason" type="gml:NilReasonType"/>
                </extension>
              </simpleContent>
            </complexType>
          </element>
          <element name="geometry" type="gml:SurfacePropertyType">
            <annotation>
              <documentation>-- Definition --&#13;
The geometry of the inundated land, as a surface.</documentation>
            </annotation>
          </element>
          <element name="inspireId" type="base:IdentifierPropertyType">
            <annotation>
              <documentation>-- Definition --&#13;
External object identifier of the spatial object.&#13;
&#13;
-- Description --&#13;
NOTE An external object identifier is a unique object identifier published by the responsible body, which may be used by external applications to reference the spatial object. The identifier is an identifier of the spatial object, not an identifier of the real-world phenomenon.&#13;
</documentation>
            </annotation>
          </element>
          <element name="inundationReturnPeriod" nillable="true">
            <annotation>
              <documentation>-- Definition --&#13;
The average period (in years) between the occurences of an inundation event.</documentation>
            </annotation>
            <complexType>
              <simpleContent>
                <extension base="double">
                  <attribute name="nilReason" type="gml:NilReasonType"/>
                </extension>
              </simpleContent>
            </complexType>
          </element>
          <element name="inundationType" nillable="true">
            <annotation>
              <documentation>-- Definition --&#13;
The type of a land subject to inundation based on the cause of its flooding.&#13;
&#13;
-- Description --&#13;
SOURCE [DFDD].</documentation>
            </annotation>
            <complexType>
              <simpleContent>
                <extension base="gml:CodeType">
                  <attribute name="nilReason" type="gml:NilReasonType"/>
                </extension>
              </simpleContent>
            </complexType>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="InundatedLandPropertyType">
    <sequence minOccurs="0">
      <element ref="nrz:InundatedLand"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
</schema>
