deegree-demos/deegree-wfs-inspire/src/main/webapp/WEB-INF/workspace/datasources/feature/schemas/inspire/annex1/Network.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:base="urn:x-inspire:specification:gmlas:BaseTypes:3.2" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:gn="urn:x-inspire:specification:gmlas:GeographicalNames:3.0" xmlns:net="urn:x-inspire:specification:gmlas:Network:3.2" elementFormDefault="qualified" targetNamespace="urn:x-inspire:specification:gmlas:Network:3.2" version="3.2">
  <annotation>
    <documentation>Generic application schema for networks.</documentation>
  </annotation>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <import namespace="urn:x-inspire:specification:gmlas:BaseTypes:3.2" schemaLocation="BaseTypes.xsd"/>
  <import namespace="urn:x-inspire:specification:gmlas:GeographicalNames:3.0" schemaLocation="GeographicalNames.xsd"/>
  <!--XML Schema document created by ShapeChange-->
  <element name="SimpleLinearReference" substitutionGroup="net:LinkReference" type="net:SimpleLinearReferenceType">
    <annotation>
      <documentation>-- Definition --&#13;
A network reference that is restricted to part of a linear network element. The part is the part of the network element between fromPosition and toPosition.&#13;
</documentation>
    </annotation>
  </element>
  <complexType name="SimpleLinearReferenceType">
    <complexContent>
      <extension base="net:LinkReferenceType">
        <sequence>
          <element name="fromPosition" type="gml:LengthType">
            <annotation>
              <documentation>-- Definition --&#13;
The start position of the linear element, expressed as the distance from the start of the linear network element along its curve geometry.&#13;
</documentation>
            </annotation>
          </element>
          <element name="toPosition" type="gml:LengthType">
            <annotation>
              <documentation>-- Definition --&#13;
The end position of the linear element, expressed as the distance from the start of the linear network element along its curve geometry.&#13;
</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="offset" nillable="true">
            <annotation>
              <documentation>-- Definition --&#13;
An offset from the centerline geometry of the generalised link, where applicable; a positive offset is to the right in the direction of the link, a negative offset is to the left.&#13;
</documentation>
            </annotation>
            <complexType>
              <simpleContent>
                <extension base="gml:LengthType">
                  <attribute name="nilReason" type="gml:NilReasonType"/>
                </extension>
              </simpleContent>
            </complexType>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="SimpleLinearReferencePropertyType">
    <sequence>
      <element ref="net:SimpleLinearReference"/>
    </sequence>
  </complexType>
  <element name="SimplePointReference" substitutionGroup="net:LinkReference" type="net:SimplePointReferenceType">
    <annotation>
      <documentation>-- Definition --&#13;
A network reference that is restricted to a point on a linear network element. The point is the location on the network element at the position atPosition along the network. &#13;
</documentation>
    </annotation>
  </element>
  <complexType name="SimplePointReferenceType">
    <complexContent>
      <extension base="net:LinkReferenceType">
        <sequence>
          <element name="atPosition" type="gml:LengthType">
            <annotation>
              <documentation>-- Definition --&#13;
Position of the point, expressed as the distance from the start of the linear network element along its curve geometry.&#13;
</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="offset" nillable="true">
            <annotation>
              <documentation>-- Definition --&#13;
An offset from the centerline geometry of the generalised link, where applicable; a positive offset is to the right in the direction of the link, a negative offset is to the left.&#13;
</documentation>
            </annotation>
            <complexType>
              <simpleContent>
                <extension base="gml:LengthType">
                  <attribute name="nilReason" type="gml:NilReasonType"/>
                </extension>
              </simpleContent>
            </complexType>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="SimplePointReferencePropertyType">
    <sequence>
      <element ref="net:SimplePointReference"/>
    </sequence>
  </complexType>
  <element name="GradeSeparatedCrossing" substitutionGroup="net:NetworkElement" type="net:GradeSeparatedCrossingType">
    <annotation>
      <documentation>-- Definition --&#13;
Indicator which of two or more intersecting elements is/are below and which is/are above, to be used if elevation coordinates are not present or cannot be trusted.&#13;
&#13;
-- Description --&#13;
NOTE 1 In most cases, the number of elements will be two.&#13;
&#13;
NOTE 2 In the normal case this is when elements intersect in the x/y-plane when the z coordinate is not present or is not accurate enough.&#13;
</documentation>
    </annotation>
  </element>
  <complexType name="GradeSeparatedCrossingType">
    <complexContent>
      <extension base="net:NetworkElementType">
        <sequence>
          <element maxOccurs="unbounded" minOccurs="2" name="element" type="gml:ReferenceType">
            <annotation>
              <documentation>-- Definition --&#13;
Sequence of crossing links. The order reflects their elevation; the first link is the lower link.</documentation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">net:Link</targetElement>
              </appinfo>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="GradeSeparatedCrossingPropertyType">
    <sequence minOccurs="0">
      <element ref="net:GradeSeparatedCrossing"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element abstract="true" name="LinkSet" substitutionGroup="net:NetworkElement" type="net:LinkSetType">
    <annotation>
      <documentation>-- Definition --&#13;
A collection of link sequences and/or individual links that has a specific function or significance in a network. &#13;
&#13;
-- Description --&#13;
NOTE This spatial object type supports the aggregation of links to form objects with branches, loops, parallel sequences of links, gaps, etc.&#13;
&#13;
EXAMPLE A dual carriageway road, as a collection of the two link sequences that represent each carriageway. &#13;
</documentation>
    </annotation>
  </element>
  <complexType abstract="true" name="LinkSetType">
    <complexContent>
      <extension base="net:NetworkElementType">
        <sequence>
          <element maxOccurs="unbounded" name="link">
            <annotation>
              <documentation>-- Definition --&#13;
The set of links and link sequences that constitute the link set.</documentation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">net:GeneralisedLink</targetElement>
              </appinfo>
            </annotation>
            <complexType>
              <complexContent>
                <extension base="gml:AbstractMemberType">
                  <sequence/>
                  <attributeGroup ref="gml:AssociationAttributeGroup"/>
                </extension>
              </complexContent>
            </complexType>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="LinkSetPropertyType">
    <sequence minOccurs="0">
      <element ref="net:LinkSet"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element abstract="true" name="NetworkElement" substitutionGroup="gml:AbstractFeature" type="net:NetworkElementType">
    <annotation>
      <documentation>-- Definition --&#13;
Abstract base type representing an element in a network. Every element in a network provides some function that is of interest in the network.&#13;
</documentation>
    </annotation>
  </element>
  <complexType abstract="true" name="NetworkElementType">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence>
          <element name="beginLifespanVersion" nillable="true">
            <annotation>
              <documentation>-- Definition --&#13;
Date and time at which this version of the spatial object was inserted or changed in the spatial data set.&#13;
</documentation>
            </annotation>
            <complexType>
              <simpleContent>
                <extension base="dateTime">
                  <attribute name="nilReason" type="gml:NilReasonType"/>
                </extension>
              </simpleContent>
            </complexType>
          </element>
          <element minOccurs="0" name="inspireId" type="base:IdentifierPropertyType">
            <annotation>
              <documentation>-- Definition --&#13;
External object identifier of the spatial object.&#13;
&#13;
-- Description --&#13;
NOTE An external object identifier is a unique object identifier published by the responsible body, which may be used by external applications to reference the spatial object. The identifier is an identifier of the spatial object, not an identifier of the real-world phenomenon.&#13;
</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="endLifespanVersion" nillable="true">
            <annotation>
              <documentation>-- Definition --&#13;
Date and time at which this version of the spatial object was superseded or retired in the spatial data set.&#13;
</documentation>
            </annotation>
            <complexType>
              <simpleContent>
                <extension base="dateTime">
                  <attribute name="nilReason" type="gml:NilReasonType"/>
                </extension>
              </simpleContent>
            </complexType>
          </element>
          <element maxOccurs="unbounded" name="inNetwork" nillable="true" type="gml:ReferenceType">
            <annotation>
              <documentation>-- Definition --&#13;
The networks in which a network element is a member.</documentation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">net:Network</targetElement>
                <reversePropertyName xmlns="http://www.opengis.net/gml/3.2">net:elements</reversePropertyName>
              </appinfo>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="NetworkElementPropertyType">
    <sequence minOccurs="0">
      <element ref="net:NetworkElement"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="Network" substitutionGroup="gml:AbstractFeature" type="net:NetworkType">
    <annotation>
      <documentation>-- Definition --&#13;
A network is a collection of network elements.&#13;
&#13;
-- Description --&#13;
The reason for collecting certain elements in a certain network may vary (e.g. connected elements for the same mode of transport)&#13;
</documentation>
    </annotation>
  </element>
  <complexType name="NetworkType">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence>
          <element maxOccurs="unbounded" minOccurs="0" name="geographicalName" nillable="true">
            <annotation>
              <documentation>-- Definition --&#13;
Geographical name for this network.&#13;
</documentation>
            </annotation>
            <complexType>
              <sequence>
                <element ref="gn:GeographicalName"/>
              </sequence>
              <attribute name="nilReason" type="gml:NilReasonType"/>
            </complexType>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="elements" type="gml:ReferenceType">
            <annotation>
              <documentation>-- Definition --&#13;
The collection of elements that constitutes the network.&#13;
</documentation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">net:NetworkElement</targetElement>
                <reversePropertyName xmlns="http://www.opengis.net/gml/3.2">net:inNetwork</reversePropertyName>
              </appinfo>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <element abstract="true" name="NetworkArea" substitutionGroup="net:NetworkElement" type="net:NetworkAreaType">
    <annotation>
      <documentation>-- Definition --&#13;
A 2-dimensional element in a network. &#13;
</documentation>
    </annotation>
  </element>
  <complexType abstract="true" name="NetworkAreaType">
    <complexContent>
      <extension base="net:NetworkElementType">
        <sequence>
          <element name="geometry" type="gml:SurfacePropertyType">
            <annotation>
              <documentation>-- Definition --&#13;
Represents the geometric properties of the area</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="NetworkAreaPropertyType">
    <sequence minOccurs="0">
      <element ref="net:NetworkArea"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element abstract="true" name="LinkSequence" substitutionGroup="net:GeneralisedLink" type="net:LinkSequenceType">
    <annotation>
      <documentation>-- Definition --&#13;
A network element which represents a continuous path in the network without any branches. The element has a defined beginning and end and every position on the link sequence is identifiable with one single parameter such as length. &#13;
&#13;
-- Description --&#13;
EXAMPLE A link sequence may represent a route. &#13;
</documentation>
    </annotation>
  </element>
  <complexType abstract="true" name="LinkSequenceType">
    <complexContent>
      <extension base="net:GeneralisedLinkType">
        <sequence>
          <element maxOccurs="unbounded" name="link" type="net:DirectedLinkPropertyType">
            <annotation>
              <documentation>-- Definition --&#13;
The ordered collection of directed links that constitute the link sequence.&#13;
</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="LinkSequencePropertyType">
    <sequence minOccurs="0">
      <element ref="net:LinkSequence"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element abstract="true" name="NetworkProperty" substitutionGroup="gml:AbstractFeature" type="net:NetworkPropertyType">
    <annotation>
      <documentation>-- Definition --&#13;
Abstract base type representing phenomena located at or along a network element. This base type provides general properties to associate the network-related phenomena (network properties) with the network elements.&#13;
&#13;
-- Description --&#13;
In the simplest case (NetworkReference), the network property applies to the whole network element. In the case of a Link, the spatial reference may be restricted to part of the Link by using a linear reference. ISO/TC 211 is currently in the early stages of developing a standard for Linear Referencing (ISO 19148). A simple mechanism to express linear references is provided in this version of the network model; it is expected that the model will be extended once ISO 19148 is stable. The current simple model requires for all linear references two expressions representing a distance from the start of the Link along its curve geometry. The network property applies to the part of the Link between fromPosition and toPosition.&#13;
</documentation>
    </annotation>
  </element>
  <complexType abstract="true" name="NetworkPropertyType">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence>
          <element maxOccurs="unbounded" name="networkRef" nillable="true">
            <annotation>
              <documentation>-- Definition --&#13;
Spatial reference of the network-related property.&#13;
&#13;
-- Description --&#13;
This attribute provides an indirect spatial reference based on a reference to an element of an underlying network. See the chapter on Object Referencing in the Generic Conceptual Model for a discussion on modelling object references.&#13;
</documentation>
            </annotation>
            <complexType>
              <sequence>
                <element ref="net:NetworkReference"/>
              </sequence>
              <attribute name="nilReason" type="gml:NilReasonType"/>
            </complexType>
          </element>
          <element minOccurs="0" name="inspireId" type="base:IdentifierPropertyType">
            <annotation>
              <documentation>-- Definition --&#13;
External object identifier of the spatial object.&#13;
&#13;
-- Description --&#13;
NOTE An external object identifier is a unique object identifier published by the responsible body, which may be used by external applications to reference the spatial object. The identifier is an identifier of the spatial object, not an identifier of the real-world phenomenon.&#13;
</documentation>
            </annotation>
          </element>
          <element name="beginLifespanVersion" nillable="true">
            <annotation>
              <documentation>-- Definition --&#13;
Date and time at which this version of the spatial object was inserted or changed in the spatial data set.&#13;
</documentation>
            </annotation>
            <complexType>
              <simpleContent>
                <extension base="dateTime">
                  <attribute name="nilReason" type="gml:NilReasonType"/>
                </extension>
              </simpleContent>
            </complexType>
          </element>
          <element minOccurs="0" name="endLifespanVersion" nillable="true">
            <annotation>
              <documentation>-- Definition --&#13;
Date and time at which this version of the spatial object was superseded or retired in the spatial data set.&#13;
</documentation>
            </annotation>
            <complexType>
              <simpleContent>
                <extension base="dateTime">
                  <attribute name="nilReason" type="gml:NilReasonType"/>
                </extension>
              </simpleContent>
            </complexType>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="NetworkPropertyPropertyType">
    <sequence minOccurs="0">
      <element ref="net:NetworkProperty"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="CrossReference" substitutionGroup="gml:AbstractFeature" type="net:CrossReferenceType">
    <annotation>
      <documentation>-- Definition --&#13;
Represents a reference between two elements in the same network. &#13;
&#13;
-- Description --&#13;
The cross reference may represent the case where two elements are different representations of the same spatial object.&#13;
</documentation>
    </annotation>
  </element>
  <complexType name="CrossReferenceType">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence>
          <element maxOccurs="2" minOccurs="2" name="element" type="gml:ReferenceType">
            <annotation>
              <documentation>-- Definition --&#13;
The cross referenced elements</documentation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">net:NetworkElement</targetElement>
              </appinfo>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="CrossReferencePropertyType">
    <sequence minOccurs="0">
      <element ref="net:CrossReference"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="NetworkReference" substitutionGroup="gml:AbstractObject" type="net:NetworkReferenceType">
    <annotation>
      <documentation>-- Definition --&#13;
A reference to a network element.&#13;
</documentation>
    </annotation>
  </element>
  <complexType name="NetworkReferenceType">
    <sequence>
      <element name="element" type="gml:ReferenceType">
        <annotation>
          <documentation>-- Definition --&#13;
The referenced network element.</documentation>
          <appinfo>
            <targetElement xmlns="http://www.opengis.net/gml/3.2">net:NetworkElement</targetElement>
          </appinfo>
        </annotation>
      </element>
    </sequence>
  </complexType>
  <complexType name="NetworkReferencePropertyType">
    <sequence>
      <element ref="net:NetworkReference"/>
    </sequence>
  </complexType>
  <element abstract="true" name="Link" substitutionGroup="net:GeneralisedLink" type="net:LinkType">
    <annotation>
      <documentation>-- Definition --&#13;
Curvilinear network element that connects two positions and represents a homogeneous path in the network. The connected positions may be represented as nodes.&#13;
</documentation>
    </annotation>
  </element>
  <complexType abstract="true" name="LinkType">
    <complexContent>
      <extension base="net:GeneralisedLinkType">
        <sequence>
          <element name="centrelineGeometry" type="gml:CurvePropertyType">
            <annotation>
              <documentation>-- Definition --&#13;
The geometry that represents the centreline of the link.&#13;
</documentation>
            </annotation>
          </element>
          <element name="fictitious" type="boolean">
            <annotation>
              <documentation>-- Definition --&#13;
Indicator that the centreline geometry of the link is a straight line with no intermediate control points &amp;ndash; unless the straight line represents the geography in the resolution of the data set appropriately.&#13;
</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="endNode" type="gml:ReferenceType">
            <annotation>
              <documentation>-- Definition --&#13;
The optional end node for this link. The end node may be the same instance as the start node. </documentation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">net:Node</targetElement>
                <reversePropertyName xmlns="http://www.opengis.net/gml/3.2">net:spokeEnd</reversePropertyName>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="startNode" type="gml:ReferenceType">
            <annotation>
              <documentation>-- Definition --&#13;
The optional start node for this link.</documentation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">net:Node</targetElement>
                <reversePropertyName xmlns="http://www.opengis.net/gml/3.2">net:spokeStart</reversePropertyName>
              </appinfo>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="LinkPropertyType">
    <sequence minOccurs="0">
      <element ref="net:Link"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="LinkReference" substitutionGroup="net:NetworkReference" type="net:LinkReferenceType">
    <annotation>
      <documentation>-- Definition --&#13;
A network reference to a linear network element.&#13;
</documentation>
    </annotation>
  </element>
  <complexType name="LinkReferenceType">
    <complexContent>
      <extension base="net:NetworkReferenceType">
        <sequence>
          <element name="applicableDirection" nillable="true">
            <annotation>
              <documentation>-- Definition --&#13;
The directions of the generalised link to which the reference applies.&#13;
&#13;
In cases where a property does not apply &lt;i&gt;to&lt;/i&gt; a direction along a link, but represents a phenomenon &lt;i&gt;along&lt;/i&gt; a link, &amp;ldquo;inDirection&amp;rdquo; refers to the right side in the direction of the link.&#13;
&#13;
-- Description --&#13;
EXAMPLE A speed limit is a property that applies to a direction of the link (or both directions) while a house number is a phenomenon along a link.&#13;
</documentation>
            </annotation>
            <complexType>
              <simpleContent>
                <extension base="gml:CodeType">
                  <attribute name="nilReason" type="gml:NilReasonType"/>
                </extension>
              </simpleContent>
            </complexType>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="LinkReferencePropertyType">
    <sequence>
      <element ref="net:LinkReference"/>
    </sequence>
  </complexType>
  <element abstract="true" name="GeneralisedLink" substitutionGroup="net:NetworkElement" type="net:GeneralisedLinkType">
    <annotation>
      <documentation>-- Definition --&#13;
Abstract base type representing a linear network element that may be used as a target in linear referencing.&#13;
</documentation>
    </annotation>
  </element>
  <complexType abstract="true" name="GeneralisedLinkType">
    <complexContent>
      <extension base="net:NetworkElementType">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="GeneralisedLinkPropertyType">
    <sequence minOccurs="0">
      <element ref="net:GeneralisedLink"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="DirectedLink" substitutionGroup="gml:AbstractObject" type="net:DirectedLinkType">
    <annotation>
      <documentation>-- Definition --&#13;
A link either in its positive or negative direction.&#13;
</documentation>
    </annotation>
  </element>
  <complexType name="DirectedLinkType">
    <sequence>
      <element name="direction" type="gml:SignType">
        <annotation>
          <documentation>-- Definition --&#13;
Indicates if the directed link agrees (positive) or disagrees (negative) with the positive direction of the link.&#13;
</documentation>
        </annotation>
      </element>
      <element name="link" type="gml:ReferenceType">
        <annotation>
          <documentation>-- Definition --&#13;
The link</documentation>
          <appinfo>
            <targetElement xmlns="http://www.opengis.net/gml/3.2">net:Link</targetElement>
          </appinfo>
        </annotation>
      </element>
    </sequence>
  </complexType>
  <complexType name="DirectedLinkPropertyType">
    <sequence>
      <element ref="net:DirectedLink"/>
    </sequence>
  </complexType>
  <element name="NetworkConnection" substitutionGroup="net:NetworkElement" type="net:NetworkConnectionType">
    <annotation>
      <documentation>-- Definition --&#13;
Represents a logical connection between two or more network elements in different networks.&#13;
&#13;
-- Description --&#13;
In the case where the networks are in different spatial data sets, a network connection object may exist in both data sets.&#13;
</documentation>
    </annotation>
  </element>
  <complexType name="NetworkConnectionType">
    <complexContent>
      <extension base="net:NetworkElementType">
        <sequence>
          <element name="type" nillable="true">
            <annotation>
              <documentation>-- Definition --&#13;
Categorisation of the network connection.</documentation>
            </annotation>
            <complexType>
              <simpleContent>
                <extension base="gml:CodeType">
                  <attribute name="nilReason" type="gml:NilReasonType"/>
                </extension>
              </simpleContent>
            </complexType>
          </element>
          <element maxOccurs="unbounded" minOccurs="2" name="element" type="gml:ReferenceType">
            <annotation>
              <documentation>-- Definition --&#13;
Network elements in different networks&#13;
</documentation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">net:NetworkElement</targetElement>
              </appinfo>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="NetworkConnectionPropertyType">
    <sequence minOccurs="0">
      <element ref="net:NetworkConnection"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element abstract="true" name="Node" substitutionGroup="net:NetworkElement" type="net:NodeType">
    <annotation>
      <documentation>-- Definition --&#13;
Represents a significant position in the network that always occurs at the beginning or the end of a link.&#13;
&#13;
-- Description --&#13;
NOTE if a topological representation of the network is used the road node is either a topological connection between two or more links or the termination of a ink. If a geometric representation of the network is used road nodes are represented by points or alternatively another geometric shape. [EuroRoadS]&#13;
</documentation>
    </annotation>
  </element>
  <complexType abstract="true" name="NodeType">
    <complexContent>
      <extension base="net:NetworkElementType">
        <sequence>
          <element name="geometry" type="gml:PointPropertyType">
            <annotation>
              <documentation>-- Definition --&#13;
The location of the node.&#13;
</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="spokeEnd" nillable="true" type="gml:ReferenceType">
            <annotation>
              <documentation>-- Definition --&#13;
The links that enter the node.&#13;
&#13;
-- Description --&#13;
NOTE In the INSPIRE context, this spoke property is to be published when this information is published in current exchange formats of the data set.</documentation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">net:Link</targetElement>
                <reversePropertyName xmlns="http://www.opengis.net/gml/3.2">net:endNode</reversePropertyName>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="spokeStart" nillable="true" type="gml:ReferenceType">
            <annotation>
              <documentation>-- Definition --&#13;
The links that leave the node.&#13;
&#13;
-- Description --&#13;
NOTE In the INSPIRE context, this spoke property is to be published when this information is published in current exchange formats of the data set.</documentation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">net:Link</targetElement>
                <reversePropertyName xmlns="http://www.opengis.net/gml/3.2">net:startNode</reversePropertyName>
              </appinfo>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="NodePropertyType">
    <sequence minOccurs="0">
      <element ref="net:Node"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
</schema>
