deegree-demos/deegree-wfs-inspire/src/main/webapp/WEB-INF/workspace/datasources/feature/schemas/inspire/annex1/ProtectedSites.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:base="urn:x-inspire:specification:gmlas:BaseTypes:3.2" xmlns:gmd="http://www.isotc211.org/2005/gmd" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:gn="urn:x-inspire:specification:gmlas:GeographicalNames:3.0" xmlns:ps="urn:x-inspire:specification:gmlas:ProtectedSites:3.0" elementFormDefault="qualified" targetNamespace="urn:x-inspire:specification:gmlas:ProtectedSites:3.0" version="3.0">
  <import namespace="urn:x-inspire:specification:gmlas:BaseTypes:3.2" schemaLocation="BaseTypes.xsd"/>
  <import namespace="urn:x-inspire:specification:gmlas:GeographicalNames:3.0" schemaLocation="GeographicalNames.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <import namespace="http://www.isotc211.org/2005/gmd" schemaLocation="http://schemas.opengis.net/iso/19139/20070417/gmd/gmd.xsd"/>
  <!--XML Schema document created by ShapeChange-->
  <element name="ProtectedSite" substitutionGroup="gml:AbstractFeature" type="ps:ProtectedSiteType">
    <annotation>
      <documentation>-- Definition --&#13;
An area designated or managed within a framework of international, Community and Member States' legislation to achieve specific conservation objectives.&#13;
&#13;
-- Description --&#13;
Each protected site has a boundary defined through formal, legal or administrative agreements or decisions. The establishment of a protected site is normally underpinned by legislation and thus given weight in decisions about land use change and spatial planning. Each Site is normally selected as a representative example of a wider resource and selected through a formal criterion based approach. A protected site can be a contiguous extent of land/sea or a collection of discrete areas that together represent a single formal Protected Site.  This class has the attributes, constraints and associations that are part of the Simple application schema.&#13;
</documentation>
    </annotation>
  </element>
  <complexType name="ProtectedSiteType">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence>
          <element name="geometry" type="gml:GeometryPropertyType">
            <annotation>
              <documentation>-- Definition --&#13;
The geometry defining the boundary of the Protected Site.&#13;
&#13;
-- Description --&#13;
The geometry may be determined by a wide range of methods, including surveying, digitisation or visual reference to natural features or cadastral boundaries and may be defined by the legal document that creates the protected area. The geometry included in a data set that uses this data model is stored as a fixed geometry by coordinates, not by reference to natural, cadastral or administrative boundaries, although it may originally have been defined from these.&#13;
</documentation>
            </annotation>
          </element>
          <element name="inspireID" type="base:IdentifierPropertyType">
            <annotation>
              <documentation>-- Definition --&#13;
External object identifier of the protected site.&#13;
&#13;
-- Description --&#13;
NOTE An external object identifier is a unique object identifier published by the responsible body, which may be used by external applications to reference the spatial object. The identifier is an identifier of the spatial object, not an identifier of the real-world phenomenon.&#13;
</documentation>
            </annotation>
          </element>
          <element name="legalFoundationDate" nillable="true">
            <annotation>
              <documentation>-- Definition --&#13;
The date that the protected site was legally created. This is the date that the real world object was created, not the date that its representation in an information system was created.&#13;
&#13;
-- Description --&#13;
NOTE In the case of Natura2000 sites, a protected site may go through several different stages (for example, proposed as SCI, confirmed as SCI, designated as SAC). A new version of the site is created for each of these different stages (because there is a change in the designation), and the new version should have the date on which the new stage was legally assigned as the legalFoundationDate (for example, when designated as a SAC, the version for the SAC would have the designation date as the legalFoundationDate).&#13;
</documentation>
            </annotation>
            <complexType>
              <simpleContent>
                <extension base="dateTime">
                  <attribute name="nilReason" type="gml:NilReasonType"/>
                </extension>
              </simpleContent>
            </complexType>
          </element>
          <element name="legalFoundationDocument" nillable="true">
            <annotation>
              <documentation>-- Definition --&#13;
A URL or text citation referencing the legal act that created the Protected Site.</documentation>
            </annotation>
            <complexType>
              <complexContent>
                <extension base="gml:AbstractMetadataPropertyType">
                  <sequence>
                    <element ref="gmd:CI_Citation"/>
                  </sequence>
                  <attribute name="nilReason" type="gml:NilReasonType"/>
                </extension>
              </complexContent>
            </complexType>
          </element>
          <element maxOccurs="unbounded" name="siteDesignation" nillable="true">
            <annotation>
              <documentation>-- Definition --&#13;
The designation (type) of Protected Site. &#13;
&#13;
-- Description --&#13;
At least one designation is required, but designations may be available using a number of different designation schemes, all of which can be accommodated in the DesignationSchemeValue codelist.&#13;
</documentation>
            </annotation>
            <complexType>
              <sequence>
                <element ref="ps:DesignationType"/>
              </sequence>
              <attribute name="nilReason" type="gml:NilReasonType"/>
            </complexType>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="siteName" nillable="true">
            <annotation>
              <documentation>-- Definition --&#13;
The name of the Protected Site.&#13;
&#13;
-- Description --&#13;
NOTE 1 Several names in different languages may be expressed.&#13;
&#13;
NOTE 2 It is recommended that the language of the name (part of the GeographicalName data type) be filled where ever possible. This is an important identifying attribute of a Protected Site.&#13;
</documentation>
            </annotation>
            <complexType>
              <sequence>
                <element ref="gn:GeographicalName"/>
              </sequence>
              <attribute name="nilReason" type="gml:NilReasonType"/>
            </complexType>
          </element>
          <element maxOccurs="unbounded" name="siteProtectionClassification" nillable="true">
            <annotation>
              <documentation>-- Definition --&#13;
The classification of the protected site based on the purpose for protection.&#13;
&#13;
-- Description --&#13;
The site may have more than one classification.&#13;
</documentation>
            </annotation>
            <complexType>
              <simpleContent>
                <extension base="ps:ProtectionClassificationValueType">
                  <attribute name="nilReason" type="gml:NilReasonType"/>
                </extension>
              </simpleContent>
            </complexType>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="ProtectedSitePropertyType">
    <sequence minOccurs="0">
      <element ref="ps:ProtectedSite"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <simpleType name="ProtectionClassificationValueType">
    <annotation>
      <documentation>-- Definition --&#13;
The protected site classification based on the purpose of protection.</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="natureConservation">
        <annotation>
          <documentation>-- Definition --&#13;
The Protected Site is protected for the maintenance of biological diversity.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="archaeological">
        <annotation>
          <documentation>-- Definition --&#13;
The Protected Site is protected for the maintenance of archaeological heritage.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="cultural">
        <annotation>
          <documentation>-- Definition --&#13;
The Protected Site is protected for the maintenance of cultural heritage.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="ecological">
        <annotation>
          <documentation>-- Definition --&#13;
The Protected Site is protected for the maintenance of ecological stability.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="landscape">
        <annotation>
          <documentation>-- Definition --&#13;
The Protected Site is protected for the maintenance of landscape characteristics.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="environment">
        <annotation>
          <documentation>-- Definition --&#13;
The Protected Site is protected for the maintenance of environmental stability.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="geological">
        <annotation>
          <documentation>-- Definition --&#13;
The Protected Site is protected for the maintenance of geological characteristics.</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <element name="DesignationType" substitutionGroup="gml:AbstractObject" type="ps:DesignationTypeType">
    <annotation>
      <documentation>-- Definition --&#13;
A data type designed to contain a designation for the Protected Site, including the designation scheme used and the value within that scheme.&#13;
</documentation>
    </annotation>
  </element>
  <complexType name="DesignationTypeType">
    <sequence>
      <element name="designationScheme" type="gml:CodeType">
        <annotation>
          <documentation>-- Definition --&#13;
The scheme from which the designation code comes.</documentation>
        </annotation>
      </element>
      <element name="designation" type="gml:CodeType">
        <annotation>
          <documentation>-- Definition --&#13;
The actual Site designation.</documentation>
        </annotation>
      </element>
      <element minOccurs="0" name="percentageUnderDesignation" type="anyURI">
        <annotation>
          <documentation>-- Definition --&#13;
The percentage of the site that falls under the designation. This is used in particular for the IUCN categorisation. If a value is not provided for this attribute, it is assumed to be 100%</documentation>
        </annotation>
      </element>
    </sequence>
  </complexType>
  <complexType name="DesignationTypePropertyType">
    <sequence>
      <element ref="ps:DesignationType"/>
    </sequence>
  </complexType>
</schema>
