deegree-datastores/deegree-tilestores/deegree-tilestore-geotiff/src/main/resources/META-INF/schemas/datasource/tile/geotiff/geotiff.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://www.w3.org/2001/XMLSchema"
  targetNamespace="http://www.deegree.org/datasource/tile/geotiff" xmlns:t="http://www.deegree.org/datasource/tile/geotiff"
  elementFormDefault="qualified" xmlns:jaxb="http://java.sun.com/xml/ns/jaxb" jaxb:version="2.1">

  <annotation>
    <appinfo>
      <jaxb:schemaBindings>
        <jaxb:package name="org.deegree.tile.persistence.geotiff.jaxb" />
      </jaxb:schemaBindings>
    </appinfo>
  </annotation>

  <element name="GeoTIFFTileStore">
    <annotation>
      <appinfo>
        <jaxb:class name="GeoTIFFTileStoreJAXB" />
      </appinfo>
    </annotation>
    <complexType>
      <sequence maxOccurs="unbounded">
        <element name="TileDataSet">
          <complexType>
            <sequence>
              <element name="Identifier" type="string" minOccurs="0" />
              <element name="TileMatrixSetId" type="string" />
              <element name="File" type="string" />
              <element name="ImageFormat" type="string" minOccurs="0" />
              <element name="AccessConfig" type="t:AccessConfig" minOccurs="0" />
            </sequence>
          </complexType>
        </element>
      </sequence>
      <attribute name="configVersion" type="string" use="optional"/>
    </complexType>
  </element>

  <complexType name="AccessConfig">
    <sequence>
      <element name="MaxActive"  type="integer" default="8" minOccurs="0" />
    </sequence>
  </complexType>

</schema>
