uncoupled/deegree-spring/src/main/resources/META-INF/schemas/spring/3.4.0/bootstrap.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://www.w3.org/2001/XMLSchema"
  targetNamespace="http://www.deegree.org/spring/bootstrap" elementFormDefault="qualified"
  xmlns:jaxb="http://java.sun.com/xml/ns/jaxb" jaxb:version="2.1">
  <annotation>
    <appinfo>
      <jaxb:schemaBindings>
        <jaxb:package name="org.deegree.spring.bootstrap.jaxb" />
      </jaxb:schemaBindings>
    </appinfo>
  </annotation>
  <element name="BootstrapApplicationContextHolder">
    <annotation>
      <documentation></documentation>
      <appinfo>
        <jaxb:class name="BootstrapApplicationContextHolderConfig" />
      </appinfo>
    </annotation>
    <complexType>
      <choice>
        <element name="ContextConfigLocation" type="string" />
        <element name="ContextClass" type="string" />
      </choice>
    </complexType>        
  </element>
</schema>