deegree-workspaces/deegree-workspace-inspire/src/main/resources/appschemas/inspire/annex1/CableTransportNetwork.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:net="urn:x-inspire:specification:gmlas:Network:3.2" xmlns:tn="urn:x-inspire:specification:gmlas:CommonTransportElements:3.0" xmlns:tn-c="urn:x-inspire:specification:gmlas:CableTransportNetwork:3.0" elementFormDefault="qualified" targetNamespace="urn:x-inspire:specification:gmlas:CableTransportNetwork:3.0" version="3.0">
  <annotation>
    <documentation>-- Definition --&#13;
This package defines the types that are used on the cable subtheme.</documentation>
  </annotation>
  <import namespace="urn:x-inspire:specification:gmlas:Network:3.2" schemaLocation="Network.xsd"/>
  <import namespace="urn:x-inspire:specification:gmlas:CommonTransportElements:3.0" schemaLocation="CommonTransportElements.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange-->
  <element name="CablewayNode" substitutionGroup="tn:TransportNode" type="tn-c:CablewayNodeType">
    <annotation>
      <documentation>-- Definition --&#13;
A point spatial object that is used to represent connectivity between two consecutive cableway links.&#13;
</documentation>
    </annotation>
  </element>
  <complexType name="CablewayNodeType">
    <complexContent>
      <extension base="tn:TransportNodeType">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="CablewayNodePropertyType">
    <sequence minOccurs="0">
      <element ref="tn-c:CablewayNode"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="CablewayLink" substitutionGroup="tn:TransportLink" type="tn-c:CablewayLinkType">
    <annotation>
      <documentation>-- Definition --&#13;
Linear spatial object that describes the geometry and connectivity of a cable network between two points in a cableway transport network.&#13;
&#13;
-- Description --&#13;
NOTE Cableway transport is a form of transport based on a cable suspended normally from a set of consecutive towers.&#13;
</documentation>
    </annotation>
  </element>
  <complexType name="CablewayLinkType">
    <complexContent>
      <extension base="tn:TransportLinkType">
        <sequence>
          <element name="cablewayType" nillable="true">
            <annotation>
              <documentation>-- Definition --&#13;
The type of a cableway transport.&#13;
</documentation>
            </annotation>
            <complexType>
              <simpleContent>
                <extension base="gml:CodeType">
                  <attribute name="nilReason" type="gml:NilReasonType"/>
                </extension>
              </simpleContent>
            </complexType>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="CablewayLinkPropertyType">
    <sequence minOccurs="0">
      <element ref="tn-c:CablewayLink"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="CablewayLinkSequence" substitutionGroup="tn:TransportLinkSequence" type="tn-c:CablewayLinkSequenceType">
    <annotation>
      <documentation>-- Definition --&#13;
An ordered collection of cableway links that are characterized by one or more thematic identifiers and/or properties.&#13;
</documentation>
    </annotation>
  </element>
  <complexType name="CablewayLinkSequenceType">
    <complexContent>
      <extension base="tn:TransportLinkSequenceType">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="CablewayLinkSequencePropertyType">
    <sequence minOccurs="0">
      <element ref="tn-c:CablewayLinkSequence"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="CablewayLinkSet" substitutionGroup="tn:TransportLinkSet" type="tn-c:CablewayLinkSetType">
    <annotation>
      <documentation>-- Definition --&#13;
A collection of cableway link sequences and or individual cableway links that has a specific function or significance in a cable transport network. &#13;
</documentation>
    </annotation>
  </element>
  <complexType name="CablewayLinkSetType">
    <complexContent>
      <extension base="tn:TransportLinkSetType">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="CablewayLinkSetPropertyType">
    <sequence minOccurs="0">
      <element ref="tn-c:CablewayLinkSet"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
</schema>
