deegree-workspaces/deegree-workspace-inspire/src/main/resources/appschemas/inspire/annex1/EnergyResources.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:er="urn:x-inspire:specification:gmlas:EnergyResources:0.0" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:hy-p="urn:x-inspire:specification:gmlas:HydroPhysicalWaters:3.0" elementFormDefault="qualified" targetNamespace="urn:x-inspire:specification:gmlas:EnergyResources:0.0" version="0.0">
  <import namespace="urn:x-inspire:specification:gmlas:HydroPhysicalWaters:3.0" schemaLocation="HydroPhysicalWaters.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange-->
  <element name="HydroPowerPlant" substitutionGroup="hy-p:ManMadeObject" type="er:HydroPowerPlantType">
    <annotation>
      <documentation>-- Definition --&#13;
A facility for the generation of power from moving water.&#13;
&#13;
-- Description --&#13;
NOTE Regarded as a candidate spatial object in Annex III theme 'Energy resources' due to its primary energy-production role.</documentation>
    </annotation>
  </element>
  <complexType name="HydroPowerPlantType">
    <complexContent>
      <extension base="hy-p:ManMadeObjectType">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="HydroPowerPlantPropertyType">
    <sequence minOccurs="0">
      <element ref="er:HydroPowerPlant"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
</schema>
