deegree-workspaces/deegree-workspace-inspire/src/main/resources/appschemas/inspire/annex1/Geology.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:geo="urn:x-inspire:specification:gmlas:Geology:0.0" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:hy-p="urn:x-inspire:specification:gmlas:HydroPhysicalWaters:3.0" elementFormDefault="qualified" targetNamespace="urn:x-inspire:specification:gmlas:Geology:0.0" version="0.0">
  <import namespace="urn:x-inspire:specification:gmlas:HydroPhysicalWaters:3.0" schemaLocation="HydroPhysicalWaters.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange-->
  <element name="SpringOrSeep" substitutionGroup="hy-p:HydroPointOfInterest" type="geo:SpringOrSeepType">
    <annotation>
      <documentation>-- Definition --&#13;
A natural outflow of water from below the ground surface.&#13;
&#13;
-- Description --&#13;
NOTE 1 Corresponds to a 'source' node in a network view.&#13;
&#13;
NOTE 2 Regarded as a placeholder in Annex II theme 'Geology' due to the connection with groundwater.</documentation>
    </annotation>
  </element>
  <complexType name="SpringOrSeepType">
    <complexContent>
      <extension base="hy-p:HydroPointOfInterestType">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="SpringOrSeepPropertyType">
    <sequence minOccurs="0">
      <element ref="geo:SpringOrSeep"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="VanishingPoint" substitutionGroup="hy-p:HydroPointOfInterest" type="geo:VanishingPointType">
    <annotation>
      <documentation>-- Definition --&#13;
Location where a watercourse disappears into the terrain or vanishes due to anthropization.&#13;
&#13;
-- Description --&#13;
NOTE 1 Corresponds to an 'outlet' node in a network view.&#13;
&#13;
NOTE 2 Regarded as a placeholder in Annex II theme 'Geology' due to the connection with groundwater.</documentation>
    </annotation>
  </element>
  <complexType name="VanishingPointType">
    <complexContent>
      <extension base="hy-p:HydroPointOfInterestType">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="VanishingPointPropertyType">
    <sequence minOccurs="0">
      <element ref="geo:VanishingPoint"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
</schema>
