deegree-workspaces/deegree-workspace-inspire/src/main/resources/appschemas/inspire/annex1/HydroBase.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:gn="urn:x-inspire:specification:gmlas:GeographicalNames:3.0" xmlns:hy="urn:x-inspire:specification:gmlas:HydroBase:3.0" xmlns:hy-n="urn:x-inspire:specification:gmlas:HydroNetwork:3.0" xmlns:hy-p="urn:x-inspire:specification:gmlas:HydroPhysicalWaters:3.0" xmlns:lc="urn:x-inspire:specification:gmlas:LandCover:0.0" xmlns:nrz="urn:x-inspire:specification:gmlas:NaturalRiskZones:0.0" xmlns:sr="urn:x-inspire:specification:gmlas:SeaRegions:0.0" xmlns:wfd="urn:x-inspire:specification:gmlas:WaterFrameworkDirective:0.0" elementFormDefault="qualified" targetNamespace="urn:x-inspire:specification:gmlas:HydroBase:3.0" version="3.0">
  <annotation>
    <documentation>-- Definition --&#13;
This package provides base classes used to identify real-world objects. These identities may be used to provide implicit semantic associations between different 'implementation views'.&#13;
&#13;
-- Description --&#13;
EXAMPLE: A real-world object identified as the 'Rhine' may be realised through a Network view (as a set of links and nodes), a Physical Waters view (as a Watercourse), and a reporting view (as a WFDRiver).</documentation>
  </annotation>
  <import namespace="urn:x-inspire:specification:gmlas:GeographicalNames:3.0" schemaLocation="GeographicalNames.xsd"/>
  <import namespace="urn:x-inspire:specification:gmlas:HydroNetwork:3.0" schemaLocation="HydroNetwork.xsd"/>
  <import namespace="urn:x-inspire:specification:gmlas:WaterFrameworkDirective:0.0" schemaLocation="WaterFrameworkDirective.xsd"/>
  <import namespace="urn:x-inspire:specification:gmlas:LandCover:0.0" schemaLocation="LandCover.xsd"/>
  <import namespace="urn:x-inspire:specification:gmlas:HydroPhysicalWaters:3.0" schemaLocation="HydroPhysicalWaters.xsd"/>
  <import namespace="urn:x-inspire:specification:gmlas:NaturalRiskZones:0.0" schemaLocation="NaturalRiskZones.xsd"/>
  <import namespace="urn:x-inspire:specification:gmlas:SeaRegions:0.0" schemaLocation="SeaRegions.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange-->
  <complexType name="HydroObjectPropertyType">
    <choice minOccurs="0">
      <element ref="hy-n:WatercourseSeparatedCrossing"/>
      <element ref="wfd:WFDWaterBody"/>
      <element ref="lc:Shore"/>
      <element ref="lc:Wetland"/>
      <element ref="lc:GlacierSnowfield"/>
      <element ref="hy-p:DrainageBasin"/>
      <element ref="hy-p:SurfaceWater"/>
      <element ref="hy-n:WatercourseLink"/>
      <element ref="hy-n:WatercourseLinkSequence"/>
      <element ref="nrz:InundatedLand"/>
      <element ref="hy-p:ManMadeObject"/>
      <element ref="sr:OceanRegion"/>
      <element ref="hy-n:HydroNode"/>
      <element ref="hy-p:HydroPointOfInterest"/>
    </choice>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="HydroIdentifier" substitutionGroup="gml:AbstractObject" type="hy:HydroIdentifierType">
    <annotation>
      <documentation>-- Definition --&#13;
A hydrographic thematic identifier.&#13;
&#13;
-- Description --&#13;
NOTE May be used to hold a national hydrological identification code.</documentation>
    </annotation>
  </element>
  <complexType name="HydroIdentifierType">
    <sequence>
      <element minOccurs="0" name="classificationScheme" type="string">
        <annotation>
          <documentation>-- Definition --&#13;
A description of the identification scheme (National, European, etc.) being used.</documentation>
        </annotation>
      </element>
      <element name="localId" type="string">
        <annotation>
          <documentation>-- Definition --&#13;
A local identifier, assigned by some authority.&#13;
&#13;
-- Description --&#13;
NOTE It will often be a national hydrographic identifier.</documentation>
        </annotation>
      </element>
      <element name="namespace" type="string">
        <annotation>
          <documentation>-- Definition --&#13;
An indicator of the scope for the local identifier.&#13;
&#13;
-- Description --&#13;
NOTE In the case of a national hydrographic identifier it should be a two-letter country code as per ISO 3166-1-Alpha-2.</documentation>
        </annotation>
      </element>
    </sequence>
  </complexType>
  <complexType name="HydroIdentifierPropertyType">
    <sequence>
      <element ref="hy:HydroIdentifier"/>
    </sequence>
  </complexType>
</schema>
