deegree-workspaces/deegree-workspace-inspire/src/main/resources/appschemas/inspire/annex1/RailwayTransportNetwork.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:net="urn:x-inspire:specification:gmlas:Network:3.2" xmlns:tn="urn:x-inspire:specification:gmlas:CommonTransportElements:3.0" xmlns:tn-ra="urn:x-inspire:specification:gmlas:RailwayTransportNetwork:3.0" xmlns:tn-ro="urn:x-inspire:specification:gmlas:RoadTransportNetwork:3.0" elementFormDefault="qualified" targetNamespace="urn:x-inspire:specification:gmlas:RailwayTransportNetwork:3.0" version="3.0.1">
  <annotation>
    <documentation>-- Definition --&#13;
This package defines the types that are used on the rail subtheme</documentation>
  </annotation>
  <import namespace="urn:x-inspire:specification:gmlas:Network:3.2" schemaLocation="Network.xsd"/>
  <import namespace="urn:x-inspire:specification:gmlas:CommonTransportElements:3.0" schemaLocation="CommonTransportElements.xsd"/>
  <import namespace="urn:x-inspire:specification:gmlas:RoadTransportNetwork:3.0" schemaLocation="RoadTransportNetwork.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange-->
  <element name="DesignSpeed" substitutionGroup="tn:TransportProperty" type="tn-ra:DesignSpeedType">
    <annotation>
      <documentation>-- Definition --&#13;
The specification of the maximum speed to which a railway line is designed for.&#13;
</documentation>
    </annotation>
  </element>
  <complexType name="DesignSpeedType">
    <complexContent>
      <extension base="tn:TransportPropertyType">
        <sequence>
          <element name="speed" type="gml:SpeedType">
            <annotation>
              <documentation>-- Definition --&#13;
The specification of the maximum speed to which a railway line is designed for.</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="DesignSpeedPropertyType">
    <sequence minOccurs="0">
      <element ref="tn-ra:DesignSpeed"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="RailwayLinkSequence" substitutionGroup="tn:TransportLinkSequence" type="tn-ra:RailwayLinkSequenceType">
    <annotation>
      <documentation>-- Definition --&#13;
A linear spatial object, composed of an ordered collection of railway links, which represents a continuous path in a railway network without any branches. The element has a defined beginning and end and every position on the railway link sequence is identifiable with one single parameter such as length. It describes an element of the railway network, characterized by one or more thematical identifiers and/or properties.&#13;
</documentation>
    </annotation>
  </element>
  <complexType name="RailwayLinkSequenceType">
    <complexContent>
      <extension base="tn:TransportLinkSequenceType">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="RailwayLinkSequencePropertyType">
    <sequence minOccurs="0">
      <element ref="tn-ra:RailwayLinkSequence"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="RailwayYardNode" substitutionGroup="tn-ra:RailwayNode" type="tn-ra:RailwayYardNodeType">
    <annotation>
      <documentation>-- Definition --&#13;
A railway node which occurs within a railway yard area.&#13;
&#13;
DEFINTION Railway yard: An area crossed by a number of parallel railway tracks (usually more than two) interconnected between them, which are used to stop trains in order to load / unload freight without interrupting the traffic of a main railway line.&#13;
</documentation>
    </annotation>
  </element>
  <complexType name="RailwayYardNodeType">
    <complexContent>
      <extension base="tn-ra:RailwayNodeType">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="RailwayYardNodePropertyType">
    <sequence minOccurs="0">
      <element ref="tn-ra:RailwayYardNode"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <simpleType name="MinMaxTrackValueType">
    <annotation>
      <documentation>-- Definition --&#13;
Values to indicate whether number of tracks are counted as the maximum, minimum or average number.</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="average">
        <annotation>
          <documentation>-- Definition --&#13;
The number of tracks is the average value for a given part of the railway network.&#13;
</documentation>
        </annotation>
      </enumeration>
      <enumeration value="maximum">
        <annotation>
          <documentation>-- Definition --&#13;
The number of tracks is the maximum value for a given part of the railway network.&#13;
</documentation>
        </annotation>
      </enumeration>
      <enumeration value="minimum">
        <annotation>
          <documentation>-- Definition --&#13;
The number of tracks is the minimum value for a given part of the railway network.&#13;
</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <element name="RailwayLink" substitutionGroup="tn:TransportLink" type="tn-ra:RailwayLinkType">
    <annotation>
      <documentation>-- Definition --&#13;
A linear spatial object that describes the geometry and connectivity of a railway network between two points in the network.&#13;
&#13;
-- Description --&#13;
NOTE Railway links can be used to represent stretches of railway with one or multiple tracks.&#13;
</documentation>
    </annotation>
  </element>
  <complexType name="RailwayLinkType">
    <complexContent>
      <extension base="tn:TransportLinkType">
        <sequence>
          <element name="fictitious" nillable="true">
            <annotation>
              <documentation>-- Definition --&#13;
The railway link does not represent a real and existing railway track but a fictitious trajectory.&#13;
&#13;
-- Description --&#13;
EXAMPLE A fictitious trajectory to connect railway links across a turntable.&#13;
</documentation>
            </annotation>
            <complexType>
              <simpleContent>
                <extension base="boolean">
                  <attribute name="nilReason" type="gml:NilReasonType"/>
                </extension>
              </simpleContent>
            </complexType>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="RailwayLinkPropertyType">
    <sequence minOccurs="0">
      <element ref="tn-ra:RailwayLink"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="RailwayYardArea" substitutionGroup="tn:TransportArea" type="tn-ra:RailwayYardAreaType">
    <annotation>
      <documentation>-- Definition --&#13;
An area spatial object which is used to represent the topographical limits of a railway yard.&#13;
&#13;
DEFINITION Railway yard: An area crossed by a number of parallel railway tracks (usually more than two) interconnected between them, which are used to stop trains in order to load / unload freight without interrupting the traffic of a main railway line.&#13;
</documentation>
    </annotation>
  </element>
  <complexType name="RailwayYardAreaType">
    <complexContent>
      <extension base="tn:TransportAreaType">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="RailwayYardAreaPropertyType">
    <sequence minOccurs="0">
      <element ref="tn-ra:RailwayYardArea"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="RailwayStationCode" substitutionGroup="tn:TransportProperty" type="tn-ra:RailwayStationCodeType">
    <annotation>
      <documentation>-- Definition --&#13;
The unique code assigned to a railway station.&#13;
</documentation>
    </annotation>
  </element>
  <complexType name="RailwayStationCodeType">
    <complexContent>
      <extension base="tn:TransportPropertyType">
        <sequence>
          <element name="stationCode" type="string">
            <annotation>
              <documentation>-- Definition --&#13;
A unique code assigned to a railway station.</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="RailwayStationCodePropertyType">
    <sequence minOccurs="0">
      <element ref="tn-ra:RailwayStationCode"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="RailwayType" substitutionGroup="tn:TransportProperty" type="tn-ra:RailwayTypeType">
    <annotation>
      <documentation>-- Definition --&#13;
The type of railway transport the line is designed for.&#13;
</documentation>
    </annotation>
  </element>
  <complexType name="RailwayTypeType">
    <complexContent>
      <extension base="tn:TransportPropertyType">
        <sequence>
          <element name="type" type="gml:CodeType">
            <annotation>
              <documentation>-- Definition --&#13;
The type of railway transport to which the line is designed for.</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="RailwayTypePropertyType">
    <sequence minOccurs="0">
      <element ref="tn-ra:RailwayType"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="NominalTrackGauge" substitutionGroup="tn:TransportProperty" type="tn-ra:NominalTrackGaugeType">
    <annotation>
      <documentation>-- Definition --&#13;
The nominal distance between the two outer rails (gauge) of a railway track.&#13;
</documentation>
    </annotation>
  </element>
  <complexType name="NominalTrackGaugeType">
    <complexContent>
      <extension base="tn:TransportPropertyType">
        <sequence>
          <element minOccurs="0" name="nominalGauge" nillable="true">
            <annotation>
              <documentation>-- Definition --&#13;
A single value that identifies the track gauge.</documentation>
            </annotation>
            <complexType>
              <simpleContent>
                <extension base="gml:MeasureType">
                  <attribute name="nilReason" type="gml:NilReasonType"/>
                </extension>
              </simpleContent>
            </complexType>
          </element>
          <element minOccurs="0" name="nominalGaugeCategory" nillable="true">
            <annotation>
              <documentation>-- Definition --&#13;
Provision of the gauge of a railway track as a fuzzy category with respect to the European standard nominal gauge.&#13;
</documentation>
            </annotation>
            <complexType>
              <simpleContent>
                <extension base="tn-ra:TrackGaugeCategoryValueType">
                  <attribute name="nilReason" type="gml:NilReasonType"/>
                </extension>
              </simpleContent>
            </complexType>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="NominalTrackGaugePropertyType">
    <sequence minOccurs="0">
      <element ref="tn-ra:NominalTrackGauge"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="RailwayNode" substitutionGroup="tn:TransportNode" type="tn-ra:RailwayNodeType">
    <annotation>
      <documentation>-- Definition --&#13;
A point spatial object which represents a significant point along the railway network or defines an intersection of railway tracks used to describe its connectivity.</documentation>
    </annotation>
  </element>
  <complexType name="RailwayNodeType">
    <complexContent>
      <extension base="tn:TransportNodeType">
        <sequence>
          <element name="formOfNode" nillable="true">
            <annotation>
              <documentation>-- Definition --&#13;
The function of a railway node within the railway network.</documentation>
            </annotation>
            <complexType>
              <simpleContent>
                <extension base="gml:CodeType">
                  <attribute name="nilReason" type="gml:NilReasonType"/>
                </extension>
              </simpleContent>
            </complexType>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="RailwayNodePropertyType">
    <sequence minOccurs="0">
      <element ref="tn-ra:RailwayNode"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="NumberOfTracks" substitutionGroup="tn:TransportProperty" type="tn-ra:NumberOfTracksType">
    <annotation>
      <documentation>-- Definition --&#13;
The number of tracks for a railway stretch.&#13;
&#13;
-- Description --&#13;
This is dependent on the resolution of the data.&#13;
</documentation>
    </annotation>
  </element>
  <complexType name="NumberOfTracksType">
    <complexContent>
      <extension base="tn:TransportPropertyType">
        <sequence>
          <element name="minMaxNumberOfTracks" nillable="true">
            <annotation>
              <documentation>-- Definition --&#13;
Indicates whether the number of tracks are counted as minimum or maximum value.&#13;
&#13;
-- Description --&#13;
NOTE This attribute only applies when the value in numberOfTracks is not an exact value.&#13;
</documentation>
            </annotation>
            <complexType>
              <simpleContent>
                <extension base="tn-ra:MinMaxTrackValueType">
                  <attribute name="nilReason" type="gml:NilReasonType"/>
                </extension>
              </simpleContent>
            </complexType>
          </element>
          <element name="numberOfTracks" type="integer">
            <annotation>
              <documentation>-- Definition --&#13;
The number of tracks present.</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="NumberOfTracksPropertyType">
    <sequence minOccurs="0">
      <element ref="tn-ra:NumberOfTracks"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="RailwayStationArea" substitutionGroup="tn:TransportArea" type="tn-ra:RailwayStationAreaType">
    <annotation>
      <documentation>-- Definition --&#13;
An area spatial object which is used to represent the topographical limits of the facilities of a railway station (buildings, railway yards, installations and equipment) devoted to carry out railway station operations.&#13;
</documentation>
    </annotation>
  </element>
  <complexType name="RailwayStationAreaType">
    <complexContent>
      <extension base="tn:TransportAreaType">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="RailwayStationAreaPropertyType">
    <sequence minOccurs="0">
      <element ref="tn-ra:RailwayStationArea"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <simpleType name="TrackGaugeCategoryValueType">
    <annotation>
      <documentation>-- Definition --&#13;
The possible categories of railways concerning its nominal track gauge.</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="broad">
        <annotation>
          <documentation>-- Definition --&#13;
The nominal track gauge property is broader than the standard one.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="standard">
        <annotation>
          <documentation>-- Definition --&#13;
The nominal track gauge property is equal to the European standard (1435 millimetres).&#13;
</documentation>
        </annotation>
      </enumeration>
      <enumeration value="narrow">
        <annotation>
          <documentation>-- Definition --&#13;
The nominal track gauge property is narrower than the standard one.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="notApplicable">
        <annotation>
          <documentation>-- Definition --&#13;
The definition of a nominal track gauge property is not applicable to the type of railway transport.&#13;
&#13;
-- Description --&#13;
EXAMPLE Monorail.</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <element name="RailwayLine" substitutionGroup="tn:TransportLinkSet" type="tn-ra:RailwayLineType">
    <annotation>
      <documentation>-- Definition --&#13;
A collection of railway link sequences and or individual railway links that are characterized by one or more thematical identifiers and/or properties.&#13;
&#13;
-- Description --&#13;
EXAMPLE Railway lines characterized by a specific identification code, used by railroad companies or tourist railways, identified by a specific name.&#13;
</documentation>
    </annotation>
  </element>
  <complexType name="RailwayLineType">
    <complexContent>
      <extension base="tn:TransportLinkSetType">
        <sequence>
          <element name="railwayLineCode" nillable="true">
            <annotation>
              <documentation>-- Definition --&#13;
A code assigned to a railway line which is unique within a Member State.&#13;
</documentation>
            </annotation>
            <complexType>
              <simpleContent>
                <extension base="string">
                  <attribute name="nilReason" type="gml:NilReasonType"/>
                </extension>
              </simpleContent>
            </complexType>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="RailwayLinePropertyType">
    <sequence minOccurs="0">
      <element ref="tn-ra:RailwayLine"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="RailwayArea" substitutionGroup="tn:TransportArea" type="tn-ra:RailwayAreaType">
    <annotation>
      <documentation>-- Definition --&#13;
Surface occupied by a railway track, including ballast.</documentation>
    </annotation>
  </element>
  <complexType name="RailwayAreaType">
    <complexContent>
      <extension base="tn:TransportAreaType">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="RailwayAreaPropertyType">
    <sequence minOccurs="0">
      <element ref="tn-ra:RailwayArea"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="RailwayStationNode" substitutionGroup="tn-ra:RailwayNode" type="tn-ra:RailwayStationNodeType">
    <annotation>
      <documentation>-- Definition --&#13;
A railway node which represents the location of a railway station along the railway network.&#13;
</documentation>
    </annotation>
  </element>
  <complexType name="RailwayStationNodeType">
    <complexContent>
      <extension base="tn-ra:RailwayNodeType">
        <sequence>
          <element name="numberOfPlatforms" nillable="true">
            <annotation>
              <documentation>-- Definition --&#13;
A value indicating the number of platforms available at a railway station.</documentation>
            </annotation>
            <complexType>
              <simpleContent>
                <extension base="integer">
                  <attribute name="nilReason" type="gml:NilReasonType"/>
                </extension>
              </simpleContent>
            </complexType>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="RailwayStationNodePropertyType">
    <sequence minOccurs="0">
      <element ref="tn-ra:RailwayStationNode"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="RailwayUse" substitutionGroup="tn:TransportProperty" type="tn-ra:RailwayUseType">
    <annotation>
      <documentation>-- Definition --&#13;
The current use of the railway.&#13;
</documentation>
    </annotation>
  </element>
  <complexType name="RailwayUseType">
    <complexContent>
      <extension base="tn:TransportPropertyType">
        <sequence>
          <element name="use" type="gml:CodeType">
            <annotation>
              <documentation>-- Definition --&#13;
The current use of the railway.&#13;
</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="RailwayUsePropertyType">
    <sequence minOccurs="0">
      <element ref="tn-ra:RailwayUse"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="RailwayElectrification" substitutionGroup="tn:TransportProperty" type="tn-ra:RailwayElectrificationType">
    <annotation>
      <documentation>-- Definition --&#13;
Indication whether the railway is provided with an electric system to power vehicles moving along it.&#13;
</documentation>
    </annotation>
  </element>
  <complexType name="RailwayElectrificationType">
    <complexContent>
      <extension base="tn:TransportPropertyType">
        <sequence>
          <element name="electrified" type="boolean">
            <annotation>
              <documentation>-- Definition --&#13;
Inidicates whether the railway is provided with an electric system to power vehicles moving along it.&#13;
</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="RailwayElectrificationPropertyType">
    <sequence minOccurs="0">
      <element ref="tn-ra:RailwayElectrification"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
</schema>
