deegree-workspaces/deegree-workspace-inspire/src/main/resources/appschemas/inspire/annex1/RoadTransportNetwork.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:gn="urn:x-inspire:specification:gmlas:GeographicalNames:3.0" xmlns:net="urn:x-inspire:specification:gmlas:Network:3.2" xmlns:tn="urn:x-inspire:specification:gmlas:CommonTransportElements:3.0" xmlns:tn-ro="urn:x-inspire:specification:gmlas:RoadTransportNetwork:3.0" elementFormDefault="qualified" targetNamespace="urn:x-inspire:specification:gmlas:RoadTransportNetwork:3.0" version="3.0">
  <annotation>
    <documentation>-- Definition --&#13;
This package defines the types that are used on the road subtheme.</documentation>
  </annotation>
  <import namespace="urn:x-inspire:specification:gmlas:GeographicalNames:3.0" schemaLocation="GeographicalNames.xsd"/>
  <import namespace="urn:x-inspire:specification:gmlas:CommonTransportElements:3.0" schemaLocation="CommonTransportElements.xsd"/>
  <import namespace="urn:x-inspire:specification:gmlas:Network:3.2" schemaLocation="Network.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange-->
  <element name="Road" substitutionGroup="tn:TransportLinkSet" type="tn-ro:RoadType">
    <annotation>
      <documentation>-- Definition --&#13;
A collection of road link sequences and/or individual road links that are characterized by one or more thematic identifiers and/or properties.&#13;
&#13;
-- Description --&#13;
EXAMPLE Examples are roads characterized by a specific identification code, used by road management authorities or tourist routes, identified by a specific name.&#13;
</documentation>
    </annotation>
  </element>
  <complexType name="RoadType">
    <complexContent>
      <extension base="tn:TransportLinkSetType">
        <sequence>
          <element minOccurs="0" name="localRoadCode" nillable="true">
            <annotation>
              <documentation>-- Definition --&#13;
Identification code assigned to the road by the local road authority.</documentation>
            </annotation>
            <complexType>
              <simpleContent>
                <extension base="string">
                  <attribute name="nilReason" type="gml:NilReasonType"/>
                </extension>
              </simpleContent>
            </complexType>
          </element>
          <element minOccurs="0" name="nationalRoadCode" nillable="true">
            <annotation>
              <documentation>-- Definition --&#13;
The national number of the road.&#13;
&#13;
-- Description --&#13;
SOURCE [Euroroads].&#13;
</documentation>
            </annotation>
            <complexType>
              <simpleContent>
                <extension base="string">
                  <attribute name="nilReason" type="gml:NilReasonType"/>
                </extension>
              </simpleContent>
            </complexType>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="RoadPropertyType">
    <sequence minOccurs="0">
      <element ref="tn-ro:Road"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="RoadServiceType" substitutionGroup="tn:TransportProperty" type="tn-ro:RoadServiceTypeType">
    <annotation>
      <documentation>-- Definition --&#13;
Description of the type of road service area and the available facilities.&#13;
</documentation>
    </annotation>
  </element>
  <complexType name="RoadServiceTypeType">
    <complexContent>
      <extension base="tn:TransportPropertyType">
        <sequence>
          <element maxOccurs="unbounded" minOccurs="0" name="availableFacility" type="gml:CodeType">
            <annotation>
              <documentation>-- Definition --&#13;
Facility that is available for a given road service area.</documentation>
            </annotation>
          </element>
          <element name="type" type="gml:CodeType">
            <annotation>
              <documentation>-- Definition --&#13;
Type of road service area.</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="RoadServiceTypePropertyType">
    <sequence minOccurs="0">
      <element ref="tn-ro:RoadServiceType"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="RoadLinkSequence" substitutionGroup="tn:TransportLinkSequence" type="tn-ro:RoadLinkSequenceType">
    <annotation>
      <documentation>-- Definition --&#13;
A linear spatial object, composed of an ordered collection of road links, which represents a continuous path in a road network without any branches. The element has a defined beginning and end and every position on the road link sequence is identifiable with one single parameter such as length. It describes an element of the road network, characterized by one or more thematic identifiers and/or properties.&#13;
</documentation>
    </annotation>
  </element>
  <complexType name="RoadLinkSequenceType">
    <complexContent>
      <extension base="tn:TransportLinkSequenceType">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="RoadLinkSequencePropertyType">
    <sequence minOccurs="0">
      <element ref="tn-ro:RoadLinkSequence"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="RoadServiceArea" substitutionGroup="tn:TransportArea" type="tn-ro:RoadServiceAreaType">
    <annotation>
      <documentation>-- Definition --&#13;
Surface annexed to a road and devoted to offer particular services for it.&#13;
&#13;
-- Description --&#13;
EXAMPLES Gas station, rest area, toll area.&#13;
</documentation>
    </annotation>
  </element>
  <complexType name="RoadServiceAreaType">
    <complexContent>
      <extension base="tn:TransportAreaType">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="RoadServiceAreaPropertyType">
    <sequence minOccurs="0">
      <element ref="tn-ro:RoadServiceArea"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="FormOfWay" substitutionGroup="tn:TransportProperty" type="tn-ro:FormOfWayType">
    <annotation>
      <documentation>-- Definition --&#13;
A classification based on the physical properties of the Road Link.&#13;
&#13;
-- Description --&#13;
SOURCE Based on [EuroRoadS].&#13;
</documentation>
    </annotation>
  </element>
  <complexType name="FormOfWayType">
    <complexContent>
      <extension base="tn:TransportPropertyType">
        <sequence>
          <element name="formOfWay" type="gml:CodeType">
            <annotation>
              <documentation>-- Definition --&#13;
Physical form of the way.</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="FormOfWayPropertyType">
    <sequence minOccurs="0">
      <element ref="tn-ro:FormOfWay"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="VehicleTrafficArea" substitutionGroup="tn:TransportArea" type="tn-ro:VehicleTrafficAreaType">
    <annotation>
      <documentation>-- Definition --&#13;
Surface that represents the part of a road which is used for the normal traffic of vehicles.</documentation>
    </annotation>
  </element>
  <complexType name="VehicleTrafficAreaType">
    <complexContent>
      <extension base="tn:TransportAreaType">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="VehicleTrafficAreaPropertyType">
    <sequence minOccurs="0">
      <element ref="tn-ro:VehicleTrafficArea"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="RoadSurfaceCategory" substitutionGroup="tn:TransportProperty" type="tn-ro:RoadSurfaceCategoryType">
    <annotation>
      <documentation>-- Definition --&#13;
Specification of the state of the surface of the associated Road Element. Indicates whether a road is paved or unpaved.&#13;
&#13;
-- Description --&#13;
SOURCE [GDF3, Euroroads].&#13;
</documentation>
    </annotation>
  </element>
  <complexType name="RoadSurfaceCategoryType">
    <complexContent>
      <extension base="tn:TransportPropertyType">
        <sequence>
          <element name="surfaceCategory" type="gml:CodeType">
            <annotation>
              <documentation>-- Definition --&#13;
Type of road surface.</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="RoadSurfaceCategoryPropertyType">
    <sequence minOccurs="0">
      <element ref="tn-ro:RoadSurfaceCategory"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <simpleType name="MinMaxLaneValueType">
    <annotation>
      <documentation>-- Definition --&#13;
Values to indicate whether number of lanes are counted as the maximum, minimum or average number.&#13;
&#13;
-- Description --&#13;
SOURCE Adapted from [Euroroads].</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="maximum">
        <annotation>
          <documentation>-- Definition --&#13;
The number of lanes is the maximum value for a given part of the road network.&#13;
&#13;
-- Description --&#13;
SOURCE Adapted from [Euroroads].&#13;
</documentation>
        </annotation>
      </enumeration>
      <enumeration value="minimum">
        <annotation>
          <documentation>-- Definition --&#13;
The number of lanes is the minimum value for a given part of the road network.&#13;
&#13;
-- Description --&#13;
SOURCE [Euroroads].&#13;
</documentation>
        </annotation>
      </enumeration>
      <enumeration value="average">
        <annotation>
          <documentation>-- Definition --&#13;
The number of lanes is the average value for a given part of the road network.&#13;
&#13;
-- Description --&#13;
SOURCE [Euroroads].&#13;
</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <element name="RoadNode" substitutionGroup="tn:TransportNode" type="tn-ro:RoadNodeType">
    <annotation>
      <documentation>-- Definition --&#13;
A point spatial object that is used to either represent connectivity between two road links or to represent a significant spatial object such as a services station or  roundabout.</documentation>
    </annotation>
  </element>
  <complexType name="RoadNodeType">
    <complexContent>
      <extension base="tn:TransportNodeType">
        <sequence>
          <element name="formOfRoadNode" nillable="true">
            <annotation>
              <documentation>-- Definition --&#13;
Description of the function of a road node in the road transport network.</documentation>
            </annotation>
            <complexType>
              <simpleContent>
                <extension base="gml:CodeType">
                  <attribute name="nilReason" type="gml:NilReasonType"/>
                </extension>
              </simpleContent>
            </complexType>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="RoadNodePropertyType">
    <sequence minOccurs="0">
      <element ref="tn-ro:RoadNode"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="RoadName" substitutionGroup="tn:TransportProperty" type="tn-ro:RoadNameType">
    <annotation>
      <documentation>-- Definition --&#13;
Name of a road, as assigned by the responsible authority.&#13;
</documentation>
    </annotation>
  </element>
  <complexType name="RoadNameType">
    <complexContent>
      <extension base="tn:TransportPropertyType">
        <sequence>
          <element name="name" type="gn:GeographicalNamePropertyType">
            <annotation>
              <documentation>-- Definition --&#13;
Name of the road.</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="RoadNamePropertyType">
    <sequence minOccurs="0">
      <element ref="tn-ro:RoadName"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="SpeedLimit" substitutionGroup="tn:TransportProperty" type="tn-ro:SpeedLimitType">
    <annotation>
      <documentation>-- Definition --&#13;
Limit for the speed of a vehicle on a road..&#13;
&#13;
-- Description --&#13;
SOURCE [Euroroads].&#13;
</documentation>
    </annotation>
  </element>
  <complexType name="SpeedLimitType">
    <complexContent>
      <extension base="tn:TransportPropertyType">
        <sequence>
          <element minOccurs="0" name="areaCondition" nillable="true">
            <annotation>
              <documentation>-- Definition --&#13;
Speed limit is dependent on environmental circumstances.&#13;
&#13;
-- Description --&#13;
SOURCE [Euroroads].</documentation>
            </annotation>
            <complexType>
              <simpleContent>
                <extension base="gml:CodeType">
                  <attribute name="nilReason" type="gml:NilReasonType"/>
                </extension>
              </simpleContent>
            </complexType>
          </element>
          <element minOccurs="0" name="direction" nillable="true">
            <annotation>
              <documentation>-- Definition --&#13;
Indicates which direction the speed limit is valid for.&#13;
&#13;
-- Description --&#13;
SOURCE [Euroroads].&#13;
NOTE This attribute only applies when the property is associated with a road link or road link sequence.</documentation>
            </annotation>
            <complexType>
              <simpleContent>
                <extension base="gml:CodeType">
                  <attribute name="nilReason" type="gml:NilReasonType"/>
                </extension>
              </simpleContent>
            </complexType>
          </element>
          <element minOccurs="0" name="laneExtension" nillable="true">
            <annotation>
              <documentation>-- Definition --&#13;
Number of lanes including the start lane counted from the right hand side for which the speed limit applies.&#13;
&#13;
-- Description --&#13;
SOURCE [Euroroads].&#13;
NOTE This attribute only applies when the property is associated with a road link or road link sequence.</documentation>
            </annotation>
            <complexType>
              <simpleContent>
                <extension base="integer">
                  <attribute name="nilReason" type="gml:NilReasonType"/>
                </extension>
              </simpleContent>
            </complexType>
          </element>
          <element name="speedLimitMinMaxType" type="tn-ro:SpeedLimitMinMaxValueType">
            <annotation>
              <documentation>-- Definition --&#13;
Indicates if the speed limit is maximum or minimum and if it is recommended.&#13;
&#13;
-- Description --&#13;
SOURCE [Euroroads].</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="speedLimitSource" nillable="true">
            <annotation>
              <documentation>-- Definition --&#13;
Source for speed limit.&#13;
&#13;
-- Description --&#13;
SOURCE [Euroroads].</documentation>
            </annotation>
            <complexType>
              <simpleContent>
                <extension base="gml:CodeType">
                  <attribute name="nilReason" type="gml:NilReasonType"/>
                </extension>
              </simpleContent>
            </complexType>
          </element>
          <element name="speedLimitValue" type="gml:SpeedType">
            <annotation>
              <documentation>-- Definition --&#13;
Value for speed limit.&#13;
&#13;
-- Description --&#13;
SOURCE [Euroroads].</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="startLane" nillable="true">
            <annotation>
              <documentation>-- Definition --&#13;
Start lane counted from the right side for which speed limit applies.&#13;
&#13;
-- Description --&#13;
SOURCE [Euroroads].&#13;
NOTE This attribute only applies when the property is associated with a road link or road link sequence.</documentation>
            </annotation>
            <complexType>
              <simpleContent>
                <extension base="integer">
                  <attribute name="nilReason" type="gml:NilReasonType"/>
                </extension>
              </simpleContent>
            </complexType>
          </element>
          <element minOccurs="0" name="validityPeriod" nillable="true" type="gml:TimePeriodPropertyType">
            <annotation>
              <documentation>-- Definition --&#13;
Period during which the speed limit is valid.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="vehicleType" nillable="true">
            <annotation>
              <documentation>-- Definition --&#13;
Vehicle type the speed limit is restricted to.&#13;
&#13;
-- Description --&#13;
SOURCE Adapted from [Euroroads].&#13;
</documentation>
            </annotation>
            <complexType>
              <simpleContent>
                <extension base="gml:CodeType">
                  <attribute name="nilReason" type="gml:NilReasonType"/>
                </extension>
              </simpleContent>
            </complexType>
          </element>
          <element minOccurs="0" name="weatherCondition" nillable="true">
            <annotation>
              <documentation>-- Definition --&#13;
Weather condition the speed limit is dependent on.&#13;
&#13;
-- Description --&#13;
SOURCE Adapted from [Euroroads].&#13;
</documentation>
            </annotation>
            <complexType>
              <simpleContent>
                <extension base="gml:CodeType">
                  <attribute name="nilReason" type="gml:NilReasonType"/>
                </extension>
              </simpleContent>
            </complexType>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="SpeedLimitPropertyType">
    <sequence minOccurs="0">
      <element ref="tn-ro:SpeedLimit"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <simpleType name="FunctionalRoadClassValueType">
    <annotation>
      <documentation>-- Definition --&#13;
Values for the functional road classification. This classification is based on the importance of the role that the road performs in the road network. &#13;
&#13;
-- Description --&#13;
SOURCE Adapted from [GDF, EuroRoadS].</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="mainRoad">
        <annotation>
          <documentation>-- Definition --&#13;
The most important roads in a given network. &#13;
&#13;
-- Description --&#13;
SOURCE [GDF], [Euroroads].</documentation>
        </annotation>
      </enumeration>
      <enumeration value="firstClass">
        <annotation>
          <documentation>-- Definition --&#13;
The second most important roads in a given network.&#13;
&#13;
-- Description --&#13;
SOURCE [Euroroads].&#13;
</documentation>
        </annotation>
      </enumeration>
      <enumeration value="secondClass">
        <annotation>
          <documentation>-- Definition --&#13;
The third most important roads in a given network.&#13;
&#13;
-- Description --&#13;
SOURCE [Euroroads].&#13;
</documentation>
        </annotation>
      </enumeration>
      <enumeration value="thirdClass">
        <annotation>
          <documentation>-- Definition --&#13;
The fourth most important roads in a given network.&#13;
&#13;
-- Description --&#13;
SOURCE [Euroroads].&#13;
</documentation>
        </annotation>
      </enumeration>
      <enumeration value="fourthClass">
        <annotation>
          <documentation>-- Definition --&#13;
The fifth most important roads in a given network.&#13;
&#13;
-- Description --&#13;
SOURCE [Euroroads].&#13;
</documentation>
        </annotation>
      </enumeration>
      <enumeration value="fifthClass">
        <annotation>
          <documentation>-- Definition --&#13;
The sixth most important roads in a given network.&#13;
&#13;
-- Description --&#13;
SOURCE [Euroroads].&#13;
</documentation>
        </annotation>
      </enumeration>
      <enumeration value="sixthClass">
        <annotation>
          <documentation>-- Definition --&#13;
The seventh most important roads in a given network.&#13;
&#13;
-- Description --&#13;
SOURCE [Euroroads].&#13;
</documentation>
        </annotation>
      </enumeration>
      <enumeration value="seventhClass">
        <annotation>
          <documentation>-- Definition --&#13;
The eighth most important roads in a given network.&#13;
&#13;
-- Description --&#13;
SOURCE [Euroroads].&#13;
</documentation>
        </annotation>
      </enumeration>
      <enumeration value="eighthClass">
        <annotation>
          <documentation>-- Definition --&#13;
The ninth most important roads in a given network.&#13;
&#13;
-- Description --&#13;
SOURCE [Euroroads].&#13;
</documentation>
        </annotation>
      </enumeration>
      <enumeration value="ninthClass">
        <annotation>
          <documentation>-- Definition --&#13;
The least important roads in a given network.&#13;
&#13;
-- Description --&#13;
SOURCE [GDF]&#13;
&#13;
NOTE The farthest ways in the forest road network. It has no regular maintenance. [NVDB] [Euroroads].&#13;
</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <element name="RoadArea" substitutionGroup="tn:TransportArea" type="tn-ro:RoadAreaType">
    <annotation>
      <documentation>-- Definition --&#13;
Surface which extends to the limits of a road, including vehicular areas and other parts of it.&#13;
&#13;
-- Description --&#13;
EAXMPLE Pedestrian areas.&#13;
</documentation>
    </annotation>
  </element>
  <complexType name="RoadAreaType">
    <complexContent>
      <extension base="tn:TransportAreaType">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="RoadAreaPropertyType">
    <sequence minOccurs="0">
      <element ref="tn-ro:RoadArea"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="NumberOfLanes" substitutionGroup="tn:TransportProperty" type="tn-ro:NumberOfLanesType">
    <annotation>
      <documentation>-- Definition --&#13;
The number of lanes of a road element.&#13;
&#13;
-- Description --&#13;
SOURCE Adapated from [Euroroads].&#13;
</documentation>
    </annotation>
  </element>
  <complexType name="NumberOfLanesType">
    <complexContent>
      <extension base="tn:TransportPropertyType">
        <sequence>
          <element minOccurs="0" name="direction" nillable="true">
            <annotation>
              <documentation>-- Definition --&#13;
Indicates which direction the number of lanes is valid for.&#13;
&#13;
-- Description --&#13;
SOURCE [Euroroads].&#13;
NOTE When the value for this attribute is 'both', numberOfLanes contains the sum of the number of lanes in both directions of travel.&#13;
NOTE This attribute only applies when the property is associated with a road link or road link sequence.</documentation>
            </annotation>
            <complexType>
              <simpleContent>
                <extension base="gml:CodeType">
                  <attribute name="nilReason" type="gml:NilReasonType"/>
                </extension>
              </simpleContent>
            </complexType>
          </element>
          <element minOccurs="0" name="minMaxNumberOfLanes" nillable="true">
            <annotation>
              <documentation>-- Definition --&#13;
Indicates if the number of lanes is counted as minimum or maximum value.&#13;
&#13;
-- Description --&#13;
SOURCE [Euroroads].&#13;
&#13;
NOTE This attribute only applies when the value in numberOfLanes is not an exact value.&#13;
</documentation>
            </annotation>
            <complexType>
              <simpleContent>
                <extension base="tn-ro:MinMaxLaneValueType">
                  <attribute name="nilReason" type="gml:NilReasonType"/>
                </extension>
              </simpleContent>
            </complexType>
          </element>
          <element name="numberOfLanes" type="integer">
            <annotation>
              <documentation>-- Definition --&#13;
Number of lanes.&#13;
&#13;
-- Description --&#13;
SOURCE [Euroroads].</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="NumberOfLanesPropertyType">
    <sequence minOccurs="0">
      <element ref="tn-ro:NumberOfLanes"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="FunctionalRoadClass" substitutionGroup="tn:TransportProperty" type="tn-ro:FunctionalRoadClassType">
    <annotation>
      <documentation>-- Definition --&#13;
A classification based on the importance of the role that the road performs in the road network. &#13;
&#13;
-- Description --&#13;
SOURCE Adapted from [GDF, EuroRoadS].&#13;
</documentation>
    </annotation>
  </element>
  <complexType name="FunctionalRoadClassType">
    <complexContent>
      <extension base="tn:TransportPropertyType">
        <sequence>
          <element name="functionalClass" type="tn-ro:FunctionalRoadClassValueType">
            <annotation>
              <documentation>-- Definition --&#13;
Functional rank of the road link in the road network.&#13;
&#13;
-- Description --&#13;
NOTE Where functional classification systems are used that have fewer classes/ranks than the number provided by FunctionalRoadClassValues, classes with codes 1 to n will be used, where n corresponds to the number of classes that are used in the classification system.&#13;
</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="FunctionalRoadClassPropertyType">
    <sequence minOccurs="0">
      <element ref="tn-ro:FunctionalRoadClass"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <simpleType name="SpeedLimitMinMaxValueType">
    <annotation>
      <documentation>-- Definition --&#13;
Possible values to indicate the nature of a speed limit.</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="maximum">
        <annotation>
          <documentation>-- Definition --&#13;
Speed limit is a maximum value&#13;
&#13;
-- Description --&#13;
SOURCE [Euroroads].&#13;
</documentation>
        </annotation>
      </enumeration>
      <enumeration value="minimum">
        <annotation>
          <documentation>-- Definition --&#13;
Speed limit is a minimum value&#13;
&#13;
-- Description --&#13;
SOURCE [Euroroads].&#13;
</documentation>
        </annotation>
      </enumeration>
      <enumeration value="recommendedMaximum">
        <annotation>
          <documentation>-- Definition --&#13;
Speed limit is a recommended maximum value&#13;
&#13;
-- Description --&#13;
SOURCE [Euroroads].&#13;
</documentation>
        </annotation>
      </enumeration>
      <enumeration value="recommendedMinimum">
        <annotation>
          <documentation>-- Definition --&#13;
Speed limit is a recommended minimum value&#13;
&#13;
-- Description --&#13;
SOURCE [Euroroads].&#13;
</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <element name="ERoad" substitutionGroup="tn:TransportLinkSet" type="tn-ro:ERoadType">
    <annotation>
      <documentation>-- Definition --&#13;
A collection of road link sequences and or individual road links that represents a route that is part of the international E-road network, characterized by its European route number.&#13;
&#13;
-- Description --&#13;
EXAMPLE E40.&#13;
</documentation>
    </annotation>
  </element>
  <complexType name="ERoadType">
    <complexContent>
      <extension base="tn:TransportLinkSetType">
        <sequence>
          <element name="europeanRouteNumber" nillable="true">
            <annotation>
              <documentation>-- Definition --&#13;
Code, identifying the route in the international E-road network.&#13;
The code always starts with a letter 'E', followed by a one-, two- or three-digit number.</documentation>
            </annotation>
            <complexType>
              <simpleContent>
                <extension base="string">
                  <attribute name="nilReason" type="gml:NilReasonType"/>
                </extension>
              </simpleContent>
            </complexType>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="ERoadPropertyType">
    <sequence minOccurs="0">
      <element ref="tn-ro:ERoad"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="RoadWidth" substitutionGroup="tn:TransportProperty" type="tn-ro:RoadWidthType">
    <annotation>
      <documentation>-- Definition --&#13;
The width of the road, measured as an average value.&#13;
&#13;
-- Description --&#13;
SOURCE [Euroroads].&#13;
</documentation>
    </annotation>
  </element>
  <complexType name="RoadWidthType">
    <complexContent>
      <extension base="tn:TransportPropertyType">
        <sequence>
          <element name="measuredRoadPart" nillable="true">
            <annotation>
              <documentation>-- Definition --&#13;
Indicates to which part of a road the value for the attribute 'width' applies.</documentation>
            </annotation>
            <complexType>
              <simpleContent>
                <extension base="gml:CodeType">
                  <attribute name="nilReason" type="gml:NilReasonType"/>
                </extension>
              </simpleContent>
            </complexType>
          </element>
          <element name="width" type="gml:MeasureType">
            <annotation>
              <documentation>-- Definition --&#13;
Road width value.</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="RoadWidthPropertyType">
    <sequence minOccurs="0">
      <element ref="tn-ro:RoadWidth"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="RoadLink" substitutionGroup="tn:TransportLink" type="tn-ro:RoadLinkType">
    <annotation>
      <documentation>-- Definition --&#13;
A linear spatial object that describes the geometry and connectivity of a road network between two points in the network.&#13;
Road links can represent paths, bicycle roads, single carriageways, multiple carriageway roads and even fictitious trajectories across traffic squares.</documentation>
    </annotation>
  </element>
  <complexType name="RoadLinkType">
    <complexContent>
      <extension base="tn:TransportLinkType">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="RoadLinkPropertyType">
    <sequence minOccurs="0">
      <element ref="tn-ro:RoadLink"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
</schema>
