deegree-core/deegree-core-db/src/main/resources/META-INF/schemas/jdbc/jdbc.xsd

<?xml version="1.0" encoding="UTF-8"?>
  <!--
    This file is part of deegree, for copyright/license information, please visit http://www.deegree.org/license.
  -->
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:jdbc="http://www.deegree.org/jdbc" xmlns:jaxb="http://java.sun.com/xml/ns/jaxb"
  targetNamespace="http://www.deegree.org/jdbc" elementFormDefault="qualified" jaxb:version="2.1">
  <annotation>
    <appinfo>
      <jaxb:schemaBindings>
        <jaxb:package name="org.deegree.db.legacy.jaxb" />
      </jaxb:schemaBindings>
    </appinfo>
  </annotation>
  <element name="JDBCConnection">
    <complexType>
      <annotation>
        <documentation>Defines the parameters for a JDBC connection that can be referenced in other configurations using its identifier (filename).</documentation>
      </annotation>
      <sequence>
        <element name="Url" type="string" />
        <element name="User" type="string" />
        <element name="Password" type="string" />
        <element name="ReadOnly" type="boolean" minOccurs="0" default="false"/>
      </sequence>
      <attribute name="configVersion" type="string" use="optional"/>
    </complexType>
  </element>
</schema>
