deegree-workspaces/deegree-workspace-geosciml/src/main/resources/appschemas/geosciml/2.1/geologicStructure.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml" xmlns:gsml="urn:cgi:xmlns:CGI:GeoSciML:2.0" xmlns:gsml21="urn:cgi:xmlns:CGI:GeoSciML:2.1" targetNamespace="urn:cgi:xmlns:CGI:GeoSciML:2.1" elementFormDefault="qualified" attributeFormDefault="unqualified" version="2.1" ><!-- Schema auto-generated by FullMoon, applying rule suite xmi11ea, and manually edited by F.Letourneau and O.Raymond -->
    <annotation>
        <documentation>The geologicStructure v2.1 package contains a single class, ShearDisplacementStructure, which extends the v2.0 class of the same name by adding a "faultType" attribute.</documentation>
    </annotation>
    <import namespace="http://www.opengis.net/gml" schemaLocation="http://schemas.opengis.net/gml/3.1.1/base/gml.xsd"/>
    <import namespace="urn:cgi:xmlns:CGI:GeoSciML:2.0" schemaLocation="../2.0/geosciml.xsd"/>
    <include schemaLocation="geosciml.xsd"/>
    <element name="ShearDisplacementStructure" substitutionGroup="gsml:ShearDisplacementStructure" type="gsml21:ShearDisplacementStructureType">
        <annotation>
            <documentation>Comments to be completed.</documentation>
        </annotation>
    </element>
    <complexType name="ShearDisplacementStructureType">
        <complexContent>
            <extension base="gsml:ShearDisplacementStructureType">
                <sequence>
                    <element maxOccurs="1" minOccurs="0" name="faultType" type="gsml:ControlledConceptPropertyType">
                        <annotation>
                            <documentation>A simple vocabulary-controlled term to describe the type of fault structure. eg; thrust, high-angle reverse, normal, transcurrent, etc.  More detailed descriptive information may be added using the movementSense and movementType attributes</documentation>
                        </annotation>
                    </element>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="ShearDisplacementStructurePropertyType">
        <sequence minOccurs="0">
            <element ref="gsml21:ShearDisplacementStructure"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
    </complexType>
</schema>
