uncoupled/orphaned-after-3.2/deegree-processprovider-sextante/src/main/resources/META-INF/schemas/processes/sextante/0.1.0/sextante.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:st="http://www.deegree.org/processes/sextante"
  targetNamespace="http://www.deegree.org/processes/sextante"
  elementFormDefault="qualified" attributeFormDefault="unqualified"
  xmlns:jaxb="https://jakarta.ee/xml/ns/jaxb" jaxb:version="3.0">
  <annotation>
    <appinfo>
      <jaxb:schemaBindings>
        <jaxb:package name="org.deegree.services.wps.provider.sextante.jaxb" />
      </jaxb:schemaBindings>
    </appinfo>
  </annotation>

  <element name="SextanteProcesses">
    <complexType>
      <sequence>
        <element name="Process" minOccurs="0" maxOccurs="unbounded">

          <complexType>

            <sequence>
              <element name="Abstract" type="string" minOccurs="1"
                maxOccurs="1" />


              <!-- manages all input parameters -->
              <element name="InputParameters" minOccurs="1"
                maxOccurs="1">
                <complexType>
                  <sequence>

                    <!-- describes a normal input parameter -->
                    <element name="Parameter" minOccurs="1"
                      maxOccurs="unbounded">
                      <complexType>
                        <sequence>

                          <!-- description of this parameter -->
                          <element name="Abstract" type="string"
                            minOccurs="1" maxOccurs="1" />

                          <!-- describes a value of a selection input parameter -->
                          <element name="SelectionValue"
                            minOccurs="0" maxOccurs="unbounded">
                            <complexType>
                              <attribute name="id" type="string"
                                use="required" />
                              <attribute name="value" type="string"
                                use="required" />
                            </complexType>
                          </element>
                        </sequence>

                        <!-- id attribute of this parameter -->
                        <attribute name="id" type="string"
                          use="required" />
                      </complexType>
                    </element>

                  </sequence>
                </complexType>
              </element>


              <!-- manages all output parameters -->
              <element name="OutputParameters" minOccurs="1"
                maxOccurs="1">
                <complexType>
                  <sequence>

                    <!-- describes a normal input parameter -->
                    <element name="Parameter" minOccurs="1"
                      maxOccurs="unbounded">
                      <complexType>
                        <sequence>

                          <!-- description of this parameter -->
                          <element name="Abstract" type="string"
                            minOccurs="1" maxOccurs="1" />
                        </sequence>

                        <!-- id attribute of this parameter -->
                        <attribute name="id" type="string"
                          use="required" />
                      </complexType>
                    </element>
                  </sequence>
                </complexType>
              </element>
            </sequence>

            <attribute name="id" type="string" use="required" />
          </complexType>
        </element>
      </sequence>
      <attribute name="configVersion" use="required" fixed="0.1.0" />
    </complexType>
  </element>
</schema>