deegree-core/deegree-core-remoteows/deegree-remoteows-wms/src/main/resources/META-INF/schemas/remoteows/wms/remotewms.xsd

<?xml version="1.0"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.deegree.org/remoteows/wms"
  xmlns:wms="http://www.deegree.org/remoteows/wms" elementFormDefault="qualified" xmlns:jaxb="http://java.sun.com/xml/ns/jaxb"
  jaxb:version="2.1">

  <annotation>
    <appinfo>
      <jaxb:schemaBindings>
        <jaxb:package name="org.deegree.remoteows.wms_new.jaxb" />
      </jaxb:schemaBindings>
    </appinfo>
  </annotation>

  <element name="Authentication" type="wms:AuthenticationType" />

  <element name="RemoteWMS">
    <complexType>
      <sequence>
        <element name="CapabilitiesDocumentLocation">
          <complexType>
            <attribute name="location" type="string" use="required" />
          </complexType>
        </element>
        <!-- timeouts are in seconds -->
        <element name="ConnectionTimeout" type="int" minOccurs="0" default="5" />
        <element name="RequestTimeout" type="int" minOccurs="0" default="60" />
        <element ref="wms:Authentication" minOccurs="0" />
      </sequence>
      <attribute name="configVersion" type="string" use="optional"/>
    </complexType>
  </element>

  <complexType name="AuthenticationType" abstract="true" />

  <complexType name="HTTPBasicAuthenticationType">
    <complexContent>
      <extension base="wms:AuthenticationType">
        <sequence>
          <element name="Username" type="string" />
          <element name="Password" type="string" />
        </sequence>
      </extension>
    </complexContent>
  </complexType>

  <element name="HTTPBasicAuthentication" type="wms:HTTPBasicAuthenticationType" substitutionGroup="wms:Authentication" />

</schema>
