deegree-workspaces/deegree-workspace-geosciml/src/main/workspace/appschemas/geosciml/3.0/temporalreferencesystem/3.0/trs.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" 
    xmlns:gml="http://www.opengis.net/gml/3.2" 
    xmlns:gmd="http://www.isotc211.org/2005/gmd" 
    xmlns:gsmltrs="http://xmlns.geosciml.org/TemporalReferenceSystem/3.0" 
    targetNamespace="http://xmlns.geosciml.org/TemporalReferenceSystem/3.0" elementFormDefault="qualified" attributeFormDefault="unqualified" version="3.0.0">
    <!-- Schema auto-generated by FullMoon, applying rule suite xmi11ea -->
    <annotation>
        <documentation>This package is an extension of ISO19108 Temporal Schema</documentation>
    </annotation>
    <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
    <import namespace="http://www.isotc211.org/2005/gmd" schemaLocation="http://schemas.opengis.net/iso/19139/20070417/gmd/gmd.xsd"/>
    <element name="TimeOrdinalEraBoundary" substitutionGroup="gml:AbstractGML" type="gsmltrs:TimeOrdinalEraBoundaryType">
        <annotation>
            <documentation>A point in Earth's history which bounds a TimeOrdinalEra.</documentation>
        </annotation>
    </element>
    <complexType name="TimeOrdinalEraBoundaryType">
        <complexContent>
            <extension base="gml:AbstractGMLType">
                <sequence>
                    <element name="position" type="gml:TimeInstantPropertyType">
                        <annotation>
                            <documentation>A point in time corresponding to the era boundary</documentation>
                        </annotation>
                    </element>
                    <element name="positionalUncertainty" type="gmd:DQ_QuantitativeAttributeAccuracy_PropertyType" nillable="true"> 
                        <annotation>
                            <documentation>A measure of the uncertainty in the estimate of the point in time of the era boundary</documentation>
                        </annotation>
                    </element>
                    <element maxOccurs="unbounded" minOccurs="1" name="nextEra" type="gsmltrs:TimeOrdinalEraPropertyType" nillable="true"/>
                    <element maxOccurs="unbounded" minOccurs="1" name="previousEra" type="gsmltrs:TimeOrdinalEraPropertyType" nillable="true"/>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="TimeOrdinalEraBoundaryPropertyType">
        <sequence minOccurs="0">
            <element ref="gsmltrs:TimeOrdinalEraBoundary"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
        <attributeGroup ref="gml:OwnershipAttributeGroup"/>
    </complexType>
    <element name="TimeOrdinalEra" substitutionGroup="gml:AbstractGML" type="gsmltrs:TimeOrdinalEraType">
        <annotation>
            <documentation>The association of an era with a stratotype is optional.  In the GSSP approach recommended by ICS for the Global Geologic Timescale, Unit Stratotypes are not used.  Rather, the association of an Era with geologic units and sections is indirect, via the association of an era with Boundaries, which are in turn tied to Stratotype Points, which occur within host Stratotype Sections. 
Note that the "German School" defines stratigraphic eras conceptually, without reference to stratotypes.</documentation>
        </annotation>
    </element>
    <complexType name="TimeOrdinalEraType">
        <complexContent>
            <extension base="gml:AbstractGMLType">
                <sequence>
                    <element name="start" type="gsmltrs:TimeOrdinalEraBoundaryPropertyType" nillable="true"/>
                    <element name="end" type="gsmltrs:TimeOrdinalEraBoundaryPropertyType" nillable="true"/>
                    <element maxOccurs="unbounded" minOccurs="0" name="member" type="gsmltrs:TimeOrdinalEraPropertyType"/>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="TimeOrdinalEraPropertyType">
        <sequence minOccurs="0">
            <element ref="gsmltrs:TimeOrdinalEra"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
        <attributeGroup ref="gml:OwnershipAttributeGroup"/>
    </complexType>
    <element name="TimeOrdinalReferenceSystem" substitutionGroup="gml:TimeReferenceSystem" type="gsmltrs:TimeOrdinalReferenceSystemType">
        <annotation>
            <documentation>A time reference system comprised of an ordered set of time periods (time ordinal eras).</documentation>
        </annotation>
    </element>
    <complexType name="TimeOrdinalReferenceSystemType">
        <complexContent>
            <extension base="gml:TimeReferenceSystemType">
                <sequence>
                    <element maxOccurs="unbounded" minOccurs="1" name="component" type="gsmltrs:TimeOrdinalEraPropertyType"/>
                    <element maxOccurs="unbounded" minOccurs="2" name="referencePoint" type="gsmltrs:TimeOrdinalEraBoundaryPropertyType" nillable="true"/>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="TimeOrdinalReferenceSystemPropertyType">
        <sequence minOccurs="0">
            <element ref="gsmltrs:TimeOrdinalReferenceSystem"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
        <attributeGroup ref="gml:OwnershipAttributeGroup"/>
    </complexType>
</schema>