deegree-processproviders/deegree-processprovider-style/src/main/resources/META-INF/schemas/processes/style/0.1.0/styleProvider.xsd

<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:jr="http://www.deegree.org/processes/style"
	targetNamespace="http://www.deegree.org/processes/style"
	elementFormDefault="qualified" attributeFormDefault="unqualified"
	xmlns:jaxb="http://java.sun.com/xml/ns/jaxb" jaxb:version="2.1">
	<annotation>
		<appinfo>
			<jaxb:schemaBindings>
				<jaxb:package name="org.deegree.services.wps.provider.style.jaxb.process" />
			</jaxb:schemaBindings>
		</appinfo>
	</annotation>

	<element name="StyleProvider">
		<complexType>
			<sequence>
				<element name="Process" minOccurs="0">
					<complexType>
						<attribute name="id" use="required" type="string" />
					</complexType>
				</element>
			</sequence>
			<attribute name="configVersion" type="string" use="optional"/>
		</complexType>
	</element>

</schema>
