deegree-workspaces/deegree-workspace-geosciml/src/main/resources/appschemas/geosciml/3.0/laboratoryanalysis-specimen/3.0/dating.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" 
    xmlns:gml="http://www.opengis.net/gml/3.2" 
    xmlns:gmd="http://www.isotc211.org/2005/gmd" 
    xmlns:gsmlla="http://xmlns.geosciml.org/LaboratoryAnalysis-Specimen/3.0" 
    xmlns:om="http://www.opengis.net/om/2.0" 
    xmlns:sam="http://www.opengis.net/sampling/2.0" 
    xmlns:gsmlga="http://xmlns.geosciml.org/GeologicAge/3.0" 
    targetNamespace="http://xmlns.geosciml.org/LaboratoryAnalysis-Specimen/3.0" 
    elementFormDefault="qualified" attributeFormDefault="unqualified" version="3.0.0">
    <!-- Schema auto-generated by FullMoon, applying rule suite xmi11ea -->
    <annotation>
        <documentation>The Dating package allows the delivery of interpretation of geochronological anaylytical data</documentation>
    </annotation>
    <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
    <import namespace="http://www.isotc211.org/2005/gmd" schemaLocation="http://schemas.opengis.net/iso/19139/20070417/gmd/gmd.xsd"/>
    <import namespace="http://www.opengis.net/om/2.0" schemaLocation="http://schemas.opengis.net/om/2.0/observation.xsd"/>
    <import namespace="http://www.opengis.net/sampling/2.0" schemaLocation="http://schemas.opengis.net/sampling/2.0/samplingFeature.xsd"/>
    <import namespace="http://xmlns.geosciml.org/GeologicAge/3.0" schemaLocation="http://schemas.geosciml.org/geologicage/3.0/geologicAge.xsd"/>
    <element name="GeochronologicInterpretation" substitutionGroup="gml:AbstractFeature" type="gsmlla:GeochronologicInterpretationType">
        <annotation>
            <documentation>An interpretation made by a geologist of the age of a specimen made by statistical analysis of a single collection of observations.  A specimen may have multiple geochronological interpretations made on it, each related to a different observation collection.</documentation>
        </annotation>
    </element>
    <complexType name="GeochronologicInterpretationType">
        <complexContent>
            <extension base="gml:AbstractFeatureType">
                <sequence>
                    <element name="interpretedAge" type="gsmlga:GeologicEventPropertyType">
                        <annotation>
                            <documentation>Use GeoSciML GeologicEvent to describe event age, process and environment.  e.g, Event age = 350 Ma +/- 3 Ma.  Event process = intrusion, extrusion, metamorphism. Event environment = plutonic, marine.</documentation>
                        </annotation>
                    </element>
                    <element maxOccurs="unbounded" minOccurs="1" name="isotopicEvent" nillable="true" type="gml:ReferenceType">
                        <annotation>
                            <appinfo>
                                <gml:targetElement>gsmlla:IsotopicEventType</gml:targetElement>
                            </appinfo>
                            <documentation>Describes any isotopic events that are relevant to the interpretation. eg; closure, isotopic mixing, Pb loss, etc</documentation>
                        </annotation>
                    </element>
                    <element name="isotopicSystem" nillable="true" type="gml:ReferenceType">
                        <annotation>
                            <appinfo>
                                <gml:targetElement>gsmlla:IsotopicSystemName</gml:targetElement>
                            </appinfo>
                            <documentation>Describes the isotopic system used to calculate geochronological age. StatisticalAgeTypes vocabulary would contain values like:
Ar-Ar, K-Ar, Nd-Sm, Pb-Pb, Rb-Sr, Re-Os, U-Pb, etc</documentation>
                        </annotation>
                    </element>
                    <element name="statisticalMethod" nillable="true" type="gml:ReferenceType">
                        <annotation>
                            <appinfo>
                                <gml:targetElement>gsmlla:StatisticalMethodTerm</gml:targetElement>
                            </appinfo>
                            <documentation>The statistical method used to interpret the results</documentation>
                        </annotation>
                    </element>
                    <element name="interpretedBy" nillable="true" type="gmd:CI_ResponsibleParty_PropertyType">
                        <annotation>
                            <documentation>Party responsible for this interpretation</documentation>
                        </annotation>
                    </element>
                    <element name="citation" nillable="true" type="gmd:CI_Citation_PropertyType">
                        <annotation>
                            <documentation>Use ISO metadata citation element to describe author and other reference information.  Can be used to describe reference for new or legacy data</documentation>
                        </annotation>
                    </element>
                    <element name="preferredInterpretation" nillable="true">
                        <annotation>
                            <documentation>Indicates whether this interpretation is the preferred interpretation (ie; the analytical data may be reinterpreted)</documentation>
                        </annotation>
                        <complexType>
                            <simpleContent>
                                <extension base="boolean">
                                    <attribute name="nilReason" type="gml:NilReasonType"/>
                                </extension>
                            </simpleContent>
                        </complexType>
                    </element>
                    <element name="sourceCollection" nillable="true" type="sam:SF_SamplingFeatureCollectionPropertyType">
                        <annotation>
                            <documentation>Each geochronological interpretation has a mandatory association to a collection of sampling features (eg; a collection of burn spots or craters from a SHRIMP analytical session).  
                                Legacy published data for which the SamplingFeatureCollection is unknown may be delivered with SamplingFeatureCollection = 'unknown'.</documentation>
                        </annotation>
                    </element>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="GeochronologicInterpretationPropertyType">
        <sequence minOccurs="0">
            <element ref="gsmlla:GeochronologicInterpretation"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
        <attributeGroup ref="gml:OwnershipAttributeGroup"/>
    </complexType>
</schema>