deegree-workspaces/deegree-workspace-geosciml/src/main/resources/appschemas/geosciml/3.0/laboratoryanalysis-specimen/3.0/geologicSpecimen.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" 
	xmlns:gml="http://www.opengis.net/gml/3.2" 
	xmlns:gmd="http://www.isotc211.org/2005/gmd" 
	xmlns:om="http://www.opengis.net/om/2.0" 
	xmlns:spec="http://www.opengis.net/samplingSpecimen/2.0" 
	xmlns:gsmlla="http://xmlns.geosciml.org/LaboratoryAnalysis-Specimen/3.0" 
	targetNamespace="http://xmlns.geosciml.org/LaboratoryAnalysis-Specimen/3.0" elementFormDefault="qualified" attributeFormDefault="unqualified" version="3.0.0">
	<!-- Schema auto-generated by FullMoon, applying rule suite xmi11ea -->
	<annotation>
		<documentation>The GeologicSpecimen package extends the ISO19156 O&amp;amp;M schema, and describes processes relevant to the sampling, preparation and analysis of geologic specimens.</documentation>
	</annotation>
	<import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
	<import namespace="http://www.isotc211.org/2005/gmd" schemaLocation="http://schemas.opengis.net/iso/19139/20070417/gmd/gmd.xsd"/>
	<import namespace="http://www.opengis.net/samplingSpecimen/2.0" schemaLocation="http://schemas.opengis.net/samplingSpecimen/2.0/specimen.xsd"/>
	<import namespace="http://www.opengis.net/om/2.0" schemaLocation="http://schemas.opengis.net/om/2.0/observation.xsd"/>
	<include schemaLocation="http://schemas.geosciml.org/laboratoryanalysis-specimen/3.0/laboratoryAnalysis.xsd"/>
	<element name="GeologicSamplingMethod" type="gsmlla:GeologicSamplingMethodType">
		<annotation>
			<documentation>Implementation of SF_Process to describe the method used to obtain a geologic specimen
eg:
diamond drilling
percussion drilling
piston core drilling
vibro core drilling
channel sampling
sea floor dredging
geological hammer</documentation>
		</annotation>
	</element>
	<complexType name="GeologicSamplingMethodType">
		<complexContent>
			<extension base="gml:AbstractFeatureType">
				<sequence>
					<element name="method" type="gml:ReferenceType">
						<annotation>
							<appinfo>
								<gml:targetElement>gsmlla:GeologicSamplingMethodTerm</gml:targetElement>
							</appinfo>
							<documentation>Name of the process used to obtain or create a geologic specimen. eg:
diamond drilling
percussion drilling
piston core drilling
vibro core drilling
channel sampling
sea floor dredging
crushing
mineral separation
melting
geological hammer</documentation>
						</annotation>
					</element>
					<element name="parameter" type="om:NamedValuePropertyType" nillable="true" minOccurs="1" maxOccurs="unbounded">
						<annotation>
							<documentation>One or more specific parameters used in the sampling process.</documentation>
						</annotation>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="GeologicSamplingMethodPropertyType">
		<sequence minOccurs="0">
			<element ref="gsmlla:GeologicSamplingMethod"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
	<element name="GeologicSpecimenPreparation" type="gsmlla:GeologicSpecimenPreparationType" substitutionGroup="spec:PreparationStep">
		<annotation>
			<documentation>An extension of OGC Specimen:SF_Process to allow details of preparation steps to be delivered (eg, filtration and mesh size, chemical additives, crushing methods, drying parameters, etc)</documentation>
		</annotation>
	</element>
	<complexType name="GeologicSpecimenPreparationType">
		<complexContent>
			<extension base="spec:PreparationStepType">  
				<sequence>
					<element name="preparationMethod" type="gml:ReferenceType">
						<annotation>
							<appinfo>
								<gml:targetElement>gsmlla:GeologicSpecimenPreparationTerm</gml:targetElement>
							</appinfo>
							<documentation>A term from a controlled vocabulary to describe the method employed for the preparation of a geologic specimen for further analysis.</documentation>
						</annotation>
					</element>
					<element name="parameter" type="om:NamedValuePropertyType" nillable="true" minOccurs="1" maxOccurs="unbounded">
						<annotation>
							<documentation>One or more parameters used in this preparation step. eg, mesh size in a sieving process, type of chemical additives, parameters in a mineral separation process</documentation>
						</annotation>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="GeologicSpecimenPreparationPropertyType">
		<sequence minOccurs="0">
			<element ref="gsmlla:GeologicSpecimenPreparation"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
	<element name="ReferenceSpecimen" type="gsmlla:ReferenceSpecimenType" substitutionGroup="spec:SF_Specimen">
		<annotation>
			<documentation>A reference specimen is a specimen with known or accepted values of some property. The citation property describes the location of a published description of these values.  Reference specimens include analytical blanks.

Analytical results from a reference specimen analysed during an AnalyticalSession are delivered in the same way as the results of other specimens analysed in that session.</documentation>
		</annotation>
	</element>
	<complexType name="ReferenceSpecimenType">
		<complexContent>
			<extension base="spec:SF_SpecimenType">
				<sequence>
					<element name="referenceDescription" type="gmd:CI_Citation_PropertyType" nillable="true">
						<annotation>
							<documentation>Citation of published analytical results for this standard reference specimen</documentation>
						</annotation>
					</element>
					<element name="usedIn" type="gsmlla:AnalyticalSessionPropertyType" nillable="true" minOccurs="1" maxOccurs="unbounded">
						<annotation>  
							<documentation>Identifies any analytical sessions in which the reference specimens were used</documentation>
						</annotation>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="ReferenceSpecimenPropertyType">
		<sequence minOccurs="0">
			<element ref="gsmlla:ReferenceSpecimen"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
</schema>
