deegree-processproviders/deegree-processprovider-jrxml/src/main/resources/META-INF/schemas/map/0.1.0/map.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:n1="http://www.opengis.net/ogc"
	xmlns:sld="http://www.opengis.net/sld" xmlns:xs="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://www.deegree.org/processprovider/map" xmlns:map="http://www.deegree.org/processprovider/map"
	elementFormDefault="qualified" xmlns:jaxb="http://java.sun.com/xml/ns/jaxb"
	jaxb:version="2.1">
	<annotation>
		<appinfo>
			<jaxb:schemaBindings>
				<jaxb:package name="org.deegree.services.wps.provider.jrxml.jaxb.map" />
			</jaxb:schemaBindings>
		</appinfo>
	</annotation>
	<xs:import namespace="http://www.opengis.net/sld" /><!-- schemaLocation="http://schemas.opengeospatial.net/sld/1.0.20/StyledLayerDescriptor.xsd" -->
	<xs:import namespace="http://www.opengis.net/ogc" /><!-- schemaLocation="http://schemas.opengeospatial.net/filter/1.1.0/filter.xsd" 
		/> -->
	<xs:element name="Map">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="map:Detail" minOccurs="1" />
				<xs:element ref="map:Datasources" minOccurs="1" />
			</xs:sequence>
			<xs:attribute name="resolution" type="xs:integer" use="required" />
		</xs:complexType>
	</xs:element>
	<xs:element name="Layer">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="name" type="xs:string" minOccurs="1" />
				<xs:element name="title" type="xs:string" minOccurs="0" />
				<xs:element ref="map:Style" minOccurs="0" />
				<xs:element name="position" type="xs:integer" minOccurs="0" />
			</xs:sequence>
			<xs:attribute name="visible" type="xs:boolean" />
		</xs:complexType>
	</xs:element>
	<xs:element name="FeatureType">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute name="nameSpace" type="xs:string" use="required" />
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="AbstractDatasourceType" abstract="true">
		<xs:sequence>
			<xs:element name="name" type="xs:string" minOccurs="1" />
			<xs:element name="url" type="xs:anyURI" minOccurs="1" />
			<xs:element ref="map:Authentification" minOccurs="0" />
		</xs:sequence>
		<xs:attribute name="version" type="xs:string" use="required" />
	</xs:complexType>
	<xs:element name="WMSDatasource">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="map:AbstractDatasourceType">
					<xs:sequence>
						<xs:element ref="map:Layers" />
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="WFSDatasource">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="map:AbstractDatasourceType">
					<xs:sequence>
						<xs:element ref="map:FeatureType" minOccurs="1" />
						<xs:element name="geometryProperty" type="xs:string"
							minOccurs="1" />
						<xs:element name="Filter" minOccurs="0" type="anyType">
							<xs:annotation>
								<xs:appinfo>
									<jaxb:dom />
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
						<xs:element ref="map:Style" minOccurs="1" />
						<xs:element name="position" type="xs:integer"
							minOccurs="0" />
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="Style">
		<xs:complexType>
			<xs:choice>
				<xs:element name="externalStyle" type="xs:anyURI" />
				<xs:element name="namedStyle" type="xs:string" />
				<xs:element name="embeddedStyle" type="anyType">
					<xs:annotation>
						<xs:appinfo>
							<jaxb:dom />
						</xs:appinfo>
					</xs:annotation>
				</xs:element>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<xs:element name="Layers">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="map:Layer" maxOccurs="unbounded" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Detail">
		<xs:complexType>
			<xs:sequence>
				<xs:choice>
					<xs:element name="bbox" type="xs:string" />
					<xs:element ref="map:center" />
				</xs:choice>
				<xs:element name="scaleDenominator" type="xs:integer">
				</xs:element>
			</xs:sequence>
			<xs:attribute name="crs" type="xs:string" use="required" />
		</xs:complexType>
	</xs:element>
	<xs:element name="center">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute name="scaleDenominator" type="xs:integer"
						use="required" />
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="Datasources">
		<xs:complexType>
			<xs:choice minOccurs="1" maxOccurs="unbounded">
				<xs:element ref="map:WMSDatasource" />
				<xs:element ref="map:WFSDatasource" />
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<xs:element name="Authentification">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="user" type="xs:string" />
				<xs:element name="password" type="xs:string" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
