deegree-services/src/main/resources/META-INF/schemas/wps/3.0.0/wps_configuration.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:wps="http://www.deegree.org/services/wps" xmlns:xlink="http://www.w3.org/1999/xlink"
  targetNamespace="http://www.deegree.org/services/wps" elementFormDefault="qualified" xmlns:jaxb="http://java.sun.com/xml/ns/jaxb"
  jaxb:version="2.1">
  <annotation>
    <appinfo>
      <jaxb:schemaBindings>
        <jaxb:package name="org.deegree.services.jaxb.wps" />
      </jaxb:schemaBindings>
    </appinfo>
  </annotation>
  <element name="deegreeWPS">
    <complexType>
      <sequence>
        <element name="SupportedVersions" minOccurs="0">
          <complexType>
            <sequence>
              <element name="Version" type="wps:WPSVersionType" maxOccurs="unbounded" />
            </sequence>
          </complexType>
        </element>
      </sequence>
      <attribute name="configVersion" use="required" fixed="3.0.0" />
    </complexType>
  </element>
  <simpleType name="WPSVersionType">
    <restriction base="string">
      <enumeration value="1.0.0" />
    </restriction>
  </simpleType>
</schema>