deegree-workspaces/deegree-workspace-xplan40/src/main/resources/appschemas/xplan4.0/XPlanGML_Bauleitplanung_ADE_FHH.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns="http://www.xplanung.de/4/0/ADE_FHH" 
           xmlns:xplanFHH="http://www.xplanung.de/4/0/ADE_FHH" 
           xmlns:xsd="http://www.w3.org/2001/XMLSchema"
           xmlns:gml="http://www.opengis.net/gml/3.2"
           xmlns:xplan="http://www.xplanung.de/xplangml/4/0"
           targetNamespace="http://www.xplanung.de/4/0/ADE_FHH" version="4.0 ADE FHH" elementFormDefault="qualified" attributeFormDefault="unqualified">
    <xs:import namespace="http://www.xplanung.de/xplangml/4/0" schemaLocation="XPlanung-Operationen.xsd"/>
    <xs:import namespace="http://www.opengis.net/gml/3.2" schemaLocation="gml\3.2.1\gml.xsd"/>
    
        <!-- Erweiterung BP_Plan ========================================================================== -->
    <xsd:element name="planArt_FHH" type="BP_PlanArt_FHH" substitutionGroup="xplan:_GenericApplicationPropertyOfBP_Plan"/>
	
    <xsd:simpleType name="BP_PlanArt_FHH">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="11000"/>
            <!-- Fluchtlinienplan -->
	    <xsd:enumeration value="11001"/>
            <!-- Durchfuehrungsplan -->
	    <xsd:enumeration value="11002"/>
            <!-- Teilbebauungsplan -->
	    <xsd:enumeration value="11003"/>
            <!-- Baustufenplan -->
        </xsd:restriction>
    </xsd:simpleType> 
    
    
    <!-- Erweiterung BP_Gruenflaeche ========================================================================== -->
    <xsd:element name="zweckbestimmung_FHH" type="BP_ZweckbestimmungGruenflaeche_FHH" substitutionGroup="xplan:_GenericApplicationPropertyOfBP_GruenFlaeche"/>
    <xsd:simpleType name="BP_ZweckbestimmungGruenflaeche_FHH">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="1000"/>
            <!-- Aussengebiet -->
        </xsd:restriction>
    </xsd:simpleType> 

    <!-- Erweiterung BP_Baugebiet, BP_BaugebietsTeilFlaeche === Besondere Art der baulichen Nutzung nach BPVO von 1938: -->
    <xsd:element name="besondereArtDerBaulNutzung_FHH" type="BP_BesondereArtDerBaulNutzung_FHH" substitutionGroup="xplan:_GenericApplicationPropertyOfBP_BaugebietsTeilFlaeche" />
    <xsd:simpleType name="BP_BesondereArtDerBaulNutzung_FHH">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="1000"/>
            <!-- Kleinsiedlungsgebiet -->
            <xsd:enumeration value="1100"/>
            <!-- Wohngebiet -->
            <xsd:enumeration value="1200"/>
            <!-- Wohngebiet mit Besonderer Regelung -->
            <xsd:enumeration value="1300"/>
            <!-- Mischgebiet -->
            <xsd:enumeration value="1400"/>
            <!-- Geschäftsgebiet -->
            <xsd:enumeration value="1500"/>
            <!-- Geschäftsgebiet mit Besonderer Regelung -->
            <xsd:enumeration value="1600"/>
            <!-- Industriegebiet -->
            <xsd:enumeration value="1700"/>
            <!-- Industriegebiet mit Besonderer Regelung -->
        </xsd:restriction>
    </xsd:simpleType>
    
    
        <!-- Erweiterung BP_Baugebiet, BP_BaugebietsTeilFlaeche === Detaillierte Art der baulichen Nutzung nach BPVO von 1938:: -->
    <xsd:element name="detailArtDerBaulichenNutzung_FHH" type="BP_DetailArtDerBaulNutzung_FHH" substitutionGroup="xplan:_GenericApplicationPropertyOfBP_BaugebietsTeilFlaeche" />
    <xsd:simpleType name="BP_DetailArtDerBaulNutzung_FHH">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="1001"/>
            <!-- Parkplatz -->
            <xsd:enumeration value="1002"/>
            <!-- Parkhaus Gebaeude -->
            <xsd:enumeration value="2000"/>
            <!-- Ladengruppe -->
            <xsd:enumeration value="3000"/>
            <!-- Fernheizanlage -->
            <xsd:enumeration value="4001"/>
            <!-- Schule -->
            <xsd:enumeration value="4002"/>
            <!-- Kinderspielplatz -->
        </xsd:restriction>
    </xsd:simpleType>
    
  
    
        <!-- Neue Klasse xplanFHH:BP_LandForstFlaeche_FHH =====================================================================-->
    	<xs:element name="BP_LandForstFlaeche_FHH" type="BP_LandForstFlaeche_FHHType" substitutionGroup="xplan:BP_Flaechenobjekt"/>
	    <xs:complexType name="BP_LandForstFlaeche_FHHType">
		<xs:complexContent>
		<xs:extension base="xplan:BP_FlaechenobjektType">
		<xs:sequence>
			<xsd:element name="zweckbestimmung" minOccurs="0" type="xs:string"/>
		</xs:sequence>
		</xs:extension>
		</xs:complexContent>
	</xs:complexType>
    
        <!-- Neue Klasse xplanFHH:BP_Aussengebiet_FHH =====================================================================-->
    <xsd:element name="BP_Aussengebiet_FHH" type="BP_Aussengebiet_FHHType" substitutionGroup="xplan:BP_Flaechenobjekt"/>
    <xsd:complexType name="BP_Aussengebiet_FHHType">
        <xsd:complexContent>
            <xsd:extension base="xplan:BP_FlaechenobjektType">
                <xsd:sequence>
                    <xsd:element  name="nutzung" type="BP_AussengebietFHH_Nutzungen" minOccurs="0" />
                </xsd:sequence>
            </xsd:extension>
       </xsd:complexContent>
    </xsd:complexType>
   
    
    <xsd:simpleType name="BP_AussengebietFHH_Nutzungen">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="1000"/>
            <!--  Sportplatz -->
            <xsd:enumeration value="1100"/>
            <!--  Nicht öffentliche Grünfläche -->
            <xsd:enumeration value="1200"/>
            <!--  Kinderspielplatz -->
            <xsd:enumeration value="1300"/>
            <!--  Sportplatz -->
            <xsd:enumeration value="1400"/>
            <!--  Kleingaerten -->
            <xsd:enumeration value="1500"/>
            <!--  Erwerbsgartenbau, Glashäuser -->
            <xsd:enumeration value="1000"/>
            <!--  Dauerkleingärten -->
        </xsd:restriction>
    </xsd:simpleType>
    
    
        <!-- Neue Klasse xplanFHH:BP_SonstigeFestsetzzungen_FHH =====================================================================-->
    <xsd:element name="BP_SonstigeFestsetzungen_FHH" type="BP_SonstigeFestsetzungen_FHHType" substitutionGroup="xplan:BP_Flaechenobjekt"/>
    <xsd:complexType name="BP_SonstigeFestsetzungen_FHHType">
        <xsd:complexContent>
            <xsd:extension base="xplan:BP_FlaechenobjektType">
                <xsd:sequence>
                    <xsd:element  name="zweckbestimmung" type="BP_Zweckbestimmung_FFH" minOccurs="0" />
                </xsd:sequence>
            </xsd:extension>
       </xsd:complexContent>
    </xsd:complexType>
    
  
    
    <xsd:simpleType name="BP_Zweckbestimmung_FFH">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="1000"/>
            <!--  keine -->
            <xsd:enumeration value="1100"/>
            <!--  von jeglicher Bebauung freizuhalten -->
          </xsd:restriction>
    </xsd:simpleType>
    
            <!-- Neue Klasse xplanFHH:BP_BesondereZweckbestimmung_FHH =====================================================================-->
    <xsd:element name="BP_BesondereZweckbestimmung_FHH" type="BP_BesondereZweckbestimmung_FHHType" substitutionGroup="xplan:BP_Flaechenobjekt"/>
    <xsd:complexType name="BP_BesondereZweckbestimmung_FHHType">
        <xsd:complexContent>
            <xsd:extension base="xplan:BP_FlaechenobjektType">
                <xsd:sequence>
                    <xsd:element  name="bauweise" type="xplan:BP_BauweiseType" minOccurs="0" />
		            <xsd:element  name="besondereZweckbestimmungFHH" type="xplanFHH:BP_BesondereZweckbestimmungGemVerSon_FHH" minOccurs="0"  />
                </xsd:sequence>
            </xsd:extension>
       </xsd:complexContent>
    </xsd:complexType>
    

    
    <xsd:simpleType name="BP_BesondereZweckbestimmungGemVerSon_FHH">
        <xsd:restriction base="xsd:string">
			<!-- Aufschuettungsflaeche -->
			<xs:enumeration value="10001"/>
			<!-- Ausgleichsflaeche -->
			<xs:enumeration value="10002"/>
			<!-- Laermschutz -->
			<xs:enumeration value="10003"/>
			<!-- OeffentlicheBuecherhalle -->
			<xs:enumeration value="11001"/>
			<!-- OeffentlicheVerwaltungseinrichtung -->
			<xs:enumeration value="11002"/>
			<!-- Betriebshof -->
			<xs:enumeration value="11003"/>
			<!-- Baubetriebsplatz -->
			<xs:enumeration value="11004"/>
			<!-- GebaeudeOeffentArt -->
			<xs:enumeration value="11005"/>
			<!-- Schule -->
			<xs:enumeration value="12001"/>
			<!-- Gesamtschule -->
			<xs:enumeration value="12002"/>
			<!-- Volksschule -->
			<xs:enumeration value="12003"/>
			<!-- Gymnasium -->
			<xs:enumeration value="12004"/>
			<!-- BerufsbildendeSchule -->
			<xs:enumeration value="12005"/>
			<!-- Schulsportplatz -->
			<xs:enumeration value="12006"/>
			<!-- ErwachsenenBildung -->
			<xs:enumeration value="12007"/>
			<!-- Kirche -->
			<xs:enumeration value="13001"/>
			<!-- KircheVerwaltungseinrichtung -->
			<xs:enumeration value="13002"/>
			<!-- Friedhof -->
			<xs:enumeration value="13003"/>
			<!-- FrauenMuetterwohnheim -->
			<xs:enumeration value="14001"/>
			<!-- Muetterberatung -->
			<xs:enumeration value="14002"/>
			<!-- Jugendwohnheim -->
			<xs:enumeration value="14003"/>
			<!-- Jugendtagesheim -->
			<xs:enumeration value="14004"/>
			<!-- Kinderwohnheim -->
			<xs:enumeration value="14005"/>
			<!-- Kindertagesheim -->
			<xs:enumeration value="14006"/>
			<!-- Kindergarten -->
			<xs:enumeration value="14007"/>
			<!-- Kinderspielplatz -->
			<xs:enumeration value="14008"/>
			<!-- Altenwohnheim -->
			<xs:enumeration value="14009"/>
			<!-- Altentagesstaette -->
			<xs:enumeration value="14011"/>
			<!-- Seniorenanlage -->
			<xs:enumeration value="14012"/>
			<!-- Krankenhaus -->
			<xs:enumeration value="15001"/>
			<!-- Feuerwehr -->
			<xs:enumeration value="15002"/>
			<!-- Polizei -->
			<xs:enumeration value="15003"/>
			<!-- Bundeswehr -->
			<xs:enumeration value="15004"/>
			<!-- Post -->
			<xs:enumeration value="15005"/>
			<!-- ZivilBevoelkerung -->
			<xs:enumeration value="15006"/>
			<!-- TheaterMuseum -->
			<xs:enumeration value="16001"/>
			<!-- RundfunkFernsehen -->
			<xs:enumeration value="16002"/>
			<!-- SonstigePublikum -->
			<xs:enumeration value="16003"/>
			<!-- Sportplatz -->
			<xs:enumeration value="17001"/>
			<!-- SporthalleSportbautenClubhaeuser -->
			<xs:enumeration value="17002"/>
			<!-- Freibad -->
			<xs:enumeration value="17003"/>
			<!-- Wassersportanlage -->
			<xs:enumeration value="17004"/>
			<!-- Universitaet -->
			<xs:enumeration value="18001"/>
			<!-- Fachhochschule -->
			<xs:enumeration value="18002"/>
			<!-- WissenOeffentlEinrichtung -->
			<xs:enumeration value="18003"/>
			<!-- Ladengruppe -->
			<xs:enumeration value="19992"/>
			<!-- MarktJahrmarktsFlaeche -->
			<xs:enumeration value="19993"/>
			<!-- AndereBildungseinrichtungen -->
			<xs:enumeration value="19994"/>
			<!-- SonstigeWohnheime -->
			<xs:enumeration value="19995"/>
			<!-- SonstigeKirche -->
			<xs:enumeration value="19996"/>
			<!-- ZeltCampingplatz -->
			<xs:enumeration value="19997"/>
			<!-- ZentralerOmnibusbahnhof -->
			<xs:enumeration value="19998"/>
			<!-- SonstigeGemeinbedarfseinrichtung -->
			<xs:enumeration value="19999"/>
			<!-- SonstigeGesundheit -->
			<xs:enumeration value="20011"/>
			<!-- EWerk -->
			<xs:enumeration value="21001"/>
			<!-- Trafostation -->
			<xs:enumeration value="21002"/>
			<!-- Hochspannungsmast -->
			<xs:enumeration value="21003"/>
			<!-- GWerk -->
			<xs:enumeration value="22001"/>
			<!-- Gassonde -->
			<xs:enumeration value="22002"/>
			<!-- Heizkraftwerk -->
			<xs:enumeration value="23001"/>
			<!-- Trinkwasseranlage -->
			<xs:enumeration value="24001"/>
			<!-- Pumpwerk -->
			<xs:enumeration value="24002"/>
			<!-- Fernmeldeeinrichtung -->
			<xs:enumeration value="25001"/>
			<!-- Klaeranlage -->
			<xs:enumeration value="26001"/>
			<!-- Rueckhaltebecken -->
			<xs:enumeration value="27001"/>
			<!-- Muellverbrennung -->
			<xs:enumeration value="28001"/>
			<!-- SonstigeVersorgungsanlagen -->
			<xs:enumeration value="29999"/>
			<!-- Parkhaus -->
			<xs:enumeration value="31001"/>
			<!-- Parkplatz -->
			<xs:enumeration value="31002"/>
			<!-- SonstigeBahnanlagen -->
			<xs:enumeration value="32001"/>
			<!-- IntFlughafen -->
			<xs:enumeration value="33001"/>
			<!-- SonstigeFlugangelegenheiten -->
			<xs:enumeration value="33002"/>
			<!-- HubschrauberFlugplatz -->
			<xs:enumeration value="33003"/>
			<!-- Flugsicherung -->
			<xs:enumeration value="33004"/>
			<!-- SonstigeVerkehrsflaeche -->
			<xs:enumeration value="39999"/>
			<!-- Dauerkleingaerten -->
			<xs:enumeration value="41001"/>
			<!-- Boltzplatz -->
			<xs:enumeration value="41002"/>
			<!-- Parkanlage -->
			<xs:enumeration value="41003"/>
			<!-- Freizeiteinrichtung -->
			<xs:enumeration value="41004"/>
			<!-- Leuchtturm -->
			<xs:enumeration value="42001"/>
			<!-- Ausflugslokal -->
			<xs:enumeration value="41005"/>
          </xsd:restriction>
    </xsd:simpleType>

</xs:schema>
