deegree2-core/resources/wmps/demo/conf/featuretypes/SGID024_Municipalities2004_edited_shp.xsd

<xsd:schema targetNamespace="http://www.deegree.org/app" xmlns:gml="http://www.opengis.net/gml" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:deegreewfs="http://www.deegree.org/wfs" xmlns:ogc="http://www.opengis.net/ogc" xmlns:app="http://www.deegree.org/app" elementFormDefault="qualified" attributeFormDefault="unqualified">
    <xsd:import namespace="http://www.opengis.net/gml" schemaLocation="http://schemas.opengis.net/gml/3.1.1/base/feature.xsd" />
    <xsd:import namespace="http://www.opengis.net/gml" schemaLocation="http://schemas.opengis.net/gml/3.1.1/base/geometryAggregates.xsd" />
    <!-- configuration for the persistence backend to be used -->
    <xsd:annotation>
        <xsd:appinfo>
            <deegreewfs:Prefix>app</deegreewfs:Prefix>
            <deegreewfs:Backend>SHAPE</deegreewfs:Backend>
            <deegreewfs:File>../../../data/utah/vector/SGID024_Municipalities2004_edited</deegreewfs:File>
            <deegreewfs:DefaultSRS>EPSG:26912</deegreewfs:DefaultSRS>
        </xsd:appinfo>
    </xsd:annotation>
    <!-- ============================================================== -->
    <xsd:element name='Municipalities_edited' type='app:Municipalities_editedType' substitutionGroup="gml:_Feature">
        <xsd:annotation>
            <xsd:appinfo>
                <deegreewfs:table>SGID024_Municipalities2004_edited</deegreewfs:table>
                <deegreewfs:gmlId prefix="ID_">
                    <deegreewfs:MappingField field='ID' type="INTEGER" />
                </deegreewfs:gmlId>
            </xsd:appinfo>
        </xsd:annotation>
    </xsd:element>
    <!-- ============================================================== -->
    <xsd:complexType name='Municipalities_editedType'>
        <xsd:complexContent>
            <xsd:extension base="gml:AbstractFeatureType">
                <xsd:sequence>
                    <xsd:element name='geometry' type='gml:GeometryPropertyType'>
                        <xsd:annotation>
                            <xsd:appinfo>
                                <deegreewfs:Content>
                                    <deegreewfs:MappingField field='GEOM' type='GEOMETRY' srs='-1' />
                                </deegreewfs:Content>
                            </xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name='objectid' type='xsd:integer'>
                        <xsd:annotation>
                            <xsd:appinfo>
                                <deegreewfs:Content>
                                    <deegreewfs:MappingField field='OBJECTID' type='INTEGER' />
                                </deegreewfs:Content>
                            </xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name='countynbr' type='xsd:string'>
                        <xsd:annotation>
                            <xsd:appinfo>
                                <deegreewfs:Content>
                                    <deegreewfs:MappingField field='COUNTYNBR' type='VARCHAR' />
                                </deegreewfs:Content>
                            </xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name='entitynbr' type='xsd:integer'>
                        <xsd:annotation>
                            <xsd:appinfo>
                                <deegreewfs:Content>
                                    <deegreewfs:MappingField field='ENTITYNBR' type='INTEGER' />
                                </deegreewfs:Content>
                            </xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name='entityyr' type='xsd:integer'>
                        <xsd:annotation>
                            <xsd:appinfo>
                                <deegreewfs:Content>
                                    <deegreewfs:MappingField field='ENTITYYR' type='INTEGER' />
                                </deegreewfs:Content>
                            </xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name='shortdesc' type='xsd:string'>
                        <xsd:annotation>
                            <xsd:appinfo>
                                <deegreewfs:Content>
                                    <deegreewfs:MappingField field='SHORTDESC' type='VARCHAR' />
                                </deegreewfs:Content>
                            </xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name='giskey' type='xsd:integer'>
                        <xsd:annotation>
                            <xsd:appinfo>
                                <deegreewfs:Content>
                                    <deegreewfs:MappingField field='GISKEY' type='INTEGER' />
                                </deegreewfs:Content>
                            </xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name='sdekey' type='xsd:string'>
                        <xsd:annotation>
                            <xsd:appinfo>
                                <deegreewfs:Content>
                                    <deegreewfs:MappingField field='SDEKEY' type='VARCHAR' />
                                </deegreewfs:Content>
                            </xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name='name' type='xsd:string'>
                        <xsd:annotation>
                            <xsd:appinfo>
                                <deegreewfs:Content>
                                    <deegreewfs:MappingField field='NAME' type='VARCHAR' />
                                </deegreewfs:Content>
                            </xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name='imscolor' type='xsd:integer'>
                        <xsd:annotation>
                            <xsd:appinfo>
                                <deegreewfs:Content>
                                    <deegreewfs:MappingField field='IMSCOLOR' type='INTEGER' />
                                </deegreewfs:Content>
                            </xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name='minname' type='xsd:string'>
                        <xsd:annotation>
                            <xsd:appinfo>
                                <deegreewfs:Content>
                                    <deegreewfs:MappingField field='MINNAME' type='VARCHAR' />
                                </deegreewfs:Content>
                            </xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name='countyseat' type='xsd:integer'>
                        <xsd:annotation>
                            <xsd:appinfo>
                                <deegreewfs:Content>
                                    <deegreewfs:MappingField field='COUNTYSEAT' type='INTEGER' />
                                </deegreewfs:Content>
                            </xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name='pop2000' type='xsd:integer'>
                        <xsd:annotation>
                            <xsd:appinfo>
                                <deegreewfs:Content>
                                    <deegreewfs:MappingField field='POP2000' type='INTEGER' />
                                </deegreewfs:Content>
                            </xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name='fips' type='xsd:integer'>
                        <xsd:annotation>
                            <xsd:appinfo>
                                <deegreewfs:Content>
                                    <deegreewfs:MappingField field='FIPS' type='INTEGER' />
                                </deegreewfs:Content>
                            </xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name='shape_area' type='xsd:integer'>
                        <xsd:annotation>
                            <xsd:appinfo>
                                <deegreewfs:Content>
                                    <deegreewfs:MappingField field='SHAPE_AREA' type='INTEGER' />
                                </deegreewfs:Content>
                            </xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name='shape_len' type='xsd:integer'>
                        <xsd:annotation>
                            <xsd:appinfo>
                                <deegreewfs:Content>
                                    <deegreewfs:MappingField field='SHAPE_LEN' type='INTEGER' />
                                </deegreewfs:Content>
                            </xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name='county' type='xsd:string'>
                        <xsd:annotation>
                            <xsd:appinfo>
                                <deegreewfs:Content>
                                    <deegreewfs:MappingField field='COUNTY' type='VARCHAR' />
                                </deegreewfs:Content>
                            </xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
</xsd:schema>