deegree-layers/deegree-layers-feature/src/main/resources/META-INF/schemas/layers/feature/3.2.0/feature.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://www.w3.org/2001/XMLSchema"
  targetNamespace="http://www.deegree.org/layers/feature" xmlns:f="http://www.deegree.org/layers/feature"
  elementFormDefault="qualified" xmlns:jaxb="http://java.sun.com/xml/ns/jaxb" jaxb:version="2.1"
  xmlns:l="http://www.deegree.org/layers/base">

  <annotation>
    <appinfo>
      <jaxb:schemaBindings>
        <jaxb:package name="org.deegree.layer.persistence.feature.jaxb" />
      </jaxb:schemaBindings>
    </appinfo>
  </annotation>

  <import namespace="http://www.deegree.org/layers/base" schemaLocation="http://schemas.deegree.org/layers/base/3.2.0/base.xsd" />

  <complexType name="FeatureLayerType">
    <sequence>
      <element name="FeatureType" type="QName" minOccurs="0" />
      <element name="Filter" minOccurs="0" type="anyType">
        <annotation>
          <appinfo>
            <jaxb:dom />
          </appinfo>
        </annotation>
      </element>
      <element name="SortBy" minOccurs="0" type="anyType">
        <annotation>
          <appinfo>
            <jaxb:dom />
          </appinfo>
        </annotation>
      </element>      
      <group ref="l:LayerInfo" />
    </sequence>
  </complexType>

  <element name="FeatureLayers">
    <complexType>
      <sequence>
        <choice>
          <sequence>
            <element name="FeatureStoreId" type="string" />
            <element name="FeatureLayer" type="f:FeatureLayerType" maxOccurs="unbounded" />
          </sequence>
          <element name="AutoLayers">
            <complexType>
              <sequence>
                <element name="FeatureStoreId" type="string" />
                <element name="StyleStoreId" type="string" minOccurs="0" />
              </sequence>
            </complexType>
          </element>
        </choice>
      </sequence>
      <attribute name="configVersion" type="f:ConfigVersionType" use="required" />
    </complexType>
  </element>

  <simpleType name="ConfigVersionType">
    <restriction base="string">
      <enumeration value="3.2.0" />
    </restriction>
  </simpleType>

</schema>