deegree-misc/deegree-demos/deegree-alkis/deegree-alkis-6/src/main/webapp/WEB-INF/workspace/datasources/feature/gml/schemas/NAS_6.0.1/schema/AAA-Basisschema.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:adv="http://www.adv-online.de/namespaces/adv/gid/6.0" xmlns:feCap="http://www.opengis.net/ogc/filterCapabilities" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:ows="http://www.opengis.net/ows" xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo" xmlns:wfs="http://www.adv-online.de/namespaces/adv/gid/wfs" xmlns:wfsCap="http://www.opengis.net/wfs/capabilities" xmlns:wfsext="http://www.adv-online.de/namespaces/adv/gid/wfsext" elementFormDefault="qualified" targetNamespace="http://www.adv-online.de/namespaces/adv/gid/6.0" version="6.0.1">
  <import namespace="http://www.opengis.net/ogc/filterCapabilities" schemaLocation="filter/1.0.0/filterCapabilities.xsd"/>
  <import namespace="http://www.opengis.net/wfs/capabilities" schemaLocation="wfs/1.0.0/WFS-capabilities.xsd"/>
  <import namespace="http://www.adv-online.de/namespaces/adv/gid/wfsext" schemaLocation="WFS-Erweiterungen.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="gml/3.2.1/gml.xsd"/>
  <import namespace="http://www.opengis.net/ows" schemaLocation="ows/1.0.0/owsAll.xsd"/>
  <import namespace="http://www.adv-online.de/namespaces/adv/gid/wfs" schemaLocation="wfs/1.0.0/WFS-transaction.xsd"/>
  <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo" schemaLocation="./sc/ShapeChangeAppinfo.xsd"/>
  <!--XML Schema document created by ShapeChange-->
  <element abstract="true" name="TA_CompositeSolidComponent_3D" substitutionGroup="adv:TA_Component_3D" type="adv:TA_CompositeSolidComponent_3DType"/>
  <complexType abstract="true" name="TA_CompositeSolidComponent_3DType">
    <complexContent>
      <extension base="adv:TA_Component_3DType">
        <sequence>
          <element name="position">
            <complexType>
              <sequence>
                <element ref="gml:CompositeSolid"/>
              </sequence>
            </complexType>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <element abstract="true" name="AA_Ergebnis" substitutionGroup="gml:AbstractObject" type="adv:AA_ErgebnisType"/>
  <complexType abstract="true" name="AA_ErgebnisType">
    <sequence>
      <element minOccurs="0" name="erlaeuterung" type="string"/>
      <element default="true" name="erfolgreich" type="boolean"/>
    </sequence>
  </complexType>
  <simpleType name="AP_VertikaleAusrichtungType">
    <restriction base="string">
      <enumeration value="Basis"/>
      <enumeration value="Mitte"/>
      <enumeration value="oben"/>
    </restriction>
  </simpleType>
  <element abstract="true" name="AG_Punktobjekt" substitutionGroup="adv:AG_ObjektMitGemeinsamerGeometrie" type="adv:AG_PunktobjektType"/>
  <complexType abstract="true" name="AG_PunktobjektType">
    <complexContent>
      <extension base="adv:AG_ObjektMitGemeinsamerGeometrieType">
        <sequence>
          <element name="position" type="gml:PointPropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <element abstract="true" name="AA_Benutzergruppe" substitutionGroup="adv:AA_NREO" type="adv:AA_BenutzergruppeType"/>
  <complexType abstract="true" name="AA_BenutzergruppeType">
    <complexContent>
      <extension base="adv:AA_NREOType">
        <sequence>
          <element maxOccurs="unbounded" minOccurs="0" name="inversZu_bearbeitbarDurch" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">adv:AA_Vorgang</targetElement>
                <reversePropertyName xmlns="http://www.opengis.net/gml/3.2">adv:bearbeitbarDurch</reversePropertyName>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="reverseRoleNAS">true</taggedValue>
              </appinfo>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <element abstract="true" name="AU_PunkthaufenObjekt_3D" substitutionGroup="adv:AU_ObjektMitUnabhaengigerGeometrie_3D" type="adv:AU_PunkthaufenObjekt_3DType"/>
  <complexType abstract="true" name="AU_PunkthaufenObjekt_3DType">
    <complexContent>
      <extension base="adv:AU_ObjektMitUnabhaengigerGeometrie_3DType">
        <sequence>
          <element name="position" type="gml:MultiPointPropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <element abstract="true" name="AU_GeometrieObjekt_3D" substitutionGroup="adv:AU_ObjektMitUnabhaengigerGeometrie_3D" type="adv:AU_GeometrieObjekt_3DType"/>
  <complexType abstract="true" name="AU_GeometrieObjekt_3DType">
    <complexContent>
      <extension base="adv:AU_ObjektMitUnabhaengigerGeometrie_3DType">
        <sequence>
          <element name="position" type="gml:GeometryPropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <element abstract="true" name="AA_REO" substitutionGroup="adv:AA_Objekt" type="adv:AA_REOType"/>
  <complexType abstract="true" name="AA_REOType">
    <complexContent>
      <extension base="adv:AA_ObjektType">
        <sequence>
          <element maxOccurs="unbounded" minOccurs="0" name="traegtBeiZu" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">adv:AA_REO</targetElement>
                <reversePropertyName xmlns="http://www.opengis.net/gml/3.2">adv:istAbgeleitetAus</reversePropertyName>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="reverseRoleNAS">true</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="istAbgeleitetAus" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">adv:AA_REO</targetElement>
                <reversePropertyName xmlns="http://www.opengis.net/gml/3.2">adv:traegtBeiZu</reversePropertyName>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="inversZu_hatDirektUnten" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">adv:AA_REO</targetElement>
                <reversePropertyName xmlns="http://www.opengis.net/gml/3.2">adv:hatDirektUnten</reversePropertyName>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="reverseRoleNAS">true</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="hatDirektUnten" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">adv:AA_REO</targetElement>
                <reversePropertyName xmlns="http://www.opengis.net/gml/3.2">adv:inversZu_hatDirektUnten</reversePropertyName>
              </appinfo>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <element name="AA_Fortfuehrungsauftrag" substitutionGroup="adv:AA_Auftrag" type="adv:AA_FortfuehrungsauftragType"/>
  <complexType name="AA_FortfuehrungsauftragType">
    <complexContent>
      <extension base="adv:AA_AuftragType">
        <sequence>
          <element maxOccurs="unbounded" minOccurs="0" name="verwendeteInstanzenthemen" type="gml:CodeType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="koordinatenangaben" type="adv:AA_KoordinatenreferenzsystemangabenPropertyType"/>
          <element name="geaenderteObjekte">
            <complexType>
              <sequence>
                <element ref="wfs:Transaction"/>
              </sequence>
            </complexType>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <element abstract="true" name="AU_KoerperObjekt_3D" substitutionGroup="adv:AU_ObjektMitUnabhaengigerGeometrie_3D" type="adv:AU_KoerperObjekt_3DType"/>
  <complexType abstract="true" name="AU_KoerperObjekt_3DType">
    <complexContent>
      <extension base="adv:AU_ObjektMitUnabhaengigerGeometrie_3DType">
        <sequence>
          <element name="position" type="gml:SolidPropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <element abstract="true" name="AU_TrianguliertesOberflaechenObjekt_3D" substitutionGroup="adv:AU_ObjektMitUnabhaengigerGeometrie_3D" type="adv:AU_TrianguliertesOberflaechenObjekt_3DType"/>
  <complexType abstract="true" name="AU_TrianguliertesOberflaechenObjekt_3DType">
    <complexContent>
      <extension base="adv:AU_ObjektMitUnabhaengigerGeometrie_3DType">
        <sequence>
          <element name="position">
            <complexType>
              <sequence>
                <element ref="gml:TriangulatedSurface"/>
              </sequence>
            </complexType>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <element abstract="true" name="AA_REO_3D" substitutionGroup="adv:AA_Objekt" type="adv:AA_REO_3DType"/>
  <complexType abstract="true" name="AA_REO_3DType">
    <complexContent>
      <extension base="adv:AA_ObjektType">
        <sequence>
          <element name="levelOfDetail" type="gml:CodeType"/>
          <element minOccurs="0" name="generalisiert" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">adv:AA_REO_3D</targetElement>
                <reversePropertyName xmlns="http://www.opengis.net/gml/3.2">adv:detailliert</reversePropertyName>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="detailliert" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">adv:AA_REO_3D</targetElement>
                <reversePropertyName xmlns="http://www.opengis.net/gml/3.2">adv:generalisiert</reversePropertyName>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="reverseRoleNAS">true</taggedValue>
              </appinfo>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <element abstract="true" name="TA_SurfaceComponent_3D" substitutionGroup="adv:TA_Component_3D" type="adv:TA_SurfaceComponent_3DType"/>
  <complexType abstract="true" name="TA_SurfaceComponent_3DType">
    <complexContent>
      <extension base="adv:TA_Component_3DType">
        <sequence>
          <element name="position" type="gml:SurfacePropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <element abstract="true" name="TA_CurveComponent" substitutionGroup="adv:AG_ObjektMitGemeinsamerGeometrie" type="adv:TA_CurveComponentType"/>
  <complexType abstract="true" name="TA_CurveComponentType">
    <complexContent>
      <extension base="adv:AG_ObjektMitGemeinsamerGeometrieType">
        <sequence>
          <element name="position" type="gml:CurvePropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <element abstract="true" name="AU_Linienobjekt" substitutionGroup="adv:AU_ObjektMitUnabhaengigerGeometrie" type="adv:AU_LinienobjektType"/>
  <complexType abstract="true" name="AU_LinienobjektType">
    <complexContent>
      <extension base="adv:AU_ObjektMitUnabhaengigerGeometrieType">
        <sequence>
          <element name="position" type="gml:MultiCurvePropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <element name="AA_Aktivitaet" substitutionGroup="adv:AA_NREO" type="adv:AA_AktivitaetType"/>
  <complexType name="AA_AktivitaetType">
    <complexContent>
      <extension base="adv:AA_NREOType">
        <sequence>
          <element minOccurs="0" name="erlaeuterung" type="string"/>
          <element maxOccurs="unbounded" minOccurs="0" name="inversZu_enthaelt">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">adv:AA_Vorgang</targetElement>
                <reversePropertyName xmlns="http://www.opengis.net/gml/3.2">adv:enthaelt</reversePropertyName>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="reverseRoleNAS">true</taggedValue>
              </appinfo>
            </annotation>
            <complexType>
              <complexContent>
                <extension base="gml:AbstractMemberType">
                  <sequence/>
                  <attributeGroup ref="gml:AssociationAttributeGroup"/>
                </extension>
              </complexContent>
            </complexType>
          </element>
          <element name="status" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">adv:AA_Meilenstein</targetElement>
                <reversePropertyName xmlns="http://www.opengis.net/gml/3.2">adv:vonAktivitaet</reversePropertyName>
              </appinfo>
            </annotation>
          </element>
          <element name="art" type="gml:CodeType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <element abstract="true" name="AU_Objekt" substitutionGroup="adv:AU_ObjektMitUnabhaengigerGeometrie" type="adv:AU_ObjektType"/>
  <complexType abstract="true" name="AU_ObjektType">
    <complexContent>
      <extension base="adv:AU_ObjektMitUnabhaengigerGeometrieType">
        <sequence>
          <element name="position" type="gml:GeometryPropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <element abstract="true" name="AU_ObjektMitUnabhaengigerGeometrie" substitutionGroup="adv:AA_REO" type="adv:AU_ObjektMitUnabhaengigerGeometrieType"/>
  <complexType abstract="true" name="AU_ObjektMitUnabhaengigerGeometrieType">
    <complexContent>
      <extension base="adv:AA_REOType">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <element abstract="true" name="AU_Punktobjekt_3D" substitutionGroup="adv:AU_ObjektMitUnabhaengigerGeometrie_3D" type="adv:AU_Punktobjekt_3DType"/>
  <complexType abstract="true" name="AU_Punktobjekt_3DType">
    <complexContent>
      <extension base="adv:AU_ObjektMitUnabhaengigerGeometrie_3DType">
        <sequence>
          <element name="position" type="gml:PointPropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <element abstract="true" name="AU_Punktobjekt" substitutionGroup="adv:AU_ObjektMitUnabhaengigerGeometrie" type="adv:AU_PunktobjektType"/>
  <complexType abstract="true" name="AU_PunktobjektType">
    <complexContent>
      <extension base="adv:AU_ObjektMitUnabhaengigerGeometrieType">
        <sequence>
          <element name="position" type="gml:PointPropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <element name="AA_Antrag" substitutionGroup="adv:AA_NREO" type="adv:AA_AntragType"/>
  <complexType name="AA_AntragType">
    <complexContent>
      <extension base="adv:AA_NREOType">
        <sequence>
          <element name="kennzeichen" type="string"/>
          <element default="false" name="antragUnterbrochen" type="boolean"/>
          <element minOccurs="0" name="erlaeuterungZumStatus" type="string"/>
          <element maxOccurs="unbounded" name="verweistAuf" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">adv:AA_Projektsteuerung</targetElement>
                <reversePropertyName xmlns="http://www.opengis.net/gml/3.2">adv:inversZu_verweistAuf</reversePropertyName>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="bearbeitungsstatus" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">adv:AA_Meilenstein</targetElement>
                <reversePropertyName xmlns="http://www.opengis.net/gml/3.2">adv:vonAntrag</reversePropertyName>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="gebiet" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">adv:AA_Antragsgebiet</targetElement>
                <reversePropertyName xmlns="http://www.opengis.net/gml/3.2">adv:inversZu_gebiet</reversePropertyName>
              </appinfo>
            </annotation>
          </element>
          <element name="art" type="gml:CodeType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <element name="DCP" substitutionGroup="gml:AbstractObject" type="adv:DCPType"/>
  <complexType name="DCPType">
    <choice>
      <element name="HTTP" type="anyURI"/>
      <element name="email" type="anyURI"/>
      <element fixed="" name="manuell" type="string"/>
    </choice>
  </complexType>
  <complexType name="DCPPropertyType">
    <sequence>
      <element ref="adv:DCP"/>
    </sequence>
  </complexType>
  <element abstract="true" name="AD_GitterCoverage" substitutionGroup="gml:AbstractDiscreteCoverage" type="adv:AD_GitterCoverageType"/>
  <complexType abstract="true" name="AD_GitterCoverageType">
    <complexContent>
      <extension base="gml:DiscreteCoverageType">
        <sequence>
          <element name="lebenszeitintervall" type="adv:AA_LebenszeitintervallPropertyType"/>
          <element maxOccurs="unbounded" name="modellart" type="adv:AA_ModellartPropertyType"/>
          <element maxOccurs="2" minOccurs="0" name="anlass" type="gml:CodeType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="zeigtAufExternes" type="adv:AA_FachdatenverbindungPropertyType"/>
          <element minOccurs="0" name="name" type="string"/>
          <element minOccurs="0" name="beschreibung" type="string"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <element abstract="true" name="AG_ObjektMitGemeinsamerGeometrie" substitutionGroup="adv:AA_REO" type="adv:AG_ObjektMitGemeinsamerGeometrieType"/>
  <complexType abstract="true" name="AG_ObjektMitGemeinsamerGeometrieType">
    <complexContent>
      <extension base="adv:AA_REOType">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <element name="AP_KPO_3D" substitutionGroup="adv:AU_Punktobjekt_3D" type="adv:AP_KPO_3DType"/>
  <complexType name="AP_KPO_3DType">
    <complexContent>
      <extension base="adv:AU_Punktobjekt_3DType">
        <sequence>
          <element minOccurs="0" name="signaturnummer" type="string"/>
          <element minOccurs="0" name="darstellungsprioritaet" type="integer"/>
          <element minOccurs="0" name="art" type="string"/>
          <element minOccurs="0" name="dateiTyp" type="adv:AP_DateiTyp_3DType"/>
          <element minOccurs="0" name="referenzZumFremdobjekt" type="anyURI"/>
          <element minOccurs="0" name="transformationsMatrix" type="adv:AP_TransformationsMatrix_3DPropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="dientZurDarstellungVon" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">adv:AA_Objekt</targetElement>
                <reversePropertyName xmlns="http://www.opengis.net/gml/3.2">adv:inversZu_dientZurDarstellungVon_AP_KPO_3D</reversePropertyName>
              </appinfo>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <element name="ExceptionFortfuehrung" substitutionGroup="ows:Exception" type="adv:ExceptionFortfuehrungType"/>
  <complexType name="ExceptionFortfuehrungType">
    <complexContent>
      <extension base="ows:ExceptionType">
        <sequence>
          <element maxOccurs="unbounded" minOccurs="0" name="bereitsGesperrteObjekte" type="anyURI"/>
          <element maxOccurs="unbounded" minOccurs="0" name="nichtMehrAktuelleObjekte" type="anyURI"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="ExceptionFortfuehrungPropertyType">
    <sequence>
      <element ref="adv:ExceptionFortfuehrung"/>
    </sequence>
  </complexType>
  <simpleType name="AP_HorizontaleAusrichtungType">
    <restriction base="string">
      <enumeration value="linksbündig"/>
      <enumeration value="rechtsbündig"/>
      <enumeration value="zentrisch"/>
    </restriction>
  </simpleType>
  <element abstract="true" name="AU_Flaechenobjekt" substitutionGroup="adv:AU_ObjektMitUnabhaengigerGeometrie" type="adv:AU_FlaechenobjektType"/>
  <complexType abstract="true" name="AU_FlaechenobjektType">
    <complexContent>
      <extension base="adv:AU_ObjektMitUnabhaengigerGeometrieType">
        <sequence>
          <element name="position" type="gml:GeometryPropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <element name="AU_UmringObjekt_3D" substitutionGroup="adv:AU_ObjektMitUnabhaengigerGeometrie_3D" type="adv:AU_UmringObjekt_3DType"/>
  <complexType name="AU_UmringObjekt_3DType">
    <complexContent>
      <extension base="adv:AU_ObjektMitUnabhaengigerGeometrie_3DType">
        <sequence>
          <element name="position" type="gml:MultiCurvePropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <element name="DataContents" type="adv:DataContentsType"/>
  <complexType name="DataContentsType">
    <complexContent>
      <extension base="ows:IdentificationType">
        <sequence>
          <element minOccurs="0" name="beginnDerHistorie" type="dateTime"/>
          <element name="featureCatalogue" type="gml:ReferenceType"/>
          <element name="defaultSRS" type="anyURI"/>
          <element maxOccurs="unbounded" minOccurs="0" name="otherSRS" type="anyURI"/>
          <element maxOccurs="unbounded" minOccurs="0" name="operations" type="adv:OperationType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="DataContentsPropertyType">
    <sequence>
      <element ref="adv:DataContents"/>
    </sequence>
  </complexType>
  <element abstract="true" name="TA_SurfaceComponent" substitutionGroup="adv:AG_ObjektMitGemeinsamerGeometrie" type="adv:TA_SurfaceComponentType"/>
  <complexType abstract="true" name="TA_SurfaceComponentType">
    <complexContent>
      <extension base="adv:AG_ObjektMitGemeinsamerGeometrieType">
        <sequence>
          <element name="position" type="gml:SurfacePropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <simpleType name="AP_DateiTyp_3DType">
    <restriction base="string">
      <enumeration value="1000"/>
      <enumeration value="2000"/>
      <enumeration value="3000"/>
      <enumeration value="4000"/>
      <enumeration value="5000"/>
      <enumeration value="6000"/>
      <enumeration value="9990"/>
    </restriction>
  </simpleType>
  <simpleType name="AA_NAS_AusgabeformType">
    <restriction base="string">
      <enumeration value="application/xml"/>
      <enumeration value="application/zip"/>
      <enumeration value="application/gzip"/>
    </restriction>
  </simpleType>
  <element name="AA_Fortfuehrungsergebnis" substitutionGroup="adv:AA_Ergebnis" type="adv:AA_FortfuehrungsergebnisType"/>
  <complexType name="AA_FortfuehrungsergebnisType">
    <complexContent>
      <extension base="adv:AA_ErgebnisType">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <element name="AP_LPO" substitutionGroup="adv:AU_Linienobjekt" type="adv:AP_LPOType"/>
  <complexType name="AP_LPOType">
    <complexContent>
      <extension base="adv:AU_LinienobjektType">
        <sequence>
          <element minOccurs="0" name="signaturnummer" type="string"/>
          <element minOccurs="0" name="darstellungsprioritaet" type="integer"/>
          <element minOccurs="0" name="art" type="string"/>
          <element maxOccurs="unbounded" minOccurs="0" name="inversZu_hat_AP_LTO" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">adv:AP_LTO</targetElement>
                <reversePropertyName xmlns="http://www.opengis.net/gml/3.2">adv:hat</reversePropertyName>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="reverseRoleNAS">true</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="inversZu_hat_AP_PTO" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">adv:AP_PTO</targetElement>
                <reversePropertyName xmlns="http://www.opengis.net/gml/3.2">adv:hat</reversePropertyName>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="reverseRoleNAS">true</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="dientZurDarstellungVon" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">adv:AA_Objekt</targetElement>
                <reversePropertyName xmlns="http://www.opengis.net/gml/3.2">adv:inversZu_dientZurDarstellungVon_AP_LPO</reversePropertyName>
              </appinfo>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <element name="AA_Meilenstein" substitutionGroup="adv:AA_NREO" type="adv:AA_MeilensteinType"/>
  <complexType name="AA_MeilensteinType">
    <complexContent>
      <extension base="adv:AA_NREOType">
        <sequence>
          <element default="false" minOccurs="0" name="begonnen" type="boolean"/>
          <element default="false" minOccurs="0" name="abgeschlossen" type="boolean"/>
          <element minOccurs="0" name="erfolgreich" type="boolean"/>
          <element minOccurs="0" name="wannAbgeschlossen" type="dateTime"/>
          <element minOccurs="0" name="kategorie" type="gml:CodeType"/>
          <element minOccurs="0" name="bemerkung" type="string"/>
          <element minOccurs="0" name="wer" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">adv:AA_Benutzer</targetElement>
                <reversePropertyName xmlns="http://www.opengis.net/gml/3.2">adv:inversZu_wer</reversePropertyName>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="vonAktivitaet" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">adv:AA_Aktivitaet</targetElement>
                <reversePropertyName xmlns="http://www.opengis.net/gml/3.2">adv:status</reversePropertyName>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="reverseRoleNAS">true</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="vonVorgang" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">adv:AA_Vorgang</targetElement>
                <reversePropertyName xmlns="http://www.opengis.net/gml/3.2">adv:status</reversePropertyName>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="reverseRoleNAS">true</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="vonAntrag" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">adv:AA_Antrag</targetElement>
                <reversePropertyName xmlns="http://www.opengis.net/gml/3.2">adv:bearbeitungsstatus</reversePropertyName>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="reverseRoleNAS">true</taggedValue>
              </appinfo>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <element name="AA_Antragsgebiet" substitutionGroup="adv:AU_Flaechenobjekt" type="adv:AA_AntragsgebietType"/>
  <complexType name="AA_AntragsgebietType">
    <complexContent>
      <extension base="adv:AU_FlaechenobjektType">
        <sequence>
          <element maxOccurs="unbounded" minOccurs="0" name="inversZu_gebiet" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">adv:AA_Antrag</targetElement>
                <reversePropertyName xmlns="http://www.opengis.net/gml/3.2">adv:gebiet</reversePropertyName>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="reverseRoleNAS">true</taggedValue>
              </appinfo>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <element name="AP_TransformationsMatrix_3D" substitutionGroup="gml:AbstractObject" type="adv:AP_TransformationsMatrix_3DType"/>
  <complexType name="AP_TransformationsMatrix_3DType">
    <sequence>
      <element maxOccurs="16" minOccurs="16" name="parameter" type="double"/>
    </sequence>
  </complexType>
  <complexType name="AP_TransformationsMatrix_3DPropertyType">
    <sequence>
      <element ref="adv:AP_TransformationsMatrix_3D"/>
    </sequence>
  </complexType>
  <element abstract="true" name="AA_Auftrag" substitutionGroup="gml:AbstractObject" type="adv:AA_AuftragType"/>
  <complexType abstract="true" name="AA_AuftragType">
    <sequence>
      <element name="empfaenger" type="adv:AA_EmpfaengerPropertyType"/>
      <element name="ausgabeform" type="adv:AA_NAS_AusgabeformType"/>
    </sequence>
  </complexType>
  <element abstract="true" name="TA_CurveComponent_3D" substitutionGroup="adv:TA_Component_3D" type="adv:TA_CurveComponent_3DType"/>
  <complexType abstract="true" name="TA_CurveComponent_3DType">
    <complexContent>
      <extension base="adv:TA_Component_3DType">
        <sequence>
          <element name="position" type="gml:CurvePropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <simpleType name="NAS_Filter_CapabilitiesType">
    <restriction base="string">
      <enumeration value="transparentXlinks"/>
      <enumeration value="multiplePropertyValues"/>
      <enumeration value="XlinkPropertyName"/>
      <enumeration value="XlinkPropertyPath"/>
      <enumeration value="XlinkPropertyPath_leafOnly"/>
      <enumeration value="PropertyIsOfType"/>
    </restriction>
  </simpleType>
  <element abstract="true" name="AA_Benutzer" substitutionGroup="adv:AA_NREO" type="adv:AA_BenutzerType"/>
  <complexType abstract="true" name="AA_BenutzerType">
    <complexContent>
      <extension base="adv:AA_NREOType">
        <sequence>
          <element maxOccurs="unbounded" minOccurs="0" name="inversZu_wer" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">adv:AA_Meilenstein</targetElement>
                <reversePropertyName xmlns="http://www.opengis.net/gml/3.2">adv:wer</reversePropertyName>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="reverseRoleNAS">true</taggedValue>
              </appinfo>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <element abstract="true" name="TA_PointComponent" substitutionGroup="adv:AG_ObjektMitGemeinsamerGeometrie" type="adv:TA_PointComponentType"/>
  <complexType abstract="true" name="TA_PointComponentType">
    <complexContent>
      <extension base="adv:AG_ObjektMitGemeinsamerGeometrieType">
        <sequence>
          <element name="position" type="gml:PointPropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <simpleType name="AA_ThemendimensionType">
    <restriction base="string">
      <enumeration value="1000"/>
      <enumeration value="2000"/>
    </restriction>
  </simpleType>
  <element abstract="true" name="AA_Themendefinition" substitutionGroup="gml:AbstractObject" type="adv:AA_ThemendefinitionType"/>
  <complexType abstract="true" name="AA_ThemendefinitionType">
    <sequence>
      <element name="name" type="string"/>
      <element name="art" type="adv:AA_Art_ThemendefinitionType"/>
      <element maxOccurs="unbounded" name="objektart" type="string"/>
      <element name="modellart" type="adv:AA_ModellartPropertyType"/>
      <element name="dimension" type="adv:AA_ThemendimensionType"/>
    </sequence>
  </complexType>
  <complexType name="AA_ThemendefinitionPropertyType">
    <sequence>
      <element ref="adv:AA_Themendefinition"/>
    </sequence>
  </complexType>
  <simpleType name="AA_AdVStandardModellType">
    <restriction base="string">
      <enumeration value="DLKM"/>
      <enumeration value="DKKM500"/>
      <enumeration value="DKKM1000"/>
      <enumeration value="DKKM2000"/>
      <enumeration value="DKKM5000"/>
      <enumeration value="Basis-DLM"/>
      <enumeration value="DLM50"/>
      <enumeration value="DLM250"/>
      <enumeration value="DLM1000"/>
      <enumeration value="DTK10"/>
      <enumeration value="DTK25"/>
      <enumeration value="DTK50"/>
      <enumeration value="DTK100"/>
      <enumeration value="DTK250"/>
      <enumeration value="DTK1000"/>
      <enumeration value="DFGM"/>
      <enumeration value="DGM2"/>
      <enumeration value="DGM5"/>
      <enumeration value="DGM25"/>
      <enumeration value="DGM50"/>
    </restriction>
  </simpleType>
  <simpleType name="OperationType">
    <restriction base="string">
      <enumeration value="Insert"/>
      <enumeration value="Replace"/>
      <enumeration value="Delete"/>
      <enumeration value="Query"/>
      <enumeration value="Lock"/>
      <enumeration value="Unlock"/>
      <enumeration value="Reserve"/>
    </restriction>
  </simpleType>
  <element abstract="true" name="AG_Flaechenobjekt" substitutionGroup="adv:AG_ObjektMitGemeinsamerGeometrie" type="adv:AG_FlaechenobjektType"/>
  <complexType abstract="true" name="AG_FlaechenobjektType">
    <complexContent>
      <extension base="adv:AG_ObjektMitGemeinsamerGeometrieType">
        <sequence>
          <element name="position" type="gml:GeometryPropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <simpleType name="AA_Art_ThemendefinitionType">
    <restriction base="string">
      <enumeration value="1000"/>
      <enumeration value="2000"/>
    </restriction>
  </simpleType>
  <element name="AA_Lebenszeitintervall" substitutionGroup="gml:AbstractObject" type="adv:AA_LebenszeitintervallType"/>
  <complexType name="AA_LebenszeitintervallType">
    <sequence>
      <element name="beginnt" type="dateTime"/>
      <element minOccurs="0" name="endet" type="dateTime"/>
    </sequence>
  </complexType>
  <complexType name="AA_LebenszeitintervallPropertyType">
    <sequence>
      <element ref="adv:AA_Lebenszeitintervall"/>
    </sequence>
  </complexType>
  <element abstract="true" name="TA_MultiSurfaceComponent" substitutionGroup="adv:AG_ObjektMitGemeinsamerGeometrie" type="adv:TA_MultiSurfaceComponentType"/>
  <complexType abstract="true" name="TA_MultiSurfaceComponentType">
    <complexContent>
      <extension base="adv:AG_ObjektMitGemeinsamerGeometrieType">
        <sequence>
          <element name="position" type="gml:GeometryPropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <element name="AP_Darstellung" substitutionGroup="adv:AA_NREO" type="adv:AP_DarstellungType"/>
  <complexType name="AP_DarstellungType">
    <complexContent>
      <extension base="adv:AA_NREOType">
        <sequence>
          <element minOccurs="0" name="signaturnummer" type="string"/>
          <element minOccurs="0" name="darstellungsprioritaet" type="integer"/>
          <element minOccurs="0" name="art" type="string"/>
          <element minOccurs="0" name="positionierungsregel" type="string"/>
          <element maxOccurs="unbounded" minOccurs="0" name="dientZurDarstellungVon" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">adv:AA_Objekt</targetElement>
                <reversePropertyName xmlns="http://www.opengis.net/gml/3.2">adv:inversZu_dientZurDarstellungVon_AP_Darstellung</reversePropertyName>
              </appinfo>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <element name="AA_Fachdatenverbindung" substitutionGroup="gml:AbstractObject" type="adv:AA_FachdatenverbindungType"/>
  <complexType name="AA_FachdatenverbindungType">
    <sequence>
      <element name="art" type="anyURI"/>
      <element name="fachdatenobjekt" type="adv:AA_FachdatenobjektPropertyType"/>
    </sequence>
  </complexType>
  <complexType name="AA_FachdatenverbindungPropertyType">
    <sequence>
      <element ref="adv:AA_Fachdatenverbindung"/>
    </sequence>
  </complexType>
  <element abstract="true" name="AU_Punkthaufenobjekt" substitutionGroup="adv:AU_ObjektMitUnabhaengigerGeometrie" type="adv:AU_PunkthaufenobjektType"/>
  <complexType abstract="true" name="AU_PunkthaufenobjektType">
    <complexContent>
      <extension base="adv:AU_ObjektMitUnabhaengigerGeometrieType">
        <sequence>
          <element name="position" type="gml:MultiPointPropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <element abstract="true" name="TA_PointComponent_3D" substitutionGroup="adv:TA_Component_3D" type="adv:TA_PointComponent_3DType"/>
  <complexType abstract="true" name="TA_PointComponent_3DType">
    <complexContent>
      <extension base="adv:TA_Component_3DType">
        <sequence>
          <element name="position" type="gml:PointPropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <element name="AA_Benutzungsauftrag" substitutionGroup="adv:AA_Auftrag" type="adv:AA_BenutzungsauftragType"/>
  <complexType name="AA_BenutzungsauftragType">
    <complexContent>
      <extension base="adv:AA_AuftragType">
        <sequence>
          <element name="art" type="gml:CodeType"/>
          <element minOccurs="0" name="koordinatenreferenzsystem" type="gml:CRSPropertyType"/>
          <element maxOccurs="unbounded" name="anforderungsmerkmale">
            <complexType>
              <sequence>
                <element ref="wfs:Query"/>
              </sequence>
            </complexType>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <element name="ServiceMetadata" type="adv:ServiceMetadataType"/>
  <complexType name="ServiceMetadataType">
    <complexContent>
      <extension base="ows:CapabilitiesBaseType">
        <sequence>
          <element minOccurs="0" name="contents" type="adv:DataContentsPropertyType"/>
          <element minOccurs="0" name="filterCapabilities">
            <complexType>
              <complexContent>
                <extension base="gml:AbstractMemberType">
                  <sequence>
                    <element ref="feCap:Filter_Capabilities"/>
                  </sequence>
                </extension>
              </complexContent>
            </complexType>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="extendedFilterCapabilities" type="adv:NAS_Filter_CapabilitiesType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <element name="AA_Fachdatenobjekt" substitutionGroup="gml:AbstractObject" type="adv:AA_FachdatenobjektType"/>
  <complexType name="AA_FachdatenobjektType">
    <choice>
      <element name="name" type="string"/>
      <element name="uri" type="anyURI"/>
    </choice>
  </complexType>
  <complexType name="AA_FachdatenobjektPropertyType">
    <sequence>
      <element ref="adv:AA_Fachdatenobjekt"/>
    </sequence>
  </complexType>
  <element abstract="true" name="AD_PunktCoverage" substitutionGroup="gml:AbstractDiscreteCoverage" type="adv:AD_PunktCoverageType"/>
  <complexType abstract="true" name="AD_PunktCoverageType">
    <complexContent>
      <extension base="gml:DiscreteCoverageType">
        <sequence>
          <element name="lebenszeitintervall" type="adv:AA_LebenszeitintervallPropertyType"/>
          <element maxOccurs="unbounded" name="modellart" type="adv:AA_ModellartPropertyType"/>
          <element maxOccurs="2" minOccurs="0" name="anlass" type="gml:CodeType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="zeigtAufExternes" type="adv:AA_FachdatenverbindungPropertyType"/>
          <element minOccurs="0" name="name" type="string"/>
          <element minOccurs="0" name="beschreibung" type="string"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <element abstract="true" name="AU_KontinuierlichesLinienobjekt" substitutionGroup="adv:AU_ObjektMitUnabhaengigerGeometrie" type="adv:AU_KontinuierlichesLinienobjektType"/>
  <complexType abstract="true" name="AU_KontinuierlichesLinienobjektType">
    <complexContent>
      <extension base="adv:AU_ObjektMitUnabhaengigerGeometrieType">
        <sequence>
          <element name="position" type="gml:CurvePropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <element abstract="true" name="TA_Component_3D" substitutionGroup="adv:AA_REO_3D" type="adv:TA_Component_3DType"/>
  <complexType abstract="true" name="TA_Component_3DType">
    <complexContent>
      <extension base="adv:AA_REO_3DType">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <element abstract="true" name="AA_ZUSO" substitutionGroup="adv:AA_Objekt" type="adv:AA_ZUSOType"/>
  <complexType abstract="true" name="AA_ZUSOType">
    <complexContent>
      <extension base="adv:AA_ObjektType">
        <sequence>
          <element maxOccurs="unbounded" minOccurs="0" name="bestehtAus" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">adv:AA_Objekt</targetElement>
                <reversePropertyName xmlns="http://www.opengis.net/gml/3.2">adv:istTeilVon</reversePropertyName>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="reverseRoleNAS">true</taggedValue>
              </appinfo>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <element abstract="true" name="AA_NREO" substitutionGroup="adv:AA_Objekt" type="adv:AA_NREOType"/>
  <complexType abstract="true" name="AA_NREOType">
    <complexContent>
      <extension base="adv:AA_ObjektType">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <element abstract="true" name="AU_ObjektMitUnabhaengigerGeometrie_3D" substitutionGroup="adv:AA_REO_3D" type="adv:AU_ObjektMitUnabhaengigerGeometrie_3DType"/>
  <complexType abstract="true" name="AU_ObjektMitUnabhaengigerGeometrie_3DType">
    <complexContent>
      <extension base="adv:AA_REO_3DType">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <element name="AA_Modellart" substitutionGroup="gml:AbstractObject" type="adv:AA_ModellartType"/>
  <complexType name="AA_ModellartType">
    <choice>
      <element name="advStandardModell" type="adv:AA_AdVStandardModellType"/>
      <element name="sonstigesModell" type="gml:CodeType"/>
    </choice>
  </complexType>
  <complexType name="AA_ModellartPropertyType">
    <sequence>
      <element ref="adv:AA_Modellart"/>
    </sequence>
  </complexType>
  <element name="AP_PTO" substitutionGroup="adv:AU_Punktobjekt" type="adv:AP_PTOType"/>
  <complexType name="AP_PTOType">
    <complexContent>
      <extension base="adv:AU_PunktobjektType">
        <sequence>
          <element minOccurs="0" name="schriftinhalt" type="string"/>
          <element default="0" name="fontSperrung" type="double"/>
          <element default="1" name="skalierung" type="double"/>
          <element default="zentrisch" name="horizontaleAusrichtung" type="adv:AP_HorizontaleAusrichtungType"/>
          <element default="Mitte" name="vertikaleAusrichtung" type="adv:AP_VertikaleAusrichtungType"/>
          <element minOccurs="0" name="signaturnummer" type="string"/>
          <element minOccurs="0" name="darstellungsprioritaet" type="integer"/>
          <element minOccurs="0" name="art" type="string"/>
          <element default="0" minOccurs="0" name="drehwinkel" type="gml:AngleType"/>
          <element minOccurs="0" name="hat" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">adv:AP_LPO</targetElement>
                <reversePropertyName xmlns="http://www.opengis.net/gml/3.2">adv:inversZu_hat_AP_PTO</reversePropertyName>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="dientZurDarstellungVon" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">adv:AA_Objekt</targetElement>
                <reversePropertyName xmlns="http://www.opengis.net/gml/3.2">adv:inversZu_dientZurDarstellungVon_AP_PTO</reversePropertyName>
              </appinfo>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <element name="GetCapabilities" substitutionGroup="ows:GetCapabilities" type="adv:GetCapabilitiesType"/>
  <complexType name="GetCapabilitiesType">
    <complexContent>
      <extension base="ows:GetCapabilitiesType">
        <sequence>
          <element fixed="NAS" name="service" type="string"/>
          <element minOccurs="0" name="profilkennung" type="string"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <element abstract="true" name="AU_MehrfachFlaechenObjekt_3D" substitutionGroup="adv:AU_ObjektMitUnabhaengigerGeometrie_3D" type="adv:AU_MehrfachFlaechenObjekt_3DType"/>
  <complexType abstract="true" name="AU_MehrfachFlaechenObjekt_3DType">
    <complexContent>
      <extension base="adv:AU_ObjektMitUnabhaengigerGeometrie_3DType">
        <sequence>
          <element name="position" type="gml:GeometryPropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <element name="AA_Empfaenger" substitutionGroup="gml:AbstractObject" type="adv:AA_EmpfaengerType"/>
  <complexType name="AA_EmpfaengerType">
    <choice>
      <element fixed="true" name="direkt" type="boolean"/>
      <element name="email" type="anyURI"/>
      <element name="http" type="anyURI"/>
      <element name="manuell" type="string"/>
    </choice>
  </complexType>
  <complexType name="AA_EmpfaengerPropertyType">
    <sequence>
      <element ref="adv:AA_Empfaenger"/>
    </sequence>
  </complexType>
  <element name="AA_Vorgang" substitutionGroup="adv:AA_NREO" type="adv:AA_VorgangType"/>
  <complexType name="AA_VorgangType">
    <complexContent>
      <extension base="adv:AA_NREOType">
        <sequence>
          <element minOccurs="0" name="erlaeuterung" type="string"/>
          <element name="bearbeitbarDurch" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">adv:AA_Benutzergruppe</targetElement>
                <reversePropertyName xmlns="http://www.opengis.net/gml/3.2">adv:inversZu_bearbeitbarDurch</reversePropertyName>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="enthaelt" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">adv:AA_Aktivitaet</targetElement>
                <reversePropertyName xmlns="http://www.opengis.net/gml/3.2">adv:inversZu_enthaelt</reversePropertyName>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="inversZu_enthaelt">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">adv:AA_Projektsteuerung</targetElement>
                <reversePropertyName xmlns="http://www.opengis.net/gml/3.2">adv:enthaelt</reversePropertyName>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="reverseRoleNAS">true</taggedValue>
              </appinfo>
            </annotation>
            <complexType>
              <complexContent>
                <extension base="gml:AbstractMemberType">
                  <sequence/>
                  <attributeGroup ref="gml:AssociationAttributeGroup"/>
                </extension>
              </complexContent>
            </complexType>
          </element>
          <element minOccurs="0" name="synchronisiertMit" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">adv:AA_Vorgang</targetElement>
                <reversePropertyName xmlns="http://www.opengis.net/gml/3.2">adv:inversZu_synchronisiertMit</reversePropertyName>
              </appinfo>
            </annotation>
          </element>
          <element name="status" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">adv:AA_Meilenstein</targetElement>
                <reversePropertyName xmlns="http://www.opengis.net/gml/3.2">adv:vonVorgang</reversePropertyName>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="inversZu_synchronisiertMit" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">adv:AA_Vorgang</targetElement>
                <reversePropertyName xmlns="http://www.opengis.net/gml/3.2">adv:synchronisiertMit</reversePropertyName>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="reverseRoleNAS">true</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="art" type="gml:CodeType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <element name="AA_Gebuehrenangaben" substitutionGroup="gml:AbstractObject" type="adv:AA_GebuehrenangabenType"/>
  <complexType name="AA_GebuehrenangabenType">
    <sequence>
      <element name="parameterArt" type="gml:CodeType"/>
      <element name="parameterWert" type="string"/>
    </sequence>
  </complexType>
  <complexType name="AA_GebuehrenangabenPropertyType">
    <sequence>
      <element ref="adv:AA_Gebuehrenangaben"/>
    </sequence>
  </complexType>
  <element name="AA_Projektsteuerung" substitutionGroup="adv:AA_NREO" type="adv:AA_ProjektsteuerungType"/>
  <complexType name="AA_ProjektsteuerungType">
    <complexContent>
      <extension base="adv:AA_NREOType">
        <sequence>
          <element maxOccurs="unbounded" name="anlassDesProzesses" type="gml:CodeType"/>
          <element minOccurs="0" name="gebuehren" type="adv:AA_GebuehrenangabenPropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="inversZu_verweistAuf" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">adv:AA_Antrag</targetElement>
                <reversePropertyName xmlns="http://www.opengis.net/gml/3.2">adv:verweistAuf</reversePropertyName>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="reverseRoleNAS">true</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" name="enthaelt" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">adv:AA_Vorgang</targetElement>
                <reversePropertyName xmlns="http://www.opengis.net/gml/3.2">adv:inversZu_enthaelt</reversePropertyName>
              </appinfo>
            </annotation>
          </element>
          <element name="art" type="gml:CodeType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <element name="AA_Koordinatenreferenzsystemangaben" substitutionGroup="gml:AbstractObject" type="adv:AA_KoordinatenreferenzsystemangabenType"/>
  <complexType name="AA_KoordinatenreferenzsystemangabenType">
    <sequence>
      <element name="crs" type="gml:CRSPropertyType"/>
      <element name="anzahlDerNachkommastellen" type="integer"/>
      <element name="standard" type="boolean"/>
    </sequence>
  </complexType>
  <complexType name="AA_KoordinatenreferenzsystemangabenPropertyType">
    <sequence>
      <element ref="adv:AA_Koordinatenreferenzsystemangaben"/>
    </sequence>
  </complexType>
  <element abstract="true" name="AU_MehrfachLinienObjekt_3D" substitutionGroup="adv:AU_ObjektMitUnabhaengigerGeometrie_3D" type="adv:AU_MehrfachLinienObjekt_3DType"/>
  <complexType abstract="true" name="AU_MehrfachLinienObjekt_3DType">
    <complexContent>
      <extension base="adv:AU_ObjektMitUnabhaengigerGeometrie_3DType">
        <sequence>
          <element name="position" type="gml:GeometryPropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <element name="AP_FPO" substitutionGroup="adv:AU_Flaechenobjekt" type="adv:AP_FPOType"/>
  <complexType name="AP_FPOType">
    <complexContent>
      <extension base="adv:AU_FlaechenobjektType">
        <sequence>
          <element minOccurs="0" name="signaturnummer" type="string"/>
          <element minOccurs="0" name="darstellungsprioritaet" type="integer"/>
          <element minOccurs="0" name="art" type="string"/>
          <element maxOccurs="unbounded" minOccurs="0" name="dientZurDarstellungVon" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">adv:AA_Objekt</targetElement>
                <reversePropertyName xmlns="http://www.opengis.net/gml/3.2">adv:inversZu_dientZurDarstellungVon_AP_FPO</reversePropertyName>
              </appinfo>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <element abstract="true" name="AA_Objekt" substitutionGroup="gml:AbstractFeature" type="adv:AA_ObjektType"/>
  <complexType abstract="true" name="AA_ObjektType">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence>
          <element name="lebenszeitintervall" type="adv:AA_LebenszeitintervallPropertyType"/>
          <element maxOccurs="unbounded" name="modellart" type="adv:AA_ModellartPropertyType"/>
          <element maxOccurs="2" minOccurs="0" name="anlass" type="gml:CodeType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="zeigtAufExternes" type="adv:AA_FachdatenverbindungPropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="istTeilVon">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">adv:AA_ZUSO</targetElement>
                <reversePropertyName xmlns="http://www.opengis.net/gml/3.2">adv:bestehtAus</reversePropertyName>
              </appinfo>
            </annotation>
            <complexType>
              <complexContent>
                <extension base="gml:AbstractMemberType">
                  <sequence/>
                  <attributeGroup ref="gml:AssociationAttributeGroup"/>
                </extension>
              </complexContent>
            </complexType>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="inversZu_dientZurDarstellungVon_AP_Darstellung" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">adv:AP_Darstellung</targetElement>
                <reversePropertyName xmlns="http://www.opengis.net/gml/3.2">adv:dientZurDarstellungVon</reversePropertyName>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="reverseRoleNAS">true</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="inversZu_dientZurDarstellungVon_AP_LTO" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">adv:AP_LTO</targetElement>
                <reversePropertyName xmlns="http://www.opengis.net/gml/3.2">adv:dientZurDarstellungVon</reversePropertyName>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="reverseRoleNAS">true</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="inversZu_dientZurDarstellungVon_AP_PTO" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">adv:AP_PTO</targetElement>
                <reversePropertyName xmlns="http://www.opengis.net/gml/3.2">adv:dientZurDarstellungVon</reversePropertyName>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="reverseRoleNAS">true</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="inversZu_dientZurDarstellungVon_AP_FPO" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">adv:AP_FPO</targetElement>
                <reversePropertyName xmlns="http://www.opengis.net/gml/3.2">adv:dientZurDarstellungVon</reversePropertyName>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="reverseRoleNAS">true</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="inversZu_dientZurDarstellungVon_AP_KPO_3D" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">adv:AP_KPO_3D</targetElement>
                <reversePropertyName xmlns="http://www.opengis.net/gml/3.2">adv:dientZurDarstellungVon</reversePropertyName>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="reverseRoleNAS">true</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="inversZu_dientZurDarstellungVon_AP_LPO" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">adv:AP_LPO</targetElement>
                <reversePropertyName xmlns="http://www.opengis.net/gml/3.2">adv:dientZurDarstellungVon</reversePropertyName>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="reverseRoleNAS">true</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="inversZu_dientZurDarstellungVon_AP_PPO" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">adv:AP_PPO</targetElement>
                <reversePropertyName xmlns="http://www.opengis.net/gml/3.2">adv:dientZurDarstellungVon</reversePropertyName>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="reverseRoleNAS">true</taggedValue>
              </appinfo>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <element abstract="true" name="AG_Objekt" substitutionGroup="adv:AG_ObjektMitGemeinsamerGeometrie" type="adv:AG_ObjektType"/>
  <complexType abstract="true" name="AG_ObjektType">
    <complexContent>
      <extension base="adv:AG_ObjektMitGemeinsamerGeometrieType">
        <sequence>
          <element name="position" type="gml:GeometryPropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <element name="AP_PPO" substitutionGroup="adv:AU_Punkthaufenobjekt" type="adv:AP_PPOType"/>
  <complexType name="AP_PPOType">
    <complexContent>
      <extension base="adv:AU_PunkthaufenobjektType">
        <sequence>
          <element minOccurs="0" name="signaturnummer" type="string"/>
          <element minOccurs="0" name="darstellungsprioritaet" type="integer"/>
          <element minOccurs="0" name="art" type="string"/>
          <element default="0" minOccurs="0" name="drehwinkel" type="gml:AngleType"/>
          <element default="1" minOccurs="0" name="skalierung" type="double"/>
          <element maxOccurs="unbounded" minOccurs="0" name="dientZurDarstellungVon" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">adv:AA_Objekt</targetElement>
                <reversePropertyName xmlns="http://www.opengis.net/gml/3.2">adv:inversZu_dientZurDarstellungVon_AP_PPO</reversePropertyName>
              </appinfo>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <element name="AP_LTO" substitutionGroup="adv:AU_KontinuierlichesLinienobjekt" type="adv:AP_LTOType"/>
  <complexType name="AP_LTOType">
    <complexContent>
      <extension base="adv:AU_KontinuierlichesLinienobjektType">
        <sequence>
          <element minOccurs="0" name="schriftinhalt" type="string"/>
          <element default="0" name="fontSperrung" type="double"/>
          <element default="1" name="skalierung" type="double"/>
          <element default="zentrisch" name="horizontaleAusrichtung" type="adv:AP_HorizontaleAusrichtungType"/>
          <element default="Mitte" name="vertikaleAusrichtung" type="adv:AP_VertikaleAusrichtungType"/>
          <element minOccurs="0" name="signaturnummer" type="string"/>
          <element minOccurs="0" name="darstellungsprioritaet" type="integer"/>
          <element minOccurs="0" name="art" type="string"/>
          <element minOccurs="0" name="hat" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">adv:AP_LPO</targetElement>
                <reversePropertyName xmlns="http://www.opengis.net/gml/3.2">adv:inversZu_hat_AP_LTO</reversePropertyName>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="dientZurDarstellungVon" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">adv:AA_Objekt</targetElement>
                <reversePropertyName xmlns="http://www.opengis.net/gml/3.2">adv:inversZu_dientZurDarstellungVon_AP_LTO</reversePropertyName>
              </appinfo>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <element abstract="true" name="AG_Linienobjekt" substitutionGroup="adv:AG_ObjektMitGemeinsamerGeometrie" type="adv:AG_LinienobjektType"/>
  <complexType abstract="true" name="AG_LinienobjektType">
    <complexContent>
      <extension base="adv:AG_ObjektMitGemeinsamerGeometrieType">
        <sequence>
          <element name="position">
            <complexType>
              <sequence>
                <element ref="gml:CompositeCurve"/>
              </sequence>
            </complexType>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <element name="AA_Bestandsdatenauszug" substitutionGroup="adv:AA_Ergebnis" type="adv:AA_BestandsdatenauszugType"/>
  <complexType name="AA_BestandsdatenauszugType">
    <complexContent>
      <extension base="adv:AA_ErgebnisType">
        <sequence>
          <element maxOccurs="unbounded" minOccurs="0" name="koordinatenangaben" type="adv:AA_KoordinatenreferenzsystemangabenPropertyType"/>
          <element minOccurs="0" name="enthaelt">
            <complexType>
              <complexContent>
                <extension base="gml:AbstractMemberType">
                  <sequence>
                    <element ref="wfs:FeatureCollection"/>
                  </sequence>
                </extension>
              </complexContent>
            </complexType>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
</schema>
