deegree-tools/deegree-tools-base/src/main/resources/META-INF/schema/xml/db2xml_mapping.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- ==================================================================

 This file is part of deegree.
 Copyright (C) 2001-2006 by:
 EXSE, Department of Geography, University of Bonn
 http://www.giub.uni-bonn.de/deegree/
 lat/lon GmbH
 http://www.lat-lon.de

 This library is free software; you can redistribute it and/or
 modify it under the terms of the GNU Lesser General Public
 License as published by the Free Software Foundation; either
 version 2.1 of the License, or (at your option) any later version.

 This library is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
 Lesser General Public License for more details.

 You should have received a copy of the GNU Lesser General Public
 License along with this library; if not, write to the Free Software
 Foundation, Inc., 59 Temple Place, Suite 330, Boston, MA  02111-1307  USA

 Contact:

 Andreas Poth
 lat/lon GmbH
 Aennchenstr. 19
 53177 Bonn
 Germany
 E-Mail: poth@lat-lon.de

 Prof. Dr. Klaus Greve
 Department of Geography
 University of Bonn
 Meckenheimer Allee 166
 53115 Bonn
 Germany
 E-Mail: greve@giub.uni-bonn.de
 
 =================================================================
 
@author <a href="mailto:poth@lat-lon.de">Andreas Poth </a>
 
@since 1.1

================================================================== -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:dor="http://www.deegree.org/xmlmapping" xmlns:jdbc="http://www.deegree.org/jdbc" targetNamespace="http://www.deegree.org/xmlmapping" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:import namespace="http://www.deegree.org/jdbc" schemaLocation="jdbc_connection.xsd"/>
	<xs:element name="XMLMapping" type="dor:XMLMappingType"/>
	<xs:complexType name="XMLMappingType">
		<xs:sequence>
			<xs:choice>
				<xs:element ref="jdbc:JDBCConnection"/>
				<xs:element name="JDBCID" type="xs:string"/>
			</xs:choice>
			<xs:element name="XSLT" type="xs:anyURI" minOccurs="0"/>
			<xs:element ref="dor:Table"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="Table" type="dor:TableType"/>
	<xs:complexType name="TableType">
		<xs:sequence>
			<xs:element name="ElementName" type="xs:string"/>
			<xs:element name="Select" type="xs:string"/>
			<xs:element name="GeometryColumn" type="dor:GeometryColumnType" minOccurs="0"/>
			<xs:element ref="dor:Table" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="GeometryColumnType">
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attribute name="crs" type="xs:string" use="required"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
</xs:schema>
