deegree-tools/deegree-tools-base/src/main/resources/META-INF/schema/xml/jdbc_connection.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- ==================================================================

 This file is part of deegree.
 Copyright (C) 2001-2006 by:
 EXSE, Department of Geography, University of Bonn
 http://www.giub.uni-bonn.de/deegree/
 lat/lon GmbH
 http://www.lat-lon.de

 This library is free software; you can redistribute it and/or
 modify it under the terms of the GNU Lesser General Public
 License as published by the Free Software Foundation; either
 version 2.1 of the License, or (at your option) any later version.

 This library is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
 Lesser General Public License for more details.

 You should have received a copy of the GNU Lesser General Public
 License along with this library; if not, write to the Free Software
 Foundation, Inc., 59 Temple Place, Suite 330, Boston, MA  02111-1307  USA

 Contact:

 Andreas Poth
 lat/lon GmbH
 Aennchenstr. 19
 53177 Bonn
 Germany
 E-Mail: poth@lat-lon.de

 Prof. Dr. Klaus Greve
 Department of Geography
 University of Bonn
 Meckenheimer Allee 166
 53115 Bonn
 Germany
 E-Mail: greve@giub.uni-bonn.de
 
 =================================================================
 
@author <a href="mailto:poth@lat-lon.de">Andreas Poth </a>
 
@since 1.1

================================================================== -->
<xs:schema targetNamespace="http://www.deegree.org/jdbc" xmlns:jdbc="http://www.deegree.org/jdbc" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:complexType name="JDBCConnectionType">
		<xs:annotation>
			<xs:documentation>
      For JDBC based Datastores only, contains the necessary connection information.
      </xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Driver" type="xs:string"/>
			<xs:element name="Url" type="xs:string"/>
			<xs:element name="User" type="xs:string" minOccurs="0"/>
			<xs:element name="Password" type="xs:string" minOccurs="0"/>
			<xs:element name="SecurityConstraints" minOccurs="0"/>
			<xs:element name="Encoding" minOccurs="0"/>
			<xs:element name="AliasPrefix" minOccurs="0"/>
			<xs:element name="SDEDatabase" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
                        Only applies to ArcSDE connections.
                    </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SDEVersion" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
                        Only applies to ArcSDE connections.
                    </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OracleWorkspace" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
          Name of the workspace to switch to on connect. Only applies to Oracle 10g. Default workspace is "LIVE".
          </xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="JDBCConnection" type="jdbc:JDBCConnectionType"/>
</xs:schema>
