deegree-demos/deegree-inspire-node/src/main/webapp/WEB-INF/workspace/datasources/feature/schemas/inspire/annex1/AirTransportNetwork.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:bui="urn:x-inspire:specification:gmlas:Buildings:0.0" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:net="urn:x-inspire:specification:gmlas:Network:3.2" xmlns:tn="urn:x-inspire:specification:gmlas:CommonTransportElements:3.0" xmlns:tn-a="urn:x-inspire:specification:gmlas:AirTransportNetwork:3.0" elementFormDefault="qualified" targetNamespace="urn:x-inspire:specification:gmlas:AirTransportNetwork:3.0" version="3.0">
  <annotation>
    <documentation>-- Definition --&#13;
This package defines the types that are used on the air transport subtheme.</documentation>
  </annotation>
  <import namespace="urn:x-inspire:specification:gmlas:Network:3.2" schemaLocation="Network.xsd"/>
  <import namespace="urn:x-inspire:specification:gmlas:CommonTransportElements:3.0" schemaLocation="CommonTransportElements.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <import namespace="urn:x-inspire:specification:gmlas:Buildings:0.0" schemaLocation="Buildings.xsd"/>
  <!--XML Schema document created by ShapeChange-->
  <element name="StandardInstrumentDeparture" substitutionGroup="tn-a:ProcedureLink" type="tn-a:StandardInstrumentDepartureType">
    <annotation>
      <documentation>-- Definition --&#13;
A designated instrument flight rule (IFR) departure route linking the aerodrome or a specific runway of the aerodrome with a specified significant point, normally on a designated ATS route, at which the en-route phase of a flight commences.&#13;
&#13;
-- Description --&#13;
SOURCE [AIXM5.0].&#13;
&#13;
NOTE 1 Acronym: SID.&#13;
&#13;
NOTE 2 It corresponds to the take-off phase. Each airport/heliport could have various SID linking the different runways to one or various significant points, usually connected to air routes.&#13;
</documentation>
    </annotation>
  </element>
  <complexType name="StandardInstrumentDepartureType">
    <complexContent>
      <extension base="tn-a:ProcedureLinkType">
        <sequence>
          <element name="designator" nillable="true">
            <annotation>
              <documentation>-- Definition --&#13;
The full textual designator of the Standard Instrument Departure.&#13;
&#13;
-- Description --&#13;
SOURCE [AIXM5.0]. &#13;
</documentation>
            </annotation>
            <complexType>
              <simpleContent>
                <extension base="string">
                  <attribute name="nilReason" type="gml:NilReasonType"/>
                </extension>
              </simpleContent>
            </complexType>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="StandardInstrumentDeparturePropertyType">
    <sequence minOccurs="0">
      <element ref="tn-a:StandardInstrumentDeparture"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="StandardInstrumentArrival" substitutionGroup="tn-a:ProcedureLink" type="tn-a:StandardInstrumentArrivalType">
    <annotation>
      <documentation>-- Definition --&#13;
A designated instrument flight rule (IFR) arrival route linking a significant point, normally on an ATS route, with a point from which a published instrument approach procedure can be commenced.&#13;
&#13;
-- Description --&#13;
SOURCE [AIXM5.0].&#13;
&#13;
NOTE 1 Acronym: STAR.&#13;
&#13;
NOTE 2 It corresponds to the initial approach during the landing phase. Each airport/heliport could have various STAR linking significant points (usually connected to air routes) to the points designated to start the landing on a specific runway.&#13;
</documentation>
    </annotation>
  </element>
  <complexType name="StandardInstrumentArrivalType">
    <complexContent>
      <extension base="tn-a:ProcedureLinkType">
        <sequence>
          <element name="designator" nillable="true">
            <annotation>
              <documentation>-- Definition --&#13;
The textual designator of the Standard Instrument Arrival.&#13;
&#13;
-- Description --&#13;
SOURCE [AIXM5.0].&#13;
</documentation>
            </annotation>
            <complexType>
              <simpleContent>
                <extension base="string">
                  <attribute name="nilReason" type="gml:NilReasonType"/>
                </extension>
              </simpleContent>
            </complexType>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="StandardInstrumentArrivalPropertyType">
    <sequence minOccurs="0">
      <element ref="tn-a:StandardInstrumentArrival"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="ApronArea" substitutionGroup="tn:TransportArea" type="tn-a:ApronAreaType">
    <annotation>
      <documentation>-- Definition --&#13;
A defined area, on a land aerodrome/heliport, intended to accommodate aircraft/helicopters for purposes of loading and unloading passengers, mail or cargo, and for fuelling, parking or maintenance.&#13;
&#13;
-- Description --&#13;
SOURCE [Apron - AIXM5.0].&#13;
</documentation>
    </annotation>
  </element>
  <complexType name="ApronAreaType">
    <complexContent>
      <extension base="tn:TransportAreaType">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="ApronAreaPropertyType">
    <sequence minOccurs="0">
      <element ref="tn-a:ApronArea"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="TaxiwayArea" substitutionGroup="tn:TransportArea" type="tn-a:TaxiwayAreaType">
    <annotation>
      <documentation>-- Definition --&#13;
A defined path at an aerodrome/heliport established for the taxiing of aircraft/helicopters and intended to provide a link between one part of the aerodrome and another.&#13;
&#13;
-- Description --&#13;
SOURCE [Taxiway - AIXM5.0].&#13;
&#13;
NOTE This includes aircraft/helicopter stand taxilines, apron taxiways, rapid exit taxiways, air taxiways etc.&#13;
</documentation>
    </annotation>
  </element>
  <complexType name="TaxiwayAreaType">
    <complexContent>
      <extension base="tn:TransportAreaType">
        <sequence>
          <element name="designator" nillable="true">
            <annotation>
              <documentation>-- Definition --&#13;
The textual designator of the taxiway.&#13;
&#13;
-- Description --&#13;
SOURCE [AIXM5.0].</documentation>
            </annotation>
            <complexType>
              <simpleContent>
                <extension base="string">
                  <attribute name="nilReason" type="gml:NilReasonType"/>
                </extension>
              </simpleContent>
            </complexType>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="TaxiwayAreaPropertyType">
    <sequence minOccurs="0">
      <element ref="tn-a:TaxiwayArea"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="AerodromeNode" substitutionGroup="tn-a:AirNode" type="tn-a:AerodromeNodeType">
    <annotation>
      <documentation>-- Definition --&#13;
Node located at the aerodrome reference point of an airport/heliport, which is used to represent it in a simplified way.&#13;
&#13;
DEFINITION Aerodrome Reference Point (ARP): The designated geographical location of an aerodrome, located near the initial or planned geometric centre of the aerodrome and normally remaining where originally established [AIXM3.3].&#13;
&#13;
DEFINITION Airport/heliport: A defined area on land or water (including any buildings, installations and equipment) intended to be used either wholly or in part for the arrival, departure and surface movement of aircraft/helicopters [AIXM5.0].&#13;
&#13;
-- Description --&#13;
SOURCE [AIXM5.0].&#13;
&#13;
&#13;
&#13;
&#13;
</documentation>
    </annotation>
  </element>
  <complexType name="AerodromeNodeType">
    <complexContent>
      <extension base="tn-a:AirNodeType">
        <sequence>
          <element name="designatorIATA" nillable="true">
            <annotation>
              <documentation>-- Definition --&#13;
The three letter IATA designator of the aerodrome (airport/heliport).&#13;
&#13;
-- Description --&#13;
SOURCE [AIXM5.0].&#13;
</documentation>
            </annotation>
            <complexType>
              <simpleContent>
                <extension base="string">
                  <attribute name="nilReason" type="gml:NilReasonType"/>
                </extension>
              </simpleContent>
            </complexType>
          </element>
          <element name="locationIndicatorICAO" nillable="true">
            <annotation>
              <documentation>-- Definition --&#13;
The four letter ICAO location indicator of the aerodrome (airport/heliport), as listed in ICAO DOC 7910.&#13;
&#13;
-- Description --&#13;
SOURCE [AIXM5.0].&#13;
</documentation>
            </annotation>
            <complexType>
              <simpleContent>
                <extension base="string">
                  <attribute name="nilReason" type="gml:NilReasonType"/>
                </extension>
              </simpleContent>
            </complexType>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="controlTowers" nillable="true" type="gml:ReferenceType">
            <annotation>
              <documentation>-- Definition --&#13;
The set of control towers belonging to an aerodrome (airport/heliport).</documentation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">bui:ControlTower</targetElement>
                <reversePropertyName xmlns="http://www.opengis.net/gml/3.2">bui:airportHeliport</reversePropertyName>
              </appinfo>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="AerodromeNodePropertyType">
    <sequence minOccurs="0">
      <element ref="tn-a:AerodromeNode"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="ProcedureLink" substitutionGroup="tn-a:AirLink" type="tn-a:ProcedureLinkType">
    <annotation>
      <documentation>-- Definition --&#13;
A series of predetermined manoeuvres with specified protection from obstacles.&#13;
&#13;
-- Description --&#13;
SOURCE [Procedure - AIXM5.0].&#13;
&#13;
NOTE 1 A defined airway connector designed for channelling the flow of traffic as necessary for the provision of air traffic services during the take-off or landing phase, which links an airport/heliport to a significant point, usually connected to one or more air routes.&#13;
&#13;
NOTE 2 When a airport/heliport is not connected with a standardized airway connector to the rest of the air network, this object can be used as a fictitious connector between the airport/heliport and a significant point on one or more ATS routes - for example for VFR (Visual Flight Rules) flights.&#13;
&#13;
NOTE 3 Nevertheless, three main types of standardized Procedures are usually defined for IFR (Instrument Flight Rules) flights:&#13;
- Standard Instrument Departure (SID), corresponding to the take-off phase.&#13;
- Standard Instrument Arrival (STAR), corresponding to the initial approach during the landing phase.&#13;
- Instrument Approach Procedure (IAP), corresponding to the final approach and arrival during the landing phase.&#13;
</documentation>
    </annotation>
  </element>
  <complexType name="ProcedureLinkType">
    <complexContent>
      <extension base="tn-a:AirLinkType">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="ProcedureLinkPropertyType">
    <sequence minOccurs="0">
      <element ref="tn-a:ProcedureLink"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="AirRouteLink" substitutionGroup="tn-a:AirLink" type="tn-a:AirRouteLinkType">
    <annotation>
      <documentation>-- Definition --&#13;
A portion of a route to be flown usually without an intermediate stop, as defined by two consecutive significant points.&#13;
&#13;
-- Description --&#13;
SOURCE [AirRouteSegment - AIXM5.0].&#13;
&#13;
NOTE The presence of air nodes (normally defining Significant Points) is not mandated.&#13;
</documentation>
    </annotation>
  </element>
  <complexType name="AirRouteLinkType">
    <complexContent>
      <extension base="tn-a:AirLinkType">
        <sequence>
          <element name="airRouteLinkClass" nillable="true">
            <annotation>
              <documentation>-- Definition --&#13;
The class or type of an air route link.&#13;
</documentation>
            </annotation>
            <complexType>
              <simpleContent>
                <extension base="gml:CodeType">
                  <attribute name="nilReason" type="gml:NilReasonType"/>
                </extension>
              </simpleContent>
            </complexType>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="AirRouteLinkPropertyType">
    <sequence minOccurs="0">
      <element ref="tn-a:AirRouteLink"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="LowerAltitudeLimit" substitutionGroup="tn:TransportProperty" type="tn-a:LowerAltitudeLimitType">
    <annotation>
      <documentation>-- Definition --&#13;
Altitude that defines the lower limit of an air transport network object.&#13;
&#13;
-- Description --&#13;
NOTE When applied to an AirRouteLink it corresponds to the Lowest Safe Altitude, which is defined in order to provide safety for navigation.&#13;
</documentation>
    </annotation>
  </element>
  <complexType name="LowerAltitudeLimitType">
    <complexContent>
      <extension base="tn:TransportPropertyType">
        <sequence>
          <element name="altitude" type="gml:MeasureType">
            <annotation>
              <documentation>-- Definition --&#13;
Value of the altitude limit.</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="LowerAltitudeLimitPropertyType">
    <sequence minOccurs="0">
      <element ref="tn-a:LowerAltitudeLimit"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="UseRestriction" substitutionGroup="tn:TransportProperty" type="tn-a:UseRestrictionType">
    <annotation>
      <documentation>-- Definition --&#13;
The restrictions to the use of an air network object.&#13;
</documentation>
    </annotation>
  </element>
  <complexType name="UseRestrictionType">
    <complexContent>
      <extension base="tn:TransportPropertyType">
        <sequence>
          <element name="restriction" type="gml:CodeType">
            <annotation>
              <documentation>-- Definition --&#13;
The type of use restriction for the air network object.</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="UseRestrictionPropertyType">
    <sequence minOccurs="0">
      <element ref="tn-a:UseRestriction"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element abstract="true" name="AirLink" substitutionGroup="tn:TransportLink" type="tn-a:AirLinkType">
    <annotation>
      <documentation>-- Definition --&#13;
A linear spatial object that describes the geometry and connectivity of the air network between two points in the network.</documentation>
    </annotation>
  </element>
  <complexType abstract="true" name="AirLinkType">
    <complexContent>
      <extension base="tn:TransportLinkType">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="AirLinkPropertyType">
    <sequence minOccurs="0">
      <element ref="tn-a:AirLink"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="AirRoute" substitutionGroup="tn:TransportLinkSet" type="tn-a:AirRouteType">
    <annotation>
      <documentation>-- Definition --&#13;
A specified route designed for channelling the flow of traffic as necessary for the provision of air traffic services, from the end of the take-off and initial climb phase to the commencement of the approach and landing phase.&#13;
&#13;
-- Description --&#13;
SOURCE [Route - AIXM5.0].&#13;
&#13;
NOTE A collection of air link sequences and or individual air links that are characterized by one or more thematic identifiers and /or properties, which perform a Route.&#13;
</documentation>
    </annotation>
  </element>
  <complexType name="AirRouteType">
    <complexContent>
      <extension base="tn:TransportLinkSetType">
        <sequence>
          <element name="airRouteType" nillable="true">
            <annotation>
              <documentation>-- Definition --&#13;
Route classification.&#13;
&#13;
-- Description --&#13;
SOURCE [AIXM5.0].&#13;
</documentation>
            </annotation>
            <complexType>
              <simpleContent>
                <extension base="gml:CodeType">
                  <attribute name="nilReason" type="gml:NilReasonType"/>
                </extension>
              </simpleContent>
            </complexType>
          </element>
          <element name="designator" nillable="true">
            <annotation>
              <documentation>-- Definition --&#13;
Code or designator that identifies an Air Route.</documentation>
            </annotation>
            <complexType>
              <simpleContent>
                <extension base="string">
                  <attribute name="nilReason" type="gml:NilReasonType"/>
                </extension>
              </simpleContent>
            </complexType>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="AirRoutePropertyType">
    <sequence minOccurs="0">
      <element ref="tn-a:AirRoute"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="Navaid" substitutionGroup="tn-a:AirNode" type="tn-a:NavaidType">
    <annotation>
      <documentation>-- Definition --&#13;
One or more Navaid Equipments providing navigation services.&#13;
&#13;
DEFINITION Navaid equipment: A physical navaid equipment like VOR, DME, localizer, TACAN or etc.&#13;
&#13;
-- Description --&#13;
SOURCE [AIXM5.0].&#13;
&#13;
NOTE 1 &#13;
The Navaid Equipment share business rules like paired frequencies [AIXM5.0].&#13;
</documentation>
    </annotation>
  </element>
  <complexType name="NavaidType">
    <complexContent>
      <extension base="tn-a:AirNodeType">
        <sequence>
          <element name="navaidType" nillable="true">
            <annotation>
              <documentation>-- Definition --&#13;
Type of the navaid service.&#13;
&#13;
-- Description --&#13;
SOURCE [AIXM5.0].&#13;
&#13;
EXAMPLES ILS, MLS, VORTAC, VOR/DME.&#13;
</documentation>
            </annotation>
            <complexType>
              <simpleContent>
                <extension base="gml:CodeType">
                  <attribute name="nilReason" type="gml:NilReasonType"/>
                </extension>
              </simpleContent>
            </complexType>
          </element>
          <element name="designator" nillable="true">
            <annotation>
              <documentation>-- Definition --&#13;
The coded identifier given to the navaid system.&#13;
&#13;
-- Description --&#13;
SOURCE [AIXM5.0].</documentation>
            </annotation>
            <complexType>
              <simpleContent>
                <extension base="string">
                  <attribute name="nilReason" type="gml:NilReasonType"/>
                </extension>
              </simpleContent>
            </complexType>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="NavaidPropertyType">
    <sequence minOccurs="0">
      <element ref="tn-a:Navaid"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="RunwayArea" substitutionGroup="tn:TransportArea" type="tn-a:RunwayAreaType">
    <annotation>
      <documentation>-- Definition --&#13;
A defined rectangular area on a land aerodrome/heliport prepared for the landing and take-off of aircraft.&#13;
&#13;
-- Description --&#13;
SOURCE [Runway - AIXM5.0].&#13;
&#13;
NOTE 1 This includes the concept of Final Approach and Take-Off Area (FATO) for helicopters [Runway - AIXM5.0].&#13;
&#13;
NOTE 2 The runway strip is a defined area including the runway and stopway, if provided, intended : a) to reduce the risk of damage to aircraft running off a runway; and b) to protect aircraft flying over it during take-off or landing operations [ICAO].&#13;
</documentation>
    </annotation>
  </element>
  <complexType name="RunwayAreaType">
    <complexContent>
      <extension base="tn:TransportAreaType">
        <sequence>
          <element name="designator" nillable="true">
            <annotation>
              <documentation>-- Definition --&#13;
The full textual designator of the runway, used to uniquely identify it at an aerodrome/heliport which has more than one.&#13;
&#13;
-- Description --&#13;
SOURCE [AIXM5.0].</documentation>
            </annotation>
            <complexType>
              <simpleContent>
                <extension base="string">
                  <attribute name="nilReason" type="gml:NilReasonType"/>
                </extension>
              </simpleContent>
            </complexType>
          </element>
          <element name="runwayType" nillable="true">
            <annotation>
              <documentation>-- Definition --&#13;
The type of runway, either runway for airplanes or final approach and take off area (FATO) for helicopters.&#13;
&#13;
-- Description --&#13;
SOURCE Adapted from [AIXM5.0].&#13;
</documentation>
            </annotation>
            <complexType>
              <simpleContent>
                <extension base="gml:CodeType">
                  <attribute name="nilReason" type="gml:NilReasonType"/>
                </extension>
              </simpleContent>
            </complexType>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="RunwayAreaPropertyType">
    <sequence minOccurs="0">
      <element ref="tn-a:RunwayArea"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="ElementLength" substitutionGroup="tn:TransportProperty" type="tn-a:ElementLengthType">
    <annotation>
      <documentation>-- Definition --&#13;
The physical length of the element.&#13;
</documentation>
    </annotation>
  </element>
  <complexType name="ElementLengthType">
    <complexContent>
      <extension base="tn:TransportPropertyType">
        <sequence>
          <element name="length" type="gml:MeasureType">
            <annotation>
              <documentation>-- Definition --&#13;
The physical length of the element.&#13;
&#13;
-- Description --&#13;
NOTE 1 The value of the physical length of the runway [AIXM5.0], when applied to RunwayArea.&#13;
&#13;
NOTE 2 Value for the length of the taxiway [AIXM5.0], when applied to TaxiwayArea.&#13;
&#13;
NOTE 3 The value of the physical length of the touchdown and lift-off area [AIXM5.0], when applied to TouchDownLiftOff.&#13;
</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="ElementLengthPropertyType">
    <sequence minOccurs="0">
      <element ref="tn-a:ElementLength"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="TouchDownLiftOff" substitutionGroup="tn-a:AirNode" type="tn-a:TouchDownLiftOffType">
    <annotation>
      <documentation>-- Definition --&#13;
A load bearing area on which a helicopter may touch down or lift-off.&#13;
&#13;
-- Description --&#13;
SOURCE [AIXM5.0]. &#13;
</documentation>
    </annotation>
  </element>
  <complexType name="TouchDownLiftOffType">
    <complexContent>
      <extension base="tn-a:AirNodeType">
        <sequence>
          <element name="designator" nillable="true">
            <annotation>
              <documentation>-- Definition --&#13;
The textual designator of the touch down and lift-off area.&#13;
&#13;
-- Description --&#13;
SOURCE [AIXM5.0].</documentation>
            </annotation>
            <complexType>
              <simpleContent>
                <extension base="string">
                  <attribute name="nilReason" type="gml:NilReasonType"/>
                </extension>
              </simpleContent>
            </complexType>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="TouchDownLiftOffPropertyType">
    <sequence minOccurs="0">
      <element ref="tn-a:TouchDownLiftOff"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="AerodromeArea" substitutionGroup="tn:TransportArea" type="tn-a:AerodromeAreaType">
    <annotation>
      <documentation>-- Definition --&#13;
A defined area on land or water (including any buildings, installations and equipment) intended to be used either wholly or in part for the arrival, departure and surface movement of aircraft and/or helicopters.&#13;
&#13;
-- Description --&#13;
SOURCE [AIXM5.0].&#13;
&#13;
NOTE An area spatial object which is used to represent the physical limits of all the facilities which form part of an inland aerodrome.&#13;
</documentation>
    </annotation>
  </element>
  <complexType name="AerodromeAreaType">
    <complexContent>
      <extension base="tn:TransportAreaType">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="AerodromeAreaPropertyType">
    <sequence minOccurs="0">
      <element ref="tn-a:AerodromeArea"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="FieldElevation" substitutionGroup="tn:TransportProperty" type="tn-a:FieldElevationType">
    <annotation>
      <documentation>-- Definition --&#13;
The aerodrome elevation as the vertical distance between the highest point of the landing area of an aerodrome and mean sea level. &#13;
&#13;
-- Description --&#13;
SOURCE [AIXM5.0].&#13;
&#13;
NOTE This might be different from the elevation of the Aerodrome Reference Point.&#13;
</documentation>
    </annotation>
  </element>
  <complexType name="FieldElevationType">
    <complexContent>
      <extension base="tn:TransportPropertyType">
        <sequence>
          <element name="altitude" type="gml:MeasureType">
            <annotation>
              <documentation>-- Definition --&#13;
Value of the field altitude.</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="FieldElevationPropertyType">
    <sequence minOccurs="0">
      <element ref="tn-a:FieldElevation"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="ElementWidth" substitutionGroup="tn:TransportProperty" type="tn-a:ElementWidthType">
    <annotation>
      <documentation>-- Definition --&#13;
The physical width of the element.&#13;
</documentation>
    </annotation>
  </element>
  <complexType name="ElementWidthType">
    <complexContent>
      <extension base="tn:TransportPropertyType">
        <sequence>
          <element name="width" type="gml:MeasureType">
            <annotation>
              <documentation>-- Definition --&#13;
The physical width of the element.&#13;
&#13;
-- Description --&#13;
NOTE 1 The value of the physical width of the runway [AIXM5.0], when applied to RunwayArea.&#13;
&#13;
NOTE 2 The value of the physical width of the taxiway [AIXM5.0], when applied to TaxiwayArea.&#13;
&#13;
NOTE 3 The value of the physical width of the touchdown and lift-off area [AIXM5.0], when applied to TouchDownLiftOff.&#13;
</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="ElementWidthPropertyType">
    <sequence minOccurs="0">
      <element ref="tn-a:ElementWidth"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="AirspaceArea" substitutionGroup="tn:TransportArea" type="tn-a:AirspaceAreaType">
    <annotation>
      <documentation>-- Definition --&#13;
A defined volume in the air, described as horizontal projection with vertical limits.&#13;
&#13;
-- Description --&#13;
SOURCE [AirspaceVolume - AIXM5.0].&#13;
&#13;
NOTE 1 Definition of Airspace: A defined three dimensional region of space relevant to air traffic [AIXM5.0].&#13;
&#13;
NOTE 2 Airspace regions are managed by air traffic control systems to provide a safe IFR (Instrument Flight Rules) navigation for air traffic services and aircrafts.&#13;
</documentation>
    </annotation>
  </element>
  <complexType name="AirspaceAreaType">
    <complexContent>
      <extension base="tn:TransportAreaType">
        <sequence>
          <element name="AirspaceAreaType" type="gml:CodeType">
            <annotation>
              <documentation>-- Definition --&#13;
A code indicating the general structure or characteristics of a particular airspace.&#13;
&#13;
-- Description --&#13;
SOURCE [Airspace.type - AIXM5.0].&#13;
</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="AirspaceAreaPropertyType">
    <sequence minOccurs="0">
      <element ref="tn-a:AirspaceArea"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="DesignatedPoint" substitutionGroup="tn-a:AirNode" type="tn-a:DesignatedPointType">
    <annotation>
      <documentation>-- Definition --&#13;
A geographical location not marked by the site of a radio navigation aid, used in defining an ATS route, the flight path of an aircraft or for other navigation or ATS purposes.&#13;
&#13;
-- Description --&#13;
SOURCE [AIXM5.0].&#13;
&#13;
NOTE Examples of Designated points are compulsory and non-compulsory reporting points.&#13;
</documentation>
    </annotation>
  </element>
  <complexType name="DesignatedPointType">
    <complexContent>
      <extension base="tn-a:AirNodeType">
        <sequence>
          <element name="designator" nillable="true">
            <annotation>
              <documentation>-- Definition --&#13;
The coded designator of the point. &#13;
&#13;
-- Description --&#13;
SOURCE [AIXM5.0].&#13;
&#13;
EXAMPLE The five-letter ICAO name of the point.&#13;
</documentation>
            </annotation>
            <complexType>
              <simpleContent>
                <extension base="string">
                  <attribute name="nilReason" type="gml:NilReasonType"/>
                </extension>
              </simpleContent>
            </complexType>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="DesignatedPointPropertyType">
    <sequence minOccurs="0">
      <element ref="tn-a:DesignatedPoint"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element abstract="true" name="AirNode" substitutionGroup="tn:TransportNode" type="tn-a:AirNodeType">
    <annotation>
      <documentation>-- Definition --&#13;
A node which occurs in a air network.</documentation>
    </annotation>
  </element>
  <complexType abstract="true" name="AirNodeType">
    <complexContent>
      <extension base="tn:TransportNodeType">
        <sequence>
          <element name="significantPoint" type="boolean">
            <annotation>
              <documentation>-- Definition --&#13;
Attribute which indicates whether the air node is or is not a significant point.&#13;
&#13;
DEFINITION Significant point: A specified geographical location used to define an ATS route, the flight path of an aircraft or for other navigation/ATS purposes [AIXM5.0].&#13;
&#13;
-- Description --&#13;
NOTE Significant Points are specific air nodes which normally define air routes.&#13;
</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="AirNodePropertyType">
    <sequence minOccurs="0">
      <element ref="tn-a:AirNode"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="SurfaceComposition" substitutionGroup="tn:TransportProperty" type="tn-a:SurfaceCompositionType">
    <annotation>
      <documentation>-- Definition --&#13;
The composition of an aerodrome/heliport related surface.&#13;
</documentation>
    </annotation>
  </element>
  <complexType name="SurfaceCompositionType">
    <complexContent>
      <extension base="tn:TransportPropertyType">
        <sequence>
          <element name="surfaceComposition" type="gml:CodeType">
            <annotation>
              <documentation>-- Definition --&#13;
A code indicating the composition of an aerodrome/heliport related surface. &#13;
&#13;
-- Description --&#13;
SOURCE [SurfaceCharacteristics.composition - AIXM5.0].&#13;
&#13;
EXAMPLES Asphalt, concrete.&#13;
</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="SurfaceCompositionPropertyType">
    <sequence minOccurs="0">
      <element ref="tn-a:SurfaceComposition"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="UpperAltitudeLimit" substitutionGroup="tn:TransportProperty" type="tn-a:UpperAltitudeLimitType">
    <annotation>
      <documentation>-- Definition --&#13;
Altitude that defines the upper limit of an air transport network object.&#13;
</documentation>
    </annotation>
  </element>
  <complexType name="UpperAltitudeLimitType">
    <complexContent>
      <extension base="tn:TransportPropertyType">
        <sequence>
          <element name="altitude" type="gml:MeasureType">
            <annotation>
              <documentation>-- Definition --&#13;
Value of the altitude limit.</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="UpperAltitudeLimitPropertyType">
    <sequence minOccurs="0">
      <element ref="tn-a:UpperAltitudeLimit"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="AirLinkSequence" substitutionGroup="tn:TransportLinkSequence" type="tn-a:AirLinkSequenceType">
    <annotation>
      <documentation>-- Definition --&#13;
A linear spatial object, composed of an ordered collection of air links, which represents a continuous path in the air network without any branches. &#13;
&#13;
-- Description --&#13;
NOTE 1 The element has a defined beginning and end and every position on the air link sequence is identifiable with one single parameter such as length. It describes an element of the air network, which could be characterized by one or more thematical identifiers and/or properties.&#13;
&#13;
NOTE 2 This collection of air links is equivalent to RoutePortion feature in AIXM5.0. RoutePortion: A group of two or more consecutive segments of the same route, which have the usage and/or the same flight restrictions [AIXM5.0].&#13;
</documentation>
    </annotation>
  </element>
  <complexType name="AirLinkSequenceType">
    <complexContent>
      <extension base="tn:TransportLinkSequenceType">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="AirLinkSequencePropertyType">
    <sequence minOccurs="0">
      <element ref="tn-a:AirLinkSequence"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="AerodromeType" substitutionGroup="tn:TransportProperty" type="tn-a:AerodromeTypeType">
    <annotation>
      <documentation>-- Definition --&#13;
A code specifying the type of aerodrome.&#13;
&#13;
-- Description --&#13;
SOURCE [AIXM5.0].&#13;
&#13;
EXAMPLE Aerodrome only, combined aerodrome/heliport or simple landing site.&#13;
</documentation>
    </annotation>
  </element>
  <complexType name="AerodromeTypeType">
    <complexContent>
      <extension base="tn:TransportPropertyType">
        <sequence>
          <element name="aerodromeType" type="gml:CodeType">
            <annotation>
              <documentation>-- Definition --&#13;
The type of aerodrome.&#13;
</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="AerodromeTypePropertyType">
    <sequence minOccurs="0">
      <element ref="tn-a:AerodromeType"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="ConditionOfAirFacility" substitutionGroup="tn:ConditionOfFacility" type="tn-a:ConditionOfAirFacilityType">
    <annotation>
      <documentation>-- Definition --&#13;
State of an air transport network element with regards to its completion and use.&#13;
</documentation>
    </annotation>
  </element>
  <complexType name="ConditionOfAirFacilityType">
    <complexContent>
      <extension base="tn:ConditionOfFacilityType">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="ConditionOfAirFacilityPropertyType">
    <sequence minOccurs="0">
      <element ref="tn-a:ConditionOfAirFacility"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="RunwayCentrelinePoint" substitutionGroup="tn-a:AirNode" type="tn-a:RunwayCentrelinePointType">
    <annotation>
      <documentation>-- Definition --&#13;
An operationally significant position on the center line of a runway direction.&#13;
&#13;
-- Description --&#13;
SOURCE [AIXM5.0].&#13;
&#13;
NOTE 1 The role of the point along the runway direction centreline is indicated within the pointRole attribute. &#13;
&#13;
NOTE 2 Runway centreline points are used to connect the Procedure Links that connect an airport/heliport to the rest of the air network.&#13;
&#13;
EXAMPLE A typical example is the runway threshold [AIXM5.0].&#13;
</documentation>
    </annotation>
  </element>
  <complexType name="RunwayCentrelinePointType">
    <complexContent>
      <extension base="tn-a:AirNodeType">
        <sequence>
          <element name="pointRole" type="gml:CodeType">
            <annotation>
              <documentation>-- Definition --&#13;
The role of the point along the runway direction centreline.&#13;
&#13;
-- Description --&#13;
SOURCE [AIXM5.0].</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="RunwayCentrelinePointPropertyType">
    <sequence minOccurs="0">
      <element ref="tn-a:RunwayCentrelinePoint"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="InstrumentApproachProcedure" substitutionGroup="tn-a:ProcedureLink" type="tn-a:InstrumentApproachProcedureType">
    <annotation>
      <documentation>-- Definition --&#13;
A series of predetermined manoeuvres by reference to flight instruments with specified protection from obstacles from the initial approach fix, or where applicable, from the beginning of a defined arrival route to a point from which a landing can be completed and thereafter, if a landing is not completed, to a position at which holding or en route obstacle clearance criteria apply.&#13;
&#13;
-- Description --&#13;
SOURCE  [AIXM5.0].&#13;
&#13;
NOTE 1 Acronym: IAP.&#13;
&#13;
NOTE 2 It corresponds to the final approach and arrival during the landing phase. &#13;
&#13;
NOTE 3 A specific runway of an airport/heliport usually has more than one IAP, depending on the landing direction on it.&#13;
</documentation>
    </annotation>
  </element>
  <complexType name="InstrumentApproachProcedureType">
    <complexContent>
      <extension base="tn-a:ProcedureLinkType">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="InstrumentApproachProcedurePropertyType">
    <sequence minOccurs="0">
      <element ref="tn-a:InstrumentApproachProcedure"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="AerodromeCategory" substitutionGroup="tn:TransportProperty" type="tn-a:AerodromeCategoryType">
    <annotation>
      <documentation>-- Definition --&#13;
Aerodrome category concerning the scope and importance of the air traffic services offered from and to it.&#13;
</documentation>
    </annotation>
  </element>
  <complexType name="AerodromeCategoryType">
    <complexContent>
      <extension base="tn:TransportPropertyType">
        <sequence>
          <element name="aerodromeCategory" type="gml:CodeType">
            <annotation>
              <documentation>-- Definition --&#13;
Value which indicates the category of an aerodrome.</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="AerodromeCategoryPropertyType">
    <sequence minOccurs="0">
      <element ref="tn-a:AerodromeCategory"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
</schema>
