deegree-demos/deegree-inspire-node/src/main/webapp/WEB-INF/workspace/datasources/feature/schemas/inspire/annex1/ProtectedSitesFull.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:base="urn:x-inspire:specification:gmlas:BaseTypes:3.2" xmlns:bgr="urn:x-inspire:specification:gmlas:BiogeographicalRegions:0.0" xmlns:bui="urn:x-inspire:specification:gmlas:Buildings:0.0" xmlns:gmd="http://www.isotc211.org/2005/gmd" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:hb="urn:x-inspire:specification:gmlas:HabitatsAndBiotopes:0.0" xmlns:net="urn:x-inspire:specification:gmlas:Network:3.2" xmlns:ps="urn:x-inspire:specification:gmlas:ProtectedSites:3.0" xmlns:ps-f="urn:x-inspire:specification:gmlas:ProtectedSitesFull:3.0" xmlns:sd="urn:x-inspire:specification:gmlas:SpeciesDistribution:0.0" elementFormDefault="qualified" targetNamespace="urn:x-inspire:specification:gmlas:ProtectedSitesFull:3.0" version="3.0">
  <import namespace="urn:x-inspire:specification:gmlas:Buildings:0.0" schemaLocation="Buildings.xsd"/>
  <import namespace="urn:x-inspire:specification:gmlas:ProtectedSites:3.0" schemaLocation="ProtectedSites.xsd"/>
  <import namespace="urn:x-inspire:specification:gmlas:BaseTypes:3.2" schemaLocation="BaseTypes.xsd"/>
  <import namespace="urn:x-inspire:specification:gmlas:SpeciesDistribution:0.0" schemaLocation="SpeciesDistribution.xsd"/>
  <import namespace="urn:x-inspire:specification:gmlas:HabitatsAndBiotopes:0.0" schemaLocation="HabitatsAndBiotopes.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <import namespace="http://www.isotc211.org/2005/gmd" schemaLocation="http://schemas.opengis.net/iso/19139/20070417/gmd/gmd.xsd"/>
  <import namespace="urn:x-inspire:specification:gmlas:Network:3.2" schemaLocation="Network.xsd"/>
  <import namespace="urn:x-inspire:specification:gmlas:BiogeographicalRegions:0.0" schemaLocation="BiogeographicalRegions.xsd"/>
  <!--XML Schema document created by ShapeChange-->
  <element name="FundingSourceType" substitutionGroup="gml:AbstractObject" type="ps-f:FundingSourceTypeType">
    <annotation>
      <documentation>-- Definition --&#13;
The source(s) of financial support that are being used to implement the management plan on a protected site.&#13;
&#13;
-- Description --&#13;
NOTE Funding of management on protected sites is critical to securing desired conservation status. The resources are supplied from a variety of sources, ranging from private land owners to European funding schemes. &#13;
</documentation>
    </annotation>
  </element>
  <complexType name="FundingSourceTypeType">
    <sequence>
      <element minOccurs="0" name="projectName" nillable="true" type="gmd:LocalisedCharacterString_PropertyType">
        <annotation>
          <documentation>-- Definition --&#13;
The name and reference to the project that funds management of the Protected Site.</documentation>
        </annotation>
      </element>
      <element name="fundingType" type="gml:CodeType">
        <annotation>
          <documentation>-- Definition --&#13;
The funding type.&#13;
</documentation>
        </annotation>
      </element>
    </sequence>
  </complexType>
  <complexType name="FundingSourceTypePropertyType">
    <sequence>
      <element ref="ps-f:FundingSourceType"/>
    </sequence>
  </complexType>
  <simpleType name="GlobalAssessmentValueType">
    <annotation>
      <documentation>-- Definition --&#13;
A code indicating the global value of the site for conservation purposes.</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="excellent">
        <annotation>
          <documentation>-- Definition --&#13;
The Site has excellent value for conservation of the habitat concerned in global terms.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="good">
        <annotation>
          <documentation>-- Definition --&#13;
The Site has good value for conservation of the habitat concerned in global terms.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="significant">
        <annotation>
          <documentation>-- Definition --&#13;
The Site has significant value for conservation of the habitat concerned in global terms.</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="NatureOfInfluenceValueType">
    <annotation>
      <documentation>-- Definition --&#13;
A code indicating the nature of the influence of activities in and around the site.</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="+">
        <annotation>
          <documentation>-- Definition --&#13;
The Protected Site is positively influenced by impacts or activities in and around the site.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="0">
        <annotation>
          <documentation>-- Definition --&#13;
The Protected Site is neutrally influenced by impacts or activities in and around the site.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="-">
        <annotation>
          <documentation>-- Definition --&#13;
The Protected Site is negatively influenced by impacts or activities in and around the site.</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <element name="PresentHabitatType" substitutionGroup="gml:AbstractObject" type="ps-f:PresentHabitatTypeType">
    <annotation>
      <documentation>-- Definition --&#13;
A habitat that exists on the Protected Site.&#13;
&#13;
-- Description --&#13;
NOTE This is distinct from the Habitats for which the Site is protected (see ProtectedEntityType).&#13;
</documentation>
    </annotation>
  </element>
  <complexType name="PresentHabitatTypeType">
    <sequence>
      <element minOccurs="0" name="percentageUnderHabitat" nillable="true">
        <annotation>
          <documentation>-- Definition --&#13;
The percentage of the total protected site that is covered by the Habitat.&#13;
&#13;
-- Description --&#13;
NOTE This may include part or all of the specified Habitat. The percentages for all the habitats present on a protected site should add up to 100%.&#13;
</documentation>
        </annotation>
        <complexType>
          <simpleContent>
            <extension base="anyURI">
              <attribute name="nilReason" type="gml:NilReasonType"/>
            </extension>
          </simpleContent>
        </complexType>
      </element>
      <element name="hasHabitat" type="gml:ReferenceType">
        <annotation>
          <documentation>-- Definition --&#13;
The relationship between a protected site and a habitat that exists on that Site.</documentation>
          <appinfo>
            <targetElement xmlns="http://www.opengis.net/gml/3.2">hb:Habitat</targetElement>
          </appinfo>
        </annotation>
      </element>
    </sequence>
  </complexType>
  <complexType name="PresentHabitatTypePropertyType">
    <sequence>
      <element ref="ps-f:PresentHabitatType"/>
    </sequence>
  </complexType>
  <element name="ProtectedEntityType" substitutionGroup="gml:AbstractObject" type="ps-f:ProtectedEntityTypeType">
    <annotation>
      <documentation>-- Definition --&#13;
An entity that is protected by a designated protected site (that is, the object or reason for protection).&#13;
&#13;
-- Description --&#13;
EXAMPLE Such entities may include habitats, species and geological, archaeological, cultural and other types of entities.&#13;
</documentation>
    </annotation>
  </element>
  <complexType name="ProtectedEntityTypeType">
    <sequence>
      <element minOccurs="0" name="globalAssessment" nillable="true">
        <annotation>
          <documentation>-- Definition --&#13;
The value of the Site for conservation of the protected entity (species, habitat, etc) concerned.&#13;
</documentation>
        </annotation>
        <complexType>
          <simpleContent>
            <extension base="ps-f:GlobalAssessmentValueType">
              <attribute name="nilReason" type="gml:NilReasonType"/>
            </extension>
          </simpleContent>
        </complexType>
      </element>
      <element minOccurs="0" name="percentageOfSiteCoveredByProtectedEntity" nillable="true">
        <annotation>
          <documentation>-- Definition --&#13;
The percentage of the total area of the protected site that is covered by the protected entity (habitat, species, etc).&#13;
&#13;
-- Description --&#13;
NOTE Protected entities may not cover the entire protected site, so these percentages may not add up to 100 for a given site.&#13;
</documentation>
        </annotation>
        <complexType>
          <simpleContent>
            <extension base="anyURI">
              <attribute name="nilReason" type="gml:NilReasonType"/>
            </extension>
          </simpleContent>
        </complexType>
      </element>
      <element minOccurs="0" name="percentageOfNationalTerritoryUnderProtectedEntity" nillable="true">
        <annotation>
          <documentation>-- Definition --&#13;
The percentage of the total occurrence of the protected entity in the national territory that appears on the Protected Site.</documentation>
        </annotation>
        <complexType>
          <simpleContent>
            <extension base="anyURI">
              <attribute name="nilReason" type="gml:NilReasonType"/>
            </extension>
          </simpleContent>
        </complexType>
      </element>
      <element maxOccurs="unbounded" minOccurs="0" name="isASpeciesDistribution" nillable="true" type="gml:ReferenceType">
        <annotation>
          <documentation>-- Definition --&#13;
The role of a Species Distribution as a protected entity.</documentation>
          <appinfo>
            <targetElement xmlns="http://www.opengis.net/gml/3.2">sd:SpeciesDistribution</targetElement>
          </appinfo>
        </annotation>
      </element>
      <element maxOccurs="unbounded" minOccurs="0" name="isAHabitat" nillable="true" type="gml:ReferenceType">
        <annotation>
          <documentation>-- Definition --&#13;
The role of a Habitat as a protected entity</documentation>
          <appinfo>
            <targetElement xmlns="http://www.opengis.net/gml/3.2">hb:Habitat</targetElement>
          </appinfo>
        </annotation>
      </element>
      <element maxOccurs="unbounded" minOccurs="0" name="isABuilding" nillable="true" type="gml:ReferenceType">
        <annotation>
          <documentation>-- Definition --&#13;
The role of a building as a protected entity.</documentation>
          <appinfo>
            <targetElement xmlns="http://www.opengis.net/gml/3.2">bui:Building</targetElement>
          </appinfo>
        </annotation>
      </element>
    </sequence>
  </complexType>
  <complexType name="ProtectedEntityTypePropertyType">
    <sequence>
      <element ref="ps-f:ProtectedEntityType"/>
    </sequence>
  </complexType>
  <simpleType name="ActivityIntensityValueType">
    <annotation>
      <documentation>-- Definition --&#13;
A code indicating the level of intensity of the influence of the activities in and around the site.</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="high">
        <annotation>
          <documentation>-- Definition --&#13;
The impacts and activities carried out on and around the Protected Site have a high intensity of influence.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="medium">
        <annotation>
          <documentation>-- Definition --&#13;
The impacts and activities carried out on and around the Protected Site have a medium intensity of influence.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="low">
        <annotation>
          <documentation>-- Definition --&#13;
The impacts and activities carried out on and around the Protected Site have a low intensity of influence.</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <element name="ProtectedSite" substitutionGroup="ps:ProtectedSite" type="ps-f:ProtectedSiteType">
    <annotation>
      <documentation>-- Definition --&#13;
An area designated or managed within a framework of international, Community and Member States' legislation to achieve specific conservation objectives.&#13;
&#13;
-- Description --&#13;
Each protected site has a boundary defined through formal, legal or administrative agreements or decisions. The establishment of a protected site is normally underpinned by legislation and thus given weight in decisions about land use change and spatial planning. Each Site is normally selected as a representative example of a wider resource and selected through a formal criterion based approach. A protected site can be a contiguous extent of land/sea or a collection of discrete areas that together represent a single formal Protected Site.  This class has the attributes, constraints and associations that are part of the Full application schema.&#13;
</documentation>
    </annotation>
  </element>
  <complexType name="ProtectedSiteType">
    <complexContent>
      <extension base="ps:ProtectedSiteType">
        <sequence>
          <element maxOccurs="unbounded" minOccurs="0" name="siteIdentifier" nillable="true">
            <annotation>
              <documentation>-- Definition --&#13;
The identifier for the Site using some national or international identification scheme.&#13;
&#13;
-- Description --&#13;
This is distinct from the inspireID, which is a unique identifier for the record.&#13;
</documentation>
            </annotation>
            <complexType>
              <sequence>
                <element ref="ps-f:SiteIdentifierType"/>
              </sequence>
              <attribute name="nilReason" type="gml:NilReasonType"/>
            </complexType>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="activitiesAndImpacts" nillable="true">
            <annotation>
              <documentation>-- Definition --&#13;
Impacts resulting from human activities or natural processes that positively or negatively affect the conservation status of the protected site.&#13;
&#13;
-- Description --&#13;
This information is needed to inform evaluation of conservation status of a Protected Site. This includes management activities such as grazing or cutting, land uses such as mineral extraction or transport and natural processes such as disease fluvial erosion.&#13;
</documentation>
            </annotation>
            <complexType>
              <sequence>
                <element ref="ps-f:ActivitiesAndImpactsType"/>
              </sequence>
              <attribute name="nilReason" type="gml:NilReasonType"/>
            </complexType>
          </element>
          <element minOccurs="0" name="spatialResolution" nillable="true">
            <annotation>
              <documentation>-- Definition --&#13;
The spatial resolution of the protected site geometry. This may relate to a scale of capture value.</documentation>
            </annotation>
            <complexType>
              <complexContent>
                <extension base="gml:AbstractMetadataPropertyType">
                  <sequence>
                    <element ref="gmd:MD_Resolution"/>
                  </sequence>
                  <attribute name="nilReason" type="gml:NilReasonType"/>
                </extension>
              </complexContent>
            </complexType>
          </element>
          <element minOccurs="0" name="siteDescription" nillable="true" type="gmd:LocalisedCharacterString_PropertyType">
            <annotation>
              <documentation>-- Definition --&#13;
A general description of the Site and its characteristics.&#13;
&#13;
-- Description --&#13;
NOTE This attribute corresponds to item 4.1 of the Natura2000 SDF.&#13;
</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="qualityAndImportance" nillable="true" type="gmd:LocalisedCharacterString_PropertyType">
            <annotation>
              <documentation>-- Definition --&#13;
An overall indication of the quality and importance of the Site, in view of the conservation objectives of the various Directives.&#13;
&#13;
-- Description --&#13;
NOTE This attribute corresponds to item 4.2 of the Natura2000 SDF.&#13;
</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="vulnerability" nillable="true" type="gmd:LocalisedCharacterString_PropertyType">
            <annotation>
              <documentation>-- Definition --&#13;
The nature and extent of pressures on the Site from human and other influences and the fragility of habitats and ecosystems found there.&#13;
&#13;
-- Description --&#13;
NOTE This attribute corresponds to item 4.3 of the Natura2000 SDF.&#13;
</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="ownership" nillable="true" type="gmd:LocalisedCharacterString_PropertyType">
            <annotation>
              <documentation>-- Definition --&#13;
A general description of the site ownership.&#13;
&#13;
-- Description --&#13;
NOTE This attribute corresponds to item 4.5 of the Natura2000 SDF.&#13;
&#13;
EXAMPLES Private, State, conservation NGO.&#13;
</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="documentation" nillable="true" type="gmd:LocalisedCharacterString_PropertyType">
            <annotation>
              <documentation>-- Definition --&#13;
References to publications and scientific data concerning the Protected Site.&#13;
&#13;
-- Description --&#13;
NOTE 1 This attribute corresponds to item 4.6 of the Natura2000 SDF.&#13;
&#13;
NOTE 2 Information entered should be made according to standard conventions for scientific references. Unpublished items or communications referring to the information given in the recording form should be included where ever useful.&#13;
</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="legalExpiryDate" nillable="true">
            <annotation>
              <documentation>-- Definition --&#13;
The date that the protected site was legally destroyed. This is the date that the real world object was destroyed, not the date that its representation in an information system was destroyed or changed.&#13;
</documentation>
            </annotation>
            <complexType>
              <simpleContent>
                <extension base="dateTime">
                  <attribute name="nilReason" type="gml:NilReasonType"/>
                </extension>
              </simpleContent>
            </complexType>
          </element>
          <element name="beginLifespanVersion" nillable="true">
            <annotation>
              <documentation>-- Definition --&#13;
Date and time at which this version of the spatial object was inserted or changed in the spatial data set.&#13;
&#13;
-- Description --&#13;
NOTE This date is recorded to enable the generation of change only update files.&#13;
</documentation>
            </annotation>
            <complexType>
              <simpleContent>
                <extension base="dateTime">
                  <attribute name="nilReason" type="gml:NilReasonType"/>
                </extension>
              </simpleContent>
            </complexType>
          </element>
          <element minOccurs="0" name="endLifespanVersion" nillable="true">
            <annotation>
              <documentation>-- Definition --&#13;
Date and time at which this version of the spatial object was superseded or retired in the spatial data set.&#13;
&#13;
-- Description --&#13;
NOTE This date is recorded primarily for those systems which "close" an entry in the spatial data set in the event of an attribute change.&#13;
</documentation>
            </annotation>
            <complexType>
              <simpleContent>
                <extension base="dateTime">
                  <attribute name="nilReason" type="gml:NilReasonType"/>
                </extension>
              </simpleContent>
            </complexType>
          </element>
          <element minOccurs="0" name="dataSource" nillable="true">
            <annotation>
              <documentation>-- Definition --&#13;
The agency or organisation that is responsible for maintaining and providing the data about the Protected Site. This may be represented in the form of the URL or name and address of the organisation.</documentation>
            </annotation>
            <complexType>
              <simpleContent>
                <extension base="string">
                  <attribute name="nilReason" type="gml:NilReasonType"/>
                </extension>
              </simpleContent>
            </complexType>
          </element>
          <element minOccurs="0" name="officialsiteArea" nillable="true">
            <annotation>
              <documentation>-- Definition --&#13;
The official area of the site in hectares. This may not the same as area calculated from the geometry.&#13;
</documentation>
            </annotation>
            <complexType>
              <complexContent>
                <extension base="gml:AbstractMemberType">
                  <sequence minOccurs="0">
                    <element ref="net:NetworkArea"/>
                  </sequence>
                  <attributeGroup ref="gml:AssociationAttributeGroup"/>
                </extension>
              </complexContent>
            </complexType>
          </element>
          <element minOccurs="0" name="siteLength" nillable="true">
            <annotation>
              <documentation>-- Definition --&#13;
The length of the site, normally used if the area is not populated.</documentation>
            </annotation>
            <complexType>
              <simpleContent>
                <extension base="gml:LengthType">
                  <attribute name="nilReason" type="gml:NilReasonType"/>
                </extension>
              </simpleContent>
            </complexType>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="fundingSource" nillable="true">
            <annotation>
              <documentation>-- Definition --&#13;
The source(s) of financial support that are being used to implement the management plan on a Protected Site.&#13;
&#13;
-- Description --&#13;
NOTE Funding of management on Protected Sites is critical to securing desired conservation status. The resources are supplied from a variety of sources, ranging from private land owners to European funding schemes. &#13;
</documentation>
            </annotation>
            <complexType>
              <sequence>
                <element ref="ps-f:FundingSourceType"/>
              </sequence>
              <attribute name="nilReason" type="gml:NilReasonType"/>
            </complexType>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="siteManagementPlan" nillable="true">
            <annotation>
              <documentation>-- Definition --&#13;
The Site Management Plans that set out practical actions and measures that are needed to ensure that the features for which the site is designated are maintained.</documentation>
            </annotation>
            <complexType>
              <sequence>
                <element ref="ps-f:SiteManagementPlanType"/>
              </sequence>
              <attribute name="nilReason" type="gml:NilReasonType"/>
            </complexType>
          </element>
          <element minOccurs="0" name="natura2000Respondent" nillable="true">
            <annotation>
              <documentation>-- Definition --&#13;
The person responsible for completing Natura2000 reporting on the Site.&#13;
&#13;
-- Description --&#13;
NOTE This is likely to be a person from the ResponsibeAgency, but may not be.&#13;
</documentation>
            </annotation>
            <complexType>
              <complexContent>
                <extension base="gml:AbstractMetadataPropertyType">
                  <sequence>
                    <element ref="gmd:CI_ResponsibleParty"/>
                  </sequence>
                  <attribute name="nilReason" type="gml:NilReasonType"/>
                </extension>
              </complexContent>
            </complexType>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="protectedEntity" nillable="true">
            <annotation>
              <documentation>-- Definition --&#13;
An entity that is protected by a designated protected site (that is, the object or reason for protection).&#13;
&#13;
-- Description --&#13;
EXAMPLE Such entities may include habitats, species and geological, archaeological, cultural and other types of entities.&#13;
</documentation>
            </annotation>
            <complexType>
              <sequence>
                <element ref="ps-f:ProtectedEntityType"/>
              </sequence>
              <attribute name="nilReason" type="gml:NilReasonType"/>
            </complexType>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="presentHabitat" nillable="true">
            <annotation>
              <documentation>-- Definition --&#13;
A habitat that exists on the Site.&#13;
&#13;
-- Description --&#13;
NOTE This is distinct from the Habitats for which the Site is protected. These are represented in the protectedEntity attribute.&#13;
</documentation>
            </annotation>
            <complexType>
              <sequence>
                <element ref="ps-f:PresentHabitatType"/>
              </sequence>
              <attribute name="nilReason" type="gml:NilReasonType"/>
            </complexType>
          </element>
          <element minOccurs="0" name="timePeriod" nillable="true" type="gml:TimeOrdinalEraPropertyType">
            <annotation>
              <documentation>-- Definition --&#13;
For historical or archaeological Sites, the era in which the Site is thought to originate.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="isASpeciesAggregationUnit" nillable="true" type="gml:ReferenceType">
            <annotation>
              <documentation>-- Definition --&#13;
A link to the SpeciesAggregationUnit feature type that represents the generic aspects of different types of units over which species may be distributed.</documentation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">sd:SpeciesAggregationUnit</targetElement>
                <reversePropertyName xmlns="http://www.opengis.net/gml/3.2">sd:isAggregatedOver</reversePropertyName>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="isInRegion" type="gml:ReferenceType">
            <annotation>
              <documentation>-- Definition --&#13;
The bio-geographical region to which a Protected Site is assigned.&#13;
&#13;
-- Description --&#13;
Although Protected Sites may exist across the boundary of more than one biogeographical region, it is usually assigned to one region for Natura2000 purposes.  If this is the case, this attribute is used to indicate the officially assigned biogeographical region used by the Member State.</documentation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">bgr:Bio-GeographicalRegion</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="isManagedBy" type="gml:ReferenceType">
            <annotation>
              <documentation>-- Definition --&#13;
The Agency that is responsible (either entirely or in combination with other agencies) for the management of the Protected Site.</documentation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">ps-f:ResponsibleAgency</targetElement>
              </appinfo>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="ProtectedSitePropertyType">
    <sequence minOccurs="0">
      <element ref="ps-f:ProtectedSite"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="SiteManagementPlanType" substitutionGroup="gml:AbstractObject" type="ps-f:SiteManagementPlanTypeType">
    <annotation>
      <documentation>-- Definition --&#13;
Site Management Plans are descriptions that set out practical actions and measures that are needed to ensure that the features for which the site is designated are maintained.</documentation>
    </annotation>
  </element>
  <complexType name="SiteManagementPlanTypeType">
    <sequence>
      <element name="siteManagementPlanReference">
        <annotation>
          <documentation>-- Definition --&#13;
The URL or citation for a document that describes the site management plans.</documentation>
        </annotation>
        <complexType>
          <complexContent>
            <extension base="gml:AbstractMetadataPropertyType">
              <sequence>
                <element ref="gmd:CI_Citation"/>
              </sequence>
            </extension>
          </complexContent>
        </complexType>
      </element>
      <element maxOccurs="unbounded" minOccurs="0" name="isExecutedBy" nillable="true" type="gml:ReferenceType">
        <annotation>
          <documentation>-- Definition --&#13;
The Agency that is responsible (either in part or in total) for executing the Site Management Plan.</documentation>
          <appinfo>
            <targetElement xmlns="http://www.opengis.net/gml/3.2">ps-f:ResponsibleAgency</targetElement>
          </appinfo>
        </annotation>
      </element>
    </sequence>
  </complexType>
  <complexType name="SiteManagementPlanTypePropertyType">
    <sequence>
      <element ref="ps-f:SiteManagementPlanType"/>
    </sequence>
  </complexType>
  <simpleType name="ActivityValueType">
    <annotation>
      <documentation>-- Definition --&#13;
The codes of the activities and impacts that occur on and around the site. In the case of the Natura2000 application schema, the values must come from the Natura2000 activity types from Appendix E in the Natura 2000 explanatory notes (Standard Data Form Item 6.1). In the case of the Full application schema, values may also come from Water Framework Directive.&#13;
</documentation>
    </annotation>
    <union memberTypes="ps-f:ActivityValueEnumerationType ps-f:ActivityValueOtherType"/>
  </simpleType>
  <simpleType name="ActivityValueEnumerationType">
    <annotation>
      <documentation>-- Definition --&#13;
The codes of the activities and impacts that occur on and around the site. In the case of the Natura2000 application schema, the values must come from the Natura2000 activity types from Appendix E in the Natura 2000 explanatory notes (Standard Data Form Item 6.1). In the case of the Full application schema, values may also come from Water Framework Directive.&#13;
</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="abandonmentOfPastoralSystems">
        <annotation>
          <documentation>-- Definition --&#13;
"141 Abandonment of pastoral systems" in Appendix E of the Explanatory Notes to the Natura2000 Standard Data form.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="floralCompetition">
        <annotation>
          <documentation>-- Definition --&#13;
"971 competition" in Appendix E of the Explanatory Notes to the Natura2000 Standard Data form.&#13;
</documentation>
        </annotation>
      </enumeration>
      <enumeration value="acidification">
        <annotation>
          <documentation>-- Definition --&#13;
"953 acidification" in Appendix E of the Explanatory Notes to the Natura2000 Standard Data form.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="aerodromeHeliport">
        <annotation>
          <documentation>-- Definition --&#13;
"506 aerodrome, heliport" in Appendix E of the Explanatory Notes to the Natura2000 Standard Data form.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="agriculturalStructures">
        <annotation>
          <documentation>-- Definition --&#13;
"430 Agricultural structures" in Appendix E of the Explanatory Notes to the Natura2000 Standard Data form.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="otherAgricultureAndForestryActivities">
        <annotation>
          <documentation>-- Definition --&#13;
"190 Agriculture and forestry activities not referred to above" in Appendix E of the Explanatory Notes to the Natura2000 Standard Data form.&#13;
</documentation>
        </annotation>
      </enumeration>
      <enumeration value="airPollution">
        <annotation>
          <documentation>-- Definition --&#13;
"702 air pollution" in Appendix E of the Explanatory Notes to the Natura2000 Standard Data form.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="airport">
        <annotation>
          <documentation>-- Definition --&#13;
"505 airport" in Appendix E of the Explanatory Notes to the Natura2000 Standard Data form.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="animalBreeding">
        <annotation>
          <documentation>-- Definition --&#13;
"170 Animal breeding" in Appendix E of the Explanatory Notes to the Natura2000 Standard Data form.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="antagonismArisingFromIntroductionOfSpecies">
        <annotation>
          <documentation>-- Definition --&#13;
"966 antagonism arising from introduction of species" in Appendix E of the Explanatory Notes to the Natura2000 Standard Data form.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="antagonismWithDomesticAnimals">
        <annotation>
          <documentation>-- Definition --&#13;
"967 antagonism with domestic animals" in Appendix E of the Explanatory Notes to the Natura2000 Standard Data form.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="artificialPlanting">
        <annotation>
          <documentation>-- Definition --&#13;
"162 Artificial planting" in Appendix E of the Explanatory Notes to the Natura2000 Standard Data form.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="attractionPark">
        <annotation>
          <documentation>-- Definition --&#13;
"606 attraction park" in Appendix E of the Explanatory Notes to the Natura2000 Standard Data form.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="avalanche">
        <annotation>
          <documentation>-- Definition --&#13;
"942 avalanche" in Appendix E of the Explanatory Notes to the Natura2000 Standard Data form.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="baitDigging">
        <annotation>
          <documentation>-- Definition --&#13;
"221 bait digging" in Appendix E of the Explanatory Notes to the Natura2000 Standard Data form.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="biocenoticEvolution">
        <annotation>
          <documentation>-- Definition --&#13;
"950 Biocenotic evolution" in Appendix E of the Explanatory Notes to the Natura2000 Standard Data form.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="bridgeViaduct">
        <annotation>
          <documentation>-- Definition --&#13;
"507 bridge, viaduct" in Appendix E of the Explanatory Notes to the Natura2000 Standard Data form.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="burning">
        <annotation>
          <documentation>-- Definition --&#13;
"180 Burning" in Appendix E of the Explanatory Notes to the Natura2000 Standard Data form.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="campingAndCaravans">
        <annotation>
          <documentation>-- Definition --&#13;
"608 camping and caravans" in Appendix E of the Explanatory Notes to the Natura2000 Standard Data form.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="canalisation">
        <annotation>
          <documentation>-- Definition --&#13;
"830 Canalisation" in Appendix E of the Explanatory Notes to the Natura2000 Standard Data form.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="circuitTrack">
        <annotation>
          <documentation>-- Definition --&#13;
"604 circuit, track" in Appendix E of the Explanatory Notes to the Natura2000 Standard Data form.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="collapseOfTerrainLandslide">
        <annotation>
          <documentation>-- Definition --&#13;
"943 collapse of terrain, landslide" in Appendix E of the Explanatory Notes to the Natura2000 Standard Data form.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="collectionInsectsReptilesAmphibians">
        <annotation>
          <documentation>-- Definition --&#13;
"241 collection (insects, reptiles, amphibians.....)" in Appendix E of the Explanatory Notes to the Natura2000 Standard Data form.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="communicationNetworks">
        <annotation>
          <documentation>-- Definition --&#13;
"500 Communication networks" in Appendix E of the Explanatory Notes to the Natura2000 Standard Data form.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="continuousUrbanisation">
        <annotation>
          <documentation>-- Definition --&#13;
"401 continuous urbanisation" in Appendix E of the Explanatory Notes to the Natura2000 Standard Data form.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="damageByGameSpecies">
        <annotation>
          <documentation>-- Definition --&#13;
"976 damage by game species" in Appendix E of the Explanatory Notes to the Natura2000 Standard Data form.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="discharges">
        <annotation>
          <documentation>-- Definition --&#13;
"420 Discharges" in Appendix E of the Explanatory Notes to the Natura2000 Standard Data form.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="discontinuousUrbanisation">
        <annotation>
          <documentation>-- Definition --&#13;
"402 discontinuous urbanisation" in Appendix E of the Explanatory Notes to the Natura2000 Standard Data form.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="dispersedHabitation">
        <annotation>
          <documentation>-- Definition --&#13;
"403 dispersed habitation" in Appendix E of the Explanatory Notes to the Natura2000 Standard Data form.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="disposalOfHouseholdWaste">
        <annotation>
          <documentation>-- Definition --&#13;
"421 disposal of household waste" in Appendix E of the Explanatory Notes to the Natura2000 Standard Data form.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="disposalOfIndustrialWaste">
        <annotation>
          <documentation>-- Definition --&#13;
"422 disposal of industrial waste" in Appendix E of the Explanatory Notes to the Natura2000 Standard Data form.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="disposalOfInertMaterials">
        <annotation>
          <documentation>-- Definition --&#13;
"423 disposal of inert materials" in Appendix E of the Explanatory Notes to the Natura2000 Standard Data form.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="drainage">
        <annotation>
          <documentation>-- Definition --&#13;
"810 Drainage" in Appendix E of the Explanatory Notes to the Natura2000 Standard Data form.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="drift-netFishing">
        <annotation>
          <documentation>-- Definition --&#13;
"213 drift-net fishing" in Appendix E of the Explanatory Notes to the Natura2000 Standard Data form.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="dryingOut">
        <annotation>
          <documentation>-- Definition --&#13;
"920 Drying out" in Appendix E of the Explanatory Notes to the Natura2000 Standard Data form.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="dryingOutAccumulationOfOrganicMaterial">
        <annotation>
          <documentation>-- Definition --&#13;
"951 drying out / accumulation of organic material" in Appendix E of the Explanatory Notes to the Natura2000 Standard Data form.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="dumpingDepositingOfDredgedDeposits">
        <annotation>
          <documentation>-- Definition --&#13;
"860 Dumping, depositing of dredged deposits" in Appendix E of the Explanatory Notes to the Natura2000 Standard Data form.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="dykesEmbankmentsArtificialBeachesGeneral">
        <annotation>
          <documentation>-- Definition --&#13;
"870 Dykes, embankments, artificial beaches, general" in Appendix E of the Explanatory Notes to the Natura2000 Standard Data form.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="earthquake">
        <annotation>
          <documentation>-- Definition --&#13;
"946 earthquake" in Appendix E of the Explanatory Notes to the Natura2000 Standard Data form.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="electricityLines">
        <annotation>
          <documentation>-- Definition --&#13;
"511 electricity lines" in Appendix E of the Explanatory Notes to the Natura2000 Standard Data form.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="energyTransport">
        <annotation>
          <documentation>-- Definition --&#13;
"510 Energy transport" in Appendix E of the Explanatory Notes to the Natura2000 Standard Data form.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="erosion">
        <annotation>
          <documentation>-- Definition --&#13;
"900 Erosion" in Appendix E of the Explanatory Notes to the Natura2000 Standard Data form.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="eutrophication">
        <annotation>
          <documentation>-- Definition --&#13;
"952 eutrophication" in Appendix E of the Explanatory Notes to the Natura2000 Standard Data form.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="exploitationWithoutReplanting">
        <annotation>
          <documentation>-- Definition --&#13;
"167 Exploitation without replanting" in Appendix E of the Explanatory Notes to the Natura2000 Standard Data form.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="explorationAndExtractionOfOilOrGas">
        <annotation>
          <documentation>-- Definition --&#13;
"313 Exploration and extraction of oil or gas" in Appendix E of the Explanatory Notes to the Natura2000 Standard Data form.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="factory">
        <annotation>
          <documentation>-- Definition --&#13;
"411 factory" in Appendix E of the Explanatory Notes to the Natura2000 Standard Data form.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="faunalCompetition">
        <annotation>
          <documentation>-- Definition -- &#13;
"961 competition (example: gull/tern)" in Appendix E of the Explanatory Notes to the Natura2000 Standard Data form.&#13;
</documentation>
        </annotation>
      </enumeration>
      <enumeration value="fertilisation">
        <annotation>
          <documentation>-- Definition --&#13;
"120 Fertilisation" in Appendix E of the Explanatory Notes to the Natura2000 Standard Data form.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="fire">
        <annotation>
          <documentation>-- Definition --&#13;
"948 fire" in Appendix E of the Explanatory Notes to the Natura2000 Standard Data form.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="fishAndShellfishAquaculture">
        <annotation>
          <documentation>-- Definition --&#13;
"200 Fish and Shellfish Aquaculture" in Appendix E of the Explanatory Notes to the Natura2000 Standard Data form.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="fixedLocationFishing">
        <annotation>
          <documentation>-- Definition --&#13;
"211 fixed location fishing" in Appendix E of the Explanatory Notes to the Natura2000 Standard Data form.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="flooding">
        <annotation>
          <documentation>-- Definition --&#13;
"840 Flooding" in Appendix E of the Explanatory Notes to the Natura2000 Standard Data form.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="forestryClearance">
        <annotation>
          <documentation>-- Definition --&#13;
"164 Forestry clearance" in Appendix E of the Explanatory Notes to the Natura2000 Standard Data form.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="generalForestryManagement">
        <annotation>
          <documentation>-- Definition --&#13;
"160 General Forestry management" in Appendix E of the Explanatory Notes to the Natura2000 Standard Data form.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="floralGeneticPollution">
        <annotation>
          <documentation>-- Definition --&#13;
"974 genetic pollution" in Appendix E of the Explanatory Notes to the Natura2000 Standard Data form.&#13;
</documentation>
        </annotation>
      </enumeration>
      <enumeration value="faunalGeneticPollution">
        <annotation>
          <documentation>-- Definition --&#13;
"964 genetic pollution" in Appendix E of the Explanatory Notes to the Natura2000 Standard Data form.&#13;
</documentation>
        </annotation>
      </enumeration>
      <enumeration value="glidingDeltaPlaneParaglidingBalooning">
        <annotation>
          <documentation>-- Definition --&#13;
"625 gliding, delta plane, paragliding, balooning" in Appendix E of the Explanatory Notes to the Natura2000 Standard Data form.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="golfCourse">
        <annotation>
          <documentation>-- Definition --&#13;
"601 golf course" in Appendix E of the Explanatory Notes to the Natura2000 Standard Data form.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="grazing">
        <annotation>
          <documentation>-- Definition --&#13;
"140 Grazing" in Appendix E of the Explanatory Notes to the Natura2000 Standard Data form.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="handCuttingOfPeat">
        <annotation>
          <documentation>-- Definition --&#13;
"311 hand cutting of peat" in Appendix E of the Explanatory Notes to the Natura2000 Standard Data form.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="hippodrome">
        <annotation>
          <documentation>-- Definition --&#13;
"605 hippodrome" in Appendix E of the Explanatory Notes to the Natura2000 Standard Data form.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="hunting">
        <annotation>
          <documentation>-- Definition --&#13;
"230 Hunting" in Appendix E of the Explanatory Notes to the Natura2000 Standard Data form.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="otherHuntingFishingOrCollectingActivities">
        <annotation>
          <documentation>-- Definition --&#13;
"290 Hunting, fishing or collecting activities not referred to above" in Appendix E of the Explanatory Notes to the Natura2000 Standard Data form.&#13;
</documentation>
        </annotation>
      </enumeration>
      <enumeration value="improvedAccessToSite">
        <annotation>
          <documentation>-- Definition --&#13;
"530 Improved access to site" in Appendix E of the Explanatory Notes to the Natura2000 Standard Data form.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="industrialOrCommercialAreas">
        <annotation>
          <documentation>-- Definition --&#13;
"410 Industrial or commercial areas" in Appendix E of the Explanatory Notes to the Natura2000 Standard Data form.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="industrialStockage">
        <annotation>
          <documentation>-- Definition --&#13;
"412 industrial stockage" in Appendix E of the Explanatory Notes to the Natura2000 Standard Data form.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="infillingOfDitchesDykesPondsPoolsMarshesOrPits">
        <annotation>
          <documentation>-- Definition --&#13;
"803 infilling of ditches, dykes, ponds, pools, marshes or pits" in Appendix E of the Explanatory Notes to the Natura2000 Standard Data form.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="interpretativeCentres">
        <annotation>
          <documentation>-- Definition --&#13;
"610 Interpretative centres" in Appendix E of the Explanatory Notes to the Natura2000 Standard Data form.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="interspecificFaunalRelations">
        <annotation>
          <documentation>-- Definition --&#13;
"960 Interspecific faunal relations" in Appendix E of the Explanatory Notes to the Natura2000 Standard Data form.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="interspecificFloralRelations">
        <annotation>
          <documentation>-- Definition --&#13;
"970 Interspecific floral relations" in Appendix E of the Explanatory Notes to the Natura2000 Standard Data form.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="introductionOfDisease">
        <annotation>
          <documentation>-- Definition --&#13;
"963 introduction of disease" in Appendix E of the Explanatory Notes to the Natura2000 Standard Data form.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="introductionOfDisease">
        <annotation>
          <documentation>-- Definition --&#13;
"973 introduction of disease" in Appendix E of the Explanatory Notes to the Natura2000 Standard Data form.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="inundation">
        <annotation>
          <documentation>-- Definition --&#13;
"941 inundation" in Appendix E of the Explanatory Notes to the Natura2000 Standard Data form.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="invasionByASpecies">
        <annotation>
          <documentation>-- Definition --&#13;
"954 invasion by a species" in Appendix E of the Explanatory Notes to the Natura2000 Standard Data form.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="irrigation">
        <annotation>
          <documentation>-- Definition --&#13;
"130 Irrigation" in Appendix E of the Explanatory Notes to the Natura2000 Standard Data form.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="lackOfPollinatingAgents">
        <annotation>
          <documentation>-- Definition --&#13;
"975 lack of pollinating agents" in Appendix E of the Explanatory Notes to the Natura2000 Standard Data form.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="landfillLandReclamationAndDryingOutGeneral">
        <annotation>
          <documentation>-- Definition --&#13;
"800 Landfill, land reclamation and drying out, general" in Appendix E of the Explanatory Notes to the Natura2000 Standard Data form.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="leisureFishing">
        <annotation>
          <documentation>-- Definition --&#13;
"220 Leisure fishing" in Appendix E of the Explanatory Notes to the Natura2000 Standard Data form.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="managementOfAquaticAndBankVegetationForDrainagePurposes">
        <annotation>
          <documentation>-- Definition --&#13;
"811 management of aquatic and bank vegetation for drainage purposes" in Appendix E of the Explanatory Notes to the Natura2000 Standard Data form.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="managementOfWaterLevels">
        <annotation>
          <documentation>-- Definition --&#13;
"853 management of water levels" in Appendix E of the Explanatory Notes to the Natura2000 Standard Data form.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="mechanicalRemovalOfPeat">
        <annotation>
          <documentation>-- Definition --&#13;
"312 mechanical removal of peat" in Appendix E of the Explanatory Notes to the Natura2000 Standard Data form.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="militaryManouvres">
        <annotation>
          <documentation>-- Definition --&#13;
"730 Military manouvres" in Appendix E of the Explanatory Notes to the Natura2000 Standard Data form.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="mines">
        <annotation>
          <documentation>-- Definition --&#13;
"320 Mines" in Appendix E of the Explanatory Notes to the Natura2000 Standard Data form.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="otherMiningAndExtractionActivities">
        <annotation>
          <documentation>-- Definition --&#13;
"390 Mining and extraction activities not referred to above" in Appendix E of the Explanatory Notes to the Natura2000 Standard Data form.&#13;
</documentation>
        </annotation>
      </enumeration>
      <enumeration value="modificationOfCultivationPractices">
        <annotation>
          <documentation>-- Definition --&#13;
"101 Modification of cultivation practices" in Appendix E of the Explanatory Notes to the Natura2000 Standard Data form.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="modificationOfHydrographicFunctioningGeneral">
        <annotation>
          <documentation>-- Definition --&#13;
"850 Modification of hydrographic functioning, general" in Appendix E of the Explanatory Notes to the Natura2000 Standard Data form.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="modificationOfMarineCurrents">
        <annotation>
          <documentation>-- Definition --&#13;
"851 modification of marine currents" in Appendix E of the Explanatory Notes to the Natura2000 Standard Data form.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="modifyingStructuresOfInlandWaterCourses">
        <annotation>
          <documentation>-- Definition --&#13;
"852 modifying structures of inland water courses" in Appendix E of the Explanatory Notes to the Natura2000 Standard Data form.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="motorisedVehicles">
        <annotation>
          <documentation>-- Definition --&#13;
"623 motorised vehicles" in Appendix E of the Explanatory Notes to the Natura2000 Standard Data form.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="mountaineeringRockClimbingSpeliology">
        <annotation>
          <documentation>-- Definition --&#13;
"624 mountaineering, rock climbing, speliology" in Appendix E of the Explanatory Notes to the Natura2000 Standard Data form.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="mowingCutting">
        <annotation>
          <documentation>-- Definition --&#13;
"102 Mowing / Cutting" in Appendix E of the Explanatory Notes to the Natura2000 Standard Data form.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="naturalCatastrophes">
        <annotation>
          <documentation>-- Definition --&#13;
"940 Natural catastrophes" in Appendix E of the Explanatory Notes to the Natura2000 Standard Data form.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="nauticalSports">
        <annotation>
          <documentation>-- Definition --&#13;
"621 nautical sports" in Appendix E of the Explanatory Notes to the Natura2000 Standard Data form.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="noiseNuisance">
        <annotation>
          <documentation>-- Definition --&#13;
"710 Noise nuisance" in Appendix E of the Explanatory Notes to the Natura2000 Standard Data form.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="openCastMining">
        <annotation>
          <documentation>-- Definition --&#13;
"321 open cast mining" in Appendix E of the Explanatory Notes to the Natura2000 Standard Data form.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="otherCommunicationNetworks">
        <annotation>
          <documentation>-- Definition --&#13;
"509 other communication networks" in Appendix E of the Explanatory Notes to the Natura2000 Standard Data form.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="otherDischarges">
        <annotation>
          <documentation>-- Definition --&#13;
"424 other discharges" in Appendix E of the Explanatory Notes to the Natura2000 Standard Data form.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="otherFormsOfEnergyTransport">
        <annotation>
          <documentation>-- Definition --&#13;
"513 other forms of energy transport" in Appendix E of the Explanatory Notes to the Natura2000 Standard Data form.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="otherFormsOfTakingFauna">
        <annotation>
          <documentation>-- Definition --&#13;
"244 other forms of taking fauna" in Appendix E of the Explanatory Notes to the Natura2000 Standard Data form.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="otherFormsOfTransportationAndCommunication">
        <annotation>
          <documentation>-- Definition --&#13;
"590 Other forms of transportation and communication" in Appendix E of the Explanatory Notes to the Natura2000 Standard Data form.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="otherFormsOrMixedFormsofInterspecificFaunalCompetition">
        <annotation>
          <documentation>-- Definition --&#13;
"969 other forms or mixed formsof interspecific faunal competition" in Appendix E of the Explanatory Notes to the Natura2000 Standard Data form.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="otherFormsOrMixedFormsofInterspecificFloralCompetition">
        <annotation>
          <documentation>-- Definition --&#13;
"979 other forms or mixed formsof interspecific floral competition" in Appendix E of the Explanatory Notes to the Natura2000 Standard Data form.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="otherFormsOrMixedFormsOfPollution">
        <annotation>
          <documentation>-- Definition --&#13;
"709 other forms or mixed forms of pollution" in Appendix E of the Explanatory Notes to the Natura2000 Standard Data form.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="otherHumanInducedChangesInHydraulicConditions">
        <annotation>
          <documentation>-- Definition --&#13;
"890 Other human induced changes in hydraulic conditions" in Appendix E of the Explanatory Notes to the Natura2000 Standard Data form.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="otherIndustrialCommercialAreas">
        <annotation>
          <documentation>-- Definition --&#13;
"419 other industrial / commercial areas" in Appendix E of the Explanatory Notes to the Natura2000 Standard Data form.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="otherLeisureAndTourismImpacts">
        <annotation>
          <documentation>-- Definition --&#13;
"690 Other leisure and tourism impacts not referred to above" in Appendix E of the Explanatory Notes to the Natura2000 Standard Data form.&#13;
</documentation>
        </annotation>
      </enumeration>
      <enumeration value="otherNaturalCatastrophes">
        <annotation>
          <documentation>-- Definition --&#13;
"949 other natural catastrophes" in Appendix E of the Explanatory Notes to the Natura2000 Standard Data form.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="otherNaturalProcesses">
        <annotation>
          <documentation>-- Definition --&#13;
"990 Other natural processes" in Appendix E of the Explanatory Notes to the Natura2000 Standard Data form.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="otherOutdoorSportsAndLeisureActivities">
        <annotation>
          <documentation>-- Definition --&#13;
"629 other outdoor sports and leisure activities" in Appendix E of the Explanatory Notes to the Natura2000 Standard Data form.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="otherPatternsOfHabitation">
        <annotation>
          <documentation>-- Definition --&#13;
"409 other patterns of habitation" in Appendix E of the Explanatory Notes to the Natura2000 Standard Data form.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="otherPollutionOrHumanImpactsActivities">
        <annotation>
          <documentation>-- Definition --&#13;
"750 Other pollution or human impacts/activities" in Appendix E of the Explanatory Notes to the Natura2000 Standard Data form.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="otherSportLeisureComplexes">
        <annotation>
          <documentation>-- Definition --&#13;
"609 other sport / leisure complexes" in Appendix E of the Explanatory Notes to the Natura2000 Standard Data form.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="otherUrbanisationIndustrialAndSimilarActivities">
        <annotation>
          <documentation>-- Definition --&#13;
"490 Other urbanisation, industrial and similar activities" in Appendix E of the Explanatory Notes to the Natura2000 Standard Data form.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="outdoorSportsAndLeisureActivities">
        <annotation>
          <documentation>-- Definition --&#13;
"620 Outdoor sports and leisure activities" in Appendix E of the Explanatory Notes to the Natura2000 Standard Data form.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="faunalParasitism">
        <annotation>
          <documentation>-- Definition --&#13;
"962 parasitism" in Appendix E of the Explanatory Notes to the Natura2000 Standard Data form.&#13;
</documentation>
        </annotation>
      </enumeration>
      <enumeration value="floralParasitism">
        <annotation>
          <documentation>-- Definition --&#13;
"972 parasitism" in Appendix E of the Explanatory Notes to the Natura2000 Standard Data form.&#13;
</documentation>
        </annotation>
      </enumeration>
      <enumeration value="pathsTracksCyclingTracks">
        <annotation>
          <documentation>-- Definition --&#13;
"501 paths, tracks, cycling tracks" in Appendix E of the Explanatory Notes to the Natura2000 Standard Data form.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="peatExtraction">
        <annotation>
          <documentation>-- Definition --&#13;
"310 Peat extraction" in Appendix E of the Explanatory Notes to the Natura2000 Standard Data form.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="pillagingOfFloristicStations">
        <annotation>
          <documentation>-- Definition --&#13;
"251 pillaging of floristic stations" in Appendix E of the Explanatory Notes to the Natura2000 Standard Data form.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="pipeLines">
        <annotation>
          <documentation>-- Definition --&#13;
"512 pipe lines" in Appendix E of the Explanatory Notes to the Natura2000 Standard Data form.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="planting">
        <annotation>
          <documentation>-- Definition --&#13;
"161 Planting" in Appendix E of the Explanatory Notes to the Natura2000 Standard Data form.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="polderisation">
        <annotation>
          <documentation>-- Definition --&#13;
"801 polderisation" in Appendix E of the Explanatory Notes to the Natura2000 Standard Data form.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="pollution">
        <annotation>
          <documentation>-- Definition --&#13;
"700 Pollution" in Appendix E of the Explanatory Notes to the Natura2000 Standard Data form.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="portAreas">
        <annotation>
          <documentation>-- Definition --&#13;
"504 port areas" in Appendix E of the Explanatory Notes to the Natura2000 Standard Data form.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="predation">
        <annotation>
          <documentation>-- Definition --&#13;
"965 predation" in Appendix E of the Explanatory Notes to the Natura2000 Standard Data form.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="professionalFishing">
        <annotation>
          <documentation>-- Definition --&#13;
"210 Professional fishing" in Appendix E of the Explanatory Notes to the Natura2000 Standard Data form.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="quarries">
        <annotation>
          <documentation>-- Definition --&#13;
"301 quarries" in Appendix E of the Explanatory Notes to the Natura2000 Standard Data form.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="railwayLinesTGV">
        <annotation>
          <documentation>-- Definition --&#13;
"503 railway lines, TGV" in Appendix E of the Explanatory Notes to the Natura2000 Standard Data form.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="reclamationOfLandFromSeaEstuaryOrMarsh">
        <annotation>
          <documentation>-- Definition --&#13;
"802 reclamation of land from sea, estuary or marsh" in Appendix E of the Explanatory Notes to the Natura2000 Standard Data form.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="removalOfBeachMaterials">
        <annotation>
          <documentation>-- Definition --&#13;
"302 removal of beach materials" in Appendix E of the Explanatory Notes to the Natura2000 Standard Data form.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="removalOfDeadAndDyingTrees">
        <annotation>
          <documentation>-- Definition --&#13;
"166 Removal of dead and dying trees" in Appendix E of the Explanatory Notes to the Natura2000 Standard Data form.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="removalOfHedgesAndCopses">
        <annotation>
          <documentation>-- Definition --&#13;
"151 Removal of hedges and copses" in Appendix E of the Explanatory Notes to the Natura2000 Standard Data form.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="removalOfSedimentsMud">
        <annotation>
          <documentation>-- Definition --&#13;
"820 Removal of sediments (mud...)" in Appendix E of the Explanatory Notes to the Natura2000 Standard Data form.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="removalOfUndergrowth">
        <annotation>
          <documentation>-- Definition --&#13;
"165 Removal of undergrowth" in Appendix E of the Explanatory Notes to the Natura2000 Standard Data form.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="replanting">
        <annotation>
          <documentation>-- Definition --&#13;
"163 Replanting" in Appendix E of the Explanatory Notes to the Natura2000 Standard Data form.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="restructuringAgriculturalLandHolding">
        <annotation>
          <documentation>-- Definition --&#13;
"150 Restructuring agricultural land holding" in Appendix E of the Explanatory Notes to the Natura2000 Standard Data form.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="routesAutoroutes">
        <annotation>
          <documentation>-- Definition --&#13;
"502 routes, autoroutes" in Appendix E of the Explanatory Notes to the Natura2000 Standard Data form.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="saltWorks">
        <annotation>
          <documentation>-- Definition --&#13;
"330 Salt works" in Appendix E of the Explanatory Notes to the Natura2000 Standard Data form.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="sandAndGravelExtraction">
        <annotation>
          <documentation>-- Definition --&#13;
"300 Sand and gravel extraction" in Appendix E of the Explanatory Notes to the Natura2000 Standard Data form.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="seaDefenseOrCoastProtectionWorks">
        <annotation>
          <documentation>-- Definition --&#13;
"871 sea defense or coast protection works" in Appendix E of the Explanatory Notes to the Natura2000 Standard Data form.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="shipping">
        <annotation>
          <documentation>-- Definition --&#13;
"520 Shipping" in Appendix E of the Explanatory Notes to the Natura2000 Standard Data form.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="siltingUp">
        <annotation>
          <documentation>-- Definition --&#13;
"910 Silting up" in Appendix E of the Explanatory Notes to the Natura2000 Standard Data form.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="skiingComplex">
        <annotation>
          <documentation>-- Definition --&#13;
"602 skiing complex" in Appendix E of the Explanatory Notes to the Natura2000 Standard Data form.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="skiingOff-piste">
        <annotation>
          <documentation>-- Definition --&#13;
"626 skiing, off-piste" in Appendix E of the Explanatory Notes to the Natura2000 Standard Data form.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="soilPollution">
        <annotation>
          <documentation>-- Definition --&#13;
"703 soil pollution" in Appendix E of the Explanatory Notes to the Natura2000 Standard Data form.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="sportAndLeisureStructures">
        <annotation>
          <documentation>-- Definition --&#13;
"600 Sport and leisure structures" in Appendix E of the Explanatory Notes to the Natura2000 Standard Data form.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="sportsPitch">
        <annotation>
          <documentation>-- Definition --&#13;
"607 sports pitch" in Appendix E of the Explanatory Notes to the Natura2000 Standard Data form.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="stadium">
        <annotation>
          <documentation>-- Definition --&#13;
"603 stadium" in Appendix E of the Explanatory Notes to the Natura2000 Standard Data form.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="stockFeeding">
        <annotation>
          <documentation>-- Definition --&#13;
"171 stock feeding" in Appendix E of the Explanatory Notes to the Natura2000 Standard Data form.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="storageOfMaterials">
        <annotation>
          <documentation>-- Definition --&#13;
"440 Storage of materials" in Appendix E of the Explanatory Notes to the Natura2000 Standard Data form.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="stormCyclone">
        <annotation>
          <documentation>-- Definition --&#13;
"944 storm, cyclone" in Appendix E of the Explanatory Notes to the Natura2000 Standard Data form.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="submersion">
        <annotation>
          <documentation>-- Definition --&#13;
"930 Submersion" in Appendix E of the Explanatory Notes to the Natura2000 Standard Data form.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="takingFromNestFalcons">
        <annotation>
          <documentation>-- Definition --&#13;
"242 taking from nest (falcons)" in Appendix E of the Explanatory Notes to the Natura2000 Standard Data form.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="takingRemovalOfFaunaGeneral">
        <annotation>
          <documentation>-- Definition --&#13;
"240 Taking / Removal of fauna, general" in Appendix E of the Explanatory Notes to the Natura2000 Standard Data form.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="takingRemovalOfFloraGeneral">
        <annotation>
          <documentation>-- Definition --&#13;
"250 Taking / Removal of flora, general" in Appendix E of the Explanatory Notes to the Natura2000 Standard Data form.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="tidalWave">
        <annotation>
          <documentation>-- Definition --&#13;
"947 tidal wave" in Appendix E of the Explanatory Notes to the Natura2000 Standard Data form.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="tramplingOveruse">
        <annotation>
          <documentation>-- Definition --&#13;
"720 Trampling, overuse" in Appendix E of the Explanatory Notes to the Natura2000 Standard Data form.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="trappingPoisoningPoaching">
        <annotation>
          <documentation>-- Definition --&#13;
"243 trapping, poisoning, poaching" in Appendix E of the Explanatory Notes to the Natura2000 Standard Data form.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="trawling">
        <annotation>
          <documentation>-- Definition --&#13;
"212 trawling" in Appendix E of the Explanatory Notes to the Natura2000 Standard Data form.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="tunnel">
        <annotation>
          <documentation>-- Definition --&#13;
"508 tunnel" in Appendix E of the Explanatory Notes to the Natura2000 Standard Data form.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="urbanisedAreasHumanHabitation">
        <annotation>
          <documentation>-- Definition --&#13;
"400 Urbanised areas, human habitation" in Appendix E of the Explanatory Notes to the Natura2000 Standard Data form.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="useOfPesticides">
        <annotation>
          <documentation>-- Definition --&#13;
"110 Use of pesticides" in Appendix E of the Explanatory Notes to the Natura2000 Standard Data form.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="vandalism">
        <annotation>
          <documentation>-- Definition --&#13;
"740 Vandalism" in Appendix E of the Explanatory Notes to the Natura2000 Standard Data form.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="volcanicActivity">
        <annotation>
          <documentation>-- Definition --&#13;
"945 volcanic activity" in Appendix E of the Explanatory Notes to the Natura2000 Standard Data form.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="walkingHorseridingAndNon-motorisedVehicles">
        <annotation>
          <documentation>-- Definition --&#13;
"622 walking, horseriding and non-motorised vehicles" in Appendix E of the Explanatory Notes to the Natura2000 Standard Data form.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="waterPollution">
        <annotation>
          <documentation>-- Definition --&#13;
"701 water pollution" in Appendix E of the Explanatory Notes to the Natura2000 Standard Data form.</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="ActivityValueOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <element name="ActivitiesAndImpactsType" substitutionGroup="gml:AbstractObject" type="ps-f:ActivitiesAndImpactsTypeType">
    <annotation>
      <documentation>-- Definition --&#13;
Impacts resulting from human activities or natural process that positively or negatively affect the conservation status of the Protected Site. Information needed to inform evaluation of conservation status of a Protected Site.&#13;
&#13;
-- Description --&#13;
EXAMPLE This includes management activities such as grazing or cutting, land uses such as mineral extraction or transport and natural processes such as disease fluvial erosion.&#13;
</documentation>
    </annotation>
  </element>
  <complexType name="ActivitiesAndImpactsTypeType">
    <sequence>
      <element minOccurs="0" name="activityIntensity" nillable="true">
        <annotation>
          <documentation>-- Definition --&#13;
The intensity of the activity's influence on the site.</documentation>
        </annotation>
        <complexType>
          <simpleContent>
            <extension base="ps-f:ActivityIntensityValueType">
              <attribute name="nilReason" type="gml:NilReasonType"/>
            </extension>
          </simpleContent>
        </complexType>
      </element>
      <element minOccurs="0" name="natureOfInfluence" nillable="true">
        <annotation>
          <documentation>-- Definition --&#13;
The nature of the influence of the activity on the site (positive, negative or neutral).</documentation>
        </annotation>
        <complexType>
          <simpleContent>
            <extension base="ps-f:NatureOfInfluenceValueType">
              <attribute name="nilReason" type="gml:NilReasonType"/>
            </extension>
          </simpleContent>
        </complexType>
      </element>
      <element name="activity" type="ps-f:ActivityValueType">
        <annotation>
          <documentation>-- Definition --&#13;
The activities that occur on the site using the Natura2000 activity types from Appendix E in the Natura 2000 explanatory notes (Standard Data Form Item 6.1).</documentation>
        </annotation>
      </element>
      <element minOccurs="0" name="percentageUnderActivity" nillable="true">
        <annotation>
          <documentation>-- Definition --&#13;
The percentage of the protected site over which the activity occurs.</documentation>
        </annotation>
        <complexType>
          <simpleContent>
            <extension base="anyURI">
              <attribute name="nilReason" type="gml:NilReasonType"/>
            </extension>
          </simpleContent>
        </complexType>
      </element>
    </sequence>
  </complexType>
  <complexType name="ActivitiesAndImpactsTypePropertyType">
    <sequence>
      <element ref="ps-f:ActivitiesAndImpactsType"/>
    </sequence>
  </complexType>
  <element name="SiteIdentifierType" substitutionGroup="gml:AbstractObject" type="ps-f:SiteIdentifierTypeType">
    <annotation>
      <documentation>-- Definition --&#13;
An identifier for the Protected Site, using some identification scheme. A Site may have several identifiers using different schemes.&#13;
&#13;
-- Description --&#13;
EXAMPLE A site may have a Natura2000 identifier as well as a national identifier.&#13;
&#13;
NOTEIdentifiers are unique within the specified scheme.&#13;
</documentation>
    </annotation>
  </element>
  <complexType name="SiteIdentifierTypeType">
    <sequence>
      <element name="siteIdentifier" type="string">
        <annotation>
          <documentation>-- Definition --&#13;
The identifier for the Site.</documentation>
        </annotation>
      </element>
      <element name="siteIdentifierScheme" type="gml:CodeType">
        <annotation>
          <documentation>-- Definition --&#13;
The scheme from which the identifier for the Site comes.&#13;
</documentation>
        </annotation>
      </element>
    </sequence>
  </complexType>
  <complexType name="SiteIdentifierTypePropertyType">
    <sequence>
      <element ref="ps-f:SiteIdentifierType"/>
    </sequence>
  </complexType>
  <element name="ResponsibleAgency" substitutionGroup="gml:AbstractFeature" type="ps-f:ResponsibleAgencyType">
    <annotation>
      <documentation>-- Definition --&#13;
The agency, organisation or body responsible for selecting, describing and designating the protected site.&#13;
&#13;
-- Description --&#13;
NOTE Responsibility for establishing a protected site  allows all interested parties to know who to liaise with over queries or requests for more detailed information on each Area. The responsible body will vary according to the basis of establishment with national governments ultimately responsible for Natura2000 sites, down to voluntary bodies responsible for local designations or quasi-legislative protected sites.</documentation>
    </annotation>
  </element>
  <complexType name="ResponsibleAgencyType">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence>
          <element name="objectIdentifier" type="base:IdentifierPropertyType">
            <annotation>
              <documentation>-- Definition --&#13;
A unique identifier for the Responsible Agency.</documentation>
            </annotation>
          </element>
          <element name="responsibleAgencyName" type="gmd:LocalisedCharacterString_PropertyType">
            <annotation>
              <documentation>-- Definition --&#13;
The name of the agency responsible for managing the protected site .</documentation>
            </annotation>
          </element>
          <element name="beginLifespanVersion" nillable="true">
            <annotation>
              <documentation>-- Definition --&#13;
Date and time at which this version of the spatial object was inserted or changed in the spatial data set.&#13;
&#13;
-- Description --&#13;
NOTE This date is recorded to enable the generation of change only update files.&#13;
</documentation>
            </annotation>
            <complexType>
              <simpleContent>
                <extension base="dateTime">
                  <attribute name="nilReason" type="gml:NilReasonType"/>
                </extension>
              </simpleContent>
            </complexType>
          </element>
          <element minOccurs="0" name="endLifespanVersion" nillable="true">
            <annotation>
              <documentation>-- Definition --&#13;
Date and time at which this version of the spatial object was superseded or retired in the spatial data set.&#13;
&#13;
-- Description --&#13;
NOTE This date is recorded primarily for those systems which "close" an entry in the spatial data set in the event of an attribute change.&#13;
</documentation>
            </annotation>
            <complexType>
              <simpleContent>
                <extension base="dateTime">
                  <attribute name="nilReason" type="gml:NilReasonType"/>
                </extension>
              </simpleContent>
            </complexType>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="ResponsibleAgencyPropertyType">
    <sequence minOccurs="0">
      <element ref="ps-f:ResponsibleAgency"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
</schema>
