deegree-demos/deegree-inspire-node/src/main/webapp/WEB-INF/workspace/datasources/feature/schemas/inspire/annex1/WaterFrameworkDirective.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:base="urn:x-inspire:specification:gmlas:BaseTypes:3.2" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:gn="urn:x-inspire:specification:gmlas:GeographicalNames:3.0" xmlns:hy="urn:x-inspire:specification:gmlas:HydroBase:3.0" xmlns:wfd="urn:x-inspire:specification:gmlas:WaterFrameworkDirective:0.0" elementFormDefault="qualified" targetNamespace="urn:x-inspire:specification:gmlas:WaterFrameworkDirective:0.0" version="0.0">
  <annotation>
    <documentation>-- Definition --&#13;
The 'Water Framework Directive' application schema contains spatial objects associated with reporting under European Directive 2000/60/EC "establishing a framework for Community action in the field of water policy".</documentation>
  </annotation>
  <import namespace="urn:x-inspire:specification:gmlas:HydroBase:3.0" schemaLocation="HydroBase.xsd"/>
  <import namespace="urn:x-inspire:specification:gmlas:BaseTypes:3.2" schemaLocation="BaseTypes.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <import namespace="urn:x-inspire:specification:gmlas:GeographicalNames:3.0" schemaLocation="GeographicalNames.xsd"/>
  <!--XML Schema document created by ShapeChange-->
  <element name="WFDGroundWaterBody" substitutionGroup="wfd:WFDWaterBody" type="wfd:WFDGroundWaterBodyType">
    <annotation>
      <documentation>-- Definition --&#13;
A distinct volume of groundwater within an aquifer or aquifers.&#13;
&#13;
-- Description --&#13;
SOURCE [2000/60/EC Art. 2(12)].&#13;
&#13;
NOTE All WFD spatial object types are regarded as candidate spatial objects in Annex III theme 'Area management/restriction/regulation zones and reporting units' due to their primary function for reporting under Directive 2000/60/EC.</documentation>
    </annotation>
  </element>
  <complexType name="WFDGroundWaterBodyType">
    <complexContent>
      <extension base="wfd:WFDWaterBodyType">
        <sequence>
          <element name="geometry" nillable="true" type="gml:GeometricPrimitivePropertyType">
            <annotation>
              <documentation>-- Definition --&#13;
The geometry of the WFD groundwater body.</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="WFDGroundWaterBodyPropertyType">
    <sequence minOccurs="0">
      <element ref="wfd:WFDGroundWaterBody"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element abstract="true" name="WFDWaterBody" substitutionGroup="gml:AbstractFeature" type="wfd:WFDWaterBodyType">
    <annotation>
      <documentation>-- Definition --&#13;
Abstract class representing a WFD body of surface water or body of groundwater.&#13;
&#13;
-- Description --&#13;
NOTE All WFD spatial object types are regarded as candidate spatial objects in Annex III theme 'Area management/restriction/regulation zones and reporting units' due to their primary function for reporting under Directive 2000/60/EC.&#13;
</documentation>
    </annotation>
  </element>
  <complexType abstract="true" name="WFDWaterBodyType">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence>
          <element maxOccurs="unbounded" minOccurs="0" name="geographicalName" nillable="true">
            <annotation>
              <documentation>-- Definition --&#13;
A geographical name that is used to identify a hydrographic object in the real world. It provides a 'key' for implicitly associating different representations of the object.&#13;
&#13;
-- Description --&#13;
EXAMPLE A standing water in a mapping view may share the same geographical name as a WFD lake in a reporting view, implying they are both representations of the same real world object.</documentation>
            </annotation>
            <complexType>
              <sequence>
                <element ref="gn:GeographicalName"/>
              </sequence>
              <attribute name="nilReason" type="gml:NilReasonType"/>
            </complexType>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="hydroId" nillable="true">
            <annotation>
              <documentation>-- Definition --&#13;
An identifier that is used to identify a hydrographic object in the real world. It provides a 'key' for implicitly associating different representations of the object.&#13;
&#13;
-- Description --&#13;
NOTE 1 The identifier may be a national hydrological identification code.&#13;
&#13;
NOTE 2 More than one identifier may be required, for instance a watercourse may be assigned different identifying codes under national and European schemes.&#13;
&#13;
EXAMPLE A lock in a mapping view may share the same identifier as a hydro node in a network view, implying they are both representations of the same real world object.</documentation>
            </annotation>
            <complexType>
              <sequence>
                <element ref="hy:HydroIdentifier"/>
              </sequence>
              <attribute name="nilReason" type="gml:NilReasonType"/>
            </complexType>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="relatedHydroObject" type="gml:ReferenceType">
            <annotation>
              <documentation>-- Definition --&#13;
A related hydrographic object representing the same real-world entity.</documentation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">hy:HydroObject</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element name="beginLifespanVersion" nillable="true">
            <annotation>
              <documentation>-- Definition --&#13;
Date and time at which this version of the spatial object was inserted or changed in the spatial data set.&#13;
</documentation>
            </annotation>
            <complexType>
              <simpleContent>
                <extension base="dateTime">
                  <attribute name="nilReason" type="gml:NilReasonType"/>
                </extension>
              </simpleContent>
            </complexType>
          </element>
          <element minOccurs="0" name="endLifespanVersion" nillable="true">
            <annotation>
              <documentation>-- Definition --&#13;
Date and time at which this version of the spatial object was superseded or retired in the spatial data set.&#13;
</documentation>
            </annotation>
            <complexType>
              <simpleContent>
                <extension base="dateTime">
                  <attribute name="nilReason" type="gml:NilReasonType"/>
                </extension>
              </simpleContent>
            </complexType>
          </element>
          <element name="inspireId" type="base:IdentifierPropertyType">
            <annotation>
              <documentation>-- Definition --&#13;
External object identifier of the spatial object.&#13;
&#13;
-- Description --&#13;
NOTE An external object identifier is a unique object identifier published by the responsible body, which may be used by external applications to reference the spatial object. The identifier is an identifier of the spatial object, not an identifier of the real-world phenomenon.&#13;
</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="WFDWaterBodyPropertyType">
    <sequence minOccurs="0">
      <element ref="wfd:WFDWaterBody"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="WFDTransitionalWater" substitutionGroup="wfd:WFDSurfaceWaterBody" type="wfd:WFDTransitionalWaterType">
    <annotation>
      <documentation>-- Definition --&#13;
Bodies of surface water in the vicinity of river mouths which are partly saline in character as a result of their proximity to coastal waters but which are substantially influenced by freshwater flows.&#13;
&#13;
-- Description --&#13;
SOURCE [2000/60/EC Art. 2(6)].&#13;
&#13;
NOTE All WFD spatial object types are regarded as candidate spatial objects in Annex III theme 'Area management/restriction/regulation zones and reporting units' due to their primary function for reporting under Directive 2000/60/EC.</documentation>
    </annotation>
  </element>
  <complexType name="WFDTransitionalWaterType">
    <complexContent>
      <extension base="wfd:WFDSurfaceWaterBodyType">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="WFDTransitionalWaterPropertyType">
    <sequence minOccurs="0">
      <element ref="wfd:WFDTransitionalWater"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="WFDLake" substitutionGroup="wfd:WFDRiverOrLake" type="wfd:WFDLakeType">
    <annotation>
      <documentation>-- Definition --&#13;
A body of standing inland surface water.&#13;
&#13;
-- Description --&#13;
SOURCE [2000/60/EC Art. 2(5)].&#13;
&#13;
NOTE All WFD spatial object types are regarded as candidate spatial objects in Annex III theme 'Area management/restriction/regulation zones and reporting units' due to their primary function for reporting under Directive 2000/60/EC.</documentation>
    </annotation>
  </element>
  <complexType name="WFDLakeType">
    <complexContent>
      <extension base="wfd:WFDRiverOrLakeType">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="WFDLakePropertyType">
    <sequence minOccurs="0">
      <element ref="wfd:WFDLake"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="WFDCoastalWater" substitutionGroup="wfd:WFDSurfaceWaterBody" type="wfd:WFDCoastalWaterType">
    <annotation>
      <documentation>-- Definition --&#13;
Surface water on the landward side of a line, every point of which is at a distance of one nautical mile on the seaward side from the nearest point of the baseline from which the breadth of territorial waters is measured, extending where appropriate up to the outer limit of transitional waters.&#13;
&#13;
-- Description --&#13;
SOURCE [2000/60/EC Art. 2(7)].&#13;
&#13;
NOTE All WFD spatial object types are regarded as candidate spatial objects in Annex III theme 'Area management/restriction/regulation zones and reporting units' due to their primary function for reporting under Directive 2000/60/EC.</documentation>
    </annotation>
  </element>
  <complexType name="WFDCoastalWaterType">
    <complexContent>
      <extension base="wfd:WFDSurfaceWaterBodyType">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="WFDCoastalWaterPropertyType">
    <sequence minOccurs="0">
      <element ref="wfd:WFDCoastalWater"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element abstract="true" name="WFDRiverOrLake" substitutionGroup="wfd:WFDSurfaceWaterBody" type="wfd:WFDRiverOrLakeType">
    <annotation>
      <documentation>-- Definition --&#13;
Abstract class containing common attributes for a WFD river or lake.&#13;
&#13;
-- Description --&#13;
NOTE All WFD spatial object types are regarded as candidate spatial objects in Annex III theme 'Area management/restriction/regulation zones and reporting units' due to their primary function for reporting under Directive 2000/60/EC.</documentation>
    </annotation>
  </element>
  <complexType abstract="true" name="WFDRiverOrLakeType">
    <complexContent>
      <extension base="wfd:WFDSurfaceWaterBodyType">
        <sequence>
          <element name="large" nillable="true">
            <annotation>
              <documentation>-- Definition --&#13;
Rivers with a catchment area &gt; 50,000 km&lt;sup&gt;2&lt;/sup&gt;; or rivers and main tributaries that have a catchment area between 5,000 km&lt;sup&gt;2&lt;/sup&gt; and 50,000 km&lt;sup&gt;2&lt;/sup&gt;.&#13;
&#13;
Lakes that have a surface area &gt; 500 km&lt;sup&gt;2&lt;/sup&gt;.&#13;
&#13;
-- Description --&#13;
SOURCE [WISE GIS Guidance].&#13;
</documentation>
            </annotation>
            <complexType>
              <simpleContent>
                <extension base="boolean">
                  <attribute name="nilReason" type="gml:NilReasonType"/>
                </extension>
              </simpleContent>
            </complexType>
          </element>
          <element name="main" nillable="true">
            <annotation>
              <documentation>-- Definition --&#13;
Rivers that have a catchment area &gt; 500 km&lt;sup&gt;2&lt;/sup&gt;.&#13;
&#13;
Lakes that have a surface area &gt; 10 km&lt;sup&gt;2&lt;/sup&gt;.&#13;
&#13;
-- Description --&#13;
SOURCE [WISE GIS Guidance].&#13;
</documentation>
            </annotation>
            <complexType>
              <simpleContent>
                <extension base="boolean">
                  <attribute name="nilReason" type="gml:NilReasonType"/>
                </extension>
              </simpleContent>
            </complexType>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="WFDRiverOrLakePropertyType">
    <sequence minOccurs="0">
      <element ref="wfd:WFDRiverOrLake"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element abstract="true" name="WFDSurfaceWaterBody" substitutionGroup="wfd:WFDWaterBody" type="wfd:WFDSurfaceWaterBodyType">
    <annotation>
      <documentation>-- Definition --&#13;
A discrete and significant element of surface water.&#13;
&#13;
-- Description --&#13;
SOURCE [Based on 2000/60/EC Art. 2(10)].&#13;
&#13;
EXAMPLE A lake, a reservoir, a stream, river or canal, part of a stream, river or canal, a transitional water or a stretch of coastal water.&#13;
&#13;
NOTE 1 The surface water bodies shall be identified as falling within either one of the following surface water categories - rivers, lakes, transitional waters or coastal waters - or as artificial surface water bodies or heavily modified surface water bodies. [2000/60/EC Ann. II 1.1(ii)]&#13;
&#13;
NOTE 2 All WFD spatial object types are regarded as candidate spatial objects in Annex III theme 'Area management/restriction/regulation zones and reporting units' due to their primary function for reporting under Directive 2000/60/EC.</documentation>
    </annotation>
  </element>
  <complexType abstract="true" name="WFDSurfaceWaterBodyType">
    <complexContent>
      <extension base="wfd:WFDWaterBodyType">
        <sequence>
          <element name="artificial" type="boolean">
            <annotation>
              <documentation>-- Definition --&#13;
'Artificial water body' means a body of surface water created by human activity.&#13;
&#13;
-- Description --&#13;
SOURCE [2000/60/EC Art. 2(8)].</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="geometry" type="gml:GeometricPrimitivePropertyType">
            <annotation>
              <documentation>-- Definition --&#13;
The geometry of the WFD surface water body:&#13;
- a surface for a WFD coastal water;&#13;
- a surface for a WFD transitional water;&#13;
- a curve for a WFD river;&#13;
- a surface for a WFD lake.&#13;
&#13;
-- Description --&#13;
NOTE A 'representative point' may be supplied instead of the geometry.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="heavilyModified" type="boolean">
            <annotation>
              <documentation>-- Definition --&#13;
'Heavily modified water body' means a body of surface water which as a result of physical alterations by human activity is substantially changed in character, as designated by the Member State in accordance with the provisions of WFD Annex II.&#13;
&#13;
-- Description --&#13;
SOURCE [2000/60/EC Art. 2(9)].</documentation>
            </annotation>
          </element>
          <element name="representativePoint" nillable="true" type="gml:PointPropertyType">
            <annotation>
              <documentation>-- Definition --&#13;
Representative point of the WFD water body.</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="WFDSurfaceWaterBodyPropertyType">
    <sequence minOccurs="0">
      <element ref="wfd:WFDSurfaceWaterBody"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="WFDRiver" substitutionGroup="wfd:WFDRiverOrLake" type="wfd:WFDRiverType">
    <annotation>
      <documentation>-- Definition --&#13;
A body of inland water flowing for the most part on the surface of the land but which may flow underground for part of its course.&#13;
&#13;
-- Description --&#13;
SOURCE [2000/60/EC Art. 2(4)].&#13;
&#13;
NOTE All WFD spatial object types are regarded as candidate spatial objects in Annex III theme 'Area management/restriction/regulation zones and reporting units' due to their primary function for reporting under Directive 2000/60/EC.</documentation>
    </annotation>
  </element>
  <complexType name="WFDRiverType">
    <complexContent>
      <extension base="wfd:WFDRiverOrLakeType">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="WFDRiverPropertyType">
    <sequence minOccurs="0">
      <element ref="wfd:WFDRiver"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
</schema>
