deegree-workspaces/deegree-workspace-alkis/src/main/resources/appschemas/NAS5.1.1_K2/AAA-Katalog.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema targetNamespace="http://www.adv-online.de/namespaces/adv/gid/5.1.1" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ogc="http://www.opengis.net/ogc" xmlns:wfs="http://www.opengis.net/wfs" xmlns:gml="http://www.opengis.net/gml" xmlns:adv="http://www.adv-online.de/namespaces/adv/gid/5.1.1" elementFormDefault="qualified" version="5.1.1">
	<xs:include schemaLocation="AAA-Basisschema.xsd"/>
	<xs:include schemaLocation="ISO-Katalog.xsd"/>
	<xs:import namespace="http://www.opengis.net/gml" schemaLocation="gml/3.0.0/base/gml3nas.xsd"/>
	<!-- Paket AAA_Katalog -->
	<xs:group name="AC_CommonElements">
		<xs:sequence>
			<xs:element name="modellart" minOccurs="0" maxOccurs="unbounded">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="AA_Modellart" type="adv:AA_ModellartType"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="grunddatenbestand" minOccurs="0" maxOccurs="unbounded">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="AA_Modellart" type="adv:AA_ModellartType"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="profil" minOccurs="0" maxOccurs="unbounded">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="AC_Profil" type="adv:AC_ProfilType"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="letzteAenderung" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="AC_LetzteAenderung" type="adv:AC_LetzteAenderungType"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="anmerkung" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:group>
	<xs:element name="AC_FeatureType" type="adv:AC_FeatureTypeType" substitutionGroup="adv:FC_FeatureType"/>
	<xs:complexType name="AC_FeatureTypeType">
		<xs:complexContent>
			<xs:extension base="adv:FC_FeatureTypeType">
				<xs:sequence>
					<xs:group ref="adv:AC_CommonElements"/>
					<xs:element name="wirdTypisiertDurch" type="adv:AC_ObjektTypenBezeichnungType" minOccurs="0"/>
					<xs:element name="erfassungskriterium" minOccurs="0" maxOccurs="unbounded">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="AC_Erfassungskriterium" type="adv:AC_ErfassungskriteriumType"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element name="bildungsregel" minOccurs="0" maxOccurs="unbounded">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="AC_Bildungsregel" type="adv:AC_BildungsregelType"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element name="konsistenzbedingung" minOccurs="0" maxOccurs="unbounded">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="AC_Konsistenzbedingung" type="adv:AC_KonsistenzbedingungType"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element name="lebenszeitintervallbeschreibung" type="xs:string" minOccurs="0"/>
					<xs:element name="diagramm" type="gml:ReferenceType" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="thema" type="gml:ReferenceType" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:appinfo>
								<adv:referenziertesElement>adv:AC_Thema</adv:referenziertesElement>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="AC_ObjektTypenBezeichnungType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="REO"/>
			<xs:enumeration value="NREO"/>
			<xs:enumeration value="ZUSO"/>
			<xs:enumeration value="PMO"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:element name="AC_Typensammlung" type="adv:AC_TypensammlungType" abstract="true" substitutionGroup="gml:Dictionary"/>
	<xs:complexType name="AC_TypensammlungType" abstract="true">
		<xs:complexContent>
			<xs:extension base="gml:DictionaryType">
				<xs:sequence>
					<xs:element name="diagramm" type="gml:ReferenceType" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="anmerkung" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="AC_Objektartengruppe" type="adv:AC_ObjektartengruppeType" substitutionGroup="adv:AC_Typensammlung"/>
	<xs:complexType name="AC_ObjektartengruppeType">
		<xs:complexContent>
			<xs:extension base="adv:AC_TypensammlungType"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="AC_Objektartenbereich" type="adv:AC_ObjektartenbereichType" substitutionGroup="adv:AC_Typensammlung"/>
	<xs:complexType name="AC_ObjektartenbereichType">
		<xs:complexContent>
			<xs:extension base="adv:AC_TypensammlungType"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="AC_Thema" type="adv:AC_ThemaType" substitutionGroup="gml:Definition"/>
	<xs:complexType name="AC_ThemaType">
		<xs:complexContent>
			<xs:extension base="gml:DefinitionType">
				<xs:sequence>
					<!-- Informationen stehen derzeit nicht im Katalog zur Verfügung
					<xs:element name="art" type="adv:AC_ThemenartType"/>
					<xs:element name="modellart">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="AA_Modellart" type="adv:AA_ModellartType"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>-->
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="AC_ThemenartType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="alleObjekte"/>
			<xs:enumeration value="anwenderdefiniert"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:element name="AC_FeatureCatalogue" type="adv:AC_FeatureCatalogueType" substitutionGroup="adv:FC_FeatureCatalogue"/>
	<xs:complexType name="AC_FeatureCatalogueType">
		<xs:complexContent>
			<xs:extension base="adv:FC_FeatureCatalogueType">
				<xs:sequence>
					<xs:element name="profil" minOccurs="0" maxOccurs="unbounded">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="AC_Profil" type="adv:AC_ProfilType"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="AC_FeatureAttribute" type="adv:AC_FeatureAttributeType" substitutionGroup="adv:FC_FeatureProperty"/>
	<xs:complexType name="AC_FeatureAttributeType">
		<xs:complexContent>
			<xs:extension base="adv:FC_FeatureAttributeType">
				<xs:sequence>
					<xs:group ref="adv:AC_CommonElements"/>
					<xs:element name="objektbildend" type="xs:boolean" default="false"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="AC_ListedValue" type="adv:AC_ListedValueType" substitutionGroup="adv:FC_ListedValue"/>
	<xs:complexType name="AC_ListedValueType">
		<xs:annotation>
			<xs:documentation>
Value for an enumerated feature attribute domain, including its codes and interpretation.
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="adv:FC_ListedValueType">
				<xs:sequence>
					<xs:group ref="adv:AC_CommonElements"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="AC_AssociationRole" type="adv:AC_AssociationRoleType" substitutionGroup="adv:FC_AssociationRole"/>
	<xs:complexType name="AC_AssociationRoleType">
		<xs:complexContent>
			<xs:extension base="adv:FC_AssociationRoleType">
				<xs:sequence>
					<xs:group ref="adv:AC_CommonElements"/>
					<xs:element name="objektbildend" type="xs:boolean" default="false"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="AC_FeatureOperation" type="adv:AC_FeatureOperationType" substitutionGroup="adv:FC_FeatureOperation"/>
	<xs:complexType name="AC_FeatureOperationType">
		<xs:complexContent>
			<xs:extension base="adv:FC_FeatureOperationType">
				<xs:sequence>
					<xs:group ref="adv:AC_CommonElements"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="AC_ErfassungskriteriumType">
		<xs:sequence>
			<xs:element name="kriterium" type="xs:string"/>
			<xs:element name="modellart" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="AA_Modellart" type="adv:AA_ModellartType"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AC_BildungsregelType">
		<xs:sequence>
			<xs:element name="regel" type="xs:string"/>
			<xs:element name="modellart" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="AA_Modellart" type="adv:AA_ModellartType"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AC_KonsistenzbedingungType">
		<xs:sequence>
			<xs:element name="bedingung" type="xs:string"/>
			<xs:element name="modellart" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="AA_Modellart" type="adv:AA_ModellartType"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="AC_DataType" type="adv:AC_DataTypeType" substitutionGroup="gml:Dictionary"/>
	<xs:complexType name="AC_DataTypeType">
		<xs:complexContent>
			<xs:extension base="gml:DictionaryType">
				<xs:sequence>
					<xs:element name="isAbstract" type="xs:boolean" default="false"/>
					<xs:element name="kategorie" type="adv:AC_DataTypeKategorieType"/>
					<xs:element name="constrainedBy" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
					<xs:group ref="adv:AC_CommonElements"/>
					<xs:element name="konsistenzbedingung" minOccurs="0" maxOccurs="unbounded">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="AC_Konsistenzbedingung" type="adv:AC_KonsistenzbedingungType"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="AC_DataTypeKategorieType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="DataType"/>
			<xs:enumeration value="Union"/>
			<xs:enumeration value="Request"/>
			<xs:enumeration value="Response"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="AC_ProfilType">
		<xs:sequence>
			<xs:element name="modellart">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="AA_Modellart" type="adv:AA_ModellartType"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="profilname" type="gml:CodeType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AC_LetzteAenderungType">
		<xs:sequence>
			<xs:element name="letzteAenderungVersion" type="xs:string"/>
			<xs:element name="letzteAenderungRevisionsnummer" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
