deegree-datastores/deegree-tilestores/deegree-tilestore-layer/src/main/resources/META-INF/schemas/datasource/tile/layer/3.4.0/layer.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://www.w3.org/2001/XMLSchema"
  targetNamespace="http://www.deegree.org/datasource/tile/layer" xmlns:t="http://www.deegree.org/datasource/tile/layer"
  elementFormDefault="qualified" xmlns:jaxb="http://java.sun.com/xml/ns/jaxb" jaxb:version="2.1">

  <annotation>
    <appinfo>
      <jaxb:schemaBindings>
        <jaxb:package name="org.deegree.tile.layer.persistence.jaxb" />
      </jaxb:schemaBindings>
    </appinfo>
  </annotation>

  <element name="LayerTileStore">
    <annotation>
      <appinfo>
        <jaxb:class name="LayerTileStoreJAXB" />
      </appinfo>
    </annotation>
    <complexType>
      <sequence maxOccurs="unbounded">
        <element name="TileDataSet">
          <complexType>
            <sequence>
              <element name="Identifier" type="string" minOccurs="0" />
              <element name="TileMatrixSetId" type="string" />
              <element name="LayerStoreId" type="string" />
              <element name="LayerName" type="string" />
            </sequence>
          </complexType>
        </element>
      </sequence>
      <attribute name="configVersion" use="required" fixed="3.4.0" />
    </complexType>
  </element>

</schema>
