deegree-core/deegree-core-theme/src/main/resources/META-INF/schemas/themes/3.1.0/themes.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- This file is part of deegree, for copyright/license information, please visit http://www.deegree.org/license. -->
<schema xmlns:t="http://www.deegree.org/themes/standard" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2001/XMLSchema"
  targetNamespace="http://www.deegree.org/themes/standard" elementFormDefault="qualified" xmlns:jaxb="http://java.sun.com/xml/ns/jaxb"
  jaxb:version="2.1" xmlns:d="http://www.deegree.org/metadata/description">

  <import namespace="http://www.deegree.org/metadata/description" schemaLocation="../../../../../../../target/schemas/META-INF/schemas/description/3.1.0/description.xsd" />

  <annotation>
    <appinfo>
      <jaxb:schemaBindings>
        <jaxb:package name="org.deegree.theme.persistence.standard.jaxb" />
      </jaxb:schemaBindings>
    </appinfo>
  </annotation>

  <complexType name="ThemeType">
    <sequence>
      <choice>
        <element name="Metadata">
          <complexType>
            <attribute name="fromLayer" type="boolean" />
          </complexType>
        </element>
        <sequence>
          <!-- TODO also implement stuff like bounding box/abstract etc. -->
          <element name="Identifier" type="string" minOccurs="0" />
          <group ref="d:Description" />
          <element name="CRS" type="string" minOccurs="0" />
        </sequence>
      </choice>
      <element name="Layer" minOccurs="0" maxOccurs="unbounded">
        <complexType>
          <simpleContent>
            <extension base="string">
              <attribute name="layerStore" type="string" use="optional" />
            </extension>
          </simpleContent>
        </complexType>
      </element>
      <element name="Theme" type="t:ThemeType" minOccurs="0" maxOccurs="unbounded" />
    </sequence>
  </complexType>

  <element name="Themes">
    <complexType>
      <sequence>
        <element name="LayerStoreId" type="string" minOccurs="0" maxOccurs="unbounded" />
        <element name="Theme" type="t:ThemeType" />
      </sequence>
      <attribute name="configVersion" use="required" type="t:ConfigVersionType" />
    </complexType>
  </element>

  <simpleType name="ConfigVersionType">
    <restriction base="string">
      <enumeration value="3.1.0" />
    </restriction>
  </simpleType>

</schema>
