deegree-demos/deegree-wfs-geosciml/src/main/webapp/WEB-INF/conf/data/feature/schemas/geosciml/2.0/geologicAge.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema version="2.0.2" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml" xmlns:gsml="urn:cgi:xmlns:CGI:GeoSciML:2.0" xmlns:gmd="http://www.isotc211.org/2005/gmd" targetNamespace="urn:cgi:xmlns:CGI:GeoSciML:2.0" elementFormDefault="qualified" attributeFormDefault="unqualified"><!-- Schema auto-generated by FullMoon, applying rule suite xmi11ea -->
    <annotation>
        <documentation>The GeoSciML GeologicAge package contains classes to support the description of geologic ages. 

A geologic age is related to a particular GeologicEvent, during which one or more geological processes act to modify geological entities. 

v2.0.1 - all links to elements in GMD namespace 'by reference'
v2.0.2 - inserted XML declaration
        </documentation>
    </annotation>
    <import namespace="http://www.opengis.net/gml" schemaLocation="http://schemas.opengis.net/gml/3.1.1/base/gml.xsd"/>
    <include schemaLocation="geosciml.xsd"/>
    <element name="GeologicEvent" substitutionGroup="gml:_Feature" type="gsml:GeologicEventType">
        <annotation>
            <documentation>An identifiable event during which one or more geological processes act to modify geological entities. A GeologicEvent must have a specified GeologicAge and may have specified environments and processes.  An example might be a cratonic uplift event during which erosion, sedimentation, and volcanism all take place.

Geological history is an ordered aggregation of Geological Event objects, each of which may have an associated Geological Age, Geological Environment, and one or more Geological Process objects. Genesis typically pertains to some geological phenomenon (Geological Structure, Earth Material, Geological Unit, Fossil, etc.)

In GeoSciML 2.0 this ordering cannot be specified.

A GeologicEvent must have a specified eventAge, at least one eventProcess, and may have specified eventEnvironments.  An example might be a cratonic uplift event during which erosion, sedimentation, and volcanism all take place. Traditionally, geologists have described the age of a feature without explicitly specifying the event or processes the age related to. The GeologicEvent package allows for explicitly linking the three, without mandating it.

The eventAge attribute is the age of a particular geological event or feature expressed in terms of years before present (absolute age), referred to the geological time scale, or by comparison with other geological events or features (relative age). An eventAge can represent an instant in time, an interval of time, or any combination of multiple instants or intervals. Specifications of age in years before present are based on determination of time durations based on interpretation of isotopic analyses of EarthMaterial (some other methods are used for geologically young materials). Ages referred to geological time scales are essentially based on correlation of a geological unit with a standard chronostratigraphic unit that serves as a reference. Relative ages are based on relationships between geological units such as superposition, intruded by, cross-cuts, or "contains inclusions of".</documentation>
        </annotation>
    </element>
    <complexType name="GeologicEventType">
        <complexContent>
            <extension base="gml:AbstractFeatureType">
                <sequence>
                    <element name="eventAge" type="gsml:CGI_ValuePropertyType">
                        <annotation>
                            <documentation>The eventAge attribute is the age of a particular geological event or feature expressed in terms of years before present (absolute age), referred to the geological time scale, or by comparison with other geological events or features (relative age).  An eventAge can represent an instant in time, an interval of time, or any combination of multiple instants or intervals.  Specifications of age in years before present are based on determination of time durations based on interpretation of isotopic analyses of EarthMaterial (some other methods are used for geologically young materials).  Ages referred to geological time scales are essentially based on correlation of a geological unit with a standard chronostratigraphic unit that serves as a reference.  Relative ages are based on relationships between geological units such as superposition, intruded by, cross-cuts, or 'contains inclusions of'</documentation>
                        </annotation>
                    </element>
                    <element maxOccurs="unbounded" minOccurs="0" name="eventEnvironment" type="gsml:CGI_TermValuePropertyType">
                        <annotation>
                            <documentation>The physical setting within which a GeologicEvent takes place.  GeologicEnvironment is construed broadly to include physical settings on the Earth surface specified by climate, tectonics, physiography or geography, and settings in the Earth?s interior specified by pressure, temperature, chemical environment, or tectonics. Specification of setting may be a simple text description or a link to a complex description.  </documentation>
                        </annotation>
                    </element>
                    <element maxOccurs="unbounded" minOccurs="1" name="eventProcess" type="gsml:CGI_TermValuePropertyType">
                        <annotation>
                            <documentation>A geologicProcess is a function, possibly complex, that acts on one geologic entity to produce another geologic entity at a later time. GeologicProcess is time independent; some GeologicProcesses are presently observable in the world or in the laboratory, others can only be inferred from observing the results of the process. Processes take one or more of EarthMaterial, GeologicUnit, or GeologicStructure as input and have one or more of EarthMaterial, GeologicUnit or GeologicStructure as output.</documentation>
                        </annotation>
                    </element>
                    <element maxOccurs="1" minOccurs="0" name="metadata" type="gml:ReferenceType">
                        <annotation>
                            <appinfo>
                                <gml:targetElement>gmd:MD_Metadata</gml:targetElement>
                            </appinfo>
                            <documentation>Specifies the metadata associated with the GeologicEvent</documentation>
                        </annotation>
                    </element>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="GeologicEventPropertyType">
        <sequence minOccurs="0">
            <element ref="gsml:GeologicEvent"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
    </complexType>
</schema>