deegree-demos/deegree-geosciml-demo/src/main/webapp/WEB-INF/conf/datasources/feature/schemas/cgiutilities/1.0/xsd/primitiveTypes.xsd

<?xml version="1.0" encoding="ISO-8859-1"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml" xmlns:cgu="urn:cgi:xmlns:CGI:Utilities:1.0" targetNamespace="urn:cgi:xmlns:CGI:Utilities:1.0" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<annotation>
		<documentation>This package contains classes that have a canonical encoding so must be packaged separately from
            the packages from which the XML encoding will be generated automatically.</documentation>
	</annotation>
	<import namespace="http://www.opengis.net/gml" schemaLocation="http://schemas.opengis.net/gml/3.1.1/base/gml.xsd"/>
	<import namespace="http://www.w3.org/XML/1998/namespace" schemaLocation="http://schemas.opengis.net/gml/3.1.1/smil/xml-mod.xsd">
		<annotation>
			<documentation>This modified copy of xml.xsd is used with GML 3.1 applications, because of a bug in SMIL used in GML Portrayal schemas. 
			The import should revert to the usual location for the namespace schema - i.e. http://www.w3.org/2001/xml.xsd - when the GML 3.1 depdendency is removed</documentation>
		</annotation>
	</import>
	<element name="LocalizedScopedName" type="cgu:LocalizedScopedNameType" substitutionGroup="gml:name"/>
	<complexType name="LocalizedScopedNameType">
		<annotation>
			<documentation>add required xml:lang attribute</documentation>
		</annotation>
		<simpleContent>
			<extension base="cgu:CodeWithAuthorityType">
				<attribute ref="xml:lang" use="required"/>
			</extension>
		</simpleContent>
	</complexType>
	<element name="LocalizedGenericName" type="cgu:LocalizedGenericNameType" substitutionGroup="gml:name"/>
	<complexType name="LocalizedGenericNameType">
		<annotation>
			<documentation>add required xml:lang attribute</documentation>
		</annotation>
		<simpleContent>
			<extension base="gml:CodeType">
				<attribute ref="xml:lang" use="required"/>
			</extension>
		</simpleContent>
	</complexType>
	<element name="LocalizableScopedName" type="cgu:LocalizableScopedNameType" substitutionGroup="gml:name"/>
	<complexType name="LocalizableScopedNameType">
		<annotation>
			<documentation>add optional xml:lang attribute</documentation>
		</annotation>
		<simpleContent>
			<extension base="cgu:CodeWithAuthorityType">
				<attribute ref="xml:lang"/>
			</extension>
		</simpleContent>
	</complexType>
	<element name="LocalizableGenericName" type="cgu:LocalizableGenericNameType" substitutionGroup="gml:name"/>
	<complexType name="LocalizableGenericNameType">
		<annotation>
			<documentation>add optional xml:lang attribute</documentation>
		</annotation>
		<simpleContent>
			<extension base="gml:CodeType">
				<attribute ref="xml:lang"/>
			</extension>
		</simpleContent>
	</complexType>
	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
         NOTE: "CodeWithAuthorityType" is a GML component that is temporarily
         defined in this namespace. It is defined in GML 3.2 and should be
         removed after CGI schemas are migrated from GML 3.1 to GML 3.2.
         ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
	<complexType name="CodeWithAuthorityType">
		<annotation>
			<documentation>gml:CodeWithAuthorityType requires that the codeSpace attribute is provided in an
            instance.</documentation>
		</annotation>
		<simpleContent>
			<restriction base="gml:CodeType">
				<attribute name="codeSpace" type="anyURI" use="required"/>
			</restriction>
		</simpleContent>
	</complexType>
	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
	<complexType name="WildCardPropertyType">
		<annotation>
			<documentation>A wildcard for use in properties</documentation>
		</annotation>
		<sequence minOccurs="0">
			<any namespace="##any" processContents="lax"/>
		</sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
	</complexType>
</schema>