deegree-workspaces/deegree-workspace-geosciml/src/main/workspace/appschemas/geosciml/3.0/laboratoryanalysis-specimen/3.0/laboratoryAnalysis.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" 
	xmlns:gml="http://www.opengis.net/gml/3.2" 
	xmlns:gmd="http://www.isotc211.org/2005/gmd" 
	xmlns:om="http://www.opengis.net/om/2.0" 
	xmlns:sam="http://www.opengis.net/sampling/2.0" 
	xmlns:gsmlla="http://xmlns.geosciml.org/LaboratoryAnalysis-Specimen/3.0" 
	targetNamespace="http://xmlns.geosciml.org/LaboratoryAnalysis-Specimen/3.0" elementFormDefault="qualified" attributeFormDefault="unqualified" version="3.0.0">
	<!-- Schema auto-generated by FullMoon, applying rule suite xmi11ea -->
	<annotation>
		<documentation>The LaboratoryAnalysis leaf package describes processes, instruments and result quality associated with quantitative analysis of samples.</documentation>
	</annotation>
	<import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
	<import namespace="http://www.isotc211.org/2005/gmd" schemaLocation="http://schemas.opengis.net/iso/19139/20070417/gmd/gmd.xsd"/>
	<import namespace="http://www.opengis.net/om/2.0" schemaLocation="http://schemas.opengis.net/om/2.0/observation.xsd"/>
	<import namespace="http://www.opengis.net/sampling/2.0" schemaLocation="http://schemas.opengis.net/sampling/2.0/samplingFeature.xsd"/>
	<include schemaLocation="http://schemas.geosciml.org/laboratoryanalysis-specimen/3.0/geologicSpecimen.xsd"/>
	<element name="AnalyticalProcess" type="gsmlla:AnalyticalProcessType">
		<annotation>
			<documentation>Concrete implementation of OM_Process.  Links to an analytical session (data acquisition) or a computational process which produce analytical results.</documentation>
		</annotation>
	</element>
	<complexType name="AnalyticalProcessType">
		<complexContent>
			<extension base="gml:AbstractFeatureType">
				<sequence>
					<element name="method" type="gsmlla:AnalyticalMethodPropertyType">
						<annotation>  
							<documentation>Identifies the type of analytical method used to make an observation.</documentation>
						</annotation>
					</element>
					<element name="acquisition" type="gsmlla:AnalyticalSessionPropertyType" nillable="true">
						<annotation>  
							<documentation>Describes the analytical session (eg, laboratory session) in which an observation was made and data acquired.</documentation>
						</annotation>
					</element>
					<element name="computation" type="gmd:LI_ProcessStep_PropertyType" nillable="true">
						<annotation>   
							<documentation>Description of a computational process used to obtain an observation result.</documentation>
						</annotation>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="AnalyticalProcessPropertyType">
		<sequence minOccurs="0">
			<element ref="gsmlla:AnalyticalProcess"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
	<element name="AnalyticalInstrument" type="gsmlla:AnalyticalInstrumentType" substitutionGroup="gml:AbstractFeature">
		<annotation>
			<documentation>Type of instrument used to perform an analytical observation</documentation>
		</annotation>
	</element>
	<complexType name="AnalyticalInstrumentType">
		<complexContent>
			<extension base="gml:AbstractFeatureType">
				<sequence>
					<element name="type" type="gml:ReferenceType">
						<annotation>
							<appinfo>
								<gml:targetElement>gsmlla:InstrumentTypeTerm</gml:targetElement>
							</appinfo>
							<documentation>The category of instrument used in an analytical session (eg; XRF, ICPMS, SHRIMP, etc)</documentation>
						</annotation>
					</element>
					<element name="model" nillable="true">  
						<annotation>
							<documentation>An optional text string to identify the model of instrument used. (eg instrument type = XRD, model = Siemens Diffraktometer D500)</documentation>
						</annotation>
						<complexType> 
							<simpleContent>
								<extension base="string">
									<attribute name="nilReason" type="gml:NilReasonType"/>
								</extension>
							</simpleContent>
						</complexType>
					</element>
					<element name="serialNumber" nillable="true">
						<annotation>
							<documentation>An optional text string for the serial number of the machine used in an analytical session.</documentation>
						</annotation>
						<complexType>  
							<simpleContent>
								<extension base="string">
									<attribute name="nilReason" type="gml:NilReasonType"/>
								</extension>
							</simpleContent>
						</complexType>
					</element>
					<element name="commissionDate" type="gml:TimeInstantPropertyType" nillable="true">
						<annotation>
							<documentation>The date of the commissioning of an instrument (optional)</documentation>
						</annotation>
					</element>
					<element name="location" type="gmd:CI_ResponsibleParty_PropertyType" nillable="true">
						<annotation>
							<documentation>The location and owner of an instrument</documentation>
						</annotation>
					</element>
					<element name="usedIn" type="gsmlla:AnalyticalSessionPropertyType" nillable="true" minOccurs="1" maxOccurs="unbounded">
						<annotation> 
							<documentation>Identifies one or more analytical sessions which used this instrument</documentation>
						</annotation>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="AnalyticalInstrumentPropertyType">
		<sequence minOccurs="0">
			<element ref="gsmlla:AnalyticalInstrument"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
	<element name="AnalyticalSession" type="gsmlla:AnalyticalSessionType" substitutionGroup="gml:AbstractFeature">
		<annotation>
			<documentation>This class describes the time and operator of a particular laboratory analytical session. AnalyticalSession also has associated links to the type of instrument and analytical method used, processing steps applied to data collected during a session, and instrument parameters unique to that session.</documentation>
		</annotation>
	</element>
	<complexType name="AnalyticalSessionType">
		<complexContent>
			<extension base="gml:AbstractFeatureType">
				<sequence>
					<element name="time" type="gml:TimePeriodPropertyType">
						<annotation>
							<documentation>The time period during which the analysis was performed</documentation>
						</annotation>
					</element>
					<element name="operator" type="gmd:CI_ResponsibleParty_PropertyType">
						<annotation>
							<documentation>The name of the operator or organisation responsible for the analytical session</documentation>
						</annotation>
					</element>
					<element name="parameter" type="om:NamedValuePropertyType" nillable="true" minOccurs="1" maxOccurs="unbounded">
						<annotation>
							<documentation>This association is analogous to the "parameter" attribute of OM_Observation, but in this case describes environmental or instrument setting parameters that apply to an entire analytical session (eg, voltage, current, temperature, vacuum).  The "name" attribute of NamedValue is implemented in OMXML as a byReference URI to a controlled list.</documentation>
						</annotation>
					</element>
					<element name="instrument" type="gsmlla:AnalyticalInstrumentPropertyType" nillable="true">
						<annotation> 
							<documentation>Identifies the instrument used in the analytical session</documentation>
						</annotation>
					</element>
					<element name="referenceAnalyses" type="gsmlla:ReferenceSpecimenPropertyType" nillable="true" minOccurs="1" maxOccurs="unbounded">
						<annotation> 
							<documentation>Describes any reference specimens (ie, standards, blanks) used in the analytical session.</documentation>
						</annotation>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="AnalyticalSessionPropertyType">
		<sequence minOccurs="0">
			<element ref="gsmlla:AnalyticalSession"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
	<element name="Image" type="gsmlla:ImageType" substitutionGroup="sam:SF_SamplingFeature">
		<annotation>
			<documentation>Use gml:description for xlink:href URL to a photographic image.  SF_Process = camera. For example, photographs of ion microprobe grain mounts.</documentation>
		</annotation>
	</element>
	<complexType name="ImageType">
		<complexContent>
			<extension base="sam:SF_SamplingFeatureType"/>
		</complexContent>
	</complexType>
	<complexType name="ImagePropertyType">
		<sequence minOccurs="0">
			<element ref="gsmlla:Image"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
	<element name="AnalyticalMethod" type="gsmlla:AnalyticalMethodType" substitutionGroup="gml:AbstractGML">
		<annotation>
			<documentation>Name, and published citation (nillable), of the analytical method used in an analytical session</documentation>
		</annotation>
	</element>
	<complexType name="AnalyticalMethodType">
		<complexContent>
			<extension base="gml:AbstractGMLType">
				<sequence>
					<element name="methodName" type="gml:ReferenceType">
						<annotation>
							<documentation>Reference to a controlled vocabulary of names of analytical method used in a session (eg; XRF mass spectrometry, ICPMS, SHRIMP geochronology)</documentation>
						</annotation>
					</element>
					<element name="citation" type="gmd:CI_Citation_PropertyType" nillable="true"> 
						<annotation>
							<documentation>A published description of a particular analytical method (eg; a standard operating procedure document).  This attribute is nillable if such a document does not exist.</documentation>
						</annotation>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="AnalyticalMethodPropertyType">
		<sequence minOccurs="0">
			<element ref="gsmlla:AnalyticalMethod"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
</schema>
