deegree-datastores/deegree-tilestores/deegree-tilestore-filesystem/src/main/resources/META-INF/schemas/datasource/tile/filesystem/filesystem.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:md="http://www.deegree.org/metadata/spatial"
  targetNamespace="http://www.deegree.org/datasource/tile/filesystem" xmlns:t="http://www.deegree.org/datasource/tile/filesystem"
  elementFormDefault="qualified" xmlns:jaxb="http://java.sun.com/xml/ns/jaxb" jaxb:version="2.1">

  <import namespace="http://www.deegree.org/metadata/spatial" schemaLocation="../../../commons/spatialmetadata/spatialmetadata.xsd" />

  <annotation>
    <appinfo>
      <jaxb:schemaBindings>
        <jaxb:package name="org.deegree.tile.persistence.filesystem.jaxb" />
      </jaxb:schemaBindings>
    </appinfo>
  </annotation>

  <element name="FileSystemTileStore">
    <annotation>
      <documentation>TileStore that is backed by a directory of image files on the file system.</documentation>
      <appinfo>
        <jaxb:class name="FileSystemTileStoreJAXB" />
      </appinfo>
    </annotation>
    <complexType>
      <sequence maxOccurs="unbounded">
        <element name="TileDataSet">
          <complexType>
            <sequence>
              <element name="Identifier" type="string" minOccurs="0">
                <annotation>
                  <documentation>Uses the name of the layer directory by default</documentation>
                </annotation>
              </element>
              <element name="TileDataSetBase" minOccurs="0">
                <complexType>
                  <simpleContent>
                    <extension base="string">
                      <attribute name="tileStoreId" type="string" use="required" />
                    </extension>
                  </simpleContent>
                </complexType>
              </element>
              <element name="TileMatrixSetId" type="string" />
              <element name="TileCacheDiskLayout">
                <annotation>
                  <documentation>Use disk layout as defined by TileCache (http://www.tilecache.org)</documentation>
                </annotation>
                <complexType>
                  <sequence>
                    <element name="LayerDirectory" type="string" />
                    <element name="FileType" type="string" />
                  </sequence>
                </complexType>
              </element>
            </sequence>
          </complexType>
        </element>
      </sequence>
      <attribute name="configVersion" type="string" use="optional"/>
    </complexType>
  </element>
</schema>