resources/schema/feature/0.3.0/postgis_appschema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns:ft="http://www.deegree.org/feature/featuretype"
  xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2001/XMLSchema"
  xmlns:xml="http://www.w3.org/XML/1998/namespace" targetNamespace="http://www.deegree.org/feature/featuretype"
  elementFormDefault="qualified" attributeFormDefault="unqualified"
  xmlns:jaxb="http://java.sun.com/xml/ns/jaxb" jaxb:version="2.1">
  <annotation>
    <appinfo>
      <jaxb:schemaBindings>
        <jaxb:package name="org.deegree.feature.persistence.postgis.jaxbconfig" />
      </jaxb:schemaBindings>
    </appinfo>
  </annotation>
  <!--
    === Root element (container for all feature type declarations) ===
  -->
  <element name="ApplicationSchema">
    <annotation>
      <documentation>Root element (container for all feature type
        declarations)</documentation>
      <appinfo>
        <jaxb:class name="ApplicationSchemaDecl" />
      </appinfo>
    </annotation>
    <complexType>
      <sequence>
        <element ref="ft:GlobalMappingHints" />      
        <element ref="ft:FeatureType" minOccurs="1" maxOccurs="unbounded" />
      </sequence>
    </complexType>
  </element>
  <!--
    === Feature type definition ===
  -->
  <element name="FeatureType" type="ft:FeatureTypeType" />
  <complexType name="FeatureTypeType">
    <annotation>
      <documentation>Declaration of a feature type of the schema.</documentation>
      <appinfo>
        <jaxb:class name="FeatureTypeDecl" />
      </appinfo>
    </annotation>
    <sequence>
      <element ref="ft:FeatureTypeMappingHints"/>
      <element ref="ft:AbstractProperty" minOccurs="0" maxOccurs="unbounded" />
    </sequence>
    <attribute name="name" type="QName">
      <annotation>
        <documentation>
          Qualified name of the feature type.
          </documentation>
      </annotation>
    </attribute>
    <attribute name="abstract" type="boolean" use="optional">
      <annotation>
        <documentation>
          If true, the feature type is abstract and cannot be
          instantiated.
          </documentation>
      </annotation>
    </attribute>
    <attribute name="substitutionGroup" type="QName" use="optional">
      <annotation>
        <documentation>
          Name of the feature type that this feature type may
          substitute, i.e. features of this type may be used wherever the
          other
          type is requested.
          </documentation>
      </annotation>
    </attribute>
    <attribute name="javaClass" type="string" use="optional">
      <annotation>
        <documentation>
          Optional: Name of the java class used to represent
          instances of this feature type in memory. 
          </documentation>
      </annotation>
    </attribute>
  </complexType>
  <!--
    === Abstract property definition ===
  -->
  <element name="AbstractProperty" type="ft:AbstractPropertyType"
    abstract="true" />
  <complexType name="AbstractPropertyType" abstract="true">
    <annotation>
      <documentation>Declaration of a property of a feature type.</documentation>
      <appinfo>
        <jaxb:class name="AbstractPropertyDecl" />
      </appinfo>
    </annotation>
    <attribute name="name" type="QName">
      <annotation>
        <documentation>
          Qualified name of the property.
        </documentation>
      </annotation>
    </attribute>
    <attribute name="minOccurs" type="nonNegativeInteger" use="optional">
      <annotation>
        <documentation>
          The minimum number of times that values for this
          parameter are required in an Execute request. If "0", this data input
          is optional. If
          greater than "0" then this process input is required.
        </documentation>
      </annotation>
    </attribute>
    <attribute name="maxOccurs" use="optional">
      <annotation>
        <documentation>
          The maximum number of times that values for this
          parameter are permitted in an Execute request. If "1" then this
          parameter may appear only
          once in an Execute request. If greater than
          "1", then this input parameter may appear that many times in an
          Execute request.
        </documentation>
      </annotation>
      <simpleType>
        <union memberTypes="positiveInteger">
          <simpleType>
            <restriction base="token">
              <enumeration value="unbounded" />
            </restriction>
          </simpleType>
        </union>
      </simpleType>
    </attribute>
  </complexType>
  <!--
    === Simple property definition ===
  -->
  <element name="SimpleProperty" substitutionGroup="ft:AbstractProperty">
    <complexType>
      <annotation>
        <documentation>Definition of a simple property of a feature type.</documentation>
        <appinfo>
          <jaxb:class name="SimplePropertyDecl" />
        </appinfo>
      </annotation>
      <complexContent>
        <extension base="ft:AbstractPropertyType">
          <sequence>
            <element ref="ft:SimplePropertyMapping"/>
          </sequence>
          <attribute name="type" type="ft:PrimitiveType">
            <annotation>
              <documentation>
                Type of the property.
                </documentation>
            </annotation>
          </attribute>
        </extension>
      </complexContent>
    </complexType>
  </element>
  <simpleType name="PrimitiveType">
    <restriction base="string">
      <enumeration value="STRING">
        <annotation>
          <documentation>String-valued property (=xs:string)</documentation>
        </annotation>
      </enumeration>
      <enumeration value="BOOLEAN">
        <annotation>
          <documentation>Boolean-valued property (=xs:boolean)</documentation>
        </annotation>
      </enumeration>
      <enumeration value="DECIMAL">
        <annotation>
          <documentation>Decimal-valued property (=xs:decimal)</documentation>
        </annotation>
      </enumeration>
      <enumeration value="DOUBLE">
        <annotation>
          <documentation>Double-valued property (=xs:double)</documentation>
        </annotation>
      </enumeration>
      <enumeration value="INTEGER">
        <annotation>
          <documentation>Integer-valued property (=xs:integer)</documentation>
        </annotation>
      </enumeration>      
      <enumeration value="DATE">
        <annotation>
          <documentation>Date-valued property (=xs:date)</documentation>
        </annotation>
      </enumeration>
      <enumeration value="DATE_TIME">
        <annotation>
          <documentation>Date-valued property (=xs:dateTime)</documentation>
        </annotation>        
      </enumeration>
      <enumeration value="TIME">
        <annotation>
          <documentation>Time-valued property (=xs:time)</documentation>
        </annotation>        
      </enumeration>      
      <!-- TODO other primitive data types -->
    </restriction>
  </simpleType>
  <!--
    === Feature property definition ===
  -->
  <element name="FeatureProperty" substitutionGroup="ft:AbstractProperty">
    <complexType>
      <annotation>
        <documentation>Definition of a feature-valued property of a
          feature type.</documentation>
        <appinfo>
          <jaxb:class name="FeaturePropertyDecl" />
        </appinfo>
      </annotation>
      <complexContent>      
        <extension base="ft:AbstractPropertyType">
          <sequence>
            <element ref="ft:FeaturePropertyMapping"/>
          </sequence>
          <attribute name="type" type="QName" use="optional">
            <annotation>
              <documentation>
                Defines the allowed content, i.e. the name of the
                type of the allowed features.
            </documentation>
            </annotation>
          </attribute>
        </extension>
      </complexContent>
    </complexType>
  </element>
  <!--
    === Geometry property definition ===
  -->
  <element name="GeometryProperty" substitutionGroup="ft:AbstractProperty">
    <complexType>
      <annotation>
        <documentation>Definition of a geometry-valued property of a
          feature type.</documentation>
        <appinfo>
          <jaxb:class name="GeometryPropertyDecl" />
        </appinfo>
      </annotation>
      <complexContent>
        <extension base="ft:AbstractPropertyType">
          <sequence>
            <element ref="ft:GeometryPropertyMapping"/>
          </sequence>        
          <attribute name="type" type="ft:GeometryType">
            <annotation>
              <documentation>
                Allowed geometry values.
            </documentation>
            </annotation>
          </attribute>
          <attribute name="coordinateDimension" use="optional">
            <annotation>
              <documentation>
                Dimensionality of the geometry coordinates.
            </documentation>
            </annotation>
            <simpleType>
              <restriction base="NMTOKENS">
                <enumeration value="2D" />
                <enumeration value="3D" />
                <enumeration value="2D or 3D" />
              </restriction>
            </simpleType>
          </attribute>
        </extension>
      </complexContent>
    </complexType>
  </element>
  <simpleType name="GeometryType">
    <restriction base="string">
      <enumeration value="Geometry" />
      <enumeration value="PrimitiveGeometry" />
      <enumeration value="CompositeGeometry" />
      <!--  Primitive types (0D) -->
      <enumeration value="Point" />
      <!--  Primitive types (1D) -->
      <enumeration value="Curve" />
      <enumeration value="LineString" />
      <enumeration value="Ring" />
      <enumeration value="LinearRing" />
      <enumeration value="OrientableCurve" />
      <enumeration value="CompositeCurve" />
      <!--  Primitive types (2D) -->
      <enumeration value="Surface" />
      <enumeration value="PolyhedralSurface" />
      <enumeration value="TriangulatedSurface" />
      <enumeration value="Tin" />
      <enumeration value="Polygon" />
      <enumeration value="OrientableSurface" />
      <enumeration value="CompositeSurface" />
      <!--  Primitive types (3D) -->
      <enumeration value="Solid" />
      <enumeration value="CompositeSolid" />
      <!-- Aggregate types -->
      <enumeration value="MultiGeometry" />
      <enumeration value="MultiPoint" />
      <enumeration value="MultiCurve" />
      <enumeration value="MultiLineString" />
      <enumeration value="MultiSurface" />
      <enumeration value="MultiPolygon" />
      <enumeration value="MultiSolid" />
    </restriction>
  </simpleType>
  <!--
    === Measure property definition ===
  -->
  <element name="MeasureProperty" substitutionGroup="ft:AbstractProperty">
    <complexType>
      <annotation>
        <documentation>Definition of a measure property of a feature type.</documentation>
        <appinfo>
          <jaxb:class name="MeasurePropertyDecl" />
        </appinfo>
      </annotation>
      <complexContent>
        <extension base="ft:AbstractPropertyType">
          <sequence>
            <element ref="ft:MeasurePropertyMapping"/>
          </sequence>
        </extension>
      </complexContent>
    </complexType>
  </element>    
  <!--
    === Custom complex property definition ===
  -->
  <element name="CustomComplexProperty" substitutionGroup="ft:AbstractProperty">
    <complexType>
      <annotation>
        <documentation>Definition of a complex-valued property of a
          feature type.</documentation>
        <appinfo>
          <jaxb:class name="CustomComplexPropertyDecl" />
        </appinfo>
      </annotation>    
      <complexContent>
        <extension base="ft:AbstractPropertyType">
          <sequence>
            <element ref="ft:CustomPropertyMapping"/>
          </sequence>
        </extension>
      </complexContent>
    </complexType>
  </element>  
  <!--
    === Mapping related element/type definitions ===
   -->
  <element name="GlobalMappingHints">
    <complexType>
      <sequence>
        <element name="JDBCConnId" type="string" />
        <element name="UseObjectLookupTable" type="boolean" />
      </sequence>
    </complexType>
  </element>
  <element name="FeatureTypeMappingHints">
    <complexType>
      <sequence>
       <element name="DBTable" type="string"/>
       <element name="GMLDefaultProps" type="boolean"/>
      </sequence>
    </complexType>
  </element>

  <element name="PropertyMapping" abstract="true" type="ft:PropertyMappingType"/>
  <complexType name="PropertyMappingType" abstract="true"/>      
  
  <element name="SimplePropertyMapping" substitutionGroup="ft:PropertyMapping" type="ft:SimplePropertyMappingType"/>
  <complexType name="SimplePropertyMappingType">
    <complexContent>
      <extension base="ft:PropertyMappingType">
        <choice>
          <element ref="ft:DBColumn"/>
          <element ref="ft:PropertyTable"/>
        </choice>      
      </extension>
    </complexContent>  
  </complexType>  

  <element name="FeaturePropertyMapping" substitutionGroup="ft:PropertyMapping" type="ft:FeaturePropertyMappingType"/>
  <complexType name="FeaturePropertyMappingType">
    <complexContent>
      <extension base="ft:PropertyMappingType">
        <choice>
          <element ref="ft:DBColumn" />
          <element ref="ft:FeatureJoinTable" />
        </choice>
      </extension>
    </complexContent>
  </complexType>  

  <element name="GeometryPropertyMapping" substitutionGroup="ft:PropertyMapping" type="ft:GeometryPropertyMappingType"/>
  <complexType name="GeometryPropertyMappingType">
    <complexContent>
      <extension base="ft:PropertyMappingType">
        <choice>
          <element ref="ft:GeometryDBColumn" />
          <element ref="ft:GeometryPropertyTable" />
        </choice>
      </extension>
    </complexContent>
  </complexType>
  
  <element name="MeasurePropertyMapping" substitutionGroup="ft:PropertyMapping" type="ft:MeasurePropertyMappingType"/>
  <complexType name="MeasurePropertyMappingType">
    <complexContent>
      <extension base="ft:PropertyMappingType">
        <choice>
          <element ref="ft:DBColumn"/>
          <element ref="ft:PropertyTable"/>
        </choice>      
      </extension>
    </complexContent>  
  </complexType>
  
  <element name="CustomPropertyMapping" substitutionGroup="ft:PropertyMapping" type="ft:CustomPropertyMappingType"/>
  <complexType name="CustomPropertyMappingType">
    <complexContent>
      <extension base="ft:PropertyMappingType">
        <sequence>
          <element name="xsdType"/>
        </sequence>      
      </extension>
    </complexContent>  
  </complexType>  

  <element name="DBColumn">
    <complexType>
      <attribute name="name" type="string" />
      <attribute name="sqlType" type="string" />
    </complexType>
  </element>
  <element name="PropertyTable">
    <complexType>
      <attribute name="table" type="string" />
      <attribute name="column" type="string" />
      <attribute name="sqlType" type="string" />
    </complexType>
  </element>
  <element name="GeometryDBColumn">
    <complexType>
      <attribute name="name" type="string" />
      <attribute name="sqlType" type="string" />
      <attribute name="dimension" type="integer" />
      <attribute name="srid" type="integer" />
    </complexType>
  </element>
  <element name="GeometryPropertyTable">
    <complexType>
      <attribute name="table" type="string" />
      <attribute name="column" type="string" />
      <attribute name="sqlType" type="string" />
      <attribute name="dimension" type="integer" />
      <attribute name="srid" type="integer" />
    </complexType>
  </element>   
  <element name="FeatureJoinTable">
    <complexType>
      <attribute name="table" type="string"/>
    </complexType>
  </element>   
</schema>
