deegree-wfs-geosciml/src/main/webapp/WEB-INF/conf/featurestores/schemas/geosciml/2.0/geologicUnit.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema version="2.0.2" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml" xmlns:cgu="urn:cgi:xmlns:CGI:Utilities:1.0" xmlns:gsml="urn:cgi:xmlns:CGI:GeoSciML:2.0" targetNamespace="urn:cgi:xmlns:CGI:GeoSciML:2.0" elementFormDefault="qualified" attributeFormDefault="unqualified"><!-- Schema auto-generated by FullMoon, applying rule suite xmi11ea -->
    <annotation>
        <documentation>The GeoSciML GeologicUnit Package contains classes representing notional geologic units, whose complete and precise extent is inferred to exist. Explicit spatial properties are available through association with a MappedFeature. 

Geologic units includes both formal units (i.e. formally adopted and named in the official lexicon) and informal units (i.e. named but not promoted to the lexicon) and unnamed units (i.e. recognisable and described and delineable in the field but not otherwise formalised).

A number of specialized unit classes are provided. 
        
        v2.0.1 - all links to elements in GMD namespace 'by reference'
        v2.0.2 - inserted XML declaration
        </documentation>
    </annotation>
    <import namespace="http://www.opengis.net/gml" schemaLocation="http://schemas.opengis.net/gml/3.1.1/base/gml.xsd"/>
    <import namespace="urn:cgi:xmlns:CGI:Utilities:1.0" schemaLocation="http://www.geosciml.org/cgiutilities/1.0/xsd/cgiUtilities.xsd"/>
    <include schemaLocation="geosciml.xsd"/>
    <element name="GeologicUnit" substitutionGroup="gsml:GeologicFeature" type="gsml:GeologicUnitType">
        <annotation>
            <documentation>Operationally, the GeologicUnit element is a container used to associate geologic properties with some mapped occurrence (through GeologicFeature.occurrence -&amp;gt; MappedFeature link), or with a geologic unit ControlledConcept in a vocabulary (through the GeologicUnit.classifier -&amp;gt;ControlledConcept link).

Conceptually, may represent a body of material in the Earth whose complete and precise extent is inferred to exist (NADM GeologicUnit, Stratigraphic unit in sense of NACSN or Intnl Stratigraphic Code), or a classifier used to characterize parts of the Earth (e.g. lithologic map unit like 'granitic rock' or 'alluvial deposit', surficial units like 'till' or 'old alluvium').

Spatial properties are only available through association with a MappedFeature. Includes both formal units (i.e. formally adopted and named in the official lexicon) and informal units (i.e. named but not promoted to the lexicon) and unnamed units (i.e. recognisable and described and delineable in the field but not otherwise formalised). 

Will be made Abstract when a complete (enough) set of specialized subtypes is defined.</documentation>
        </annotation>
    </element>
    <complexType name="GeologicUnitType">
        <complexContent>
            <extension base="gsml:GeologicFeatureType">
                <sequence>
                    <element name="geologicUnitType" type="gml:ReferenceType">
                        <annotation>
                            <appinfo>
                                <gml:targetElement>gsml:ControlledConcept</gml:targetElement>
                            </appinfo>
                            <documentation>Controlled concept defining the type of unit. Logical constraints of definition of unit and valid property cardinalities should be contained in the definition. 

Use of the CGI Geologic Unit Type vocabulary 
   urn:cgi:classifierScheme:CGI:GeologicUnitType:200811
is preferred. 
That includes members similar to those in the GeologicUnitType class in this package, but arranged as an ontology. </documentation>
                        </annotation>
                    </element>
                    <element maxOccurs="unbounded" minOccurs="0" name="bodyMorphology" type="gsml:CGI_TermValuePropertyType">
                        <annotation>
                            <documentation>The geometry or form of a GeologicUnit.  Examples include: dike (dyke), cone, fan, sheet, etc. Morphology is independent of the substance (EarthMaterial) that composes the GeologicUnit.</documentation>
                        </annotation>
                    </element>
                    <element maxOccurs="1" minOccurs="0" name="compositionCategory" type="gsml:CGI_TermValuePropertyType">
                        <annotation>
                            <documentation>Term to specify the gross chemical character of geologic unit. 
Examples: silicate, carbonate, ferromagnesian, oxide.  
Chemical classification terms for igneous rocks also go here.
Examples: alkalic, subaluminous, peraluminous, mafic, felsic, intermediate.</documentation>
                        </annotation>
                    </element>
                    <element maxOccurs="unbounded" minOccurs="0" name="exposureColor" type="gsml:CGI_TermValuePropertyType">
                        <annotation>
                            <documentation>Typical color at the outcrop of a geologic unit. </documentation>
                        </annotation>
                    </element>
                    <element maxOccurs="unbounded" minOccurs="0" name="outcropCharacter" type="gsml:CGI_TermValuePropertyType">
                        <annotation>
                            <documentation>Describes the nature of outcrops formed by a geologic unit.   Examples: bouldery, cliff-forming, ledge-forming, slope-forming, poorly exposed</documentation>
                        </annotation>
                    </element>
                    <element maxOccurs="1" minOccurs="0" name="rank" type="cgu:CodeWithAuthorityType">
                        <annotation>
                            <documentation>Term that classifies the geologic unit in a generalization hierarchy from most local/smallest volume to most regional. Scoped name because classification is asserted, not based on observational data.
Examples: group, subgroup, formation, member, bed, intrusion, complex, batholith</documentation>
                        </annotation>
                    </element>
                    <element maxOccurs="unbounded" minOccurs="0" name="unitThickness" type="gsml:CGI_NumericPropertyType">
                        <annotation>
                            <documentation>Typical thickness of the geologic unit.</documentation>
                        </annotation>
                    </element>
                    <element maxOccurs="1" minOccurs="0" name="classifier" type="gml:ReferenceType">
                        <annotation>
                            <appinfo>
                                <gml:targetElement>gsml:ControlledConcept</gml:targetElement>
                            </appinfo>
                            <documentation>The classifier indicates the kind of thing a GeologicUnit instance is meant to represent.
For example the GeologicUnit could be 'classified' by a ControlledConcept that is a name, such as 'Good Hope Formation',  from a Stratigraphic Lexicon.</documentation>
                        </annotation>
                    </element>
                    <element maxOccurs="unbounded" minOccurs="0" name="composition" type="gsml:CompositionPartPropertyType">
                        <annotation>
                            <documentation>Describes the composition (detailed, instance specific, lithologic description) of the GeologicUnit</documentation>
                        </annotation>
                    </element>
                    <element maxOccurs="1" minOccurs="0" name="metamorphicCharacter" type="gsml:MetamorphicDescriptionPropertyType">
                        <annotation>
                            <documentation>Contains the description of the metamorphic character</documentation>
                        </annotation>
                    </element>
                    <element maxOccurs="unbounded" minOccurs="0" name="part">
                        <annotation>
                            <documentation>indicates a subsiduary unit with its role and proportion with respect to the container unit</documentation>
                        </annotation>
                        <complexType>
                            <sequence>
                                <element ref="gsml:GeologicUnitPart"/>
                            </sequence>
                        </complexType>
                    </element>
                    <element maxOccurs="1" minOccurs="0" name="physicalProperty" type="gsml:PhysicalDescriptionPropertyType">
                        <annotation>
                            <documentation>Describes the physical description values</documentation>
                        </annotation>
                    </element>
                    <element maxOccurs="1" minOccurs="0" name="weatheringCharacter" type="gsml:WeatheringDescriptionPropertyType">
                        <annotation>
                            <documentation>Describes the weathering character of the GeologicUnit
</documentation>
                        </annotation>
                    </element>
                    <element maxOccurs="1" minOccurs="0" name="bedding" type="gsml:BeddingDescriptionPropertyType"/>
                    <element maxOccurs="1" minOccurs="0" name="definingStructure" type="gsml:GeologicStructurePropertyType">
                        <annotation>
                            <documentation>Specifies the GeologicStructure associated with the DeformationUnit
cardinality is 1 because defining structure could be compound.</documentation>
                        </annotation>
                    </element>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="GeologicUnitPropertyType">
        <sequence minOccurs="0">
            <element ref="gsml:GeologicUnit"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
    </complexType>
    <element name="WeatheringDescription" type="gsml:WeatheringDescriptionType">
        <annotation>
            <documentation>Data type is a container for properties describing the nature of a GeologicUnit at its interface with the atmosphere.  Soil profile description would have to be constructed as a GeologicUnit with parts representing the various horizons in the profile.</documentation>
        </annotation>
    </element>
    <complexType name="WeatheringDescriptionType">
        <sequence>
            <element maxOccurs="unbounded" minOccurs="0" name="environment" type="gsml:CGI_TermPropertyType">
                <annotation>
                    <documentation>Terms to specify the environmental context of the weathering description. Typically would be specified by terms for climate (tropical, arid, termperate, humid, polar..)</documentation>
                </annotation>
            </element>
            <element maxOccurs="1" minOccurs="0" name="weatheringDegree" type="gsml:CGI_TermPropertyType">
                <annotation>
                    <documentation>term to specify degree of modification from original material, e.g. slightly weathered, strongly weathered, weathered rock grade III</documentation>
                </annotation>
            </element>
            <element maxOccurs="unbounded" minOccurs="0" name="weatheringProcess" type="gsml:CGI_TermPropertyType">
                <annotation>
                    <documentation>weatheirng process, e.g. leaching, accumulation</documentation>
                </annotation>
            </element>
            <element maxOccurs="unbounded" minOccurs="0" name="weatheringProduct" type="gsml:EarthMaterialPropertyType">
                <annotation>
                    <documentation>material result of weathering processes, e.g. saprolite, ferricrete, clay, calcrete. Materials observed in a soil profile could be identified using this property, but EarthMaterial content model does not allow representation of relationships between materials in a soil profile. A full soil profile description would have to use GeologicUnitParts and Composition part?</documentation>
                </annotation>
            </element>
        </sequence>
    </complexType>
    <complexType name="WeatheringDescriptionPropertyType">
        <sequence>
            <element ref="gsml:WeatheringDescription"/>
        </sequence>
    </complexType>
    <element name="BeddingDescription" type="gsml:BeddingDescriptionType">
        <annotation>
            <documentation>Geologic unit that has stratification, allowing specification of thickness and bedding-related properties. Note that while this usage corresponds to the formally definition of 'Lithostratigaphic unit' as defined in the North American Code of Stratigraphic Nomenclature, usage of this element does not denote definition or description of a unit in the sense of the code, only that stratification is present and can be described.</documentation>
        </annotation>
    </element>
    <complexType name="BeddingDescriptionType">
        <sequence>
            <element maxOccurs="unbounded" minOccurs="0" name="beddingPattern" type="gsml:CGI_TermValuePropertyType">
                <annotation>
                    <documentation>Term(s) specifying patterns of bedding thickness or relationships between bedding packages, 
Examples: thinning upward, thickening upward</documentation>
                </annotation>
            </element>
            <element maxOccurs="unbounded" minOccurs="0" name="beddingStyle" type="gsml:CGI_TermValuePropertyType">
                <annotation>
                    <documentation>Term(s) specifying the style of bedding in a stratified geologic unit, e.g. lenticular, irregular, planar, vague, massive</documentation>
                </annotation>
            </element>
            <element maxOccurs="unbounded" minOccurs="0" name="beddingThickness" type="gsml:CGI_ValuePropertyType">
                <annotation>
                    <documentation>Term(s) or numeric values characterizing the thickness of bedding in the unit.</documentation>
                </annotation>
            </element>
        </sequence>
    </complexType>
    <complexType name="BeddingDescriptionPropertyType">
        <sequence>
            <element ref="gsml:BeddingDescription"/>
        </sequence>
    </complexType>
    <element name="GeologicUnitPart" type="gsml:GeologicUnitPartType">
        <annotation>
            <documentation>GeologicUnitPart associates a GeologicUnit with another GeologicUnit that is a proper part of that unit. Parts may be formal or notional . Formal parts refer to a specific body of rock, as in formal stratigraphic members. Notional parts refer to assemblages of particular EarthMaterials with particular internal structure, which may be repeated in various places within a unit (e.g. 'turbidite sequence', 'point bar assemblage', 'leucosome veins')</documentation>
        </annotation>
    </element>
    <complexType name="GeologicUnitPartType">
        <sequence>
            <element name="role" type="cgu:CodeWithAuthorityType">
                <annotation>
                    <documentation>Nature of the parts, e.g. facies, stratigraphic, interbeds, geographic, eastern facies, </documentation>
                </annotation>
            </element>
            <element name="proportion" type="gsml:CGI_ValuePropertyType">
                <annotation>
                    <documentation>Quantity that specifies the fraction of the geologic unit formed by the part.</documentation>
                </annotation>
            </element>
            <element name="containedUnit" type="gsml:GeologicUnitPropertyType"/>
        </sequence>
    </complexType>
    <complexType name="GeologicUnitPartPropertyType">
        <sequence>
            <element ref="gsml:GeologicUnitPart"/>
        </sequence>
    </complexType>
    <element name="CompositionPart" type="gsml:CompositionPartType">
        <annotation>
            <documentation>Element to represent composition of a geologic unit in terms of earth material constituents. </documentation>
        </annotation>
    </element>
    <complexType name="CompositionPartType">
        <sequence>
            <element name="role" type="cgu:CodeWithAuthorityType">
                <annotation>
                    <documentation>Defines the relationship of the earth material constituent in the geologic unit, e.g. vein, interbedded constituent, layers, dominant constituent. Scoped name because role is asserted by the geologist building the description.</documentation>
                </annotation>
            </element>
            <element maxOccurs="unbounded" minOccurs="1" name="lithology" type="gsml:ControlledConceptPropertyType">
                <annotation>
                    <documentation>1..* so that it is possible to give a material names from several different vocabularies, e.g. chemical and genetic classifications (common in volcanic rocks) or to use multiple terms from a single vocabulary with implication that classification is a conjonction of terms.</documentation>
                </annotation>
            </element>
            <element maxOccurs="1" minOccurs="0" name="material" type="gsml:CompoundMaterialPropertyType">
                <annotation>
                    <documentation>0..1 because this is where the "description" of the material is (optionally) held</documentation>
                </annotation>
            </element>
            <element name="proportion" type="gsml:CGI_ValuePropertyType">
                <annotation>
                    <documentation>Quantity that specifies the fraction of the geologic unit composed of the compound material.</documentation>
                </annotation>
            </element>
        </sequence>
    </complexType>
    <complexType name="CompositionPartPropertyType">
        <sequence>
            <element ref="gsml:CompositionPart"/>
        </sequence>
    </complexType>
</schema>