deegree-workspaces/deegree-workspace-inspire/src/main/workspace/appschemas/inspire/annex1/StatisticalUnits.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:base="urn:x-inspire:specification:gmlas:BaseTypes:3.2" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:stat="urn:x-inspire:specification:gmlas:StatisticalUnits:0.0" elementFormDefault="qualified" targetNamespace="urn:x-inspire:specification:gmlas:StatisticalUnits:0.0" version="0.0">
  <import namespace="urn:x-inspire:specification:gmlas:BaseTypes:3.2" schemaLocation="BaseTypes.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange-->
  <element name="NUTSRegion" substitutionGroup="gml:AbstractFeature" type="stat:NUTSRegionType">
    <annotation>
      <documentation>-- Definition --&#13;
Territorial unit for statistics defined in the framework of the Regulation (EC) No 1059/2003 of the European Parliament and of the Council of 26 May 2003.&#13;
&#13;
-- Description --&#13;
NOTE NUTS regions subdivide each Member State into a whole number of territorial units for statistic at NUTS1 level. Each of these is then subdivided into regions at NUTS2 level and these in turn into regions at NUTS3 level.&#13;
</documentation>
    </annotation>
  </element>
  <complexType name="NUTSRegionType">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence>
          <element name="geometry" type="gml:MultiSurfacePropertyType">
            <annotation>
              <documentation>-- Definition --&#13;
Geometric representation of spatial area covered by this NUTS-region.&#13;
</documentation>
            </annotation>
          </element>
          <element name="inspireId" type="base:IdentifierPropertyType">
            <annotation>
              <documentation>-- Definition --&#13;
External object identifier of the spatial object.&#13;
&#13;
-- Description --&#13;
NOTE An external object identifier is a unique object identifier published by the responsible body, which may be used by external applications to reference the spatial object. The identifier is an identifier of the spatial object, not an identifier of the real-world phenomenon.&#13;
</documentation>
            </annotation>
          </element>
          <element name="NUTSCode" type="string">
            <annotation>
              <documentation>-- Definition --&#13;
Unique code of the territorial unit for statistics as defined in the framework of the Regulation (EC) No 1059/2003 of the European Parliament and of the Council of 26 May 2003.&#13;
&#13;
-- Description --&#13;
EXAMPLE A NUTScode from Denmark could be DK031.&#13;
</documentation>
            </annotation>
          </element>
          <element name="beginLifespanVersion" nillable="true">
            <annotation>
              <documentation>-- Definition --&#13;
Date and time at which this version of the spatial object was inserted or changed in the spatial data set.&#13;
</documentation>
            </annotation>
            <complexType>
              <simpleContent>
                <extension base="dateTime">
                  <attribute name="nilReason" type="gml:NilReasonType"/>
                </extension>
              </simpleContent>
            </complexType>
          </element>
          <element minOccurs="0" name="endLifespanVersion" nillable="true">
            <annotation>
              <documentation>-- Definition --&#13;
Date and time at which this version of the spatial object was superseded or retired in the spatial data set.&#13;
</documentation>
            </annotation>
            <complexType>
              <simpleContent>
                <extension base="dateTime">
                  <attribute name="nilReason" type="gml:NilReasonType"/>
                </extension>
              </simpleContent>
            </complexType>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="NUTSRegionPropertyType">
    <sequence minOccurs="0">
      <element ref="stat:NUTSRegion"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
</schema>
