deegree-core/deegree-core-base/src/test/resources/org/deegree/gml/inspire/schema/AdministrativeUnits.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:au="urn:x-inspire:specification:gmlas:AdministrativeUnits:3.0" xmlns:base="urn:x-inspire:specification:gmlas:BaseTypes:3.2" xmlns:gmd="http://www.isotc211.org/2005/gmd" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:gn="urn:x-inspire:specification:gmlas:GeographicalNames:3.0" xmlns:stat="urn:x-inspire:specification:gmlas:StatisticalUnits:0.0" elementFormDefault="qualified" targetNamespace="urn:x-inspire:specification:gmlas:AdministrativeUnits:3.0" version="3.0">
  <import namespace="urn:x-inspire:specification:gmlas:StatisticalUnits:0.0" schemaLocation="StatisticalUnits.xsd"/>
  <import namespace="urn:x-inspire:specification:gmlas:BaseTypes:3.2" schemaLocation="BaseTypes.xsd"/>
  <import namespace="urn:x-inspire:specification:gmlas:GeographicalNames:3.0" schemaLocation="GeographicalNames.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <import namespace="http://www.isotc211.org/2005/gmd" schemaLocation="http://schemas.opengis.net/iso/19139/20070417/gmd/gmd.xsd"/>
  <!--XML Schema document created by ShapeChange-->
  <element name="ResidenceOfAuthority" substitutionGroup="gml:AbstractObject" type="au:ResidenceOfAuthorityType">
    <annotation>
      <documentation>-- Definition --&#13;
Data type representing the name and position of a residence of authority.&#13;
</documentation>
    </annotation>
  </element>
  <complexType name="ResidenceOfAuthorityType">
    <sequence>
      <element name="name" type="gn:GeographicalNamePropertyType">
        <annotation>
          <documentation>-- Definition --&#13;
Name of the residence of authority.&#13;
</documentation>
        </annotation>
      </element>
      <element name="geometry" nillable="true" type="gml:PointPropertyType">
        <annotation>
          <documentation>-- Definition --&#13;
Position of the residence of authority.&#13;
</documentation>
        </annotation>
      </element>
    </sequence>
  </complexType>
  <complexType name="ResidenceOfAuthorityPropertyType">
    <sequence>
      <element ref="au:ResidenceOfAuthority"/>
    </sequence>
  </complexType>
  <element name="AdministrativeUnit" substitutionGroup="gml:AbstractFeature" type="au:AdministrativeUnitType">
    <annotation>
      <documentation>-- Definition --&#13;
Unit of administration where a Member State has and/or exercises jurisdictional rights, for local, regional and national governance.&#13;
</documentation>
    </annotation>
  </element>
  <complexType name="AdministrativeUnitType">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence>
          <element name="geometry" type="gml:MultiSurfacePropertyType">
            <annotation>
              <documentation>-- Definition --&#13;
Geometric representation of spatial area covered by this administrative unit.</documentation>
            </annotation>
          </element>
          <element name="nationalCode" type="string">
            <annotation>
              <documentation>-- Definition --&#13;
Thematic identifier corresponding to the national administrative codes defined in each country.&#13;
</documentation>
            </annotation>
          </element>
          <element name="inspireId" type="base:IdentifierPropertyType">
            <annotation>
              <documentation>-- Definition --&#13;
External object identifier of the spatial object.&#13;
&#13;
-- Description --&#13;
NOTE An external object identifier is a unique object identifier published by the responsible body, which may be used by external applications to reference the spatial object. The identifier is an identifier of the spatial object, not an identifier of the real-world phenomenon.&#13;
</documentation>
            </annotation>
          </element>
          <element name="nationalLevel" type="gml:CodeType">
            <annotation>
              <documentation>-- Definition --&#13;
Level in the national administrative hierarchy, at which the administrative unit is established.</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" name="nationalLevelName" nillable="true" type="gmd:LocalisedCharacterString_PropertyType">
            <annotation>
              <documentation>-- Definition --&#13;
Name of the level in the national administrative hierarchy, at which  the administrative unit is established.</documentation>
            </annotation>
          </element>
          <element name="country" type="gmd:Country_PropertyType">
            <annotation>
              <documentation>-- Definition --&#13;
Two-character country code according to the Interinstitutional style guide published by the Publications Office of the European Union.  &#13;
  &#13;
</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" name="name" type="gn:GeographicalNamePropertyType">
            <annotation>
              <documentation>-- Definition --&#13;
Official national geographical name of the administrative unit, given in several languages where required.</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" name="residenceOfAuthority" nillable="true">
            <annotation>
              <documentation>-- Definition --&#13;
Center for national or local administration.&#13;
</documentation>
            </annotation>
            <complexType>
              <sequence>
                <element ref="au:ResidenceOfAuthority"/>
              </sequence>
              <attribute name="nilReason" type="gml:NilReasonType"/>
            </complexType>
          </element>
          <element name="beginLifespanVersion" nillable="true">
            <annotation>
              <documentation>-- Definition --&#13;
Date and time at which this version of the spatial object was inserted or changed in the spatial data set.</documentation>
            </annotation>
            <complexType>
              <simpleContent>
                <extension base="dateTime">
                  <attribute name="nilReason" type="gml:NilReasonType"/>
                </extension>
              </simpleContent>
            </complexType>
          </element>
          <element minOccurs="0" name="endLifespanVersion" nillable="true">
            <annotation>
              <documentation>-- Definition --&#13;
Date and time at which this version of the spatial object was superseded or retired in the spatial data set.</documentation>
            </annotation>
            <complexType>
              <simpleContent>
                <extension base="dateTime">
                  <attribute name="nilReason" type="gml:NilReasonType"/>
                </extension>
              </simpleContent>
            </complexType>
          </element>
          <element maxOccurs="3" name="NUTS" nillable="true" type="gml:ReferenceType">
            <annotation>
              <documentation>-- Definition --&#13;
NUTS region that topologically contains this administrative unit.&#13;
&#13;
-- Description --&#13;
NOTE 1 NUTS regions are Territorial units for statistics defined in the framework of the Regulation (EC) No 1059/2003 of the European Parliament and of the Council of 26 May 2003 (see hhtp:ec.europe.eu/eurostat/ramon/nuts/home_regions_de.html).&#13;
&#13;
NOTE 2 Each administrative unit at lowest level is topologically covered by a certain NUTS3 region established for statistical purposes. Each NUTS3 region belongs to a specific NUTS2 region that is a part of NUTS1 region. The administrative unit at lowest level can refer the corresponding regions from all three levels: NUTS3, NUTS2, and NUTS1. </documentation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">stat:NUTSRegion</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="condominium" nillable="true" type="gml:ReferenceType">
            <annotation>
              <documentation>-- Definition --&#13;
Condominium administered by this administrative unit &#13;
&#13;
-- Description --&#13;
NOTE Condominiums may only exist at state level and can be administered only by administrative units at the highest level of the national administrative hierarchy (i.e. countries).</documentation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">au:Condominium</targetElement>
                <reversePropertyName xmlns="http://www.opengis.net/gml/3.2">au:admUnit</reversePropertyName>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="lowerLevelUnit" nillable="true">
            <annotation>
              <documentation>-- Definition --&#13;
Units established at a lower level of the national administrative hierarchy which are administered by this administrative unit. &#13;
&#13;
-- Description --&#13;
NOTE For administrative units at the lowest level of the national hierarchy no lower level unit exists. &#13;
&#13;
CONSTRAINT Each administrative unit except for the lowest level units shall refer to its lower level units&#13;
</documentation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">au:AdministrativeUnit</targetElement>
                <reversePropertyName xmlns="http://www.opengis.net/gml/3.2">au:upperLevelUnit</reversePropertyName>
              </appinfo>
            </annotation>
            <complexType>
              <complexContent>
                <extension base="gml:AbstractMemberType">
                  <sequence/>
                  <attributeGroup ref="gml:AssociationAttributeGroup"/>
                </extension>
              </complexContent>
            </complexType>
          </element>
          <element minOccurs="0" name="upperLevelUnit" nillable="true" type="gml:ReferenceType">
            <annotation>
              <documentation>-- Definition --&#13;
A unit established at a higher level of national administrative hierarchy that this administrative unit administers. &#13;
&#13;
-- Description --&#13;
NOTE Administrative units at the highest level of national hierarchy (i.e. the country) do not have upper level units. &#13;
&#13;
CONSTRAINT Each administrative unit at the level other than '1st order' (i.e. nationalLevel &lt;&gt; '1st order') shall refer their upper level unit.&#13;
</documentation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">au:AdministrativeUnit</targetElement>
                <reversePropertyName xmlns="http://www.opengis.net/gml/3.2">au:lowerLevelUnit</reversePropertyName>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="administeredBy" nillable="true" type="gml:ReferenceType">
            <annotation>
              <documentation>-- Definition --&#13;
Administrative units established at same level of national administrative hierarchy which are co-administered by this administrative unit. &#13;
</documentation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">au:AdministrativeUnit</targetElement>
                <reversePropertyName xmlns="http://www.opengis.net/gml/3.2">au:coAdminister</reversePropertyName>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="coAdminister" nillable="true" type="gml:ReferenceType">
            <annotation>
              <documentation>-- Definition --&#13;
A unit established at same level of national administrative hierarchy that administers this administrative unit.&#13;
</documentation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">au:AdministrativeUnit</targetElement>
                <reversePropertyName xmlns="http://www.opengis.net/gml/3.2">au:administeredBy</reversePropertyName>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" name="boundary" nillable="true" type="gml:ReferenceType">
            <annotation>
              <documentation>-- Definition --&#13;
The administrative boundaries between this administrative unit and all the units adjacent to it.&#13;
&#13;
-- Description --&#13;
NOTE Administrative boundary corresponds to the curve established between the  nodes  at lowest level of territory division  in Member State. Thus, it does not necessairly represents boundary in political terms, but just part of it. </documentation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">au:AdministrativeBoundary</targetElement>
                <reversePropertyName xmlns="http://www.opengis.net/gml/3.2">au:admUnit</reversePropertyName>
              </appinfo>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="AdministrativeUnitPropertyType">
    <sequence minOccurs="0">
      <element ref="au:AdministrativeUnit"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="AdministrativeBoundary" substitutionGroup="gml:AbstractFeature" type="au:AdministrativeBoundaryType">
    <annotation>
      <documentation>-- Definition --&#13;
A line of demarcation between administrative units.</documentation>
    </annotation>
  </element>
  <complexType name="AdministrativeBoundaryType">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence>
          <element name="geometry" type="gml:CurvePropertyType">
            <annotation>
              <documentation>-- Definition --&#13;
Geometric representation of border line.</documentation>
            </annotation>
          </element>
          <element name="inspireId" type="base:IdentifierPropertyType">
            <annotation>
              <documentation>-- Definition --&#13;
External object identifier of the spatial object.&#13;
&#13;
-- Description --&#13;
NOTE An external object identifier is a unique object identifier published by the responsible body, which may be used by external applications to reference the spatial object. The identifier is an identifier of the spatial object, not an identifier of the real-world phenomenon.&#13;
</documentation>
            </annotation>
          </element>
          <element name="country" type="gmd:Country_PropertyType">
            <annotation>
              <documentation>-- Definition --&#13;
Two-character country code according to the Interinstitutional style guide published by the Publications Office of the European Union.  &#13;
  &#13;
</documentation>
            </annotation>
          </element>
          <element maxOccurs="6" name="nationalLevel" type="gml:CodeType">
            <annotation>
              <documentation>-- Definition --&#13;
The hierarchy levels of all adjacent administrative units this boundary is part of.</documentation>
            </annotation>
          </element>
          <element name="legalStatus" nillable="true">
            <annotation>
              <documentation>-- Definition --&#13;
Legal status of this administrative boundary. &#13;
&#13;
-- Description --&#13;
NOTE The legal status is considered in terms of political agreement or disagreement of the administrative units separated by this boundary.</documentation>
            </annotation>
            <complexType>
              <simpleContent>
                <extension base="au:LegalStatusValueType">
                  <attribute name="nilReason" type="gml:NilReasonType"/>
                </extension>
              </simpleContent>
            </complexType>
          </element>
          <element name="technicalStatus" nillable="true">
            <annotation>
              <documentation>-- Definition --&#13;
The technical status of the administrative boundary.&#13;
&#13;
-- Description --&#13;
NOTE The technical status of the boundary is considered in terms of its topological matching or not-matching with the borders of all separated administrative units. Edge-matched means that the same set of coordinates is used.</documentation>
            </annotation>
            <complexType>
              <simpleContent>
                <extension base="au:TechnicalStatusValueType">
                  <attribute name="nilReason" type="gml:NilReasonType"/>
                </extension>
              </simpleContent>
            </complexType>
          </element>
          <element name="beginLifespanVersion" nillable="true">
            <annotation>
              <documentation>-- Definition --&#13;
Date and time at which this version of the spatial object was inserted or changed in the spatial data set.</documentation>
            </annotation>
            <complexType>
              <simpleContent>
                <extension base="dateTime">
                  <attribute name="nilReason" type="gml:NilReasonType"/>
                </extension>
              </simpleContent>
            </complexType>
          </element>
          <element minOccurs="0" name="endLifespanVersion" nillable="true">
            <annotation>
              <documentation>-- Definition --&#13;
Date and time at which this version of the spatial object was superseded or retired in the spatial data set.</documentation>
            </annotation>
            <complexType>
              <simpleContent>
                <extension base="dateTime">
                  <attribute name="nilReason" type="gml:NilReasonType"/>
                </extension>
              </simpleContent>
            </complexType>
          </element>
          <element maxOccurs="unbounded" name="admUnit" nillable="true" type="gml:ReferenceType">
            <annotation>
              <documentation>-- Definition --&#13;
The administrative units separated by this administrative boundary. &#13;
&#13;
-- Description --&#13;
NOTE In case of a national boundary (i.e. nationalLevel='1st order')  only one national administrative unit (i.e. country) is provided. &#13;
</documentation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">au:AdministrativeUnit</targetElement>
                <reversePropertyName xmlns="http://www.opengis.net/gml/3.2">au:boundary</reversePropertyName>
              </appinfo>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="AdministrativeBoundaryPropertyType">
    <sequence minOccurs="0">
      <element ref="au:AdministrativeBoundary"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <simpleType name="LegalStatusValueType">
    <annotation>
      <documentation>-- Definition --&#13;
Description of the legal status of administrative boundaries.</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="agreed">
        <annotation>
          <documentation>-- Definition --&#13;
The edge-matched boundary has been agreed between neighbouring administrative units and is stable now.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="notAgreed">
        <annotation>
          <documentation>-- Definition --&#13;
The edge-matched boundary has not yet been agreed between neighbouring administrative units and could be changed.</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <element name="Condominium" substitutionGroup="gml:AbstractFeature" type="au:CondominiumType">
    <annotation>
      <documentation>-- Definition --&#13;
An administrative area established independently to any national administrative division of territory  and administered by two or more countries. &#13;
&#13;
-- Description --&#13;
NOTE Condominium is not a part of any national administrative hierarchy of territory division in Member State. </documentation>
    </annotation>
  </element>
  <complexType name="CondominiumType">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence>
          <element name="inspireId" type="base:IdentifierPropertyType">
            <annotation>
              <documentation>-- Definition --&#13;
External object identifier of the spatial object.&#13;
&#13;
-- Description --&#13;
NOTE An external object identifier is a unique object identifier published by the responsible body, which may be used by external applications to reference the spatial object. The identifier is an identifier of the spatial object, not an identifier of the real-world phenomenon.&#13;
</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="name" nillable="true">
            <annotation>
              <documentation>-- Definition --&#13;
Official geographical name of this condominium, given in several languages where required.</documentation>
            </annotation>
            <complexType>
              <sequence>
                <element ref="gn:GeographicalName"/>
              </sequence>
              <attribute name="nilReason" type="gml:NilReasonType"/>
            </complexType>
          </element>
          <element name="geometry" type="gml:MultiSurfacePropertyType">
            <annotation>
              <documentation>-- Definition --&#13;
Geometric representation of spatial area covered by this condominium</documentation>
            </annotation>
          </element>
          <element name="beginLifespanVersion" nillable="true">
            <annotation>
              <documentation>-- Definition --&#13;
Date and time at which this version of the spatial object was inserted or changed in the spatial data set.</documentation>
            </annotation>
            <complexType>
              <simpleContent>
                <extension base="dateTime">
                  <attribute name="nilReason" type="gml:NilReasonType"/>
                </extension>
              </simpleContent>
            </complexType>
          </element>
          <element minOccurs="0" name="endLifespanVersion" nillable="true">
            <annotation>
              <documentation>-- Definition --&#13;
Date and time at which this version of the spatial object was superseded or retired in the spatial data set.</documentation>
            </annotation>
            <complexType>
              <simpleContent>
                <extension base="dateTime">
                  <attribute name="nilReason" type="gml:NilReasonType"/>
                </extension>
              </simpleContent>
            </complexType>
          </element>
          <element maxOccurs="unbounded" name="admUnit" nillable="true" type="gml:ReferenceType">
            <annotation>
              <documentation>-- Definition --&#13;
The administrative unit administering the condominium</documentation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">au:AdministrativeUnit</targetElement>
                <reversePropertyName xmlns="http://www.opengis.net/gml/3.2">au:condominium</reversePropertyName>
              </appinfo>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="CondominiumPropertyType">
    <sequence minOccurs="0">
      <element ref="au:Condominium"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <simpleType name="TechnicalStatusValueType">
    <annotation>
      <documentation>-- Definition --&#13;
Description of the technical status of administrative boundaries.</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="edgeMatched">
        <annotation>
          <documentation>-- Definition --&#13;
The boundaries of neighbouring administrative units have the same set of coordinates.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="notEdgeMatched">
        <annotation>
          <documentation>-- Definition --&#13;
The boundaries of neighbouring administrative units do not have the same set of coordinates.</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
</schema>
