deegree-datastores/deegree-tilestores/deegree-tilestore-gdal/src/main/resources/META-INF/schemas/datasource/tile/gdal/gdal.xsd

<schema xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://www.w3.org/2001/XMLSchema"
  targetNamespace="http://www.deegree.org/datasource/tile/gdal" xmlns:t="http://www.deegree.org/datasource/tile/gdal"
  elementFormDefault="qualified" xmlns:jaxb="http://java.sun.com/xml/ns/jaxb" jaxb:version="2.1">

  <annotation>
    <appinfo>
      <jaxb:schemaBindings>
        <jaxb:package name="org.deegree.tile.persistence.gdal.jaxb" />
      </jaxb:schemaBindings>
    </appinfo>
  </annotation>

  <element name="GDALTileStore">
    <annotation>
      <appinfo>
        <jaxb:class name="GdalTileStoreJaxb" />
      </appinfo>
    </annotation>
    <complexType>
      <sequence maxOccurs="unbounded">
        <element name="TileDataSet">
          <complexType>
            <sequence>
              <element name="Identifier" type="string" minOccurs="0" />
              <element name="TileMatrixSetId" type="string" />
              <element name="File" type="string" />
              <element name="ImageFormat" type="string" minOccurs="0" />
            </sequence>
          </complexType>
        </element>
      </sequence>
      <attribute name="configVersion" type="string" use="optional"/>
    </complexType>
  </element>

</schema>
