deegree-datastores/deegree-tilestores/deegree-tilestore-merge/src/main/resources/META-INF/schemas/datasource/tile/merge/3.4.0/merge.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.deegree.org/datasource/tile/merge"
	elementFormDefault="qualified" xmlns:jaxb="http://java.sun.com/xml/ns/jaxb"
	jaxb:version="2.1">

	<annotation>
		<appinfo>
			<jaxb:schemaBindings>
				<jaxb:package name="org.deegree.tile.persistence.merge.jaxb" />
			</jaxb:schemaBindings>
		</appinfo>
	</annotation>

	<element name="MergingTileStore">
		<complexType>
			<sequence>
				<element name="TileStoreId" type="string" maxOccurs="unbounded" />
			</sequence>
			<attribute name="configVersion" use="required" fixed="3.4.0" />
		</complexType>
	</element>

</schema>