deegree-workspaces/deegree-workspace-geosciml/src/main/workspace/appschemas/geosciml/3.0/geotime/3.0/gssp.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" 
    xmlns:gml="http://www.opengis.net/gml/3.2" 
    xmlns:gsmlgt="http://xmlns.geosciml.org/GeologicTime/3.0" 
    xmlns:sam="http://www.opengis.net/sampling/2.0" 
    xmlns:sams="http://www.opengis.net/samplingSpatial/2.0" 
    targetNamespace="http://xmlns.geosciml.org/GeologicTime/3.0" 
    elementFormDefault="qualified" attributeFormDefault="unqualified" version="3.0.0">
    <!-- Schema auto-generated by FullMoon, applying rule suite xmi11ea -->
    <annotation>
        <documentation>The GSSP model describes "Global Boundary Stratotype Sections and Points" as defined by the International Stratigraphy Commission.</documentation>
    </annotation>
    <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
    <import namespace="http://www.opengis.net/sampling/2.0" schemaLocation="http://schemas.opengis.net/sampling/2.0/samplingFeature.xsd"/>
    <import namespace="http://www.opengis.net/samplingSpatial/2.0" schemaLocation="http://schemas.opengis.net/samplingSpatial/2.0/spatialSamplingFeature.xsd"/>
    <element name="StratigraphicPoint" substitutionGroup="sams:SF_SpatialSamplingFeature" type="gsmlgt:StratigraphicPointType">
        <annotation>
            <documentation>A point in the stratigraphic record used to define a geochronologic boundary or point in geologic time</documentation>
        </annotation>
    </element>
    <complexType name="StratigraphicPointType">
        <complexContent>
            <extension base="sams:SF_SpatialSamplingFeatureType">
                <sequence>
                    <element name="primaryGuidingCriterion" nillable="true">
                        <annotation>
                            <documentation>A description of the primary criterion used to establish this stratigraphic point</documentation>
                        </annotation>
                        <complexType> 
                            <simpleContent>
                                <extension base="string">
                                    <attribute name="nilReason" type="gml:NilReasonType"/>
                                </extension>
                            </simpleContent>
                        </complexType>
                    </element>
                    <element maxOccurs="unbounded" minOccurs="1" name="additionalCorrelationProperty" nillable="true">
                        <annotation>
                            <documentation>Any additional criteria used to establish this stratigraphic point</documentation>
                        </annotation>
                        <complexType>  
                            <simpleContent>
                                <extension base="string">
                                    <attribute name="nilReason" type="gml:NilReasonType"/>
                                </extension>
                            </simpleContent>
                        </complexType>
                    </element>
                    <element name="status" nillable="true">
                        <annotation>
                            <documentation>A description of the status of stratigraphic point (eg, formally accepted, etc)</documentation>
                        </annotation>
                        <complexType>  
                            <simpleContent>
                                <extension base="string">
                                    <attribute name="nilReason" type="gml:NilReasonType"/>
                                </extension>
                            </simpleContent>
                        </complexType>
                    </element>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="StratigraphicPointPropertyType">
        <sequence minOccurs="0">
            <element ref="gsmlgt:StratigraphicPoint"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
        <attributeGroup ref="gml:OwnershipAttributeGroup"/>
    </complexType>
    <element name="GlobalStratotypeSection" substitutionGroup="gsmlgt:StratigraphicSection" type="gsmlgt:GlobalStratotypeSectionType">
        <annotation>
            <documentation>A type of stratigraphic section used to define a globally agreed standard period of geologic time</documentation>
        </annotation>
    </element>
    <complexType name="GlobalStratotypeSectionType">
        <complexContent>
            <extension base="gsmlgt:StratigraphicSectionType"/>
        </complexContent>
    </complexType>
    <complexType name="GlobalStratotypeSectionPropertyType">
        <sequence minOccurs="0">
            <element ref="gsmlgt:GlobalStratotypeSection"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
        <attributeGroup ref="gml:OwnershipAttributeGroup"/>
    </complexType>
    <element name="GlobalStratotypePoint" substitutionGroup="gsmlgt:StratigraphicPoint" type="gsmlgt:GlobalStratotypePointType">
        <annotation>
            <documentation>A type of stratigraphic point used to define a globally agreed point in geologic time</documentation>
        </annotation>
    </element>
    <complexType name="GlobalStratotypePointType">
        <complexContent>
            <extension base="gsmlgt:StratigraphicPointType"/>
        </complexContent>
    </complexType>
    <complexType name="GlobalStratotypePointPropertyType">
        <sequence minOccurs="0">
            <element ref="gsmlgt:GlobalStratotypePoint"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
        <attributeGroup ref="gml:OwnershipAttributeGroup"/>
    </complexType>
    <element name="StratigraphicSection" substitutionGroup="sams:SF_SpatialSamplingFeature" type="gsmlgt:StratigraphicSectionType">
        <annotation>
            <documentation>A sampled section of the stratigraphic record used to define a period in geologic time</documentation>
        </annotation>
    </element>
    <complexType name="StratigraphicSectionType">
        <complexContent>
            <extension base="sams:SF_SpatialSamplingFeatureType">
                <sequence>
                    <element name="geologicSetting" nillable="true">
                        <annotation>
                            <documentation>A description of the geologic setting of the stratigraphic section</documentation>
                        </annotation>
                            <complexType>  
                                <simpleContent>
                                    <extension base="string">
                                        <attribute name="nilReason" type="gml:NilReasonType"/>
                                    </extension>
                                </simpleContent>
                            </complexType>
                    </element>
                    <element name="geologicDescription" nillable="true">
                        <annotation>
                            <documentation>A description of the geology of the stratigraphic section (eg, lithology, paleontology, paleogeography, etc)</documentation>
                        </annotation>
                        <complexType>  
                            <simpleContent>
                                <extension base="string">
                                    <attribute name="nilReason" type="gml:NilReasonType"/>
                                </extension>
                            </simpleContent>
                        </complexType>
                    </element>
                    <element name="accessibility" nillable="true">
                        <annotation>
                            <documentation>A description of the ability to access the stratigraphic section</documentation>
                        </annotation>
                        <complexType> 
                            <simpleContent>
                                <extension base="string">
                                    <attribute name="nilReason" type="gml:NilReasonType"/>
                                </extension>
                            </simpleContent>
                        </complexType>
                    </element>
                    <element name="conservation" nillable="true">
                        <annotation>
                            <documentation>A description of measures to conserve the stratigraphic section</documentation>
                        </annotation>
                        <complexType>  
                            <simpleContent>
                                <extension base="string">
                                    <attribute name="nilReason" type="gml:NilReasonType"/>
                                </extension>
                            </simpleContent>
                        </complexType>
                    </element>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="StratigraphicSectionPropertyType">
        <sequence minOccurs="0">
            <element ref="gsmlgt:StratigraphicSection"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
        <attributeGroup ref="gml:OwnershipAttributeGroup"/>
    </complexType>
</schema>