deegree-datastores/deegree-tilestores/deegree-tilestore-cache/src/main/resources/META-INF/schemas/datasource/tile/cache/cache.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://www.w3.org/2001/XMLSchema"
  targetNamespace="http://www.deegree.org/datasource/tile/cache" xmlns:t="http://www.deegree.org/datasource/tile/cache"
  elementFormDefault="qualified" xmlns:jaxb="http://java.sun.com/xml/ns/jaxb" jaxb:version="2.1">

  <annotation>
    <appinfo>
      <jaxb:schemaBindings>
        <jaxb:package name="org.deegree.tile.persistence.cache.jaxb" />
      </jaxb:schemaBindings>
    </appinfo>
  </annotation>

  <element name="CachingTileStore">
    <complexType>
      <sequence>
        <element name="TileStoreId" type="string" />
        <element name="CacheConfiguration" type="string" />
        <element name="CacheName" type="string" />
      </sequence>
      <attribute name="configVersion" type="string" use="optional"/>
    </complexType>
  </element>

</schema>