deegree-services/deegree-services-wps/src/main/resources/META-INF/schemas/services/wps/wps_configuration.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:wps="http://www.deegree.org/services/wps" xmlns:xlink="http://www.w3.org/1999/xlink"
  targetNamespace="http://www.deegree.org/services/wps" elementFormDefault="qualified" xmlns:jaxb="http://java.sun.com/xml/ns/jaxb"
  jaxb:version="2.1">
  <annotation>
    <appinfo>
      <jaxb:schemaBindings>
        <jaxb:package name="org.deegree.services.jaxb.wps" />
      </jaxb:schemaBindings>
    </appinfo>
  </annotation>
  <element name="deegreeWPS">
    <complexType>
      <sequence>
        <element name="SupportedVersions" minOccurs="0">
          <complexType>
            <sequence>
              <element name="Version" type="wps:WPSVersionType" maxOccurs="unbounded" />
            </sequence>
          </complexType>
        </element>
        <element ref="wps:AbstractExecutionManager" minOccurs="0" />
      </sequence>
      <attribute name="configVersion" type="string" use="optional"/>
    </complexType>
  </element>
  <element name="AbstractExecutionManager" abstract="true" />
  <element name="DefaultExecutionManager" substitutionGroup="wps:AbstractExecutionManager">
    <complexType>
      <sequence>
        <element name="StorageDir" type="string" minOccurs="0" />
        <element name="TrackedExecutions" type="integer" minOccurs="0" default="100"/>
        <element name="InputDiskSwitchLimit" type="integer" minOccurs="0" default="1048576"/>
      </sequence>
    </complexType>
  </element>
  <simpleType name="WPSVersionType">
    <restriction base="string">
      <enumeration value="1.0.0" />
    </restriction>
  </simpleType>
</schema>