deegree-core/deegree-core-cs/src/main/resources/META-INF/schemas/crs/stores/store.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://www.w3.org/2001/XMLSchema" xmlns:str="http://www.deegree.org/crs/store"
	targetNamespace="http://www.deegree.org/crs/store">
	<complexType name="_AbstractStore" abstract="true">
		<annotation>
			<documentation>The abstract root is used for the definition of the
				transformation type</documentation>
		</annotation>
		<attribute name="transformationType" default="HELMERT"
			type="str:TransformationType" />
	</complexType>
	<simpleType name="TransformationType">
		<restriction base="string">
			<enumeration value="HELMERT" />
			<enumeration value="NTV2" />
		</restriction>
	</simpleType>
</schema>
