uncoupled/orphaned-after-3.2/deegree-services-sos/src/main/resources/META-INF/schemas/services/sos/3.0.0/sos_published_information.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:sos="http://www.deegree.org/services/sos" xmlns:xlink="http://www.w3.org/1999/xlink"
  targetNamespace="http://www.deegree.org/services/sos" elementFormDefault="qualified" attributeFormDefault="unqualified">
  <element name="PublishedInformation">
    <complexType>
      <sequence>
        <element name="SupportedVersions">
          <complexType>
            <sequence>
              <element name="Version" type="string" maxOccurs="unbounded" />
            </sequence>
          </complexType>
        </element>
        <element name="OWSOptions">
          <complexType>
            <sequence>
              <element name="HTTPStatusCodeForExceptions" type="int" default="400" minOccurs="0" />
            </sequence>
          </complexType>
        </element>
      </sequence>
    </complexType>
  </element>
</schema>
