deegree-services/deegree-services-csw/src/main/resources/META-INF/schemas/csw/3.1.0/csw_configuration.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns:csw="http://www.deegree.org/services/csw" xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.deegree.org/services/csw"
  elementFormDefault="qualified" attributeFormDefault="unqualified" xmlns:jaxb="http://java.sun.com/xml/ns/jaxb"
  jaxb:version="2.1">
  <annotation>
    <appinfo>
      <jaxb:schemaBindings>
        <jaxb:package name="org.deegree.services.jaxb.csw" />
      </jaxb:schemaBindings>
    </appinfo>
  </annotation>
  <element name="deegreeCSW">
    <complexType>
      <sequence>
        <element name="SupportedVersions" minOccurs="0">
          <complexType>
            <sequence>
              <element name="Version" type="csw:CSWVersionType" maxOccurs="unbounded" />
            </sequence>
          </complexType>
        </element>
        <element name="MaxMatches" type="nonNegativeInteger" minOccurs="0" default="0">
          <annotation>
            <documentation>
              Controls the mode for determining the number of matching records for GetRecords records. If
              omitted (or set to 0), the number of matching records will be determined using a separate count query
              against the metadata store. Otherwise, record retrieval and determination of hits is performed using a
              single call against that metadata store. The latter can be much more efficient, if a metadata store
              contains a very large number of records, but it restricts the number of matches that are considered and
              accessible by GetRecords requests.
            </documentation>
          </annotation>
        </element>
        <element name="EnableTransactions" type="boolean" minOccurs="0" default="false">
          <annotation>
            <documentation>
              The CSW can be configured to state 'read-only' or 'read-write'. For 'read-only', the user is
              not able to change data. In this case the transaction operation is disabled. The default state is
              'read-only'. 			      
            </documentation>
          </annotation>
        </element>
        <element name="EnableInspireExtensions" minOccurs="0">
          <annotation>
            <documentation>
              Enable the INSPIRE extension (for ISO catalogues).
            </documentation>
          </annotation>
        </element>
      </sequence>
      <attribute name="configVersion" use="required">
        <simpleType>
          <restriction base="string">
            <enumeration value="3.0.0" />
            <enumeration value="3.1.0" />
          </restriction>
        </simpleType>
      </attribute>
    </complexType>
  </element>
  <simpleType name="CSWVersionType">
    <restriction base="string">
      <enumeration value="2.0.2" />
    </restriction>
  </simpleType>
</schema>