deegree-spring/src/main/resources/META-INF/schemas/spring/3.4.0/generic.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.deegree.org/spring/generic"
	elementFormDefault="qualified" xmlns:jaxb="http://java.sun.com/xml/ns/jaxb"
	jaxb:version="2.1">
	
	<annotation>
		<appinfo>
			<jaxb:schemaBindings>
				<jaxb:package name="org.deegree.spring.jaxb" />
			</jaxb:schemaBindings>
		</appinfo>
	</annotation>
	
	<complexType name="SingleBeanRef">
		<sequence>
			<element name="ApplicationContextHolder" type="string" />
			<element name="BeanName" type="string" minOccurs="0" />
		</sequence>
	</complexType>
</schema>