resources/model/examples/generic_xml/test3.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:app="http://www.deegree.org/app" targetNamespace="http://www.deegree.org/app" elementFormDefault="unqualified" attributeFormDefault="unqualified">
	<complexType name="aType">
		<sequence>
			<element name="a" type="string"/>
			<choice>
  			<element name="b" type="int"/>
  			<element name="c" type="int"/>  			
			</choice>			
		</sequence>
		<anyAttribute/>
	</complexType>
	<element name="MyObject" type="app:aType"/>
</schema>
