deegree-processproviders/deegree-processprovider-jrxml/src/main/resources/META-INF/schemas/processes/jrxml/0.1.0/jrxmlProcess.xsd

<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:jr="http://www.deegree.org/processes/jrxml"
	targetNamespace="http://www.deegree.org/processes/jrxml"
	elementFormDefault="qualified" attributeFormDefault="unqualified"
	xmlns:jaxb="http://java.sun.com/xml/ns/jaxb" jaxb:version="2.1">
	<annotation>
		<appinfo>
			<jaxb:schemaBindings>
				<jaxb:package name="org.deegree.services.wps.provider.jrxml.jaxb.process" />
			</jaxb:schemaBindings>
		</appinfo>
	</annotation>

	<element name="JrxmlProcesses">
		<complexType>
			<sequence>
				<element ref="jr:JrxmlProcess" minOccurs="0" maxOccurs="unbounded" />
			</sequence>
			<attribute name="configVersion" use="required" fixed="0.1.0" />
		</complexType>
	</element>

	<element name="JrxmlProcess">
		<complexType>
			<sequence>
				<element name="jrxml" type="anyURI" minOccurs="1" />
				<element ref="jr:Metadata" minOccurs="0" />
				<element ref="jr:ResourceBundle" minOccurs="0" />
				<element name="subreport" minOccurs="0" maxOccurs="unbounded">
					<annotation>
						<documentation>
							Describe all subreports used in the main report
							here.  
					</documentation>
					</annotation>
					<complexType>
						<simpleContent>
							<extension base="anyURI">
								<annotation>
									<documentation>The reference to the subreport, must be a jrxml
										file.
								</documentation>
								</annotation>
								<attribute name="id" type="string" use="required">
									<annotation>
										<documentation>The parameter referencing the subreport.
										</documentation>
									</annotation>
								</attribute>
							</extension>
						</simpleContent>
					</complexType>
				</element>
			</sequence>
			<attribute name="id" type="string" use="required" />
		</complexType>
	</element>

	<element name="ResourceBundle">
		<complexType>
			<sequence>
				<element name="prefix" type="string" minOccurs="1" />
				<element name="name" type="string" minOccurs="1" />
				<element name="defaultLocale" type="string" minOccurs="1" />
				<element name="supportedLocale" type="string" minOccurs="1"
					maxOccurs="unbounded" />
			</sequence>
		</complexType>
	</element>

	<element name="Metadata">
		<complexType>
			<sequence>
				<element name="template" type="anyURI" minOccurs="0" />
				<element name="description" type="string" minOccurs="0" />
				<element name="parameter" minOccurs="0" maxOccurs="unbounded">
					<complexType>
						<sequence>
							<element name="title" type="string" minOccurs="0" />
							<element name="description" type="string" minOccurs="0" />
						</sequence>
						<attribute name="id" type="string" use="required" />
					</complexType>
				</element>
			</sequence>
		</complexType>
	</element>

</schema>
