deegree-processproviders/deegree-processprovider-jrxml/src/main/resources/META-INF/schemas/processes/jrxml/0.1.0/jrxmlProcess.xsd

<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:jr="http://www.deegree.org/processes/jrxml"
	targetNamespace="http://www.deegree.org/processes/jrxml"
	elementFormDefault="qualified" attributeFormDefault="unqualified"
	xmlns:jaxb="http://java.sun.com/xml/ns/jaxb" jaxb:version="2.1">
	<annotation>
		<appinfo>
			<jaxb:schemaBindings>
				<jaxb:package name="org.deegree.services.wps.provider.jrxml.jaxb.process" />
			</jaxb:schemaBindings>
		</appinfo>
	</annotation>

	<element name="JrxmlProcesses">
		<complexType>
			<sequence>
				<element ref="jr:JrxmlProcess" minOccurs="0" maxOccurs="unbounded" />
			</sequence>
			<attribute name="configVersion" use="required" fixed="0.1.0" />
		</complexType>
	</element>

	<element name="JrxmlProcess">
		<complexType>
			<sequence>
				<element name="jrxml" type="anyURI" minOccurs="1" />
				<element name="resourceBundle" minOccurs="0">
					<complexType>
						<simpleContent>
							<extension base="anyURI">
								<attribute name="prefix" type="string" />
							</extension>
						</simpleContent>
					</complexType>
				</element>
			</sequence>
			<attribute name="id" type="string" use="required" />
		</complexType>
	</element>


</schema>