uncoupled/orphaned-after-3.3/deegree-processprovider-jrxml/src/main/resources/META-INF/schemas/processes/jrxml/0.1.0/table/0.1.0/table.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema erstellt mit XMLSpy v2008 rel. 2 sp2 (http://www.altova.com) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://www.deegree.org/processprovider/table"
	xmlns:tbl="http://www.deegree.org/processprovider/table"
	elementFormDefault="qualified" xmlns:jaxb="http://java.sun.com/xml/ns/jaxb"
	jaxb:version="2.1">
	<xs:annotation>
		<xs:appinfo>
			<jaxb:schemaBindings>
				<jaxb:package name="org.deegree.services.wps.provider.jrxml.jaxb.table" />
			</jaxb:schemaBindings>
		</xs:appinfo>
	</xs:annotation>
	<xs:element name="XMLDataSource">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Name" type="xs:string" />
				<xs:element ref="tbl:Header" />
				<xs:element ref="tbl:Details" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Header">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="HeaderEntry" type="xs:string"
					maxOccurs="unbounded" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Details">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="tbl:Detail" maxOccurs="unbounded" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Detail">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="DetailEntry" type="xs:string"
					maxOccurs="unbounded" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
