deegree-core/deegree-core-gdal/src/main/resources/META-INF/schemas/commons/gdal/gdal.xsd

<schema xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://www.w3.org/2001/XMLSchema"
  targetNamespace="http://www.deegree.org/gdal" elementFormDefault="qualified" xmlns:jaxb="http://java.sun.com/xml/ns/jaxb"
  jaxb:version="2.1" xmlns:gdal="http://www.deegree.org/gdal">

  <annotation>
    <appinfo>
      <jaxb:schemaBindings>
        <jaxb:package name="org.deegree.commons.gdal.jaxb" />
      </jaxb:schemaBindings>
    </appinfo>
  </annotation>

  <element name="GDALSettings">
    <complexType>
      <sequence>
        <element name="OpenDatasets" type="positiveInteger" />
        <element name="GDALOption" minOccurs="0" maxOccurs="unbounded">
          <complexType>
            <simpleContent>
              <extension base="string">
                <attribute name="name" use="required" />
              </extension>
            </simpleContent>
          </complexType>
        </element>
      </sequence>
      <attribute name="configVersion" type="string" use="optional"/>
    </complexType>
  </element>
</schema>
