deegree-core/src/main/resources/META-INF/schemas/datasource/feature/postgis/3.0.0/postgis.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:postgisfs="http://www.deegree.org/datasource/feature/postgis"
  xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.deegree.org/datasource/feature/postgis"
  elementFormDefault="qualified" xmlns:jaxb="http://java.sun.com/xml/ns/jaxb" jaxb:version="2.1">
  <annotation>
    <appinfo>
      <jaxb:schemaBindings>
        <jaxb:package name="org.deegree.feature.persistence.postgis.jaxb" />
      </jaxb:schemaBindings>
    </appinfo>
  </annotation>
  <element name="PostGISFeatureStore">
    <annotation>
      <documentation>FeatureStore that is backed by a PostgreSQL / PostGIS database</documentation>
      <appinfo>
        <jaxb:class name="PostGISFeatureStoreConfig" />
      </appinfo>
    </annotation>
    <complexType>
      <sequence>
        <element name="JDBCConnId" type="string" />
        <choice>
          <element ref="postgisfs:FeatureType" minOccurs="0" maxOccurs="unbounded" />
          <element name="BLOBMapping">
            <complexType>
              <sequence>
                <element name="StorageCRS" type="string" />
                <element name="GMLSchema" minOccurs="1" maxOccurs="unbounded">
                  <complexType>
                    <simpleContent>
                      <extension base="string">
                        <attribute name="version" type="postgisfs:GMLVersionType" use="required" />
                      </extension>
                    </simpleContent>
                  </complexType>
                </element>
                <element name="NamespaceHint" minOccurs="0" maxOccurs="unbounded">
                  <complexType>
                    <attribute name="prefix" type="string" use="required" />
                    <attribute name="namespaceURI" type="string" use="required" />
                  </complexType>
                </element>
                <element ref="postgisfs:FeatureType" minOccurs="0" maxOccurs="unbounded" />
              </sequence>
            </complexType>
          </element>
        </choice>
      </sequence>
      <attribute name="configVersion" use="required" fixed="3.0.0" />
    </complexType>
  </element>
  <simpleType name="GMLVersionType">
    <restriction base="string">
      <enumeration value="GML_2" />
      <enumeration value="GML_30" />
      <enumeration value="GML_31" />
      <enumeration value="GML_32" />
    </restriction>
  </simpleType>
  <!-- === Feature type definition === -->
  <element name="FeatureType">
    <complexType>
      <annotation>
        <documentation>Declaration of a feature type of the schema</documentation>
        <appinfo>
          <jaxb:class name="FeatureTypeDecl" />
        </appinfo>
      </annotation>
      <sequence>
        <element ref="postgisfs:FIDMapping" minOccurs="0" />
        <element ref="postgisfs:AbstractProperty" minOccurs="0" maxOccurs="unbounded" />
      </sequence>
      <attribute name="name" type="QName">
        <annotation>
          <documentation>Qualified name of the feature type (if omitted, it is derived from the table name)
          </documentation>
        </annotation>
      </attribute>
      <attribute name="table" type="string" use="required">
        <annotation>
          <documentation>Table that the feature type is mapped to</documentation>
        </annotation>
      </attribute>
    </complexType>
  </element>
  <!-- === Feature id mapping and id generators === -->
  <element name="FIDMapping">
    <complexType>
      <sequence>
        <element name="Column">
          <complexType>
            <attribute name="name" type="string" use="required" />
            <attribute name="type" type="postgisfs:PrimitiveType" />
          </complexType>
        </element>
        <element ref="postgisfs:AbstractIDGenerator" />
      </sequence>
    </complexType>
  </element>
  <element name="AbstractIDGenerator" abstract="true" type="postgisfs:AbstractIDGeneratorType" />
  <complexType name="AbstractIDGeneratorType" abstract="true">
    <sequence />
  </complexType>
  <element name="AutoIdGenerator" substitutionGroup="postgisfs:AbstractIDGenerator">
    <complexType>
      <complexContent>
        <extension base="postgisfs:AbstractIDGeneratorType" />
      </complexContent>
    </complexType>
  </element>
  <element name="UUIDGenerator" substitutionGroup="postgisfs:AbstractIDGenerator">
    <complexType>
      <complexContent>
        <extension base="postgisfs:AbstractIDGeneratorType" />
      </complexContent>
    </complexType>
  </element>
  <element name="SequenceIDGenerator" substitutionGroup="postgisfs:AbstractIDGenerator">
    <complexType>
      <complexContent>
        <extension base="postgisfs:AbstractIDGeneratorType">
          <attribute name="sequence" type="string" use="required" />
        </extension>
      </complexContent>
    </complexType>
  </element>
  <!-- === Abstract property definition === -->
  <element name="AbstractProperty" type="postgisfs:AbstractPropertyType" abstract="true" />
  <complexType name="AbstractPropertyType" abstract="true">
    <annotation>
      <documentation>Declaration of a property of a feature type.</documentation>
      <appinfo>
        <jaxb:class name="AbstractPropertyDecl" />
      </appinfo>
    </annotation>
    <sequence>
      <element ref="postgisfs:JoinedTable" minOccurs="0" />
    </sequence>
    <attribute name="name" type="QName">
      <annotation>
        <documentation>Qualified name of the property (if omitted, it is derived from the mapping column)
        </documentation>
      </annotation>
    </attribute>
    <attribute name="minOccurs" type="nonNegativeInteger">
      <annotation>
        <documentation>The minimum number of times that this property is required in feature instances</documentation>
      </annotation>
    </attribute>
    <attribute name="maxOccurs">
      <annotation>
        <documentation>The maximum number of times that this property is permitted in feature instances</documentation>
      </annotation>
      <simpleType>
        <union memberTypes="positiveInteger">
          <simpleType>
            <restriction base="token">
              <enumeration value="unbounded" />
            </restriction>
          </simpleType>
        </union>
      </simpleType>
    </attribute>
    <attribute name="mapping" type="string" use="optional">
      <annotation>
        <documentation>Mapping of the property (currently, this can only be the name of a column)</documentation>
      </annotation>
    </attribute>
    <attribute name="nilMapping" type="string" use="optional">
      <annotation>
        <documentation>Boolean column that stores whether the property is nilled</documentation>
      </annotation>
    </attribute>
  </complexType>
  <!-- === Simple property declaration / mapping === -->
  <element name="SimpleProperty" substitutionGroup="postgisfs:AbstractProperty">
    <complexType>
      <annotation>
        <documentation>Declaration of a simple property of a feature type.</documentation>
        <appinfo>
          <jaxb:class name="SimplePropertyDecl" />
        </appinfo>
      </annotation>
      <complexContent>
        <extension base="postgisfs:AbstractPropertyType">
          <attribute name="type" type="postgisfs:PrimitiveType">
            <annotation>
              <documentation>Primitive type of the property (if omitted, it is automatically determined from column)
              </documentation>
            </annotation>
          </attribute>
        </extension>
      </complexContent>
    </complexType>
  </element>
  <simpleType name="PrimitiveType">
    <restriction base="string">
      <enumeration value="string">
        <annotation>
          <documentation>String-valued property (=xs:string)</documentation>
        </annotation>
      </enumeration>
      <enumeration value="boolean">
        <annotation>
          <documentation>Boolean-valued property (=xs:boolean)</documentation>
        </annotation>
      </enumeration>
      <enumeration value="decimal">
        <annotation>
          <documentation>Decimal-valued property (=xs:decimal)</documentation>
        </annotation>
      </enumeration>
      <enumeration value="double">
        <annotation>
          <documentation>Double-valued property (=xs:double)</documentation>
        </annotation>
      </enumeration>
      <enumeration value="integer">
        <annotation>
          <documentation>Integer-valued property (=xs:integer)</documentation>
        </annotation>
      </enumeration>
      <enumeration value="date">
        <annotation>
          <documentation>Date-valued property (=xs:date)</documentation>
        </annotation>
      </enumeration>
      <enumeration value="dateTime">
        <annotation>
          <documentation>Date-valued property (=xs:dateTime)</documentation>
        </annotation>
      </enumeration>
      <enumeration value="time">
        <annotation>
          <documentation>Time-valued property (=xs:time)</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <!-- === Geometry property declaration / mapping === -->
  <element name="GeometryProperty" substitutionGroup="postgisfs:AbstractProperty">
    <complexType>
      <annotation>
        <documentation>Definition of a geometry-valued property of a feature type</documentation>
        <appinfo>
          <jaxb:class name="GeometryPropertyDecl" />
        </appinfo>
      </annotation>
      <complexContent>
        <extension base="postgisfs:AbstractPropertyType">
          <attribute name="type" type="postgisfs:GeometryType">
            <annotation>
              <documentation>Geometry type (if omitted, it is automatically determined from table geometry_columns)
              </documentation>
            </annotation>
          </attribute>
          <attribute name="crs" type="string">
            <annotation>
              <documentation>deegree CRS identifier used for the geometry property, e.g. 'EPSG:4326' (if omitted, it is
                automatically derived from the PostGIS srid)</documentation>
            </annotation>
          </attribute>
          <attribute name="srid" type="integer">
            <annotation>
              <documentation>PostGIS SRID of the column (if omitted, it is automatically determined from table
                geometry_columns)</documentation>
            </annotation>
          </attribute>
          <attribute name="dim">
            <annotation>
              <documentation>Dimensionality of the geometry coordinates (if omitted, it is automatically determined from
                table geometry_columns)</documentation>
            </annotation>
            <simpleType>
              <restriction base="NMTOKENS">
                <enumeration value="2D" />
                <enumeration value="3D" />
              </restriction>
            </simpleType>
          </attribute>
        </extension>
      </complexContent>
    </complexType>
  </element>
  <simpleType name="GeometryType">
    <restriction base="string">
      <enumeration value="Geometry" />
      <enumeration value="PrimitiveGeometry" />
      <enumeration value="CompositeGeometry" />
      <!-- Primitive types (0D) -->
      <enumeration value="Point" />
      <!-- Primitive types (1D) -->
      <enumeration value="Curve" />
      <enumeration value="LineString" />
      <enumeration value="Ring" />
      <enumeration value="LinearRing" />
      <enumeration value="OrientableCurve" />
      <enumeration value="CompositeCurve" />
      <!-- Primitive types (2D) -->
      <enumeration value="Surface" />
      <enumeration value="PolyhedralSurface" />
      <enumeration value="TriangulatedSurface" />
      <enumeration value="Tin" />
      <enumeration value="Polygon" />
      <enumeration value="OrientableSurface" />
      <enumeration value="CompositeSurface" />
      <!-- Primitive types (3D) -->
      <enumeration value="Solid" />
      <enumeration value="CompositeSolid" />
      <!-- Aggregate types -->
      <enumeration value="MultiGeometry" />
      <enumeration value="MultiPoint" />
      <enumeration value="MultiCurve" />
      <enumeration value="MultiLineString" />
      <enumeration value="MultiSurface" />
      <enumeration value="MultiPolygon" />
      <enumeration value="MultiSolid" />
    </restriction>
  </simpleType>
  <!-- === Feature property declaration / mapping === -->
  <element name="FeatureProperty" substitutionGroup="postgisfs:AbstractProperty">
    <complexType>
      <annotation>
        <documentation>Definition of a feature-valued property of a feature type.</documentation>
        <appinfo>
          <jaxb:class name="FeaturePropertyDecl" />
        </appinfo>
      </annotation>
      <complexContent>
        <extension base="postgisfs:AbstractPropertyType">
          <attribute name="type" type="QName" use="optional">
            <annotation>
              <documentation>Allowed feature type.</documentation>
            </annotation>
          </attribute>
        </extension>
      </complexContent>
    </complexType>
  </element>
  <!-- === Code property declaration / mapping === -->
  <element name="CodeProperty" substitutionGroup="postgisfs:AbstractProperty">
    <complexType>
      <annotation>
        <documentation>Definition of a code-valued property of a feature type.</documentation>
        <appinfo>
          <jaxb:class name="CodePropertyDecl" />
        </appinfo>
      </annotation>
      <complexContent>
        <extension base="postgisfs:AbstractPropertyType">
          <attribute name="codeSpaceMapping" type="string" use="optional">
            <annotation>
              <documentation>Mapping expression for the codeSpace attribute.</documentation>
            </annotation>
          </attribute>
        </extension>
      </complexContent>
    </complexType>
  </element>
  <!-- === Measure property declaration / mapping === -->
  <element name="MeasureProperty" substitutionGroup="postgisfs:AbstractProperty">
    <complexType>
      <annotation>
        <documentation>Definition of a measure-valued property of a feature type.</documentation>
        <appinfo>
          <jaxb:class name="MeasurePropertyDecl" />
        </appinfo>
      </annotation>
      <complexContent>
        <extension base="postgisfs:AbstractPropertyType">
          <attribute name="uomMapping" type="string" use="optional">
            <annotation>
              <documentation>Mapping expression for the uom attribute.</documentation>
            </annotation>
          </attribute>
        </extension>
      </complexContent>
    </complexType>
  </element>
  <!-- === Custom property declaration / mapping === -->
  <element name="CustomProperty" substitutionGroup="postgisfs:AbstractProperty">
    <complexType>
      <annotation>
        <documentation>Definition of a custom-valued property of a feature type.</documentation>
        <appinfo>
          <jaxb:class name="CustomPropertyDecl" />
        </appinfo>
      </annotation>
      <complexContent>
        <extension base="postgisfs:AbstractPropertyType">
          <sequence>
            <element ref="postgisfs:AbstractCustomMapping" minOccurs="0" maxOccurs="unbounded" />
          </sequence>
        </extension>
      </complexContent>
    </complexType>
  </element>
  <element name="AbstractCustomMapping" abstract="true" type="postgisfs:AbstractCustomMappingType" />
  <complexType name="AbstractCustomMappingType">
    <annotation>
      <documentation>Defines the mapping for (a part of) a custom property.</documentation>
      <appinfo>
        <jaxb:class name="CustomMapping" />
      </appinfo>
    </annotation>
    <attribute name="path" type="string" use="required">
      <annotation>
        <documentation>(Relative) XPath targeted by this mapping.</documentation>
      </annotation>
    </attribute>
    <attribute name="mapping" type="string">
      <annotation>
        <documentation>Mapping expression.</documentation>
      </annotation>
    </attribute>
  </complexType>
  <element name="PrimitiveMapping" substitutionGroup="postgisfs:AbstractCustomMapping">
    <complexType>
      <annotation>
        <documentation>Defines the mapping for a primitive node of a custom property.</documentation>
        <appinfo>
          <jaxb:class name="PrimitiveMapping" />
        </appinfo>
      </annotation>
      <complexContent>
        <extension base="postgisfs:AbstractCustomMappingType">
          <attribute name="type" type="postgisfs:PrimitiveType">
            <annotation>
              <documentation>Primitive type.</documentation>
            </annotation>
          </attribute>
        </extension>
      </complexContent>
    </complexType>
  </element>
  <element name="GeometryMapping" substitutionGroup="postgisfs:AbstractCustomMapping">
    <complexType>
      <annotation>
        <documentation>Defines the mapping for a Geometry inside a custom property.</documentation>
        <appinfo>
          <jaxb:class name="GeometryMapping" />
        </appinfo>
      </annotation>
      <complexContent>
        <extension base="postgisfs:AbstractCustomMappingType">
          <attribute name="type" type="postgisfs:GeometryType">
            <annotation>
              <documentation>Geometry type.</documentation>
            </annotation>
          </attribute>
        </extension>
      </complexContent>
    </complexType>
  </element>
  <element name="FeatureMapping" substitutionGroup="postgisfs:AbstractCustomMapping">
    <complexType>
      <annotation>
        <documentation>Defines the mapping for a Feature inside a custom property.</documentation>
        <appinfo>
          <jaxb:class name="FeatureMapping" />
        </appinfo>
      </annotation>
      <complexContent>
        <extension base="postgisfs:AbstractCustomMappingType">
          <attribute name="type" type="QName" use="optional">
            <annotation>
              <documentation>Allowed feature type.</documentation>
            </annotation>
          </attribute>
        </extension>
      </complexContent>
    </complexType>
  </element>
  <element name="ComplexMapping" substitutionGroup="postgisfs:AbstractCustomMapping">
    <complexType>
      <annotation>
        <documentation>Defines the mapping for a part of a custom property.</documentation>
        <appinfo>
          <jaxb:class name="ComplexMapping" />
        </appinfo>
      </annotation>
      <complexContent>
        <extension base="postgisfs:AbstractCustomMappingType">
          <sequence>
            <element ref="postgisfs:JoinedTable" minOccurs="0" />
            <element ref="postgisfs:AbstractCustomMapping" minOccurs="0" maxOccurs="unbounded" />
          </sequence>
        </extension>
      </complexContent>
    </complexType>
  </element>
  <element name="JoinedTable">
    <complexType>
      <annotation>
        <documentation>Defines a 1:n mapping in the relational schema.</documentation>
      </annotation>
      <simpleContent>
        <extension base="string">
          <attribute name="indexColumn" type="string" use="optional">
            <annotation>
              <documentation>Name of the column that stores the index of the related object.</documentation>
            </annotation>
          </attribute>
        </extension>
      </simpleContent>
    </complexType>
  </element>
</schema>