deegree-demos/deegree-wfs-inspire/src/main/webapp/WEB-INF/conf/datasources/feature/schemas/inspire/annex1/Buildings.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:bui="urn:x-inspire:specification:gmlas:Buildings:0.0" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:tn-a="urn:x-inspire:specification:gmlas:AirTransportNetwork:3.0" elementFormDefault="qualified" targetNamespace="urn:x-inspire:specification:gmlas:Buildings:0.0" version="0.0">
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <import namespace="urn:x-inspire:specification:gmlas:AirTransportNetwork:3.0" schemaLocation="AirTransportNetwork.xsd"/>
  <!--XML Schema document created by ShapeChange-->
  <element name="Building" substitutionGroup="gml:AbstractFeature" type="bui:BuildingType">
    <annotation>
      <documentation>-- Definition --&#13;
A building is a covered facility, usable for the protection of humans, animals, things or the production of economic goods. A building refers to any structure permanently constructed or erected on its site.</documentation>
    </annotation>
  </element>
  <complexType name="BuildingType">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="BuildingPropertyType">
    <sequence minOccurs="0">
      <element ref="bui:Building"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="ControlTower" substitutionGroup="gml:AbstractFeature" type="bui:ControlTowerType">
    <annotation>
      <documentation>-- Definition --&#13;
Aerodrome control tower [Unit.Type='TWR' - AIXM5.0].&#13;
&#13;
-- Description --&#13;
NOTE Point representing the situation of a Control Tower belonging to an aerodrome (airport/heliport), used to manage aircraft traffic in the runways and nearest airspace to the aerodrome.&#13;
</documentation>
    </annotation>
  </element>
  <complexType name="ControlTowerType">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence>
          <element name="airportHeliport" nillable="true" type="gml:ReferenceType">
            <annotation>
              <documentation>-- Definition --&#13;
The aerodrome (airport/heliport) to which the control tower belongs.</documentation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">tn-a:AerodromeNode</targetElement>
                <reversePropertyName xmlns="http://www.opengis.net/gml/3.2">tn-a:controlTowers</reversePropertyName>
              </appinfo>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="ControlTowerPropertyType">
    <sequence minOccurs="0">
      <element ref="bui:ControlTower"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
</schema>
