deegree-demos/deegree-wfs-inspire/src/main/webapp/WEB-INF/conf/datasources/feature/schemas/inspire/annex1/HydroNetwork.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:gn="urn:x-inspire:specification:gmlas:GeographicalNames:3.0" xmlns:hy="urn:x-inspire:specification:gmlas:HydroBase:3.0" xmlns:hy-n="urn:x-inspire:specification:gmlas:HydroNetwork:3.0" xmlns:net="urn:x-inspire:specification:gmlas:Network:3.2" elementFormDefault="qualified" targetNamespace="urn:x-inspire:specification:gmlas:HydroNetwork:3.0" version="3.0">
  <annotation>
    <documentation>-- Definition --&#13;
The Network application schema contains spatial objects associated with a connected hydrographic network representation of waterways, lakes etc. This is required primarily for the 'spatial analysis and modelling' Use Case.</documentation>
  </annotation>
  <import namespace="urn:x-inspire:specification:gmlas:HydroBase:3.0" schemaLocation="HydroBase.xsd"/>
  <import namespace="urn:x-inspire:specification:gmlas:Network:3.2" schemaLocation="Network.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <import namespace="urn:x-inspire:specification:gmlas:GeographicalNames:3.0" schemaLocation="GeographicalNames.xsd"/>
  <!--XML Schema document created by ShapeChange-->
  <element name="WatercourseSeparatedCrossing" substitutionGroup="net:GradeSeparatedCrossing" type="hy-n:WatercourseSeparatedCrossingType">
    <annotation>
      <documentation>-- Definition --&#13;
An element in the hydrographic network used to indicate non-interacting crossing of watercourse links separated by level.&#13;
&#13;
-- Description --&#13;
NOTE The crossing may legitimately break a no-intersection quality rule.</documentation>
    </annotation>
  </element>
  <complexType name="WatercourseSeparatedCrossingType">
    <complexContent>
      <extension base="net:GradeSeparatedCrossingType">
        <sequence>
          <element maxOccurs="unbounded" minOccurs="0" name="geographicalName" nillable="true">
            <annotation>
              <documentation>-- Definition --&#13;
A geographical name that is used to identify a hydrographic object in the real world. It provides a 'key' for implicitly associating different representations of the object.&#13;
&#13;
-- Description --&#13;
EXAMPLE A standing water in a mapping view may share the same geographical name as a WFD lake in a reporting view, implying they are both representations of the same real world object.</documentation>
            </annotation>
            <complexType>
              <sequence>
                <element ref="gn:GeographicalName"/>
              </sequence>
              <attribute name="nilReason" type="gml:NilReasonType"/>
            </complexType>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="hydroId" nillable="true">
            <annotation>
              <documentation>-- Definition --&#13;
An identifier that is used to identify a hydrographic object in the real world. It provides a 'key' for implicitly associating different representations of the object.&#13;
&#13;
-- Description --&#13;
NOTE 1 The identifier may be a national hydrological identification code.&#13;
&#13;
NOTE 2 More than one identifier may be required, for instance a watercourse may be assigned different identifying codes under national and European schemes.&#13;
&#13;
EXAMPLE A lock in a mapping view may share the same identifier as a hydro node in a network view, implying they are both representations of the same real world object.</documentation>
            </annotation>
            <complexType>
              <sequence>
                <element ref="hy:HydroIdentifier"/>
              </sequence>
              <attribute name="nilReason" type="gml:NilReasonType"/>
            </complexType>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="relatedHydroObject" type="gml:ReferenceType">
            <annotation>
              <documentation>-- Definition --&#13;
A related hydrographic object representing the same real-world entity.</documentation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">hy:HydroObject</targetElement>
              </appinfo>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="WatercourseSeparatedCrossingPropertyType">
    <sequence minOccurs="0">
      <element ref="hy-n:WatercourseSeparatedCrossing"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="WatercourseLink" substitutionGroup="net:Link" type="hy-n:WatercourseLinkType">
    <annotation>
      <documentation>-- Definition --&#13;
A segment of a watercourse within a hydrographic network.&#13;
&#13;
-- Description --&#13;
NOTE A watercourse link may be fictitious, with no direct correspondence to a real-world object and included only to ensure a closed network.&#13;
&#13;
EXAMPLE Fictitious examples:&#13;
- virtual network segment in coastal water area&#13;
- virtual network segment in lake area&#13;
- virtual network segment in river to connect tributary&#13;
- virtual network segment in transitional water area</documentation>
    </annotation>
  </element>
  <complexType name="WatercourseLinkType">
    <complexContent>
      <extension base="net:LinkType">
        <sequence>
          <element maxOccurs="unbounded" minOccurs="0" name="geographicalName" nillable="true">
            <annotation>
              <documentation>-- Definition --&#13;
A geographical name that is used to identify a hydrographic object in the real world. It provides a 'key' for implicitly associating different representations of the object.&#13;
&#13;
-- Description --&#13;
EXAMPLE A standing water in a mapping view may share the same geographical name as a WFD lake in a reporting view, implying they are both representations of the same real world object.</documentation>
            </annotation>
            <complexType>
              <sequence>
                <element ref="gn:GeographicalName"/>
              </sequence>
              <attribute name="nilReason" type="gml:NilReasonType"/>
            </complexType>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="hydroId" nillable="true">
            <annotation>
              <documentation>-- Definition --&#13;
An identifier that is used to identify a hydrographic object in the real world. It provides a 'key' for implicitly associating different representations of the object.&#13;
&#13;
-- Description --&#13;
NOTE 1 The identifier may be a national hydrological identification code.&#13;
&#13;
NOTE 2 More than one identifier may be required, for instance a watercourse may be assigned different identifying codes under national and European schemes.&#13;
&#13;
EXAMPLE A lock in a mapping view may share the same identifier as a hydro node in a network view, implying they are both representations of the same real world object.</documentation>
            </annotation>
            <complexType>
              <sequence>
                <element ref="hy:HydroIdentifier"/>
              </sequence>
              <attribute name="nilReason" type="gml:NilReasonType"/>
            </complexType>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="relatedHydroObject" type="gml:ReferenceType">
            <annotation>
              <documentation>-- Definition --&#13;
A related hydrographic object representing the same real-world entity.</documentation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">hy:HydroObject</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element name="flowDirection" nillable="true">
            <annotation>
              <documentation>-- Definition --&#13;
Direction of water flow in the segment relative to digitisation of segment geometry.</documentation>
            </annotation>
            <complexType>
              <simpleContent>
                <extension base="gml:CodeType">
                  <attribute name="nilReason" type="gml:NilReasonType"/>
                </extension>
              </simpleContent>
            </complexType>
          </element>
          <element name="length" nillable="true">
            <annotation>
              <documentation>-- Definition --&#13;
Length of network segment.</documentation>
            </annotation>
            <complexType>
              <simpleContent>
                <extension base="gml:LengthType">
                  <attribute name="nilReason" type="gml:NilReasonType"/>
                </extension>
              </simpleContent>
            </complexType>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="WatercourseLinkPropertyType">
    <sequence minOccurs="0">
      <element ref="hy-n:WatercourseLink"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="WatercourseLinkSequence" substitutionGroup="net:LinkSequence" type="hy-n:WatercourseLinkSequenceType">
    <annotation>
      <documentation>-- Definition --&#13;
A sequence of watercourse links representing a non-branching path through a hydrographic network.</documentation>
    </annotation>
  </element>
  <complexType name="WatercourseLinkSequenceType">
    <complexContent>
      <extension base="net:LinkSequenceType">
        <sequence>
          <element maxOccurs="unbounded" minOccurs="0" name="geographicalName" nillable="true">
            <annotation>
              <documentation>-- Definition --&#13;
A geographical name that is used to identify a hydrographic object in the real world. It provides a 'key' for implicitly associating different representations of the object.&#13;
&#13;
-- Description --&#13;
EXAMPLE A standing water in a mapping view may share the same geographical name as a WFD lake in a reporting view, implying they are both representations of the same real world object.</documentation>
            </annotation>
            <complexType>
              <sequence>
                <element ref="gn:GeographicalName"/>
              </sequence>
              <attribute name="nilReason" type="gml:NilReasonType"/>
            </complexType>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="hydroId" nillable="true">
            <annotation>
              <documentation>-- Definition --&#13;
An identifier that is used to identify a hydrographic object in the real world. It provides a 'key' for implicitly associating different representations of the object.&#13;
&#13;
-- Description --&#13;
NOTE 1 The identifier may be a national hydrological identification code.&#13;
&#13;
NOTE 2 More than one identifier may be required, for instance a watercourse may be assigned different identifying codes under national and European schemes.&#13;
&#13;
EXAMPLE A lock in a mapping view may share the same identifier as a hydro node in a network view, implying they are both representations of the same real world object.</documentation>
            </annotation>
            <complexType>
              <sequence>
                <element ref="hy:HydroIdentifier"/>
              </sequence>
              <attribute name="nilReason" type="gml:NilReasonType"/>
            </complexType>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="relatedHydroObject" type="gml:ReferenceType">
            <annotation>
              <documentation>-- Definition --&#13;
A related hydrographic object representing the same real-world entity.</documentation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">hy:HydroObject</targetElement>
              </appinfo>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="WatercourseLinkSequencePropertyType">
    <sequence minOccurs="0">
      <element ref="hy-n:WatercourseLinkSequence"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="HydroNode" substitutionGroup="net:Node" type="hy-n:HydroNodeType">
    <annotation>
      <documentation>-- Definition --&#13;
A node within the hydrographic network.&#13;
&#13;
-- Description --&#13;
NOTE May represent a physical confluence, bifurcation/confluence/vanishing point etc, or it may be associated with a hydrographic point of interest or facility.</documentation>
    </annotation>
  </element>
  <complexType name="HydroNodeType">
    <complexContent>
      <extension base="net:NodeType">
        <sequence>
          <element maxOccurs="unbounded" minOccurs="0" name="geographicalName" nillable="true">
            <annotation>
              <documentation>-- Definition --&#13;
A geographical name that is used to identify a hydrographic object in the real world. It provides a 'key' for implicitly associating different representations of the object.&#13;
&#13;
-- Description --&#13;
EXAMPLE A standing water in a mapping view may share the same geographical name as a WFD lake in a reporting view, implying they are both representations of the same real world object.</documentation>
            </annotation>
            <complexType>
              <sequence>
                <element ref="gn:GeographicalName"/>
              </sequence>
              <attribute name="nilReason" type="gml:NilReasonType"/>
            </complexType>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="hydroId" nillable="true">
            <annotation>
              <documentation>-- Definition --&#13;
An identifier that is used to identify a hydrographic object in the real world. It provides a 'key' for implicitly associating different representations of the object.&#13;
&#13;
-- Description --&#13;
NOTE 1 The identifier may be a national hydrological identification code.&#13;
&#13;
NOTE 2 More than one identifier may be required, for instance a watercourse may be assigned different identifying codes under national and European schemes.&#13;
&#13;
EXAMPLE A lock in a mapping view may share the same identifier as a hydro node in a network view, implying they are both representations of the same real world object.</documentation>
            </annotation>
            <complexType>
              <sequence>
                <element ref="hy:HydroIdentifier"/>
              </sequence>
              <attribute name="nilReason" type="gml:NilReasonType"/>
            </complexType>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="relatedHydroObject" type="gml:ReferenceType">
            <annotation>
              <documentation>-- Definition --&#13;
A related hydrographic object representing the same real-world entity.</documentation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">hy:HydroObject</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element name="hydroNodeCategory" nillable="true">
            <annotation>
              <documentation>-- Definition --&#13;
Nature of the hydro node.</documentation>
            </annotation>
            <complexType>
              <simpleContent>
                <extension base="gml:CodeType">
                  <attribute name="nilReason" type="gml:NilReasonType"/>
                </extension>
              </simpleContent>
            </complexType>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="HydroNodePropertyType">
    <sequence minOccurs="0">
      <element ref="hy-n:HydroNode"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
</schema>
