deegree-demos/deegree-wfs-inspire/src/main/webapp/WEB-INF/conf/datasources/feature/schemas/inspire/annex1/SeaRegions.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:base="urn:x-inspire:specification:gmlas:BaseTypes:3.2" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:gn="urn:x-inspire:specification:gmlas:GeographicalNames:3.0" xmlns:hy="urn:x-inspire:specification:gmlas:HydroBase:3.0" xmlns:lc="urn:x-inspire:specification:gmlas:LandCover:0.0" xmlns:sr="urn:x-inspire:specification:gmlas:SeaRegions:0.0" elementFormDefault="qualified" targetNamespace="urn:x-inspire:specification:gmlas:SeaRegions:0.0" version="0.0">
  <annotation>
    <documentation>-- Definition --&#13;
Physical conditions of seas and saline water bodies divided into regions and sub-regions with common characteristics. (2007/2/EC)&#13;
&#13;
A historical version of the theme definition is found in the INSPIRE IMS paper:&#13;
• Seas and saline water bodies divided into regions and sub-regions. Each region with common characteristics, concerning water flow/ circulation, adjacent river catchments, bio-chemical or temperature of water, based on scientific criteria. Detailed information at regional level exist. (INSPIRE IMS, 2003)&#13;
&#13;
Both 'Oceanographic geographical features' and 'Sea-regions' are concerned with physical conditions of marine water-masses. (This is a similar overlap to that which exists for themes 7.13 "Atmospheric Conditions" and 7.14 "Meteorological geographical features".) To resolve the ambiguity, we consider the multi-level approach to data needs assessment applied in ETC. Data at local or regional level are often needed for management and policy implementation, while lower resolution ('smaller scale') data are often required for reporting and policy development/evaluation. The latter includes summaries and integrated data products.&#13;
&#13;
We regard the "Sea regions" theme as focussing on the local/regional level coastal zone.&#13;
&#13;
Whereas 7.15 'Oceanographic geographical features' focuses on physical conditions and general circulation of offshore oceanic waters, the 'Sea regions' theme is concerned with marine features of the coastal zone ? regions defined as 'transitional waters' and 'coastal waters' in the Water Framework Directive:&#13;
• transitional waters: bodies of surface water in the vicinity of river mouths which are partly saline in character as a result of their proximity to coastal waters but which are substantially influenced by freshwater flows&#13;
• coastal waters: surface water on the landward side of a line, every point of which is at a distance of one nautical mile on the seaward side from the nearest point of the baseline from which the breadth of territorial waters is measured, extending where appropriate up to the outer limit of transitional waters&#13;
&#13;
The World Meteorological Organisation also has a geometry-based sea region classification, dividing the ocean into Marsden Squares.&#13;
Both biotic and physical parameters and indicators are important in the classification and delineation of sea regions. Physical data requirements for important indicators defined in the WFD and the Integrated Coastal Zone Management policy are outlined in the ETC paper. These include:&#13;
• nutrients (nitrate, phosphate and nitrogen: phosphorus ratio) by regional sea and water body type&#13;
• concentrations of hazardous substances and pollutants (incl. heavy metals, persistent organic pollutants)&#13;
• productivity indicators (incl. surface cholorophyll-a)&#13;
• biological classification of waters&#13;
• water masses/layers characterised by bulk temperature and salinity properties&#13;
• polar area features (incl. pack ice)&#13;
• wind (climatological and meteorolog• benthic parameters (sediment, benthic communities/habitats)&#13;
• sea level&#13;
• chemical species and concentrations&#13;
• physical characteristics (incl. temperature, salinity)&#13;
• currents (including surface currents)&#13;
• tidal zones&#13;
• wavesrequired</documentation>
  </annotation>
  <import namespace="urn:x-inspire:specification:gmlas:HydroBase:3.0" schemaLocation="HydroBase.xsd"/>
  <import namespace="urn:x-inspire:specification:gmlas:BaseTypes:3.2" schemaLocation="BaseTypes.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <import namespace="urn:x-inspire:specification:gmlas:GeographicalNames:3.0" schemaLocation="GeographicalNames.xsd"/>
  <import namespace="urn:x-inspire:specification:gmlas:LandCover:0.0" schemaLocation="LandCover.xsd"/>
  <!--XML Schema document created by ShapeChange-->
  <element name="OceanRegion" substitutionGroup="gml:AbstractFeature" type="sr:OceanRegionType">
    <annotation>
      <documentation>-- Definition --&#13;
One of the three large regions of the world-wide ocean, each with associated sub- and marginal areas and subject to an independent flow-regime.&#13;
&#13;
-- Description --&#13;
SOURCE [DFDD].&#13;
&#13;
NOTE Regarded as a candidate spatial object in Annex II theme 'Sea Regions' due to the close fit to the definition in 2007/2/EC Ann III. 16.</documentation>
    </annotation>
  </element>
  <complexType name="OceanRegionType">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence>
          <element maxOccurs="unbounded" minOccurs="0" name="geographicalName" nillable="true">
            <annotation>
              <documentation>-- Definition --&#13;
A geographical name that is used to identify a hydrographic object in the real world. It provides a 'key' for implicitly associating different representations of the object.&#13;
&#13;
-- Description --&#13;
EXAMPLE A standing water in a mapping view may share the same geographical name as a WFD lake in a reporting view, implying they are both representations of the same real world object.</documentation>
            </annotation>
            <complexType>
              <sequence>
                <element ref="gn:GeographicalName"/>
              </sequence>
              <attribute name="nilReason" type="gml:NilReasonType"/>
            </complexType>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="hydroId" nillable="true">
            <annotation>
              <documentation>-- Definition --&#13;
An identifier that is used to identify a hydrographic object in the real world. It provides a 'key' for implicitly associating different representations of the object.&#13;
&#13;
-- Description --&#13;
NOTE 1 The identifier may be a national hydrological identification code.&#13;
&#13;
NOTE 2 More than one identifier may be required, for instance a watercourse may be assigned different identifying codes under national and European schemes.&#13;
&#13;
EXAMPLE A lock in a mapping view may share the same identifier as a hydro node in a network view, implying they are both representations of the same real world object.</documentation>
            </annotation>
            <complexType>
              <sequence>
                <element ref="hy:HydroIdentifier"/>
              </sequence>
              <attribute name="nilReason" type="gml:NilReasonType"/>
            </complexType>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="relatedHydroObject" type="gml:ReferenceType">
            <annotation>
              <documentation>-- Definition --&#13;
A related hydrographic object representing the same real-world entity.</documentation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">hy:HydroObject</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element name="beginLifespanVersion" nillable="true">
            <annotation>
              <documentation>-- Definition --&#13;
Date and time at which this version of the spatial object was inserted or changed in the spatial data set.&#13;
</documentation>
            </annotation>
            <complexType>
              <simpleContent>
                <extension base="dateTime">
                  <attribute name="nilReason" type="gml:NilReasonType"/>
                </extension>
              </simpleContent>
            </complexType>
          </element>
          <element minOccurs="0" name="endLifespanVersion" nillable="true">
            <annotation>
              <documentation>-- Definition --&#13;
Date and time at which this version of the spatial object was superseded or retired in the spatial data set.&#13;
</documentation>
            </annotation>
            <complexType>
              <simpleContent>
                <extension base="dateTime">
                  <attribute name="nilReason" type="gml:NilReasonType"/>
                </extension>
              </simpleContent>
            </complexType>
          </element>
          <element minOccurs="0" name="geometry" nillable="true" type="gml:SurfacePropertyType">
            <annotation>
              <documentation>-- Definition --&#13;
The geometry of the ocean region, as a surface.</documentation>
            </annotation>
          </element>
          <element name="inspireId" type="base:IdentifierPropertyType">
            <annotation>
              <documentation>-- Definition --&#13;
External object identifier of the spatial object.&#13;
&#13;
-- Description --&#13;
NOTE An external object identifier is a unique object identifier published by the responsible body, which may be used by external applications to reference the spatial object. The identifier is an identifier of the spatial object, not an identifier of the real-world phenomenon.&#13;
</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="foreshore" nillable="true" type="gml:ReferenceType">
            <annotation>
              <documentation>-- Definition --&#13;
The part of the shore or beach which lies between the low water mark and the upper limit of normal wave action.&#13;
&#13;
-- Description --&#13;
SOURCE [DFDD].</documentation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">lc:Shore</targetElement>
              </appinfo>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="OceanRegionPropertyType">
    <sequence minOccurs="0">
      <element ref="sr:OceanRegion"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
</schema>
