deegree-demos/deegree-wfs-inspire/src/main/webapp/WEB-INF/conf/datasources/feature/schemas/inspire/annex1/UtilityAndGovernmentalServices.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:hy-p="urn:x-inspire:specification:gmlas:HydroPhysicalWaters:3.0" xmlns:ugs="urn:x-inspire:specification:gmlas:UtilityAndGovernmentalServices:0.0" elementFormDefault="qualified" targetNamespace="urn:x-inspire:specification:gmlas:UtilityAndGovernmentalServices:0.0" version="0.0">
  <import namespace="urn:x-inspire:specification:gmlas:HydroPhysicalWaters:3.0" schemaLocation="HydroPhysicalWaters.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange-->
  <element name="Pipe" substitutionGroup="hy-p:ManMadeObject" type="ugs:PipeType">
    <annotation>
      <documentation>-- Definition --&#13;
A tube for the conveyance of solids, liquids or gases.&#13;
&#13;
-- Description --&#13;
NOTE Regarded as a candidate spatial object in Annex III theme 'Utility and governmental services' due to its role in water supply, which is mentioned in the definition 2007/2/EC Ann III. 6.</documentation>
    </annotation>
  </element>
  <complexType name="PipeType">
    <complexContent>
      <extension base="hy-p:ManMadeObjectType">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="PipePropertyType">
    <sequence minOccurs="0">
      <element ref="ugs:Pipe"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="PumpingStation" substitutionGroup="hy-p:ManMadeObject" type="ugs:PumpingStationType">
    <annotation>
      <documentation>-- Definition --&#13;
A facility to move solids, liquids or gases by means of pressure or suction.&#13;
&#13;
-- Description --&#13;
SOURCE [EuroRegionalMap].&#13;
&#13;
NOTE Regarded as a candidate spatial object in Annex III theme 'Utility and governmental services' due to its role in water supply/waste management/etc., which are mentioned in the definition 2007/2/EC Ann III. 6.</documentation>
    </annotation>
  </element>
  <complexType name="PumpingStationType">
    <complexContent>
      <extension base="hy-p:ManMadeObjectType">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="PumpingStationPropertyType">
    <sequence minOccurs="0">
      <element ref="ugs:PumpingStation"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
</schema>
