deegree-services/deegree-services-wfs/src/main/resources/META-INF/schemas/wfs/3.1.0/wfs_configuration.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:wfs="http://www.deegree.org/services/wfs" targetNamespace="http://www.deegree.org/services/wfs"
  elementFormDefault="qualified" xmlns:jaxb="http://java.sun.com/xml/ns/jaxb" jaxb:version="2.1">
  <annotation>
    <appinfo>
      <jaxb:schemaBindings>
        <jaxb:package name="org.deegree.services.jaxb.wfs" />
      </jaxb:schemaBindings>
    </appinfo>
  </annotation>
  <element name="deegreeWFS">
    <complexType>
      <sequence>
        <element name="SupportedVersions" minOccurs="0">
          <complexType>
            <sequence>
              <element name="Version" type="wfs:WFSVersionType" maxOccurs="unbounded" />
            </sequence>
          </complexType>
        </element>
        <element name="EnableTransactions" type="boolean" minOccurs="0" default="false" />
        <element name="DisableResponseBuffering" type="boolean" minOccurs="0" default="true" />
        <element name="QueryCRS" type="string" minOccurs="0" maxOccurs="unbounded" default="EPSG:4326" />
        <element name="QueryMaxFeatures" type="integer" minOccurs="0" default="15000" />
        <element name="QueryCheckAreaOfUse" type="boolean" minOccurs="0" default="false" />
        <element ref="wfs:AbstractFormat" minOccurs="0" maxOccurs="unbounded" />
        <element ref="wfs:FeatureTypeMetadata" minOccurs="0" maxOccurs="unbounded" />
      </sequence>
      <attribute name="configVersion" use="required">
        <simpleType>
          <restriction base="string">
            <enumeration value="3.0.0" />
            <enumeration value="3.1.0" />
          </restriction>
        </simpleType>
      </attribute>
    </complexType>
  </element>

  <!-- AbstractFormat and substitutions -->
  <element name="AbstractFormat" abstract="true" type="wfs:AbstractFormatType" />
  <complexType name="AbstractFormatType" abstract="true">
    <sequence>
      <element name="MimeType" type="string" maxOccurs="unbounded" />
    </sequence>
    <attribute name="wfsVersion" type="wfs:WFSVersionType" use="optional" />
  </complexType>
  <element name="GMLFormat" substitutionGroup="wfs:AbstractFormat">
    <complexType>
      <complexContent>
        <extension base="wfs:AbstractFormatType">
          <sequence>
            <element name="GetFeatureResponse" minOccurs="0">
              <complexType>
                <sequence>
                  <element name="ContainerElement" type="QName" minOccurs="0" />
                  <element name="FeatureMemberElement" type="QName" minOccurs="0" />
                  <element name="AdditionalSchemaLocation" type="string" minOccurs="0" />
                  <element name="DisableDynamicSchema" minOccurs="0" default="false">
                    <complexType>
                      <simpleContent>
                        <extension base="boolean">
                          <attribute name="baseURL" />
                        </extension>
                      </simpleContent>
                    </complexType>
                  </element>
                  <element name="DisableStreaming" type="boolean" minOccurs="0" default="false" />
                </sequence>
              </complexType>
            </element>
            <element ref="wfs:AbstractCoordinateFormatter" minOccurs="0" />
          </sequence>
          <attribute name="gmlVersion" type="wfs:GMLVersionType" use="required" />
        </extension>
      </complexContent>
    </complexType>
  </element>
  <element name="CustomFormat" substitutionGroup="wfs:AbstractFormat">
    <complexType>
      <complexContent>
        <extension base="wfs:AbstractFormatType">
          <sequence>
            <element name="JavaClass" type="string" />
            <element name="Config" type="anyType" />
          </sequence>
        </extension>
      </complexContent>
    </complexType>
  </element>

  <!-- AbstractCoordinateFormatter and substitutions -->
  <element name="AbstractCoordinateFormatter" abstract="true" />
  <element name="DecimalCoordinateFormatter" substitutionGroup="wfs:AbstractCoordinateFormatter">
    <complexType>
      <sequence />
      <attribute name="places" type="nonNegativeInteger" />
    </complexType>
  </element>
  <element name="CustomCoordinateFormatter" substitutionGroup="wfs:AbstractCoordinateFormatter">
    <complexType>
      <sequence>
        <element name="JavaClass" type="string" />
        <element name="Param" minOccurs="0" maxOccurs="unbounded">
          <complexType>
            <simpleContent>
              <extension base="string">
                <attribute name="name" type="string" use="required" />
              </extension>
            </simpleContent>
          </complexType>
        </element>
      </sequence>
    </complexType>
  </element>

  <element name="FeatureTypeMetadata">
    <complexType>
      <sequence>
        <element name="Name" type="QName" />
        <element name="Title" type="string" minOccurs="0" />
        <element name="Abstract" type="string" minOccurs="0" />
      </sequence>
    </complexType>
  </element>

  <simpleType name="WFSVersionType">
    <restriction base="string">
      <enumeration value="1.0.0" />
      <enumeration value="1.1.0" />
      <enumeration value="2.0.0" />
    </restriction>
  </simpleType>

  <simpleType name="GMLVersionType">
    <restriction base="string">
      <enumeration value="GML_2" />
      <enumeration value="GML_30" />
      <enumeration value="GML_31" />
      <enumeration value="GML_32" />
    </restriction>
  </simpleType>
</schema>