deegree-layers/deegree-layers-coverage/src/main/resources/META-INF/schemas/layers/coverage/coverage.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://www.w3.org/2001/XMLSchema"
  targetNamespace="http://www.deegree.org/layers/coverage" xmlns:f="http://www.deegree.org/layers/coverage"
  elementFormDefault="qualified" xmlns:jaxb="http://java.sun.com/xml/ns/jaxb" jaxb:version="2.1"
  xmlns:l="http://www.deegree.org/layers/base">

  <annotation>
    <appinfo>
      <jaxb:schemaBindings>
        <jaxb:package name="org.deegree.layer.persistence.coverage.jaxb" />
      </jaxb:schemaBindings>
    </appinfo>
  </annotation>

  <import namespace="http://www.deegree.org/layers/base" schemaLocation="../../layers/base/base.xsd" />

  <complexType name="CoverageLayerType">
    <sequence>
      <group ref="l:LayerInfo" />
      <element name="FeatureInfoMode" type="f:FeatureInfoModeType" minOccurs="0" />
    </sequence>
  </complexType>

  <element name="CoverageLayers">
    <complexType>
      <sequence>
        <choice>
          <sequence>
            <element name="CoverageStoreId" type="string" />
            <element name="CoverageLayer" type="f:CoverageLayerType" maxOccurs="unbounded" />
          </sequence>
          <element name="AutoLayers">
            <complexType>
              <sequence>
                <element name="CoverageStoreId" type="string" />
                <element name="StyleStoreId" type="string" minOccurs="0" />
              </sequence>
            </complexType>
          </element>
        </choice>
      </sequence>
      <attribute name="configVersion" type="string" use="optional"/>
    </complexType>
  </element>

  <simpleType name="FeatureInfoModeType">
    <restriction base="string">
      <enumeration value="INTERPOLATION" />
      <enumeration value="POINT" />
    </restriction>
  </simpleType>
</schema>