deegree2-core/resources/csw/example/deegree/iso_application_profile_0.9/csw/ows0.3.0/owsOperationsMetadata.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema targetNamespace="http://www.opengis.net/ows" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:ows="http://www.opengis.net/ows" elementFormDefault="qualified" version="0.3.0" xml:lang="en">
	<annotation>
		<appinfo>owsOperationsMetadata.xsd 2004/04/28</appinfo>
		<documentation>
			<description>This XML Schema encodes the basic contents of the "OperationsMetadata" section of the GetCapabilities operation response, also known as the Capabilities XML document. </description>
			<copyright>Copyright (c) 2004 OpenGIS, All Rights Reserved. </copyright>
		</documentation>
	</annotation>
	<!-- ==============================================================
		includes and imports
	============================================================== -->
	<include schemaLocation="ows19115subset.xsd"/>
	<import namespace="http://www.w3.org/1999/xlink" schemaLocation="http://schemas.opengis.net/gml/3.0.0/xlink/xlinks.xsd"/>
	<!-- ==============================================================
		elements and types
	============================================================== -->
	<element name="OperationsMetadata">
		<annotation>
			<documentation>Metadata about the operations and related abilities specified by this service and implemented by this server, including the URLs for operation requests. The basic contents of this section shall be the same for all OWS types, but individual services can add elements and/or change the optionality of optional elements. </documentation>
		</annotation>
		<complexType>
			<sequence>
				<element ref="ows:Operation" maxOccurs="unbounded">
					<annotation>
						<documentation>Metadata for unordered list of all the (requests for) operations that this server interface implements. The list of required and optional operations implemented shall be specified in the Implementation Specification for this service. </documentation>
					</annotation>
				</element>
				<element name="Parameter" type="ows:DomainType" minOccurs="0" maxOccurs="unbounded">
					<annotation>
						<documentation>Optional unordered list of parameter valid domains that each apply to one or more operations which this server interface implements. The list of required and optional parameter domain limitations shall be specified in the Implementation Specification for this service. </documentation>
					</annotation>
				</element>
				<element name="Constraint" type="ows:DomainType" minOccurs="0" maxOccurs="unbounded">
					<annotation>
						<documentation>Optional unordered list of valid domain constraints on non-parameter quantities that each apply to this server. The list of required and optional constraints shall be specified in the Implementation Specification for this service. </documentation>
					</annotation>
				</element>
				<element ref="ows:ExtendedCapabilities" minOccurs="0"/>
			</sequence>
		</complexType>
	</element>
	<!-- ========================================================== -->
	<element name="ExtendedCapabilities" type="anyType">
		<annotation>
			<documentation>Individual software vendors and servers can use this element to provide metadata about any additional server abilities. </documentation>
		</annotation>
	</element>
	<!-- ========================================================== -->
	<element name="Operation">
		<annotation>
			<documentation>Metadata for one operation that this server implements. </documentation>
		</annotation>
		<complexType>
			<sequence>
				<element ref="ows:DCP" maxOccurs="unbounded">
					<annotation>
						<documentation>Unordered list of Distributed Computing Platforms (DCPs) supported for this operation. At present, only the HTTP DCP is defined, so this element will appear only once. </documentation>
					</annotation>
				</element>
				<element name="Parameter" type="ows:DomainType" minOccurs="0" maxOccurs="unbounded">
					<annotation>
						<documentation>Optional unordered list of parameter domains that each apply to this operation which this server implements. If one of these Parameter elements has the same "name" attribute as a Parameter element in the OperationsMetadata element, this Parameter element shall override the other one for this operation. The list of required and optional parameter domain limitations for this operation shall be specified in the Implementation Specification for this service. </documentation>
					</annotation>
				</element>
				<element ref="ows:Metadata" minOccurs="0" maxOccurs="unbounded">
					<annotation>
						<documentation>Optional unordered list of additional metadata about this operation and its' implementation. A list of required and optional metadata elements for this operation should be specified in the Implementation Specification for this service. (Informative: This metadata might specify the operation request parameters or provide the XML Schemas for the operation request.) </documentation>
					</annotation>
				</element>
			</sequence>
			<attribute name="name" type="string" use="required">
				<annotation>
					<documentation>Name or identifier of this operation (request) (for example, GetCapabilities). The list of required and optional operations implemented shall be specified in the Implementation Specification for this service. </documentation>
				</annotation>
			</attribute>
		</complexType>
	</element>
	<!-- ========================================================== -->
	<element name="DCP">
		<annotation>
			<documentation>Information for one distributed Computing Platform (DCP) supported for this operation. At present, only the HTTP DCP is defined, so this element only includes the HTTP element.
</documentation>
		</annotation>
		<complexType>
			<choice>
				<element ref="ows:HTTP"/>
			</choice>
		</complexType>
	</element>
	<!-- ========================================================== -->
	<element name="HTTP">
		<annotation>
			<documentation>Connect point URLs for the HTTP Distributed Computing Platform (DCP). Normally, only one Get and/or one Post is included in this element. More than one Get and/or Post is allowed to support including alternative URLs for uses such as load balancing or backup. </documentation>
		</annotation>
		<complexType>
			<choice maxOccurs="unbounded">
				<element ref="ows:Get"/>
				<element ref="ows:Post"/>
			</choice>
		</complexType>
	</element>
	<!-- ========================================================== -->
	<element name="Get" type="ows:OnlineResourceType">
		<annotation>
			<documentation>Connect point URL prefix for the HTTP "Get" request method for this operation request. The xlink:href attribute in the xlink:simpleLink attribute group shall be used to contain this URL prefix. The other attributes in the xlink:simpleLink attribute group should not be used. </documentation>
		</annotation>
	</element>
	<!-- ========================================================== -->
	<element name="Post">
		<annotation>
			<documentation>Connect point URL and accepted format(s) for the HTTP "Post" request method for this operation request. In the OnlineResourceType, the xlink:href attribute in the xlink:simpleLink attribute group shall be used to contain this URL. The other attributes in the xlink:simpleLink attribute group should not be used. </documentation>
		</annotation>
		<complexType>
			<complexContent>
				<extension base="ows:OnlineResourceType">
					<sequence>
						<element name="InputFormat" type="ows:FormatType" minOccurs="0" maxOccurs="unbounded">
							<annotation>
								<documentation>Format MIME types of operation requests that can be sent to this Post connect point URL. When omitted, only “text/xml” is supported. </documentation>
							</annotation>
						</element>
					</sequence>
				</extension>
			</complexContent>
		</complexType>
	</element>
	<!-- =========================================================== -->
	<simpleType name="FormatType">
		<annotation>
			<documentation>Data transfer format identifier, identified by its MIME type. </documentation>
		</annotation>
		<restriction base="string"/>
	</simpleType>
	<!-- ========================================================== -->
	<complexType name="DomainType">
		<annotation>
			<documentation>Valid domain (or set of values) of one parameter or other quantity used by this server. A non-parameter quantity may not be explicitly represented in the server software. (Informative: An example is the outputFormat parameter of a WFS. Each WFS server should provide a Parameter element for the outputFormat parameter that lists the supported output formats, such as GML2, GML3, etc. as the allowed "Value" elements.) </documentation>
		</annotation>
		<sequence>
			<element name="Value" type="string" maxOccurs="unbounded">
				<annotation>
					<documentation>Unordered list of all the valid values for this parameter or other quantity. For those parameters that contain a list or sequence of values, these values shall be for individual values in the list. The allowed set of values and the allowed server restrictions on that set of values shall be specified in the Implementation Specification for this service. </documentation>
				</annotation>
			</element>
			<element ref="ows:Metadata" minOccurs="0" maxOccurs="unbounded">
				<annotation>
					<documentation>Optional unordered list of additional metadata about this parameter. A list of required and optional metadata elements for this domain should be specified in the Implementation Specification for this service. (Informative: This metadata might specify the meanings of the valid values.) </documentation>
				</annotation>
			</element>
		</sequence>
		<attribute name="name" type="string" use="required">
			<annotation>
				<documentation>Name or identifier of this parameter or other quantity. </documentation>
			</annotation>
		</attribute>
	</complexType>
	<!-- ========================================================== -->
	<element name="Metadata">
		<annotation>
			<documentation>This element either references or contains more metadata about the element that includes this element. Either at least one of the attributes in xlink:simpleLink or a substitute for the _MetaData element shall be included, but not both. An Implementation Specification can restrict the contents of this element to always be a reference or always contain metadata. (Informative: This element was adapted from the metaDataProperty element in GML 3.0.) </documentation>
		</annotation>
		<complexType>
			<sequence>
				<element ref="ows:_MetaData" minOccurs="0"/>
			</sequence>
			<attributeGroup ref="xlink:simpleLink">
				<annotation>
					<documentation>Reference to metadata recorded elsewhere, either external to this XML document or within it. Whenever practical, the xlink:href attribute with type anyURI should include a URL from which this metadata can be electronically retrieved. </documentation>
				</annotation>
			</attributeGroup>
			<attribute name="about" type="anyURI" use="optional">
				<annotation>
					<documentation>Optional reference to the aspect of the element which includes this "metadata" element that this metadata provides more information about. </documentation>
				</annotation>
			</attribute>
		</complexType>
	</element>
	<!-- ========================================================== -->
	<element name="_MetaData" abstract="true">
		<annotation>
			<documentation>Abstract element containing more metadata about the element that includes the containing "metadata" element. An Implementation Specification can define concrete elements in the _MetaData substitution group. </documentation>
		</annotation>
	</element>
</schema>
