deegree-core/deegree-core-geometry/src/main/resources/META-INF/schemas/commons/spatialmetadata/spatialmetadata.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- This file is part of deegree, for copyright/license information, please visit http://www.deegree.org/license. -->
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:s="http://www.deegree.org/metadata/spatial" xmlns:jaxb="http://java.sun.com/xml/ns/jaxb"
  targetNamespace="http://www.deegree.org/metadata/spatial" elementFormDefault="qualified" jaxb:version="2.1">

  <annotation>
    <appinfo>
      <jaxb:schemaBindings>
        <jaxb:package name="org.deegree.geometry.metadata.jaxb" />
      </jaxb:schemaBindings>
    </appinfo>
  </annotation>

  <element name="Envelope" type="s:EnvelopeType" />
  <element name="CRS" type="string" />

  <complexType name="EnvelopeType">
    <sequence>
      <element name="LowerCorner">
        <simpleType>
          <list itemType="double"/>
        </simpleType>
      </element>
      <element name="UpperCorner">
        <simpleType>
          <list itemType="double"/>
        </simpleType>
      </element>
    </sequence>
    <!-- default is EPSG:4326 -->
    <attribute name="crs" type="anyURI" use="optional" />
  </complexType>

  <group name="SpatialMetadata">
    <sequence>
      <element ref="s:Envelope" minOccurs="0" />
      <element ref="s:CRS" minOccurs="0" />
    </sequence>
  </group>

</schema>
