deegree-workspaces/deegree-workspace-geosciml/src/main/resources/appschemas/geosciml/3.0/borehole/3.0/borehole.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" 
xmlns:gml="http://www.opengis.net/gml/3.2"  
xmlns:gmd="http://www.isotc211.org/2005/gmd"  
xmlns:gsml="http://xmlns.geosciml.org/GeoSciML-Core/3.0" 
xmlns:gsmlbh="http://xmlns.geosciml.org/Borehole/3.0" 
xmlns:swe="http://www.opengis.net/swe/2.0" 
xmlns:sams="http://www.opengis.net/samplingSpatial/2.0" 
targetNamespace="http://xmlns.geosciml.org/Borehole/3.0" elementFormDefault="qualified" attributeFormDefault="unqualified" version="3.0.0">
<!-- Schema auto-generated by FullMoon, applying rule suite xmi11ea -->
    <annotation>
        <documentation>The GeoSciML Borehole package contains model elements for representing Boreholes. This is primarily through re-use of standard components from the (external) Observations and Measurements package.</documentation>
    </annotation>
    <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
    <import namespace="http://www.isotc211.org/2005/gmd" schemaLocation="http://schemas.opengis.net/iso/19139/20070417/gmd/gmd.xsd"/>
    <import namespace="http://xmlns.geosciml.org/GeoSciML-Core/3.0" schemaLocation="http://schemas.geosciml.org/geosciml-core/3.0/geosciml-core.xsd"/>
    <import namespace="http://www.opengis.net/samplingSpatial/2.0" schemaLocation="http://schemas.opengis.net/samplingSpatial/2.0/spatialSamplingFeature.xsd"/>
    <import namespace="http://www.opengis.net/swe/2.0" schemaLocation="http://schemas.opengis.net/sweCommon/2.0/swe.xsd"/>
    <element name="OriginPosition" substitutionGroup="gml:AbstractFeature" type="gsmlbh:OriginPositionType">
        <annotation>
            <documentation>A Borehole OriginPosition is a feature corresponding to the start point of a borehole log.  This may, but not necessarily, correspond to the borehole collar location (eg, kelly bush).

If a text descripiton of the location is available, it should be placed in the gml:description for that feature.  If no GM_Point is available, an OGC nil value should be used.

Implementers delivering 3-D origin locations should provide an elevation to improve interoperability. 

In situations where the origin position changes over the life of the borehole (eg, due to subsidence or destruction of the original collar), the origin position should be updated to the new location.</documentation>
        </annotation>
    </element>
    <complexType name="OriginPositionType">
        <complexContent>
            <extension base="gml:AbstractFeatureType">
                <sequence>
                    <element name="location" nillable="true" type="gml:PointPropertyType">
                        <annotation>
                            <documentation>The location of the BoreholeCollar</documentation>
                        </annotation>
                    </element>
                    <element name="elevation" nillable="true">
                        <annotation>
                            <documentation>Compromise approach to supply elevation explictly for location; this is to allow for software that cannot process 3-D GM_Point. Use null if elevation is unknown. Direct position shall have a dimension of 1, and CRS will be a "vertical" CRS (e.g. EPSG CRSs in the range 5600-5799).</documentation>
                        </annotation>
                        <complexType>    
                            <complexContent>
                                <extension base="gml:DirectPositionType">
                                    <attribute name="nilReason" type="gml:NilReasonType"/>
                                </extension>
                            </complexContent>
                        </complexType>
                    </element>
                    <element maxOccurs="unbounded" minOccurs="0" name="relatedBorehole" type="gsmlbh:BoreholePropertyType">
                        <annotation>
                            <documentation>The hole that has this collar for its start point</documentation>
                        </annotation>
                    </element>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="OriginPositionPropertyType">
        <sequence minOccurs="0">
            <element ref="gsmlbh:OriginPosition"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
        <attributeGroup ref="gml:OwnershipAttributeGroup"/>
    </complexType>
    <element name="MappedInterval" substitutionGroup="gsml:MappedFeature" type="gsmlbh:MappedIntervalType">
        <annotation>
            <documentation>A special kind of Mapped Feature whose shape is 1-D interval and uses the SRS of the containing borehole</documentation>
        </annotation>
    </element>
    <complexType name="MappedIntervalType">
        <complexContent>
            <extension base="gsml:MappedFeatureType"/>
        </complexContent>
    </complexType>
    <complexType name="MappedIntervalPropertyType">
        <sequence minOccurs="0">
            <element ref="gsmlbh:MappedInterval"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
        <attributeGroup ref="gml:OwnershipAttributeGroup"/>
    </complexType>
    <element name="Borehole" substitutionGroup="sams:SF_SpatialSamplingFeature" type="gsmlbh:BoreholeType">
        <annotation>
            <documentation>A borehole is the generalized term for any narrow shaft drilled in the ground, either vertically or horizontally.</documentation>
        </annotation>
    </element>
    <complexType name="BoreholeType">
        <complexContent>
            <extension base="sams:SF_SpatialSamplingFeatureType">
                <sequence>
                    <element name="referenceLocation" type="gsmlbh:OriginPositionPropertyType">
                        <annotation> 
                            <documentation>A Borehole OriginPosition is a feature corresponding to the start point of a borehole log.  This may, but not necessarily, correspond to the borehole collar location (eg, kelly bush).</documentation>
                        </annotation>
                    </element>                    
                    <element name="indexData" nillable="true">
                        <annotation>
                            <documentation>Specifies the Borehole details</documentation>
                        </annotation>
                        <complexType> 
                            <complexContent>
                                <extension base="gsmlbh:BoreholeDetailsPropertyType">
                                    <attribute name="nilReason" type="gml:NilReasonType"/>
                                </extension>
                            </complexContent>
                        </complexType>
                    </element>
                    <element name="downholeDrillingDetails" nillable="true" maxOccurs="unbounded" minOccurs="1">
                        <annotation> 
                            <documentation>Specifies the drilling method and borehole diameter for intervals down the borehole</documentation>  
                        </annotation>
                        <complexType> 
                            <complexContent>
                                <extension base="gsmlbh:DrillingDetailsPropertyType">
                                    <attribute name="nilReason" type="gml:NilReasonType"/>
                                </extension>
                            </complexContent>
                        </complexType>
                    </element>
                    <element maxOccurs="unbounded" minOccurs="1" name="logElement" nillable="true" type="gsmlbh:MappedIntervalPropertyType">
                        <annotation>
                            <documentation>Links to 1-D MappedFeature instances that are logged (interpreted) intervals within a borehole. This requirement is common in geoscience boreholes</documentation>
                        </annotation>
                    </element>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="BoreholePropertyType">
        <sequence minOccurs="0">
            <element ref="gsmlbh:Borehole"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
        <attributeGroup ref="gml:OwnershipAttributeGroup"/>
    </complexType>
    <element name="BoreholeDetails" substitutionGroup="gml:AbstractObject" type="gsmlbh:BoreholeDetailsType">
        <annotation>
            <documentation>Borehole specific index (or metadata) information</documentation>
        </annotation>
    </element>
    <complexType name="BoreholeDetailsType">
        <sequence>
            <element name="operator" nillable="true" type="gmd:CI_ResponsibleParty_PropertyType">
                <annotation>
                    <documentation>Organisation responsible for commissioning the borehole (as opposed to drilling the borehole)</documentation>
                </annotation>
            </element>
            <element name="driller" nillable="true" type="gmd:CI_ResponsibleParty_PropertyType">
                <annotation>
                    <documentation>The organisation responsible for drilling the borehole (as opposed to commissioning the borehole)</documentation>
                </annotation>
            </element>
            <element name="dateOfDrilling" nillable="true" type="gml:TimePeriodPropertyType">
                <annotation>
                    <documentation>The time period during which drilling of the borehole occurred.</documentation>
                </annotation>
            </element>
            <element name="startPoint" nillable="true" type="gml:ReferenceType">
                <annotation>
                    <appinfo>
                        <gml:targetElement>gsmlbh:BoreholeStartPointCodeType</gml:targetElement>
                    </appinfo>
                    <documentation>Indicates the position relative to ground surface where the borehole commenced. Appropriate terms would include Drilled from Ground Surface; Drilled Underground;  Drilled from Quarry Floor etc</documentation>
                </annotation>
            </element>
            <element name="inclinationType" nillable="true" type="gml:ReferenceType">
                <annotation>
                    <appinfo>
                        <gml:targetElement>gsmlbh:BoreholeInclinationCodeType</gml:targetElement>
                    </appinfo>
                    <documentation>Indicates the inclination of the borehole. Appropriate terms would include vertical; inclined up; inclined down, horizontal</documentation>
                </annotation>
            </element>
            <element maxOccurs="unbounded" minOccurs="1" name="boreholeMaterialCustodian" nillable="true" type="gmd:CI_ResponsibleParty_PropertyType">
                <annotation>
                    <documentation>Organisation that is custodian of the core recovered from the borehole</documentation>
                </annotation>
            </element>
            <element maxOccurs="unbounded" minOccurs="1" name="purpose" nillable="true" type="gml:ReferenceType">
                <annotation>
                    <appinfo>
                        <gml:targetElement>gsmlbh:BoreholePurposeCodeType</gml:targetElement>
                    </appinfo>
                    <documentation>The purpose for which the borehole was drilled. eg, site investigation, mineral exploration, hydrocarbon exploration, water resources</documentation>
                </annotation>
            </element>
            <element maxOccurs="unbounded" minOccurs="1" name="dataCustodian" nillable="true" type="gmd:CI_ResponsibleParty_PropertyType">
                <annotation>
                    <documentation>The custodian (person or organisation) that is the custodian of data pertaining to this borehole.</documentation>
                </annotation>
            </element>
            <element name="boreholeLength" nillable="true">  
                <annotation>
                    <documentation>The "length" of a borehole will be determined by the data provider (ie, "length" can have different sources, like drillers measurement, loggers measurement, survey measurement, etc)</documentation>
                </annotation>
                <complexType> 
                    <complexContent>
                        <extension base="swe:QuantityPropertyType">
                            <attribute name="nilReason" type="gml:NilReasonType"/>
                        </extension>
                    </complexContent>
                </complexType>
            </element>
         </sequence>
    </complexType>
    <complexType name="BoreholeDetailsPropertyType">
        <sequence>
            <element ref="gsmlbh:BoreholeDetails"/>
        </sequence>
        <attributeGroup ref="gml:OwnershipAttributeGroup"/>
    </complexType>
    <element name="DrillingDetails" substitutionGroup="gml:AbstractObject" type="gsmlbh:DrillingDetailsType"/>
    <complexType name="DrillingDetailsType">
        <sequence>
            <element name="drillingMethod" type="gml:ReferenceType" nillable="true">
                <annotation>
                    <appinfo>
                        <gml:targetElement>gsmlbh:BoreholeDrillingMethodCodeType</gml:targetElement>
                    </appinfo>
                    <documentation>Indicates the drilling method used. Appropriate terms would include rotary air blast; auger; diamond core; air core; etc</documentation>
                </annotation>
            </element>
            <element name="boreholeDiameter" nillable="true">
                <annotation>
                    <documentation>The diameter of the drilled hole</documentation>
                </annotation>
                <complexType>
                    <complexContent>
                        <extension base="swe:QuantityPropertyType">
                            <attribute name="nilReason" type="gml:NilReasonType"/>
                        </extension>
                    </complexContent>
                </complexType>
            </element>
            <element name="interval" type="gml:GeometryPropertyType">
                <annotation> 
                    <documentation>A shape that is a 1-D interval (eg, a "from" and "to", or "top" and "base" measurement) and uses the SRS of the containing borehole</documentation>
                </annotation>
            </element>
        </sequence>
    </complexType>
    <complexType name="DrillingDetailsPropertyType">
        <sequence>
            <element ref="gsmlbh:DrillingDetails"/>
        </sequence>
        <attributeGroup ref="gml:OwnershipAttributeGroup"/>
    </complexType>
</schema>