deegree-services/deegree-services-tests/deegree-wfs-cite110/src/test/resources/xsd/ogc/filter/1.1.0/filter-1.1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:ogc="http://www.opengis.net/ogc" xmlns:gml="http://www.opengis.net/gml" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.opengis.net/ogc" elementFormDefault="qualified" version="1.1.0">
	<!--<xsd:import namespace="http://www.opengis.net/gml" schemaLocation="../../gml/3.1.1/base/gml-3.1.1.xsd"/>-->
	<xsd:import namespace="http://www.opengis.net/gml"/>
	<xsd:element name="Add" type="ogc:BinaryOperatorType" substitutionGroup="ogc:expression"/>
	<xsd:element name="Sub" type="ogc:BinaryOperatorType" substitutionGroup="ogc:expression"/>
	<xsd:element name="Mul" type="ogc:BinaryOperatorType" substitutionGroup="ogc:expression"/>
	<xsd:element name="Div" type="ogc:BinaryOperatorType" substitutionGroup="ogc:expression"/>
	<xsd:element name="PropertyName" type="ogc:PropertyNameType" substitutionGroup="ogc:expression"/>
	<xsd:element name="Function" type="ogc:FunctionType" substitutionGroup="ogc:expression"/>
	<xsd:element name="Literal" type="ogc:LiteralType" substitutionGroup="ogc:expression"/>
	<xsd:element name="expression" type="ogc:ExpressionType" abstract="true"/>
	<!-- <xsd:complexType name="ExpressionType" abstract="true" mixed="true"/>
     -->
	<xsd:complexType name="ExpressionType" abstract="true"/>
	<xsd:complexType name="BinaryOperatorType">
		<xsd:complexContent>
			<xsd:extension base="ogc:ExpressionType">
				<xsd:sequence>
					<xsd:element ref="ogc:expression" minOccurs="2" maxOccurs="2"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="FunctionType">
		<xsd:complexContent>
			<xsd:extension base="ogc:ExpressionType">
				<xsd:sequence>
					<xsd:element ref="ogc:expression" minOccurs="0" maxOccurs="unbounded"/>
				</xsd:sequence>
				<xsd:attribute name="name" type="xsd:string" use="required"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="LiteralType" mixed="true">
		<xsd:complexContent mixed="true">
			<xsd:extension base="ogc:ExpressionType">
				<xsd:sequence>
					<xsd:any minOccurs="0"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="PropertyNameType" mixed="true">
		<xsd:complexContent mixed="true">
			<xsd:extension base="ogc:ExpressionType"/>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="SortBy" type="ogc:SortByType"/>
	<xsd:complexType name="SortByType">
		<xsd:sequence>
			<xsd:element name="SortProperty" type="ogc:SortPropertyType" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="SortPropertyType">
		<xsd:sequence>
			<xsd:element ref="ogc:PropertyName"/>
			<xsd:element name="SortOrder" type="ogc:SortOrderType" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:simpleType name="SortOrderType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="DESC"/>
			<xsd:enumeration value="ASC"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:element name="Filter_Capabilities">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="Spatial_Capabilities" type="ogc:Spatial_CapabilitiesType"/>
				<xsd:element name="Scalar_Capabilities" type="ogc:Scalar_CapabilitiesType"/>
				<xsd:element name="Id_Capabilities" type="ogc:Id_CapabilitiesType"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="Spatial_CapabilitiesType">
		<xsd:sequence>
			<xsd:element name="GeometryOperands" type="ogc:GeometryOperandsType"/>
			<xsd:element name="SpatialOperators" type="ogc:SpatialOperatorsType"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="GeometryOperandsType">
		<xsd:sequence>
			<xsd:element name="GeometryOperand" type="ogc:GeometryOperandType" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:simpleType name="GeometryOperandType">
		<xsd:restriction base="xsd:QName">
			<xsd:enumeration value="gml:Envelope"/>
			<xsd:enumeration value="gml:Point"/>
			<xsd:enumeration value="gml:LineString"/>
			<xsd:enumeration value="gml:Polygon"/>
			<xsd:enumeration value="gml:ArcByCenterPoint"/>
			<xsd:enumeration value="gml:CircleByCenterPoint"/>
			<xsd:enumeration value="gml:Arc"/>
			<xsd:enumeration value="gml:Circle"/>
			<xsd:enumeration value="gml:ArcByBulge"/>
			<xsd:enumeration value="gml:Bezier"/>
			<xsd:enumeration value="gml:Clothoid"/>
			<xsd:enumeration value="gml:CubicSpline"/>
			<xsd:enumeration value="gml:Geodesic"/>
			<xsd:enumeration value="gml:OffsetCurve"/>
			<xsd:enumeration value="gml:Triangle"/>
			<xsd:enumeration value="gml:PolyhedralSurface"/>
			<xsd:enumeration value="gml:TriangulatedSurface"/>
			<xsd:enumeration value="gml:Tin"/>
			<xsd:enumeration value="gml:Solid"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType name="SpatialOperatorsType">
		<xsd:sequence>
			<xsd:element name="SpatialOperator" type="ogc:SpatialOperatorType" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="SpatialOperatorType">
		<xsd:sequence>
			<xsd:element name="GeometryOperands" type="ogc:GeometryOperandsType" minOccurs="0"/>
		</xsd:sequence>
		<xsd:attribute name="name" type="ogc:SpatialOperatorNameType"/>
	</xsd:complexType>
	<xsd:simpleType name="SpatialOperatorNameType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="BBOX"/>
			<xsd:enumeration value="Equals"/>
			<xsd:enumeration value="Disjoint"/>
			<xsd:enumeration value="Intersects"/>
			<xsd:enumeration value="Touches"/>
			<xsd:enumeration value="Crosses"/>
			<xsd:enumeration value="Within"/>
			<xsd:enumeration value="Contains"/>
			<xsd:enumeration value="Overlaps"/>
			<xsd:enumeration value="Beyond"/>
			<xsd:enumeration value="DWithin"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType name="Scalar_CapabilitiesType">
		<xsd:sequence>
			<xsd:element ref="ogc:LogicalOperators" minOccurs="0"/>
			<xsd:element name="ComparisonOperators" type="ogc:ComparisonOperatorsType" minOccurs="0"/>
			<xsd:element name="ArithmeticOperators" type="ogc:ArithmeticOperatorsType" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="LogicalOperators">
		<xsd:complexType/>
	</xsd:element>
	<xsd:complexType name="ComparisonOperatorsType">
		<xsd:sequence maxOccurs="unbounded">
			<xsd:element name="ComparisonOperator" type="ogc:ComparisonOperatorType"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:simpleType name="ComparisonOperatorType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="LessThan"/>
			<xsd:enumeration value="GreaterThan"/>
			<xsd:enumeration value="LessThanEqualTo"/>
			<xsd:enumeration value="GreaterThanEqualTo"/>
			<xsd:enumeration value="EqualTo"/>
			<xsd:enumeration value="NotEqualTo"/>
			<xsd:enumeration value="Like"/>
			<xsd:enumeration value="Between"/>
			<xsd:enumeration value="NullCheck"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType name="ArithmeticOperatorsType">
		<xsd:choice maxOccurs="unbounded">
			<xsd:element ref="ogc:SimpleArithmetic"/>
			<xsd:element name="Functions" type="ogc:FunctionsType"/>
		</xsd:choice>
	</xsd:complexType>
	<xsd:element name="SimpleArithmetic">
		<xsd:complexType/>
	</xsd:element>
	<xsd:complexType name="FunctionsType">
		<xsd:sequence>
			<xsd:element name="FunctionNames" type="ogc:FunctionNamesType"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="FunctionNamesType">
		<xsd:sequence maxOccurs="unbounded">
			<xsd:element name="FunctionName" type="ogc:FunctionNameType"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="FunctionNameType">
		<xsd:simpleContent>
			<xsd:extension base="xsd:string">
				<xsd:attribute name="nArgs" type="xsd:string" use="required"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="Id_CapabilitiesType">
		<xsd:choice maxOccurs="unbounded">
			<xsd:element ref="ogc:EID"/>
			<xsd:element ref="ogc:FID"/>
		</xsd:choice>
	</xsd:complexType>
	<xsd:element name="EID">
		<xsd:complexType/>
	</xsd:element>
	<xsd:element name="FID">
		<xsd:complexType/>
	</xsd:element>
	<xsd:element name="_Id" type="ogc:AbstractIdType" abstract="true"/>
	<xsd:element name="FeatureId" type="ogc:FeatureIdType" substitutionGroup="ogc:_Id"/>
	<xsd:element name="GmlObjectId" type="ogc:GmlObjectIdType" substitutionGroup="ogc:_Id"/>
	<xsd:element name="Filter" type="ogc:FilterType"/>
	<xsd:complexType name="FilterType">
		<xsd:choice>
			<xsd:element ref="ogc:spatialOps"/>
			<xsd:element ref="ogc:comparisonOps"/>
			<xsd:element ref="ogc:logicOps"/>
			<xsd:element ref="ogc:_Id" maxOccurs="unbounded"/>
		</xsd:choice>
	</xsd:complexType>
	<xsd:element name="comparisonOps" type="ogc:ComparisonOpsType" abstract="true"/>
	<xsd:element name="PropertyIsEqualTo" type="ogc:BinaryComparisonOpType" substitutionGroup="ogc:comparisonOps"/>
	<xsd:element name="PropertyIsNotEqualTo" type="ogc:BinaryComparisonOpType" substitutionGroup="ogc:comparisonOps"/>
	<xsd:element name="PropertyIsLessThan" type="ogc:BinaryComparisonOpType" substitutionGroup="ogc:comparisonOps"/>
	<xsd:element name="PropertyIsGreaterThan" type="ogc:BinaryComparisonOpType" substitutionGroup="ogc:comparisonOps"/>
	<xsd:element name="PropertyIsLessThanOrEqualTo" type="ogc:BinaryComparisonOpType" substitutionGroup="ogc:comparisonOps"/>
	<xsd:element name="PropertyIsGreaterThanOrEqualTo" type="ogc:BinaryComparisonOpType" substitutionGroup="ogc:comparisonOps"/>
	<xsd:element name="PropertyIsLike" type="ogc:PropertyIsLikeType" substitutionGroup="ogc:comparisonOps"/>
	<xsd:element name="PropertyIsNull" type="ogc:PropertyIsNullType" substitutionGroup="ogc:comparisonOps"/>
	<xsd:element name="PropertyIsBetween" type="ogc:PropertyIsBetweenType" substitutionGroup="ogc:comparisonOps"/>
	<xsd:complexType name="ComparisonOpsType" abstract="true"/>
	<xsd:element name="spatialOps" type="ogc:SpatialOpsType" abstract="true"/>
	<xsd:element name="Equals" type="ogc:BinarySpatialOpType" substitutionGroup="ogc:spatialOps"/>
	<xsd:element name="Disjoint" type="ogc:BinarySpatialOpType" substitutionGroup="ogc:spatialOps"/>
	<xsd:element name="Touches" type="ogc:BinarySpatialOpType" substitutionGroup="ogc:spatialOps"/>
	<xsd:element name="Within" type="ogc:BinarySpatialOpType" substitutionGroup="ogc:spatialOps"/>
	<xsd:element name="Overlaps" type="ogc:BinarySpatialOpType" substitutionGroup="ogc:spatialOps"/>
	<xsd:element name="Crosses" type="ogc:BinarySpatialOpType" substitutionGroup="ogc:spatialOps"/>
	<xsd:element name="Intersects" type="ogc:BinarySpatialOpType" substitutionGroup="ogc:spatialOps"/>
	<xsd:element name="Contains" type="ogc:BinarySpatialOpType" substitutionGroup="ogc:spatialOps"/>
	<xsd:element name="DWithin" type="ogc:DistanceBufferType" substitutionGroup="ogc:spatialOps"/>
	<xsd:element name="Beyond" type="ogc:DistanceBufferType" substitutionGroup="ogc:spatialOps"/>
	<xsd:element name="BBOX" type="ogc:BBOXType" substitutionGroup="ogc:spatialOps"/>
	<xsd:complexType name="SpatialOpsType" abstract="true"/>
	<xsd:element name="logicOps" type="ogc:LogicOpsType" abstract="true"/>
	<xsd:element name="And" type="ogc:BinaryLogicOpType" substitutionGroup="ogc:logicOps"/>
	<xsd:element name="Or" type="ogc:BinaryLogicOpType" substitutionGroup="ogc:logicOps"/>
	<xsd:element name="Not" type="ogc:UnaryLogicOpType" substitutionGroup="ogc:logicOps"/>
	<xsd:complexType name="LogicOpsType" abstract="true"/>
	<xsd:complexType name="AbstractIdType" abstract="true"/>
	<xsd:complexType name="FeatureIdType">
		<xsd:complexContent>
			<xsd:extension base="ogc:AbstractIdType">
				<xsd:attribute name="fid" type="xsd:ID" use="required"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="GmlObjectIdType">
		<xsd:complexContent>
			<xsd:extension base="ogc:AbstractIdType">
				<xsd:attribute ref="gml:id" use="required"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="BinaryComparisonOpType">
		<xsd:complexContent>
			<xsd:extension base="ogc:ComparisonOpsType">
				<xsd:sequence>
					<xsd:element ref="ogc:expression" minOccurs="2" maxOccurs="2"/>
				</xsd:sequence>
				<xsd:attribute name="matchCase" type="xsd:boolean" use="optional" default="true"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="PropertyIsLikeType">
		<xsd:complexContent>
			<xsd:extension base="ogc:ComparisonOpsType">
				<xsd:sequence>
					<xsd:element ref="ogc:PropertyName"/>
					<xsd:element ref="ogc:Literal"/>
				</xsd:sequence>
				<xsd:attribute name="wildCard" type="xsd:string" use="required"/>
				<xsd:attribute name="singleChar" type="xsd:string" use="required"/>
				<xsd:attribute name="escapeChar" type="xsd:string" use="required"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="PropertyIsNullType">
		<xsd:complexContent>
			<xsd:extension base="ogc:ComparisonOpsType">
				<xsd:sequence>
					<xsd:element ref="ogc:PropertyName"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="PropertyIsBetweenType">
		<xsd:complexContent>
			<xsd:extension base="ogc:ComparisonOpsType">
				<xsd:sequence>
					<xsd:element ref="ogc:expression"/>
					<xsd:element name="LowerBoundary" type="ogc:LowerBoundaryType"/>
					<xsd:element name="UpperBoundary" type="ogc:UpperBoundaryType"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="LowerBoundaryType">
		<xsd:choice>
			<xsd:element ref="ogc:expression"/>
		</xsd:choice>
	</xsd:complexType>
	<xsd:complexType name="UpperBoundaryType">
		<xsd:sequence>
			<xsd:element ref="ogc:expression"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="BinarySpatialOpType">
		<xsd:complexContent>
			<xsd:extension base="ogc:SpatialOpsType">
				<xsd:sequence>
					<xsd:element ref="ogc:PropertyName"/>
					<xsd:choice>
						<xsd:element ref="gml:_Geometry"/>
						<xsd:element ref="gml:Envelope"/>
					</xsd:choice>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="BBOXType">
		<xsd:complexContent>
			<xsd:extension base="ogc:SpatialOpsType">
				<xsd:sequence>
					<xsd:element ref="ogc:PropertyName"/>
					<xsd:element ref="gml:Envelope"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="DistanceBufferType">
		<xsd:complexContent>
			<xsd:extension base="ogc:SpatialOpsType">
				<xsd:sequence>
					<xsd:element ref="ogc:PropertyName"/>
					<xsd:element ref="gml:_Geometry"/>
					<xsd:element name="Distance" type="ogc:DistanceType"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="DistanceType">
		<xsd:attribute name="units" type="xsd:string" use="required"/>
	</xsd:complexType>
	<xsd:complexType name="BinaryLogicOpType">
		<xsd:complexContent>
			<xsd:extension base="ogc:LogicOpsType">
				<xsd:choice minOccurs="2" maxOccurs="unbounded">
					<xsd:element ref="ogc:comparisonOps"/>
					<xsd:element ref="ogc:spatialOps"/>
					<xsd:element ref="ogc:logicOps"/>
				</xsd:choice>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="UnaryLogicOpType">
		<xsd:complexContent>
			<xsd:extension base="ogc:LogicOpsType">
				<xsd:sequence>
					<xsd:choice>
						<xsd:element ref="ogc:comparisonOps"/>
						<xsd:element ref="ogc:spatialOps"/>
						<xsd:element ref="ogc:logicOps"/>
					</xsd:choice>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
</xsd:schema>
