deegree-processproviders/deegree-processprovider-fme/src/main/resources/META-INF/schemas/processes/fme/fme.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:st="http://www.deegree.org/processes/fme"
        targetNamespace="http://www.deegree.org/processes/fme"
        elementFormDefault="qualified" attributeFormDefault="unqualified" xmlns:jaxb="http://java.sun.com/xml/ns/jaxb"
        jaxb:version="2.1">
  <annotation>
    <appinfo>
      <jaxb:schemaBindings>
        <jaxb:package name="org.deegree.services.wps.provider.fme.jaxb" />
      </jaxb:schemaBindings>
    </appinfo>
  </annotation>

  <element name="FMEServer">
    <complexType>
      <sequence>
        <element name="Address" type="string" />
        <element name="Username" type="string" />
        <element name="Password" type="string" />
        <element name="Repository" type="string" minOccurs="0" maxOccurs="unbounded" />
      </sequence>
      <attribute name="configVersion" type="string" use="optional"/>
    </complexType>
  </element>
</schema>