deegree-datastores/deegree-featurestores/deegree-featurestore-remotewfs/src/main/resources/META-INF/schemas/datasource/feature/remotewfs/3.4.0/remotewfs.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:remotewfs="http://www.deegree.org/datasource/feature/remotewfs"
  xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.deegree.org/datasource/feature/remotewfs"
  elementFormDefault="qualified" xmlns:jaxb="http://java.sun.com/xml/ns/jaxb" jaxb:version="2.1">
  <annotation>
    <appinfo>
      <jaxb:schemaBindings>
        <jaxb:package name="org.deegree.feature.persistence.remotewfs.jaxb" />
      </jaxb:schemaBindings>
    </appinfo>
  </annotation>
  <element name="RemoteWFSFeatureStore">
    <annotation>
      <documentation>FeatureStore that accesses a WFS instance via HTTP</documentation>
      <appinfo>
        <jaxb:class name="RemoteWFSFeatureStoreConfig" />
      </appinfo>
    </annotation>
    <complexType>
      <sequence>
        <element name="CapabilitiesURL" type="string" />
      </sequence>
      <attribute name="configVersion" use="required">
        <simpleType>
          <restriction base="string">
            <enumeration value="3.4.0" />
            <enumeration value="3.1.0" />
          </restriction>
        </simpleType>
      </attribute>
    </complexType>
  </element>
</schema>