deegree-layers/deegree-layers-feature/src/main/resources/META-INF/schemas/layers/feature/3.1.0/feature.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://www.w3.org/2001/XMLSchema"
  targetNamespace="http://www.deegree.org/layers/feature" xmlns:f="http://www.deegree.org/layers/feature"
  elementFormDefault="qualified" xmlns:jaxb="http://java.sun.com/xml/ns/jaxb" jaxb:version="2.1"
  xmlns:l="http://www.deegree.org/layers/base">

  <annotation>
    <appinfo>
      <jaxb:schemaBindings>
        <jaxb:package name="org.deegree.layer.persistence.feature.jaxb" />
      </jaxb:schemaBindings>
    </appinfo>
  </annotation>

  <import namespace="http://www.deegree.org/layers/base" schemaLocation="http://schemas.deegree.org/layers/base/3.1.0/base.xsd" />

  <element name="FeatureLayer">
    <complexType>
      <sequence>
        <element name="FeatureStoreId" type="string" />
        <element name="FeatureType" type="QName" minOccurs="0" />
        <element name="Filter" minOccurs="0" type="anyType">
          <annotation>
            <appinfo>
              <jaxb:dom />
            </appinfo>
          </annotation>
        </element>
        <group ref="l:LayerInfo" />
      </sequence>
      <attribute name="configVersion" type="f:ConfigVersionType" />
    </complexType>
  </element>

  <simpleType name="ConfigVersionType">
    <restriction base="string">
      <enumeration value="3.1.0" />
    </restriction>
  </simpleType>

</schema>