deegree-layers/deegree-layers-feature/src/main/resources/META-INF/schemas/layers/feature/3.1.0/feature.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://www.w3.org/2001/XMLSchema"
  targetNamespace="http://www.deegree.org/layers/feature" xmlns:l="http://www.deegree.org/layers/feature"
  elementFormDefault="qualified" xmlns:jaxb="http://java.sun.com/xml/ns/jaxb" jaxb:version="2.1"
  xmlns:d="http://www.deegree.org/metadata/description" xmlns:s="http://www.deegree.org/metadata/spatial">

  <annotation>
    <appinfo>
      <jaxb:schemaBindings>
        <jaxb:package name="org.deegree.layer.persistence.feature.jaxb" />
      </jaxb:schemaBindings>
    </appinfo>
  </annotation>

  <import namespace="http://www.deegree.org/metadata/description" schemaLocation="http://schemas.deegree.org/commons/description/3.1.0/description.xsd" />
  <import namespace="http://www.deegree.org/metadata/spatial" schemaLocation="http://schemas.deegree.org/commons/spatialmetadata/3.1.0/spatialmetadata.xsd" />

  <element name="FeatureLayer">
    <complexType>
      <sequence>
        <element name="FeatureStoreId" type="string" />
        <element name="FeatureType" type="QName" minOccurs="0" />
        <element name="Filter" minOccurs="0" type="anyType">
          <annotation>
            <appinfo>
              <jaxb:dom />
            </appinfo>
          </annotation>
        </element>
        <element name="Name" type="string" />
        <group ref="d:Description" />
        <group ref="s:SpatialMetadata" />
        <element name="ScaleDenominators" type="l:ScaleDenominatorsType" minOccurs="0" />
        <element name="Dimension" type="l:DimensionType" minOccurs="0" maxOccurs="unbounded" />
        <element name="StyleRef" minOccurs="0" maxOccurs="unbounded" type="l:StyleRefType" />
      </sequence>
    </complexType>
  </element>

  <complexType name="StyleRefType">
    <sequence>
      <element name="StyleStoreId" type="string" />
      <element name="Style" minOccurs="0" maxOccurs="unbounded">
        <complexType>
          <sequence>
            <element name="StyleName" type="string" minOccurs="0" />
            <element name="LayerNameRef" type="string" minOccurs="0" />
            <element name="StyleNameRef" type="string" minOccurs="0" />
            <choice minOccurs="0">
              <element name="LegendStyleStoreId" type="string" />
              <element name="LegendGraphic">
                <complexType>
                  <simpleContent>
                    <extension base="string">
                      <attribute name="outputGetLegendGraphicUrl" type="boolean" default="true" use="optional" />
                    </extension>
                  </simpleContent>
                </complexType>
              </element>
            </choice>
          </sequence>
        </complexType>
      </element>
    </sequence>
  </complexType>

  <complexType name="ScaleDenominatorsType">
    <attribute name="min" type="double" use="required" />
    <attribute name="max" type="double" use="required" />
    <attribute name="native" type="double" use="optional" />
  </complexType>

  <complexType name="DimensionType">
    <sequence>
      <element name="Name" type="string" minOccurs="0" />
      <element name="Property" type="QName" />
      <element name="DefaultValue" type="string" minOccurs="0" />
      <element name="MultipleValues" type="boolean" default="0" minOccurs="0" />
      <element name="NearestValue" type="boolean" default="0" minOccurs="0" />
      <element name="Current" type="boolean" default="0" minOccurs="0" />
      <element name="Units" type="string" minOccurs="0" />
      <element name="UnitSymbol" type="string" minOccurs="0" />
      <element name="Extent" type="string" />
    </sequence>
    <attribute name="isTime" type="boolean" use="optional" default="false" />
    <attribute name="isElevation" type="boolean" use="optional" default="false" />
  </complexType>

  <simpleType name="ConfigVersionType">
    <restriction base="string">
      <enumeration value="3.1.0" />
    </restriction>
  </simpleType>

</schema>