deegree-workspaces/deegree-workspace-geosciml/src/main/resources/appschemas/geosciml/3.0/geomorphology/3.0/geomorphology.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" 
    xmlns:gml="http://www.opengis.net/gml/3.2" 
    xmlns:gsml="http://xmlns.geosciml.org/GeoSciML-Core/3.0" 
    xmlns:gsmlgm="http://xmlns.geosciml.org/Geomorphology/3.0" 
    targetNamespace="http://xmlns.geosciml.org/Geomorphology/3.0" elementFormDefault="qualified" attributeFormDefault="unqualified" version="3.0">
    <!-- Schema auto-generated by FullMoon, applying rule suite xmi11ea -->
    <annotation>
        <documentation>The Geomorphology package describes features that comprise the shape and nature of the Earth's land surface (ie, landforms).  These landforms may be created by natural Earth processes (eg, river channel, beach, moraine, mountain) or through human (anthropogenic) activity (eg, dredged channel, reclaimed land, mine waste dumps).</documentation>
    </annotation>
    <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
    <import namespace="http://xmlns.geosciml.org/GeoSciML-Core/3.0" schemaLocation="http://schemas.geosciml.org/geosciml-core/3.0/geosciml-core.xsd"/>
    <element name="AnthropogenicGeomorphologicFeature" substitutionGroup="gsmlgm:GeomorphologicFeature" type="gsmlgm:AnthropogenicGeomorphologicFeatureType">
        <annotation>
            <documentation>A geomorphologic feature (ie, landform) which has been created by human activity. For example, dredged channel, midden, open pit, reclaimed land.</documentation>
        </annotation>
    </element>
    <complexType name="AnthropogenicGeomorphologicFeatureType">
        <complexContent>
            <extension base="gsmlgm:GeomorphologicFeatureType">
                <sequence>
                    <element name="AnthropogenicGeomorphologicFeatureType" type="gml:ReferenceType">
                        <annotation>
                            <appinfo>
                                <gml:targetElement>gsmlgm:AnthropogenicGeomorphologicFeatureTypeTerm</gml:targetElement>
                            </appinfo>
                            <documentation>A byReference link to a dictionary of terms describing the type of geomorphologic feature</documentation>
                        </annotation>
                    </element>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="AnthropogenicGeomorphologicFeaturePropertyType">
        <sequence minOccurs="0">
            <element ref="gsmlgm:AnthropogenicGeomorphologicFeature"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
        <attributeGroup ref="gml:OwnershipAttributeGroup"/>
    </complexType>
    <element name="NaturalGeomorphologicFeature" substitutionGroup="gsmlgm:GeomorphologicFeature" type="gsmlgm:NaturalGeomorphologicFeatureType">
        <annotation>
            <documentation>A geomorphologic feature (ie, landform) that has been created by natural Earth processes. For example, river channel, beach ridge, caldera, canyon, moraine, mud flat.</documentation>
        </annotation>
    </element>
    <complexType name="NaturalGeomorphologicFeatureType">
        <complexContent>
            <extension base="gsmlgm:GeomorphologicFeatureType">
                <sequence>
                    <element name="NaturalGeomorphologicFeatureType" type="gml:ReferenceType">
                        <annotation>
                            <appinfo>
                                <gml:targetElement>gsmlgm:NaturalGeomorphologicFeatureTypeTerm</gml:targetElement>
                            </appinfo>
                            <documentation>A byReference link to a dictionary of terms describing the type of geomorphologic feature</documentation>
                        </annotation>
                    </element>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="NaturalGeomorphologicFeaturePropertyType">
        <sequence minOccurs="0">
            <element ref="gsmlgm:NaturalGeomorphologicFeature"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
        <attributeGroup ref="gml:OwnershipAttributeGroup"/>
    </complexType>
    <element abstract="true" name="GeomorphologicFeature" substitutionGroup="gsml:GeologicFeature" type="gsmlgm:GeomorphologicFeatureType">
        <annotation>
            <documentation>A feature describing the shape and nature of the Earth's land surface (ie, a landform).  These landforms may be created by natural Earth processes (eg, river channel, beach, moraine, mountain) or through human (anthropogenic) activity (eg, dredged channel, reclaimed land, mine waste dumps).</documentation>
        </annotation>
    </element>
    <complexType abstract="true" name="GeomorphologicFeatureType">
        <complexContent>
            <extension base="gsml:GeologicFeatureType"/>
        </complexContent>
    </complexType>
    <complexType name="GeomorphologicFeaturePropertyType">
        <sequence minOccurs="0">
            <element ref="gsmlgm:GeomorphologicFeature"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
        <attributeGroup ref="gml:OwnershipAttributeGroup"/>
    </complexType>
    <element name="GeomorphologicRelation" substitutionGroup="gsml:GeologicFeatureRelation" type="gsmlgm:GeomorphologicRelationType">
        <annotation>
            <documentation>Use this association to relate a geomorphologic feature (ie, a landform) to a geologic unit which describes the surficial regolith materials which comprise or lie beneath the landform surface.</documentation>
        </annotation>
    </element>
    <complexType name="GeomorphologicRelationType">
        <complexContent>
            <extension base="gsml:GeologicFeatureRelationType"/>
        </complexContent>
    </complexType>
    <complexType name="GeomorphologicRelationPropertyType">
        <sequence minOccurs="0">
            <element ref="gsmlgm:GeomorphologicRelation"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
        <attributeGroup ref="gml:OwnershipAttributeGroup"/>
    </complexType>
</schema>