deegree-services/deegree-services-wms/src/main/resources/META-INF/schemas/services/wms/3.4.0/wms_configuration.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns:wms="http://www.deegree.org/services/wms" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2001/XMLSchema"
  targetNamespace="http://www.deegree.org/services/wms" elementFormDefault="qualified" xmlns:jaxb="http://java.sun.com/xml/ns/jaxb"
  jaxb:version="2.1">

  <annotation>
    <appinfo>
      <jaxb:schemaBindings>
        <jaxb:package name="org.deegree.services.jaxb.wms" />
      </jaxb:schemaBindings>
    </appinfo>
  </annotation>

  <element name="deegreeWMS">
    <complexType>
      <sequence>
        <element name="SupportedVersions" minOccurs="0">
          <complexType>
            <sequence>
              <element name="Version" type="wms:WMSVersionType" maxOccurs="unbounded" />
            </sequence>
          </complexType>
        </element>
        <!-- if set, it will be checked upon startup if metadata ids for layers actually exist -->
        <element name="MetadataStoreId" type="string" minOccurs="0" />
        <!-- if set, this template will be used for generating MetadataURL elements for layers (default is to use an internal 
          CSW if available) -->
        <element name="MetadataURLTemplate" minOccurs="0" type="string" />
        <element name="ServiceConfiguration" type="wms:ServiceConfigurationType" />
        <element name="FeatureInfoFormats" minOccurs="0" type="wms:FeatureInfoFormatsType" />
        <element name="ExtendedCapabilities" minOccurs="0" maxOccurs="unbounded">
          <complexType>
            <sequence>
              <any processContents="lax">
                <annotation>
                  <appinfo>
                    <jaxb:dom />
                  </appinfo>
                </annotation>
              </any>
            </sequence>
          </complexType>
        </element>
      </sequence>
      <attribute name="configVersion" use="required" type="wms:ConfigVersionType" />
    </complexType>
  </element>

  <complexType name="ServiceConfigurationType">
    <sequence>
      <element name="DefaultLayerOptions" type="wms:LayerOptionsType" minOccurs="0" />
      <element name="ThemeId" type="string" minOccurs="0" maxOccurs="unbounded" />
    </sequence>
  </complexType>

  <complexType name="FeatureInfoFormatsType">  
    <sequence>    
      <element name="GetFeatureInfoFormat" minOccurs="0" maxOccurs="unbounded">
        <complexType>
          <sequence>
            <choice>
              <element name="File" type="string" />
              <element name="XSLTFile">
                <complexType>
                  <simpleContent>
                    <extension base="string">
                      <attribute name="gmlVersion" type="wms:GMLVersionType" default="GML_32" use="optional" />
                    </extension>
                  </simpleContent>
                </complexType>
              </element>
              <element name="Serializer">
              	<complexType>
              		<sequence>
						<element name="JavaClass" type="string" />
					</sequence>
              	</complexType>
              </element>
            </choice>
            <element name="Format" type="string" />
          </sequence>
        </complexType>
      </element>
    </sequence>
    <attribute name="enableDefaultFormats" type="boolean" default="true"/>
  </complexType>

  <complexType name="LayerOptionsType">
    <sequence>
      <element name="AntiAliasing" type="string" minOccurs="0" />
      <element name="RenderingQuality" type="string" minOccurs="0" />
      <element name="Interpolation" type="string" minOccurs="0" />
      <element name="MaxFeatures" type="int" minOccurs="0" />
      <element name="FeatureInfoRadius" type="int" minOccurs="0" />
    </sequence>
  </complexType>

  <simpleType name="WMSVersionType">
    <restriction base="string">
      <enumeration value="1.1.1" />
      <enumeration value="1.3.0" />
      <!-- enumeration value="2.0.0" / -->
    </restriction>
  </simpleType>

  <simpleType name="ConfigVersionType">
    <restriction base="string">
      <enumeration value="3.0.0" />
      <enumeration value="3.1.0" />
      <enumeration value="3.2.0" />
      <enumeration value="3.4.0" />
    </restriction>
  </simpleType>

  <simpleType name="GMLVersionType">
    <restriction base="string">
      <enumeration value="GML_2" />
      <enumeration value="GML_30" />
      <enumeration value="GML_31" />
      <enumeration value="GML_32" />
    </restriction>
  </simpleType>

</schema>
