deegree-services/src/main/resources/META-INF/schemas/csw/3.0.0/csw_configuration.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns:csw="http://www.deegree.org/services/csw"
  xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.deegree.org/services/csw" elementFormDefault="qualified"
  attributeFormDefault="unqualified" xmlns:jaxb="http://java.sun.com/xml/ns/jaxb" jaxb:version="2.1">
  <annotation>
    <appinfo>
      <jaxb:schemaBindings>
        <jaxb:package name="org.deegree.services.jaxb.csw" />
      </jaxb:schemaBindings>
    </appinfo>
  </annotation>
  <element name="deegreeCSW">
    <complexType>
      <sequence>
        <element name="SupportedVersions" minOccurs="0">
          <complexType>
            <sequence>
              <element name="Version" type="csw:CSWVersionType" maxOccurs="unbounded" />
            </sequence>
          </complexType>
        </element>
        <element name="EnableTransactions" type="boolean" minOccurs="0" default="false">
          <annotation>
            <documentation>
		      The CSW can be configured to have the state 'read-only' or 'read-write' for
		      user. If 'read-only' the user is not able to change data. In this case the 
		      transaction operation is disabled. The default state for the transaction
		      operation of a CSW is disabled - 'read-only'. 			      
            </documentation>
	      </annotation>
        </element>
        <element name="EnableInspireExtensions" minOccurs="0">
          <annotation>
            <documentation>
              Enable the INSPIRE extension             
            </documentation>
          </annotation>
        </element>
      </sequence>
      <attribute name="configVersion" use="required" fixed="3.0.0" />
    </complexType>
  </element>
  <simpleType name="CSWVersionType">
    <restriction base="string">
      <enumeration value="2.0.2" />
    </restriction>
  </simpleType>
</schema>