deegree-demos/deegree-wfs-xplanung/src/main/webapp/WEB-INF/conf/datasources/feature/schemas/xplan4.0/sc/ShapeChangeAppinfo.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema targetNamespace="http://www.interactive-instruments.de/ShapeChange/AppInfo" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<element name="profiles" type="string"/>
	<element name="name" type="string"/>
	<element name="code" type="string"/>
	<element name="taggedValue">
		<complexType>
			<simpleContent>
				<extension base="string">
					<attribute name="tag" type="string"/>
				</extension>
			</simpleContent>
		</complexType>
	</element>
</schema>
