deegree-demos/deegree-wfs-xplanung/src/main/webapp/WEB-INF/conf/datasources/feature/schemas/xplan4.0/XPlanGML_SonstigePlanwerke.xsd

<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<!--ADE-Erweiterung, Erstellungsdatum: 07/20/10-->
<schema 
  xmlns="http://www.w3.org/2001/XMLSchema" 
  xmlns:gml="http://www.opengis.net/gml/3.2" 
  xmlns:xplan="http://www.xplanung.de/xplangml/4/0" 
  elementFormDefault="qualified" targetNamespace="http://www.xplanung.de/xplangml/4/0" version="4.0">
  
  <include schemaLocation="XPlanGML_Basisschema.xsd" />
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="./gml/3.2.1/gml.xsd" />
  
  <!--XML Schema document created by ShapeChange-->
  <element name="SO_SonstigesRecht" substitutionGroup="xplan:SO_Geometrieobjekt" type="xplan:SO_SonstigesRechtType">
    <annotation>
      <documentation>Sonstige Festlegungen</documentation>
    </annotation>
  </element>
  <complexType name="SO_SonstigesRechtType">
    <complexContent>
      <extension base="xplan:SO_GeometrieobjektType">
        <sequence>
          <element minOccurs="0" name="artDerFestlegung" type="xplan:SO_KlassifizNachSonstigemRechtType">
            <annotation>
              <documentation>Grundlegende rechtliche Klassifizierung der Festlegung</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="detailArtDerFestlegung" type="gml:CodeType">
            <annotation>
              <documentation>Detaillierte rechtliche Klassifizierung der Festlegung</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="name" type="string" />
          <element minOccurs="0" name="nummer" type="string" />
          <!--== ADE ===================================================================-->
          <element ref="xplan:_GenericApplicationPropertyOfSO_SonstigesRecht" minOccurs="0" maxOccurs="unbounded" />
          <!--==========================================================================-->
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <!--== ADE ===================================================================-->
  <element name="_GenericApplicationPropertyOfSO_SonstigesRecht" type="anyType" abstract="true" />
  <!--==========================================================================-->
  <simpleType name="SO_KlassifizNachLuftverkehrsrechtType">
    <annotation>
      <documentation>Aufzählung der möglichen Zweckbestimmungen einer Luftverkehrs-Fläche.</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="1000" />
      <enumeration value="2000" />
      <enumeration value="3000" />
      <enumeration value="4000" />
      <enumeration value="5000" />
      <enumeration value="5200" />
      <enumeration value="5400" />
      <enumeration value="9999" />
    </restriction>
  </simpleType>
  <element name="SO_Forstrecht" substitutionGroup="xplan:SO_Geometrieobjekt" type="xplan:SO_ForstrechtType">
    <annotation>
      <documentation>Festlegungen nach Forstrecht</documentation>
    </annotation>
  </element>
  <complexType name="SO_ForstrechtType">
    <complexContent>
      <extension base="xplan:SO_GeometrieobjektType">
        <sequence>
          <element minOccurs="0" name="artDerFestlegung" type="xplan:SO_KlassifizNachForstrechtType">
            <annotation>
              <documentation>Grundlegende Klassifizierung der Festlegung</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="detailArtDerFestlegung" type="gml:CodeType">
            <annotation>
              <documentation>Detaillierte Klassifizierung der Festlegung</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="name" type="string" />
          <element minOccurs="0" name="nummer" type="string" />
          <!--== ADE ===================================================================-->
          <element ref="xplan:_GenericApplicationPropertyOfSO_Forstrecht" minOccurs="0" maxOccurs="unbounded" />
          <!--==========================================================================-->
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <!--== ADE ===================================================================-->
  <element name="_GenericApplicationPropertyOfSO_Forstrecht" type="anyType" abstract="true" />
  <!--==========================================================================-->
  <simpleType name="SO_SchutzzonenNaturschutzrechtType">
    <annotation>
      <documentation>Schutzzoneneinteilung in Nationalparks, naturparks und Biosphärenreservaten.</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="1000" />
      <enumeration value="1100" />
      <enumeration value="1200" />
      <enumeration value="2000" />
      <enumeration value="2100" />
      <enumeration value="2200" />
      <enumeration value="2300" />
    </restriction>
  </simpleType>
  <element name="SO_Wasserrecht" substitutionGroup="xplan:SO_Geometrieobjekt" type="xplan:SO_WasserrechtType">
    <annotation>
      <documentation>Festlegung nach Wasserrecht</documentation>
    </annotation>
  </element>
  <complexType name="SO_WasserrechtType">
    <complexContent>
      <extension base="xplan:SO_GeometrieobjektType">
        <sequence>
          <element minOccurs="0" name="artDerFestlegung" type="xplan:SO_KlassifizNachWasserrechtType">
            <annotation>
              <documentation>Grundlegende rechtliche Klassifizierung der Festlegung.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="detailArtDerFestlegung" type="gml:CodeType">
            <annotation>
              <documentation>Detaillierte rechtliche Klassifizierung der Festlegung.</documentation>
            </annotation>
          </element>
          <element name="istNatuerlichesUberschwemmungsgebiet" type="boolean" />
          <element minOccurs="0" name="name" type="string" />
          <element minOccurs="0" name="nummer" type="string" />
          <!--== ADE ===================================================================-->
          <element ref="xplan:_GenericApplicationPropertyOfSO_Wasserrecht" minOccurs="0" maxOccurs="unbounded" />
          <!--==========================================================================-->
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <!--== ADE ===================================================================-->
  <element name="_GenericApplicationPropertyOfSO_Wasserrecht" type="anyType" abstract="true" />
  <!--==========================================================================-->
  <element abstract="true" name="SO_Flaechenobjekt" substitutionGroup="xplan:SO_Objekt" type="xplan:SO_FlaechenobjektType">
    <annotation>
      <documentation>Basisklasse für Objekte mit flächenförmigem Raumbezug.</documentation>
    </annotation>
  </element>
  <complexType abstract="true" name="SO_FlaechenobjektType">
    <complexContent>
      <extension base="xplan:SO_ObjektType">
        <sequence>
          <element name="position" type="gml:GeometryPropertyType" />
          <element name="flaechenschluss" type="boolean" />
          <!--== ADE ===================================================================-->
          <element ref="xplan:_GenericApplicationPropertyOfSO_Flaechenobjekt" minOccurs="0" maxOccurs="unbounded" />
          <!--==========================================================================-->
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <!--== ADE ===================================================================-->
  <element name="_GenericApplicationPropertyOfSO_Flaechenobjekt" type="anyType" abstract="true" />
  <!--==========================================================================-->
  <element name="SO_Bereich" substitutionGroup="xplan:XP_Bereich" type="xplan:SO_BereichType">
    <annotation>
      <documentation>Bereich eines sonstigen raumbezogenen Plans.</documentation>
    </annotation>
  </element>
  <complexType name="SO_BereichType">
    <complexContent>
      <extension base="xplan:XP_BereichType">
        <sequence>
          <element name="gehoertZuPlan" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">xplan:SO_Plan</targetElement>
                <reversePropertyName xmlns="http://www.opengis.net/gml/3.2">xplan:bereich</reversePropertyName>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="inhaltSoPlan" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">xplan:SO_Objekt</targetElement>
                <reversePropertyName xmlns="http://www.opengis.net/gml/3.2">xplan:gehoertZuSO_Bereich</reversePropertyName>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="rasterAenderung" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">xplan:SO_RasterplanAenderung</targetElement>
              </appinfo>
            </annotation>
          </element>
          <!--== ADE ===================================================================-->
          <element ref="xplan:_GenericApplicationPropertyOfSO_Bereich" minOccurs="0" maxOccurs="unbounded" />
          <!--==========================================================================-->
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <!--== ADE ===================================================================-->
  <element name="_GenericApplicationPropertyOfSO_Bereich" type="anyType" abstract="true" />
  <!--==========================================================================-->
  <element name="SO_SchutzgebietSonstigesRecht" substitutionGroup="xplan:SO_Geometrieobjekt" type="xplan:SO_SchutzgebietSonstigesRechtType">
    <annotation>
      <documentation>Sonstige Schutzgebiete nach unterschiedlichen rechtlichen Bestimmungen.</documentation>
    </annotation>
  </element>
  <complexType name="SO_SchutzgebietSonstigesRechtType">
    <complexContent>
      <extension base="xplan:SO_GeometrieobjektType">
        <sequence>
          <element minOccurs="0" name="artDerFestlegung" type="xplan:SO_KlassifizSchutzgebietSonstRechtType">
            <annotation>
              <documentation>Klassifizierung des Schutzgebietes oder Schutzbereichs.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="detailArtDerFestlegung" type="gml:CodeType">
            <annotation>
              <documentation>Detaillierte Klassifizierung</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="zone" type="xplan:SO_LaermschutzzoneTypenType">
            <annotation>
              <documentation>Zugeordnete Lärmschutzzone</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="name" type="string" />
          <element minOccurs="0" name="nummer" type="string" />
          <!--== ADE ===================================================================-->
          <element ref="xplan:_GenericApplicationPropertyOfSO_SchutzgebietSonstigesRecht" minOccurs="0" maxOccurs="unbounded" />
          <!--==========================================================================-->
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <!--== ADE ===================================================================-->
  <element name="_GenericApplicationPropertyOfSO_SchutzgebietSonstigesRecht" type="anyType" abstract="true" />
  <!--==========================================================================-->
  <simpleType name="SO_KlassifizNachStrassenverkehrsrechtType">
    <annotation>
      <documentation>Aufzählung von Basis-Klassifizierungen der Festlegungen nach Straßenrecht.</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="1000" />
      <enumeration value="1100" />
      <enumeration value="1200" />
      <enumeration value="1300" />
      <enumeration value="9999" />
    </restriction>
  </simpleType>
  <simpleType name="SO_GebietsArtType">
    <annotation>
      <documentation>Aufzählung von Gebietsausweisungen nach BauGB</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="1000">
        <annotation>
          <documentation>Umlegungsgebiet (§ 45 ff BauGB).</documentation>
        </annotation>
      </enumeration>
      <enumeration value="1100">
        <annotation>
          <documentation>Gebiet nach § 136 ff BauGB</documentation>
        </annotation>
      </enumeration>
      <enumeration value="1200">
        <annotation>
          <documentation>Gebiet nach § 165 ff BauGB</documentation>
        </annotation>
      </enumeration>
      <enumeration value="1300">
        <annotation>
          <documentation>Gebiet nach § 171 a-d BauGB</documentation>
        </annotation>
      </enumeration>
      <enumeration value="1400">
        <annotation>
          <documentation>Gebiet nach § 171 e BauGB</documentation>
        </annotation>
      </enumeration>
      <enumeration value="1500">
        <annotation>
          <documentation>Gebiet nach §171 f BauGB</documentation>
        </annotation>
      </enumeration>
      <enumeration value="1600">
        <annotation>
          <documentation>Gebiet nach §171 f BauGB</documentation>
        </annotation>
      </enumeration>
      <enumeration value="2000">
        <annotation>
          <documentation>Gebiet einer Satzung nach § 172 Abs. 1.1 BauGB</documentation>
        </annotation>
      </enumeration>
      <enumeration value="2100">
        <annotation>
          <documentation>Gebiet einer Satzung nach § 172 Abs. 1.2 BauGB</documentation>
        </annotation>
      </enumeration>
      <enumeration value="2200">
        <annotation>
          <documentation>Gebiet einer Satzung nach § 172 Abs. 1.2 BauGB</documentation>
        </annotation>
      </enumeration>
      <enumeration value="9999">
        <annotation>
          <documentation>Sonstiger Gebietstyp</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="SO_KlassifizSchutzgebietSonstRechtType">
    <restriction base="string">
      <enumeration value="1000">
        <annotation>
          <documentation>Lärmschutzbereich nach Luftverkehrsrecht.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="2000">
        <annotation>
          <documentation>Schutzzone um eine Leitungstrasse nach Bundes-Immissionsschutzgesetz.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="9999" />
    </restriction>
  </simpleType>
  <simpleType name="SO_LaermschutzzoneTypenType">
    <annotation>
      <documentation>Einteilung von Lärmschutzzonen</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="1000" />
      <enumeration value="2000" />
      <enumeration value="3000" />
    </restriction>
  </simpleType>
  <element name="SO_SchutzgebietNaturschutzrecht" substitutionGroup="xplan:SO_Geometrieobjekt" type="xplan:SO_SchutzgebietNaturschutzrechtType">
    <annotation>
      <documentation>Schutzgebiet nach Naturschutzrecht.</documentation>
    </annotation>
  </element>
  <complexType name="SO_SchutzgebietNaturschutzrechtType">
    <complexContent>
      <extension base="xplan:SO_GeometrieobjektType">
        <sequence>
          <element minOccurs="0" name="artDerFestlegung" type="xplan:SO_KlassifizSchutzgebietNaturschutzrechtType">
            <annotation>
              <documentation>Klassizizierung des Naturschutzgebietes</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="detailArtDerFestlegung" type="gml:CodeType">
            <annotation>
              <documentation>Weitere Klassifizierung</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="zone" type="xplan:SO_SchutzzonenNaturschutzrechtType">
            <annotation>
              <documentation>Klassifizierung der Schutzzone</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="name" type="string" />
          <element minOccurs="0" name="nummer" type="string" />
          <!--== ADE ===================================================================-->
          <element ref="xplan:_GenericApplicationPropertyOfSO_SchutzgebietNaturschutzrecht" minOccurs="0" maxOccurs="unbounded" />
          <!--==========================================================================-->
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <!--== ADE ===================================================================-->
  <element name="_GenericApplicationPropertyOfSO_SchutzgebietNaturschutzrecht" type="anyType" abstract="true" />
  <!--==========================================================================-->
  <simpleType name="SO_KlassifizSchutzgebietWasserrechtType">
    <annotation>
      <documentation>Aufzählung wasserrechtlicher Zweckbestimmungen.</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="1000" />
      <enumeration value="10000">
        <annotation>
          <documentation>Ausgewiesenes Schutzgebiet für Quell- und Grundwasser</documentation>
        </annotation>
      </enumeration>
      <enumeration value="10001">
        <annotation>
          <documentation>Ausgewiesenes Schutzgebiet für Oberflächengewässer</documentation>
        </annotation>
      </enumeration>
      <enumeration value="2000" />
      <enumeration value="9999">
        <annotation>
          <documentation>Sonstige Zweckbestimmung</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="SO_SchutzzonenWasserrechtType">
    <annotation>
      <documentation>Wasserschutzgebietszonen nach WasserSchutzgesetz (WSG) bzw. Heilquellenschutzzonen nach HeilQuellenSchutzGesetz (HQSG)</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="1000" />
      <enumeration value="1100" />
      <enumeration value="1200" />
      <enumeration value="1300">
        <annotation>
          <documentation>Zone 3a existiert nur bei Wasserschutzgebieten.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="1400">
        <annotation>
          <documentation>Zone 3b existiert nur bei Wasserschutzgebieten.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="1500">
        <annotation>
          <documentation>Zone 4 existiert nur bei Heilquellen.</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <element name="SO_Linienobjekt" substitutionGroup="xplan:SO_Objekt" type="xplan:SO_LinienobjektType">
    <annotation>
      <documentation>Basisklasse für Objekte mit linienförmigem Raumbezug.</documentation>
    </annotation>
  </element>
  <complexType name="SO_LinienobjektType">
    <complexContent>
      <extension base="xplan:SO_ObjektType">
        <sequence>
          <element name="position" type="gml:GeometryPropertyType" />
          <!--== ADE ===================================================================-->
          <element ref="xplan:_GenericApplicationPropertyOfSO_Linienobjekt" minOccurs="0" maxOccurs="unbounded" />
          <!--==========================================================================-->
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <!--== ADE ===================================================================-->
  <element name="_GenericApplicationPropertyOfSO_Linienobjekt" type="anyType" abstract="true" />
  <!--==========================================================================-->
  <simpleType name="SO_KlassifizNachForstrechtType">
    <annotation>
      <documentation>Basis Klassifizierung nach Forstrecht</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="1000" />
      <enumeration value="2000" />
      <enumeration value="9999" />
    </restriction>
  </simpleType>
  <element name="SO_Plan" substitutionGroup="xplan:XP_Plan" type="xplan:SO_PlanType">
    <annotation>
      <documentation>Klasse für sonstige, z. B. länderspezifische raumbezogene Planwerke.</documentation>
    </annotation>
  </element>
  <complexType name="SO_PlanType">
    <complexContent>
      <extension base="xplan:XP_PlanType">
        <sequence>
          <element name="planTyp" type="gml:CodeType">
            <annotation>
              <documentation>Typ des Plans.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="plangeber" type="xplan:XP_PlangeberPropertyType">
            <annotation>
              <documentation>Für den Plan zuständige Stelle.</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="bereich" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">xplan:SO_Bereich</targetElement>
                <reversePropertyName xmlns="http://www.opengis.net/gml/3.2">xplan:gehoertZuPlan</reversePropertyName>
              </appinfo>
            </annotation>
          </element>
          <!--== ADE ===================================================================-->
          <element ref="xplan:_GenericApplicationPropertyOfSO_Plan" minOccurs="0" maxOccurs="unbounded" />
          <!--==========================================================================-->
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <!--== ADE ===================================================================-->
  <element name="_GenericApplicationPropertyOfSO_Plan" type="anyType" abstract="true" />
  <!--==========================================================================-->
  <element name="SO_SchutzgebietWasserrecht" substitutionGroup="xplan:SO_Geometrieobjekt" type="xplan:SO_SchutzgebietWasserrechtType">
    <annotation>
      <documentation>Schutzgebiet nach WasserSchutzGesetz (WSG) bzw. HeilQuellenSchutzGesetz (HQSG).</documentation>
    </annotation>
  </element>
  <complexType name="SO_SchutzgebietWasserrechtType">
    <complexContent>
      <extension base="xplan:SO_GeometrieobjektType">
        <sequence>
          <element minOccurs="0" name="artDerFestlegung" type="xplan:SO_KlassifizSchutzgebietWasserrechtType">
            <annotation>
              <documentation>Klassifizierung des Schutzgebietes</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="detailArtDerFestlegung" type="gml:CodeType">
            <annotation>
              <documentation>Detaillierte Klassifizierung</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="zone" type="xplan:SO_SchutzzonenWasserrechtType">
            <annotation>
              <documentation>Klassifizierung der Schutzzone</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="name" type="string" />
          <element minOccurs="0" name="nummer" type="string" />
          <!--== ADE ===================================================================-->
          <element ref="xplan:_GenericApplicationPropertyOfSO_SchutzgebietWasserrecht" minOccurs="0" maxOccurs="unbounded" />
          <!--==========================================================================-->
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <!--== ADE ===================================================================-->
  <element name="_GenericApplicationPropertyOfSO_SchutzgebietWasserrecht" type="anyType" abstract="true" />
  <!--==========================================================================-->
  <simpleType name="SO_KlassifizNachBodenschutzrechtType">
    <restriction base="string">
      <enumeration value="1000" />
      <enumeration value="2000" />
      <enumeration value="20000" />
      <enumeration value="20001" />
      <enumeration value="20002" />
    </restriction>
  </simpleType>
  <simpleType name="SO_KlassifizNachDenkmalschutzrechtType">
    <annotation>
      <documentation>Basis Klassifizierung von Ausweisungen nach Denkmalschutzrecht.</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="1000" />
      <enumeration value="1100" />
      <enumeration value="1200" />
      <enumeration value="9999" />
    </restriction>
  </simpleType>
  <element name="SO_RasterplanAenderung" substitutionGroup="xplan:XP_RasterplanAenderung" type="xplan:SO_RasterplanAenderungType" />
  <complexType name="SO_RasterplanAenderungType">
    <complexContent>
      <extension base="xplan:XP_RasterplanAenderungType">
        <sequence>
          <!--== ADE ===================================================================-->
          <element ref="xplan:_GenericApplicationPropertyOfSO_RasterplanAenderung" minOccurs="0" maxOccurs="unbounded" />
          <!--==========================================================================-->
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <!--== ADE ===================================================================-->
  <element name="_GenericApplicationPropertyOfSO_RasterplanAenderung" type="anyType" abstract="true" />
  <!--==========================================================================-->
  <element name="SO_Objekt" substitutionGroup="xplan:XP_Objekt" type="xplan:SO_ObjektType">
    <annotation>
      <documentation>Basisklasse für die Inhalte sonstiger raumbezogener Planwerke sowie von Klassen zur Modellierung Nachrichtlicher Übernahmen.</documentation>
    </annotation>
  </element>
  <complexType name="SO_ObjektType">
    <complexContent>
      <extension base="xplan:XP_ObjektType">
        <sequence>
          <element minOccurs="0" name="rechtscharakter" type="xplan:SO_RechtscharakterType">
            <annotation>
              <documentation>Rechtscharakter des Planinhalts.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="sonstRechtscharakter" type="gml:CodeType">
            <annotation>
              <documentation>Klassifizierung des Rechtscharakters wenn das Attribut 'rechtscharakter' den Wert 'Sonstiges' (1000)  hat.</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="gehoertZuSO_Bereich" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">xplan:SO_Bereich</targetElement>
                <reversePropertyName xmlns="http://www.opengis.net/gml/3.2">xplan:inhaltSoPlan</reversePropertyName>
              </appinfo>
            </annotation>
          </element>
          <!--== ADE ===================================================================-->
          <element ref="xplan:_GenericApplicationPropertyOfSO_Objekt" minOccurs="0" maxOccurs="unbounded" />
          <!--==========================================================================-->
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <!--== ADE ===================================================================-->
  <element name="_GenericApplicationPropertyOfSO_Objekt" type="anyType" abstract="true" />
  <!--==========================================================================-->
  <simpleType name="SO_KlassifizNachSchienenverkehrsrechtType">
    <annotation>
      <documentation>Aufzählung der Zweckbestimmungen einer BAHNFLÄCHE</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="1000">
        <annotation>
          <documentation>Bahnanlage</documentation>
        </annotation>
      </enumeration>
      <enumeration value="1200">
        <annotation>
          <documentation>Bahnlinie</documentation>
        </annotation>
      </enumeration>
      <enumeration value="1400">
        <annotation>
          <documentation>Öffentlichen Personen Nahverkehr</documentation>
        </annotation>
      </enumeration>
      <enumeration value="9999">
        <annotation>
          <documentation>Sonstige Zweckbestimmung</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <element name="SO_Denkmalschutzrecht" substitutionGroup="xplan:SO_Geometrieobjekt" type="xplan:SO_DenkmalschutzrechtType">
    <annotation>
      <documentation>Festlegung nach Denkmalschutzrecht</documentation>
    </annotation>
  </element>
  <complexType name="SO_DenkmalschutzrechtType">
    <complexContent>
      <extension base="xplan:SO_GeometrieobjektType">
        <sequence>
          <element minOccurs="0" name="artDerFestlegung" type="xplan:SO_KlassifizNachDenkmalschutzrechtType">
            <annotation>
              <documentation>Grundlegende rechtliche Klassifizierung der Festlegung</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="detailArtDerFestlegung" type="gml:CodeType">
            <annotation>
              <documentation>Detaillierte rechtliche Klassifizierung der Festlegung</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="weltkulturerbe" type="boolean" />
          <element minOccurs="0" name="name" type="string" />
          <element minOccurs="0" name="nummer" type="string" />
          <!--== ADE ===================================================================-->
          <element ref="xplan:_GenericApplicationPropertyOfSO_Denkmalschutzrecht" minOccurs="0" maxOccurs="unbounded" />
          <!--==========================================================================-->
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <!--== ADE ===================================================================-->
  <element name="_GenericApplicationPropertyOfSO_Denkmalschutzrecht" type="anyType" abstract="true" />
  <!--==========================================================================-->
  <element name="SO_Bodenschutzrecht" substitutionGroup="xplan:SO_Geometrieobjekt" type="xplan:SO_BodenschutzrechtType">
    <annotation>
      <documentation>Amtliche Bezeichnung / Kennziffer der Festlegung</documentation>
    </annotation>
  </element>
  <complexType name="SO_BodenschutzrechtType">
    <complexContent>
      <extension base="xplan:SO_GeometrieobjektType">
        <sequence>
          <element minOccurs="0" name="artDerFestlegung" type="xplan:SO_KlassifizNachBodenschutzrechtType">
            <annotation>
              <documentation>Grundlegende Klassifizierung der Festlegung.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="detailArtDerFestlegung" type="string" />
          <element minOccurs="0" name="istVerdachtsflaeche" type="boolean" />
          <element minOccurs="0" name="name" type="string" />
          <element minOccurs="0" name="nummer" type="string" />
          <!--== ADE ===================================================================-->
          <element ref="xplan:_GenericApplicationPropertyOfSO_Bodenschutzrecht" minOccurs="0" maxOccurs="unbounded" />
          <!--==========================================================================-->
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <!--== ADE ===================================================================-->
  <element name="_GenericApplicationPropertyOfSO_Bodenschutzrecht" type="anyType" abstract="true" />
  <!--==========================================================================-->
  <element name="SO_Grenze" substitutionGroup="xplan:SO_Linienobjekt" type="xplan:SO_GrenzeType">
    <annotation>
      <documentation>Grenze einer Verwaltungseinheit</documentation>
    </annotation>
  </element>
  <complexType name="SO_GrenzeType">
    <complexContent>
      <extension base="xplan:SO_LinienobjektType">
        <sequence>
          <element minOccurs="0" name="typ" type="xplan:SO_GrenzeTypenType">
            <annotation>
              <documentation>Typ der Grenze</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="sonstTyp" type="gml:CodeType" />
          <!--== ADE ===================================================================-->
          <element ref="xplan:_GenericApplicationPropertyOfSO_Grenze" minOccurs="0" maxOccurs="unbounded" />
          <!--==========================================================================-->
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <!--== ADE ===================================================================-->
  <element name="_GenericApplicationPropertyOfSO_Grenze" type="anyType" abstract="true" />
  <!--==========================================================================-->
  <simpleType name="SO_BesondereKlassifizNachSchienenverkehrsrechtType">
    <annotation>
      <documentation>Aufzählung der besonderen Zweckbestimmungen einer Bahnfläche ,Bahnlinie oder Bahnanlage.</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="10000" />
      <enumeration value="10001" />
      <enumeration value="10002" />
      <enumeration value="10003" />
      <enumeration value="12000" />
      <enumeration value="12001" />
      <enumeration value="12002" />
      <enumeration value="12003" />
      <enumeration value="12004" />
      <enumeration value="12005" />
      <enumeration value="14000" />
      <enumeration value="14001" />
      <enumeration value="14002" />
      <enumeration value="14003" />
    </restriction>
  </simpleType>
  <simpleType name="SO_RechtsstandGebietTypType">
    <annotation>
      <documentation>Aufzählung der möglichen Rechtsstände des Gebiets.</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="1000" />
      <enumeration value="2000" />
      <enumeration value="3000" />
      <enumeration value="4000" />
      <enumeration value="5000" />
      <enumeration value="9999" />
    </restriction>
  </simpleType>
  <element name="SO_Gebiet" substitutionGroup="xplan:SO_Flaechenobjekt" type="xplan:SO_GebietType">
    <annotation>
      <documentation>Umgrenzung eines sonstigen Gebietes nach BauGB</documentation>
    </annotation>
  </element>
  <complexType name="SO_GebietType">
    <complexContent>
      <extension base="xplan:SO_FlaechenobjektType">
        <sequence>
          <element minOccurs="0" name="gemeinde" type="xplan:XP_GemeindePropertyType">
            <annotation>
              <documentation>Zuständige Gemeinde</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="gebietsArt" type="xplan:SO_GebietsArtType">
            <annotation>
              <documentation>Klassifikation des Gebietes nach BauGB.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="sonstGebietsArt" type="gml:CodeType">
            <annotation>
              <documentation>Klassifikation einer nicht auf dem BauGB, z.B. länderspezifischen Gebietsausweisung.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="rechtsstandGebiet" type="xplan:SO_RechtsstandGebietTypType">
            <annotation>
              <documentation>Rechtsstand der Gebietsausweisung</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="sonstRechtsstandGebiet" type="gml:CodeType">
            <annotation>
              <documentation>Sonstiger Rechtsstand der Gebietsausweisung, der nicht durch die Liset SO_AusweisungRechtscharakter wiedergegeben werden kann.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="aufstellungsbeschhlussDatum" type="date" />
          <element minOccurs="0" name="durchfuehrungStartDatum" type="date" />
          <element minOccurs="0" name="durchfuehrungEndDatum" type="date" />
          <element minOccurs="0" name="traegerMassnahme" type="string" />
          <!--== ADE ===================================================================-->
          <element ref="xplan:_GenericApplicationPropertyOfSO_Gebiet" minOccurs="0" maxOccurs="unbounded" />
          <!--==========================================================================-->
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <!--== ADE ===================================================================-->
  <element name="_GenericApplicationPropertyOfSO_Gebiet" type="anyType" abstract="true" />
  <!--==========================================================================-->
  <simpleType name="SO_KlassifizNachWasserrechtType">
    <annotation>
      <documentation>Basis Klassifizierung von Festlegungen nach Wasserrecht.</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="1000">
        <annotation>
          <documentation>Gewässer 1. Ordnung.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="1100">
        <annotation>
          <documentation>Gewässer 2. Ordnung.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="1300">
        <annotation>
          <documentation>Gewässer 3. Ordnung</documentation>
        </annotation>
      </enumeration>
      <enumeration value="2000">
        <annotation>
          <documentation>'Überschwemmungsgebiet' nach . § 31b Abs. 1 WHG  ist ein durch Rechtsverordnung festgesetztes oder natürliches Gebiet, das bei Hochwasser überschwemmt werden kann bzw. überschwemmt wird. </documentation>
        </annotation>
      </enumeration>
      <enumeration value="20000">
        <annotation>
          <documentation>'Festgesetztes Überschwemmungsgebiet ist ein per Verordnung festgesetzte Überschwemmungsgebiete auf Basis HQ100</documentation>
        </annotation>
      </enumeration>
      <enumeration value="20001">
        <annotation>
          <documentation>Noch nicht festgesetztes Überschwemmungsgebiet nach §31b Abs. 5 WHG.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="20002">
        <annotation>
          <documentation>Überschwemmungsgefährdetes gebiet gemäß §31 c WHG.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="9999" />
    </restriction>
  </simpleType>
  <simpleType name="SO_GrenzeTypenType">
    <annotation>
      <documentation>Aufzählung der verschiedenen Typen von Grenzen.</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="1000" />
      <enumeration value="1100" />
      <enumeration value="1200" />
      <enumeration value="1250" />
      <enumeration value="1300" />
      <enumeration value="1400" />
      <enumeration value="1450" />
      <enumeration value="1500" />
      <enumeration value="1550" />
      <enumeration value="1600" />
      <enumeration value="2000">
        <annotation>
          <documentation>Hinweis auf eine vorgeschlagene Grundstücksgrenze im BPlan.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="2100">
        <annotation>
          <documentation>Hinweis auf den Geltungsbereich eines bestehenden BPlan.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="9999" />
    </restriction>
  </simpleType>
  <element name="SO_Strassenverkehrsrecht" substitutionGroup="xplan:SO_Geometrieobjekt" type="xplan:SO_StrassenverkehrsrechtType">
    <annotation>
      <documentation>Festlegung nach Straßenrecht</documentation>
    </annotation>
  </element>
  <complexType name="SO_StrassenverkehrsrechtType">
    <complexContent>
      <extension base="xplan:SO_GeometrieobjektType">
        <sequence>
          <element minOccurs="0" name="artDerFestlegung" type="xplan:SO_KlassifizNachStrassenverkehrsrechtType">
            <annotation>
              <documentation>Grobe rechtliche Klassifizierung der Festlegung</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="detailArtDerFestlegung" type="gml:CodeType">
            <annotation>
              <documentation>Detaillierte rechtliche Klassifizierung der Festlegung.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="name" type="string" />
          <element minOccurs="0" name="nummer" type="string" />
          <!--== ADE ===================================================================-->
          <element ref="xplan:_GenericApplicationPropertyOfSO_Strassenverkehrsrecht" minOccurs="0" maxOccurs="unbounded" />
          <!--==========================================================================-->
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <!--== ADE ===================================================================-->
  <element name="_GenericApplicationPropertyOfSO_Strassenverkehrsrecht" type="anyType" abstract="true" />
  <!--==========================================================================-->
  <simpleType name="SO_RechtscharakterType">
    <restriction base="string">
      <enumeration value="1000" />
      <enumeration value="3000" />
      <enumeration value="9999" />
    </restriction>
  </simpleType>
  <element name="SO_Schienenverkehrsrecht" substitutionGroup="xplan:SO_Geometrieobjekt" type="xplan:SO_SchienenverkehrsrechtType" />
  <complexType name="SO_SchienenverkehrsrechtType">
    <complexContent>
      <extension base="xplan:SO_GeometrieobjektType">
        <sequence>
          <element minOccurs="0" name="artDerFestlegung" type="xplan:SO_KlassifizNachSchienenverkehrsrechtType" />
          <element minOccurs="0" name="besondereArtDerFestlegung" type="xplan:SO_BesondereKlassifizNachSchienenverkehrsrechtType" />
          <element minOccurs="0" name="detailArtDerFestlegung" type="gml:CodeType" />
          <element minOccurs="0" name="name" type="string" />
          <element minOccurs="0" name="nummer" type="string" />
          <!--== ADE ===================================================================-->
          <element ref="xplan:_GenericApplicationPropertyOfSO_Schienenverkehrsrecht" minOccurs="0" maxOccurs="unbounded" />
          <!--==========================================================================-->
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <!--== ADE ===================================================================-->
  <element name="_GenericApplicationPropertyOfSO_Schienenverkehrsrecht" type="anyType" abstract="true" />
  <!--==========================================================================-->
  <simpleType name="SO_KlassifizNachSonstigemRechtType">
    <annotation>
      <documentation>Basis Klassifizierung der sonstigen Ausweisungen.</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="1000">
        <annotation>
          <documentation>Bauschutzbereich zur Hindernisüberwachung für Flugplätze nach LuftVG.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="1100">
        <annotation>
          <documentation>Beschränkung nach Berggesetz</documentation>
        </annotation>
      </enumeration>
      <enumeration value="1200">
        <annotation>
          <documentation>Baubeschränkungen durch Richtfunkverbindungen</documentation>
        </annotation>
      </enumeration>
      <enumeration value="1300" />
      <enumeration value="1400">
        <annotation>
          <documentation>Beschränkungen nach Vermessungs- und Katasterrecht</documentation>
        </annotation>
      </enumeration>
      <enumeration value="9999" />
    </restriction>
  </simpleType>
  <element abstract="true" name="SO_Punktobjekt" substitutionGroup="xplan:SO_Objekt" type="xplan:SO_PunktobjektType">
    <annotation>
      <documentation>Basisklasse für Objekte mit punktförmigem Raumbezug.</documentation>
    </annotation>
  </element>
  <complexType abstract="true" name="SO_PunktobjektType">
    <complexContent>
      <extension base="xplan:SO_ObjektType">
        <sequence>
          <element name="position" type="gml:GeometryPropertyType" />
          <!--== ADE ===================================================================-->
          <element ref="xplan:_GenericApplicationPropertyOfSO_Punktobjekt" minOccurs="0" maxOccurs="unbounded" />
          <!--==========================================================================-->
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <!--== ADE ===================================================================-->
  <element name="_GenericApplicationPropertyOfSO_Punktobjekt" type="anyType" abstract="true" />
  <!--==========================================================================-->
  <simpleType name="SO_KlassifizSchutzgebietNaturschutzrechtType">
    <annotation>
      <documentation>Klassifikation von Schutzgebieten nach Naturschutzrecht.</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="1000">
        <annotation>
          <documentation>Naturschutzgebiet</documentation>
        </annotation>
      </enumeration>
      <enumeration value="1100">
        <annotation>
          <documentation>Nationalpark</documentation>
        </annotation>
      </enumeration>
      <enumeration value="1200">
        <annotation>
          <documentation>Biosphaerenreservate</documentation>
        </annotation>
      </enumeration>
      <enumeration value="1300">
        <annotation>
          <documentation>Landschaftsschutzgebiet</documentation>
        </annotation>
      </enumeration>
      <enumeration value="1400">
        <annotation>
          <documentation>Naturpark</documentation>
        </annotation>
      </enumeration>
      <enumeration value="1500">
        <annotation>
          <documentation>Naturdenkmal</documentation>
        </annotation>
      </enumeration>
      <enumeration value="1600">
        <annotation>
          <documentation>Geschützter Bestandteil der Landschaft</documentation>
        </annotation>
      </enumeration>
      <enumeration value="1700">
        <annotation>
          <documentation>Gesetzlich geschützte Biotope</documentation>
        </annotation>
      </enumeration>
      <enumeration value="1800">
        <annotation>
          <documentation>Schutzgebiet nach Europäischem Recht. Die umfasst das "Gebiet Gemeinschaftlicher Bedeutung" (FFH-Gebiet) und das "Europäische Vogelschutzgebiet"</documentation>
        </annotation>
      </enumeration>
      <enumeration value="18000">
        <annotation>
          <documentation>Gebiete von gemeinschaftlicher Bedeutung</documentation>
        </annotation>
      </enumeration>
      <enumeration value="18001">
        <annotation>
          <documentation>Europäische Vogelschutzgebiete</documentation>
        </annotation>
      </enumeration>
      <enumeration value="2000" />
      <enumeration value="9999">
        <annotation>
          <documentation>Sonstiges</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <element name="SO_Luftverkehrsrecht" substitutionGroup="xplan:SO_Geometrieobjekt" type="xplan:SO_LuftverkehrsrechtType" />
  <complexType name="SO_LuftverkehrsrechtType">
    <complexContent>
      <extension base="xplan:SO_GeometrieobjektType">
        <sequence>
          <element minOccurs="0" name="artDerFestlegung" type="xplan:SO_KlassifizNachLuftverkehrsrechtType" />
          <element minOccurs="0" name="detailArtDerFestlegung" type="gml:CodeType" />
          <element minOccurs="0" name="name" type="string" />
          <element minOccurs="0" name="nummer" type="string" />
          <!--== ADE ===================================================================-->
          <element ref="xplan:_GenericApplicationPropertyOfSO_Luftverkehrsrecht" minOccurs="0" maxOccurs="unbounded" />
          <!--==========================================================================-->
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <!--== ADE ===================================================================-->
  <element name="_GenericApplicationPropertyOfSO_Luftverkehrsrecht" type="anyType" abstract="true" />
  <!--==========================================================================-->
  <element abstract="true" name="SO_Geometrieobjekt" substitutionGroup="xplan:SO_Objekt" type="xplan:SO_GeometrieobjektType">
    <annotation>
      <documentation>Basisklasse für Objekte mit variablem Raumbezug.</documentation>
    </annotation>
  </element>
  <complexType abstract="true" name="SO_GeometrieobjektType">
    <complexContent>
      <extension base="xplan:SO_ObjektType">
        <sequence>
          <element name="position" type="gml:GeometryPropertyType" />
          <element minOccurs="0" name="flaechenschluss" type="boolean" />
          <!--== ADE ===================================================================-->
          <element ref="xplan:_GenericApplicationPropertyOfSO_Geometrieobjekt" minOccurs="0" maxOccurs="unbounded" />
          <!--==========================================================================-->
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <!--== ADE ===================================================================-->
  <element name="_GenericApplicationPropertyOfSO_Geometrieobjekt" type="anyType" abstract="true" />
  <!--==========================================================================-->
</schema>