deegree-demos/deegree-wfs-xplanung/src/main/webapp/WEB-INF/conf/datasources/feature/schemas/xplan4.0/XPlanGML_Regionalplanung_RLP.xsd

<?xml version="1.0" encoding="ISO-8859-1"?>
<schema 
  xmlns="http://www.w3.org/2001/XMLSchema" 
  xmlns:xplan="http://www.xplanung.de/xplangml/4/0" 
  elementFormDefault="qualified" targetNamespace="http://www.xplanung.de/xplangml/4/0" version="4.0">
  <annotation>
    <documentation>Dies Paket enthält alle Klassen des spezifischen Modells für die Regionalplanung in Rheinland-Pfalz.</documentation>
  </annotation>
  
  <include schemaLocation="XPlanGML_Regionalplanung_Kernmodell.xsd"/>
  
  <!--XML Schema document created by ShapeChange-->
  <element name="RP_RLP_Rohstoffsicherung" substitutionGroup="xplan:RP_Rohstoffsicherung" type="xplan:RP_RLP_RohstoffsicherungType">
    <annotation>
      <documentation>Vorrang- und Vorbehaltsgebiete zur Rohstoffsicherung nach Abschnitt 4.3.8 der Hinheise und Erläuterungen zur Umsetzung des LEP IV.&#13;
</documentation>
    </annotation>
  </element>
  <complexType name="RP_RLP_RohstoffsicherungType">
    <complexContent>
      <extension base="xplan:RP_RohstoffsicherungType">
        <sequence>
          <element minOccurs="0" name="lage" type="xplan:RP_RLP_RohstoffLageType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <element name="RP_RLP_FreizeitErholung" substitutionGroup="xplan:RP_FreizeitErholung" type="xplan:RP_RLP_FreizeitErholungType">
    <annotation>
      <documentation>Vorrang- und Vorbehaltsgebiete für Erholung, Fremdenverkehr/Tourismus.</documentation>
    </annotation>
  </element>
  <complexType name="RP_RLP_FreizeitErholungType">
    <complexContent>
      <extension base="xplan:RP_FreizeitErholungType">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <element name="RP_RLP_VorbHochwasserschutz" substitutionGroup="xplan:RP_VorbHochwasserschutz" type="xplan:RP_RLP_VorbHochwasserschutzType">
    <annotation>
      <documentation>Vorrang und Vorbehaltsgebiete für den Hochwasserschutz.</documentation>
    </annotation>
  </element>
  <complexType name="RP_RLP_VorbHochwasserschutzType">
    <complexContent>
      <extension base="xplan:RP_VorbHochwasserschutzType">
        <sequence>
          <element name="typ" type="xplan:RP_RLP_VorbHochwasserschutzTypenType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <simpleType name="RP_RLP_RaumkategorieTypenType">
    <annotation>
      <documentation>Kategorisierung spezieller Rheinland-Pfälzischer Raumkategorien</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="1000">
        <annotation>
          <documentation>Funktionsraum nach LEP III</documentation>
        </annotation>
      </enumeration>
      <enumeration value="2000">
        <annotation>
          <documentation>Mittelzentraler Verbung nach LEP IV</documentation>
        </annotation>
      </enumeration>
      <enumeration value="3000">
        <annotation>
          <documentation>Grundzentraler Verbund nach LEP IV</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <element name="RP_RLP_Raumkategorie" substitutionGroup="xplan:RP_Raumkategorie" type="xplan:RP_RLP_RaumkategorieType">
    <annotation>
      <documentation>Besondere Raumkategorien in  Rheinland-Pfalz.</documentation>
    </annotation>
  </element>
  <complexType name="RP_RLP_RaumkategorieType">
    <complexContent>
      <extension base="xplan:RP_RaumkategorieType">
        <sequence>
          <element name="typ" type="xplan:RP_RLP_RaumkategorieTypenType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <element name="RP_RLP_Forstwirtschaft" substitutionGroup="xplan:RP_Forstwirtschaft" type="xplan:RP_RLP_ForstwirtschaftType">
    <annotation>
      <documentation>Vorrang- und Vorbehaltsgebiete für die Forstwirtschaft.</documentation>
    </annotation>
  </element>
  <complexType name="RP_RLP_ForstwirtschaftType">
    <complexContent>
      <extension base="xplan:RP_ForstwirtschaftType">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <simpleType name="RP_RLP_SiedlungsstrukturTypenType">
    <annotation>
      <documentation>Kategorisierung von Siedlungsstrukturen.</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="1000"/>
      <enumeration value="2000"/>
    </restriction>
  </simpleType>
  <simpleType name="RP_RLP_SonderflaecheTypenType">
    <restriction base="string">
      <enumeration value="1000"/>
    </restriction>
  </simpleType>
  <element name="RP_RLP_Siedlungszaesur" substitutionGroup="xplan:RP_GruenzugGruenzaesur" type="xplan:RP_RLP_SiedlungszaesurType">
    <annotation>
      <documentation>Siedlungszäsur als Ziel oder Grundsatz der Raumordnung .</documentation>
    </annotation>
  </element>
  <complexType name="RP_RLP_SiedlungszaesurType">
    <complexContent>
      <extension base="xplan:RP_GruenzugGruenzaesurType">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <element name="RP_RLP_Grenze" substitutionGroup="xplan:RP_Grenze" type="xplan:RP_RLP_GrenzeType">
    <annotation>
      <documentation>Angaben zu administrativen Grenzen</documentation>
    </annotation>
  </element>
  <complexType name="RP_RLP_GrenzeType">
    <complexContent>
      <extension base="xplan:RP_GrenzeType">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <element name="RP_RLP_Landschaftsbild" substitutionGroup="xplan:RP_NaturLandschaft" type="xplan:RP_RLP_LandschaftsbildType">
    <annotation>
      <documentation>Vorrang- und Vorbehaltsgebiete Landschaftsbild.</documentation>
    </annotation>
  </element>
  <complexType name="RP_RLP_LandschaftsbildType">
    <complexContent>
      <extension base="xplan:RP_NaturLandschaftType">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <element name="RP_RLP_Ressourcenschutz" substitutionGroup="xplan:RP_SonstigerFreiraumstruktur" type="xplan:RP_RLP_RessourcenschutzType">
    <annotation>
      <documentation>Vorrang- und Vorbehaltsgebiete für Ressourcenschutz. Das Attribut "typ" ist nur für Pläne nach LEP III relevant.</documentation>
    </annotation>
  </element>
  <complexType name="RP_RLP_RessourcenschutzType">
    <complexContent>
      <extension base="xplan:RP_SonstigerFreiraumstrukturType">
        <sequence>
          <element minOccurs="0" name="typ" type="xplan:RP_RLP_RessourcenschutzTypenType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <simpleType name="RP_RLP_WindenergienutzungTypenType">
    <annotation>
      <documentation>Ausschlusfreie Nutzung der Windenergie.</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="1000"/>
    </restriction>
  </simpleType>
  <element name="RP_RLP_Sonderflaeche" substitutionGroup="xplan:RP_GenerischesObjekt" type="xplan:RP_RLP_SonderflaecheType">
    <annotation>
      <documentation>Sonderflächen in Rheinland-Pfalz (Bestand).</documentation>
    </annotation>
  </element>
  <complexType name="RP_RLP_SonderflaecheType">
    <complexContent>
      <extension base="xplan:RP_GenerischesObjektType">
        <sequence>
          <element minOccurs="0" name="typ" type="xplan:RP_RLP_SonderflaecheTypenType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <element name="RP_RLP_Gewaesser" substitutionGroup="xplan:RP_Gewaesser" type="xplan:RP_RLP_GewaesserType">
    <annotation>
      <documentation>Geswässerfläche Rheinland-Pfalz (Bestand).</documentation>
    </annotation>
  </element>
  <complexType name="RP_RLP_GewaesserType">
    <complexContent>
      <extension base="xplan:RP_GewaesserType">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <simpleType name="RP_RLP_RessourcenschutzTypenType">
    <annotation>
      <documentation>Kategorisierung schützenswerter Ressourcen.</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="1000"/>
      <enumeration value="2000"/>
      <enumeration value="3000"/>
      <enumeration value="4000"/>
      <enumeration value="5000"/>
    </restriction>
  </simpleType>
  <element name="RP_RLP_Gruenzaesur" substitutionGroup="xplan:RP_GruenzugGruenzaesur" type="xplan:RP_RLP_GruenzaesurType">
    <annotation>
      <documentation>Grünzäsur (Flächen- und Liniendarstellung) als Ziel oder Grundsatz der Raumordnung.</documentation>
    </annotation>
  </element>
  <complexType name="RP_RLP_GruenzaesurType">
    <complexContent>
      <extension base="xplan:RP_GruenzugGruenzaesurType">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <element name="RP_RLP_Schutzgebiet" substitutionGroup="xplan:RP_NaturschutzrechtlichesSchutzgebiet" type="xplan:RP_RLP_SchutzgebietType">
    <annotation>
      <documentation>Naturschutzrechtliche Schutzgebiete</documentation>
    </annotation>
  </element>
  <complexType name="RP_RLP_SchutzgebietType">
    <complexContent>
      <extension base="xplan:RP_NaturschutzrechtlichesSchutzgebietType">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <element name="RP_RLP_SonstigeFreiflaeche" substitutionGroup="xplan:RP_GenerischesObjekt" type="xplan:RP_RLP_SonstigeFreiflaecheType">
    <annotation>
      <documentation>Sonstige Freifläche Rheinland-Pfalz (Bestand)</documentation>
    </annotation>
  </element>
  <complexType name="RP_RLP_SonstigeFreiflaecheType">
    <complexContent>
      <extension base="xplan:RP_GenerischesObjektType">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <element name="RP_RLP_Gruenzug" substitutionGroup="xplan:RP_GruenzugGruenzaesur" type="xplan:RP_RLP_GruenzugType">
    <annotation>
      <documentation>Regionaler Grünzug.</documentation>
    </annotation>
  </element>
  <complexType name="RP_RLP_GruenzugType">
    <complexContent>
      <extension base="xplan:RP_GruenzugGruenzaesurType">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <element name="RP_RLP_Landwirtschaft" substitutionGroup="xplan:RP_Landwirtschaft" type="xplan:RP_RLP_LandwirtschaftType">
    <annotation>
      <documentation>Vorrang- und Vorbehaltsgebiete für Landwirtschaft. Die Bestandsinformation "Sonderkultur Weinbau" muss mit "rechtsstand = Bestehend (2000)" und "kultur = SonderkulturWeinbau (1000)" abgebildet werden.</documentation>
    </annotation>
  </element>
  <complexType name="RP_RLP_LandwirtschaftType">
    <complexContent>
      <extension base="xplan:RP_LandwirtschaftType">
        <sequence>
          <element minOccurs="0" name="kultur" type="xplan:RP_RLP_SonderkulturTypenType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <element name="RP_RLP_Windenergienutzung" substitutionGroup="xplan:RP_Windenergienutzung" type="xplan:RP_RLP_WindenergienutzungType">
    <annotation>
      <documentation>Vorrang- und Vorbehaltsgebiete für die Windenergienutzung. Das Attribut "typ" ist nur für Pläne nach LEP III relevant.</documentation>
    </annotation>
  </element>
  <complexType name="RP_RLP_WindenergienutzungType">
    <complexContent>
      <extension base="xplan:RP_WindenergienutzungType">
        <sequence>
          <element minOccurs="0" name="typ" type="xplan:RP_RLP_WindenergienutzungTypenType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <element name="RP_RLP_Welterbestaette" substitutionGroup="xplan:RP_SonstigerFreiraumstruktur" type="xplan:RP_RLP_WelterbestaetteType">
    <annotation>
      <documentation>Welterbestätte (Flächen- und Liniendarstellung).</documentation>
    </annotation>
  </element>
  <complexType name="RP_RLP_WelterbestaetteType">
    <complexContent>
      <extension base="xplan:RP_SonstigerFreiraumstrukturType">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <element name="RP_RLP_ZentralerOrtBesondFunktion" substitutionGroup="xplan:RP_ZentralerOrt" type="xplan:RP_RLP_ZentralerOrtBesondFunktionType">
    <annotation>
      <documentation>Zentraler Ort im Regionalplan RLP</documentation>
    </annotation>
  </element>
  <complexType name="RP_RLP_ZentralerOrtBesondFunktionType">
    <complexContent>
      <extension base="xplan:RP_ZentralerOrtType">
        <sequence>
          <element minOccurs="0" name="netzTyp" type="xplan:RP_RLP_SiedlungsNetzTypenType">
            <annotation>
              <documentation>Unterscheidung nach "Grundnetz" und "Ergänzungsnetz". Anmerkung: Diese Unterscheidung wird im LEP IV nicht mehr vorgenommen.</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="gemeindeFunktion" type="xplan:RP_GemeindefunktionenType">
            <annotation>
              <documentation>Besondere Gemeindefunktion.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="kooperation" type="xplan:RP_RLP_KooperationsTypenType">
            <annotation>
              <documentation>Charakterisierung eines zentralen Ortes als "Kooperierendes Zentrum" (neu im LEP 4). </documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <simpleType name="RP_RLP_VorbHochwasserschutzTypenType">
    <annotation>
      <documentation>Kategorisierung von Hochwasserschutz-Einrichtungen.</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="1000"/>
      <enumeration value="2000"/>
    </restriction>
  </simpleType>
  <element name="RP_RLP_Laermschutzzone" substitutionGroup="xplan:RP_Laermschutzbereich" type="xplan:RP_RLP_LaermschutzzoneType">
    <annotation>
      <documentation>Lärmschutzzone</documentation>
    </annotation>
  </element>
  <complexType name="RP_RLP_LaermschutzzoneType">
    <complexContent>
      <extension base="xplan:RP_LaermschutzbereichType">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <element name="RP_RLP_Wasserschutz" substitutionGroup="xplan:RP_Wasserschutz" type="xplan:RP_RLP_WasserschutzType">
    <annotation>
      <documentation>Vorrang- und Vorbehaltsgebiete für Grund- und Oberflächenwasserschutz, Talsperren.</documentation>
    </annotation>
  </element>
  <complexType name="RP_RLP_WasserschutzType">
    <complexContent>
      <extension base="xplan:RP_WasserschutzType">
        <sequence>
          <element name="typ" type="xplan:RP_RLP_WasserschutzTypenType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <element name="RP_RLP_Verkehr" substitutionGroup="xplan:RP_Verkehr" type="xplan:RP_RLP_VerkehrType">
    <annotation>
      <documentation>Verkehrs-Infrastruktur.</documentation>
    </annotation>
  </element>
  <complexType name="RP_RLP_VerkehrType">
    <complexContent>
      <extension base="xplan:RP_VerkehrType">
        <sequence>
          <element minOccurs="0" name="verbindungsTyp" type="xplan:RP_RLP_VerkehrsVerbindungsTypenType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <simpleType name="RP_RLP_BiotopverbundTypenType">
    <annotation>
      <documentation>Kategorisierung von Biotopverbünden.</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="1000"/>
      <enumeration value="2000"/>
    </restriction>
  </simpleType>
  <simpleType name="RP_RLP_SonderkulturTypenType">
    <annotation>
      <documentation>Katerorisierung landwirtschaftlicher Sondeerkulturen in Rheinland-Pfalz.</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="1000"/>
    </restriction>
  </simpleType>
  <simpleType name="RP_RLP_WasserschutzTypenType">
    <annotation>
      <documentation>Kategorisierung im Bereich Wasserschutz</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="1000"/>
      <enumeration value="2000"/>
      <enumeration value="3000"/>
    </restriction>
  </simpleType>
  <simpleType name="RP_RLP_SiedlungsNetzTypenType">
    <annotation>
      <documentation>Kategorisierung von Siedlungsnetz-Typen (entfällt im LEP 4).</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="1000"/>
      <enumeration value="2000"/>
    </restriction>
  </simpleType>
  <simpleType name="RP_RLP_KooperationsTypenType">
    <annotation>
      <documentation>Kategorisierung  verschiedener Kooperations-Formen.</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="1000"/>
      <enumeration value="2000"/>
    </restriction>
  </simpleType>
  <simpleType name="RP_RLP_RohstoffLageType">
    <annotation>
      <documentation>Kategorisierung von obertägigen und untertägigen Abbaustätten.</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="1000"/>
      <enumeration value="2000"/>
    </restriction>
  </simpleType>
  <element name="RP_RLP_Klimaschutz" substitutionGroup="xplan:RP_Klimaschutz" type="xplan:RP_RLP_KlimaschutzType">
    <annotation>
      <documentation>Vorrang- und Vorbehaltsgebiete mit besonderer Klimafunktion.</documentation>
    </annotation>
  </element>
  <complexType name="RP_RLP_KlimaschutzType">
    <complexContent>
      <extension base="xplan:RP_KlimaschutzType">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <element name="RP_RLP_Siedlungsstruktur" substitutionGroup="xplan:RP_GemeindeFunktionSiedlungsentwicklung" type="xplan:RP_RLP_SiedlungsstrukturType">
    <annotation>
      <documentation>Besondere Siedlungsstruktur</documentation>
    </annotation>
  </element>
  <complexType name="RP_RLP_SiedlungsstrukturType">
    <complexContent>
      <extension base="xplan:RP_GemeindeFunktionSiedlungsentwicklungType">
        <sequence>
          <element name="typ" type="xplan:RP_RLP_SiedlungsstrukturTypenType">
            <annotation>
              <documentation>Art der Siedlungsstruktur</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <element name="RP_RLP_ArtenBiotopschutz" substitutionGroup="xplan:RP_SonstigerFreiraumstruktur" type="xplan:RP_RLP_ArtenBiotopschutzType">
    <annotation>
      <documentation>Landesweite bzw. regionale Biotopverbünde.</documentation>
    </annotation>
  </element>
  <complexType name="RP_RLP_ArtenBiotopschutzType">
    <complexContent>
      <extension base="xplan:RP_SonstigerFreiraumstrukturType">
        <sequence>
          <element minOccurs="0" name="typ" type="xplan:RP_RLP_BiotopverbundTypenType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <element name="RP_RLP_Rohstoffabbau" substitutionGroup="xplan:RP_Rohstoffsicherung" type="xplan:RP_RLP_RohstoffabbauType">
    <annotation>
      <documentation>Vorrang- und Vorbehaltsgebiete zum Rohstoffabbau.  Das Arrtibut "genehmigt" ist nur für Pläne nach dem LEP III relevant.</documentation>
    </annotation>
  </element>
  <complexType name="RP_RLP_RohstoffabbauType">
    <complexContent>
      <extension base="xplan:RP_RohstoffsicherungType">
        <sequence>
          <element minOccurs="0" name="lage" type="xplan:RP_RLP_RohstoffLageType"/>
          <element minOccurs="0" name="genehmigt" type="boolean"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <element name="RP_RLP_SonstigeWaldflaeche" substitutionGroup="xplan:RP_GenerischesObjekt" type="xplan:RP_RLP_SonstigeWaldflaecheType">
    <annotation>
      <documentation>Sonstige Waldfläche Rheinland-Pfalz (Bestand).</documentation>
    </annotation>
  </element>
  <complexType name="RP_RLP_SonstigeWaldflaecheType">
    <complexContent>
      <extension base="xplan:RP_GenerischesObjektType">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <simpleType name="RP_RLP_VerkehrsVerbindungsTypenType">
    <annotation>
      <documentation>Kategorisierung von Verbindungen im Verkehrsnetz</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="1000"/>
      <enumeration value="2000"/>
      <enumeration value="3000"/>
      <enumeration value="4000"/>
      <enumeration value="5000"/>
    </restriction>
  </simpleType>
</schema>
