deegree-core/deegree-core-base/src/test/resources/org/deegree/gml/inspire/schema/geophysicsCore/BaseTypes.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:base="http://inspire.ec.europa.eu/schemas/base/3.3" xmlns:gmd="http://www.isotc211.org/2005/gmd" xmlns:gml="http://www.opengis.net/gml/3.2" targetNamespace="http://inspire.ec.europa.eu/schemas/base/3.3" elementFormDefault="qualified" version="3.3.1">
	<!-- Bugfix version 3.3.1
		 - The <SpatialDataSet>, <SpatialDataSetType> and <SpatialDataSetPropertyType> elements are deprecated (in accordance with D2.7 v3.3 Recommendation 11 stating that wfs:FeatureCollection should be used instead)
		 - The (optional) <member> element, which was accidentally removed in v3.3(.0), is re-included inside the (deprecated) <SpatialDataSet> element. -->
	<annotation>
		<documentation>-- Definition --
schema for basic types used by multiple themes</documentation>
	</annotation>
	<import namespace="http://www.isotc211.org/2005/gmd" schemaLocation="http://schemas.opengis.net/iso/19139/20070417/gmd.xsd"/>
	<import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
	<!--XML Schema document created by ShapeChange-->
	<simpleType name="VerticalPositionValueType">
		<annotation>
			<documentation>-- Definition --
The relative vertical position of a spatial object.</documentation>
		</annotation>
		<restriction base="string">
			<enumeration value="onGroundSurface">
				<annotation>
					<documentation>-- Definition --
The spatial object is on ground level.</documentation>
				</annotation>
			</enumeration>
			<enumeration value="suspendedOrElevated">
				<annotation>
					<documentation>-- Definition --
The spatial object is suspended or elevated.</documentation>
				</annotation>
			</enumeration>
			<enumeration value="underground">
				<annotation>
					<documentation>-- Definition --
The spatial object is underground.</documentation>
				</annotation>
			</enumeration>
		</restriction>
	</simpleType>
	<!-- WARNING This element has been deprecated in v3.3.1 of this schema (in accordance with D2.7 v3.3 Recommendation 11 stating that wfs:FeatureCollection should be used instead of base:SpatialDataSet). -->
	<element name="SpatialDataSet" type="base:SpatialDataSetType" substitutionGroup="gml:AbstractFeature">
		<annotation>
			<documentation>-- Definition --
Identifiable collection of spatial data.

-- Description --
WARNING This element has been deprecated in v3.3.1 of this schema (in accordance with D2.7 v3.3 Recommendation 11 stating that wfs:FeatureCollection should be used instead of base:SpatialDataSet).

NOTE The type SpatialDataSet is offered as a pre-defined type for spatial data sets. The scope of this type is packaging pre-defined data sets for the non-direct access download service. It may be reused in thematic application schemas, but if it does not fit an application-schema-specific data set object should be modelled. This type may have the same name and definition like this type, but may have a different set of properties.

This type specifies three properties: an external object identifier, a container for metadata (may be void), and an association to zero or more spatial objects.</documentation>
		</annotation>
	</element>
	<!-- WARNING This type has been deprecated in v3.3.1 of this schema (in accordance with D2.7 v3.3 Recommendation 11 stating that wfs:FeatureCollection should be used instead of base:SpatialDataSet). -->
	<complexType name="SpatialDataSetType">
		<complexContent>
			<extension base="gml:AbstractFeatureType">
				<sequence>
					<element name="identifier" type="base:IdentifierPropertyType">
						<annotation>
							<documentation>-- Definition --
Identifier of the spatial data set.</documentation>
						</annotation>
					</element>
					<element name="metadata" nillable="true">
						<annotation>
							<documentation>-- Definition --
Metadata of the spatial data set.</documentation>
						</annotation>
						<complexType>
							<complexContent>
								<extension base="gml:AbstractMetadataPropertyType">
									<sequence minOccurs="0">
										<element ref="gmd:MD_Metadata"/>
									</sequence>
									<attributeGroup ref="gml:AssociationAttributeGroup"/>
								</extension>
							</complexContent>
						</complexType>
					</element>
					<element name="member" type="gml:FeaturePropertyType" minOccurs="0" maxOccurs="unbounded">
						<annotation>
							<documentation>The spatial objects that are members of the spatial data set</documentation>
							<appinfo>
								<targetElement xmlns="http://www.opengis.net/gml/3.2">gml:AbstractFeature</targetElement>
							</appinfo>
						</annotation>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<!-- WARNING This type has been deprecated in v3.3.1 of this schema (in accordance with D2.7 v3.3 Recommendation 11 stating that wfs:FeatureCollection should be used instead of base:SpatialDataSet). -->
	<complexType name="SpatialDataSetPropertyType">
		<sequence minOccurs="0">
			<element ref="base:SpatialDataSet"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
	<element name="Identifier" type="base:IdentifierType" substitutionGroup="gml:AbstractObject">
		<annotation>
			<documentation>-- Definition --
External unique object identifier published by the responsible body, which may be used by external applications to reference the spatial object.

-- Description --
NOTE1 External object identifiers are distinct from thematic object identifiers.

NOTE 2 The voidable version identifier attribute is not part of the unique identifier of a spatial object and may be used to distinguish two versions of the same spatial object.

NOTE 3 The unique identifier will not change during the life-time of a spatial object.</documentation>
		</annotation>
	</element>
	<complexType name="IdentifierType">
		<sequence>
			<element name="localId" type="string">
				<annotation>
					<documentation>-- Definition --
A local identifier, assigned by the data provider. The local identifier is unique within the namespace, that is no other spatial object carries the same unique identifier.

-- Description --
NOTE It is the responsibility of the data provider to guarantee uniqueness of the local identifier within the namespace.</documentation>
				</annotation>
			</element>
			<element name="namespace" type="string">
				<annotation>
					<documentation>-- Definition --
Namespace uniquely identifying the data source of the spatial object.

-- Description --
NOTE The namespace value will be owned by the data provider of the spatial object and will be registered in the INSPIRE External Object Identifier Namespaces Register.</documentation>
				</annotation>
			</element>
			<element name="versionId" nillable="true" minOccurs="0">
				<annotation>
					<documentation>-- Definition --
The identifier of the particular version of the spatial object, with a maximum length of 25 characters. If the specification of a spatial object type with an external object identifier includes life-cycle information, the version identifier is used to distinguish between the different versions of a spatial object. Within the set of all versions of a spatial object, the version identifier is unique. 

-- Description --
NOTE The maximum length has been selected to allow for time stamps based on ISO 8601, for example, "2007-02-12T12:12:12+05:30" as the version identifier.

NOTE 2 The property is void, if the spatial data set does not distinguish between different versions of the spatial object. It is missing, if the spatial object type does not support any life-cycle information.</documentation>
				</annotation>
				<complexType>
					<simpleContent>
						<extension base="string">
							<attribute name="nilReason" type="gml:NilReasonType"/>
						</extension>
					</simpleContent>
				</complexType>
			</element>
		</sequence>
	</complexType>
	<complexType name="IdentifierPropertyType">
		<sequence>
			<element ref="base:Identifier"/>
		</sequence>
	</complexType>
</schema>
