deegree-core/deegree-core-base/src/test/resources/org/deegree/gml/inspire/schema/geophysicsCore/CadastralParcels.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:au="http://inspire.ec.europa.eu/schemas/au/4.0" xmlns:base="http://inspire.ec.europa.eu/schemas/base/3.3" xmlns:cp="http://inspire.ec.europa.eu/schemas/cp/4.0" xmlns:gmd="http://www.isotc211.org/2005/gmd" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:gn="http://inspire.ec.europa.eu/schemas/gn/4.0" elementFormDefault="qualified" targetNamespace="http://inspire.ec.europa.eu/schemas/cp/4.0" version="4.0">
  <annotation>
    <documentation>-- Definition --
The application schema CadastralParcels contains the feature types CadastralParcel, CadastralBoundary and CadastralIndexSet.</documentation>
  </annotation>
  <import namespace="http://inspire.ec.europa.eu/schemas/au/4.0" schemaLocation="AdministrativeUnits.xsd"/>
  <import namespace="http://inspire.ec.europa.eu/schemas/base/3.3" schemaLocation="BaseTypes.xsd"/>
  <import namespace="http://inspire.ec.europa.eu/schemas/gn/4.0" schemaLocation="GeographicalNames.xsd"/>
  <import namespace="http://www.isotc211.org/2005/gmd" schemaLocation="http://schemas.opengis.net/iso/19139/20070417/gmd.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/ml.xsd"/>
  <!--XML Schema document created by ShapeChange-->
  <element name="BasicPropertyUnit" substitutionGroup="gml:AbstractFeature" type="cp:BasicPropertyUnitType">
    <annotation>
      <documentation>-- Definition --
The basic unit of ownership that is recorded in the land books, land registers or equivalent. It is defined by unique ownership and homogeneous real property rights, and may consist of one or more adjacent or geographically separate parcels.

-- Description --
SOURCE Adapted from UN ECE 2004.

NOTE 1 In the INSPIRE context, basic property units are to be made available by member states where unique cadastral references are given only for basic property units and not for parcels.

NOTE 2 In many (but not all) countries, the area of the basic property unit corresponds to the cadastral parcel itself.

NOTE 3 Some countries, such as Finland, may also register officially basic property units without any area. These basic property units are considered out of the INSPIRE scope.

NOTE 4 Some countries, such as Norway, may have parcels which belong to several basic property units.</documentation>
    </annotation>
  </element>
  <complexType name="BasicPropertyUnitType">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence>
          <element name="inspireId" type="base:IdentifierPropertyType">
            <annotation>
              <documentation>-- Definition --
External object identifier of the spatial object.

-- Description --
NOTE An external object identifier is a unique object identifier published by the responsible body, which may be used by external applications to reference the spatial object. The identifier is an identifier of the spatial object, not an identifier of the real-world phenomenon.</documentation>
            </annotation>
          </element>
          <element name="nationalCadastralReference" type="string">
            <annotation>
              <documentation>-- Definition --
Thematic identifier at national level, generally the full national code of the basic property unit. Must ensure the link to the national cadastral register or equivalent.

-- Description --
The national cadastral reference can be used also in further queries in national services.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="areaValue" nillable="true">
            <annotation>
              <documentation>-- Definition --
Registered area value giving quantification of the area projected on the horizontal plane of the cadastral parcels composing the basic property unit.</documentation>
            </annotation>
            <complexType>
              <simpleContent>
                <extension base="gml:AreaType">
                  <attribute name="nilReason" type="gml:NilReasonType"/>
                </extension>
              </simpleContent>
            </complexType>
          </element>
          <element name="validFrom" nillable="true">
            <annotation>
              <documentation>-- Definition --
Official date and time the basic property unit was/will be legally established.

-- Description --
NOTE This is the date and time the national cadastral reference can be used in legal acts.</documentation>
            </annotation>
            <complexType>
              <simpleContent>
                <extension base="dateTime">
                  <attribute name="nilReason" type="gml:NilReasonType"/>
                </extension>
              </simpleContent>
            </complexType>
          </element>
          <element minOccurs="0" name="validTo" nillable="true">
            <annotation>
              <documentation>-- Definition --
Date and time at which the basic property unit legally ceased/will cease to be used.

-- Description --
NOTE This is the date and time the national cadastral reference can no longer be used in legal acts.</documentation>
            </annotation>
            <complexType>
              <simpleContent>
                <extension base="dateTime">
                  <attribute name="nilReason" type="gml:NilReasonType"/>
                </extension>
              </simpleContent>
            </complexType>
          </element>
          <element name="beginLifespanVersion" nillable="true">
            <annotation>
              <documentation>-- Definition --
Date and time at which this version of the spatial object was inserted or changed in the spatial data set.</documentation>
            </annotation>
            <complexType>
              <simpleContent>
                <extension base="dateTime">
                  <attribute name="nilReason" type="gml:NilReasonType"/>
                </extension>
              </simpleContent>
            </complexType>
          </element>
          <element minOccurs="0" name="endLifespanVersion" nillable="true">
            <annotation>
              <documentation>-- Definition --
Date and time at which this version of the spatial object was superseded or retired in the spatial data set.</documentation>
            </annotation>
            <complexType>
              <simpleContent>
                <extension base="dateTime">
                  <attribute name="nilReason" type="gml:NilReasonType"/>
                </extension>
              </simpleContent>
            </complexType>
          </element>
          <element name="administrativeUnit" nillable="true" type="gml:ReferenceType">
            <annotation>
              <documentation>-- Definition --
The administrative unit of lowest administrative level containing this basic property unit.</documentation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">au:AdministrativeUnit</targetElement>
              </appinfo>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="BasicPropertyUnitPropertyType">
    <sequence minOccurs="0">
      <element ref="cp:BasicPropertyUnit"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="CadastralBoundary" substitutionGroup="gml:AbstractFeature" type="cp:CadastralBoundaryType">
    <annotation>
      <documentation>-- Definition --
Part of the outline of a cadastral parcel. One cadastral boundary may be shared by two neighbouring cadastral parcels.

-- Description --
NOTE In the INSPIRE context, cadastral boundaries are to be made available by member states where absolute positional accuracy information is recorded for the cadastral boundary (attribute estimated accuracy).</documentation>
    </annotation>
  </element>
  <complexType name="CadastralBoundaryType">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence>
          <element name="beginLifespanVersion" nillable="true">
            <annotation>
              <documentation>-- Definition --
Date and time at which this version of the spatial object was inserted or changed in the spatial data set.</documentation>
            </annotation>
            <complexType>
              <simpleContent>
                <extension base="dateTime">
                  <attribute name="nilReason" type="gml:NilReasonType"/>
                </extension>
              </simpleContent>
            </complexType>
          </element>
          <element minOccurs="0" name="endLifespanVersion" nillable="true">
            <annotation>
              <documentation>-- Definition --
Date and time at which this version of the spatial object was superseded or retired in the spatial data set.</documentation>
            </annotation>
            <complexType>
              <simpleContent>
                <extension base="dateTime">
                  <attribute name="nilReason" type="gml:NilReasonType"/>
                </extension>
              </simpleContent>
            </complexType>
          </element>
          <element minOccurs="0" name="estimatedAccuracy" nillable="true">
            <annotation>
              <documentation>-- Definition --
Estimated absolute positional accuracy of the cadastral boundary in the used INSPIRE coordinate reference system. Absolute positional accuracy is the mean value of the positional uncertainties for a set of positions, where the positional uncertainties are the distance between a measured position and what is considered as the corresponding true position. 

-- Description --
NOTE This mean value may come from quality measures on a homogeneous population of cadastral boundaries or from an estimation based on the knowledge of the production processes and of their accuracy.</documentation>
            </annotation>
            <complexType>
              <simpleContent>
                <extension base="gml:LengthType">
                  <attribute name="nilReason" type="gml:NilReasonType"/>
                </extension>
              </simpleContent>
            </complexType>
          </element>
          <element name="geometry" type="gml:CurvePropertyType">
            <annotation>
              <documentation>-- Definition --
Geometry of the cadastral boundary.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="inspireId" type="base:IdentifierPropertyType">
            <annotation>
              <documentation>-- Definition --
External object identifier of the spatial object.

-- Description --
NOTE An external object identifier is a unique object identifier published by the responsible body, which may be used by external applications to reference the spatial object. The identifier is an identifier of the spatial object, not an identifier of the real-world phenomenon.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="validFrom" nillable="true">
            <annotation>
              <documentation>-- Definition --
Official date and time the cadastral boundary was/will be legally established.</documentation>
            </annotation>
            <complexType>
              <simpleContent>
                <extension base="dateTime">
                  <attribute name="nilReason" type="gml:NilReasonType"/>
                </extension>
              </simpleContent>
            </complexType>
          </element>
          <element minOccurs="0" name="validTo" nillable="true">
            <annotation>
              <documentation>-- Definition --
Date and time at which the cadastral boundary legally ceased/will cease to be used.</documentation>
            </annotation>
            <complexType>
              <simpleContent>
                <extension base="dateTime">
                  <attribute name="nilReason" type="gml:NilReasonType"/>
                </extension>
              </simpleContent>
            </complexType>
          </element>
          <element maxOccurs="2" name="parcel" nillable="true" type="gml:ReferenceType">
            <annotation>
              <documentation>-- Definition --
The cadastral parcel(s) outlined by this cadastral boundary. A cadastral boundary may outline one or two cadastral parcels.</documentation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">cp:CadastralParcel</targetElement>
              </appinfo>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="CadastralBoundaryPropertyType">
    <sequence minOccurs="0">
      <element ref="cp:CadastralBoundary"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="CadastralParcel" substitutionGroup="gml:AbstractFeature" type="cp:CadastralParcelType">
    <annotation>
      <documentation>-- Definition --
Areas defined by cadastral registers or equivalent.

-- Description --
SOURCE [INSPIRE Directive:2007].

NOTE As much as possible, in the INSPIRE context, cadastral parcels should be forming a partition of national territory. Cadastral parcel should be considered as a single area of Earth surface (land and/or water), under homogeneous real property rights and unique ownership, real property rights and ownership being defined by national law (adapted from UN ECE 2004 and WG-CPI, 2006). By unique ownership is meant that the ownership is held by one or several joint owners for the whole parcel.</documentation>
    </annotation>
  </element>
  <complexType name="CadastralParcelType">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence>
          <element minOccurs="0" name="areaValue" nillable="true">
            <annotation>
              <documentation>-- Definition --
Registered area value giving quantification of the area projected on the horizontal plane of the cadastral parcel.</documentation>
            </annotation>
            <complexType>
              <simpleContent>
                <extension base="gml:AreaType">
                  <attribute name="nilReason" type="gml:NilReasonType"/>
                </extension>
              </simpleContent>
            </complexType>
          </element>
          <element name="beginLifespanVersion" nillable="true">
            <annotation>
              <documentation>-- Definition --
Date and time at which this version of the spatial object was inserted or changed in the spatial data set.</documentation>
            </annotation>
            <complexType>
              <simpleContent>
                <extension base="dateTime">
                  <attribute name="nilReason" type="gml:NilReasonType"/>
                </extension>
              </simpleContent>
            </complexType>
          </element>
          <element minOccurs="0" name="endLifespanVersion" nillable="true">
            <annotation>
              <documentation>-- Definition --
Date and time at which this version of the spatial object was superseded or retired in the spatial data set.</documentation>
            </annotation>
            <complexType>
              <simpleContent>
                <extension base="dateTime">
                  <attribute name="nilReason" type="gml:NilReasonType"/>
                </extension>
              </simpleContent>
            </complexType>
          </element>
          <element name="geometry" type="gml:GeometryPropertyType">
            <annotation>
              <documentation>-- Definition --
Geometry of the cadastral parcel.

-- Description --
As much as possible, the geometry should be a single area.</documentation>
            </annotation>
          </element>
          <element name="inspireId" type="base:IdentifierPropertyType">
            <annotation>
              <documentation>-- Definition --
External object identifier of the spatial object.

-- Description --
NOTE An external object identifier is a unique object identifier published by the responsible body, which may be used by external applications to reference the spatial object. The identifier is an identifier of the spatial object, not an identifier of the real-world phenomenon.</documentation>
            </annotation>
          </element>
          <element name="label" type="string">
            <annotation>
              <documentation>-- Definition --
Text commonly used to display the cadastral parcel identification.

-- Description --
NOTE 1 The label is usually the last part of the national cadastral reference.

NOTE 2 The label can be used for label in portrayal.</documentation>
            </annotation>
          </element>
          <element name="nationalCadastralReference" type="string">
            <annotation>
              <documentation>-- Definition --
Thematic identifier at national level, generally the full national code of the cadastral parcel. Must ensure the link to the national cadastral register or equivalent.

-- Description --
The national cadastral reference can be used also in further queries in national services.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="referencePoint" nillable="true" type="gml:PointPropertyType">
            <annotation>
              <documentation>-- Definition --
A point within the cadastral parcel.

-- Description --
EXAMPLE The centroid of the cadastral parcel geometry.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="validFrom" nillable="true">
            <annotation>
              <documentation>-- Definition --
Official date and time the cadastral parcel was/will be legally established.

-- Description --
NOTE This is the date and time the national cadastral reference can be used in legal acts.</documentation>
            </annotation>
            <complexType>
              <simpleContent>
                <extension base="dateTime">
                  <attribute name="nilReason" type="gml:NilReasonType"/>
                </extension>
              </simpleContent>
            </complexType>
          </element>
          <element minOccurs="0" name="validTo" nillable="true">
            <annotation>
              <documentation>-- Definition --
Date and time at which the cadastral parcel legally ceased/will cease to be used.

-- Description --
NOTE This is the date and time the national cadastral reference can no longer be used in legal acts.</documentation>
            </annotation>
            <complexType>
              <simpleContent>
                <extension base="dateTime">
                  <attribute name="nilReason" type="gml:NilReasonType"/>
                </extension>
              </simpleContent>
            </complexType>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="basicPropertyUnit" nillable="true" type="gml:ReferenceType">
            <annotation>
              <documentation>-- Definition --
The basic property unit(s) containing this cadastral parcel.</documentation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">cp:BasicPropertyUnit</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="administrativeUnit" nillable="true" type="gml:ReferenceType">
            <annotation>
              <documentation>-- Definition --
The administrative unit of lowest administrative level containing this cadastral parcel.</documentation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">au:AdministrativeUnit</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="zoning" nillable="true" type="gml:ReferenceType">
            <annotation>
              <documentation>-- Definition --
The cadastral zoning of lowest level containing this cadastral parcel.</documentation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">cp:CadastralZoning</targetElement>
              </appinfo>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="CadastralParcelPropertyType">
    <sequence minOccurs="0">
      <element ref="cp:CadastralParcel"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="CadastralZoning" substitutionGroup="gml:AbstractFeature" type="cp:CadastralZoningType">
    <annotation>
      <documentation>-- Definition --
Intermediary areas used in order to divide national territory into cadastral parcels.

-- Description --
NOTE 1 In the INSPIRE context, cadastral zonings are to be used to carry metadata information and to facilitate portrayal and search of data.

NOTE 2 Cadastral zonings have generally been defined when cadastral maps were created for the first time.

EXAMPLE Municipality, section, parish, district, block.</documentation>
    </annotation>
  </element>
  <complexType name="CadastralZoningType">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence>
          <element name="beginLifespanVersion" nillable="true">
            <annotation>
              <documentation>-- Definition --
Date and time at which this version of the spatial object was inserted or changed in the spatial data set.</documentation>
            </annotation>
            <complexType>
              <simpleContent>
                <extension base="dateTime">
                  <attribute name="nilReason" type="gml:NilReasonType"/>
                </extension>
              </simpleContent>
            </complexType>
          </element>
          <element minOccurs="0" name="endLifespanVersion" nillable="true">
            <annotation>
              <documentation>-- Definition --
Date and time at which this version of the spatial object was superseded or retired in the spatial data set.</documentation>
            </annotation>
            <complexType>
              <simpleContent>
                <extension base="dateTime">
                  <attribute name="nilReason" type="gml:NilReasonType"/>
                </extension>
              </simpleContent>
            </complexType>
          </element>
          <element minOccurs="0" name="estimatedAccuracy" nillable="true">
            <annotation>
              <documentation>-- Definition --
The estimated absolute positional accuracy of cadastral parcels within the cadastral zoning in the used INSPIRE coordinate reference system. Absolute positional accuracy is the mean value of the positional uncertainties for a set of positions, where the positional uncertainties are the distance between a measured position and what is considered as the corresponding true position.

-- Description --
NOTE This mean value may come from quality measures on a homogeneous population of cadastral parcels or from an estimation based on the knowledge of the production processes and of their accuracy.</documentation>
            </annotation>
            <complexType>
              <simpleContent>
                <extension base="gml:LengthType">
                  <attribute name="nilReason" type="gml:NilReasonType"/>
                </extension>
              </simpleContent>
            </complexType>
          </element>
          <element name="geometry" type="gml:MultiSurfacePropertyType">
            <annotation>
              <documentation>-- Definition --
Geometry of the cadastral zoning.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="inspireId" type="base:IdentifierPropertyType">
            <annotation>
              <documentation>-- Definition --
External object identifier of spatial object.

-- Description --
NOTE 
An external object identifier is a unique object identifier published by the responsible body, which may be used by external applications to reference the spatial object. The identifier is an identifier of the spatial object, not an identifier of the real-world phenomenon.</documentation>
            </annotation>
          </element>
          <element name="label" type="string">
            <annotation>
              <documentation>-- Definition --
Text commonly used to display the cadastral zoning identification.

-- Description --
NOTE 1 The label is usually the last part of the national cadastral zoning reference or that reference itself or the name.

NOTE 2 The label can be used for label in portrayal.</documentation>
            </annotation>
          </element>
          <element name="level" nillable="true" type="gml:ReferenceType">
            <annotation>
              <documentation>-- Definition --
Level of the cadastral zoning in the national cadastral hierarchy.</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" name="levelName" nillable="true" type="gmd:LocalisedCharacterString_PropertyType">
            <annotation>
              <documentation>-- Definition --
Name of the level of the cadastral zoning in the national cadastral hierarchy, in at least one official language of the European Union. 

-- Description --
EXAMPLE  For Spain, level name might be supplied as "municipio" (in Spanish) and as "municipality" (in English).</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="name" nillable="true">
            <annotation>
              <documentation>-- Definition --
Name of the cadastral zoning.

-- Description --
NOTE 1 Cadastral zonings which are also administrative units have generally a name.

EXAMPLE Bordeaux, Copenhagen.

NOTE 2 The language of the name should be filled in most cases, except if the data producer does not know in which language the names are.</documentation>
            </annotation>
            <complexType>
              <sequence>
                <element ref="gn:GeographicalName"/>
              </sequence>
              <attribute name="nilReason" type="gml:NilReasonType"/>
            </complexType>
          </element>
          <element name="nationalCadastalZoningReference" type="string">
            <annotation>
              <documentation>-- Definition --
Thematic identifier at national level, generally the full national code of the cadastral zoning.

-- Description --
EXAMPLE 03260000AB (France), 30133 (Austria), APD00F (Netherlands).</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="originalMapScaleDenominator" nillable="true">
            <annotation>
              <documentation>-- Definition --
The denominator in the scale of the original paper map (if any) to whose extent the cadastral zoning corresponds.

-- Description --
EXAMPLE 2000 means that original cadastral map was designed at scale 1: 2000.</documentation>
            </annotation>
            <complexType>
              <simpleContent>
                <extension base="integer">
                  <attribute name="nilReason" type="gml:NilReasonType"/>
                </extension>
              </simpleContent>
            </complexType>
          </element>
          <element minOccurs="0" name="referencePoint" nillable="true" type="gml:PointPropertyType">
            <annotation>
              <documentation>-- Definition --
A point within the cadastral zoning.

-- Description --
EXAMPLE The centroid of the cadastral parcel geometry.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="validFrom" nillable="true">
            <annotation>
              <documentation>-- Definition --
Official date and time the cadastral zoning was/will be legally established.</documentation>
            </annotation>
            <complexType>
              <simpleContent>
                <extension base="dateTime">
                  <attribute name="nilReason" type="gml:NilReasonType"/>
                </extension>
              </simpleContent>
            </complexType>
          </element>
          <element minOccurs="0" name="validTo" nillable="true">
            <annotation>
              <documentation>-- Definition --
Date and time at which the cadastral zoning legally ceased/will cease to be used.</documentation>
            </annotation>
            <complexType>
              <simpleContent>
                <extension base="dateTime">
                  <attribute name="nilReason" type="gml:NilReasonType"/>
                </extension>
              </simpleContent>
            </complexType>
          </element>
          <element minOccurs="0" name="upperLevelUnit" nillable="true" type="gml:ReferenceType">
            <annotation>
              <documentation>-- Definition --
The next upper level cadastral zoning containing this cadastral zoning.</documentation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">cp:CadastralZoning</targetElement>
              </appinfo>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="CadastralZoningPropertyType">
    <sequence minOccurs="0">
      <element ref="cp:CadastralZoning"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
</schema>
