deegree-core/deegree-core-base/src/test/resources/org/deegree/gml/inspire/schema/geophysicsCore/GeographicalNames.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:base="http://inspire.ec.europa.eu/schemas/base/3.3" xmlns:gmd="http://www.isotc211.org/2005/gmd" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:gn="http://inspire.ec.europa.eu/schemas/gn/4.0" elementFormDefault="qualified" targetNamespace="http://inspire.ec.europa.eu/schemas/gn/4.0" version="4.0">
  <import namespace="http://inspire.ec.europa.eu/schemas/base/3.3" schemaLocation="BaseTypes.xsd"/>
  <import namespace="http://www.isotc211.org/2005/gmd" schemaLocation="http://schemas.opengis.net/iso/19139/20070417/gmd.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange-->
  <element name="GeographicalName" substitutionGroup="gml:AbstractObject" type="gn:GeographicalNameType">
    <annotation>
      <documentation>-- Definition --
Proper noun applied to a real world entity.</documentation>
    </annotation>
  </element>
  <complexType name="GeographicalNameType">
    <sequence>
      <element name="language" nillable="true">
        <annotation>
          <documentation>-- Definition --
Language of the name, given as a three letters code, in accordance with either ISO 639-3 or ISO 639-5.

-- Description --
NOTE 1More precisely, this definition refers to the language used by the community that uses the name.

NOTE 2 The code "mul" for "multilingual" should not be used in general. However it can be used in rare cases like official names composed of two names in different languages. For example, "Vitoria-Gasteiz" is such a multilingual official name in Spain.

NOTE 3 Even if this attribute is "voidable" for pragmatic reasons, it is of first importance in several use cases in the multi-language context of Europe.</documentation>
        </annotation>
        <complexType>
          <simpleContent>
            <extension base="string">
              <attribute name="nilReason" type="gml:NilReasonType"/>
            </extension>
          </simpleContent>
        </complexType>
      </element>
      <element name="nativeness" nillable="true" type="gml:ReferenceType">
        <annotation>
          <documentation>-- Definition --
Information enabling to acknowledge if the name is the one that is/was used in the area where the spatial object is situated at the instant when the name is/was in use.</documentation>
        </annotation>
      </element>
      <element name="nameStatus" nillable="true" type="gml:ReferenceType">
        <annotation>
          <documentation>-- Definition --
Qualitative information enabling to discern which credit should be given to the name with respect to its standardisation and/or its topicality.

-- Description --
NOTE The Geographical Names application schema does not explicitly make a preference between different names (e.g. official endonyms) of a specific real world entity. The necessary information for making the preference (e.g. the linguistic status of the administrative or geographic area in question), for a certain use case, must be obtained from other data or information sources. For example, the status of the language of the name may be known through queries on the geometries of named places against the geometry of administrative units recorded in a certain source with the language statuses information.</documentation>
        </annotation>
      </element>
      <element name="sourceOfName" nillable="true">
        <annotation>
          <documentation>-- Definition --
Original data source from which the geographical name is taken from and integrated in the data set providing/publishing it. For some named spatial objects it might refer again to the publishing data set if no other information is available.

-- Description --
EXAMPLES Gazetteer, geographical names data set.</documentation>
        </annotation>
        <complexType>
          <simpleContent>
            <extension base="string">
              <attribute name="nilReason" type="gml:NilReasonType"/>
            </extension>
          </simpleContent>
        </complexType>
      </element>
      <element name="pronunciation" nillable="true">
        <annotation>
          <documentation>-- Definition --
Proper, correct or standard (standard within the linguistic community concerned) pronunciation of the geographical name.

-- Description --
SOURCE Adapted from [UNGEGN Manual 2006].</documentation>
        </annotation>
        <complexType>
          <sequence>
            <element ref="gn:PronunciationOfName"/>
          </sequence>
          <attribute name="nilReason" type="gml:NilReasonType"/>
        </complexType>
      </element>
      <element maxOccurs="unbounded" name="spelling" type="gn:SpellingOfNamePropertyType">
        <annotation>
          <documentation>-- Definition --
A proper way of writing the geographical name.

-- Description --
NOTE 1 Different spellings should only be used for names rendered in different scripts. .

NOTE 2 While a particular GeographicalName should only have one spelling in a given script, providing different spellings in the same script should be done through the provision of different geographical names associated with the same named place.</documentation>
        </annotation>
      </element>
      <element minOccurs="0" name="grammaticalGender" nillable="true" type="gml:ReferenceType">
        <annotation>
          <documentation>-- Definition --
Class of nouns reflected in the behaviour of associated words.

-- Description --
NOTE the attribute has cardinality [0..1] and is voidable, which means that:
&lt;ul&gt;
	&lt;li&gt;in case the concept of grammatical gender has no sense for a given name (i.e. the attribute is not applicable), the attribute should not be provided.&lt;/li&gt;
	&lt;li&gt;in case the concept of grammatical gender has some sense for the name but is unknown, the attribute should be provided but &lt;i&gt;void&lt;/i&gt;.  &lt;/li&gt;
&lt;/ul&gt;</documentation>
        </annotation>
      </element>
      <element minOccurs="0" name="grammaticalNumber" nillable="true" type="gml:ReferenceType">
        <annotation>
          <documentation>-- Definition --
Grammatical category of nouns that expresses count distinctions.

-- Description --
NOTE the attribute has cardinality [0..1] and is voidable, which means that:
&lt;ul&gt;
	&lt;li&gt;in case the concept of grammatical number has no sense for a given name (i.e. the attribute is not applicable), the attribute should not be provided.&lt;/li&gt;
	&lt;li&gt;in case the concept of grammatical number has some sense for the name but is unknown, the attribute should be provided but &lt;i&gt;void&lt;/i&gt;.&lt;/li&gt;
&lt;/ul&gt;</documentation>
        </annotation>
      </element>
    </sequence>
  </complexType>
  <complexType name="GeographicalNamePropertyType">
    <sequence>
      <element ref="gn:GeographicalName"/>
    </sequence>
  </complexType>
  <element name="NamedPlace" substitutionGroup="gml:AbstractFeature" type="gn:NamedPlaceType">
    <annotation>
      <documentation>-- Definition --
Any real world entity referred to by one or several proper nouns.</documentation>
    </annotation>
  </element>
  <complexType name="NamedPlaceType">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence>
          <element name="beginLifespanVersion" nillable="true">
            <annotation>
              <documentation>-- Definition --
Date and time at which this version of the spatial object was inserted or changed in the spatial data set.</documentation>
            </annotation>
            <complexType>
              <simpleContent>
                <extension base="dateTime">
                  <attribute name="nilReason" type="gml:NilReasonType"/>
                </extension>
              </simpleContent>
            </complexType>
          </element>
          <element minOccurs="0" name="endLifespanVersion" nillable="true">
            <annotation>
              <documentation>-- Definition --
Date and time at which this version of the spatial object was superseded or retired in the spatial data set.</documentation>
            </annotation>
            <complexType>
              <simpleContent>
                <extension base="dateTime">
                  <attribute name="nilReason" type="gml:NilReasonType"/>
                </extension>
              </simpleContent>
            </complexType>
          </element>
          <element name="geometry" type="gml:GeometryPropertyType">
            <annotation>
              <documentation>-- Definition --
Geometry associated to the named place. This data specification does not restrict the geometry types. 

-- Description --
NOTE 1 The most common geometry types for a named place are a reference point (modelled as GM_Point), a more precise geometry of the footprint (typically modelled as GM_Curve or GM_Surface), or a bounding box (to be modelled as a GM_Surface).

NOTE 2 If the geometry depicts the spatial footprint of the named place, a reference point and a bounding box could be derived from it. However, this specification does not require the explicit provision of any specific type of geometry such as bounding boxes or reference points.

NOTE 3 To avoid any misunderstanding, note that null geometry is not allowed by this specification.

NOTE 4 3D geometries are not really required for Geographical Names, but the model allows for it, so a data provider may publish it.</documentation>
            </annotation>
          </element>
          <element name="inspireId" type="base:IdentifierPropertyType">
            <annotation>
              <documentation>-- Definition --
External object identifier of the spatial object.

-- Description --
NOTE An external object identifier is a unique object identifier published by the responsible body, which may be used by external applications to reference the spatial object. The identifier is an identifier of the spatial object, not an identifier of the real-world phenomenon.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="leastDetailedViewingResolution" nillable="true">
            <annotation>
              <documentation>-- Definition --
Resolution, expressed as the inverse of an indicative scale or a ground distance, above which the named place and its associated name(s) should no longer be displayed in a basic viewing service.

-- Description --
NOTE 1This information may be used to determine if the names of the named place should be displayed at a given scale of display, only in the context of basic viewing services intending to show the content of the data set containing names. Even if this information is a valuable one for mapping in general, it is only approximate; cartographic services intending to produce high quality maps should certainly rely on other criteria and techniques for selecting names for the map.

NOTE 2 Even if this attribute is "voidable" for practical reasons linked to its availability in data sources, this information may be of first importance for viewing services. There are great chances that viewing services will inefficiently manage named places having this attribute void.

EXAMPLES The following examples use the equivalentScale attribute of MD_Resolution to express the attribute value.
- Names of important cities in Europe may be displayed at all viewing scales greater than 1/5,000,000. In this case, the value of the attribute is 5,000,000
- Names of small hamlets may only be displayed from all viewing scale greater than 1/25,000. In this case, the value of the attribute is 25,000
- Names of countries may be displayed at any small scale. In this case, this attribute is not filled.

NOTE 3 If the data set contain multiple representations of the same real world entity represented at different levels of detail, the scale ranges defined by the attributes leastDetailedViewingResolution and mostDetailedViewingResolution should not overlap, in order to avoid displaying the same names several times.

NOTE 4 The geometry of the named place should have a level of detail (i.e. resolution, granularity, precision, etc.) roughly compatible with its associated viewing scales.</documentation>
            </annotation>
            <complexType>
              <complexContent>
                <extension base="gml:AbstractMetadataPropertyType">
                  <sequence>
                    <element ref="gmd:MD_Resolution"/>
                  </sequence>
                  <attribute name="nilReason" type="gml:NilReasonType"/>
                </extension>
              </complexContent>
            </complexType>
          </element>
          <element maxOccurs="unbounded" name="localType" nillable="true" type="gmd:LocalisedCharacterString_PropertyType">
            <annotation>
              <documentation>-- Definition --
Characterisation of the kind of entity designated by geographical name(s), as defined by the data provider, given in at least in one official language of the European Union.

-- Description --
SOURCE Adapted from [UNGEGN Manual 2007].

NOTE Local types may be defined in additional European languages, either EU official languages or other languages such as the language(s) of the geographical names provided.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="mostDetailedViewingResolution" nillable="true">
            <annotation>
              <documentation>-- Definition --
Resolution, expressed as the inverse of an indicative scale or a ground distance, below which the named place and its associated name(s) should no longer be displayed in a basic viewing service.

-- Description --
NOTE See Description of leastDetailedViewingResolution

EXAMPLES The following examples use the equivalentScale attribute of MD_Resolution to express the attribute value.
- Names of wide areas like mountain ranges may not be displayed at all in viewing scales greater than 1/100,000. In this case, the value of the attribute is 100,000
- Names of small hamlets may be displayed at any large scale. In this case, this attribute is not filled.</documentation>
            </annotation>
            <complexType>
              <complexContent>
                <extension base="gml:AbstractMetadataPropertyType">
                  <sequence>
                    <element ref="gmd:MD_Resolution"/>
                  </sequence>
                  <attribute name="nilReason" type="gml:NilReasonType"/>
                </extension>
              </complexContent>
            </complexType>
          </element>
          <element maxOccurs="unbounded" name="name" type="gn:GeographicalNamePropertyType">
            <annotation>
              <documentation>-- Definition --
Name of the named place.</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="relatedSpatialObject" nillable="true">
            <annotation>
              <documentation>-- Definition --
Identifier of a spatial object representing the same entity but appearing in other themes of INSPIRE, if any.

-- Description --
NOTE If no identifier is provided with features of other INSPIRE themes, those features can of course not be referred by the NamedPlace.</documentation>
            </annotation>
            <complexType>
              <sequence>
                <element ref="base:Identifier"/>
              </sequence>
              <attribute name="nilReason" type="gml:NilReasonType"/>
            </complexType>
          </element>
          <element maxOccurs="unbounded" name="type" nillable="true" type="gml:ReferenceType">
            <annotation>
              <documentation>-- Definition --
Characterisation of the kind of entity designated by geographical name(s).

-- Description --
SOURCE Adapted from [UNGEGN Manual 2007].

NOTE 1 This attribute should be consistent with the attribute 'relatedSpatialObject'. More precisely, if the attribute 'relatedSpatialObject' is filled in, the attribute 'type' should be filled in, and its value(s) should be consistent with the spatial data theme(s) of the related object(s).

NOTE 2 Even if this attribute may introduce some redundancy with the attribute 'relatedSpatialObject', it has to be filled in order to allow to use geographical names on their own without accessing to any other INSPIRE data set, which may be necessary in most cases.</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="NamedPlacePropertyType">
    <sequence minOccurs="0">
      <element ref="gn:NamedPlace"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="PronunciationOfName" substitutionGroup="gml:AbstractObject" type="gn:PronunciationOfNameType">
    <annotation>
      <documentation>-- Definition --
Proper, correct or standard (standard within the linguistic community concerned) pronunciation of a name.

-- Description --
SOURCE Adapted from [UNGEGN Manual 2006].</documentation>
    </annotation>
  </element>
  <complexType name="PronunciationOfNameType">
    <sequence>
      <element minOccurs="0" name="pronunciationSoundLink" nillable="true">
        <annotation>
          <documentation>-- Definition --
Proper, correct or standard (standard within the linguistic community concerned) pronunciation of a name, expressed by a link to any sound file.

-- Description --
SOURCE Adapted from [UNGEGN Manual 2006].</documentation>
        </annotation>
        <complexType>
          <simpleContent>
            <extension base="anyURI">
              <attribute name="nilReason" type="gml:NilReasonType"/>
            </extension>
          </simpleContent>
        </complexType>
      </element>
      <element minOccurs="0" name="pronunciationIPA" nillable="true">
        <annotation>
          <documentation>-- Definition --
Proper, correct or standard (standard within the linguistic community concerned) pronunciation of a name, expressed in International Phonetic Alphabet (IPA).

-- Description --
SOURCE Adapted from [UNGEGN Manual 2006].</documentation>
        </annotation>
        <complexType>
          <simpleContent>
            <extension base="string">
              <attribute name="nilReason" type="gml:NilReasonType"/>
            </extension>
          </simpleContent>
        </complexType>
      </element>
    </sequence>
  </complexType>
  <complexType name="PronunciationOfNamePropertyType">
    <sequence>
      <element ref="gn:PronunciationOfName"/>
    </sequence>
  </complexType>
  <element name="SpellingOfName" substitutionGroup="gml:AbstractObject" type="gn:SpellingOfNameType">
    <annotation>
      <documentation>-- Definition --
Proper way of writing a name.

-- Description --
SOURCE Adapted from [UNGEGN Manual 2006].

NOTE Proper spelling means the writing of a name with the correct capitalisation and the correct letters and diacritics present in an accepted standard order.</documentation>
    </annotation>
  </element>
  <complexType name="SpellingOfNameType">
    <sequence>
      <element name="text" type="string">
        <annotation>
          <documentation>-- Definition --
Way the name is written.</documentation>
        </annotation>
      </element>
      <element name="script" nillable="true">
        <annotation>
          <documentation>-- Definition --
Set of graphic symbols (for example an alphabet) employed in writing the name, expressed using the four letters codes defined in ISO 15924, where applicable.

-- Description --
SOURCE Adapted from [UNGEGN Glossary 2007].

EXAMPLES Cyrillic, Greek, Roman/Latin scripts.

NOTE 1The four letter codes for Latin (Roman), Cyrillic and Greek script are "Latn", "Cyrl" and "Grek", respectively.

NOTE 2 In rare cases other codes could be used (for other scripts than Latin, Greek and Cyrillic). However, this should mainly apply for historical names in historical scripts.

NOTE 3 This attribute is of first importance in the multi-scriptual context of Europe.</documentation>
        </annotation>
        <complexType>
          <simpleContent>
            <extension base="string">
              <attribute name="nilReason" type="gml:NilReasonType"/>
            </extension>
          </simpleContent>
        </complexType>
      </element>
      <element minOccurs="0" name="transliterationScheme" nillable="true">
        <annotation>
          <documentation>-- Definition --
Method used for the names conversion between different scripts.

-- Description --
SOURCE Adapted from [UNGEGN Glossary 2007].

NOTE 1 This attribute should be filled for any transliterated spellings. If the transliteration scheme used is recorded in codelists maintained by ISO or UN, those codes should be preferred.</documentation>
        </annotation>
        <complexType>
          <simpleContent>
            <extension base="string">
              <attribute name="nilReason" type="gml:NilReasonType"/>
            </extension>
          </simpleContent>
        </complexType>
      </element>
    </sequence>
  </complexType>
  <complexType name="SpellingOfNamePropertyType">
    <sequence>
      <element ref="gn:SpellingOfName"/>
    </sequence>
  </complexType>
</schema>
