deegree-core/src/main/resources/META-INF/schemas/datasource/0.5.0/batchedmt/file.xsd

<?xml version="1.0" encoding="UTF-8"?>
  <!--
    This file is part of deegree, for copyright/license information, please visit http://www.deegree.org/license.
  -->
<schema xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://www.w3.org/2001/XMLSchema"
  targetNamespace="http://www.deegree.org/datasource/batchedmt/file" elementFormDefault="qualified"
  xmlns:jaxb="http://java.sun.com/xml/ns/jaxb" jaxb:version="2.1">
  <annotation>
    <appinfo>
      <jaxb:schemaBindings>
        <jaxb:package name="org.deegree.rendering.r3d.jaxb.batchedmt" />
      </jaxb:schemaBindings>
    </appinfo>
  </annotation>
  <element name="BatchedMTFileStore">
    <annotation>
      <documentation>BatchedMTStore that is backed by blob files.</documentation>
      <appinfo>
        <jaxb:class name="BatchedMTFileStoreConfig" />
      </appinfo>
    </annotation>
    <complexType>
      <sequence>
        <element name="Directory" type="string" />
        <element name="MaxDirectMemory" type="positiveInteger" />
      </sequence>
      <attribute name="configVersion" use="required" fixed="0.5.0" />
      <attribute name="crs" use="optional" default="epsg:25832"/>      
    </complexType>
  </element>
</schema>
