deegree-workspaces/deegree-workspace-geosciml/src/main/resources/appschemas/geosciml/3.0/geologicunit/3.0/geologicUnit.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" 
xmlns:gml="http://www.opengis.net/gml/3.2" 
xmlns:gsmlgu="http://xmlns.geosciml.org/GeologicUnit/3.0" 
xmlns:gsml="http://xmlns.geosciml.org/GeoSciML-Core/3.0" 
xmlns:gsmlpp="http://xmlns.geosciml.org/PhysicalProperties/3.0" 
xmlns:gsmlem="http://xmlns.geosciml.org/EarthMaterial/3.0" 
xmlns:swe="http://www.opengis.net/swe/2.0" 
targetNamespace="http://xmlns.geosciml.org/GeologicUnit/3.0" 
elementFormDefault="qualified" attributeFormDefault="unqualified" version="3.0">
<!-- Schema auto-generated by FullMoon, applying rule suite xmi11ea -->
    <annotation>
        <documentation>The GeoSciML GeologicUnit Package contains classes representing notional geologic units, whose complete and precise extent is inferred to exist. Explicit spatial properties are available through association with a MappedFeature. 

Geologic units includes both formal units (i.e. formally adopted and named in the official lexicon) and informal units (i.e. named but not promoted to the lexicon) and unnamed units (i.e. recognisable and described and delineable in the field but not otherwise formalised).</documentation>
    </annotation>
    <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
    <import namespace="http://xmlns.geosciml.org/EarthMaterial/3.0" schemaLocation="http://schemas.geosciml.org/earthmaterial/3.0/earthMaterial.xsd"/>
    <import namespace="http://www.opengis.net/swe/2.0" schemaLocation="http://schemas.opengis.net/sweCommon/2.0/swe.xsd"/>
    <import namespace="http://xmlns.geosciml.org/PhysicalProperties/3.0" schemaLocation="http://schemas.geosciml.org/physicalproperties/3.0/physicalProperties.xsd"/>
    <import namespace="http://xmlns.geosciml.org/GeoSciML-Core/3.0" schemaLocation="http://schemas.geosciml.org/geosciml-core/3.0/geosciml-core.xsd"/>
    <element name="GeologicUnit" substitutionGroup="gsml:GeologicFeature" type="gsmlgu:GeologicUnitType">
        <annotation>
            <documentation>Operationally, the GeologicUnit element is a container used to associate geologic properties with some mapped occurrence (through GeologicFeature.occurrence -&amp;gt; MappedFeature link), or with a geologic unit ControlledConcept in a vocabulary (through the GeologicUnit.classifier -&amp;gt;ControlledConcept link).

Conceptually, may represent a body of material in the Earth whose complete and precise extent is inferred to exist (NADM GeologicUnit, Stratigraphic unit in sense of NACSN or International Stratigraphic Code), or a classifier used to characterize parts of the Earth (e.g. lithologic map unit like 'granitic rock' or 'alluvial deposit', surficial units like 'till' or 'old alluvium').

Spatial properties are only available through association with a MappedFeature. Includes both formal units (i.e. formally adopted and named in the official lexicon) and informal units (i.e. named but not promoted to the lexicon) and unnamed units (i.e. recognisable and described and delineable in the field but not otherwise formalised).</documentation>
        </annotation>
    </element>
    <complexType name="GeologicUnitType">
        <complexContent>
            <extension base="gsml:GeologicFeatureType">
                <sequence>
                    <element name="geologicUnitType" type="gml:ReferenceType">
                        <annotation>
                            <appinfo>
                                <gml:targetElement>gsmlgu:GeologicUnitTypeTerm</gml:targetElement>
                            </appinfo>
                            <documentation>A scoped name pointing to a vocabulary defining the type of unit. Logical constraints of definition of unit and valid property cardinalities should be contained in the definition. Use of the CGI Geologic Unit Type vocabulary (eg: something like http://geosciml.org/classifierScheme/CGI/GeologicUnitType/200811) is preferred.</documentation>
                        </annotation>
                    </element>
                    <element maxOccurs="unbounded" minOccurs="1" name="bodyMorphology" nillable="true">
                        <annotation>
                            <documentation>The geometry or form of a GeologicUnit.  Examples include: dike (dyke), cone, fan, sheet, etc. Morphology is independent of the substance (EarthMaterial) that composes the GeologicUnit or process that formed it.</documentation>
                        </annotation>
                        <complexType>
                            <complexContent>
                                <extension base="swe:CategoryPropertyType">
                                    <attribute name="nilReason" type="gml:NilReasonType"/>
                                </extension>
                            </complexContent>
                        </complexType>
                    </element>
                    <element maxOccurs="unbounded" minOccurs="1" name="unitComposition" nillable="true">
                        <annotation>
                            <documentation>Composition-based classification that requires integrating the character of the unit over large area, not applicable at the rock-material/specimen level. Examples: alkalic, subaluminous, peraluminous, I-Type, carbonate, phosphate.</documentation>
                        </annotation>
                        <complexType>
                            <complexContent>
                                <extension base="swe:CategoryPropertyType">
                                    <attribute name="nilReason" type="gml:NilReasonType"/>
                                </extension>
                            </complexContent>
                        </complexType>
                    </element>
                    <element name="exposureColor" nillable="true" maxOccurs="unbounded" minOccurs="1" >
                        <annotation>
                            <documentation>Typical color at the outcrop of a geologic unit.</documentation>
                        </annotation>
                        <complexType> 
                            <complexContent>
                                <extension base="swe:CategoryPropertyType">
                                    <attribute name="nilReason" type="gml:NilReasonType"/>
                                </extension>
                            </complexContent>
                        </complexType>
                    </element>
                    <element maxOccurs="unbounded" minOccurs="1" name="outcropCharacter" nillable="true">
                        <annotation>
                            <documentation>Describes the nature of outcrops formed by a geologic unit. Examples: bouldery, cliff-forming, ledge-forming, slope-forming, poorly exposed</documentation>
                        </annotation>
                        <complexType> 
                            <complexContent>
                                <extension base="swe:CategoryPropertyType">
                                    <attribute name="nilReason" type="gml:NilReasonType"/>
                                </extension>
                            </complexContent>
                        </complexType>
                    </element>
                    <element name="rank" nillable="true" type="gml:ReferenceType">
                        <annotation>
                            <appinfo>
                                <gml:targetElement>gsmlgu:RankTerm</gml:targetElement>
                            </appinfo>
                            <documentation>Term that classifies the geologic unit in a generalization hierarchy from most local/smallest volume to most regional. Scoped name because classification is asserted, not based on observational data.
Examples: group, subgroup, formation, member, bed, intrusion, complex, batholith</documentation>
                        </annotation>
                    </element>
                    <element name="unitThickness" nillable="true">
                        <annotation>
                            <documentation>Typical thickness of the geologic unit. Always reported as a range. If have a single value, the upper and lower limit of range are the same.</documentation>
                        </annotation>
                        <complexType> 
                            <complexContent>
                                <extension base="swe:QuantityRangePropertyType">
                                    <attribute name="nilReason" type="gml:NilReasonType"/>
                                </extension>
                            </complexContent>
                        </complexType>
                    </element>
                    <element maxOccurs="unbounded" minOccurs="1" name="composition" nillable="true">
                        <annotation>
                            <documentation>Describes the composition (detailed, instance specific, lithologic description) of the GeologicUnit</documentation>
                        </annotation>
                        <complexType> 
                            <complexContent>
                                <extension base="gsmlgu:CompositionPartPropertyType">
                                    <attribute name="nilReason" type="gml:NilReasonType"/>
                                </extension>
                            </complexContent>
                        </complexType>
                    </element>
                    <element name="metamorphicCharacter" nillable="true">
                        <annotation>
                            <documentation>Contains the description of the metamorphic character</documentation>
                        </annotation>
                        <complexType> 
                            <complexContent>
                                <extension base="gsmlem:MetamorphicDescriptionPropertyType">
                                    <attribute name="nilReason" type="gml:NilReasonType"/>
                                </extension>
                            </complexContent>
                        </complexType>
                    </element>
                    <element maxOccurs="unbounded" minOccurs="1" name="part" nillable="true">
                        <annotation>
                            <documentation>indicates a subsiduary unit with its role and proportion with respect to the container unit</documentation>
                        </annotation>
                        <complexType>
                            <complexContent>
                                <extension base="gsmlgu:GeologicUnitPartPropertyType">
                                    <attribute name="nilReason" type="gml:NilReasonType"/>
                                </extension>
                            </complexContent>
                        </complexType>
                    </element>
                    <element maxOccurs="unbounded" minOccurs="1" name="physicalProperty" nillable="true">
                        <annotation> 
                            <documentation>Describes the physical properties of the unit (eg; density, porosity, magnetic susceptibility, etc)</documentation>
                        </annotation>
                        <complexType> 
                            <complexContent>
                                <extension base="gsmlpp:PhysicalDescriptionPropertyType">
                                    <attribute name="nilReason" type="gml:NilReasonType"/>
                                </extension>
                            </complexContent>
                        </complexType>
                    </element>
                    <element maxOccurs="unbounded" minOccurs="1" name="alterationCharacter" nillable="true">
                        <annotation> 
                            <documentation>Describes the alteration character (either hydrothermal or weathering) of a GeologicUnit</documentation>
                        </annotation>
                        <complexType>
                            <complexContent>
                                <extension base="gsmlem:AlterationDescriptionPropertyType">
                                    <attribute name="nilReason" type="gml:NilReasonType"/>
                                </extension>
                            </complexContent>
                        </complexType>
                    </element>
                    <element name="bedding" nillable="true">
                        <annotation> 
                            <documentation>An association to describe the character of bedding in a stratified geologic unit.</documentation>
                        </annotation>
                        <complexType> 
                            <complexContent>
                                <extension base="gsmlgu:BeddingDescriptionPropertyType">
                                    <attribute name="nilReason" type="gml:NilReasonType"/>
                                </extension>
                            </complexContent>
                        </complexType>
                    </element>
                    <element name="geochemistry" nillable="true">
                        <annotation> 
                            <documentation>Delivers a representative geochemical analysis of the GeologicUnit</documentation>
                        </annotation>
                        <complexType> 
                            <complexContent>
                                <extension base="gsmlem:ChemicalCompositionPropertyType">
                                    <attribute name="nilReason" type="gml:NilReasonType"/>
                                </extension>
                            </complexContent>
                        </complexType>
                    </element>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="GeologicUnitPropertyType">
        <sequence minOccurs="0">
            <element ref="gsmlgu:GeologicUnit"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
        <attributeGroup ref="gml:OwnershipAttributeGroup"/>
    </complexType>
    <element name="BeddingDescription" substitutionGroup="gml:AbstractObject" type="gsmlgu:BeddingDescriptionType">
        <annotation>
            <documentation>Description of bedding characteristics (eg, bed thickness,  bedding style or shape, patterns of variation in bedding thickness) in a geologic unit that has stratification.</documentation>
        </annotation>
    </element>
    <complexType name="BeddingDescriptionType">
        <sequence>
            <element maxOccurs="unbounded" minOccurs="1" name="beddingPattern" nillable="true">
                <annotation>
                    <documentation>Term(s) specifying patterns of bedding thickness or relationships between bedding packages, 
Examples: thinning upward, thickening upward</documentation>
                </annotation>
                <complexType>  
                    <complexContent>
                        <extension base="swe:CategoryPropertyType">
                            <attribute name="nilReason" type="gml:NilReasonType"/>
                        </extension>
                    </complexContent>
                </complexType>
            </element>
            <element maxOccurs="unbounded" minOccurs="1" name="beddingStyle" nillable="true">
                <annotation>
                    <documentation>Term(s) specifying the style of bedding in a stratified geologic unit, e.g. lenticular, irregular, planar, vague, massive</documentation>
                </annotation>
                <complexType> 
                    <complexContent>
                        <extension base="swe:CategoryPropertyType">
                            <attribute name="nilReason" type="gml:NilReasonType"/>
                        </extension>
                    </complexContent>
                </complexType>
            </element>
            <element maxOccurs="unbounded" minOccurs="1" name="beddingThickness" nillable="true">
                <annotation>
                    <documentation>Term(s) or numeric values characterizing the thickness of bedding in the unit.</documentation>
                </annotation>
                <complexType> 
                    <complexContent>
                        <extension base="swe:QuantityRangePropertyType">
                            <attribute name="nilReason" type="gml:NilReasonType"/>
                        </extension>
                    </complexContent>
                </complexType>
            </element>
        </sequence>
    </complexType>
    <complexType name="BeddingDescriptionPropertyType">
        <sequence>
            <element ref="gsmlgu:BeddingDescription"/>
        </sequence>
        <attributeGroup ref="gml:OwnershipAttributeGroup"/>
    </complexType>
    <element name="GeologicUnitPart" substitutionGroup="gml:AbstractObject" type="gsmlgu:GeologicUnitPartType">
        <annotation>
            <documentation>GeologicUnitPart associates a GeologicUnit with another GeologicUnit that is a proper part of that unit. Parts may be formal or notional. Formal parts refer to a specific body of rock, as in formal stratigraphic members. Notional parts refer to assemblages of particular EarthMaterials with particular internal structure, which may be repeated in various places within a unit (e.g. 'turbidite sequence', 'point bar assemblage', 'leucosome veins')</documentation>
        </annotation>
    </element>
    <complexType name="GeologicUnitPartType">
        <sequence>
            <element name="role" type="gml:ReferenceType">
                <annotation>
                    <appinfo>
                        <gml:targetElement>gsmlgu:GeologicUnitPartRoleTermType</gml:targetElement>
                    </appinfo>
                    <documentation>Nature of the parts, e.g. facies, stratigraphic, interbeds, geographic, eastern facies,</documentation>
                </annotation>
            </element>
            <element name="proportion" nillable="true">
                <annotation>
                    <documentation>Quantity that specifies the fraction of the geologic unit formed by the part.</documentation>
                </annotation>
                <complexType> 
                    <complexContent>
                        <extension base="swe:QuantityRangePropertyType">
                            <attribute name="nilReason" type="gml:NilReasonType"/>
                        </extension>
                    </complexContent>
                </complexType>
            </element>
            <element name="containedUnit" type="gsmlgu:GeologicUnitPropertyType">
                <annotation> 
                    <documentation>Indicates the parent unit that contains the GeologicUnitPart.</documentation>
                </annotation>
            </element>
        </sequence>
    </complexType>
    <complexType name="GeologicUnitPartPropertyType">
        <sequence>
            <element ref="gsmlgu:GeologicUnitPart"/>
        </sequence>
        <attributeGroup ref="gml:OwnershipAttributeGroup"/>
    </complexType>
    <element name="CompositionPart" substitutionGroup="gml:AbstractObject" type="gsmlgu:CompositionPartType">
        <annotation>
            <documentation>Element to represent composition of a geologic unit in terms of earth material constituents.</documentation>
        </annotation>
    </element>
    <complexType name="CompositionPartType">
        <sequence>
            <element name="role" type="gml:ReferenceType">
                <annotation>
                    <appinfo>
                        <gml:targetElement>gsmlgu:CompositionPartRoleTermType</gml:targetElement>
                    </appinfo>
                    <documentation>Defines the relationship of the earth material constituent in the geologic unit, e.g. vein, interbedded constituent, layers, dominant constituent. Scoped name because role is asserted by the geologist building the description.</documentation>
                </annotation>
            </element>
            <element name="material" type="gsmlem:CompoundMaterialPropertyType">
                <annotation>
                    <documentation>Description of the compound material that comprises part or all of the geologic unit</documentation>
                </annotation>
            </element>
            <element name="proportion" nillable="true">
                <annotation>
                    <documentation>Quantity that specifies the fraction of the geologic unit composed of the compound material.</documentation>
                </annotation>
                <complexType>
                    <complexContent>
                        <extension base="swe:QuantityRangePropertyType">
                            <attribute name="nilReason" type="gml:NilReasonType"/>
                        </extension>
                    </complexContent>
                </complexType>
            </element>
        </sequence>
    </complexType>
    <complexType name="CompositionPartPropertyType">
        <sequence>
            <element ref="gsmlgu:CompositionPart"/>
        </sequence>
        <attributeGroup ref="gml:OwnershipAttributeGroup"/>
    </complexType>
</schema>