deegree-workspaces/deegree-workspace-geosciml/src/main/workspace/appschemas/geosciml/3.0/physicalproperties/3.0/physicalProperties.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" 
    xmlns:gml="http://www.opengis.net/gml/3.2" 
    xmlns:gsmlpp="http://xmlns.geosciml.org/PhysicalProperties/3.0" 
    xmlns:swe="http://www.opengis.net/swe/2.0" 
    targetNamespace="http://xmlns.geosciml.org/PhysicalProperties/3.0" 
    elementFormDefault="qualified" attributeFormDefault="unqualified" version="3.0.0">
    <!-- Schema auto-generated by FullMoon, applying rule suite xmi11ea -->
    <annotation>
        <documentation>The PhysicalProperties Application Schema permits description of bulk physical properties of earth materials, geologic units and geologic structures.  The model borrows from the SWECommon model to describe scalar (quantity) values of physical property measurements such as density, porosity, permeability, magnetic susceptibility, and other geophysical properties.

Individual physical property measurements made on sampling features such as specimens, outcrops, and boreholes should be delivered using the ISO19156 Observations and Measurements model.</documentation>
    </annotation>
    <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
    <import namespace="http://www.opengis.net/swe/2.0" schemaLocation="http://schemas.opengis.net/sweCommon/2.0/swe.xsd"/>
    <element name="PhysicalDescription" substitutionGroup="gml:AbstractObject" type="gsmlpp:PhysicalDescriptionType">
        <annotation>
            <documentation>A class to describe the numeric physical properties of a geologic unit, earth material, or geologic structure. (eg; density, porosity, magnetic susceptibility, remanent magnetism).  These properties are modelled here as scalar numeric values (swe:Quantity).  

Vector and tensor physical properties are considered to be more applicable to located observations and should be delivered as SamplingFeature/Observations with associated geologic unit or geologic structure features.</documentation>
        </annotation>
    </element>
    <complexType name="PhysicalDescriptionType">
        <sequence>
            <element name="propertyName" type="gml:ReferenceType">
                <annotation>
                    <appinfo>
                        <gml:targetElement>gsmlpp:PhysicalPropertyTermType</gml:targetElement>
                    </appinfo>
                    <documentation>A term from a controlled vocabulary of physical properties of rock materials (eg; density, porosity, magnetic susceptibility, remanent magnetism, permeability, seismic velocity)</documentation>
                </annotation>
            </element>
            <element maxOccurs="unbounded" minOccurs="1" name="propertyMeasure" type="swe:QuantityPropertyType">
                <annotation>
                    <documentation>A scalar measurement of the physical property of a rock material, unit or structure</documentation>
                </annotation>
            </element>
        </sequence>
    </complexType>
    <complexType name="PhysicalDescriptionPropertyType">
        <sequence>
            <element ref="gsmlpp:PhysicalDescription"/>
        </sequence>
        <attributeGroup ref="gml:OwnershipAttributeGroup"/>
    </complexType>
</schema>