deegree-datastores/deegree-tilestores/deegree-tilestore-overlay/src/main/resources/META-INF/schemas/datasource/tile/overlay/3.4.0/overlay.xsd

<schema xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://www.w3.org/2001/XMLSchema"
  targetNamespace="http://www.deegree.org/datasource/tile/merge" elementFormDefault="qualified" xmlns:jaxb="http://java.sun.com/xml/ns/jaxb"
  jaxb:version="2.1">

  <annotation>
    <appinfo>
      <jaxb:schemaBindings>
        <jaxb:package name="org.deegree.tile.persistence.overlay.jaxb" />
        <jaxb:nameXmlTransform>
          <jaxb:typeName suffix="Config" />
          <jaxb:elementName suffix="Config" />
        </jaxb:nameXmlTransform>
      </jaxb:schemaBindings>
    </appinfo>
  </annotation>

  <element name="OverlayTileStore">
    <complexType>
      <sequence>
        <element name="TileStoreId" type="string" minOccurs="2" maxOccurs="unbounded" />
      </sequence>
      <attribute name="configVersion" use="required" fixed="3.4.0" />
    </complexType>
  </element>

</schema>
