deegree-services/deegree-services-commons/src/main/resources/META-INF/schemas/services/security/3.4.0/security.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:sec="http://www.deegree.org/services/security" xmlns:xs="http://www.w3.org/2001/XMLSchema"
  targetNamespace="http://www.deegree.org/services/security" elementFormDefault="qualified" xmlns:jaxb="http://java.sun.com/xml/ns/jaxb"
  jaxb:version="2.1">

  <xs:annotation>
    <xs:appinfo>
      <jaxb:schemaBindings>
        <jaxb:package name="org.deegree.services.jaxb.security" />
      </jaxb:schemaBindings>
    </xs:appinfo>
  </xs:annotation>

  <xs:element name="SecurityConfiguration">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="CredentialsProvider" type="sec:CredentialsProviderType" minOccurs="0" />
      </xs:sequence>
      <xs:attribute name="configVersion" type="xs:string" use="optional"/>
    </xs:complexType>
  </xs:element>

  <xs:complexType name="empty" />

  <xs:complexType name="CredentialsProviderType">
    <xs:annotation>
      <xs:documentation>
        Defines credentials provider used for the services.
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="HttpBasicCredentialsProvider" type="sec:empty" minOccurs="0" />
      <xs:element name="HttpDigestCredentialsProvider" type="sec:empty" minOccurs="0" />
      <xs:element name="SOAPCredentialsProvider" type="sec:empty" minOccurs="0" />
      <xs:element name="DeegreeCredentialsProvider" type="sec:empty" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>

</xs:schema>