deegree-core/deegree-connectionprovider-datasource/src/main/resources/META-INF/schemas/connectionprovider/datasource/datasource.xsd

<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:jdbc="http://www.deegree.org/jdbc" xmlns:jaxb="http://java.sun.com/xml/ns/jaxb"
  targetNamespace="http://www.deegree.org/connectionprovider/datasource" elementFormDefault="qualified" jaxb:version="2.1">
  <annotation>
    <appinfo>
      <jaxb:schemaBindings>
        <jaxb:package name="org.deegree.db.datasource.jaxb" />
      </jaxb:schemaBindings>
    </appinfo>
  </annotation>
  <element name="DataSourceConnectionProvider">
    <complexType>
      <annotation>
        <documentation>Defines a connection provider based on a javax.sql.Datasource</documentation>
      </annotation>
      <sequence>
        <element name="DataSource">
          <complexType>
            <sequence>
              <element name="Argument" minOccurs="0" maxOccurs="unbounded">
                <complexType>
                  <attribute name="javaClass" use="required" />
                  <attribute name="value" use="required" />
                </complexType>
              </element>
            </sequence>
            <attribute name="javaClass" use="required" />
            <attribute name="factoryMethod" use="optional" />
            <attribute name="destroyMethod" use="optional" />
          </complexType>
        </element>
        <element name="Property" minOccurs="0" maxOccurs="unbounded">
          <complexType>
            <attribute name="name" use="required" />
            <attribute name="value" use="required" />
          </complexType>
        </element>
        <element name="DialectProvider" minOccurs="0" maxOccurs="1">
          <complexType>
            <attribute name="javaClass" use="required" />
          </complexType>
        </element>
      </sequence>
      <attribute name="configVersion" type="string" use="optional"/>
    </complexType>
  </element>
</schema>
