uncoupled/orphaned-after-3.3/deegree-processprovider-jrxml/src/main/resources/META-INF/schemas/processes/jrxml/0.1.0/map/0.1.0/mapMetadata.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xs="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://www.deegree.org/processprovider/mapMetadata"
	elementFormDefault="qualified" xmlns:jaxb="https://jakarta.ee/xml/ns/jaxb"
	jaxb:version="3.0">
	<annotation>
		<appinfo>
			<jaxb:schemaBindings>
				<jaxb:package
					name="org.deegree.services.wps.provider.jrxml.jaxb.map.metadata" />
			</jaxb:schemaBindings>
		</appinfo>
	</annotation>
	<xs:element name="MapMetadata">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="width" type="integer" minOccurs="1" />
				<xs:element name="height" type="integer" minOccurs="1" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
