uncoupled/orphaned-after-3.2/deegree-featurestore-couchbase/src/main/resources/META-INF/schemas/datasource/feature/geocouch/3.1.0/geocouch.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.deegree.org/datasource/feature/geocouch"
	elementFormDefault="qualified" xmlns:jaxb="https://jakarta.ee/xml/ns/jaxb"
	jaxb:version="3.0">
	<annotation>
		<appinfo>
			<jaxb:schemaBindings>
				<jaxb:package name="org.deegree.feature.persistence.geocouch.jaxb" />
			</jaxb:schemaBindings>
		</appinfo>
	</annotation>
	<element name="GeoCouchFeatureStore">
		<annotation>
			<appinfo>
				<jaxb:class name="GeoCouchFeatureStoreConfig" />
			</appinfo>
		</annotation>
		<complexType>
			<sequence>
				<element name="StorageCRS" type="string" />
				<element name="GMLSchema" type="string" minOccurs="1"
					maxOccurs="unbounded" />
				<element name="GeoCouchUrl" type="string" />
			</sequence>
			<attribute name="configVersion" use="required" fixed="3.1.0" />
		</complexType>
	</element>
</schema>