deegree-workspaces/deegree-workspace-geosciml/src/main/workspace/appschemas/geosciml/3.0/geosciml-core/3.0/geologicFeature.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" 
    xmlns:gml="http://www.opengis.net/gml/3.2" 
    xmlns:gmd="http://www.isotc211.org/2005/gmd"  
    xmlns:gsml="http://xmlns.geosciml.org/GeoSciML-Core/3.0" 
    xmlns:swe="http://www.opengis.net/swe/2.0" 
    xmlns:sam="http://www.opengis.net/sampling/2.0" 
    targetNamespace="http://xmlns.geosciml.org/GeoSciML-Core/3.0" elementFormDefault="qualified" attributeFormDefault="unqualified" version="3.0.0">
    <!-- Schema auto-generated by FullMoon, applying rule suite xmi11ea -->
    <annotation>
        <documentation>The GeoSciML GeologicFeature package contains the root  Feature classes MappedFeature and GeologicFeature. 

GeologicFeature represents a conceptual feature that is hypothesized to exist coherently in the world. Specializated geologic features are contained in other packages.</documentation>
    </annotation>
    <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
    <import namespace="http://www.isotc211.org/2005/gmd" schemaLocation="http://schemas.opengis.net/iso/19139/20070417/gmd/gmd.xsd"/>
    <import namespace="http://www.opengis.net/swe/2.0" schemaLocation="http://schemas.opengis.net/sweCommon/2.0/swe.xsd"/>
    <import namespace="http://www.opengis.net/sampling/2.0" schemaLocation="http://schemas.opengis.net/sampling/2.0/samplingFeature.xsd"/>
    <include schemaLocation="http://schemas.geosciml.org/geosciml-core/3.0/geosciml-core.xsd"/>

    <element abstract="true" name="GeologicFeature" substitutionGroup="gml:AbstractFeature" type="gsml:GeologicFeatureType">
        <annotation>
            <documentation>The abstract GeologicFeature class represents a conceptual feature that is hypothesized to exist coherently in the world.
   * this corresponds with a "legend item" from a traditional geologic map
   * while the bounding coordinates of a Geologic Feature may be described, its shape is not.

The implemented Geologic Feature instance acts as the "description package"

    * the description package is classified according to its purpose as an Instance, TypicalNorm, or DefiningNorm.</documentation>
        </annotation>
    </element>
    <complexType abstract="true" name="GeologicFeatureType">
        <complexContent>
            <extension base="gml:AbstractFeatureType">
                <sequence>
                    <element name="observationMethod" nillable="true" maxOccurs="unbounded" minOccurs="1" >
                        <annotation>
                            <documentation>Feature ObservationMethod specifies the approach to acquiring the collection of attribute values that constitute an individual feature instance (e.g. point count, brunton compass on site, air photo interpretation,  field observation, hand specimen,  laboratory, aerial photography, creative imagination). ObservationMethod is a convenience property that provides a quick and dirty approach to observation metadata when data are reported using a feature view (as opposed to observation view). For a borehole, the GeologicFeature observation method specifies how the geologic properties were determined (eg, visual observation, or standard AzGS logging procedure (described in detail somewhere else)).  This property corresponds (loosely) to ISO19115 Lineage.</documentation>
                        </annotation>
                        <complexType>
                            <complexContent>
                                <extension base="swe:CategoryPropertyType">
                                    <attribute name="nilReason" type="gml:NilReasonType"/>
                                </extension>
                            </complexContent>
                        </complexType>
                    </element>
                    <element name="purpose" type="gsml:DescriptionPurposeType">
                        <annotation>
                            <documentation>Specification of the intended purpose/level of abstraction for a given feature or object instance. Scoped name because intention is asserted by author of the data instance. Values are: instance, typicalNorm, definingNorm.</documentation>
                        </annotation>
                    </element>
                    <element maxOccurs="unbounded" minOccurs="0" name="occurrence" type="gsml:MappedFeaturePropertyType">
                        <annotation>
                            <documentation>Points to any number of mapped features which are occurrences of the geologic feature.  Mapped features may all be from a single map or from several maps.</documentation>
                        </annotation>
                    </element>
                    <element maxOccurs="unbounded" minOccurs="1" name="relatedFeature" nillable="true" type="gsml:GeologicFeatureRelationPropertyType">
                        <annotation>
                            <documentation>Any geologic feature may be related to another geologic feature. For example, one geologic unit may "overlie" another geologic unit; a geologic unit may be "intersected by" a fault.</documentation>
                        </annotation>
                    </element>
                    <element name="classifier" type="gml:ReferenceType" nillable="true">
                        <annotation>
                            <documentation>A standard description or definition of the feature type (eg; the definition of a particular Geologic Unit in a stratigraphic lexicon)</documentation>
                            <appinfo>
                                <gml:targetElement>gvoc:ControlledConcept</gml:targetElement>
                            </appinfo>
                        </annotation>
                    </element>
                    <element name="metadata" nillable="true" type="gmd:MD_Metadata_PropertyType"/>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="GeologicFeaturePropertyType">
        <sequence minOccurs="0">
            <element ref="gsml:GeologicFeature"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
        <attributeGroup ref="gml:OwnershipAttributeGroup"/>
    </complexType>
    <element name="MappedFeature" substitutionGroup="gml:AbstractFeature" type="gsml:MappedFeatureType">
        <annotation>
            <documentation>A MappedFeature is part of a geological interpretation. 
It provides a link between a notional feature (description package) and one spatial representation of it, or part of it. (Exposures, Surface Traces and Intercepts, etc)
    * the specific bounded occurrence, such as an outcrop or map polygon
    * the Mapped Feature carries a geometry or shape
          - the association with a Geologic Feature (legend item) provides specification of all the other descriptors
          - the association with a Sampling Feature provides the context and dimensionality 

A Mapped Feature is always associated with some sampling feature - e.g. a mapping surface, a section, a Borehole (see BoreHolesAndObservation) etc.  As noted on the diagram, if the associated sampling feature is a Borehole, then the shape associated with the MappedFeature will usually be either a point or an interval. This reconciles the 2-D ("map", section) and 1-D (borehole, traverse) viewpoints in a common abstraction.</documentation>
        </annotation>
    </element>
    <complexType name="MappedFeatureType">
        <complexContent>
            <extension base="gml:AbstractFeatureType">
                <sequence>
                    <element maxOccurs="unbounded" minOccurs="1" name="observationMethod" nillable="true">
                        <annotation>
                            <documentation>MappedFeature ObservationMethod is a metadata snippet indicating how the spatial extent of the mapped feature was determined, and the basis for association of the geometry with some GeologicFeature specification to define a MappedFeature. For a borehole, the MappedInterval observation method indicates how the boundaries of the interval were defined (eg, linear measurement from borehole collar). ObservationMethod is a convenience property that provides a quick and dirty approach to observation metadata when data are reported using a feature view (as opposed to observation view). This property corresponds (loosely) to ISO19115 Lineage.  (eg: digitised, Global Positioning System, published map, fieldObservation, downhole survey, aerial photography, field survey)</documentation>
                        </annotation>
                        <complexType>
                            <complexContent>
                                <extension base="swe:CategoryPropertyType">
                                    <attribute name="nilReason" type="gml:NilReasonType"/>
                                </extension>
                            </complexContent>
                        </complexType>
                    </element>
                    <element name="positionalAccuracy" nillable="true">
                        <annotation>
                            <documentation>Quantitative values define the radius of an uncertainty buffer around a mappedFeature (eg: a positionAccuracy of 100 m for a line feature defines a buffer polygon of total width 200 m centred on the line).  Corresponds to ISO19115 DQ_PositionalAccuracy.</documentation>
                        </annotation>
                        <complexType>
                            <complexContent>
                                <extension base="swe:QuantityPropertyType">
                                    <attribute name="nilReason" type="gml:NilReasonType"/>
                                </extension>
                            </complexContent>
                        </complexType>
                    </element>
                    <element name="resolutionScale" nillable="true" type="gmd:MD_RepresentativeFraction_PropertyType">
                        <annotation>
                            <documentation>Reciprocal of equivalent scale of resolution for delineation of a feature's geometry. This is in contrast to positionAccuracy which is a measure of how well a feature is located relative to other features in the geographic reference system.</documentation>
                        </annotation>
                    </element>
                    <element name="samplingFrame" type="gml:ReferenceType">
                        <annotation> 
                            <documentation>It is expected in GeoSciML that this byReference association will resolve to a SF_SpatialSamplingFeature instance which may include a spatial (GML) representation of the sampling frame (eg, a map tile, a 3D surface), or may resolve to a concept from a controlled source (eg,http://resource.geosciml.org/feature/cgi/EarthNaturalSurface)</documentation>
                            <appinfo>
                                <gml:targetElement>sams:SF_SpatialSamplingFeature</gml:targetElement>
                            </appinfo>
                        </annotation>
                    </element>
                    <element name="shape" type="gml:GeometryPropertyType"/>
                    <element name="specification" type="gsml:GeologicFeaturePropertyType">
                        <annotation>
                            <documentation>Point to the single geologic feature which describes the mapped feature.</documentation>
                        </annotation>
                    </element>
                    <element name="metadata" type="gmd:MD_Metadata_PropertyType" nillable="true"/>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="MappedFeaturePropertyType">
        <sequence minOccurs="0">
            <element ref="gsml:MappedFeature"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
        <attributeGroup ref="gml:OwnershipAttributeGroup"/>
    </complexType>
    <simpleType name="DescriptionPurposeType">
        <union memberTypes="gsml:DescriptionPurposeEnumerationType gsml:DescriptionPurposeOtherType"/>
    </simpleType>
    <simpleType name="DescriptionPurposeEnumerationType">
        <restriction base="string">
            <enumeration value="instance">
                <annotation>
                    <documentation>Instance -- a description that is specific to a particular observed occurrence. This is 'raw data', and its classification may start out as very general. There are kinds of narrowly defined ControlledConcepts that might not allow 'instances' that are different from the DefiningNorm. It might be worth considering a different relationship between MappedFeature and an Instance GeologicEntity, with the GeologicEntity role being 'description'.</documentation>
                </annotation>
            </enumeration>
            <enumeration value="definingNorm">
                <annotation>
                    <documentation>DefiningNorm -- a description that specifies properties sufficient to identify a new occurrence as belonging to the class represented by the description. Basically these are the 'sufficient conditions' for class membership. Used when presented with a query 'I have an outcrop with these properties; which geologic unit should I assign to the outcrop?' DefiningNorm has to do with the intension of a ControlledConcept.</documentation>
                </annotation>
            </enumeration>
            <enumeration value="typicalNorm">
                <annotation>
                    <documentation>TypicalNorm -- a description that specifies properties to be expected of some occurrence associated with the GeologicEntity. This description may include many properties that are not part of the DefiningNorm. For example, the fact that granite is typically light-colored is not a defining property, but is certainly a useful typical property. These kinds of descriptions would be used to address queries like 'This area is within a polygon classified as Podunk Formation; what sort of lithology am I most likely to encounter when I start digging?' The Podunk Formation may be defined by the presence of a certain ammonite... TypicalNorm description would be constructed as a summary over many Instance descriptions.</documentation>
                </annotation>
            </enumeration>
        </restriction>
    </simpleType>
    <simpleType name="DescriptionPurposeOtherType">
        <restriction base="string">
            <pattern value="other: \w{2,}"/>
        </restriction>
    </simpleType>
</schema>