deegree-demos/deegree-alkis/deegree-alkis-5/src/main/webapp/WEB-INF/conf/datasources/feature/gml/schemas/NAS5.1.1/AAA-Basisschema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- 
	Anwendungsschema: AAA Basisschema
	Erzeugt von NAS Schema Generator
	Erstellt: 22.02.2007 15:15:39
-->
<xs:schema 
	targetNamespace="http://www.adv-online.de/namespaces/adv/gid/5.1.1" 
	xmlns:adv="http://www.adv-online.de/namespaces/adv/gid/5.1.1" 
	xmlns:ows="http://www.opengeospatial.net/ows" 
	xmlns:wfsCap="http://www.opengis.net/wfs/capabilities" 
	xmlns:ogcFC="http://www.opengis.net/ogc/filterCapabilities" 
	xmlns:wfs="http://www.opengis.net/wfs" 
	xmlns:gml="http://www.opengis.net/gml" 
	xmlns:xs="http://www.w3.org/2001/XMLSchema" 
	elementFormDefault="qualified" 
	version="5.1.1">

<xs:include schemaLocation="ISO19100.xsd"/>
<xs:include schemaLocation="WFS-Erweiterungen.xsd"/>
<xs:import namespace="http://www.opengeospatial.net/ows" schemaLocation="ows/owsAll.xsd"/>
<xs:import namespace="http://www.opengis.net/wfs/capabilities" schemaLocation="wfs/1.0.0/WFS-capabilities.xsd"/>
<xs:import namespace="http://www.opengis.net/ogc/filterCapabilities" schemaLocation="filter/1.0.0/filterCapabilities.xsd"/>
<xs:include schemaLocation="AAA-Katalog.xsd"/>
<xs:import namespace="http://www.opengis.net/wfs" schemaLocation="wfs/1.0.0/WFS-transaction.xsd"/>
<xs:import namespace="http://www.opengis.net/gml" schemaLocation="gml/3.0.0/base/gml3nas.xsd"/>
	<!-- Paket AAA_Basisklassen -->

	<xs:element name="AA_ZUSO" type="adv:AA_ZUSOType" substitutionGroup="adv:AA_Objekt" abstract="true"/>
	<xs:complexType name="AA_ZUSOType" abstract="true">
		<xs:complexContent>
		<xs:extension base="adv:AA_ObjektType">
		<xs:sequence>
			<xs:element name="bestehtAus" type="adv:InverseReferenceType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation><xs:appinfo>
					<adv:referenziertesElement>adv:AA_Objekt</adv:referenziertesElement>
					<adv:inverseEigenschaft>adv:istTeilVon</adv:inverseEigenschaft>
				</xs:appinfo></xs:annotation>
			</xs:element>
		</xs:sequence>
		</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:element name="AA_REO" type="adv:AA_REOType" substitutionGroup="adv:AA_Objekt" abstract="true"/>
	<xs:complexType name="AA_REOType" abstract="true">
		<xs:complexContent>
		<xs:extension base="adv:AA_ObjektType">
		<xs:sequence>
			<xs:element name="traegtBeiZu" type="adv:InverseReferenceType" minOccurs="0">
				<xs:annotation><xs:appinfo>
					<adv:referenziertesElement>adv:AA_REO</adv:referenziertesElement>
					<adv:inverseEigenschaft>adv:istAbgeleitetAus</adv:inverseEigenschaft>
				</xs:appinfo></xs:annotation>
			</xs:element>
			<xs:element name="istAbgeleitetAus" type="gml:ReferenceType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation><xs:appinfo>
					<adv:referenziertesElement>adv:AA_REO</adv:referenziertesElement>
				</xs:appinfo></xs:annotation>
			</xs:element>
			<xs:element name="inversZu_hatDirektUnten" type="adv:InverseReferenceType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation><xs:appinfo>
					<adv:referenziertesElement>adv:AA_REO</adv:referenziertesElement>
					<adv:inverseEigenschaft>adv:hatDirektUnten</adv:inverseEigenschaft>
				</xs:appinfo></xs:annotation>
			</xs:element>
			<xs:element name="hatDirektUnten" type="gml:ReferenceType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation><xs:appinfo>
					<adv:referenziertesElement>adv:AA_REO</adv:referenziertesElement>
				</xs:appinfo></xs:annotation>
			</xs:element>
		</xs:sequence>
		</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:element name="AA_NREO" type="adv:AA_NREOType" substitutionGroup="adv:AA_Objekt" abstract="true"/>
	<xs:complexType name="AA_NREOType" abstract="true">
		<xs:complexContent>
		<xs:extension base="adv:AA_ObjektType">
		<xs:sequence/>
		</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:element name="AA_Objekt" type="adv:AA_ObjektType" substitutionGroup="gml:_Feature" abstract="true"/>
	<xs:complexType name="AA_ObjektType" abstract="true">
		<xs:complexContent>
		<xs:extension base="gml:AbstractFeatureType">
		<xs:sequence>
			<xs:element name="lebenszeitintervall">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="adv:AA_Lebenszeitintervall" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="modellart">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="adv:AA_Modellart" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="anlass" type="xs:string" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:appinfo><adv:referenzierteCodeList>adv:AA_Anlassart</adv:referenzierteCodeList></xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="zeigtAufExternes" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="adv:AA_Fachdatenverbindung" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="istTeilVon" type="gml:ReferenceType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation><xs:appinfo>
					<adv:referenziertesElement>adv:AA_ZUSO</adv:referenziertesElement>
				</xs:appinfo></xs:annotation>
			</xs:element>
			<xs:element name="inversZu_dientZurDarstellungVon" type="adv:InverseReferenceType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation><xs:appinfo>
					<adv:referenziertesElement>adv:AP_Darstellung</adv:referenziertesElement>
					<adv:referenziertesElement>adv:AP_LTO</adv:referenziertesElement>
					<adv:referenziertesElement>adv:AP_PTO</adv:referenziertesElement>
					<adv:referenziertesElement>adv:AP_FPO</adv:referenziertesElement>
					<adv:referenziertesElement>adv:AP_LPO</adv:referenziertesElement>
					<adv:referenziertesElement>adv:AP_PPO</adv:referenziertesElement>
					<adv:inverseEigenschaft>adv:dientZurDarstellungVon</adv:inverseEigenschaft>
				</xs:appinfo></xs:annotation>
			</xs:element>
		</xs:sequence>
		</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:element name="AA_Fachdatenverbindung" type="adv:AA_FachdatenverbindungType" substitutionGroup="gml:_Object"/>
	<xs:complexType name="AA_FachdatenverbindungType">
		<xs:sequence>
			<xs:element name="art" type="xs:anyURI"/>
			<xs:element name="fachdatenobjekt">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="adv:AA_Fachdatenobjekt" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:element name="AA_Lebenszeitintervall" type="adv:AA_LebenszeitintervallType" substitutionGroup="gml:_Object"/>
	<xs:complexType name="AA_LebenszeitintervallType">
		<xs:sequence>
			<xs:element name="beginnt" type="xs:dateTime"/>
			<xs:element name="endet" type="xs:dateTime" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>

	<xs:element name="AA_UUID" type="adv:AA_UUIDType"/>
	<xs:complexType name="AA_UUIDType">
		<xs:choice>
			<xs:element name="UUID" type="xs:string"/>
			<xs:element name="UUIDundZeit" type="xs:string"/>
		</xs:choice>
	</xs:complexType>

	<xs:element name="AA_Fachdatenobjekt" type="adv:AA_FachdatenobjektType"/>
	<xs:complexType name="AA_FachdatenobjektType">
		<xs:choice>
			<xs:element name="name" type="xs:string"/>
			<xs:element name="uri" type="xs:anyURI"/>
		</xs:choice>
	</xs:complexType>

	<xs:element name="AA_Modellart" type="adv:AA_ModellartType"/>
	<xs:complexType name="AA_ModellartType">
		<xs:choice>
			<xs:element name="advStandardModell" type="adv:AA_AdVStandardModellType"/>
			<xs:element name="sonstigesModell" type="xs:string">
				<xs:annotation>
					<xs:appinfo><adv:referenzierteCodeList>adv:AA_WeitereModellart</adv:referenzierteCodeList></xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:choice>
	</xs:complexType>

	<xs:simpleType name="AA_AdVStandardModellType">
		<xs:restriction base="xs:string">
			<!-- LiegenschaftskatasterModell -->
			<xs:enumeration value="DLKM"/>
			<!-- KatasterkartenModell500 -->
			<xs:enumeration value="DKKM500"/>
			<!-- KatasterkartenModell1000 -->
			<xs:enumeration value="DKKM1000"/>
			<!-- KatasterkartenModell2000 -->
			<xs:enumeration value="DKKM2000"/>
			<!-- KatasterkartenModell5000 -->
			<xs:enumeration value="DKKM5000"/>
			<!-- BasisLandschaftsModell -->
			<xs:enumeration value="Basis-DLM"/>
			<!-- LandschaftsModell50 -->
			<xs:enumeration value="DLM50"/>
			<!-- LandschaftsModell250 -->
			<xs:enumeration value="DLM250"/>
			<!-- LandschaftsModell1000 -->
			<xs:enumeration value="DLM1000"/>
			<!-- TopographischeKarte10 -->
			<xs:enumeration value="DTK10"/>
			<!-- TopographischeKarte25 -->
			<xs:enumeration value="DTK25"/>
			<!-- TopographischeKarte50 -->
			<xs:enumeration value="DTK50"/>
			<!-- TopographischeKarte100 -->
			<xs:enumeration value="DTK100"/>
			<!-- TopographischeKarte250 -->
			<xs:enumeration value="DTK250"/>
			<!-- TopographischeKarte1000 -->
			<xs:enumeration value="DTK1000"/>
			<!-- Festpunktmodell -->
			<xs:enumeration value="DFGM"/>
			<!-- DigitalesGelaendemodell2 -->
			<xs:enumeration value="DGM2"/>
			<!-- DigitalesGelaendemodell5 -->
			<xs:enumeration value="DGM5"/>
			<!-- DigitalesGelaendemodell25 -->
			<xs:enumeration value="DGM25"/>
			<!-- Digitales Gelaendemodell50 -->
			<xs:enumeration value="DGM50"/>
		</xs:restriction>
	</xs:simpleType>

	<!-- Paket AAA_Unabhaengige Geometrie -->

	<xs:element name="AU_Punktobjekt" type="adv:AU_PunktobjektType" substitutionGroup="adv:AU_ObjektMitUnabhaengigerGeometrie" abstract="true"/>
	<xs:complexType name="AU_PunktobjektType" abstract="true">
		<xs:complexContent>
		<xs:extension base="adv:AU_ObjektMitUnabhaengigerGeometrieType">
		<xs:sequence>
			<xs:element name="position" type="gml:PointPropertyType"/>
		</xs:sequence>
		</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:element name="AU_Linienobjekt" type="adv:AU_LinienobjektType" substitutionGroup="adv:AU_ObjektMitUnabhaengigerGeometrie" abstract="true"/>
	<xs:complexType name="AU_LinienobjektType" abstract="true">
		<xs:complexContent>
		<xs:extension base="adv:AU_ObjektMitUnabhaengigerGeometrieType">
		<xs:sequence>
			<xs:element name="position" type="gml:MultiCurvePropertyType"/>
		</xs:sequence>
		</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:element name="AU_Flaechenobjekt" type="adv:AU_FlaechenobjektType" substitutionGroup="adv:AU_ObjektMitUnabhaengigerGeometrie" abstract="true"/>
	<xs:complexType name="AU_FlaechenobjektType" abstract="true">
		<xs:complexContent>
		<xs:extension base="adv:AU_ObjektMitUnabhaengigerGeometrieType">
		<xs:sequence>
			<xs:element name="position"><xs:complexType><xs:choice><xs:element ref="gml:Surface"/><xs:element ref="gml:MultiSurface"/></xs:choice></xs:complexType></xs:element>
		</xs:sequence>
		</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:element name="AU_KontinuierlichesLinienobjekt" type="adv:AU_KontinuierlichesLinienobjektType" substitutionGroup="adv:AU_ObjektMitUnabhaengigerGeometrie" abstract="true"/>
	<xs:complexType name="AU_KontinuierlichesLinienobjektType" abstract="true">
		<xs:complexContent>
		<xs:extension base="adv:AU_ObjektMitUnabhaengigerGeometrieType">
		<xs:sequence>
			<xs:element name="position"><xs:complexType><xs:choice><xs:element ref="gml:Curve"/><xs:element ref="gml:CompositeCurve"/></xs:choice></xs:complexType></xs:element>
		</xs:sequence>
		</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:element name="AU_Objekt" type="adv:AU_ObjektType" substitutionGroup="adv:AU_ObjektMitUnabhaengigerGeometrie" abstract="true"/>
	<xs:complexType name="AU_ObjektType" abstract="true">
		<xs:complexContent>
		<xs:extension base="adv:AU_ObjektMitUnabhaengigerGeometrieType">
		<xs:sequence>
			<xs:element name="position"><xs:complexType><xs:choice><xs:element ref="gml:Point"/><xs:element ref="gml:Curve"/><xs:element ref="gml:CompositeCurve"/><xs:element ref="gml:MultiCurve"/><xs:element ref="gml:Surface"/><xs:element ref="gml:MultiSurface"/></xs:choice></xs:complexType></xs:element>
		</xs:sequence>
		</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:element name="AU_Punkthaufenobjekt" type="adv:AU_PunkthaufenobjektType" substitutionGroup="adv:AU_ObjektMitUnabhaengigerGeometrie" abstract="true"/>
	<xs:complexType name="AU_PunkthaufenobjektType" abstract="true">
		<xs:complexContent>
		<xs:extension base="adv:AU_ObjektMitUnabhaengigerGeometrieType">
		<xs:sequence>
			<xs:element name="position"><xs:complexType><xs:choice><xs:element ref="gml:Point"/><xs:element ref="gml:MultiPoint"/></xs:choice></xs:complexType></xs:element>
		</xs:sequence>
		</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<!-- Paket AAA_Katalog -->

	<!-- Paket AAA_Praesentationsobjekte -->

	<xs:element name="AP_PPO" type="adv:AP_PPOType" substitutionGroup="adv:AU_Punkthaufenobjekt"/>
	<xs:complexType name="AP_PPOType">
		<xs:complexContent>
		<xs:extension base="adv:AU_PunkthaufenobjektType">
		<xs:sequence>
			<xs:element name="signaturnummer" type="xs:string" minOccurs="0"/>
			<xs:element name="darstellungsprioritaet" type="xs:integer" minOccurs="0"/>
			<xs:element name="art" type="xs:string" minOccurs="0"/>
			<xs:element name="dientZurDarstellungVon" type="gml:ReferenceType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation><xs:appinfo>
					<adv:referenziertesElement>adv:AA_Objekt</adv:referenziertesElement>
				</xs:appinfo></xs:annotation>
			</xs:element>
			<xs:element name="drehwinkel" type="gml:AngleType" minOccurs="0" default="0"/>
			<xs:element name="skalierung" type="xs:double" minOccurs="0" default="1"/>
		</xs:sequence>
		</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:element name="AP_LPO" type="adv:AP_LPOType" substitutionGroup="adv:AU_Linienobjekt"/>
	<xs:complexType name="AP_LPOType">
		<xs:complexContent>
		<xs:extension base="adv:AU_LinienobjektType">
		<xs:sequence>
			<xs:element name="signaturnummer" type="xs:string" minOccurs="0"/>
			<xs:element name="darstellungsprioritaet" type="xs:integer" minOccurs="0"/>
			<xs:element name="art" type="xs:string" minOccurs="0"/>
			<xs:element name="dientZurDarstellungVon" type="gml:ReferenceType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation><xs:appinfo>
					<adv:referenziertesElement>adv:AA_Objekt</adv:referenziertesElement>
				</xs:appinfo></xs:annotation>
			</xs:element>
			<xs:element name="inversZu_hat" type="adv:InverseReferenceType" minOccurs="0">
				<xs:annotation><xs:appinfo>
					<adv:referenziertesElement>adv:AP_LTO</adv:referenziertesElement>
					<adv:referenziertesElement>adv:AP_PTO</adv:referenziertesElement>
					<adv:inverseEigenschaft>adv:hat</adv:inverseEigenschaft>
				</xs:appinfo></xs:annotation>
			</xs:element>
		</xs:sequence>
		</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:element name="AP_FPO" type="adv:AP_FPOType" substitutionGroup="adv:AU_Flaechenobjekt"/>
	<xs:complexType name="AP_FPOType">
		<xs:complexContent>
		<xs:extension base="adv:AU_FlaechenobjektType">
		<xs:sequence>
			<xs:element name="signaturnummer" type="xs:string" minOccurs="0"/>
			<xs:element name="darstellungsprioritaet" type="xs:integer" minOccurs="0"/>
			<xs:element name="art" type="xs:string" minOccurs="0"/>
			<xs:element name="dientZurDarstellungVon" type="gml:ReferenceType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation><xs:appinfo>
					<adv:referenziertesElement>adv:AA_Objekt</adv:referenziertesElement>
				</xs:appinfo></xs:annotation>
			</xs:element>
		</xs:sequence>
		</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:simpleType name="AP_HorizontaleAusrichtungType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="linksbündig"/>
			<xs:enumeration value="rechtsbündig"/>
			<xs:enumeration value="zentrisch"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:element name="AP_PTO" type="adv:AP_PTOType" substitutionGroup="adv:AU_Punktobjekt"/>
	<xs:complexType name="AP_PTOType">
		<xs:complexContent>
		<xs:extension base="adv:AU_PunktobjektType">
		<xs:sequence>
			<xs:element name="signaturnummer" type="xs:string" minOccurs="0"/>
			<xs:element name="darstellungsprioritaet" type="xs:integer" minOccurs="0"/>
			<xs:element name="art" type="xs:string" minOccurs="0"/>
			<xs:element name="dientZurDarstellungVon" type="gml:ReferenceType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation><xs:appinfo>
					<adv:referenziertesElement>adv:AA_Objekt</adv:referenziertesElement>
				</xs:appinfo></xs:annotation>
			</xs:element>
			<xs:element name="schriftinhalt" type="xs:string" minOccurs="0"/>
			<xs:element name="fontSperrung" type="xs:double" default="0"/>
			<xs:element name="skalierung" type="xs:double" default="1"/>
			<xs:element name="horizontaleAusrichtung" type="adv:AP_HorizontaleAusrichtungType" default="zentrisch"/>
			<xs:element name="vertikaleAusrichtung" type="adv:AP_VertikaleAusrichtungType" default="Mitte"/>
			<xs:element name="hat" type="gml:ReferenceType" minOccurs="0">
				<xs:annotation><xs:appinfo>
					<adv:referenziertesElement>adv:AP_LPO</adv:referenziertesElement>
				</xs:appinfo></xs:annotation>
			</xs:element>
			<xs:element name="drehwinkel" type="gml:AngleType" minOccurs="0" default="0"/>
		</xs:sequence>
		</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:element name="AP_LTO" type="adv:AP_LTOType" substitutionGroup="adv:AU_KontinuierlichesLinienobjekt"/>
	<xs:complexType name="AP_LTOType">
		<xs:complexContent>
		<xs:extension base="adv:AU_KontinuierlichesLinienobjektType">
		<xs:sequence>
			<xs:element name="signaturnummer" type="xs:string" minOccurs="0"/>
			<xs:element name="darstellungsprioritaet" type="xs:integer" minOccurs="0"/>
			<xs:element name="art" type="xs:string" minOccurs="0"/>
			<xs:element name="dientZurDarstellungVon" type="gml:ReferenceType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation><xs:appinfo>
					<adv:referenziertesElement>adv:AA_Objekt</adv:referenziertesElement>
				</xs:appinfo></xs:annotation>
			</xs:element>
			<xs:element name="schriftinhalt" type="xs:string" minOccurs="0"/>
			<xs:element name="fontSperrung" type="xs:double" default="0"/>
			<xs:element name="skalierung" type="xs:double" default="1"/>
			<xs:element name="horizontaleAusrichtung" type="adv:AP_HorizontaleAusrichtungType" default="zentrisch"/>
			<xs:element name="vertikaleAusrichtung" type="adv:AP_VertikaleAusrichtungType" default="Mitte"/>
			<xs:element name="hat" type="gml:ReferenceType" minOccurs="0">
				<xs:annotation><xs:appinfo>
					<adv:referenziertesElement>adv:AP_LPO</adv:referenziertesElement>
				</xs:appinfo></xs:annotation>
			</xs:element>
		</xs:sequence>
		</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:simpleType name="AP_VertikaleAusrichtungType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Basis"/>
			<xs:enumeration value="Mitte"/>
			<xs:enumeration value="oben"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:element name="AP_Darstellung" type="adv:AP_DarstellungType" substitutionGroup="adv:AA_NREO"/>
	<xs:complexType name="AP_DarstellungType">
		<xs:complexContent>
		<xs:extension base="adv:AA_NREOType">
		<xs:sequence>
			<xs:element name="signaturnummer" type="xs:string" minOccurs="0"/>
			<xs:element name="darstellungsprioritaet" type="xs:integer" minOccurs="0"/>
			<xs:element name="art" type="xs:string" minOccurs="0"/>
			<xs:element name="dientZurDarstellungVon" type="gml:ReferenceType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation><xs:appinfo>
					<adv:referenziertesElement>adv:AA_Objekt</adv:referenziertesElement>
				</xs:appinfo></xs:annotation>
			</xs:element>
			<xs:element name="positionierungsregel" type="xs:string" minOccurs="0"/>
		</xs:sequence>
		</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<!-- Paket AAA_Spatial Schema -->

	<xs:element name="AG_ObjektMitGemeinsamerGeometrie" type="adv:AG_ObjektMitGemeinsamerGeometrieType" substitutionGroup="adv:AA_REO" abstract="true"/>
	<xs:complexType name="AG_ObjektMitGemeinsamerGeometrieType" abstract="true">
		<xs:complexContent>
		<xs:extension base="adv:AA_REOType">
		<xs:sequence/>
		</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:element name="TA_SurfaceComponent" type="adv:TA_SurfaceComponentType" substitutionGroup="adv:AG_ObjektMitGemeinsamerGeometrie" abstract="true"/>
	<xs:complexType name="TA_SurfaceComponentType" abstract="true">
		<xs:complexContent>
		<xs:extension base="adv:AG_ObjektMitGemeinsamerGeometrieType">
		<xs:sequence>
			<xs:element name="position" type="gml:SurfacePropertyType"/>
		</xs:sequence>
		</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:element name="TA_CurveComponent" type="adv:TA_CurveComponentType" substitutionGroup="adv:AG_ObjektMitGemeinsamerGeometrie" abstract="true"/>
	<xs:complexType name="TA_CurveComponentType" abstract="true">
		<xs:complexContent>
		<xs:extension base="adv:AG_ObjektMitGemeinsamerGeometrieType">
		<xs:sequence>
			<xs:element name="position"><xs:complexType><xs:choice><xs:element ref="gml:Curve"/><xs:element ref="gml:CompositeCurve"/></xs:choice></xs:complexType></xs:element>
		</xs:sequence>
		</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:element name="TA_PointComponent" type="adv:TA_PointComponentType" substitutionGroup="adv:AG_ObjektMitGemeinsamerGeometrie" abstract="true"/>
	<xs:complexType name="TA_PointComponentType" abstract="true">
		<xs:complexContent>
		<xs:extension base="adv:AG_ObjektMitGemeinsamerGeometrieType">
		<xs:sequence>
			<xs:element name="position" type="gml:PointPropertyType"/>
		</xs:sequence>
		</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:element name="TA_MultiSurfaceComponent" type="adv:TA_MultiSurfaceComponentType" substitutionGroup="adv:AG_ObjektMitGemeinsamerGeometrie" abstract="true"/>
	<xs:complexType name="TA_MultiSurfaceComponentType" abstract="true">
		<xs:complexContent>
		<xs:extension base="adv:AG_ObjektMitGemeinsamerGeometrieType">
		<xs:sequence>
			<xs:element name="position"><xs:complexType><xs:choice><xs:element ref="gml:Surface"/><xs:element ref="gml:MultiSurface"/></xs:choice></xs:complexType></xs:element>
		</xs:sequence>
		</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:element name="AU_ObjektMitUnabhaengigerGeometrie" type="adv:AU_ObjektMitUnabhaengigerGeometrieType" substitutionGroup="adv:AA_REO" abstract="true"/>
	<xs:complexType name="AU_ObjektMitUnabhaengigerGeometrieType" abstract="true">
		<xs:complexContent>
		<xs:extension base="adv:AA_REOType">
		<xs:sequence/>
		</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<!-- Paket AAA_GemeinsameGeometrie -->

	<xs:element name="AG_Punktobjekt" type="adv:AG_PunktobjektType" substitutionGroup="adv:AG_ObjektMitGemeinsamerGeometrie" abstract="true"/>
	<xs:complexType name="AG_PunktobjektType" abstract="true">
		<xs:complexContent>
		<xs:extension base="adv:AG_ObjektMitGemeinsamerGeometrieType">
		<xs:sequence>
			<xs:element name="position" type="gml:PointPropertyType"/>
		</xs:sequence>
		</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:element name="AG_Linienobjekt" type="adv:AG_LinienobjektType" substitutionGroup="adv:AG_ObjektMitGemeinsamerGeometrie" abstract="true"/>
	<xs:complexType name="AG_LinienobjektType" abstract="true">
		<xs:complexContent>
		<xs:extension base="adv:AG_ObjektMitGemeinsamerGeometrieType">
		<xs:sequence>
			<xs:element name="position"><xs:complexType><xs:sequence><xs:element ref="gml:CompositeCurve"/></xs:sequence></xs:complexType></xs:element>
		</xs:sequence>
		</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:element name="AG_Flaechenobjekt" type="adv:AG_FlaechenobjektType" substitutionGroup="adv:AG_ObjektMitGemeinsamerGeometrie" abstract="true"/>
	<xs:complexType name="AG_FlaechenobjektType" abstract="true">
		<xs:complexContent>
		<xs:extension base="adv:AG_ObjektMitGemeinsamerGeometrieType">
		<xs:sequence>
			<xs:element name="position"><xs:complexType><xs:choice><xs:element ref="gml:Surface"/><xs:element ref="gml:MultiSurface"/></xs:choice></xs:complexType></xs:element>
		</xs:sequence>
		</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:element name="AG_Objekt" type="adv:AG_ObjektType" substitutionGroup="adv:AG_ObjektMitGemeinsamerGeometrie" abstract="true"/>
	<xs:complexType name="AG_ObjektType" abstract="true">
		<xs:complexContent>
		<xs:extension base="adv:AG_ObjektMitGemeinsamerGeometrieType">
		<xs:sequence>
			<xs:element name="position"><xs:complexType><xs:choice><xs:element ref="gml:Point"/><xs:element ref="gml:CompositeCurve"/><xs:element ref="gml:Surface"/><xs:element ref="gml:MultiSurface"/></xs:choice></xs:complexType></xs:element>
		</xs:sequence>
		</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<!-- Paket AAA_Punktmengenobjekte -->

	<xs:element name="AD_PunktCoverage" type="adv:AD_PunktCoverageType" substitutionGroup="gml:MultiPointCoverage" abstract="true"/>
	<xs:complexType name="AD_PunktCoverageType" abstract="true">
		<xs:complexContent>
		<xs:extension base="gml:MultiPointCoverageType">
		<xs:sequence>
			<xs:element name="lebenszeitintervall">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="adv:AA_Lebenszeitintervall" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="modellart">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="adv:AA_Modellart" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="anlass" type="xs:string" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:appinfo><adv:referenzierteCodeList>adv:AA_Anlassart</adv:referenzierteCodeList></xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="zeigtAufExternes" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="adv:AA_Fachdatenverbindung" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="istTeilVon" type="gml:ReferenceType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation><xs:appinfo>
					<adv:referenziertesElement>adv:AA_ZUSO</adv:referenziertesElement>
				</xs:appinfo></xs:annotation>
			</xs:element>
			<xs:element name="inversZu_dientZurDarstellungVon" type="adv:InverseReferenceType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation><xs:appinfo>
					<adv:referenziertesElement>adv:AP_Darstellung</adv:referenziertesElement>
					<adv:referenziertesElement>adv:AP_LTO</adv:referenziertesElement>
					<adv:referenziertesElement>adv:AP_PTO</adv:referenziertesElement>
					<adv:referenziertesElement>adv:AP_FPO</adv:referenziertesElement>
					<adv:referenziertesElement>adv:AP_LPO</adv:referenziertesElement>
					<adv:referenziertesElement>adv:AP_PPO</adv:referenziertesElement>
					<adv:inverseEigenschaft>adv:dientZurDarstellungVon</adv:inverseEigenschaft>
				</xs:appinfo></xs:annotation>
			</xs:element>
			<xs:element name="name" type="xs:string" minOccurs="0"/>
			<xs:element name="beschreibung" type="xs:string" minOccurs="0"/>
		</xs:sequence>
		</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:element name="AD_GitterCoverage" type="adv:AD_GitterCoverageType" substitutionGroup="gml:RectifiedGridCoverage" abstract="true"/>
	<xs:complexType name="AD_GitterCoverageType" abstract="true">
		<xs:complexContent>
		<xs:extension base="gml:RectifiedGridCoverageType">
		<xs:sequence>
			<xs:element name="lebenszeitintervall">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="adv:AA_Lebenszeitintervall" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="modellart">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="adv:AA_Modellart" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="anlass" type="xs:string" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:appinfo><adv:referenzierteCodeList>adv:AA_Anlassart</adv:referenzierteCodeList></xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="zeigtAufExternes" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="adv:AA_Fachdatenverbindung" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="istTeilVon" type="gml:ReferenceType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation><xs:appinfo>
					<adv:referenziertesElement>adv:AA_ZUSO</adv:referenziertesElement>
				</xs:appinfo></xs:annotation>
			</xs:element>
			<xs:element name="inversZu_dientZurDarstellungVon" type="adv:InverseReferenceType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation><xs:appinfo>
					<adv:referenziertesElement>adv:AP_Darstellung</adv:referenziertesElement>
					<adv:referenziertesElement>adv:AP_LTO</adv:referenziertesElement>
					<adv:referenziertesElement>adv:AP_PTO</adv:referenziertesElement>
					<adv:referenziertesElement>adv:AP_FPO</adv:referenziertesElement>
					<adv:referenziertesElement>adv:AP_LPO</adv:referenziertesElement>
					<adv:referenziertesElement>adv:AP_PPO</adv:referenziertesElement>
					<adv:inverseEigenschaft>adv:dientZurDarstellungVon</adv:inverseEigenschaft>
				</xs:appinfo></xs:annotation>
			</xs:element>
			<xs:element name="name" type="xs:string" minOccurs="0"/>
			<xs:element name="beschreibung" type="xs:string" minOccurs="0"/>
		</xs:sequence>
		</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<!-- Paket AAA_Projektsteuerung -->

	<xs:element name="AA_Antrag" type="adv:AA_AntragType" substitutionGroup="adv:AA_NREO"/>
	<xs:complexType name="AA_AntragType">
		<xs:complexContent>
		<xs:extension base="adv:AA_NREOType">
		<xs:sequence>
			<xs:element name="kennzeichen" type="xs:string"/>
			<xs:element name="antragUnterbrochen" type="xs:boolean" default="false"/>
			<xs:element name="erlaeuterungZumStatus" type="xs:string" minOccurs="0"/>
			<xs:element name="verweistAuf" type="gml:ReferenceType" maxOccurs="unbounded">
				<xs:annotation><xs:appinfo>
					<adv:referenziertesElement>adv:AA_Projektsteuerung</adv:referenziertesElement>
				</xs:appinfo></xs:annotation>
			</xs:element>
			<xs:element name="inversZu_" type="adv:InverseReferenceType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation><xs:appinfo>
					<adv:referenziertesElement>adv:AA_Objekt</adv:referenziertesElement>
					<adv:inverseEigenschaft>adv:</adv:inverseEigenschaft>
				</xs:appinfo></xs:annotation>
			</xs:element>
			<xs:element name="art" type="gml:ReferenceType">
				<xs:annotation><xs:appinfo>
					<adv:referenziertesElement>adv:AA_Antragsart</adv:referenziertesElement>
				</xs:appinfo></xs:annotation>
			</xs:element>
			<xs:element name="bearbeitungsstatus" type="gml:ReferenceType" minOccurs="0">
				<xs:annotation><xs:appinfo>
					<adv:referenziertesElement>adv:AA_Meilenstein</adv:referenziertesElement>
				</xs:appinfo></xs:annotation>
			</xs:element>
			<xs:element name="gebiet" type="gml:ReferenceType" minOccurs="0">
				<xs:annotation><xs:appinfo>
					<adv:referenziertesElement>adv:AA_Antragsgebiet</adv:referenziertesElement>
				</xs:appinfo></xs:annotation>
			</xs:element>
		</xs:sequence>
		</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:element name="AA_Projektsteuerung" type="adv:AA_ProjektsteuerungType" substitutionGroup="adv:AA_NREO"/>
	<xs:complexType name="AA_ProjektsteuerungType">
		<xs:complexContent>
		<xs:extension base="adv:AA_NREOType">
		<xs:sequence>
			<xs:element name="anlassDesProzesses" type="xs:string" maxOccurs="unbounded">
				<xs:annotation>
					<xs:appinfo><adv:referenzierteCodeList>adv:AA_Anlassart</adv:referenzierteCodeList></xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="gebuehrenparameter" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:appinfo><adv:referenzierteCodeList>adv:AA_Gebuehrenparameter</adv:referenzierteCodeList></xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="inversZu_verweistAuf" type="adv:InverseReferenceType" minOccurs="0">
				<xs:annotation><xs:appinfo>
					<adv:referenziertesElement>adv:AA_Antrag</adv:referenziertesElement>
					<adv:inverseEigenschaft>adv:verweistAuf</adv:inverseEigenschaft>
				</xs:appinfo></xs:annotation>
			</xs:element>
			<xs:element name="enthaelt" type="gml:ReferenceType" maxOccurs="unbounded">
				<xs:annotation><xs:appinfo>
					<adv:referenziertesElement>adv:AA_Vorgang</adv:referenziertesElement>
				</xs:appinfo></xs:annotation>
			</xs:element>
			<xs:element name="art" type="gml:ReferenceType">
				<xs:annotation><xs:appinfo>
					<adv:referenziertesElement>adv:AA_Projektsteuerungsart</adv:referenziertesElement>
				</xs:appinfo></xs:annotation>
			</xs:element>
		</xs:sequence>
		</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:element name="AA_Meilenstein" type="adv:AA_MeilensteinType" substitutionGroup="adv:AA_NREO"/>
	<xs:complexType name="AA_MeilensteinType">
		<xs:complexContent>
		<xs:extension base="adv:AA_NREOType">
		<xs:sequence>
			<xs:element name="begonnen" type="xs:boolean" minOccurs="0" default="false"/>
			<xs:element name="abgeschlossen" type="xs:boolean" minOccurs="0" default="false"/>
			<xs:element name="erfolgreich" type="xs:boolean" minOccurs="0"/>
			<xs:element name="wannAbgeschlossen" type="xs:dateTime" minOccurs="0"/>
			<xs:element name="kategorie" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:appinfo><adv:referenzierteCodeList>adv:AA_BesondereMeilensteinkategorie</adv:referenzierteCodeList></xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="bemerkung" type="xs:string" minOccurs="0"/>
			<xs:element name="wer" type="gml:ReferenceType" minOccurs="0">
				<xs:annotation><xs:appinfo>
					<adv:referenziertesElement>adv:AA_Benutzer</adv:referenziertesElement>
				</xs:appinfo></xs:annotation>
			</xs:element>
			<xs:element name="vonAktivitaet" type="adv:InverseReferenceType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation><xs:appinfo>
					<adv:referenziertesElement>adv:AA_Aktivitaet</adv:referenziertesElement>
					<adv:inverseEigenschaft>adv:status</adv:inverseEigenschaft>
				</xs:appinfo></xs:annotation>
			</xs:element>
			<xs:element name="vonVorgang" type="adv:InverseReferenceType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation><xs:appinfo>
					<adv:referenziertesElement>adv:AA_Vorgang</adv:referenziertesElement>
					<adv:inverseEigenschaft>adv:status</adv:inverseEigenschaft>
				</xs:appinfo></xs:annotation>
			</xs:element>
			<xs:element name="vonAntrag" type="adv:InverseReferenceType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation><xs:appinfo>
					<adv:referenziertesElement>adv:AA_Antrag</adv:referenziertesElement>
					<adv:inverseEigenschaft>adv:bearbeitungsstatus</adv:inverseEigenschaft>
				</xs:appinfo></xs:annotation>
			</xs:element>
		</xs:sequence>
		</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:element name="AA_Vorgang" type="adv:AA_VorgangType" substitutionGroup="adv:AA_NREO"/>
	<xs:complexType name="AA_VorgangType">
		<xs:complexContent>
		<xs:extension base="adv:AA_NREOType">
		<xs:sequence>
			<xs:element name="erlaeuterung" type="xs:string" minOccurs="0"/>
			<xs:element name="inversZu_enthaelt" type="adv:InverseReferenceType" minOccurs="0">
				<xs:annotation><xs:appinfo>
					<adv:referenziertesElement>adv:AA_Projektsteuerung</adv:referenziertesElement>
					<adv:inverseEigenschaft>adv:enthaelt</adv:inverseEigenschaft>
				</xs:appinfo></xs:annotation>
			</xs:element>
			<xs:element name="art" type="gml:ReferenceType">
				<xs:annotation><xs:appinfo>
					<adv:referenziertesElement>adv:AA_Vorgangsart</adv:referenziertesElement>
				</xs:appinfo></xs:annotation>
			</xs:element>
			<xs:element name="bearbeitbarDurch" type="gml:ReferenceType">
				<xs:annotation><xs:appinfo>
					<adv:referenziertesElement>adv:AA_Benutzergruppe</adv:referenziertesElement>
				</xs:appinfo></xs:annotation>
			</xs:element>
			<xs:element name="enthaelt" type="gml:ReferenceType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation><xs:appinfo>
					<adv:referenziertesElement>adv:AA_Aktivitaet</adv:referenziertesElement>
				</xs:appinfo></xs:annotation>
			</xs:element>
			<xs:element name="inversZu_synchronisiertMit" type="adv:InverseReferenceType" minOccurs="0">
				<xs:annotation><xs:appinfo>
					<adv:referenziertesElement>adv:AA_Vorgang</adv:referenziertesElement>
					<adv:inverseEigenschaft>adv:synchronisiertMit</adv:inverseEigenschaft>
				</xs:appinfo></xs:annotation>
			</xs:element>
			<xs:element name="synchronisiertMit" type="gml:ReferenceType" minOccurs="0">
				<xs:annotation><xs:appinfo>
					<adv:referenziertesElement>adv:AA_Vorgang</adv:referenziertesElement>
				</xs:appinfo></xs:annotation>
			</xs:element>
			<xs:element name="status" type="gml:ReferenceType">
				<xs:annotation><xs:appinfo>
					<adv:referenziertesElement>adv:AA_Meilenstein</adv:referenziertesElement>
				</xs:appinfo></xs:annotation>
			</xs:element>
		</xs:sequence>
		</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:element name="AA_Projektsteuerungsart" type="adv:AA_ProjektsteuerungsartType" substitutionGroup="gml:_Feature"/>
	<xs:complexType name="AA_ProjektsteuerungsartType">
		<xs:complexContent>
		<xs:extension base="gml:AbstractFeatureType">
		<xs:sequence>
			<xs:element name="name" type="xs:string"/>
			<xs:element name="definition" type="xs:string" minOccurs="0"/>
			<xs:element name="erlaubterFortfuehrungsanlass" type="xs:string" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:appinfo><adv:referenzierteCodeList>adv:AA_Anlassart</adv:referenzierteCodeList></xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="gebietPflicht" type="xs:boolean" minOccurs="0" default="false"/>
			<xs:element name="gebuehrenparameterart" type="xs:string" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:appinfo><adv:referenzierteCodeList>adv:AA_Gebuehrenparameter</adv:referenzierteCodeList></xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="inversZu_nichtKombinierbarMit" type="adv:InverseReferenceType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation><xs:appinfo>
					<adv:referenziertesElement>adv:AA_Projektsteuerungsart</adv:referenziertesElement>
					<adv:inverseEigenschaft>adv:nichtKombinierbarMit</adv:inverseEigenschaft>
				</xs:appinfo></xs:annotation>
			</xs:element>
			<xs:element name="nichtKombinierbarMit" type="gml:ReferenceType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation><xs:appinfo>
					<adv:referenziertesElement>adv:AA_Projektsteuerungsart</adv:referenziertesElement>
				</xs:appinfo></xs:annotation>
			</xs:element>
			<xs:element name="inversZu_art" type="adv:InverseReferenceType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation><xs:appinfo>
					<adv:referenziertesElement>adv:AA_Projektsteuerung</adv:referenziertesElement>
					<adv:inverseEigenschaft>adv:art</adv:inverseEigenschaft>
				</xs:appinfo></xs:annotation>
			</xs:element>
			<xs:element name="inversZu_prozessart" type="adv:InverseReferenceType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation><xs:appinfo>
					<adv:referenziertesElement>adv:AA_Projektsteuerungskatalog</adv:referenziertesElement>
					<adv:inverseEigenschaft>adv:prozessart</adv:inverseEigenschaft>
				</xs:appinfo></xs:annotation>
			</xs:element>
			<xs:element name="inversZu_projektsteuerungsart" type="adv:InverseReferenceType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation><xs:appinfo>
					<adv:referenziertesElement>adv:AA_Antragsart</adv:referenziertesElement>
					<adv:inverseEigenschaft>adv:projektsteuerungsart</adv:inverseEigenschaft>
				</xs:appinfo></xs:annotation>
			</xs:element>
			<xs:element name="vorgang" type="gml:ReferenceType" maxOccurs="unbounded">
				<xs:annotation><xs:appinfo>
					<adv:referenziertesElement>adv:AA_VorgangInProzess</adv:referenziertesElement>
				</xs:appinfo></xs:annotation>
			</xs:element>
		</xs:sequence>
		</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:element name="AA_Vorgangsart" type="adv:AA_VorgangsartType" substitutionGroup="gml:_Feature"/>
	<xs:complexType name="AA_VorgangsartType">
		<xs:complexContent>
		<xs:extension base="gml:AbstractFeatureType">
		<xs:sequence>
			<xs:element name="name" type="xs:string"/>
			<xs:element name="definition" type="xs:string" minOccurs="0"/>
			<xs:element name="zulaessigeBenutzergruppe" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="synchronisiert" type="xs:boolean" minOccurs="0" default="true"/>
			<xs:element name="inversZu_artVorgang" type="adv:InverseReferenceType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation><xs:appinfo>
					<adv:referenziertesElement>adv:AA_VorgangInProzess</adv:referenziertesElement>
					<adv:inverseEigenschaft>adv:artVorgang</adv:inverseEigenschaft>
				</xs:appinfo></xs:annotation>
			</xs:element>
			<xs:element name="inversZu_voraussetzung" type="adv:InverseReferenceType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation><xs:appinfo>
					<adv:referenziertesElement>adv:AA_VorgangInProzess</adv:referenziertesElement>
					<adv:inverseEigenschaft>adv:voraussetzung</adv:inverseEigenschaft>
				</xs:appinfo></xs:annotation>
			</xs:element>
			<xs:element name="inversZu_art" type="adv:InverseReferenceType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation><xs:appinfo>
					<adv:referenziertesElement>adv:AA_Vorgang</adv:referenziertesElement>
					<adv:inverseEigenschaft>adv:art</adv:inverseEigenschaft>
				</xs:appinfo></xs:annotation>
			</xs:element>
			<xs:element name="inversZu_vorgangsart" type="adv:InverseReferenceType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation><xs:appinfo>
					<adv:referenziertesElement>adv:AA_Projektsteuerungskatalog</adv:referenziertesElement>
					<adv:inverseEigenschaft>adv:vorgangsart</adv:inverseEigenschaft>
				</xs:appinfo></xs:annotation>
			</xs:element>
			<xs:element name="aktivitaet" type="gml:ReferenceType" maxOccurs="unbounded">
				<xs:annotation><xs:appinfo>
					<adv:referenziertesElement>adv:AA_AktivitaetInVorgang</adv:referenziertesElement>
				</xs:appinfo></xs:annotation>
			</xs:element>
		</xs:sequence>
		</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:element name="AA_VorgangInProzess" type="adv:AA_VorgangInProzessType" substitutionGroup="gml:_Feature"/>
	<xs:complexType name="AA_VorgangInProzessType">
		<xs:complexContent>
		<xs:extension base="gml:AbstractFeatureType">
		<xs:sequence>
			<xs:element name="dokumentation" type="adv:AA_DokumentationsbedarfType" minOccurs="0" default="1000"/>
			<xs:element name="optional" type="xs:boolean" minOccurs="0" default="false"/>
			<xs:element name="erlaeuterung" type="xs:string" minOccurs="0"/>
			<xs:element name="artVorgang" type="gml:ReferenceType">
				<xs:annotation><xs:appinfo>
					<adv:referenziertesElement>adv:AA_Vorgangsart</adv:referenziertesElement>
				</xs:appinfo></xs:annotation>
			</xs:element>
			<xs:element name="voraussetzung" type="gml:ReferenceType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation><xs:appinfo>
					<adv:referenziertesElement>adv:AA_Vorgangsart</adv:referenziertesElement>
				</xs:appinfo></xs:annotation>
			</xs:element>
			<xs:element name="inversZu_vorgang" type="adv:InverseReferenceType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation><xs:appinfo>
					<adv:referenziertesElement>adv:AA_Projektsteuerungsart</adv:referenziertesElement>
					<adv:inverseEigenschaft>adv:vorgang</adv:inverseEigenschaft>
				</xs:appinfo></xs:annotation>
			</xs:element>
		</xs:sequence>
		</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:simpleType name="AA_DokumentationsbedarfType">
		<xs:restriction base="xs:string">
			<!-- Ja -->
			<xs:enumeration value="1000"/>
			<!-- Nein -->
			<xs:enumeration value="2000"/>
			<!-- Verminderte Dokumentation -->
			<xs:enumeration value="3000"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:element name="AA_Projektsteuerungskatalog" type="adv:AA_ProjektsteuerungskatalogType" substitutionGroup="gml:_Feature"/>
	<xs:complexType name="AA_ProjektsteuerungskatalogType">
		<xs:complexContent>
		<xs:extension base="gml:AbstractFeatureType">
		<xs:sequence>
			<xs:element name="vorgangsart" minOccurs="0" maxOccurs="unbounded">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="adv:AA_Vorgangsart" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="prozessart" minOccurs="0" maxOccurs="unbounded">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="adv:AA_Projektsteuerungsart" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="antragsart" minOccurs="0" maxOccurs="unbounded">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="adv:AA_Antragsart" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="aktivitaetsart" minOccurs="0" maxOccurs="unbounded">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="adv:AA_Aktivitaetsart" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
		</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:element name="AA_Antragsart" type="adv:AA_AntragsartType" substitutionGroup="gml:_Feature"/>
	<xs:complexType name="AA_AntragsartType">
		<xs:complexContent>
		<xs:extension base="gml:AbstractFeatureType">
		<xs:sequence>
			<xs:element name="name" type="xs:string"/>
			<xs:element name="projektsteuerungsart" type="gml:ReferenceType" maxOccurs="unbounded">
				<xs:annotation><xs:appinfo>
					<adv:referenziertesElement>adv:AA_Projektsteuerungsart</adv:referenziertesElement>
				</xs:appinfo></xs:annotation>
			</xs:element>
			<xs:element name="inversZu_antragsart" type="adv:InverseReferenceType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation><xs:appinfo>
					<adv:referenziertesElement>adv:AA_Projektsteuerungskatalog</adv:referenziertesElement>
					<adv:inverseEigenschaft>adv:antragsart</adv:inverseEigenschaft>
				</xs:appinfo></xs:annotation>
			</xs:element>
			<xs:element name="inversZu_art" type="adv:InverseReferenceType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation><xs:appinfo>
					<adv:referenziertesElement>adv:AA_Antrag</adv:referenziertesElement>
					<adv:inverseEigenschaft>adv:art</adv:inverseEigenschaft>
				</xs:appinfo></xs:annotation>
			</xs:element>
		</xs:sequence>
		</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:element name="AA_Aktivitaet" type="adv:AA_AktivitaetType" substitutionGroup="adv:AA_NREO"/>
	<xs:complexType name="AA_AktivitaetType">
		<xs:complexContent>
		<xs:extension base="adv:AA_NREOType">
		<xs:sequence>
			<xs:element name="erlaeuterung" type="xs:string" minOccurs="0"/>
			<xs:element name="inversZu_enthaelt" type="adv:InverseReferenceType" minOccurs="0">
				<xs:annotation><xs:appinfo>
					<adv:referenziertesElement>adv:AA_Vorgang</adv:referenziertesElement>
					<adv:inverseEigenschaft>adv:enthaelt</adv:inverseEigenschaft>
				</xs:appinfo></xs:annotation>
			</xs:element>
			<xs:element name="art" type="gml:ReferenceType">
				<xs:annotation><xs:appinfo>
					<adv:referenziertesElement>adv:AA_Aktivitaetsart</adv:referenziertesElement>
				</xs:appinfo></xs:annotation>
			</xs:element>
			<xs:element name="status" type="gml:ReferenceType">
				<xs:annotation><xs:appinfo>
					<adv:referenziertesElement>adv:AA_Meilenstein</adv:referenziertesElement>
				</xs:appinfo></xs:annotation>
			</xs:element>
		</xs:sequence>
		</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:element name="AA_Aktivitaetsart" type="adv:AA_AktivitaetsartType" substitutionGroup="gml:_Feature"/>
	<xs:complexType name="AA_AktivitaetsartType">
		<xs:complexContent>
		<xs:extension base="gml:AbstractFeatureType">
		<xs:sequence>
			<xs:element name="name" type="xs:string"/>
			<xs:element name="definition" type="xs:string" minOccurs="0"/>
			<xs:element name="reihenfolge" type="xs:integer" minOccurs="0"/>
			<xs:element name="zuordnung" type="adv:AA_ProzesszuordnungAktivitaetType"/>
			<xs:element name="inversZu_art" type="adv:InverseReferenceType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation><xs:appinfo>
					<adv:referenziertesElement>adv:AA_Aktivitaet</adv:referenziertesElement>
					<adv:inverseEigenschaft>adv:art</adv:inverseEigenschaft>
				</xs:appinfo></xs:annotation>
			</xs:element>
			<xs:element name="inversZu_aktivitaetsart" type="adv:InverseReferenceType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation><xs:appinfo>
					<adv:referenziertesElement>adv:AA_Projektsteuerungskatalog</adv:referenziertesElement>
					<adv:inverseEigenschaft>adv:aktivitaetsart</adv:inverseEigenschaft>
				</xs:appinfo></xs:annotation>
			</xs:element>
			<xs:element name="inversZu_voraussetzung" type="adv:InverseReferenceType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation><xs:appinfo>
					<adv:referenziertesElement>adv:AA_AktivitaetInVorgang</adv:referenziertesElement>
					<adv:inverseEigenschaft>adv:voraussetzung</adv:inverseEigenschaft>
				</xs:appinfo></xs:annotation>
			</xs:element>
			<xs:element name="inversZu_artAktivitaet" type="adv:InverseReferenceType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation><xs:appinfo>
					<adv:referenziertesElement>adv:AA_AktivitaetInVorgang</adv:referenziertesElement>
					<adv:inverseEigenschaft>adv:artAktivitaet</adv:inverseEigenschaft>
				</xs:appinfo></xs:annotation>
			</xs:element>
		</xs:sequence>
		</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:element name="AA_AktivitaetInVorgang" type="adv:AA_AktivitaetInVorgangType" substitutionGroup="gml:_Feature"/>
	<xs:complexType name="AA_AktivitaetInVorgangType">
		<xs:complexContent>
		<xs:extension base="gml:AbstractFeatureType">
		<xs:sequence>
			<xs:element name="erlaeuterung" type="xs:string" minOccurs="0"/>
			<xs:element name="durchfuehrung" type="adv:AA_DurchfuehrungAktivitaetType" minOccurs="0"/>
			<xs:element name="voraussetzung" type="gml:ReferenceType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation><xs:appinfo>
					<adv:referenziertesElement>adv:AA_Aktivitaetsart</adv:referenziertesElement>
				</xs:appinfo></xs:annotation>
			</xs:element>
			<xs:element name="artAktivitaet" type="gml:ReferenceType">
				<xs:annotation><xs:appinfo>
					<adv:referenziertesElement>adv:AA_Aktivitaetsart</adv:referenziertesElement>
				</xs:appinfo></xs:annotation>
			</xs:element>
			<xs:element name="inversZu_aktivitaet" type="adv:InverseReferenceType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation><xs:appinfo>
					<adv:referenziertesElement>adv:AA_Vorgangsart</adv:referenziertesElement>
					<adv:inverseEigenschaft>adv:aktivitaet</adv:inverseEigenschaft>
				</xs:appinfo></xs:annotation>
			</xs:element>
		</xs:sequence>
		</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:simpleType name="AA_DurchfuehrungAktivitaetType">
		<xs:restriction base="xs:string">
			<!-- erforderlich -->
			<xs:enumeration value="1000"/>
			<!-- nicht möglich -->
			<xs:enumeration value="2000"/>
			<!-- optional -->
			<xs:enumeration value="3000"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="AA_ProzesszuordnungAktivitaetType">
		<xs:restriction base="xs:string">
			<!-- Erhebung -->
			<xs:enumeration value="1000"/>
			<!-- Qualifizierung -->
			<xs:enumeration value="2000"/>
			<!-- Prozesskommunikation -->
			<xs:enumeration value="3000"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:element name="AA_Antragsgebiet" type="adv:AA_AntragsgebietType" substitutionGroup="adv:AU_Flaechenobjekt"/>
	<xs:complexType name="AA_AntragsgebietType">
		<xs:complexContent>
		<xs:extension base="adv:AU_FlaechenobjektType">
		<xs:sequence>
			<xs:element name="inversZu_gebiet" type="adv:InverseReferenceType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation><xs:appinfo>
					<adv:referenziertesElement>adv:AA_Antrag</adv:referenziertesElement>
					<adv:inverseEigenschaft>adv:gebiet</adv:inverseEigenschaft>
				</xs:appinfo></xs:annotation>
			</xs:element>
		</xs:sequence>
		</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<!-- Paket AAA_Operationen -->

	<xs:element name="AA_Auftrag" type="adv:AA_AuftragType" substitutionGroup="gml:_Object" abstract="true"/>
	<xs:complexType name="AA_AuftragType" abstract="true">
		<xs:sequence>
			<xs:element name="empfaenger">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="adv:AA_Empfaenger" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="ausgabeform" type="adv:AA_NAS_AusgabeformType"/>
		</xs:sequence>
	</xs:complexType>

	<xs:element name="AA_Ergebnis" type="adv:AA_ErgebnisType" substitutionGroup="gml:_Object" abstract="true"/>
	<xs:complexType name="AA_ErgebnisType" abstract="true">
		<xs:sequence>
			<xs:element name="erlaeuterung" type="xs:string" minOccurs="0"/>
			<xs:element name="erfolgreich" type="xs:boolean" default="true"/>
		</xs:sequence>
	</xs:complexType>

	<xs:element name="AA_Themendefinition" type="adv:AA_ThemendefinitionType" substitutionGroup="gml:_Object" abstract="true"/>
	<xs:complexType name="AA_ThemendefinitionType" abstract="true">
		<xs:sequence>
			<xs:element name="name" type="xs:string"/>
			<xs:element name="art" type="adv:AA_Art_ThemendefinitionType"/>
			<xs:element name="objektart" type="xs:string" maxOccurs="unbounded"/>
			<xs:element name="modellart">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="adv:AA_Modellart" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="dimension" type="adv:AA_ThemendimensionType"/>
		</xs:sequence>
	</xs:complexType>

	<xs:simpleType name="AA_Art_ThemendefinitionType">
		<xs:restriction base="xs:string">
			<!-- alleObjekte -->
			<xs:enumeration value="1000"/>
			<!-- anwenderdefiniert -->
			<xs:enumeration value="2000"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="AA_ThemendimensionType">
		<xs:restriction base="xs:string">
			<!-- Punkt-Linien-Thema (Dimension 1) -->
			<xs:enumeration value="1000"/>
			<!-- Topologiethema (Dimension 2) -->
			<xs:enumeration value="2000"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:element name="AA_Empfaenger" type="adv:AA_EmpfaengerType"/>
	<xs:complexType name="AA_EmpfaengerType">
		<xs:choice>
			<xs:element name="direkt" type="xs:boolean" default="true"/>
			<xs:element name="email" type="xs:anyURI"/>
			<xs:element name="http" type="xs:anyURI"/>
			<xs:element name="manuell" type="xs:string"/>
		</xs:choice>
	</xs:complexType>

	<xs:simpleType name="AA_NAS_AusgabeformType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="application/xml"/>
			<xs:enumeration value="application/zip"/>
			<xs:enumeration value="application/gzip"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:element name="AA_Benutzungsauftrag" type="adv:AA_BenutzungsauftragType" substitutionGroup="adv:AA_Auftrag"/>
	<xs:complexType name="AA_BenutzungsauftragType">
		<xs:complexContent>
		<xs:extension base="adv:AA_AuftragType">
		<xs:sequence>
			<xs:element name="art" type="xs:string">
				<xs:annotation>
					<xs:appinfo><adv:referenzierteCodeList>adv:AA_Anlassart_Benutzungsauftrag</adv:referenzierteCodeList></xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="koordinatenreferenzsystem" type="xs:anyURI" minOccurs="0"/>
			<xs:element name="anforderungsmerkmale" type="adv:QueriesType"/>
		</xs:sequence>
		</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:element name="AA_Bestandsdatenauszug" type="adv:AA_BestandsdatenauszugType" substitutionGroup="adv:AA_Ergebnis"/>
	<xs:complexType name="AA_BestandsdatenauszugType">
		<xs:complexContent>
		<xs:extension base="adv:AA_ErgebnisType">
		<xs:sequence>
			<xs:element name="koordinatenangaben" minOccurs="0" maxOccurs="unbounded">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="adv:AA_Koordinatenreferenzsystemangaben" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="enthaelt" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="wfs:FeatureCollection" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
		</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:element name="AA_Koordinatenreferenzsystemangaben" type="adv:AA_KoordinatenreferenzsystemangabenType" substitutionGroup="gml:_Object"/>
	<xs:complexType name="AA_KoordinatenreferenzsystemangabenType">
		<xs:sequence>
			<xs:element name="crs" type="xs:anyURI"/>
			<xs:element name="anzahlDerNachkommastellen" type="xs:integer"/>
			<xs:element name="standard" type="xs:boolean"/>
		</xs:sequence>
	</xs:complexType>

	<xs:element name="AA_Fortfuehrungsauftrag" type="adv:AA_FortfuehrungsauftragType" substitutionGroup="adv:AA_Auftrag"/>
	<xs:complexType name="AA_FortfuehrungsauftragType">
		<xs:complexContent>
		<xs:extension base="adv:AA_AuftragType">
		<xs:sequence>
			<xs:element name="verwendeteInstanzenthemen" type="xs:string" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:appinfo><adv:referenzierteCodeList>adv:AA_Instanzenthemen</adv:referenzierteCodeList></xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="koordinatenangaben" minOccurs="0" maxOccurs="unbounded">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="adv:AA_Koordinatenreferenzsystemangaben" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="geaenderteObjekte">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="wfs:Transaction" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
		</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:element name="AA_Fortfuehrungsergebnis" type="adv:AA_FortfuehrungsergebnisType" substitutionGroup="adv:AA_Ergebnis"/>
	<xs:complexType name="AA_FortfuehrungsergebnisType">
		<xs:complexContent>
		<xs:extension base="adv:AA_ErgebnisType">
		<xs:sequence/>
		</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:element name="GetCapabilities" type="adv:GetCapabilitiesType" substitutionGroup="ows:GetCapabilities"/>
	<xs:complexType name="GetCapabilitiesType">
		<xs:complexContent>
		<xs:extension base="ows:GetCapabilitiesType">
		<xs:sequence>
			<xs:element name="service" type="xs:string" default="NAS"/>
			<xs:element name="profilkennung" type="xs:string" minOccurs="0"/>
		</xs:sequence>
		</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:element name="ServiceMetadata" type="adv:ServiceMetadataType" substitutionGroup="gml:_Object"/>
	<xs:complexType name="ServiceMetadataType">
		<xs:complexContent>
		<xs:extension base="ows:CapabilitiesBaseType">
		<xs:sequence>
			<xs:element name="contents" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="adv:DataContents" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element ref="ogcFC:Filter_Capabilities" minOccurs="0"/>
			<xs:element name="extendedFilterCapabilities" type="adv:NAS_Filter_CapabilitiesType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:element name="DataContents" type="adv:DataContentsType" substitutionGroup="gml:_Object"/>
	<xs:complexType name="DataContentsType">
		<xs:sequence>
			<xs:element name="featureCatalogue">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="adv:AC_FeatureCatalogue" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="beginnDerHistorie" type="xs:dateTime" minOccurs="0"/>
			<xs:element name="defaultSRS" type="xs:anyURI"/>
			<xs:element name="otherSRS" type="xs:anyURI" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="operations" type="adv:OperationType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>

	<xs:element name="ExceptionFortfuehrung" type="adv:ExceptionFortfuehrungType" substitutionGroup="gml:_Object"/>
	<xs:complexType name="ExceptionFortfuehrungType">
		<xs:sequence>
			<xs:element name="bereitsGesperrteObjekte" minOccurs="0" maxOccurs="unbounded">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="adv:AA_UUID" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="nichtMehrAktuelleObjekte" minOccurs="0" maxOccurs="unbounded">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="adv:AA_UUID" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:simpleType name="OperationType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Insert"/>
			<xs:enumeration value="Replace"/>
			<xs:enumeration value="Delete"/>
			<xs:enumeration value="Query"/>
			<xs:enumeration value="Lock"/>
			<xs:enumeration value="Unlock"/>
			<xs:enumeration value="Reserve"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="NAS_Filter_CapabilitiesType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="transparentXlinks"/>
			<xs:enumeration value="multiplePropertyValues"/>
			<xs:enumeration value="XlinkPropertyName"/>
			<xs:enumeration value="XlinkPropertyPath"/>
			<xs:enumeration value="XlinkPropertyPath_leafOnly"/>
			<xs:enumeration value="PropertyIsOfType"/>
		</xs:restriction>
	</xs:simpleType>

	<!-- Paket AAA_Nutzerprofile -->

	<xs:element name="AA_Benutzer" type="adv:AA_BenutzerType" substitutionGroup="adv:AA_NREO" abstract="true"/>
	<xs:complexType name="AA_BenutzerType" abstract="true">
		<xs:complexContent>
		<xs:extension base="adv:AA_NREOType">
		<xs:sequence>
			<xs:element name="inversZu_wer" type="adv:InverseReferenceType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation><xs:appinfo>
					<adv:referenziertesElement>adv:AA_Meilenstein</adv:referenziertesElement>
					<adv:inverseEigenschaft>adv:wer</adv:inverseEigenschaft>
				</xs:appinfo></xs:annotation>
			</xs:element>
		</xs:sequence>
		</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:element name="AA_Benutzergruppe" type="adv:AA_BenutzergruppeType" substitutionGroup="adv:AA_NREO" abstract="true"/>
	<xs:complexType name="AA_BenutzergruppeType" abstract="true">
		<xs:complexContent>
		<xs:extension base="adv:AA_NREOType">
		<xs:sequence>
			<xs:element name="inversZu_bearbeitbarDurch" type="adv:InverseReferenceType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation><xs:appinfo>
					<adv:referenziertesElement>adv:AA_Vorgang</adv:referenziertesElement>
					<adv:inverseEigenschaft>adv:bearbeitbarDurch</adv:inverseEigenschaft>
				</xs:appinfo></xs:annotation>
			</xs:element>
		</xs:sequence>
		</xs:extension>
		</xs:complexContent>
	</xs:complexType>


</xs:schema>
