deegree-demos/deegree-alkis/deegree-alkis-5/src/main/webapp/WEB-INF/conf/datasources/feature/gml/schemas/NAS5.1.1/ISO19100.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- 
	Anwendungsschema: ISO19100
	Erzeugt von NAS Schema Generator
	Erstellt: 22.02.2007 15:15:26
-->
<xs:schema 
	targetNamespace="http://www.adv-online.de/namespaces/adv/gid/5.1.1" 
	xmlns:adv="http://www.adv-online.de/namespaces/adv/gid/5.1.1" 
	xmlns:gml="http://www.opengis.net/gml" 
	xmlns:xs="http://www.w3.org/2001/XMLSchema" 
	elementFormDefault="qualified" 
	version="">

<xs:import namespace="http://www.opengis.net/gml" schemaLocation="gml/3.0.0/base/gml3nas.xsd"/>
	<!-- Paket Units of Measure -->

	<!-- Paket Records and Class Metadata -->

	<!-- Paket Collections -->

	<!-- Paket Names -->

	<!-- Paket Enumerations -->

	<!-- Paket Multiplicities -->

	<!-- Paket Date and Time -->

	<!-- Paket Text -->

	<!-- Paket Numerics -->

	<!-- Paket Truth -->

	<!-- Paket Topological primitive -->

	<!-- Paket Topology root -->

	<!-- Paket Topological Complex -->

	<!-- Paket Geometric primitive -->

	<!-- Paket Geometric complex -->

	<!-- Paket Coordinate geometry -->

	<!-- Paket Geometry root -->

	<!-- Paket Geometric aggregates -->

	<!-- Paket Feature Cataloging -->

	<!-- Paket Spatial Referencing by Coordinates -->

	<xs:element name="SC_Datum" type="adv:SC_DatumType" substitutionGroup="gml:_Object"/>
	<xs:complexType name="SC_DatumType">
		<xs:sequence>
			<xs:element name="datumID">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="adv:RS_Identifier" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:element name="SC_VerticalDatum" type="adv:SC_VerticalDatumType" substitutionGroup="gml:_Object"/>
	<xs:complexType name="SC_VerticalDatumType">
		<xs:sequence>
			<xs:element name="datumID">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="adv:RS_Identifier" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<!-- Paket Changing Coordinates -->

	<!-- Paket Metadata entity set information -->

	<xs:element name="MD_Metadata" type="adv:MD_MetadataType" substitutionGroup="gml:_Object"/>
	<xs:complexType name="MD_MetadataType">
		<xs:sequence>
			<xs:element name="fileIdentifier" type="xs:string" minOccurs="0"/>
			<xs:element name="language" type="xs:string" minOccurs="0"/>
			<xs:element name="characterSet" type="adv:MD_CharacterSetCodeType" minOccurs="0" default="utf8"/>
			<xs:element name="parentIdentifier" type="xs:string" minOccurs="0"/>
			<xs:element name="hierarchyLevel" type="adv:MD_ScopeCodeType" minOccurs="0" maxOccurs="unbounded" default="dataset"/>
			<xs:element name="hierarchyLevelName" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="contact" maxOccurs="unbounded">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="adv:CI_ResponsibleParty" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="dateStamp" type="xs:date"/>
			<xs:element name="metadataStandardName" type="xs:string" minOccurs="0"/>
			<xs:element name="metadataStandardVersion" type="xs:string" minOccurs="0"/>
			<xs:element name="identificationInfo" type="adv:MD_DataIdentificationType" maxOccurs="unbounded"/>
			<xs:element name="dataQualityInfo" minOccurs="0" maxOccurs="unbounded">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="adv:DQ_DataQuality" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="referenceSystemInfo" minOccurs="0" maxOccurs="unbounded">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="adv:MD_ReferenceSystem" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="contentInfo" minOccurs="0" maxOccurs="unbounded"><xs:complexType><xs:sequence><xs:element name="MD_FeatureCatalogueDescription" type="adv:MD_FeatureCatalogueDescriptionType"/></xs:sequence></xs:complexType></xs:element>
			<xs:element name="portrayalCatalogueInfo" minOccurs="0" maxOccurs="unbounded">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="adv:MD_PortrayalCatalogueReference" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="distributionInfo" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="adv:MD_Distribution" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="metadataExtensionInfo" minOccurs="0" maxOccurs="unbounded">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="adv:MD_MetadataExtensionInformation" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<!-- Paket Identification information -->

	<xs:element name="MD_Identification" type="adv:MD_IdentificationType" substitutionGroup="gml:_Object" abstract="true"/>
	<xs:complexType name="MD_IdentificationType" abstract="true">
		<xs:sequence>
			<xs:element name="citation">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="adv:CI_Citation" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="abstract" type="xs:string"/>
			<xs:element name="purpose" type="xs:string" minOccurs="0"/>
			<xs:element name="status" type="adv:MD_ProgressCodeType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="pointOfContact" minOccurs="0" maxOccurs="unbounded">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="adv:CI_ResponsibleParty" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="resourceSpecificUsage" minOccurs="0" maxOccurs="unbounded">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="adv:MD_Usage" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="descriptiveKeywords" minOccurs="0" maxOccurs="unbounded">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="adv:MD_Keywords" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="graphicOverview" minOccurs="0" maxOccurs="unbounded">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="adv:MD_BrowseGraphic" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="resourceConstraints" type="adv:MD_LegalConstraintsType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="resourceMaintenance" minOccurs="0" maxOccurs="unbounded">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="adv:MD_MaintenanceInformation" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="resourceFormat" minOccurs="0" maxOccurs="unbounded">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="adv:MD_Format" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:element name="MD_BrowseGraphic" type="adv:MD_BrowseGraphicType" substitutionGroup="gml:_Object"/>
	<xs:complexType name="MD_BrowseGraphicType">
		<xs:sequence>
			<xs:element name="fileName" type="xs:string"/>
			<xs:element name="fileDescription" type="xs:string" minOccurs="0"/>
			<xs:element name="fileType" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>

	<xs:simpleType name="MD_CharacterSetCodeType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="ucs2"/>
			<xs:enumeration value="ucs4"/>
			<xs:enumeration value="utf7"/>
			<xs:enumeration value="utf8"/>
			<xs:enumeration value="utf16"/>
			<xs:enumeration value="8859part1"/>
			<xs:enumeration value="8859part2"/>
			<xs:enumeration value="8859part3"/>
			<xs:enumeration value="8859part4"/>
			<xs:enumeration value="8859part5"/>
			<xs:enumeration value="8859part6"/>
			<xs:enumeration value="8859part7"/>
			<xs:enumeration value="8859part8"/>
			<xs:enumeration value="8859part9"/>
			<xs:enumeration value="8859part10"/>
			<xs:enumeration value="8859part11"/>
			<xs:enumeration value="(reservedforfutureuse)"/>
			<xs:enumeration value="8859part13"/>
			<xs:enumeration value="8859part14"/>
			<xs:enumeration value="8859part15"/>
			<xs:enumeration value="8859part16"/>
			<xs:enumeration value="jis"/>
			<xs:enumeration value="shiftJIS"/>
			<xs:enumeration value="eucJP"/>
			<xs:enumeration value="usAscii"/>
			<xs:enumeration value="ebcdic"/>
			<xs:enumeration value="eucKR"/>
			<xs:enumeration value="big5"/>
			<xs:enumeration value="GB2312"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:element name="MD_DataIdentification" type="adv:MD_DataIdentificationType" substitutionGroup="adv:MD_Identification"/>
	<xs:complexType name="MD_DataIdentificationType">
		<xs:complexContent>
		<xs:extension base="adv:MD_IdentificationType">
		<xs:sequence>
			<xs:element name="spatialRepresentationType" type="adv:MD_SpatialRepresentationTypeCodeType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="spatialResolution" minOccurs="0" maxOccurs="unbounded">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="adv:MD_Resolution" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="language" type="xs:string" maxOccurs="unbounded"/>
			<xs:element name="characterSet" type="adv:MD_CharacterSetCodeType" minOccurs="0" maxOccurs="unbounded" default="utf8"/>
			<xs:element name="topicCategory" type="adv:MD_TopicCategoryCodeType" maxOccurs="unbounded"/>
			<xs:element name="extent" minOccurs="0" maxOccurs="unbounded">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="adv:EX_Extent" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
		</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:simpleType name="MD_SpatialRepresentationTypeCodeType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="vector"/>
			<xs:enumeration value="grid"/>
			<xs:enumeration value="textTable"/>
			<xs:enumeration value="tin"/>
			<xs:enumeration value="stereoModel"/>
			<xs:enumeration value="video"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:element name="MD_RepresentativeFraction" type="adv:MD_RepresentativeFractionType" substitutionGroup="gml:_Object"/>
	<xs:complexType name="MD_RepresentativeFractionType">
		<xs:sequence>
			<xs:element name="denominator" type="xs:integer"/>
		</xs:sequence>
	</xs:complexType>

	<xs:simpleType name="MD_TopicCategoryCodeType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="farming"/>
			<xs:enumeration value="biota"/>
			<xs:enumeration value="boundaries"/>
			<xs:enumeration value="climatologyMeteorologyAtmosphere"/>
			<xs:enumeration value="economy"/>
			<xs:enumeration value="elevation"/>
			<xs:enumeration value="environment"/>
			<xs:enumeration value="geoscientificInformation"/>
			<xs:enumeration value="health"/>
			<xs:enumeration value="imageryBaseMapsEarthCover"/>
			<xs:enumeration value="intelligenceMilitary"/>
			<xs:enumeration value="inlandWaters"/>
			<xs:enumeration value="location"/>
			<xs:enumeration value="oceans"/>
			<xs:enumeration value="planningCadastre"/>
			<xs:enumeration value="society"/>
			<xs:enumeration value="structure"/>
			<xs:enumeration value="transportation"/>
			<xs:enumeration value="utilitiesCommunication"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="MD_ProgressCodeType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="completed"/>
			<xs:enumeration value="historicalArchive"/>
			<xs:enumeration value="obsolete"/>
			<xs:enumeration value="onGoing"/>
			<xs:enumeration value="planned"/>
			<xs:enumeration value="required"/>
			<xs:enumeration value="underDevelopment"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:element name="MD_Resolution" type="adv:MD_ResolutionType"/>
	<xs:complexType name="MD_ResolutionType">
		<xs:choice>
			<xs:element name="equivalentScale">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="adv:MD_RepresentativeFraction" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="distance" type="gml:LengthType"/>
		</xs:choice>
	</xs:complexType>

	<xs:element name="MD_Usage" type="adv:MD_UsageType" substitutionGroup="gml:_Object"/>
	<xs:complexType name="MD_UsageType">
		<xs:sequence>
			<xs:element name="specificUsage" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>

	<xs:element name="MD_Keywords" type="adv:MD_KeywordsType" substitutionGroup="gml:_Object"/>
	<xs:complexType name="MD_KeywordsType">
		<xs:sequence>
			<xs:element name="keyword" type="xs:string" maxOccurs="unbounded"/>
			<xs:element name="thesaurusName" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="adv:CI_Citation" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<!-- Paket Constraint information -->

	<xs:element name="MD_LegalConstraints" type="adv:MD_LegalConstraintsType" substitutionGroup="gml:_Object"/>
	<xs:complexType name="MD_LegalConstraintsType">
		<xs:sequence>
			<xs:element name="accessConstraints" type="adv:MD_RestrictionCodeType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="useConstraints" type="adv:MD_RestrictionCodeType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="otherConstraints" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>

	<xs:element name="MD_SecurityConstraints" type="adv:MD_SecurityConstraintsType" substitutionGroup="gml:_Object"/>
	<xs:complexType name="MD_SecurityConstraintsType">
		<xs:sequence>
			<xs:element name="classification" type="adv:MD_ClassificationCodeType"/>
		</xs:sequence>
	</xs:complexType>

	<xs:simpleType name="MD_ClassificationCodeType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="unclassified"/>
			<xs:enumeration value="restricted"/>
			<xs:enumeration value="confidential"/>
			<xs:enumeration value="secret"/>
			<xs:enumeration value="topSecret"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="MD_RestrictionCodeType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="copyright"/>
			<xs:enumeration value="patent"/>
			<xs:enumeration value="patentPending"/>
			<xs:enumeration value="trademark"/>
			<xs:enumeration value="license"/>
			<xs:enumeration value="intellectualPropertyRights"/>
			<xs:enumeration value="restricted"/>
			<xs:enumeration value="otherRestrictions"/>
		</xs:restriction>
	</xs:simpleType>

	<!-- Paket Data quality information -->

	<xs:element name="LI_ProcessStep" type="adv:LI_ProcessStepType" substitutionGroup="gml:_Object"/>
	<xs:complexType name="LI_ProcessStepType">
		<xs:sequence>
			<xs:element name="description" type="xs:string"/>
			<xs:element name="dateTime" type="xs:dateTime" minOccurs="0"/>
			<xs:element name="processor" minOccurs="0" maxOccurs="unbounded">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="adv:CI_ResponsibleParty" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="source" minOccurs="0" maxOccurs="unbounded">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="adv:LI_Source" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:element name="LI_Source" type="adv:LI_SourceType" substitutionGroup="gml:_Object"/>
	<xs:complexType name="LI_SourceType">
		<xs:sequence>
			<xs:element name="description" type="xs:string" minOccurs="0"/>
			<xs:element name="sourceStep" minOccurs="0" maxOccurs="unbounded">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="adv:LI_ProcessStep" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:element name="LI_Lineage" type="adv:LI_LineageType" substitutionGroup="gml:_Object"/>
	<xs:complexType name="LI_LineageType">
		<xs:sequence>
			<xs:element name="source" minOccurs="0" maxOccurs="unbounded">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="adv:LI_Source" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="processStep" minOccurs="0" maxOccurs="unbounded">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="adv:LI_ProcessStep" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:element name="DQ_QuantitativeResult" type="adv:DQ_QuantitativeResultType" substitutionGroup="adv:DQ_Result"/>
	<xs:complexType name="DQ_QuantitativeResultType">
		<xs:complexContent>
		<xs:extension base="adv:DQ_ResultType">
		<xs:sequence>
			<xs:element name="value" type="gml:ValueArrayPropertyType" maxOccurs="unbounded"/>
		</xs:sequence>
		</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:element name="DQ_Result" type="adv:DQ_ResultType" substitutionGroup="gml:_Object" abstract="true"/>
	<xs:complexType name="DQ_ResultType" abstract="true">
		<xs:sequence/>
	</xs:complexType>

	<xs:element name="DQ_RelativeInternalPositionalAccuracy" type="adv:DQ_RelativeInternalPositionalAccuracyType" substitutionGroup="adv:DQ_PositionalAccuracy"/>
	<xs:complexType name="DQ_RelativeInternalPositionalAccuracyType">
		<xs:complexContent>
		<xs:extension base="adv:DQ_PositionalAccuracyType">
		<xs:sequence/>
		</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:element name="DQ_AbsoluteExternalPositionalAccuracy" type="adv:DQ_AbsoluteExternalPositionalAccuracyType" substitutionGroup="adv:DQ_PositionalAccuracy"/>
	<xs:complexType name="DQ_AbsoluteExternalPositionalAccuracyType">
		<xs:complexContent>
		<xs:extension base="adv:DQ_PositionalAccuracyType">
		<xs:sequence/>
		</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:element name="DQ_ThematicAccuracy" type="adv:DQ_ThematicAccuracyType" substitutionGroup="adv:DQ_Element" abstract="true"/>
	<xs:complexType name="DQ_ThematicAccuracyType" abstract="true">
		<xs:complexContent>
		<xs:extension base="adv:DQ_ElementType">
		<xs:sequence/>
		</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:element name="DQ_PositionalAccuracy" type="adv:DQ_PositionalAccuracyType" substitutionGroup="adv:DQ_Element" abstract="true"/>
	<xs:complexType name="DQ_PositionalAccuracyType" abstract="true">
		<xs:complexContent>
		<xs:extension base="adv:DQ_ElementType">
		<xs:sequence/>
		</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:element name="DQ_LogicalConsistency" type="adv:DQ_LogicalConsistencyType" substitutionGroup="adv:DQ_Element" abstract="true"/>
	<xs:complexType name="DQ_LogicalConsistencyType" abstract="true">
		<xs:complexContent>
		<xs:extension base="adv:DQ_ElementType">
		<xs:sequence/>
		</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:element name="DQ_Completeness" type="adv:DQ_CompletenessType" substitutionGroup="adv:DQ_Element" abstract="true"/>
	<xs:complexType name="DQ_CompletenessType" abstract="true">
		<xs:complexContent>
		<xs:extension base="adv:DQ_ElementType">
		<xs:sequence/>
		</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:element name="DQ_Element" type="adv:DQ_ElementType" substitutionGroup="gml:_Object" abstract="true"/>
	<xs:complexType name="DQ_ElementType" abstract="true">
		<xs:sequence>
			<xs:element name="result" maxOccurs="2"><xs:complexType><xs:sequence><xs:element name="DQ_QuantitativeResult" type="adv:DQ_QuantitativeResultType"/></xs:sequence></xs:complexType></xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:element name="DQ_DataQuality" type="adv:DQ_DataQualityType" substitutionGroup="gml:_Object"/>
	<xs:complexType name="DQ_DataQualityType">
		<xs:sequence>
			<xs:element name="scope">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="adv:DQ_Scope" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="lineage" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="adv:LI_Lineage" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="report" type="adv:DQ_ElementPropertyType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>

	<xs:element name="DQ_Scope" type="adv:DQ_ScopeType" substitutionGroup="gml:_Object"/>
	<xs:complexType name="DQ_ScopeType">
		<xs:sequence>
			<xs:element name="level" type="adv:MD_ScopeCodeType"/>
		</xs:sequence>
	</xs:complexType>

	<!-- Paket Maintenance information -->

	<xs:element name="MD_MaintenanceInformation" type="adv:MD_MaintenanceInformationType" substitutionGroup="gml:_Object"/>
	<xs:complexType name="MD_MaintenanceInformationType">
		<xs:sequence>
			<xs:element name="maintenanceAndUpdateFrequency" type="adv:MD_MaintenanceFrequencyCodeType"/>
			<xs:element name="updateScope" type="adv:MD_ScopeCodeType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="updateScopeDescription" minOccurs="0" maxOccurs="unbounded">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="adv:MD_ScopeDescription" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="maintenanceNote" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>

	<xs:simpleType name="MD_MaintenanceFrequencyCodeType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="continual"/>
			<xs:enumeration value="daily"/>
			<xs:enumeration value="weekly"/>
			<xs:enumeration value="fortnightly"/>
			<xs:enumeration value="monthly"/>
			<xs:enumeration value="quarterly"/>
			<xs:enumeration value="biannually"/>
			<xs:enumeration value="annually"/>
			<xs:enumeration value="asNeeded"/>
			<xs:enumeration value="irregular"/>
			<xs:enumeration value="notPlanned"/>
			<xs:enumeration value="unknown"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="MD_ScopeCodeType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="attribute"/>
			<xs:enumeration value="attributeType"/>
			<xs:enumeration value="collectionHardware"/>
			<xs:enumeration value="collectionSession"/>
			<xs:enumeration value="dataset"/>
			<xs:enumeration value="series"/>
			<xs:enumeration value="nonGeographicDataset"/>
			<xs:enumeration value="dimensionGroup"/>
			<xs:enumeration value="feature"/>
			<xs:enumeration value="featureType"/>
			<xs:enumeration value="propertyType"/>
			<xs:enumeration value="fieldSession"/>
			<xs:enumeration value="software"/>
			<xs:enumeration value="service"/>
			<xs:enumeration value="model"/>
			<xs:enumeration value="tile"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:element name="MD_ScopeDescription" type="adv:MD_ScopeDescriptionType"/>
	<xs:complexType name="MD_ScopeDescriptionType">
		<xs:choice>
			<xs:element name="attributes" type="gml:CodeType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="features" type="gml:CodeType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="dataset" type="xs:string"/>
			<xs:element name="other" type="xs:string"/>
		</xs:choice>
	</xs:complexType>

	<!-- Paket Spatial representation information -->

	<!-- Paket Reference system information -->

	<xs:element name="RS_Identifier" type="adv:RS_IdentifierType" substitutionGroup="gml:_Object"/>
	<xs:complexType name="RS_IdentifierType">
		<xs:sequence>
			<xs:element name="authority" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="adv:CI_Citation" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="code" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>

	<xs:element name="MD_ReferenceSystem" type="adv:MD_ReferenceSystemType" substitutionGroup="gml:_Object"/>
	<xs:complexType name="MD_ReferenceSystemType">
		<xs:sequence>
			<xs:element name="referenceSystemIdentifier" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="adv:RS_Identifier" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:element name="MD_CRS" type="adv:MD_CRSType" substitutionGroup="gml:_Object"/>
	<xs:complexType name="MD_CRSType">
		<xs:sequence>
			<xs:element name="referenceSystemIdentifier" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="adv:RS_Identifier" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="projection" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="adv:RS_Identifier" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="ellipsoid" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="adv:RS_Identifier" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="datum" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="adv:RS_Identifier" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:element name="MD_Identifier" type="adv:MD_IdentifierType" substitutionGroup="gml:_Object"/>
	<xs:complexType name="MD_IdentifierType">
		<xs:sequence>
			<xs:element name="authority" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="adv:CI_Citation" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="code" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>

	<!-- Paket Content information -->

	<xs:element name="MD_FeatureCatalogueDescription" type="adv:MD_FeatureCatalogueDescriptionType" substitutionGroup="adv:MD_ContentInformation"/>
	<xs:complexType name="MD_FeatureCatalogueDescriptionType">
		<xs:complexContent>
		<xs:extension base="adv:MD_ContentInformationType">
		<xs:sequence>
			<xs:element name="language" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="includedWithDataset" type="xs:boolean"/>
			<xs:element name="featureTypes" type="gml:CodeType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="featureCatalogueCitation" maxOccurs="unbounded">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="adv:CI_Citation" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
		</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:element name="MD_ContentInformation" type="adv:MD_ContentInformationType" substitutionGroup="gml:_Object" abstract="true"/>
	<xs:complexType name="MD_ContentInformationType" abstract="true">
		<xs:sequence/>
	</xs:complexType>

	<!-- Paket Portrayal catalogue information -->

	<xs:element name="MD_PortrayalCatalogueReference" type="adv:MD_PortrayalCatalogueReferenceType" substitutionGroup="gml:_Object"/>
	<xs:complexType name="MD_PortrayalCatalogueReferenceType">
		<xs:sequence>
			<xs:element name="portrayalCatalogueCitation" maxOccurs="unbounded">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="adv:CI_Citation" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<!-- Paket Distribution information -->

	<xs:element name="MD_Medium" type="adv:MD_MediumType" substitutionGroup="gml:_Object"/>
	<xs:complexType name="MD_MediumType">
		<xs:sequence>
			<xs:element name="name" type="adv:MD_MediumNameCodeType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>

	<xs:element name="MD_DigitalTransferOptions" type="adv:MD_DigitalTransferOptionsType" substitutionGroup="gml:_Object"/>
	<xs:complexType name="MD_DigitalTransferOptionsType">
		<xs:sequence>
			<xs:element name="unitsOfDistribution" type="xs:string" minOccurs="0"/>
			<xs:element name="transferSize" type="xs:double" minOccurs="0"/>
			<xs:element name="onLine" minOccurs="0" maxOccurs="unbounded">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="adv:CI_OnlineResource" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="offLine" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="adv:MD_Medium" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:element name="MD_StandardOrderProcess" type="adv:MD_StandardOrderProcessType" substitutionGroup="gml:_Object"/>
	<xs:complexType name="MD_StandardOrderProcessType">
		<xs:sequence>
			<xs:element name="fees" type="xs:string" minOccurs="0"/>
			<xs:element name="orderingInstructions" type="xs:string" minOccurs="0"/>
			<xs:element name="turnaround" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>

	<xs:element name="MD_Distributor" type="adv:MD_DistributorType" substitutionGroup="gml:_Object"/>
	<xs:complexType name="MD_DistributorType">
		<xs:sequence>
			<xs:element name="distributorContact">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="adv:CI_ResponsibleParty" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="distributorFormat" minOccurs="0" maxOccurs="unbounded">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="adv:MD_Format" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="distributionOrderProcess" minOccurs="0" maxOccurs="unbounded">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="adv:MD_StandardOrderProcess" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="distributorTransferOptions" minOccurs="0" maxOccurs="unbounded">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="adv:MD_DigitalTransferOptions" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:element name="MD_Distribution" type="adv:MD_DistributionType" substitutionGroup="gml:_Object"/>
	<xs:complexType name="MD_DistributionType">
		<xs:sequence>
			<xs:element name="distributor" minOccurs="0" maxOccurs="unbounded">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="adv:MD_Distributor" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:element name="MD_Format" type="adv:MD_FormatType" substitutionGroup="gml:_Object"/>
	<xs:complexType name="MD_FormatType">
		<xs:sequence>
			<xs:element name="name" type="xs:string"/>
			<xs:element name="version" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>

	<xs:simpleType name="MD_MediumNameCodeType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="cdRom"/>
			<xs:enumeration value="dvd"/>
			<xs:enumeration value="dvdRom"/>
			<xs:enumeration value="3halfInchFloppy"/>
			<xs:enumeration value="5quarterInchFloppy"/>
			<xs:enumeration value="7trackTape"/>
			<xs:enumeration value="9trackTape"/>
			<xs:enumeration value="3480Cartridge"/>
			<xs:enumeration value="3490Cartridge"/>
			<xs:enumeration value="3580Cartridge"/>
			<xs:enumeration value="4mmCartridgeTape"/>
			<xs:enumeration value="8mmCartridgeTape"/>
			<xs:enumeration value="1quarterInchCartridgeTape"/>
			<xs:enumeration value="digitalLinearTape"/>
			<xs:enumeration value="onLine"/>
			<xs:enumeration value="satellite"/>
			<xs:enumeration value="telephoneLink"/>
			<xs:enumeration value="hardcopy"/>
		</xs:restriction>
	</xs:simpleType>

	<!-- Paket Metadata extension information -->

	<xs:element name="MD_ExtendedElementInformation" type="adv:MD_ExtendedElementInformationType" substitutionGroup="gml:_Object"/>
	<xs:complexType name="MD_ExtendedElementInformationType">
		<xs:sequence>
			<xs:element name="name" type="xs:string"/>
			<xs:element name="shortName" type="xs:string" minOccurs="0"/>
			<xs:element name="domainCode" type="xs:integer" minOccurs="0"/>
			<xs:element name="definition" type="xs:string"/>
			<xs:element name="obligation" type="adv:MD_ObligationCodeType" minOccurs="0"/>
			<xs:element name="condition" type="xs:string" minOccurs="0"/>
			<xs:element name="dataType" type="adv:MD_DatatypeCodeType"/>
			<xs:element name="maximumOccurrence" type="xs:string" minOccurs="0"/>
			<xs:element name="domainValue" type="xs:string" minOccurs="0"/>
			<xs:element name="parentEntity" type="xs:string" maxOccurs="unbounded"/>
			<xs:element name="rule" type="xs:string"/>
			<xs:element name="rationale" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="source" maxOccurs="unbounded">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="adv:CI_ResponsibleParty" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:element name="MD_MetadataExtensionInformation" type="adv:MD_MetadataExtensionInformationType" substitutionGroup="gml:_Object"/>
	<xs:complexType name="MD_MetadataExtensionInformationType">
		<xs:sequence>
			<xs:element name="extendedElementInformation" minOccurs="0" maxOccurs="unbounded">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="adv:MD_ExtendedElementInformation" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:simpleType name="MD_ObligationCodeType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="mandatory"/>
			<xs:enumeration value="optional"/>
			<xs:enumeration value="conditional"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="MD_DatatypeCodeType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="class"/>
			<xs:enumeration value="codelist"/>
			<xs:enumeration value="enumeration"/>
			<xs:enumeration value="codelistElement"/>
			<xs:enumeration value="abstractClass"/>
			<xs:enumeration value="aggregateClass"/>
			<xs:enumeration value="specifiedClass"/>
			<xs:enumeration value="datatypeClass"/>
			<xs:enumeration value="interfaceClass"/>
			<xs:enumeration value="unionClass"/>
			<xs:enumeration value="metaClass"/>
			<xs:enumeration value="typeClass"/>
			<xs:enumeration value="characterString"/>
			<xs:enumeration value="integer"/>
			<xs:enumeration value="association"/>
		</xs:restriction>
	</xs:simpleType>

	<!-- Paket Application schema information -->

	<!-- Paket Extent information -->

	<xs:element name="EX_TemporalExtent" type="adv:EX_TemporalExtentType" substitutionGroup="gml:_Object"/>
	<xs:complexType name="EX_TemporalExtentType">
		<xs:sequence>
			<xs:element name="begin" type="xs:dateTime"/><xs:element name="end" type="xs:dateTime"/>
		</xs:sequence>
	</xs:complexType>

	<xs:element name="EX_VerticalExtent" type="adv:EX_VerticalExtentType" substitutionGroup="gml:_Object"/>
	<xs:complexType name="EX_VerticalExtentType">
		<xs:sequence>
			<xs:element name="minimumValue" type="xs:double"/>
			<xs:element name="maximumValue" type="xs:double"/>
			<xs:element name="unitOfMeasure" type="gml:UnitOfMeasureType"/>
			<xs:element name="verticalDatum">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="adv:SC_VerticalDatum" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:element name="EX_BoundingPolygon" type="adv:EX_BoundingPolygonType" substitutionGroup="adv:EX_GeographicExtent"/>
	<xs:complexType name="EX_BoundingPolygonType">
		<xs:complexContent>
		<xs:extension base="adv:EX_GeographicExtentType">
		<xs:sequence>
			<xs:element name="polygon" type="adv:PolygonArrayPropertyType"/>
		</xs:sequence>
		</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:element name="EX_Extent" type="adv:EX_ExtentType" substitutionGroup="gml:_Object"/>
	<xs:complexType name="EX_ExtentType">
		<xs:sequence>
			<xs:element name="description" type="xs:string" minOccurs="0"/>
			<xs:element name="verticalElement" minOccurs="0" maxOccurs="unbounded">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="adv:EX_VerticalExtent" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="temporalElement" minOccurs="0" maxOccurs="unbounded">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="adv:EX_TemporalExtent" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="geographicElement" type="adv:EX_GeographicExtentPropertyType" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>

	<xs:element name="EX_GeographicExtent" type="adv:EX_GeographicExtentType" substitutionGroup="gml:_Object" abstract="true"/>
	<xs:complexType name="EX_GeographicExtentType" abstract="true">
		<xs:sequence>
			<xs:element name="extentTypeCode" type="xs:boolean" minOccurs="0" default="1"/>
		</xs:sequence>
	</xs:complexType>

	<xs:element name="EX_GeographicBoundingBox" type="adv:EX_GeographicBoundingBoxType" substitutionGroup="adv:EX_GeographicExtent"/>
	<xs:complexType name="EX_GeographicBoundingBoxType">
		<xs:complexContent>
		<xs:extension base="adv:EX_GeographicExtentType">
		<xs:sequence>
			<xs:element ref="gml:boundedBy"/>
		</xs:sequence>
		</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:element name="EX_SpatialTemporalExtent" type="adv:EX_SpatialTemporalExtentType" substitutionGroup="gml:_Object"/>
	<xs:complexType name="EX_SpatialTemporalExtentType">
		<xs:sequence>
			<xs:element name="begin" type="xs:dateTime"/><xs:element name="end" type="xs:dateTime"/>
			<xs:element name="spatialExtent" type="adv:EX_GeographicExtentPropertyType" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>

	<xs:element name="EX_GeographicDescription" type="adv:EX_GeographicDescriptionType" substitutionGroup="adv:EX_GeographicExtent"/>
	<xs:complexType name="EX_GeographicDescriptionType">
		<xs:complexContent>
		<xs:extension base="adv:EX_GeographicExtentType">
		<xs:sequence>
			<xs:element name="geographicIdentifier">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="adv:MD_Identifier" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
		</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<!-- Paket Citation and responsible party information -->

	<xs:element name="CI_ResponsibleParty" type="adv:CI_ResponsiblePartyType" substitutionGroup="gml:_Object"/>
	<xs:complexType name="CI_ResponsiblePartyType">
		<xs:sequence>
			<xs:element name="individualName" type="xs:string" minOccurs="0"/>
			<xs:element name="organisationName" type="xs:string" minOccurs="0"/>
			<xs:element name="positionName" type="xs:string" minOccurs="0"/>
			<xs:element name="contactInfo" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="adv:CI_Contact" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="role" type="adv:CI_RoleCodeType"/>
		</xs:sequence>
	</xs:complexType>

	<xs:element name="CI_Citation" type="adv:CI_CitationType" substitutionGroup="gml:_Object"/>
	<xs:complexType name="CI_CitationType">
		<xs:sequence>
			<xs:element name="title" type="xs:string"/>
			<xs:element name="alternateTitle" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="date" maxOccurs="unbounded">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="adv:CI_Date" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="edition" type="xs:string" minOccurs="0"/>
			<xs:element name="editionDate" type="xs:date" minOccurs="0"/>
			<xs:element name="identifier" minOccurs="0" maxOccurs="unbounded">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="adv:MD_Identifier" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="citedResponsibleParty" minOccurs="0" maxOccurs="unbounded">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="adv:CI_ResponsibleParty" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="presentationForm" type="adv:CI_PresentationFormCodeType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="series" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="adv:CI_Series" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="otherCitationDetails" type="xs:string" minOccurs="0"/>
			<xs:element name="collectiveTitle" type="xs:string" minOccurs="0"/>
			<xs:element name="ISBN" type="xs:string" minOccurs="0"/>
			<xs:element name="ISSN" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>

	<xs:element name="CI_Address" type="adv:CI_AddressType" substitutionGroup="gml:_Object"/>
	<xs:complexType name="CI_AddressType">
		<xs:sequence>
			<xs:element name="deliveryPoint" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="city" type="xs:string" minOccurs="0"/>
			<xs:element name="administrativeArea" type="xs:string" minOccurs="0"/>
			<xs:element name="postalCode" type="xs:string" minOccurs="0"/>
			<xs:element name="country" type="xs:string" minOccurs="0"/>
			<xs:element name="electronicMailAddress" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>

	<xs:simpleType name="CI_RoleCodeType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="resourceProvider"/>
			<xs:enumeration value="custodian"/>
			<xs:enumeration value="owner"/>
			<xs:enumeration value="user"/>
			<xs:enumeration value="distributor"/>
			<xs:enumeration value="originator"/>
			<xs:enumeration value="pointOfContact"/>
			<xs:enumeration value="principalInvestigator"/>
			<xs:enumeration value="processor"/>
			<xs:enumeration value="publisher"/>
			<xs:enumeration value="author"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:element name="CI_OnlineResource" type="adv:CI_OnlineResourceType" substitutionGroup="gml:_Object"/>
	<xs:complexType name="CI_OnlineResourceType">
		<xs:sequence>
			<xs:element name="linkage" type="xs:anyURI"/>
			<xs:element name="protocol" type="xs:string" minOccurs="0"/>
			<xs:element name="applicationProfile" type="xs:string" minOccurs="0"/>
			<xs:element name="name" type="xs:string" minOccurs="0"/>
			<xs:element name="description" type="xs:string" minOccurs="0"/>
			<xs:element name="function" type="adv:CI_OnLineFunctionCodeType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>

	<xs:element name="CI_Contact" type="adv:CI_ContactType" substitutionGroup="gml:_Object"/>
	<xs:complexType name="CI_ContactType">
		<xs:sequence>
			<xs:element name="phone" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="adv:CI_Telephone" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="address" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="adv:CI_Address" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="onlineResource" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="adv:CI_OnlineResource" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="hoursOfService" type="xs:string" minOccurs="0"/>
			<xs:element name="contactInstructions" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>

	<xs:element name="CI_Telephone" type="adv:CI_TelephoneType" substitutionGroup="gml:_Object"/>
	<xs:complexType name="CI_TelephoneType">
		<xs:sequence>
			<xs:element name="voice" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="facsimile" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>

	<xs:simpleType name="CI_PresentationFormCodeType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="documentDigital"/>
			<xs:enumeration value="documentHardcopy"/>
			<xs:enumeration value="imageDigital"/>
			<xs:enumeration value="imageHardcopy"/>
			<xs:enumeration value="mapDigital"/>
			<xs:enumeration value="mapHardcopy"/>
			<xs:enumeration value="modelDigital"/>
			<xs:enumeration value="modelHardcopy"/>
			<xs:enumeration value="profileDigital"/>
			<xs:enumeration value="profileHardcopy"/>
			<xs:enumeration value="tableDigital"/>
			<xs:enumeration value="tableHardcopy"/>
			<xs:enumeration value="videoDigital"/>
			<xs:enumeration value="videoHardcopy"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="CI_OnLineFunctionCodeType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="download"/>
			<xs:enumeration value="information"/>
			<xs:enumeration value="offlineAccess"/>
			<xs:enumeration value="order"/>
			<xs:enumeration value="search"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:element name="CI_Date" type="adv:CI_DateType" substitutionGroup="gml:_Object"/>
	<xs:complexType name="CI_DateType">
		<xs:sequence>
			<xs:element name="date" type="xs:date"/>
			<xs:element name="dateType" type="adv:CI_DateTypeCodeType"/>
		</xs:sequence>
	</xs:complexType>

	<xs:simpleType name="CI_DateTypeCodeType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="creation"/>
			<xs:enumeration value="publication"/>
			<xs:enumeration value="revision"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:element name="CI_Series" type="adv:CI_SeriesType" substitutionGroup="gml:_Object"/>
	<xs:complexType name="CI_SeriesType">
		<xs:sequence>
			<xs:element name="name" type="xs:string" minOccurs="0"/>
			<xs:element name="issueIdentification" type="xs:string" minOccurs="0"/>
			<xs:element name="page" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>

	<!-- Paket Metadata application information -->

	<!-- Paket Temporal Reference System -->

	<!-- Paket Temporal Objects -->

	<!-- Paket Simplicial Topology -->

	<!-- Paket Feature Topology -->

	<!-- Paket Simple Topology -->

	<!-- Paket Graph -->

	<!-- Paket Cellular Topology -->

	<!-- Paket General Feature Model -->

	<!-- Paket Thiessen Polygon -->

	<!-- Paket Quadrilateral Grid -->

	<!-- Paket Segmented Curve -->

	<!-- Paket Discrete Coverages -->

	<!-- Paket Coverage Core -->

	<!-- Paket TIN -->

	<!-- Paket Hexagonal Grid -->

	<!-- Zusaetzliche Schemakomponenten -->
	<xs:complexType name="PolygonArrayPropertyType">
		<xs:sequence>
			<xs:element ref="gml:Polygon" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DQ_ElementPropertyType">
		<xs:choice>
			<xs:element name="DQ_ThematicAccuracy" type="adv:DQ_ThematicAccuracyType"/>
			<xs:element name="DQ_PositionalAccuracy" type="adv:DQ_PositionalAccuracyType"/>
			<xs:element name="DQ_LogicalConsistency" type="adv:DQ_LogicalConsistencyType"/>
			<xs:element name="DQ_Completeness" type="adv:DQ_CompletenessType"/>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="EX_GeographicExtentPropertyType">
		<xs:choice>
			<xs:element name="EX_BoundingPolygon" type="adv:EX_BoundingPolygonType"/>
			<xs:element name="EX_GeographicBoundingBox" type="adv:EX_GeographicBoundingBoxType"/>
			<xs:element name="EX_GeographicDescription" type="adv:EX_GeographicDescriptionType"/>
		</xs:choice>
	</xs:complexType>
	<xs:element name="referenziertesElement" type="xs:string"/>
	<xs:element name="referenzierteCodeList" type="xs:string"/>
	<xs:complexType name="InverseReferenceType">
		<xs:complexContent>
			<xs:extension base="gml:ReferenceType"/>
		</xs:complexContent>
	</xs:complexType>

</xs:schema>
