deegree-core/deegree-core-theme/src/main/resources/META-INF/schemas/themes/themes.xsd

<schema xmlns:t="http://www.deegree.org/themes/standard" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2001/XMLSchema"
 targetNamespace="http://www.deegree.org/themes/standard" elementFormDefault="qualified" xmlns:jaxb="http://java.sun.com/xml/ns/jaxb"
 jaxb:version="2.1" xmlns:d="http://www.deegree.org/metadata/description" xmlns:g="http://www.deegree.org/metadata/spatial">

 <import namespace="http://www.deegree.org/metadata/description" schemaLocation="../commons/description/description.xsd" />
 <import namespace="http://www.deegree.org/metadata/spatial" schemaLocation="../commons/spatialmetadata/spatialmetadata.xsd" />

 <annotation>
  <appinfo>
   <jaxb:schemaBindings>
    <jaxb:package name="org.deegree.theme.persistence.standard.jaxb" />
   </jaxb:schemaBindings>
  </appinfo>
 </annotation>

 <complexType name="ThemeType">
  <sequence>
   <element name="Identifier" minOccurs="0">
    <complexType>
     <simpleContent>
      <extension base="string">
       <attribute name="requestable" type="boolean" default="true" />
      </extension>
     </simpleContent>
    </complexType>
   </element>
   <group ref="d:Description" />
   <group ref="g:SpatialMetadata" />
   <element name="LegendGraphic" minOccurs="0" >
    <complexType>
     <simpleContent>
      <extension base="string">
       <attribute name="outputGetLegendGraphicUrl" type="boolean" default="true" use="optional" />
      </extension>
     </simpleContent>
    </complexType>
   </element>
   <element name="Layer" minOccurs="0" maxOccurs="unbounded">
    <complexType>
     <simpleContent>
      <extension base="string">
       <attribute name="layerStore" type="string" use="optional" />
      </extension>
     </simpleContent>
    </complexType>
   </element>
   <element name="Theme" type="t:ThemeType" minOccurs="0" maxOccurs="unbounded" />
  </sequence>
 </complexType>

 <element name="Themes">
  <complexType>
   <sequence>
    <element name="LayerStoreId" type="string" minOccurs="0" maxOccurs="unbounded" />
    <element name="Theme" type="t:ThemeType" minOccurs="0" />
   </sequence>
   <attribute name="configVersion" type="string" use="optional"/>
  </complexType>
 </element>
</schema>
